{% load i18n %}
<div id="createTopicModal" class="modal fade">
    <div class="modal-dialog no-pad-xs" style="max-width:800px;">
      <form id="topic-form" class="" action="{% if order_item_id %}{% url 'discussion:create' content_type content_id order_item_id %}{% else %}{% url 'discussion:create' content_type content_id %}{% endif %}{% if IS_WEBVIEW %}?is_webview=t{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="main-color bold">{% trans "New topic" %}</h4>
            </div>
            <div class="modal-body no-pad-xs">
    		        <input type="text" name="topic" placeholder="{% trans 'Topic title' %}" value="" />
                <!-- <div class="html-editor"></div> -->
                <div id="editor"></div>
                <input type="hidden" id="topic-hidden" name="body" value="" />
            </div>
            <div class="modal-footer">
              <div class="row">
                  <div class="col-xs-8 text-left">
                    <div style="margin-top:5px;">
                        {% trans "Post as" %}
                        {% include 'discussion/fragment/role-select.html' %}
                    </div>
                  </div>
                  <div class="col-xs-4 text-right">
                      <button type="button" class="btn btn-main-color submit-topic-form">{% trans "Post" %}<span class="hide-xs"> {% trans "Question" %}</span></button>
                  </div>
              </div>
            </div>
        </div>
        </form>
    </div>
</div>
