{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load department_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Featured Content</strong></h2>
  </div>
  {% include "featured/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Featured Banner Management</strong></h3>
    <ul class="actions">
      {# {% if perms.highlight.add_webbanner %} #}
      <li>
        <a href="{% url 'dashboard:featured:highlight_add' featured.id code %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {# {% endif %} #}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Image</th>
            <th>Sort</th>
            <th>Display</th>
            <th>Edit</th>
            {% comment %}
            <th>Url</th>
            {% endcomment %}
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for item in item_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.content_object.title }}</td>
            <td>
              {% if item.content_object.image %}
              <img src="{{ item.content_object.image.url }}" />
              {% else %}-{% endif %}
            </td>
            <td>
              {% if not forloop.first %}
              <a href="{% url 'dashboard:featured:highlight_sort' item.featured_id code item.id %}?move=up" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
              </a>
              {% endif %}
              {% if not forloop.last %}
              <a href="{% url 'dashboard:featured:highlight_sort' item.featured_id code item.id %}?move=down" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
              </a>
              {% endif %}
            </td>
            <td>
              <i class="zmdi zmdi-circle material-display {% if item.content_object.is_display %}text-green{% else %}text-red{% endif %}"></i>
            </td>
            <td>
              <a href="{% url 'dashboard:featured:highlight_detail' item.featured_id code item.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
            {% comment %}
            <td>
              <a href="{{ web_banner.url }}" target="_blank" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-link zmdi-hc-fw"></i>
              </a>
            </td>
            {% endcomment %}
            <td>
              <a href="{% url 'dashboard:featured:highlight_delete' item.featured_id code item.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">Hero Banners</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=web_banner_list %}
    </div>
  </div>
</div>
{% endblock %}
