{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
$('.add-content').click(function(){
    var type = $(this).attr('type');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:featured:search' featured.id code %}",
	data: {type: type}
    }).done(function(html) {
	$('#modalSearch-body').html(html);
	$('#modalSearch').modal('show');
    });
    return false;
});

$('body').on('click', '#search-submit', function(){
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:featured:search' featured.id code %}",
	data: $('#form-search').serialize()
    }).done(function(html){
	$('#modalSearch-body').html(html);
    });
    return false;
});

$('body').on('click', '.insert-content', function(){
    var tag = $(this);
    var content_id = $(this).attr('content');
    var type_id = $(this).attr('type')
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:featured:search_add' featured.id code %}",
	dataType: "json",
	data: { content: content_id, type: type_id }
    }).done(function(result) {
	tag.parent().html(result.html);
    });
});

$('body').on('click', '.search-delete-item', function(){
    var tag = $(this);
    var item_id = $(this).attr('item');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:featured:search_delete' featured.id code %}",
	dataType: "json",
        data: { item: item_id }
    }).done(function(result) {
        tag.parent().html(result.html);
    });
    return false;
});

$('body').on('click', '.delete', function(){
    var item_id = $(this).attr('item');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:featured:delete' featured.id code %}",
        data: { item: item_id }
    }).done(function(html) {
        $('#item-block').html(html);
    });
    return false;
});

$('#modalSearch').on('hide.bs.modal', function (event) {
    $.ajax({
        method: "GET",
        url: "{% url 'dashboard:featured:delete' featured.id code %}",
    }).done(function(html) {
        $('#item-block').html(html);
    });
});

$('body').on('click', '.sort', function(){
    var item = $(this).attr('item');
    var action = $(this).attr('action');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:featured:sort' featured.id code %}",
	data: {item: item,
	       action: action}
    }).done(function(html){
	$('#item-block').html(html);
    });
    return false;
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "featured/dashboard/head.html" %}
  {% include "featured/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Recommended {{ code|title }} Management</strong></h3>
    <ul class="actions">
      {% if perms.provider.change_provider %}
      <li>
        <a href="#" class="add-content">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding" id="item-block">
    {% include "featured/dashboard/item_block.html" %}
  </div>
</div>
{% endblock %}
{% block modal %}
  <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="modalSearch-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bgm-bluegray btn-lg waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
