{% load static %}

{% if item_list|length > 0 %}
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th>No.</th>
          <th>Cover</th>
          <th>Name</th>
          <th>Sort</th>
          {% if perms.provider.change_provider %}
          <th>Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in item_list %}
        <tr class="text-center">
          <td>{{ forloop.counter }}</td>
          <td>
            {% if item.content_object.image %}
            <img src="{{ item.content_object.image.url }}" />
    	{% else %}
    	<img src="{% static 'images/default-pic-square.png' %}" />
            {% endif %}
          </td>
          <td class="text-left">{{ item.content_object.name }}</td>
          <td  class="text-center">
            {% if not forloop.first %}
            <a href="#" class="sort btn bgm-teal btn-sm waves-effect" item="{{ item.id }}" action="up">
              <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
            </a>
            {% endif %}
            {% if not forloop.last %}
            <a href="#" class="sort btn bgm-teal btn-sm waves-effect" item="{{ item.id }}" action="down">
              <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
            </a>
            {% endif %}
          </td>
          {% if perms.provider.change_provider %}
          <td>
            <a href="#" onclick="return confirm('Are you sure?')" class="delete btn btn-danger btn-sm waves-effect" item="{{ item.id }}">
              <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% else %}
<div class="no-item">No featured {{ code }}.</div>
{% endif %}
