{% load static %}
{% load featured_item_tags %}

<h3>{{ title }}</h3>
<form id="form-search" class="container-fluid" method="post">{% csrf_token %}
  <ul class="flex">
    <li class="actionBar">
      <div class="fg-line">
        <input type="text" name="name" class="form-control" placeholder="Search content name" value="{{ q_name }}">
      </div>
    </li>
    <li>
      <input type="hidden" name="type" value="{{ type }}">
      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" id="search-submit">Search</button>
    </li>
  </ul>
</form>
<hr />
{% if content_list|length > 0 %}
<div class="table-responsive text-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Content Provider</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {% for content in content_list %}
      <tr>
        <td>
          {% if content.image %}
	  <img src="{{ content.image.url }}" />
          {% else %}
	  <img src="{% static 'images/default-pic-square.png' %}" />
          {% endif %}
        </td>
        <td class="text-left">{{ content.name }}</td>
        <td>{% if content.provider %}{{ content.provider.name }}{% else %}-{% endif %}</td>
        <td class="f-24">{% item_check_tag item_list content.id %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="no-item">No items.</div>
{% endif %}
