{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
function banner_display(type){
    $('#id_url').parents('.form-group').hide();
    $('#id_content').parents('.form-group').hide();
    if(type == 'link'){
	$('#id_url').parents('.form-group').show();
    }else if(type == 'course' || type == 'question' || type == 'program' || type == 'task'){
	$('#id_content').parents('.form-group').show();
    }
}

$('body').on('change', 'select#id_target', function(){
    banner_display(this.value);
    var type = $('select#id_target option:selected').text().substr(0,1).toUpperCase() + $('select#id_target option:selected').text().substr(1);
    $('label[for = id_content]').text(type + ' ID');
    $('input#id_content').val(0);
});

banner_display('');
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>{{ code|title }}</strong></h2>
  </div>
  <div class="card-header">
    <h3 class="clear-pad"><strong>{{ code|capfirst }} Management</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ highlight_form|bootstrap }}
      <input type="hidden" class="image width" value="{{ IMAGE_SIZE.banner.width }}" />
      <input type="hidden" class="image height" value="{{ IMAGE_SIZE.banner.height }}" />
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
