<ul class="tab-nav text-center" role="tablist" tabindex="2" style="overflow: hidden; outline: none;">
  {% for d in PROVIDER__FEATURED_HIGHLIGHT %}
  <li {% if TAB == d.code %}class="active"{% endif %}>
    <a href="{% url 'dashboard:featured:highlight' featured.id d.code  %}">{{ d.name }}</a>
  </li>
  {% endfor %}
  {% for d in PROVIDER__FEATURED_CONTENT %}
  <li {% if TAB == d.code %}class="active"{% endif %}>
    <a href="{% url 'dashboard:featured:home' featured.id d.code %}">{{ d.name }}</a>
  </li>
  {% endfor %}
</ul>
