
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<style type="text/css">
	body {
		font-family:"Arial","sans-serif";
		font-size: 13px;
		line-height: 1.5;
		color: #6b6b6b;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	</style>
</head>
<body>
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#fcfcfc;">
		<tr valign="top" style="vertical-align:top;width:100%;">
			<td width="570" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:15px; margin:0;">
				<!--Header-->
				<table width="570" border="0" cellspacing="0" cellpadding="0" style="border-bottom:5px solid #db1c2f; padding:10px 0;">
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;">
							<img src="{{ site_url }}/static/images/customize/logo.png"/>
						</td>
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:right">
							<img src="{{ site_url }}/static/images/customize/slogan.png"/>
						</td>
					</tr>
				</table>
				
				<!--bill Address-->
				<table width="570" border="0" cellspacing="0" cellpadding="" style="border-bottom:1px solid #eee; padding:10px 0;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:10px 0;">
							<span style="font-size:16px;color:#383838;">กรุณาตรวจสอบการโอนเงินของ</span>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:10px 0;">
							<span style="color:#db1c2f;">Bank Transfer for Order NO. : </span><span>{{ order.id }}</span>
						</td>
					</tr>
					<tr valign="top" style="vertical-align:top;text-align:left;width:100%;padding:0">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:10px 20px 10px 0; width:310px;">
							<span style="color:#db1c2f;">ข้อมูล Order</span><br/>
							<span>Order ID : {{ order.id }}</span><br/>
							<span>Account : {{ order.account.email }} </span><br/>
							<span>ที่อยู่ : {{ address.address }} {{ address.subdistrict }} {{ address.district }} {{ address.province }} {{ address.zipcode }}</span><br/>
						</td>
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:10px 0;">
							<span style="color:#db1c2f;">ข้อมูลการโอน : </span><br/>
							<span>จำนวนเงินที่โอน : {{ bank_transfer_record.price }}</span><br/>
							{% comment %}
							<span>เข้าธนาคาร : {{ bank_transfer_record.get_bank_display }}</span><br/>
							{% endcomment %}
							<span>เวลาที่โอน : {{ bank_transfer_record.tranfertime }}</span><br/>
							<span>เบอร์ติดต่อ : {{ bank_transfer_record.tel }}</span><br/>
						</td>
					</tr>
				</table>
				
				<!--Course info-->
				<table width="570" border="0" cellspacing="0" cellpadding="" style="border-bottom:1px solid #eee; padding:10px 0;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;padding:10px 0; font-size:14px;">
							<span style="color:#db1c2f;">Order ID : </span><span>{{ order.id }}</span><br/>
							<span style="color:#db1c2f;">Order Receipt Detail  : </span>
						</td>
					</tr>
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;width:100%;">
							<table width="570" border="0" cellspacing="1" cellpadding="7" style="background:#fff;">
								<thead style="background:#4c4c4c; text-align:center;">
									<tr valign="top" style="vertical-align:top;width:100%;color:#fff;">
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;width:25px;">
											<span>NO.</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;width:365px;">
											<span>ITEM</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;">
											<span>PRICE</span>
										</td>
									</tr>
								</thead>
								<tbody style="background:#f8f8f8;">
									{% for item in order.item_set.all %}
									<tr valign="top" style="vertical-align:top;width:100%;">
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:right;">
											<span>{{ forloop.counter }}</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;">
											<span>{{ item.content_name }}</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:right;">
											{% if item.discount == -1.0 %}
											<span>{{ item.price|intcomma }} บาท</span>
											{% else %}
											<span><s>{{ item.price|intcomma }}</s> บาท</span>
											<br/><span style="color:#db1c2f;">{{ item.net|intcomma }} บาท</span>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
									{% if order.discount != 0.0 %}
									<tr valign="top" style="vertical-align:top;width:100%;">
										<td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:center; padding-top:10px; padding-bottom:10px;">
											<span style="color:#db1c2f;">Discount</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:right; padding-top:10px;padding-bottom:10px;">
											<span style="color:#db1c2f;">({{ order.discount|intcomma }} บาท)</span>
										</td>
									</tr>
									{% endif %}
									<tr valign="top" style="vertical-align:top;width:100%;">
										<td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:center; padding-top:10px; padding-bottom:10px;">
											<span style="color:#383838;">TOTAL</span>
										</td>
										<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:right; padding-top:10px;padding-bottom:10px;">
											<span style="color:#383838;">{{ order.net|intcomma }} บาท</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!--tr footer-width100%;-->
		<tr style="vertical-align:top;width:100%;">
			<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;">
				<!--Footer-->
				<table width="" border="0" cellspacing="0" cellpadding="" style="padding:20px 0; background:#4c4c4c;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;text-align:center;">
							<span>
								<img style="width:120px;" src="{{ site_url }}/static/images/logo-white.png"/>
							</span><br/><br/>
						</td>
					</tr>
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:ineline-block;font-size:11px;color:#909090;text-align:center;padding-left:30px;padding-right:30px;">
							<span>Conicle’s mission is to empower people to learn and teach things better with innovation, creativity, and inspiration.</span><br/>
							<span>Contact us : Tel. 0-2077-2868 Email. contact@conicle.com</span><br/><br/>
							<span style="font-size:10px; color:#666666;">Copy Right 2015 Conicle Co.,Ltd.</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
