{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<div class="container container-stable top-margin-little bottom-pad">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="main-color">{{task.name}}</h2>
            <p>By {{task.provider.name}}</p>
        </div>
        <!-- Task's status-->
        <h4 class="col-sm-6 task-status {% if not is_approved %}in-progress{% endif %}">
            Status :
            {% if is_approved %}<i class="fa fa-check"></i>	Completed
            {% else %}<i class="fa fa-square-o fa-lg"></i> In progress
            {% endif %}
        </h4>
    </div>
</div>
<hr class="clear-pad" />
<div class="container container-stable top-margin-little">
  <div>{{task.intro}}</div>
</div>
{% if task.image %}
<div class="container container-stable top-margin-little no-pad-xs">
    <img src="{{task.image.url}}" class="full-width" />
</div>
{% endif %}
<div class="container container-stable top-margin-little">
    <div>{{task.desc}}</div>
</div>
{% endblock %}
