body{
	font-family: 'aviance';
	color: #333;
}
.login-content:before{
	background: #005AA0;
}
.lc-block:not(.lcb-alt) .btn-login{
	background-color: #333;
}
#header .logo a{
	width: 160px;
	height: 45px;
	margin-right: 20px;
	background-image: url('/static/unilever/images/customize/logo-white.png');
}
.main-menu > li.active > a{
	border-left: solid 6px #005AA0;
}
.table tr td a{
	color: #005AA0;
}
.fg-line:not([class*=has-]):after, .tab-nav:not([data-tab-color]) > li > a:after{
	background: #005AA0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #005AA0;
}
