/* Aviance Thin */
@font-face {
  font-family: 'aviance';
  font-weight: 100;
  src: url('../fonts/aviance_thin-cond-webfont.eot');
  src: url('../fonts/aviance_thin-cond-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_thin-cond-webfont.woff2') format('woff2'),
       url('../fonts/aviance_thin-cond-webfont.woff') format('woff'),
       url('../fonts/aviance_thin-cond-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_thin-cond-webfont.svg#aviance_thin') format('svg');
}

/* Aviance Light */
@font-face {
  font-family: 'aviance';
  font-weight: 300;
  src: url('../fonts/aviance_lig-webfont.eot');
  src: url('../fonts/aviance_lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_lig-webfont.woff2') format('woff2'),
       url('../fonts/aviance_lig-webfont.woff') format('woff'),
       url('../fonts/aviance_lig-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_lig-webfont.svg#aviance_light') format('svg');
}

/* Aviance Light Italic */
@font-face {
  font-family: 'aviance';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/aviance_lig-ita-webfont.eot');
  src: url('../fonts/aviance_lig-ita-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_lig-ita-webfont.woff2') format('woff2'),
       url('../fonts/aviance_lig-ita-webfont.woff') format('woff'),
       url('../fonts/aviance_lig-ita-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_lig-ita-webfont.svg#aviance_light_ita') format('svg');
}

/* Aviance Regular */
@font-face {
  font-family: 'aviance';
  font-weight: 400;
  src: url('../fonts/aviance_reg-webfont.eot');
  src: url('../fonts/aviance_reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_reg-webfont.woff2') format('woff2'),
       url('../fonts/aviance_reg-webfont.woff') format('woff'),
       url('../fonts/aviance_reg-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_reg-webfont.svg#aviance_reg') format('svg');
}

/* Aviance Regular Italic */
@font-face {
  font-family: 'aviance';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/aviance_ita-webfont.eot');
  src: url('../fonts/aviance_ita-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_ita-webfont.woff2') format('woff2'),
       url('../fonts/aviance_ita-webfont.woff') format('woff'),
       url('../fonts/aviance_ita-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_ita-webfont.svg#aviance_reg_ita') format('svg');
}


/* Aviance Medium */
@font-face {
  font-family: 'aviance';
  font-weight: 500;
  src: url('../fonts/aviance_med-cond-webfont.eot');
  src: url('../fonts/aviance_med-cond-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_med-cond-webfont.woff2') format('woff2'),
       url('../fonts/aviance_med-cond-webfont.woff') format('woff'),
       url('../fonts/aviance_med-cond-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_med-cond-webfont.svg#aviance_med_cond') format('svg');
}

/* Aviance Bold */
@font-face {
  font-family: 'aviance';
  font-weight: 700;
  src: url('../fonts/aviance_bld-webfont.eot');
  src: url('../fonts/aviance_bld-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aviance_bld-webfont.woff2') format('woff2'),
       url('../fonts/aviance_bld-webfont.woff') format('woff'),
       url('../fonts/aviance_bld-webfont.ttf')  format('truetype'),
       url('../fonts/aviance_bld-webfont.svg#aviance_bld') format('svg');
}
