/*.red #005AA0
.main-yellow #f9bf3b
.greenicon #53B949
.progess-green#80b636
.soft-yellow #fec11e
.absolute red #f7152c*/

/*-------css global-------*/
body{
  background-color: #f4f4f4;
}
.main-color {
  color: #005AA0! important;
}
.btn-main-color{
  border: solid 2px #005AA0;
  background-color: #005AA0;
  color: #fff;
}
.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus, .btn-outline-white, .btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:focus{
  border: solid 2px #005AA0;
  background-color: #fff;
  color: #005AA0;
}
.todo-item .todo-thumb{
  width: 180px;
}
.todo-item .todo-status{
  border:1px dashed #005AA0;
  color: #005AA0;
}
.program-conditions{
  display: none;
}




.breadcrumb ol>li {
  color: #005AA0;
}
blockquote.red {
  border-left: 4px solid #005AA0;
}
.event-tags a.suggest {
  color: #005AA0;
}
.event-tags a.suggest:hover {
  background-color: #005AA0;
}
.menu-tab li.active {
  border-bottom: 4px solid #005AA0;
}
.menu-tab li.active a {
  color: #005AA0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #005AA0;
  border-color: #005AA0;
}
.tab-button .btn-tab:hover, .btn-tab:active, .btn-tab:focus {
  background-color: #005AA0;
  border-color: #005AA0;
}
.tab-button li.active .btn-tab {
  background-color: #005AA0;
  border-color: #005AA0;
}
.item>span.price {
  color: #005AA0;
}
.login a:hover {
  color: #005AA0;
}
a.signup {
  color: #005AA0;
}
.navmenu li>a:hover, .navmenu li>a.selected {
  border-bottom: 5px solid #000;
  color: #000;
}
.navmenu li>a.special {
  color: #005AA0;
}
.navmenu li>a.special:hover {
  background-color: #005AA0;
}

/*--Category--*/
.cat-menu .default-menu > p > a:hover {
  color: #005AA0;
}
.cat-menu .default-menu > p > a.selected {
  color: #005AA0;
}
.dynamic-list > p.selected {
  color: #005AA0;
}
ul.dynamic-sublist > li:before {
  color: #005AA0;
}
ul.dynamic-sublist > li.selected {
  color: #005AA0;
}
a.level.selected {
  color: #005AA0;
}

/*course*/
.cta .price span.unit {
  color: #005AA0;
}
.cta-social a:hover {
  color: #005AA0;
}


/*video*/

.btn-wht-transparent:hover, .btn-blkwht-transparent:active, .btn-blkwht-transparent:focus {
  color: #005AA0;
}

/*--icon btn-red--*/

ul.section-submenu > li > i.fa-play-circle {
  color: #005AA0;
}

/*--icon btn-green--*/
ul.section-menu > h4 {
  color: #53B949;
  /*icon-check*/
}
ul.section-submenu > li > i.fa-check-circle {
  color: #53B949;
}
.progress-bar {
  background-color: #000;
}
#Unilever .curr-vdolist > li.vdolist-check > .round-box {
  background: #005AA0 !important;
  color: #fff !important;
}
#Unilever .curr-vdolist > li.vdolist-check > .round-box .grey{
  color: #fff !important;
}
.curr-vdolist > li.vdolist-check > .round-box.green {
  background: #53B949;
}
.cta ul.other-info li.green {
  color: #b2d234;
}
.btn-play {
  border: 1px solid #005AA0;
  background-color: #005AA0;
}
.btn-play:hover, .btn-play:active, .btn-play:focus {
  color: #005AA0;
}

/*--icon btn yellow--*/

.btn-skip {
  color: #f9bf3b;
  border-color: #f9bf3b;
}
.btn-skip:hover {
  background-color: #f9bf3b;
  border-color: #f9bf3b;
}
.curr-vdolist > li.vdolist-check > .round-box.yellow {
  background: #fec11e;
}
.event-tags a {
  color: #f9bf3b;
  /*--yellow--*/
}
.event-tags a:hover {
  background-color: #f9bf3b;
}

/* Course  */

.cat-menu .default-menu > h4 > a:hover {
  color: #005AA0;
}
.cat-menu .default-menu > h4 > a.selected {
  color: #fff;
  background: #005AA0;
}
.dynamic-list > .expand {
  color: #333;
}
.dynamic-list > .expand.active:hover,
.dynamic-list > .expand.active {
    background: #005AA0;
}
.dynamic-list > .expand.active p:hover{
  color: #FFF;
}
.dynamic-list > .expand p:hover{
  color: #005AA0;
}

.dynamic-list > p:hover {
  color: #005AA0;
}
.dynamic-list > .expand:hover {
  background: none;
  color: #005AA0;
}
.dynamic-sublist-box {
  border-left: 1px solid #005AA0;
}
ul.dynamic-sublist > li:before {
  color: #005AA0;
}
input.header-search {
  line-height: 30px;
}

.login-page {
  background: #005AA0;
  height: 100%;
  float: none;
  position: relative;
}


#footer {
  background-color: #868686;
  border-top: 0;
  color: #fff;
}

.form-control:focus {
  border-color: #005AA0;
}

#Unilever {
  font-family: 'aviance', sans-serif;
  line-height: 1.42857143;
}

#Unilever h1, #Unilever .h1
,#Unilever h2, #Unilever .h2
,#Unilever h3, #Unilever .h3
,#Unilever h4, #Unilever .h4
,#Unilever h5, #Unilever .h5 {
  font-family: 'aviance', sans-serif;
}

/* Only Unilever Config */
@media(min-width: 1200px) {
  .slide-overflow .item-slide {
    width: 1070px !important;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .slide-overflow .item-slide {
    width: 970px !important;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .slide-overflow .item-slide {
    width: 700px !important;
  }
}

@media(max-width: 767px)  {
  .slide-overflow .item-slide {
    width: auto;
  }
}


li.event  {
  height: 325px;
}


p.item-status {
  margin-top: 5px;
}

.width-percent-14 {
  width: 16.4%;
}
.road-to-success img{
  max-width: 49%;
}
.categories img{
  width: 24%;
  margin: 3px 0;
}

/*==================Video Playlist=======================*/
.vdo-header{
	background: url('/static/unilever/images/customize/logo.png') no-repeat #fff center center/ auto 80%;
	border-bottom: solid 1px #eee;
}
.vdo-header img.logo{
	display:none;
}
.vdo-header .btn-back{
	color:#005AA0;
}
.vdo-header .btn-back:hover,.vdo-header .btn-back:active,.vdo-header .btn-back:focus{
	background-color: rgba(0,0,0,0.1);
}
.vdo-header .user-name, , .vdo-header .caret{
	color:#005AA0 !important;
}
/*=================Responsive=================*/
@media screen and (max-width: 1200px) /*ขนาดจอกว้างไม่เกิน 1200px*/{

}
@media screen and (max-width: 992px) /*ขนาดจอกว้างไม่เกิน 992px*/{

}
@media screen and (min-width: 768px) /*ขนาดจอกว้างมากกว่า 768px ขึ้นไป*/{

}
@media screen and (max-width: 767px) /*ขนาดจอกว้างไม่เกิน 767px*/{
  #header .user-info ul.dropdown-menu{
    left:-90px;
  }
  .categories img{
    width: 49%;
    margin: 3px 0;
  }
}
@media screen and (max-width: 480px) /*ขนาดจอกว้างไม่เกิน 480px*/{
  .todo-item .todo-thumb{
    width: 100px;
  }
}
