เรียน เพื่อนพนักงาน<br/>
<br/>
อีเมล์นี้จัดส่งมาเพื่อให้ท่านกำหนด password ในการเข้าสู่ระบบการเรียนรู้ด้วยตนเอง Learning Management System (LMS) โดยมีวิธีดังนี้<br/>
<br/>
<b>วิธีกำหนด password ด้วยตัวเอง</b><br/>
1. Click ที่ link > <a href="{{ link }}">create password</a><br/>
2. หากไม่แสดงหน้า "create password" ขอให้ท่าน copy link ในช่อง URL ไปเปิดในโปรแกรม Internet Explorer (IE) หรือ Google Chrome
   (กรณี network ของธนาคารไม่แสดงหน้า create password ท่านสามารถใช้ wifi ส่วนตัวหรือ wifi จากที่บ้าน)<br/>
<br/>
<b>เงื่อนไข password</b><br/>
การตั้ง password ควรตั้งไม่ต่ำกว่า 8 ตัวอักษร และประกอบด้วย ตัวเลข, ตัวอักษร, อักขระพิเศษ<br/>
<br/>
สอบถามติดต่อ Service Desk โทร. 1234<br/>
<br/>
*** อีเมล์นี้จัดส่งแบบอัตโนมัติ กรุณาอย่า reply กลับ ***<br/>
<br/>
<br/>
Dear all colleagues<br/>
<br/>
This email is sent to inform you how to reset password in order to get into Learning Management System (LMS) as followed;<br/>
<br/>
<b>How to create password by yourself</b><br/>
1. Click at link > <a href="{{ link }}">create password</a><br/>
2. If the "create password" page didn't show up. Please copy URL link and paste it on to Internet Explorer (IE) or Google Chrome
   (If in case the bank's network doesn't allow for password reset page, you can use your personal wifi at home or external internet)<br/>
<br/>
<b>Condition for setting password</b><br/>
Maximum 8 characters and consists of numbers and special character.<br/>
<br/>
For more information, please call Service Desk at 1234<br/>
<br/>
**** This email is sent automatically, please don't reply ***<br/>
<br/>
