{% extends "base.html" %}
{% load static %}
{% block meta_facebook %}{% endblock %}
{% block meta_twitter %}{% endblock %}
{% block project_identity %}
<meta name="author" content="Pacrim" />
<title>McDonalds</title>
<link rel="shortcut icon" href="{% static "mcdonalds/images/icons/favicon.ico" %}" />
{% endblock %}
{% block theme-css %}
<link rel="stylesheet" href="{% static "mcdonalds/css/theme.css" %}" />
{% endblock %}
{% block script %}{% endblock %}
{% block app-name %}McDonalds{% endblock %}
{% block bodyclass %}{% endblock %}
{% block header %}{% include "main/header.html" %}{% endblock %}
{% block footer %}{% endblock %}

{% block modal %}
    {% include 'main/modal/modal_authen.html' %}
    {% include 'main/modal/modal_strict.html' %}
{% endblock %}

{% block ga %}
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-101676372-2', 'auto');
 ga('send', 'pageview');

</script>
{% endblock %}
