{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/plugin/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/plugin/slick/slick-theme.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'js/plugin/slick/slick.min.js' %}"></script>
{% endblock %}
{% block jquery %}
{% endblock %}

{% block content %}

<ul class="box-wrapper">
    <h1>ห้องสมุดของฉัน
        <a href="{% url 'profile' %}" class="pull-right btn-inline-small btn-main-color">
            ดูทั้งหมด <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% comment %}
    {% if course_list|length > 0 %}
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">No courses.</h4>
    {% endif %}
    {% endcomment %}
    <h4 class="no-item">
        ตอนนี้คุณยังไม่มีคอร์สที่เรียนอยู่<br />
        ลองเพิ่มคอร์สที่สนใจเข้าห้องสมุดของคุณดูสิ!<br />
        <a href="{% url 'course:home' %}" class="btn-inline btn-main-color top-margin-more-little"><i class="fa fa-play-circle-o"></i> Add a course</a>
    </h4>
</ul>

{% endblock %}
