{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}

{% block content %}
{% if subject.image_cover %}
{% comment %}
<div class="wrap-headline" style="{% if subject.image_cover %}background-image:url('{{subject.image_cover.url}}');{% endif %}max-height:300px;"></div>
{% endcomment %}
<img src="{{subject.image_cover.url}}" class="full-width" />
{% endif %}
<div class="box-wrapper-parody">
  <h2 class="bold main-color">{% if title  %}{{ title }}{% else %}{{ subject.name }}{% endif %}</h2>
  {#% include "filter_block.html" with show_category=False show_institute=True show_popular=True %#}
</div>
<ul class="box-wrapper">
  <h1>
    Program{% if program_list|length > 1 %}s{% endif %}
    <a href="{% url 'program:home' %}?category={{ subject.id }}" class="pull-right btn-inline-small btn-main-color">
      See all <i class="fa fa-plus-circle"></i>
    </a>
  </h1>
  {% for program in program_list %}
  {% include "program/item_block.html" %}
  {% empty %}
  <h4 class="no-item">No {% if title  %}{{ title|lower }}{% else %}{{ subject.name|lower }}{% endif %} program{% if institute %} provided by {{ institute }}{% endif %}.</h4>
  {% endfor %}
</ul>

<ul class="box-wrapper">
  <h1>
    Course{% if course_list|length > 1 %}s{% endif %}
    <a href="{% url 'course:home' %}?category={{ subject.id }}" class="pull-right btn-inline-small btn-main-color">
      See all <i class="fa fa-plus-circle"></i>
    </a>
  </h1>
  {% for course in course_list %}
  {% include "course/item_cached_new.html" %}
  {% empty %}
  <h4 class="no-item">No {% if title  %}{{ title|lower }}{% else %}{{ subject.name|lower }}{% endif %} courses{% if institute %} provided by {{ institute }}{% endif %}.</h4>
  {% endfor %}
</ul>
{% endblock %}
