{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}
{% load discussion_tags %}
{% block script %}
<script src="{% static 'dashboard/vendors/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block jquery %}
    CKEDITOR.config.toolbar = [
      [ 'Bold', 'Italic', 'Underline','-', 'RemoveFormat' ],
      ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock']
    ];
    $('.comments textarea').focus(function(){
      var li = $(this).closest('li');
      $(this).hide();
      li.find('.post-form').show();
      var id = li.find('.html-editor').attr('id')
      if(CKEDITOR.instances[id]==undefined) CKEDITOR.replace(id);
      CKEDITOR.instances[id].focus();
      if(li.hasClass('post-answer')){
        $('.qa-detail').addClass('open-post-answer');
        setTimeout(function(){
          $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        },100);
      }
    });

    $('body').on('click','.post-answer .close-form',function(){
      $('.post-answer .post-form').hide();
      $('.post-answer > textarea').show();
      $('.qa-detail').removeClass('open-post-answer');
    });
    $('body').on('click','.post-menu',function(){
        $(this).toggleClass('open');
        $('#content').click(function(){
            $('.post-menu').removeClass('open');
            $('#content').unbind('click');
        });
    });

    $('body').on('click','.submit-post-form',function(){
        var form = $(this).closest('form.post-form');
        var li = form.closest('li');
        var id = form.find('.html-editor').attr('id');
        var message = CKEDITOR.instances[id].getData();
        var is_edit_comment = form.find('input[name="message_id"]').size() > 0;
        var is_edit_topic = li.hasClass('topic');
        console.log(message);
        if(message==""){
          CKEDITOR.instances[id].focus();
        }else{
          form.find('.message-hidden').val(message);
          $('.just-added').removeClass('just-added');
          setTimeout(function(){
            $.ajax({
                method: "POST",
                url: (is_edit_comment)?"{% url 'discussion:message_edit' %}":(is_edit_topic)?"{% url 'discussion:topic_edit' %}":"{% url 'discussion:message_create' %}",
                data: form.serialize()
            }).done(function(result){
                // console.log(JSON.stringify(result))
                if(result.status==200){
                  if(is_edit_comment || is_edit_topic){
                    if(is_edit_comment) li.find('.post-message').html(result.message.body).show();
                    if(is_edit_topic) li.find('.post-message').html(result.topic.body).show();
                    form.hide();
                  }else{
                    var imgSrc = (result.message.owner.image=="")?"/static/images/profile_default.jpg":result.message.owner.image;
                    var template = '<li class="just-added"><div class="post-menu pull-right"><i class="fa fa-ellipsis-v pull-right"></i><ul class="unstyle"><li class="edit-post">{% trans "Edit" %}</li><li class="delete-post">{% trans "Delete" %}</li></ul></div><img src='+imgSrc+' class="avatar" /><p><span class="main-color">'+result.message.owner.name+'</span><span class="hide-xs"> | </span><small class="display-block-xs">{% trans "Now." %}</small></p><div class="post-message">'+result.message.body+'</div><form class="post-form" style="display:none;" method="post" enctype="multipart/form-data"><div class="html-editor" id="edit-answer' + result.message.id + '"></div><input type="hidden" class="message-hidden" name="body" value="" /><input type="hidden" name="message_id" value="'+ result.message.id +'" /><p class="text-right"><button type="button" class="btn btn-main-color submit-post-form">{% trans "Edit" %}<span class="hide-xs"> {% trans "answer" %}</span></button></p></form></li>';
                    CKEDITOR.instances[id].setData('');
                    //$('.comments > ul').append(template);
                    $(template).insertBefore('.comments ul li.post-answer');
                    setTimeout(function(){
                      $("html, body").animate({ scrollTop: ($(".just-added").offset().top)-80 }, 1000);
                    },500);
                  }
                }else{
                  alert('{% trans "Error! Please try again later." %}');
                }
            });
          },100);
        }
    });
    $('body').on('click','.delete-post',function(){
      var li = $(this).parent().closest('li');
      var form = li.find('form.post-form');
      var is_delete_topic = form.find('input[name="topic_id"]').size() > 0;
      var word = (is_delete_topic)?"this topic":"the comment";

        swal({
          title: "Are you sure?",
          text: '{% trans "Are you sure to delete" %} '+word+'?',
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes",
          cancelButtonText: "Cancel",
          closeOnCancel: false
        },
        function(isConfirm){
          if (isConfirm) {
            $.ajax({
                method: "POST",
                url: (is_delete_topic)?"{% url 'discussion:topic_delete' %}":"{% url 'discussion:message_delete' %}",
                data: form.serialize()
            }).done(function(result){
                console.log(JSON.stringify(result));
                if(result.status==200){
                  if(is_delete_topic){
                    window.location.href="{{ PARENT_URL }}";
                  }else{
                    li.remove();
                  }
                }else{
                  alert('{% trans "Error! Please try again later." %}');
                }
            });

          } else {
            swal("Cancelled", "", "error");
          }
        });


    });
    $('body').on('click','.edit-post',function(){
      var li = $(this).parent().closest('li');
      var form = li.find('form.post-form');
      var id = li.find('.html-editor').attr('id');
      var message = li.find('.post-message');
      message.hide();
      form.show();
      if(CKEDITOR.instances[id]==undefined) CKEDITOR.replace(id);
      CKEDITOR.instances[id].setData(message.html());
    });
    $('select[name="role"]').change(function(){
      var li = $(this).parent().closest('li');
      var name = li.find('.owner-name');
      var nameText = $(this).find(":selected").text();
      var avatar = li.find('.avatar');
      var avatarUrl =$(this).find(":selected").attr('data-img');
      name.text(nameText);
      avatar.attr({'src':avatarUrl});
    });
{% endblock %}
{% block content %}
{% include "discussion/head.html" %}
<div class="bg-grey" style="padding-top:0.5px;">
    <div class="container top-margin-little">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h3 class="main-color bold clear-pad font-small-xs">{% trans "Discussion Board" %}</h3>
            </div>
        </div>
    </div>
    <div class="container no-pad-xs">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div class="panel panel-default top-margin-little qa-detail">
                    <li class="topic">

                        {% is_owner request provider topic as is_topic_owner %}
                        {% if is_topic_owner %}
                        <div class="post-menu pull-right">
                            <i class="fa fa-ellipsis-v pull-right" style="font-size:20px;"></i>
                            <ul class="unstyle">
                                <li class="edit-post">{% trans "Edit" %}</li>
                                <li class="delete-post">{% trans "Delete" %}</li>
                            </ul>
                        </div>
                        {% endif %}

                        <img src="{{ topic.role.get_owner.image }}" class="avatar" />
                        <h5 class="bold">{{ topic.topic }}</h5>
                        <p>
                          <span class="main-color owner-name">{{ topic.role.get_owner.name }}</span>
                          <span class="hide-xs">|</span>
                          <small class="display-block-xs">{{ topic.timestamp|naturaltime }}</small>

                        </p>
                        <div class="post-message">{{ topic.body|safe }}</div>
                        <p>{% if topic.is_edited %}<small>({% trans "Edited by" %} {{ topic.edit_by }})</small>{% endif %}</p>
                        <form class="post-form" style="display:none;" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="html-editor" id="edit-topic"></div>
                            <input type="hidden" class="message-hidden" name="body" value="" />
                            <input type="hidden" name="topic_id" value="{{ topic.id }}" />
                            <div class="row">
                                <div class="col-xs-8">
                                  {% comment %}
                                  <div style="margin-top:5px;">
                                      {% trans "Post as" %}
                                      {% include 'discussion/fragment/role-select.html' with message=topic %}
                                  </div>
                                  {% endcomment %}
                                </div>
                                <div class="col-xs-4 text-right">
                                    <button type="button" class="btn btn-main-color submit-post-form">{% trans "Save" %}</button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <hr />
                    <div class="comments">
                        <ul class="unstyle">
                            {% for message in message_list %}
                            <li>
                                {% is_owner request provider message as is_message_owner %}
                                {% if is_message_owner %}
                                <div class="post-menu pull-right">
                                    <i class="fa fa-ellipsis-v pull-right" style="font-size:20px;padding:10px;margin-top:-10px;"></i>
                                    <ul class="unstyle">
                                        <li class="edit-post">{% trans "Edit" %}</li>
                                        <li class="delete-post">{% trans "Delete" %}</li>
                                    </ul>
                                </div>
                                {% endif %}
                                <img src="{{ message.role.get_owner.image }}" class="avatar" />
                                <p>
                                  <span class="main-color owner-name">{{ message.role.get_owner.name }}</span>
                                  <span class="hide-xs">|</span>
                                  <small class="display-block-xs">{{ message.timestamp|naturaltime }}</small></p>
                                <div class="post-message">{{ message.body|safe }} </div>
                                <p>{% if message.is_edited %}<small>({% trans "Edited by" %} {{ message.edit_by }})</small>{% endif %}</p>
                                <form class="post-form" style="display:none;" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="html-editor" id="edit-answer{{ forloop.counter }}"></div>
                                    <input type="hidden" class="message-hidden" name="body" value="" />
                                    <input type="hidden" name="message_id" value="{{ message.id }}" />
                                    <div class="row">
                                        <div class="col-xs-8">
                                          {% comment %}
                                          <div style="margin-top:5px;">
                                              {% trans "Post as" %}
                                              {% include 'discussion/fragment/role-select.html' with message=message %}
                                          </div>
                                          {% endcomment %}
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <button type="button" class="btn btn-main-color submit-post-form">{% trans "Save" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            {% endfor %}
                            <li class="post-answer">
                                {% if user.image %}<img src="{{ user.image.url }}" class="avatar" />
                                {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                                {% endif %}
                                <textarea placeholder="{% trans 'Write your answer' %}..."></textarea>
                                <form class="post-form" style="display:none;" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <i class="fa fa-times close-form pointer" style="position:absolute;top:-10px;right:10px;padding:23px;"></i>
                                    <div class="html-editor" id="post-answer"></div>
                                    <input type="hidden" class="message-hidden" name="body" value="" />
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}" />
                                    <div class="row">
                                        <div class="col-xs-8">
                                          <div style="margin-top:5px;">
                                              {% trans "Post as" %}
                                              {% include 'discussion/fragment/role-select.html' %}
                                          </div>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <button type="button" class="btn btn-main-color submit-post-form close-form">{% trans "Post" %}<span class="hide-xs"> {% trans "answer" %}</span></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
