{% load humanize %}

<div class="bg-white">
  <div class="container content-info">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="row bottom-pad-15">
          {% if content.image %}
          <div class="col-xs-4 col-sm-2" style="padding:15px 10px 0 10px;">
            <img src="{{ content.image.url }}" class="full-width" />
          </div>
          {% endif %}
          <div class="col-xs-8 col-sm-10 no-pad-left-xs">
            <h3 class="bold font-smaller-xs"><a href="{{ PARENT_URL }}" class="link-normal">{{ content.name }}</a></h3>
            <div class="no-wrap hide-xs">
              {#% include "category_provider_block.html" %#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
