{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block bodyclass %}{% if topic_list|length < 3 %}footer-fix-bottom{% endif %}{% if IS_WEBVIEW %} clear-pad{% endif %}{% endblock %}
{% block css %}
{% endblock %}
{% block script %}
<script src="{% static 'dashboard/vendors/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block jquery %}
    CKEDITOR.replace('editor');
    CKEDITOR.config.toolbar = [
      [ 'Bold', 'Italic', 'Underline','-', 'RemoveFormat' ],
      ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock']
    ];
    CKEDITOR.instances.editor.setData('');
    $('.submit-topic-form').click(function(){
        var form = $(this).closest('form');
        var topic = form.find('input[name="topic"]').val();
        var desc =  CKEDITOR.instances.editor.getData();
        console.log(desc);
        if(topic==""){
          form.find('input[name="topic"]').focus();
        }else if(desc==""){
          CKEDITOR.instances.editor.focus();
        }else{
          $('#topic-hidden').val(desc);
          setTimeout(function(){
              $('#topic-form').submit();
          },100);
        }
    });

    {% comment %}
    var editor = $('#topic-form .html-editor');
    editor.summernote({
      placeholder: 'Describe here...',
      maximumImageFileSize: 102400,
      height: 200,
      toolbar: [
         ['style', ['bold', 'italic', 'underline', 'clear']],
         ['para', ['ul', 'ol']],
         ['insert', ['picture','video']]
       ]
    });
    editor.code('');

    $('.submit-topic-form').click(function(){
        var form = $(this).closest('form');
        var topic = form.find('input[name="topic"]').val();
        var desc =  editor.code();
        console.log(desc);
        if(topic==""){
          form.find('input[name="topic"]').focus();
        }else if(desc==""){
          editor.summernote('focus')
        }else{
          $('#topic-hidden').val(desc);
          setTimeout(function(){
              $('#topic-form').submit();
          },100);
        }
    });
    {% endcomment %}
{% endblock %}
{% block content %}
{% include "discussion/head.html" %}
<div class="bg-grey" style="padding:0.5px 0 30px 0;">
    <div class="container top-margin-little">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h3 class="main-color bold clear-pad font-small-xs">
                    {% trans "Discussion Board" %}
                    <a href="#" class="btn-inline-small btn-main-color btn-sm pull-right" data-toggle="modal" data-target="#createTopicModal"><i class="fa fa-plus"></i> {% trans "New topic" %}</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="container no-pad-xs">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                {% if topic_list|length > 0 %}
                <div class="panel panel-default top-margin-little qa-lists">
                    <ul class="unstyle">
                      {% for topic in topic_list %}
                        <li>
                            <a href="{% if order_item_id %}{% url 'discussion:detail' topic.id order_item_id %}{% else %}{% url 'discussion:detail' topic.id %}{% endif %}{% if IS_WEBVIEW %}?is_webview=t{% endif %}">
                                <img src="{{ topic.role.get_owner.image }}" class="avatar" />                                
                                <h5 class="bold">{{ topic.topic }} {% if topic.is_edited %}<small>({% trans "Edited by" %} {{ topic.edit_by }})</small>{% endif %}</h5>
                                <p>{{ topic.body|safe|striptags }}</p>
                                <div class="response text-center">
                                    <strong>{{ topic.count_message }}</strong><br /><span>{% trans "Responses" %}</span>
                                </div>
                            </a>
                        </li>
                      {% empty %}
                      {% endfor %}
                    </ul>

                </div>
                {% include "paginator_block.html" %}
                {% else %}
                <div class="no-item">{% trans "No topics." %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "discussion/modal/create.html" %}
{% endblock %}
