{% extends "dashboard/base.html" %}
{% load content_tags %}
{% load staticfiles %}

{% block script %}
<script src="{% static 'resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
var r = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'department' %}',
    simultaneousUploads: 1,
    maxFiles: 1
});

r.assignBrowse(document.getElementsByClassName('resumable'));

r.on('fileAdded', function(file, event){
    $('#upload-progress').show();
    r.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
});
r.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
});
r.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    checkAlert();
});

$('#uploadExcelFile').click(function() {
  $("#dropdownMenu").click();
});

$('#downloadExcelFile').click(function() {
  $("#dropdownMenu").click();
});

var alert_id = null;
var alertInterval = setInterval(checkAlert, 10000);
function checkAlert() {
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'account' 0 %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alert_id == null && result.status == 1){
	    alert_id = result.id
	}else if(result.id == alert_id && result.status == 2){
	    location.reload();
	}
    });
}
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Organization Management</strong></h2>
    {% comment %}
    {% if perms.department.add_department %}
    <ul class="actions">
      <li class="dropdown" id="dropdownMenu">
        <a href="#" data-toggle="dropdown">
          <i class="zmdi zmdi-plus-circle"></i> Add more departments
        </a>
        <ul class="dropdown-menu dm-icon pull-right">
          <li style="height:34px;">
            <a href="#f" class="resumable" id="uploadExcelFile">
              <i class="zmdi zmdi-upload"></i>
              <label for="importLearnersFile" class="pointer" style="margin-bottom:0px;">Import File (*.xls, *.xlsx, *.csv)</label>
            </a>
          </li>
          <li>
            <a href="{% static 'example/department.xls' %}" id="downloadExcelFile">
              <i class="zmdi zmdi-file-text"></i> Download Example Excel File
            </a>
          </li>
        </ul>
      </li>
    </ul>
    {% endif %}
    {% endcomment %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Parent</th>
            <th class="text-left">Department Name</th>
            <th>Subsidiary</th>
            <th>No. of Users</th>
            <th>No. of Admin</th>
            <th>View Users</th>
            {% comment %}
            <th>Edit</th>
            <th>Delete</th>
            {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for department in department_list %}
          <tr>
            <td class="text-left">
              <ul>
                {% for parent in department.parents.all %}
                <li>{{ parent.name }}</li>
                {% empty %}
                -
                {% endfor %}
              </ul>
            </td>
            <td class="text-left">
              {{ department.name|capfirst }}
            </td>
            <td class="text-left">
              <ul>
                {% for child in department.department_set.all %}
                <li>{{ child.name }}</li>
                {% empty %}
                -
                {% endfor %}
              </ul>
            </td>
            <td>{{ department.member_set.count }}</td>
            <td>{{ department.admin_set.count }}</td>
            <td>
              <a href="{% url 'dashboard:department-dashboard:member' department.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-accounts zmdi-hc-fw"></i>
              </a>
            </td>
            {% comment %}
            <td><i class="zmdi zmdi-edit zmdi-hc-fw"></i></td>
            <td><i class="zmdi zmdi-delete zmdi-hc-fw"></i></td>
            {% endcomment %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No departments.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=department_list %}
  </div>
</div>
{% endblock %}
