{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load content_tags %}

{% block content %}
<!--department/dashboard/member.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "department/dashboard/department_name_head.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Total : {{ member_list|length }} user{{ member_list|length|pluralize }}</strong></h3>
        {% if perms.department.add_department %}
        <ul class="actions">
            <li>
                <a href="{% url 'dashboard:department-dashboard:member_add' department.id %}">
                    <i class="zmdi zmdi-plus-circle"></i> Add New User
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="card-body card-padding">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Date Join</th>
                    {% if perms.department.delete_department %}
                    <th>Remove</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for member in member_list %}
                <tr>
                    <td>
                        {% if member.account.image %}<img src="{{ member.account.image.url }}" class="avatar" />
                        {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                        {% endif %}
                    </td>
                    <td class="text-left">{{ member.account.first_name }} {{ member.account.last_name }}</td>
                    <td>{{ member.position|check_none }}</td>
                    <td>{{ member.account.email }}</td>
                    <td>{{ member.account.date_joined|date:"j M Y" }}</td>
                    {% if perms.department.add_department %}
                	  <td>
                        <a href="{% url 'dashboard:department-dashboard:member_delete' department.id member.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                            <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                	  </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="99"><div class="no-item">No users.</div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "dashboard/paginator.html" with content_list=member_list %}
    </div>
</div>
{% endblock %}
