/*-------------Override global.css-------------*/

/*Override*/

.forgot-header{
  color:#7c7c7c;
}

.ribbon-new-add .ribbon-inner{
  background-color:#668ccc;
}

#announcementModal .full-width{
  padding: 0 10px;
}

#announcementModal .source {
  color: #aaa !important;
  float: right !important;
  font-size: 12px !important;
}

.featured-slide .slick-current{
  opacity:1 !important;
  transition: opacity .5s;
}

#announcementModal .modal-dialog .modal-body {
  max-height: 500px;
  padding-bottom:0px;
}

li.item-list a:hover {
    background-color: #fff;
    transition: background-color 0.3s;
}

.category-banner {
  opacity: 0.8;
  transition: all 0.3s;
}

.category-banner:hover {
  opacity: 1;
  transition: all 0.3s;
}

.btn-main-color-outline{
  color: #668ccc;
  border: solid 2px #668ccc;
  background-color: transparent;
}

.btn-main-color-outline:hover {
  color: #6791b5;
  border: solid 2px #6791b5;
}

.modal.walkthrough img.logo {
  height: 50px;
  margin-left: 20px;
}

.browse-by-btn i{
  opacity:0;
  transition: all 0.3s;
}

.browse-by-btn a:hover i{
  opacity:1;
  transition: all 0.3s;
}

.rating br{
  display:none !important;
}

.rating .main-color{
  color:rgb(191,96,128) !important;
}

.rating span{
  display:none !important;
}

.rating small {
  font-size: 11px;
  color: #565656;
  margin-left: 5px;
}

.new-alert:before {
    top: 15px !important;
    right: 10px !important;
    width: 8px !important;
    height: 8px !important;
    font-size: 0px !important;
    border: 1px solid white !important;
}

#header ul li.browse ul.sub-menu li a > i, ul.left-menu li a > i, #side-menu-wrapper ul li:not(.profile) a > i {
  width:40px !important;
}

.text-white{
  color:#fff !important;
}

.line-wrap{
  margin: 20px 0 0 10px;
}
#side-menu-wrapper .main-side-menu .profile{
  background-color: #668ccc !important;
}

#notificationBell .fa-bell{
  color: #fff;
  font-size: 18px;
  padding: 0;
}

.forget-password {
  position: absolute;
    right: 0;
    margin-top: -31px;
}

.margin-20-0{
  margin:20px 0;
}

.hidden-some-menu i.btn-show-all, .hidden-some-menu i.btn-hide{
  background: transparent !important;
  color:#A2A2A2 !important;
  padding: 5px;
}

ul.left-menu {
  background-color:#fff !important;
}

.see-all-btn {
  width: 100px;
  height: 35px;
  line-height: 32px;
  padding: 0 17px;
  font-size:13px !important;
}

.slick-slide {
  opacity:0.8;
  transition: opacity .5s;
}

.slick-current{
  /*opacity:1 !important;*/
  transition: opacity .5s;
}

.featured-slide .slick-dots li, .featured-slide .slick-dots li button:before {
  font-size:13px;
}

.featured-slide .slick-dots li button{
  font-size:0;
}

.font-12{
  font-size:12px;
}

.input-login{
  height: 40px !important;
  border: none !important;
  border-bottom: 2px solid #668ccc  !important;
  border-radius: 0  !important;
  font-size: 13px  !important;
  color: grey  !important;
}

#login-page .main {
    max-width: 280px;
}

#login-page .main img.logo {
  width: 266px;
}
.notification-dropdown .dropdown-footer a {
    background-color: #668ccc !important;
}
.notification-item .notification-icon {
    background-color: #668ccc;
}
/**/
.main-color {
  color: #668ccc !important;
}
.second-color {
  color: #332A86 !important;
}
.btn-main-color, .btn-main-color-static{
  border: solid 2px #668ccc;
  background-color: #668ccc;
  color: #fff;
}
.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus, .btn-outline-white, .btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:focus{
  border: solid 2px #668ccc;
  background-color: #fff;
  color: #668ccc;
}
.btn-second-color, .btn-second-color-static{
  border: solid 2px #332A86;
  background-color: #332A86;
  color: #fff;
}
.btn-second-color:hover, .btn-second-color:active, .btn-second-color:focus{
  border: solid 2px #332A86;
  background-color: #fff;
  color: #332A86;
}
.btn-white, .btn-white-outline:hover, .btn-white-outline:active, .btn-white-outline:focus{
  color: #668ccc;
}
.breadcrumb ol > li {
  color: #668ccc;
}
blockquote.red {
  border-left: 4px solid #668ccc;
}
.event-tags a.suggest {
  color: #668ccc;
}
.event-tags a.suggest:hover {
  background-color: #668ccc;
}
.menu-tab li.active {
  border-bottom: 4px solid #668ccc;
}
.menu-tab li.active a {
  color: #668ccc;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #668ccc;
  border-color: #668ccc;
}
.tab-button .btn-tab:hover, .btn-tab:active, .btn-tab:focus {
  background-color: #668ccc;
  border-color: #668ccc;
}
.tab-button li.active .btn-tab {
  background-color: #668ccc;
  border-color: #668ccc;
}
.item>span.price {
  color: #668ccc;
}
#header ul.dropdown-menu{
  left:auto;
  right:0;
}
a.signup {
  color: #668ccc;
}
.navmenu li>a:hover, .navmenu li>a.selected {
  border-bottom: 5px solid #668ccc;
  color: #668ccc;
}
.navmenu li>a.special {
  color: #668ccc;
}
.navmenu li>a.special:hover {
  background-color: #668ccc;
}
.featured-slide .slick-dots li button:before{
  color: #304E50;
}
.featured-slide .slick-dots li.slick-active button:before{
  color: #668ccc;
}

/*course*/
.cta-social a:hover {
  color: #668ccc;
}

/*--home--*/
.about-title h1 {
  color: #668ccc;
}

/*video*/
.btn-wht-transparent:hover, .btn-blkwht-transparent:active, .btn-blkwht-transparent:focus {
  color: #668ccc;
}

/*--icon btn-red--*/
ul.section-submenu > li > i.fa-play-circle {
  color: #668ccc;
}

ul.section-menu > h4 {
  color: #53B949;
  /*icon-check*/
}
ul.section-submenu > li > i.fa-check-circle {
  color: #53B949;
}
.curr-vdolist > li.vdolist-check > .round-box.green {
  background: #53B949;
}
.btn-play {
  border: 1px solid #668ccc;
  background-color: #668ccc;
}
.btn-play:hover, .btn-play:active, .btn-play:focus {
  color: #668ccc;
}

/*--icon btn yellow--*/

.btn-skip {
  color: #f9bf3b;
  border-color: #f9bf3b;
}
.btn-skip:hover {
  background-color: #f9bf3b;
  border-color: #f9bf3b;
}
.curr-vdolist > li.vdolist-check > .round-box.yellow {
  background: #fec11e;
}
.event-tags a {
  color: #f9bf3b;
  /*--yellow--*/
}
.event-tags a:hover {
  background-color: #f9bf3b;
}

.static-price.price, .duration.price{
  display: none !important;
}
.login-page  {
  background: #668ccc;
  height: 100%;
  float: none;
  position: relative;
}
.banner-category{
  background-image: url('/static/cbsibo/images/customize/banner-category.jpg');
}
.banner-content-provider{
  background-image: url('/static/cbsibo/images/customize/banner-content-provider.jpg');
}
.banner-instructor{
  background-image: url('/static/cbsibo/images/customize/banner-instructor.jpg');
}
.todo-item .todo-status {
  color: #f9bf3b;
  border: solid 1px #f9bf3b;
}


body{
  color: #000;
  background-color: #f4f4f4;
  padding-top: 53px;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: 'thaisans',arial,sans-serif;
}
.announcement .head {
  background-color: #6d6e71;
  padding: 12px 0 10px 5px;
}

.announcement .marquee .inner .main-color{
  color: #6d6e71 !important;
}

.modal.walkthrough .modal-dialog {
  background-color: #668ccc;
}
li.item-box .detail .price{
  display: none;
}
.program-conditions .panel{
  color: #fff;
  background-color: #668ccc;
  border-color: #668ccc;
}
.program-conditions .panel .course-overview li{
  border-right: 1px solid #fff;
}
.menu-tab{
  background-color: #fff;
  border-top: solid 1px #ddd;
}
.menu-tab li{
  border-left: solid 1px #ddd;
}
.menu-tab li:last-child{
  border-right: solid 1px #ddd;
}
.menu-tab li.active{
  background-color: #668ccc;
  border: none;
}
.menu-tab li.active a{
  color: #fff;
}
.hover-animate-width .row{
  white-space: nowrap;
}
.hover-animate-width a{
  position: relative;
  display: inline-block;
  float: none;
  height: 230px;
  margin: 10px -4px 0 -4px;
  padding-top: 80px;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-animate-width a:hover{
  padding-top: 50px;
}

.hover-animate-width a:before, .hover-animate-width a:after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  filter: brightness(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-animate-width a:hover:before{
  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  filter: brightness(1.2);
}
.hover-animate-width a:after{
  background-color: rgba(0,0,0,0.4);
}
.hover-animate-width a:hover:after{
  background-color: rgba(0,0,0,0.3);
}
.hover-animate-width a.btn-category:before{
  background-image: url('/static/cbsibo/images/customize/bg-btn-category.jpg');
}
.hover-animate-width a.btn-provider:before{
  background-image: url('/static/cbsibo/images/customize/bg-btn-provider.jpg');
}
.hover-animate-width a.btn-instructor:before{
  background-image: url('/static/cbsibo/images/customize/bg-btn-instructor.jpg');
}
.hover-animate-width h4{
  position: relative;
  z-index: 1;
}

.hover-animate-width h4 strong{
  font-size: larger;
}
.hover-animate-width h4 i{
  font-size: 40px;
  margin-top: 20px;
}
.how-to{
  background-color: #ffffff;
  padding: 20px 40px;
  text-align: center;
}
.how-to img{
  width:100px;
  margin: 20px 0;
}
.how-to h5{
  margin-bottom: 40px;
  text-indent: 50px;
  color:#6d6e71;
  line-height: 1.6em;
}
.welcome-onboard{
  display: block !important;
  padding: 1px 0 10px 0;
  border-bottom: solid 1px #eee;
}
.welcome-onboard div{
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -3px;
}
.test-section .icon-type {
  color: #668ccc;
}
.site-header, .site-main .is-sticky .entry-header {
  background-color: #668ccc;
  color: white;
}
.sa-confirm-button-container .confirm {
  background-color: #668ccc !important;
}
/*==================Login Page=======================*/

#view-password {
  position:absolute;
  top:15px;
  right:5px;
  border:none;
  background:transparent;
  color:#668ccc;
  font-size:14px;
}

#login-page{
  background: url('/static/cbsibo/images/customize/bg-login.png') no-repeat center center/cover;
}
#login-page:before{
  /*background-color: rgba(255,255,255,0.5);*/
}
#login-page .main input[name="email"], #login-page .main input[type="password"] , #login-page .main input[type="text"]{
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
  border: solid 1px #668ccc;
  border-radius: 5px;
  background: transparent !important;
  padding: 0 7px !important;
}

#login-page #btn-submit {
  height:28px;
  line-height:23px;
  font-size:13px;
}

#login-page footer{
  color: #aaa;
}

/*==================Header=======================*/
#header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 52px;
  padding: 0 160px 0 320px;
  border-top: solid 4px #668ccc;
  background-color: #fff;
  box-shadow: 0 1px 2px #cbcbcb;
  z-index: 99;
}
.has-back-btn #header{
  padding: 0 160px 0 375px;
}
#header .search{
  width: 100%;
  height: 100%;
}
#header .search form, #header .search input{
  padding-top: 3px;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
#header .search input{
  padding: 0 40px;
  border: none;
  background: url('/static/images/icon_search.png') no-repeat left center/auto 50%;
  font-size: 16px;
}
#header > ul{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 48px;
}
#header ul li{
  position: relative;
  display: inline-block;
  height: 100%;
}
#header ul li a, ul.left-menu li a{
  display: block;
  height: 100%;
  line-height: 45px;
  padding: 0 10px;
  text-align: center;
  float: left;
  color: rgba(0,0,0,0.55);
}
#header ul li.browse{
  background-color: #f4f4f4;
}
#header ul li.browse img.sub-logo{
  height: 35px;
  margin-top: -5px;
  border-radius: 3px;
}
#header ul li.logo a{
  padding: 0 10px 0 0;
}
#header ul li.logo img{
  max-height: 45px;
}
#header ul li.profile .avatar{
  width: 25px;
  height: 25px;
}
#header ul.pull-right{
  right: 0;
  left: auto;
  width: auto;
}
#header ul li ul.sub-menu{
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  height: auto;
  overflow-y: auto;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: 1px solid rgba(191,191,191,0.45);
}
#header ul li ul.sub-menu li{
  display: block;
  border: none;
}
#header ul li ul.sub-menu li a, ul.left-menu li a{
  float: none;
  text-align: left;
}
#header ul li ul.sub-menu li a:hover, ul.left-menu li a:hover{
  background-color: #f4f4f4;
}
#header ul li.browse ul.sub-menu{
  width: 220px;
}
#header ul li.browse ul.sub-menu li, #header ul li.browse ul.sub-menu li a, ul.left-menu li, ul.left-menu li a{
  height: auto;
  line-height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.browse > li, .browse ul.sub-menu > li, ul.left-menu > li{
  /*border-top: solid 1px #f4f4f4 !important;
  border-bottom: solid 1px #ddd !important;*/
}
.browse > li, .browse ul.sub-menu > li, ul.left-menu > li:first-child{
  border-top: none !important;
}
.browse > li > a, .browse ul.sub-menu > li  > a, ul.left-menu > li > a{
  /*color: #668ccc;*/
  /*font-weight: bold;*/
}
.browse ul.sub-menu li, ul.left-menu li{
  /*border-left: solid 5px #333 !important;*/
}
.browse ul.sub-menu li.active, ul.left-menu li.active{

}
.browse ul.sub-menu li.active a, ul.left-menu li.active > a{
  color: #668ccc !important;
  border-left: solid 5px #668ccc !important;
  opacity: 1 !important;
}
#header ul li.profile ul.sub-menu{
  width: 200px;
}
#header ul.pull-right li ul.sub-menu{
  right: -5px;
  left: auto;
}
.hidden-some-menu > ul li.active{
  border-left: none !important;
}
.hidden-some-menu > ul li.active a{
  border-left: dotted 3px #668ccc;
}

/*==================Course Detail Onboard=======================*/
.curr-vdolist > li.vdolist-name>.vdo-thumb{
  width: 70px;
}
.curr-vdolist.purchased > li.vdolist-name>.vdo-thumb{
  left: 47px;
}
.curr-vdolist.purchased > li.vdolist-name{
  padding: 0 110px 0 132px;
}

/*==================Program Detail Onboard=======================*/
.onboard .learning-status .col-sm-4 {
  height: 40px;
  margin-top: -10px;
  background: url('/static/cbsibo/images/customize/logo-login.png') no-repeat top left/ auto 70%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.5;
}
.onboard .learning-status .col-sm-4.learning-completed {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
   filter: grayscale(0);
   opacity: 1;
}
.onboard .learning-status .col-sm-4 h3{
  display: none;
}

/*==================/Profile (My library)=======================*/
.menu-tab .tab-package, .menu-tab .tab-lesson{
  display: none;
}

/*==================Change Follow Feedback=======================*/
#header {
  border-top: none;
  background-color: #668ccc;
}
#header > ul{
  height: 52px;
}
#header ul li.browse {
  background-color: #668ccc;
}
#header ul li ul.sub-menu{
  top:52px;
}
#header ul li a, ul.left-menu li a, #side-menu-wrapper .close-side-menu{
  /*color: #fff;*/
}
#header .main-color:not(.sub-menu .fa){
  color: #fff !important;
}
#header, .has-back-btn #header{
  padding: 0 100px 0 320px;
}
#header .search input{
  width: 200px;
  height: 30px;
  margin-top: 7px;
  padding: 0 0 0 85px;
  border-radius: 5px;
  float: right;
  background: url('../../images/icon-search-white.png') rgba(255,255,255,0.2) no-repeat 65px 7px/auto 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size:13px;
}
#header .search input::-webkit-input-placeholder{
  color: #fff;
}
#header .search input:-moz-placeholder{
  color: #fff;
  opacity: 1;
}
#header .search input::-moz-placeholder{
  color: #fff;
  opacity: 1;
}
#header .search input:-ms-input-placeholder{
  color: #fff;
}
#header .search input:focus, #header.open-search .search input{
  padding: 0 0 0 45px;
  width: 100%;
  background: url(/static/images/icon_search.png) rgba(255,255,255,1) no-repeat 10px 7px/auto 50%;
}
#header.open-search .search input{
  margin-top: -3px;
  height: 52px;
  border-radius: 0;
}
#header .search input:focus::-webkit-input-placeholder, #header.open-search .search input::-webkit-input-placeholder{
  color: #909090;
}
#header .search input:focus:-moz-placeholder, #header.open-search .search input:-moz-placeholder{
  color: #909090;
  opacity: 1;
}
#header .search input:focus::-moz-placeholder, #header.open-search .search input::-moz-placeholder{
  color: #909090;
  opacity: 1;
}
#header .search input:focus:-ms-input-placeholder, #header.open-search .search input:-ms-input-placeholder{
  color: #909090;
}
#header .btn-close-search .fa-times-circle{
  color:#668ccc;
}
ul.left-menu, #header ul li ul.sub-menu, #side-menu-wrapper, #side-menu-wrapper .main-side-menu .profile, #side-menu-wrapper ul li:not(.profile) a{
  color: #505050;
}
.browse > li, .browse ul.sub-menu > li, ul.left-menu > li, #side-menu-wrapper > ul > li:not(.profile){
  /*border-top: solid 1px #404040 !important;
  border-bottom: solid 1px #393939 !important;*/
}
#header ul li ul.sub-menu li a, ul.left-menu li a:not(.browse-menu-logo){
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#side-menu-wrapper ul li.profile a{
  padding: 0;
}
#header ul li ul.sub-menu li a:hover, ul.left-menu li a:hover, #side-menu-wrapper ul li:not(.profile) a:hover{
  opacity: 1;
  background-color: transparent;
  color: darkgrey !important;
  /*border-left: solid 5px rgba(122, 173, 216,0.3) !important;*/
  transition: all 0.2s;
}
#side-menu-wrapper .main-side-menu .profile ul.flex li{
  margin: 5px;
  padding: 10px 5px;
  border: solid 1px #fff;
  border-radius: 7px;
}
.hidden-some-menu > ul{
  max-height: 0;
}
.hidden-some-menu a.btn-show-all{
  display: none;
}
/*==================Video Playlist=======================*/
.vdo-header{
	background: url('/static/cbsibo/images/customize/logo-white.png') no-repeat #668ccc center center/ auto 70%;
	border-bottom: solid 1px #668ccc;
}
.vdo-header img.logo{
	display:none;
}
.vdo-header .btn-back{
	color:#fff;
}
.vdo-header .btn-back:hover,.vdo-header .btn-back:active,.vdo-header .btn-back:focus{
	background-color: rgba(0,0,0,0.1);
}
.vdo-header .user-name, .vdo-header .caret{
	color:#fff !important;
}
/*=================Responsive=================*/
@media screen and (max-width: 1200px) /*ขนาดจอกว้างไม่เกิน 1200px*/{

}
@media screen and (max-width: 992px) /*ขนาดจอกว้างไม่เกิน 992px*/{

}
@media screen and (min-width: 768px) /*ขนาดจอกว้างมากกว่า 768px ขึ้นไป*/{
  .hover-animate-width:hover .col-sm-4{
    width: 30%;
  }
  .hover-animate-width:hover .col-sm-4:hover{
    width: 40%;
  }
}
@media screen and (max-width: 767px) /*ขนาดจอกว้างไม่เกิน 767px*/{
  #header{
    margin: 0 !important;
    padding: 0 !important;
  }
  #header ul li:not(.btn-back){
    border: none !important;
  }
  #header ul li a{
    padding: 0 10px;
  }
  #header ul li.show-mobile, #header.open-search ul li.btn-close-search{
    display: inline-block;
  }
  #header.open-search ul li{
    display: none;
  }
  #header.open-search .search{
    display: block !important;
  }
  .curr-vdolist > li.vdolist-name>.vdo-thumb{
    width: 55px !important;
    height: 55px !important;
    top: 4px !important;
  }
  .curr-vdolist.purchased > li.vdolist-name>.vdo-thumb{
    left: 35px !important;
  }
  .curr-vdolist.purchased > li.vdolist-name{
    padding: 0 85px 0 102px !important;
  }
}
@media screen and (max-width: 480px) /*ขนาดจอกว้างไม่เกิน 480px*/{
  .modal.walkthrough ul li.slick-slide{
    margin-bottom: 10px;
  }
  .modal.walkthrough .slick-dots{
    bottom: -65px;
  }
  .modal.walkthrough .btn-nav{
    text-align: center;
    margin-bottom: 40px;
  }
  .modal.walkthrough .btn-prev{
    display: none !important;
  }
  .modal.walkthrough .btn-next{
    float: none !important;
  }
}
