{% extends "account/header.html" %}
{% load staticfiles %}
{% block profile-info %}
{% if account.get_user_level %}
<ul class="inline text-center small">
    <li>{{ account.get_user_level.level.name }}</li>
</ul>
{% endif %}
{% endblock %}
