{% load staticfiles %}
<!-- full page login -->
<div class="form-signin">
    <div class="modal-body">
        <p class="top-margin-little text-center"><img src="{% static logo_path|default:'unilever/images/customize/logo.png' %}" width="200" /></p>
        <div class="form-separator">
            <p>Login</p><hr />
        </div>
        <form id="form-login" method="post" action="{% url 'login' %}">{% csrf_token %} {# for VA Scan #}
            <div class="main">                
                <input name="email" type="email" class="form-control input-lg" placeholder="Email" autofocus />
                <input name="password" type="password" class="form-control input-lg" placeholder="Password" />
                <input type="hidden" name="ref" value="{{ ref }}" />
                <input type="hidden" name="next" value="{{ next }}" />
                <p class="error-msg red text-center" style="display:none;">Error Message</p>
                <button type="submit" class="btn-block btn-main-color btn-lg">Login</button>
            </div>
            <div class="login-footer">
                <span>If you can't login ?</span>
                <a href="#" class="bold main-color">Forgot Password (Link to Unilever)</a>
            </div>
        </form>
    </div>
</div>
