<div class="menu-tab">
    <ul class="nav unstyle text-center flex">
        <li {% if select == "course" %}class="active"{% endif %}>
            <a href="{% url 'profile' %}">
                <span class="counter">{{ account_content.course }}</span><br />
                <span>คอร์สเรียน</span>
            </a>
        </li>

        {% comment %}
        <li {% if select == "question" %}class="active"{% endif %}>
            <a href="{% url 'profile_question' %}">
                <span class="counter">{{ account_content.question }}</span><br />
                <span>ข้อสอบ</span>
            </a>
        </li>
        {% endcomment %}
        <li {% if select == "program" %}class="active"{% endif %}>
            <a href="{% url 'profile_program' %}">
                <span class="counter">{{ account_content.program }}</span><br />
                <span>โปรแกรม</span>
            </a>
        </li>

        <li {% if select == "live" %}class="active"{% endif %}>
            <a href="{% url 'profile_live' %}">
                <span class="counter">{{ account_content.live }}</span><br />
                <span>ถ่ายทอดสด</span>
            </a>
        </li>
    </ul>
</div>

{% comment %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 top-pad-20 bottom-pad-10">
      <div class="navbar-form navbar-left" >
        <h3><span class="bold">My Courses</span></h3>
      </div>
      <div class="navbar-form navbar-right">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% if filter_subject %} {{ filter_subject.name }} {% else %} All Categories {% endif %}
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{% url 'profile' %}">All Categories</a></li>
            {% for subject in subject_list %}
            <li><a href="{% url 'profile' %}?subject={{ subject.id }}">{{ subject.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
