{% extends "base.html" %}
{% load staticfiles %}
{% block headerscript %}
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "css/join.css" %}">
{% endblock %}

{% block content %}
<img src="{% static 'unilever/images/customize/academy-new.jpg' %}" class="full-width" />
<ul class="box-wrapper">
    {% include 'subject/fragment/menu.html' %}
</ul>
<ul class="box-wrapper">
    <h1 class="main-color">เส้นทางสู่ความสำเร็จ (Road to Success)</h1>
    <p class="text-center"><img src="{% static 'unilever/images/customize/Academy_Roadmap_1.jpg' %}" style="width:100%;max-width:450px;" /></p>
    <p class="text-center"><img src="{% static 'unilever/images/customize/Academy_Roadmap_2.jpg' %}" style="width:100%;" /></p>
    <div class="panel panel-default top-pad">
        <div class="panel-body">
            <h3>เส้นทางสู่ความสำเร็จ กับ สถาบันการเรียนรู้ ยูนิลีเวอร์ เน็ทเวิร์ค อคาเดมี</h3>
            <p>สถาบันการเรียนรู้ ยูนิลีเวอร์ เน็ทเวิร์ค อคาเดมี จัดตั้งขึ้น เพื่อเป็นศูนย์กลางการถ่ายทอดความรู้ แบบ 360 องศา อย่างเป็นระบบและมีประสิทธิภาพ เพื่อมุ่งพัฒนา 3 ด้านสำคัญ ได้แก่</p>
            <ul>
                <li>การพัฒนาด้านทักษะ</li>
                <li>การพัฒนาด้านความเป็นผู้นำ และ</li>
                <li>การพัฒนาคุณลักษณะ</li>
            </ul>
            <p>ระบบการเรียนรู้ที่ ยูนิลีเวอร์ เน็ทเวิร์ค อคาเดมี ได้รับการออกแบบอย่างดี และเหมาะสมกับแต้ละขั้นของการเติบโต ของผู้ร่วมธุรกิจ เพื่อทวีค่าศักยภาพส่วนบุคคล สู่การเป็นเจ้าของธุรกิจ และการประสบความสำเร็จอย่างยั่งยืน</p>
            <h4>หลักสูตรเพื่อการเรียนรู้ และการพัฒนารอบด้านจากยูนิลีเวอร์ เน็ทเวิร์ค อคาเดมี</h4>
            <p><strong>กลุ่มหลักสูตรพัฒนาทักษะการทำธุรกิจ</strong></p>
            <ul>
                <li>F1 เปลี่ยนชีวิตกับ ยูนิลีเวอร์ เน็ทเวิร์ค</li>
                <li>F2 3 ปี เปลี่ยนชีวิต</li>
                <li>F3 Winning Family</li>
                <li>Digital 1</li>
                <li>Digital 2</li>
                <li>B1 Beauty Foundation</li>
                <li>B2 Beauty Expert</li>
                <li>H1 Health Foundation</li>
                <li>H2 Health Expert</li>
            </ul>
            <p><strong>กลุ่มหลักสูตรพัฒนาการเป็นผู้นำ</strong></p>
            <ul>
                <li>L1 Go SBA</li>
                <li>L2 Go TBA</li>
                <li>L 3 The Power</li>
                <li>L4 EDISC</li>
                <li>L5 7 Habits</li>
            </ul>
            <p><strong>กลุ่มหลักสูตรพัฒนาหลักสูตรผู้นำชั้นสูง</strong></p>
            <ul>
                <li>U1 AEBA Camp</li>
                <li>U2 REBA Camp</li>
                <li>U3 NEBA Camp</li>
                <li>U4 IEBA Camp</li>
            </ul>
            <p><strong>หลักสูตรทางเลือก</strong></p>
            <ul>
                <li>หลักสูตรการเป็นวิทยากรมืออาชีพ</li>
                <li>หลักสูตรค้นหาแรงบันดาลใจ</li>
                <li>หลักสูตรแนวคิดเศรษฐี</li>
                <li>หลักสูตรระเบิดพลัง</li>
                <li>หลักสูตรสร้างความมั่งคั่ง</li>
            </ul>
            <p>ซึ่งสำหรับสูตรทั้งหมดของ ยูนิลีเวอร์ เน็ทเวิร์ค อคาเดมี จะเป็นส่วนผสมทั้งการเรียนรู้ผ่านออนไลน์ และการเรียนรู้ออฟไลน์ ที่ผู้เรียนยังต้องเข้าเรียนในคลาส สำหรับในหลายๆหลักสูตรการฝึกอบรม โดยเฉพาะหลักสูตรที่เน้นการปฏิบัติ และลงมือทำ เพื่อให้ได้ประสิทธิภาพสูงสุดสำหรับการเรียนรู้</p>
        </div>
    </div>
</ul>
{% endblock %}
