{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h2 class=""><span class="main-color">แจ้งปัญหาการใช้งาน</h2>
	</div>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<label>ชื่อ</label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" required="" placeholder="ชื่อผู้ส่ง" name="name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label>อีเมลของผู้ส่ง</label>
						</div>
						<div class="col-sm-8">
							<input type="email" class="form-control" required="" placeholder="อีเมลของผู้ส่ง" name="email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label>เบอร์โทรศัพท์</label>
						</div>
						<div class="col-sm-8">
							<input type="tel" class="form-control" required="" placeholder="เบอร์โทรศัพท์" name="tel">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<label>ข้อความ :</label>
						</div>
						<div class="col-sm-8">
							<textarea style="min-height:150px;" required="" class="form-control" name="message"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12 text-right">
							<input type="submit" class="btn btn-main-color" value="Submit">
						</div>
					</div>
				</div>
			</form>
	{% if success %}
		<p class="green text-center">คุณทำรายการสำเร็จแล้ว จะมีเจ้าหน้าที่ติดต่อกลับในภายหลัง</p>
	{% endif %}
</div>

{% endblock %}
