{% load i18n %}
{% if content_permission %}
<div class="modal fade" id="classAuthorizedModal" tabindex="-1">
  <div class="modal-dialog modal-bs">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="no-top-margin">{% trans "User Class Authorized" %}</h3>
        <hr>
        <p>{% trans "Restrict Content to allow users only" %}</p>
        <ul class="list-unstyled red">
          {% for level in content_permission.level.get_access_level %}
          <li><b><i class="fa fa-check"></i> {{ level.name|capfirst }}</b></li>
          {% endfor %}
        </ul>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <div class="text-center top-pad">
              <button type="button" class="btn-block btn-main-color btn-lg " data-dismiss="modal">{% trans "OK" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="permissionDeniedModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-bs">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red no-top-margin">{% trans "Permission denied" %}</h3>
        <hr>
        <p>{% trans "Permission denied" %}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
