/*.red #B7C634
.main-yellow #f9bf3b
.greenicon #53B949
.progess-green#80b636
.soft-yellow #fec11e
.absolute red #f7152c*/
/*-------css global-------*/
.main-color{
	color: #B7C634!important;
}
.btn-main-color{
  border: solid 2px #B7C634;
  background-color: #B7C634;
  color: #fff;
}
.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus{
  border: solid 2px #B7C634;
  background-color: #fff;
  color: #B7C634;
}
.breadcrumb ol>li{
    color: #B7C634;
}
blockquote.red{
    border-left: 4px solid #B7C634;
}
.event-tags a.suggest{
    color: #B7C634;
}
.event-tags a.suggest:hover{
    background-color: #B7C634;
}
.event-tags-color a.suggest{
    color: #B7C634;
}
.event-tags-color a.suggest:hover{
    background-color: #B7C634;
}
.menu-tab li.active{
    border-bottom: 4px solid #B7C634;
}
.menu-tab li.active a{
    color: #B7C634;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #B7C634;
    border-color: #B7C634;
}
.tab-button .btn-tab:hover, .btn-tab:active, .btn-tab:focus{
    background-color: #B7C634;
    border-color: #B7C634;
}
.tab-button li.active .btn-tab{
    background-color: #B7C634;
    border-color: #B7C634;
}
.item>span.price{
	color: #B7C634;
}
.login a:hover{
	color: #B7C634;
}
a.signup{
	color: #B7C634;
}
.navmenu li>a:hover, .navmenu li>a.selected{
	border-bottom: 5px solid #B7C634;
	color: #B7C634;
}
.navmenu li>a.special{
	color: #B7C634;
}
.navmenu li>a.special:hover{
	background-color: #B7C634;
}
.btn-menu,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:visited{
    color: #B7C634;
}
/*--Category--*/
.side-bottom{
	color: #B7C634;
}
.side-box li a.active{
	color: #B7C634;
}
.side-box li:hover a{
	color: #B7C634;
}
.scroller-list li.event-thumb:hover{
	border: 1px solid #B7C634;
}
.scroller-list li.event-thumb-active{
	border: 1px solid #B7C634;
}
.scroller-list li.event-thumb-more{
	background-color: #B7C634;
	border: 1px solid #B7C634;
}
.scroller-list li.event-thumb-more:hover{
	background-color: #f7152c;/*absolute-red--*/
	border: 1px solid #f7152c;
}
.lookfor{
	border: 1px solid #B7C634;
}
.lookfor-head{
	background-color: #B7C634;
}
.cat-menu .default-menu > p > a:hover{
	color:#B7C634;
}
.cat-menu .default-menu > p > a.selected{
	color:#B7C634;
}
.dynamic-list > p.selected{
	color:#B7C634;
}
ul.dynamic-sublist > li:before{
	color:#B7C634;
}
ul.dynamic-sublist > li.selected{
	color:#B7C634;
}
a.level.selected{
	color:#B7C634;
}
/*course*/
.wrap-crtmenu > .menu-list > p.button:hover,
.wrap-crtmenu > .menu-list > p.button.active{
	border-right:7px solid #B7C634;
}
.wrap-crtmenu > .menu-list > p.button:hover a{
	color:#B7C634;
}

.cta .price span.unit{
	color: #B7C634;
}
.cta-social a:hover{
	color: #B7C634;
}


/*--home--*/
.detail-event:hover h3{
	color: #B7C634;
}
.detail-event .duration{
	/*color: #B7C634;*/
	color: #db1c2f;
}
.detail-event-lg:hover h4{
	color: #B7C634;
}
.detail-event-lg .duration{
	background-color: #B7C634;
}
.about-title h1{
	color: #B7C634;
}
/*teach*/
.join-title{
	color: #B7C634;
	margin: 0px;
}
/*video*/
.btn-wht-transparent:hover,
.btn-blkwht-transparent:active,
.btn-blkwht-transparent:focus{
    color: #B7C634;
}
/*--icon btn-red--*/
ul.section-submenu > li > i.fa-play-circle {
	 color: #B7C634;
}


/*--icon btn-green--*/
ul.section-menu > h4{
	color:#53B949;/*icon-check*/
}
ul.section-submenu > li > i.fa-check-circle{
	 color: #53B949;
}
.progress-bar-top{
	background: #b2d234;
}
.curr-vdolist > li.vdolist-check > .round-box.green{
	background: #53B949;
}
.cta ul.other-info li.green{
	color: #b2d234;
}
.btn-play {
  border: 1px solid #B7C634;
  background-color: #B7C634;
}
.btn-play:hover, .btn-play:active, .btn-play:focus {
  color: #B7C634;
}
/*--icon btn yellow--*/
.btn-skip{
        color: #f9bf3b;
        border-color: #f9bf3b;
}
.btn-skip:hover{
        background-color: #f9bf3b;
        border-color: #f9bf3b;
}
.trends-type a{
	color: #f9bf3b;
	border: 1px solid #f9bf3b;
}
.trends-type a.active{
	background-color: #f9bf3b;
}

.trends-type a:hover{
	background-color: #f9bf3b;
}
.curr-vdolist > li.vdolist-check > .round-box.yellow{
	background: #fec11e;
}
.event-type a{
    color: #f9bf3b;
}
.event-type a:hover{
    background-color: #f9bf3b;
}
.event-tags-color a{
    color: #f9bf3b;
}
.event-tags-color a:hover{
    background-color: #f9bf3b;
}
.event-tags a{
    color: #f9bf3b;/*--yellow--*/
}
.event-tags a:hover{
    background-color: #f9bf3b;
}

.bg-category-active
{
	background: #B7C634;
}

/* Course  */

.cat-menu .default-menu > h4 > a:hover{
	color:#B7C634;
}
.cat-menu .default-menu > h4 > a.selected{
	color:#fff;
	background: #B7C634;
}

.dynamic-list > .expand{
	color:#B7C634;
}

.dynamic-list > p:hover{
	color:#B7C634;
}

.dynamic-list > .expand:hover{
	background: #B7C634;
}

.dynamic-sublist-box{
	border-left: 1px solid #B7C634;
}

ul.dynamic-sublist > li:before{
	color:#B7C634;
}

.menu-top{
	border-top: 5px solid #B7C634;
}


/*==================Video Playlist=======================*/
.vdo-header{
	background: url('/static/aisuacademy.com/images/customize/logo.png') no-repeat #fff bottom center/ auto 80%;
	border-bottom: solid 1px #b2d234;
}
.vdo-header img.logo{
	display:none;
}
.vdo-header .btn-back{
	color:#b2d234;
}
.vdo-header .btn-back:hover,.vdo-header .btn-back:active,.vdo-header .btn-back:focus{
	background-color: rgba(0,0,0,0.1);
}
.vdo-header .user-name{
	color:#b2d234 !important;
}




/*=================Responsive=================*/
@media screen and (max-width: 1200px) /*ขนาดจอกว้างไม่เกิน 1200px*/{

}
@media screen and (max-width: 992px) /*ขนาดจอกว้างไม่เกิน 992px*/{

}
@media screen and (min-width: 768px) /*ขนาดจอกว้างมากกว่า 768px ขึ้นไป*/{

}
@media screen and (max-width: 767px) /*ขนาดจอกว้างไม่เกิน 767px*/{
  #AISUAcademy .header-logo img{
    max-height:30px;
    max-width: 80%;
  }
}
@media screen and (max-width: 480px) /*ขนาดจอกว้างไม่เกิน 480px*/{

}
