{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Auto Assignment Management</strong></h2>
    <ul class="actions">
      {% if perms.program.add_onboard %}
      <li>
        <a href="{% url 'dashboard:assignment_auto:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-header">
    {% include "content/dashboard/filter2_block.html" with form_id="filter_department" button_id="" %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Cover</th>
            <th>Onboard Name</th>
            <th>Version</th>
            <th>Execution Date</th>
            <th>Edite</th>
            <th>Active</th>
            <th>Log</th>
          </tr>
        </thead>
        <tbody>
  	{% for assign_item in assign_list %}
          <tr>
            <td>
              {% if assign_item.get_program.image %}<img src="{{ assign_item.get_program.image.url }}" />
              {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
              {% endif %}
            </td>
            <td class="text-left">{{ assign_item.get_program.name }}</td>
            <td>{{ assign_item.get_program.version }}</td>
            <td>{{ assign_item.execution_date }}</td>
            <td>
              <a href="{% url 'dashboard:assignment_auto:edite' assign_item.id %}"  class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
	      </a>
            <td class="{% if assign_item.is_active %}text-green{% else %}text-red{% endif %}">
              <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
            </td>
            <td>
              <a href="{% url 'dashboard:assignment_auto:log' assign_item.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-file-text zmdi-hc-fw"></i>
              </a>
            </td>

          </tr>

          {% empty %}
          <tr><td colspan="99"><div class="no-item">No Auto Assignment .</div></td></tr>
  	{% endfor %}
        </tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=assign_list %}
  </div>
</div>
{% endblock %}
