{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load assignment_search_tags %}
{% load department_tags %}
{% load content_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment_auto/dashboard/assignment_auto_head.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Summary</strong></h3>
  </div>
  <div class="card-body card-padding">

    <strong>Log Date</strong><br/><br/>
    <ul class="list-unstyled">
      {% if assign_auto_log.next_date %}<li> Next Auto Assign at : {{ assign_auto_log.next_date |date:"F,j " }}</li>{% endif %}
    </ul>
    <br>
    <strong>Total Items: {{ item_list.count }} Item{{ item_list.count|pluralize }}</strong>
    <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th>Cover</th>
          <th>Name</th>
          <th>Type</th>
          <th>Learning Center</th>
        </tr>
      </thead>
      <tbody>
        {% for item in assign_auto.log_list.last.assignment.item_set.all %}
	{% get_content_tag item.content_type_id item.content as content %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {% if content.image %}
            <img src="{{ content.image.url }}" />
            {% else %}
    	    <img src="{% static 'images/default-pic-square.png' %}" />
            {% endif %}
          </td>
          <td>{{ content.name }}</td>
          <td>{{ content.name|capfirst }}</td>
          <td>{% if content.provider %}{{ content.provider.name }}{% else %}-{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">
            <div class="no-item">No items.</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card-body card-padding">
    <strong>Total Learners: {{ assign_auto.sum_amount.total_amount }} Learner{{ assign_auto.sum_amount.total_amount|pluralize }}</strong>
    <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th class="text-center">Auto Assignment </th>
          <th>Amount</th>
          <th>Time Stamp</th>
          <th>Assignmrnt</th>

        </tr>
      </thead>
      <tbody>
        {% for log in assign_auto.log_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td class="text-left">
           {{assign_auto}}
          </td>
          <td>
            {{ log.amount }}
          </td>
          <td>
            {{ log.timestamp}}
          </td>
          <td>
             <a href="{% url 'dashboard:assignment:summary' log.assignment.id  %}"  class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
	      </a>
          </td>

        </tr>
        {% empty %}
        <tr>
          <td colspan="10">
            <div class="no-item">No summaries.</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}
