<ul class="tab-nav assignment-steps text-center m-t-10 flex">
    <li {% if TAB == "content" or  TAB == "account" or  TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href=/"">
            <span><strong>1</strong></span><br />Add Items
        </a>
    </li><li {% if TAB == "account" or  TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href="/">
            <span><strong>2</strong></span><br />Add Learners
        </a>
    </li><li {% if TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href="/">
            <span><strong>3</strong></span><br />Preview
        </a>
    </li><li {% if TAB == "summary" %}class="active"{% endif %}>
        <a href="/">
            <span><strong>4</strong></span><br />Summary
        </a>
    </li>
</ul>
