{% load staticfiles %}
{% url 'home' as home_url %}
{% if not IS_WEBVIEW %}
<header id="header">
  <ul class="unstyle">
    {% if PARENT_URL %}
    <li class="btn-back">
      <a href="{{ PARENT_URL }}" class="main-color" {% comment %}onclick="history.back()"{% endcomment %}><i class="fa fa-arrow-left"></i></a>
    </li>{% else %}<li class="show-mobile">
      <a href="#" class="main-color open-side-menu"><i class="fa fa-bars"></i></a>
    </li><li id="menu-trigger" class="browse has-sub-menu hide-sm">
      <a href="#">
        {% comment %}
        {% if is_provider and provider.image %}<img src="{{ provider.image.url }}" class="sub-logo" />
        {% else %}Browse{% endif %}
        <i class="fa fa-caret-down"></i>
        {% endcomment %}
        <div class="line-wrap">
          <div class="line top"></div>
          <div class="line center"></div>
          <div class="line bottom"></div>
        </div>
      </a>
      <ul class="unstyle sub-menu">
        {% include "main/browse_menu.html" %}
      </ul>
    </li>{% endif %}
    <li class="logo">
      <a href="{{ home_url }}">
        <img src="{% static logo_path|default:'demo.ondemand/images/customize/logo-white.png' %}" />
      </a>
    </li>
  </ul>
  <div class="search hide-sm">
    <form action="{% url 'search' %}" method="GET">
      <input type="text" name="q" maxlength="60" placeholder="Search Course...">
    </form>
  </div>
  <ul class="unstyle pull-right">
    {% if not user.is_authenticated %}
    <li class="hide-sm">
      <a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i>Login</a>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li id="notificationBell" class="notification-dropdown {% if INBOX_COUNT > 0 %}new-alert{% endif %} has-sub-menu hide-sm">
      <a href="#" style="font-size:24px;"><i class="fa fa-bell"></i></a>
      <ul class="sub-menu dropdown-menu">
        <li class="dropdown-heading text-center">NOTIFICATIONS</li>
        <li class="dropdown-empty"><p class="text-center">You have no notification.</p></li>
        <li class="dropdown-footer"><a href="{% url 'inbox:home' %}">View All</a></li>
      </ul>
    </li>
    <li class="profile has-sub-menu hide-sm">
      <a href="#">
        {% if user.image %}<img src="{{ user.image.url }}" class="avatar" />
        {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />

        {% endif %}
      </a>
      <ul class="unstyle sub-menu">
        {% comment %}
        <li><a href="{% url 'order:dashboard' %}">Cart</a></li>
        <li><a href="{% url 'lesson:create' %}">Create a lesson</a></li>
        <li><a href="{% url 'profile_info' %}">My Profile</a></li>
        <li><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
        <li><a href="{% url 'profile' %}">My Library</a></li>
        {% if IS_ONBOARD_ACTIVE %}
        <li><a href="{% url 'program:onboard' %}">My Onboard</a></li>
        {% endif %}
        <li><a href="{% url 'profile_info' %}">My Admin</a></li>
        <li><a href="/profile/password/change"><i class="fa fa-key"></i> Change Password</a></li>
        {% endcomment %}
        <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </li>
    {% endif %}
    <li class="show-mobile">
      <a href="#" class="main-color btn-open-search"><i class="fa fa-search"></i></a>
    </li>
    <li class="btn-close-search">
      <a href="#" class="main-color font-20"><i class="fa fa-times-circle"></i></a>
    </li>
  </ul>
</header>
<ul class="unstyle left-menu hide-md">
  {% include "main/browse_menu.html" %}
</ul>
{% include "main/header_menu_mobile.html" %}
{% endif %}
