{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>STEP 1. Search Learner.</h2>
  </div>

  <div class="card-body card-padding">
    <form class="row" role="form" method="post" action="">{% csrf_token %}
      <div class="col-sm-4 col-sm-offset-2">
        <div class="form-group fg-line">
          <label class="sr-only" for="email">Email address</label>
          <input type="text" class="form-control input-sm" id="email" placeholder="Email or First Name" name="email">
        </div>
      </div>
      
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect" name="search">Search</button>
      </div>
    </form>
    
    <table class="table table-hover thai">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th class="text-center">Select</th>
        </tr>
      </thead>
      <tbody>
        {% for account in account_list %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.first_name }}</td>
          <td>{{ account.last_name }}</td>
          <td>{{ account.email }}</td>
          <td class="text-center"><a href="{% url 'dashboard:order-dashboard:assigment_account' account.id %}"><i class="zmdi zmdi-card zmdi-hc-fw"></i></a></td>
        </tr>
        {% empty %}
        <tr>
          <td class="text-center p-25" colspan="5">No User</td>
	</tr>
	{% endfor %}

      </tbody>
    </table>
  </div>

  {% if APP.id != 3 %}
  <div class="card-header ch-alt">
    <h2>OR Select Department.</h2>
  </div>
  <div class="card-body card-padding">
    <form class="row" role="form" action="" method="post">{% csrf_token %}
      <div class="col-sm-4 col-sm-offset-2">
        <div class="form-group fg-line">
	  <div class="select">
            <select class="form-control" name="department">
              <option value="-1">--- Select Department ---</option>
	      {% for department in department_list %}
              <option value="{{ department.id }}">{{ department.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect" name="select">Select</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
