{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>Assigment Result.</h2>
  </div>

  <div class="card-body card-padding">
    {% if msg == 200 %}
    <div class="alert alert-success" role="alert">Assigment Success.</div>
    {% else %}
    <div class="alert alert-danger" role="alert">This Content already exists for User.</div>
    {% endif %}
  </div>
</div>
{% endblock %}
