<div class="card-header">
  <h2>Coin</h2>
</div>
<div class="card-body table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Name</th>
	<th class="text-center">Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for coin in coin_list %}
      <tr>
        <td>{{ coin.id }}</td>
        <td>
	  <a href="{% url 'dashboard:order-dashboard:assigment_coin' coin.id %}">{{ coin.name }}</a>
	</td>
	<td class="text-center">{{ coin.volume }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
