<div class="card-header">
  <h2>Test</h2>
</div>
<div class="card-body table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Test Name</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in activity_list %}
      <tr>
        <td>{{ activity.id }}</td>
        <td>
	  <a href="{% url 'dashboard:order-dashboard:assigment_question' activity.id %}">{{ activity.name }}</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
