{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>STEP 1. Search Learner.</h2>
  </div>

  <div class="card-body card-padding">
    <div class="pmo-contact">        
      <ul>
        <li class="ng-binding"><b>Type: </b> {{ type }}</li>
	{% if type == 'account' %}
	<li class="ng-binding"><b>Learner: </b> {{ account.first_name }} {{ account.last_name }} ({{ account.email }})</li>
	{% elif type == 'department' %}
	<li class="ng-binding"><b>Department: </b> {{ department.name }}</li>
	<li class="ng-binding">
	  <b>NO. OF USERS: </b> {{ department.member_set.count }}
	  <a href="{% url 'dashboard:department-dashboard:member' department.id %}" target="_blank">view</a>
	</li>
	{% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>STEP 2. Select Content.</h2>
  </div>

  {% if APP.id == 3 %} {# click forclever #}
  {% include "order/dashboard/assigment_coin.html" %}
  {% endif %}

  {# {% include "order/dashboard/assigment_program.html" %} #}

  {% if APP.id != 3 %} {# hide for Click For Clever #}
  {% include "order/dashboard/assigment_course.html" %}
  {% include "order/dashboard/assigment_question.html" %}
  {% endif %}
  
</div>

{% endblock %}
