<div class="card-header">
  <h2>Course</h2>
</div>
<div class="card-body table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Course Name</th>
      </tr>
    </thead>
    <tbody>
      {% for course in course_list %}
      <tr>
        <td>{{ course.id }}</td>
        <td>
	  <a href="{% url 'dashboard:order-dashboard:assigment_course' course.id %}">{{ course.name }}</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
