{% extends "dashboard/base.html" %}
{% load static %}
{% load humanize %}

{% block jquery %}
    $('.order_id').click(function(){
        swal("Order Id: "+$(this).attr('data'));
    });
    $('.item_id').click(function(){
        swal("Item Id: "+$(this).attr('data'));
    });
{% endblock %}

{% block content %}
<div class="block-header">
  <h2>Self Enroll List ({{ item_list.paginator.count }}) </h2>
  <form action="" method="post">{% csrf_token %}
    <ul class="actions" style="width: 370px;">
      {% comment %}
      <li style="width: 200px;">
        <div class="input-group form-group">
          <span class="input-group-addon">Tutor</span>
          <div class="fg-line">
            <div class="select">
              <select name="tutor" class="form-control filter thai">
                <option>All Tutor</option>
                {% for tutor in tutor_list %}
                <option value="{{tutor.id}}">{{ tutor.name|truncatechars:17 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </li>
      {% endcomment %}
      <li style="width: 158px;">
        <div class="input-group form-group">
          <span class="input-group-addon p-0-xs">From</span>
          <div class="dtp-container dropdown fg-line">
            <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ start|date:"d/m/Y" }}" name="start">
          </div>
        </div>
      </li>
      <li style="width: 150px;">
        <div class="input-group form-group">
          <span class="input-group-addon p-0-xs">To</span>
          <div class="dtp-container dropdown fg-line">
            <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ end|date:"d/m/Y" }}" name="end">
          </div>
        </div>
      </li>
      <li>
        <div class="input-group form-group">
          <button type="submit" class="btn bgm-bluegray btn-md waves-effect">OK</button>
        </div>
      </li>
    </ul>
  </form>
</div>

<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>{{ header_bar }}</strong></h2>
  </div>
  <div class="card-body card-padding">
    {% comment %}
    <div>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a href="{% url 'dashboard:order-dashboard:home' %}?filter=normal&start={{start}}&end={{end}}" type="button" class="btn bgm-cyan waves-effect" {% if filter == 'normal' %}disabled="disabled"{% endif %}>Register</a>
        </div>
        <div class="btn-group" role="group">
          <a href="{% url 'dashboard:order-dashboard:home' %}?filter=ios&start={{start}}&end={{end}}" type="button" class="btn bgm-cyan waves-effect" {% if filter == 'ios' %}disabled="disabled"{% endif %}>iOS In-App Purchase</a>
        </div>
        <div class="btn-group" role="group">
          <a href="{% url 'dashboard:order-dashboard:home' %}?filter=mpay&start={{start}}&end={{end}}" type="button" class="btn bgm-cyan waves-effect" {% if filter == 'mpay' %}disabled="disabled"{% endif %}>AIS Mobile Payment</a>
        </div>
        <div class="btn-group" role="group">
          <a href="{% url 'dashboard:order-dashboard:home' %}?filter=pos&start={{start}}&end={{end}}" type="button" class="btn bgm-cyan waves-effect" {% if filter == 'pos' %}disabled="disabled"{% endif %}>Assign</a>
        </div>
        <div class="btn-group" role="group">
          <a href="{% url 'dashboard:order-dashboard:home' %}?filter=posontop&start={{start}}&end={{end}}" type="button" class="btn bgm-cyan waves-effect" {% if filter == 'posontop' %}disabled="disabled"{% endif %}>POS ON-TOP</a>
        </div>
      </div>
    </div>
    <hr />
    {% endcomment %}
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            {% comment %}
            <th>#Order</th>
            <th>#Item</th>
            {% endcomment %}
            <th>Content</th>
            <th>Photo</th>
            <th>User</th>
            <th>Type</th>
            <th>Method</th>
            <th>Added Time</th>
            {% comment %}
            <th>Amount</th>
            <th>Gateway Fee</th>
            <th>Excluding (Gateway Fee)</th>
            {% endcomment %}
	    {% if perms.order.delete_order %}
            <th class="text-center">Delete</th>
      	    {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in item_list %}
          <tr>
            <td class="text-left">
              <a href="#" class="order_id" data="{{ item.order_id }}">#</a>
              {{ item.content_name }}
              <a href="#" class="item_id" data="{{ item.id }}">#</a>
            </td>
            <td>
              {% if item.account.image %}<img src="{{ item.account.image.url }}" class="avatar" />
              {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
              {% endif %}
            </td>
            <td>{{ item.account.get_display }}</td>
            <td>{{ item.type|capfirst }}</td>
            <td>{% if item.order.get_method_display == 'POS' %}Assign{% else %}{{ item.order.get_method_display }}{% endif %}</td>
            <td>{{ item.order.timecomplete }}</td>
	    {% if perms.order.delete_order %}
            <td>
              <a href="{% url 'dashboard:order-dashboard:delete' item.id %}" class="btn btn-danger btn-sm waves-effect" onclick="return confirm('Are you sure?')">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
              </a>
            </td>
      	    {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No transactions.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=item_list %}
  </div>
</div>
{% endblock %}
