{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>Registration Summary</h2>
  </div>
  {% comment %}
  <form action="" class="thai" method="get">{% csrf_token %}
    <ul class="actions" style="width: 590px;">
      <li style="width: 200px;">
        <div class="input-group form-group">
          <span class="input-group-addon">Tutor</span>
          <div class="fg-line">
            <div class="select">
              <select name="tutor_id" class="form-control filter thai text-center">
                <option value="">All Tutor</option>
                {% for tutor in tutor_list %}
                <option value="{{ tutor.id }}" {% if tutor.id == tutor_id %}selected{% endif %}>{{ tutor.name|truncatechars:17 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </li>
      <li style="width: 160px;">
        <div class="input-group form-group">
          <span class="input-group-addon">From</span>
          <div class="dtp-container dropdown fg-line">
            <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{start}}" name="start">
          </div>
        </div>
      </li>
      <li style="width: 160px;">
        <div class="input-group form-group">
          <span class="input-group-addon">To</span>
          <div class="dtp-container dropdown fg-line">
            <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{end}}" name="end">
          </div>
        </div>
      </li>
      <li>
        <div class="input-group form-group">
          <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect"> &nbsp;OK&nbsp; </button>
        </div>
      </li>
    </ul>
  </form>
  {% endcomment %}
  <div class="card-body card-padding">
    <table class="table table-hover font-thai">
      <thead>
        <tr>
          <th>Content Name</th>
          <th>Content Type</th>
          <th class="text-center">Count</th>
	  <th class="text-center">Self Enrollment</th>
	  <th class="text-center">Sell</th>
	  <th class="text-center">Assigned</th>
        </tr>
      </thead>
      <tbody>
        {% for summary in summary_list %}
        <tr>
          <td>{{ summary.name }}</td>
          <td>{{ summary.type|capfirst }}</td>
          <td class="text-center">{{ summary.count }}</td>
	  <td class="text-center">{{ summary.libary }}</td>
	  <td class="text-center">{{ summary.sell }}</td>
	  <td class="text-center">{{ summary.assign }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% include "dashboard/paginator.html" with content_list=summary_list %}
  </div>
</div>
{% endblock %}
