.GragiantColor {
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(224,223,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(224,223,223,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(224,223,223,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(224,223,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(224,223,223,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(224,223,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0dfdf', GradientType=0 );
}

.overrideTagH {
    margin: 10px 0px !important;
}

.Web-Detail-Width1024 {
    width: 100%;
    text-align: center;
    float: left;
}

.subtitle{
    margin-top: -15px;
    font-size: 40px;
}


.img_slide {
    max-height: 100%;
    height: auto;
    width: 80%;
}
.img-center
{
    margin: 0 auto;
    width: 90%;
}

.about-head
{
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 0.5px #888888;
}

.about-sub-head
{
    margin-top: -10px;
    color: #643125;
    font-weight: bold;
}

.about-detail
{
    padding: 0 40px;
    font-size: 22px;
}

.MyImgRespomesive {
    height: auto;
    max-width: 92%;
}

p {
    margin: 0 0 0px !important;
    font-family: DBHelvethaicaAIS;
}

.row.key-message
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

div.row.feature
{
    font-size: 25px;
}

.space-left
{
    margin-left: 0px;
}
.space-right
{
    margin-right: 0px;
}
.space-top{
    margin-top: 0px;
}
.special-space-top{
    margin-top: 0px;
}


.TextEngBold {
    font-family: DBHelvethaicaAIS;
}

.Bg-FullScreen {
    /*background-color: #3598dc;*/
    height: auto;
    margin-top: 40px;
}

#contentWeb-paddingTOp {
    /*padding-top: 75px;*/
}

@media only screen and ( max-width: 489px) {

    #social-share
    {
        display: none;
    }

    #OokbeeMeMobileImage {
        display: none;
    }
    #contentWeb-paddingTOp {
        padding-top: 20px !important;
    }

    .special-space-top {
        margin-top: 0px;
    }


    .MyImgRespomesive {
        height: auto;
        max-width: 110%;
    }

    #Img-Top-Banner {
        display: none;
    }

    .fontSize-PromoteVDO {
        color: black;
        font-size: 34px;
    }

    .doblequotes {
        width: 25px;
        display: inline;
    }

    #divDisplayImgofVDO {
        display: none !important;
    }



    .font-size-DetailImgae {
        font-size: 20px;
        padding-top: 20px;
    }

    .Bg-FullScreen-margin {
        background-color: #3598dc;
        height: auto;
        margin-top: 50px;
    }

    #Packet-Top {
        max-width: 100%;
        text-align: center;
        width: 100% !important;
        vertical-align: bottom;
        font-size: 43px;
        padding-top: 10px;
        color: white;
        font-family: DBHelvethaicaAIS;
    }

    #Text-Top-Banner {
        width: 100%;
        float: left;
        margin-top: 15px;
        font-family: DBHelvethaicaAIS;
        color: white;
        font-size: 30px;
    }

    #text-fontSize-english {
        color: #fbd74d;
        font-size: 28px;
    }

    #text-fontSize-buffet {
        font-size: 38px;
        color: black;
    }

    #text-fontSize-PricePerDate {
        font-size: 30px;
    }

    #text-fontSize-Title-detial {
        font-size: 25px;
        text-align: left;
        padding-left: 10px;
    }

    #Img-Top-Banner {
        width: 50%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }



    .btm_try {
        width: 80%;
        margin-left: -25px;
        height: auto;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    span.TextEng {
        font-size: 15px;
    }

    #Txt-Detail-Img {
        padding-top: 20px;
    }

    #ipadTop {
        display: none;
    }

    #ipadLeft {
        display: none;
    }

    #ipadRight {
        display: none;
    }

    #ipadBottom {
        display: none;
    }
    /*--------Slider css-----*/

    .sizeSilde {
        width: 160px;
    }


    .img_slide {
        width: 95px;
        height: 130px;
    }

    .TextOverflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 90px;
        display: block;
        overflow: hidden;
    }
}

@media only screen and ( min-width: 490px) and ( max-width: 555px) {

    #social-share
    {
        display: none;
    }
    
    #OokbeeMeMobileImage {
        width: 48%;
        position: relative;
    }
    .fontSize-PromoteVDO {
        color: black;
        font-size: 25px;
    }

    .special-space-top {
        margin-top: 15px;
    }


    .doblequotes {
        width: 17px;
    }

    #OokbeeLOgo {
        padding-bottom: 10px;
    }


    .font-size-DetailImgae {
        font-size: 30px;
        padding-top: 20px;
    }

    .Bg-FullScreen-margin {
        background-color: #3598dc;
        height: auto;
        margin-top: 85px;
    }

    #Packet-Top {
        max-width: 100%;
        text-align: center;
        width: 62% !important;
        vertical-align: bottom;
        padding-top: 20px;
        color: white;
        font-family: DBHelvethaicaAIS;
    }

    #text-fontSize-english {
        color: #fbd74d;
        font-size: 24px;
    }

    #text-fontSize-buffet {
        font-size: 34px;
        color: black;
    }

    #text-fontSize-PricePerDate {
        font-size: 28px;
    }

    #text-fontSize-Title-detial {
        font-size: 25px;
        text-align: left;
        padding-left: 10px;
    }


    #Text-Top-Banner {
        width: 45%;
        float: left;
        padding-top: 10px;
        font-family: DBHelvethaicaAIS;
        color: white;
        font-size: 29px;
    }

    .btm_try {
        width: 80%;
        padding-bottom: 25px;
        padding-top: 10px;
    }

    #Img-Top-Banner {
        width: 55%;
        float: left;
        padding-bottom: 10px;
    }

    #Img-Top-Banner img {
        width: 55%;
        margin-left: -140px;
        height: auto;
        margin-top: 0px;
        max-width: 100%;
        position: absolute;
    }

    span.TextEng {
        font-size: 20px;
    }

    #Txt-Detail-Img {
        padding-top: 0px;
    }

    /*--------Slider css-----*/

    .sizeSilde {
        width: 160px;
    }

    .TextOverflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 135px;
        display: block;
        overflow: hidden;
    }

    #ipadTop {
        display: none;
    }

    #ipadLeft {
        display: none;
    }

    #ipadRight {
        display: none;
    }

    #ipadBottom {
        display: none;
    }
}



@media only screen and ( min-width: 556px) and ( max-width: 767px) {

    #social-share
    {
        display: none;
    }

    #OokbeeMeMobileImage {
        width: 48%;
        position: relative;
    }

    .special-space-top {
        margin-top: 15px;
    }

    .fontSize-PromoteVDO {
        color: black;
        font-size: 28px;
    }

    .doblequotes {
        width: 20px;
    }

    .font-size-DetailImgae {
        font-size: 30px;
        padding-top: 20px;
    }

    .Bg-FullScreen-margin {
        background-color: #3598dc;
        height: auto;
        margin-top: 85px;
    }

    #Packet-Top {
        max-width: 100%;
        text-align: center;
        width: 62% !important;
        vertical-align: bottom;
        padding-top: 20px;
        color: white;
        font-family: DBHelvethaicaAIS;
    }

    #text-fontSize-english {
        color: #fbd74d;
        font-size: 30px;
    }

    #text-fontSize-buffet {
        font-size: 40px;
        color: black;
    }

    #text-fontSize-PricePerDate {
        font-size: 35px;
    }

    #text-fontSize-Title-detial {
        font-size: 25px;
        text-align: left;
        padding-left: 10px;
    }



    #Text-Top-Banner {
        width: 45%;
        float: left;
        padding-top: 10px;
        font-family: DBHelvethaicaAIS;
        color: white;
        font-size: 29px;
    }

    .btm_try {
        width: 80%;
        padding-bottom: 25px;
        padding-top: 10px;
    }

    #Img-Top-Banner {
        width: 55%;
        float: left;
        padding-bottom: 10px;
    }

    #Img-Top-Banner img {
        width: 100%;
        margin-left: -25px;
        height: auto;
        margin-top: 15px;
        max-width: 100%;
    }

    span.TextEng {
        font-size: 20px;
    }

    #Txt-Detail-Img {
        padding-top: 20px;
    }

    #ipadTop {
        display: none;
    }

    #ipadLeft {
        display: none;
    }

    #ipadRight {
        display: none;
    }

    #ipadBottom {
        display: none;
    }
    /*--------Slider css-----*/

    .sizeSilde {
        width: 120px;
    }


    .fontslide {
        font-size: 12px;
        color: black;
        font-family: Roboto Light;
        overflow: hidden;
        height: 45%;
        margin-bottom: 5px;
    }

    #width-of-sliderImages {
        width: 100%;
        border-style: none;
        float: left;
        padding-left: 10px;
        padding-top: 15px;
    }

    .TextOverflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 90px;
        display: block;
        overflow: hidden;
    }
}

@media only screen and ( min-width: 768px) and ( max-width: 1023px) {

    #social-share
    {
        display: none;
    }

    #OokbeeMeMobileImage {
        width: 48%;
        position: relative;
    }

    .font-size-DetailImgae {
        font-size: 30px;
        padding-top: 20px;
    }

    .fontSize-PromoteVDO {
        color: black;
        font-size: 40px;
    }

    .Bg-FullScreen-margin {
        background-color: #3598dc;
        height: auto;
        margin-top: 85px;
    }

    #Img-Size-Detail {
        width: 55%;
    }

    #Packet-Top {
        max-width: 100%;
        text-align: center;
        width: 100%;
        vertical-align: bottom;
        font-size: 43px;
        padding-top: 40px;
        color: white;
        font-family: DBHelvethaicaAIS;
    }

    #Text-Top-Banner {
        width: 45%;
        float: left;
        padding-top: 10px;
        font-family: DBHelvethaicaAIS;
        color: white;
    }

    #text-fontSize-english {
        color: #fbd74d;
        font-size: 40px;
    }

    #text-fontSize-buffet {
        font-size: 50px;
        color: black;
    }

    #text-fontSize-PricePerDate {
        font-size: 38px;
    }

    #text-fontSize-Title-detial {
        font-size: 30px;
        text-align: left;
        padding-left: 20px;
    }

    #Text-Top-Banner .image-right {
        width: 75%;
    }

    #Img-Top-Banner {
        width: 54%;
        margin-top: 15px;
        float: left;
        padding-bottom: 10px;
    }

    .btm_try {
        width: 100%;
        padding-bottom: 20px;
        margin-left: -25px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
    }

    span.TextEng {
        font-size: 20px;
    }

    #Txt-Detail-Img {
        padding-top: 20px;
    }
    /*--------Slider css-----*/

    .sizeSilde {
        width: 160px;
    }




    #width-of-sliderImages {
        width: 78%;
        border-style: none;
        float: left;
        padding-left: 20px;
        padding-top: 5px;
    }

    .fontslide {
        font-size: 12px;
        color: black;
        font-family: Roboto Light;
        overflow: hidden;
        height: 45%;
        margin-bottom: 25px;
    }

    .TextOverflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 135px;
        display: block;
        overflow: hidden;
    }
}

@media only screen and ( min-width: 830px) {
    #contentWeb-paddingTOp {
        /*padding-top: 85px !important;*/
    }

    .fontSize-PromoteVDO {
        color: black;
        font-size: 43px;
    }
}

@media only screen and ( min-width: 1024px) {
    #OokbeeMeMobileImage {
        width: 48%;
        position: relative;
    }

    .space-top{
        margin-top: 60px;
    }
    .special-space-top
    {
        margin-top: 40px;
    }

    #OokbeeLOgo {
        padding-bottom: 10px;
    }

    .fontSize-PromoteVDO {
        color: black;
        font-size: 45px;
    }

    .font-size-DetailImgae {
        font-size: 42px;
        padding-top: 20px;
    }

    .Bg-FullScreen-margin {
        background-color: #3598dc;
        height: auto;
        margin-top: 85px;
    }

    #Packet-Top {
        max-width: 100%;
        text-align: center;
        width: 100%;
        vertical-align: bottom;
        font-size: 50px;
        padding-top: 30px;
        color: white;
        font-family: DBHelvethaicaAIS;
    }

    #Text-Top-Banner {
        width: 45%;
        float: left;
        padding-top: 30px;
        font-family: DBHelvethaicaAIS;
        color: white;
    }

    #text-fontSize-english {
        color: #fbd74d;
        font-size: 40px;
    }

    #text-fontSize-buffet {
        font-size: 65px;
        color: black;
    }

    #text-fontSize-PricePerDate {
        font-size: 45px;
    }

    #text-fontSize-Title-detial {
        font-size: 30px;
        text-align: left;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .btm_try {
        width: 60%;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    #Img-Top-Banner {
        width: 55%;
        float: left;
        padding-bottom: 30px;
    }

    #Img-Top-Banner img {
        width: 100%;
        margin-left: -25px;
        height: auto;
        margin-top: 10px;
        max-width: 100%;
    }

    span.TextEng {
        font-size: 29px;
    }

    #Txt-Detail-Img {
        padding-top: 20px;
    }
    /*--------Slider css-----*/

    .sizeSilde {
        width: 160px;
    }

    .fontslide {
        font-size: 12px;
        color: black;
        font-family: Roboto Light;
        overflow: hidden;
        height: 45%;
        margin-bottom: 30px;
    }

    .TextOverflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 135px;
        display: block;
        overflow: hidden;
    }

    #width-of-sliderImages {
        width: 78%;
        border-style: none;
        float: left;
        padding-left: 20px;
        padding-top: 15px;
    }

    /* Promotion*/
    #promotion {
        margin-top: 120px;
        position: fixed;
        right: 0;
        padding-right: 10px;
    }

    #Promotion-Img {
        width: 250px;
    }
    .space-left
    {
        margin-left: 70px;
    }
    .space-right
    {
        margin-right: 70px;
    }

}
