/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 body {
    font-family: DBHelvethaicaAIS;
    margin-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.lead
{
    font-size: 18px;
}
.green
{
    color: #9cbc00;
}
.orange
{
    color: #f39304;
}
.pink
{
    color: #ec008c;
}
.violet
{
    color: #92278f;
}
.blue
{
    color: #00aee3;
}
.dark-blue
{
    color: #31859c;
}
.navbar-brand{
    padding: 15px 10px;
}
.download{
    padding-left:  5%;
    margin-top: 20px;
    padding-right: 5%;
}
.download .or{
    width: 20%;
}
.download .appstore{
    width: 34%;
}
.download .playstore{
    width: 34%;
    margin-left: 2%;
}
.contact-logo img
{
    padding-left:  10px;
}
.font-shadow
{
    text-shadow: 1px 0.5px #888888;
}

.twitter-widget-0
{
    max-width: 80px !important;
    width: 80px !important;
}
.twitter-share-button {
    width: 80px !important;
}

/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
{
    color: #fff;
    background-color: #B7C634;
}
*/

.navbar-inverse .navbar-nav>li>a:hover
{
    color: #B7C634;
}.navbar-inverse .navbar-nav>li>a:focus
{
    /*color: #B7C634;*/
    color: #777;

}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9E9E9E;
}
.navbar-inverse .navbar-toggle {
    border-color: #9E9E9E;
}

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#navcontainer ul li a:hover
{
    color: #fff;
    background-color: #369;
}


a:hover { 
    color :#fff;
}
ul li:hover { 
    color :#fff;
}

ul.pull-right a{
    margin-left: 5px;
}
.fb_iframe_widget{
    display: block !important;
}

.about-background
{
    background-color: #b8c500;
    /*background-image: url('../img/background2.png');*/
}

.header-custom
{
    border-bottom: 1px solid;
    border-bottom-color: #292723;
}

.contact
{
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: #2b2720;
}
.contact-footer
{
    font-size: 20px;
}

.about
{
    padding: 40px;
    font-size: 32px;

}


.nav>li>a
{
    padding: 15px 10px;
    font-size: 23px;

}

.navbar-inverse {
    background-color: #FFFFFF;
    border-color: #E0E0E0;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../image/background4.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: white;
}

.headline {
    padding: 0px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 50px 0;
    border-top: 1px solid #EAEAEA;
}

.featurette {
    overflow: hidden;
    margin-top: 30px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 10px 0;
}

.font-medium
{
    font-size: 15px;
}

@media (min-width: @screen-sm-min) { 
    .lead {
        font-size: 20px;
    }
    .featurette-heading {
        font-size: 30px;
    }
}

@media (min-width: 768px){
    .lead {
        font-size: 26px;

    }
    .about
    {
        font-size: 29px;
    }

    .featurette-heading {
        font-size: 75px;
    }

    .about-heading {
        font-size: 60px;
    }



}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 60px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 60px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 0px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 36px;
    }
    .about
    {
        font-size: 32px;
    }
    .logo-word
    {
        display: none;
    }
    
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 20px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 0px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }

    .phone-hidden
    {
        display: none;
    }

}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
    .phone-hidden
    {
        display: none;
    }
}