{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block css %}
<style>
#about{
  font-size: 15px;
  max-width: 900px;
  margin: auto;
}
#about p{
  line-height: 32px;
  margin-bottom: 32px;
  text-indent: 50px;
}
</style>
{% endblock %}
{% block content %}
<div id="about" class="container-fluid">
    <h2 class="main-color bold top-pad text-center">{{ flatpage.title }}</h2>
    <br /><br />
    {{ flatpage.content }}
    <br /><br />
</div>
{% endblock %}