{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "program/dashboard/onboard/onboard_name_head.html" %}
    {% include "program/dashboard/onboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-2 text-right">Onboard ID</div>
                <div class="col-sm-10">{{ program.id }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 text-right">Version</div>
                <div class="col-sm-10">{{ program.version }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 text-right">Create By</div>
                <div class="col-sm-10">{{ program.account.first_name }} {{ program.account.last_name }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 text-right">Learning Center</div>
                <div class="col-sm-10">{{ program.provider.name }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 text-right">Created Date</div>
                <div class="col-sm-10">{{ program.timestamp }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 text-right">Last Updated</div>
                <div class="col-sm-10">{{ program.timeupdate }}</div>
            </div>
            {{ program_form|bootstrap }}
            <input type="hidden" class="image width" value="{{ IMAGE_SIZE.program.width }}" />
            <input type="hidden" class="image height" value="{{ IMAGE_SIZE.program.height }}" />
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save & Next Step</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
