{% extends "dashboard/base.html" %}
{% load static %}
{% load progress_tags %}
{% load content_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Onboard Management</strong></h2>
    <ul class="actions">
      {% if perms.program.add_onboard %}
      <li>
        <a href="{% url 'dashboard:onboard-dashboard:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-header">
    {% include "content/dashboard/filter2_block.html" with form_id="filter_department" button_id="" %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Cover</th>
            <th class="text-left">ID</th>
            <th>Onboard Name</th>
            <th>Version</th>
            <th>Learning Center</th>
            <th>Courses</th>
            <th>Tests</th>
            <th>TO DO</th>
            <th>Learners</th>
            {# <th>Progress</th> #}
            <th>Detail</th>
            {% comment %}<th>Display</th>{% endcomment %}
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
        {% for program in program_list %}
        {% pull_content_location_first_tag content_type program.id None -1 None -1 None -1 as content_location %}
        {% pull_progress_content_tag content_location.id content_type.id program.id as progress_content %}
        <tr>
            <td>
                {% if program.image %}<img src="{{ program.image.url }}" />
                {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                {% endif %}
            </td>
            <td class="text-left">{{ program.id }}</td>
            <td class="text-left">{{ program.name }}</td>
            <td>{{ program.version }}</td>
            <td>{% if program.provider %}{{ program.provider.name }}{% else %}-{% endif %}</td>
            <td>{% if program.get_extra.count_course > 0 %}{{ program.get_extra.count_course }}{% else %}0{% endif %}</td>
            <td>{% if program.get_extra.count_question > 0 %}{{ program.get_extra.count_question }}{% else %}0{% endif %}</td>
            <td>{% if program.get_extra.count_task > 0 %}{{ program.get_extra.count_task }}{% else %}0{% endif %}</td>
            <td>{{ progress_content.assignment_count }}</td>
            {# <td>{{ program.count_learner }}</td> #}
            {% comment %}
            <td>
                <a href="{% url 'dashboard:onboard-dashboard:progress' program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                    <i class="zmdi zmdi-chart zmdi-hc-fw"></i>
                </a>
            </td>
            {% endcomment %}
            <td>
                <a href="{% url 'dashboard:onboard-dashboard:detail' program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                    <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                </a>
            </td>
            {% comment %}
            <td class="{% if program.is_display %}text-green{% else %}text-red{% endif %}">
                <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
            </td>
            {% endcomment %}
            <td>
                <a href="{% url 'program:detail' program.id %}?preview=True" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="99"><div class="no-item">No onboard programs.</div></td></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% include "dashboard/paginator.html" with content_list=program_list %}
  </div>
</div>
{% endblock %}
