{% load content_tags %}
<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="condition" class="col-sm-2 control-label">Condition</label>
    <div class="col-sm-10">
      <div class="fg-line">
        <div class="select">
          <select class="form-control" name="condition" id="condition" {% if is_first %}disabled{% endif %}>
      	    {% for condition in condition_choices %}
              <option value="{{ condition.0 }}">{{ condition.1 }}</option>
      	    {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="item-add" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
      <div class="fg-line">
        <div class="select">
          <select class="form-control" name="item-add" id="item-add">
            <option>Select Content</option>
      	    {% for item in item_list %}
              <option value="{{ item.id }}">[ {{ item.content_type_cached.name|content_readable|capfirst }} ] {{ item.content_cached.name }}</option>
      	    {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</form>
