{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block jquery %}
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header">
    {% include "program/dashboard/onboard/tab.html" %}
  </div>
  <div class="card-body card-padding">
    {% if msg != None %}
    <div class="alert alert-warning" role="alert">{{ msg }}</div>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-group" style="margin-left:0px;">
	<label for="id_message" class="col-sm-2 control-label">Message</label>
	<div class="col-sm-10">
	  <div class="fg-line">
	    <input class=" form-control" id="id_message" name="message" type="text">
	  </div>
	</div>
      </div>
      <div class="form-group" style="margin-left:0px;">
	<label for="id_android_email" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
	  <div class="fg-line">
	    <input class=" form-control" id="id_android_email" name="email" type="text">
	  </div>
	</div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary btn-sm waves-effect" name="android">Send Android</button> &nbsp; &nbsp;
	  <button type="submit" class="btn btn-primary btn-sm waves-effect" name="ios">Send Ios</button> &nbsp; &nbsp;
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
