{% load program_search_tags %}
<form id="form-search-milestones" action="" method="post">{% csrf_token %}
  	<div class="form-group row">
        <label for="id_item" class="col-sm-2 control-label">Milestone at</label>
    	  <div class="col-sm-10">
    	      <div class="fg-line">
    	          <div class="select">
    	            	<select class="form-control" id="id_item" name="item">
        	          	  {% for item in item_list %}
                  		  <option value="{{ item.id }}">After: {{ item.content_cached.name }}</option>
                  		  {% endfor %}
    	            	</select>
    	          </div>
    	      </div>
    	  </div>
  	</div>
  	<div class="form-group row">
    	  <label for="id_topic" class="col-sm-2 control-label">Milestone Topic</label>
    	  <div class="col-sm-10">
      	    <div class="fg-line">
      	        <input class="form-control" id="id_topic" maxlength="120" name="topic" type="text" />
      	    </div>
    	  </div>
  	</div>
  	<div class="form-group row">
    	  <label for="id_desc" class="col-sm-2 control-label">Milestone Description</label>
    	  <div class="col-sm-10">
      	    <div class="fg-line">
      	        <textarea class="form-control" cols="40" id="id_desc" name="desc" rows="10"></textarea>
      	    </div>
    	  </div>
  	</div>
</form>
