{% load program_search_tags %}
{% include "content/dashboard/filter_block.html" with form_id="form-search-task" button_id="search-task-submit" %}
<hr />
{% if task_list|length > 0 %}
<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        {# <th>Category</th> #}
        {# <th>Learning Center</th> #}
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="text-left">{{ task.name }}</td>
        {# <td>{{ task.category.name }}</td> #}
        {# <td>{{ task.provider.name }}</td> #}
        <td class="f-24">{% task_check_tag program task %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="no-item">No tasks.</div>
{% endif %}
