{% load staticfiles %}
{% load program_search_tags %}

{% include "content/dashboard/filter_block.html" with form_id="form-search-course" button_id="search-course-submit" %}

<hr />
{% if course_list|length > 0 %}
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                {% comment %}<th>#</th>{% endcomment %}
                <th>Cover</th>
            	  <th>Course Name</th>
            	  <th>Category</th>
            	  <th>Learning Center</th>
            	  <th>Select</th>
            </tr>
        </thead>
        <tbody>
          	{% for course in course_list %}
            <tr>
                {% comment %}<td>{{ course.id }}</td>{% endcomment %}
                <td>
                    {% if course.image %}<img src="{{ course.image.url }}" />
                    {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                    {% endif %}
                </td>
            	  <td class="text-left">{{ course.name }}</td>
            	  <td>{{ course.category.name }}</td>
            	  <td>{{ course.provider.name }}</td>
            	  <td class="f-24">{% course_check_tag program course %}</td>
            </tr>
	          {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="no-item">No courses.</div>
{% endif %}
