{% load staticfiles %}
{% load program_search_tags %}
{% include "content/dashboard/filter_block.html" with form_id="form-search-question" button_id="search-question-submit" %}
<hr />
{% if activity_list|length > 0 %}
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                {% comment %}<th>#</th>{% endcomment %}
                <th>Cover</th>
            	  <th>Name</th>
            	  <th>Category</th>
            	  <th>Learning Center</th>
            	  <th>Select</th>
            </tr>
        </thead>
        <tbody>
          	{% for activity in activity_list %}
            <tr>
                {% comment %}<td>{{ forloop.counter }}</td>{% endcomment %}
                <td>
                    {% if activity.image %}<img src="{{ activity.image.url }}" />
                    {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                    {% endif %}
                </td>
            	  <td class="text-left">{{ activity.name }}</td>
            	  <td>{{ activity.category.name }}</td>
            	  <td>{{ activity.provider.name }}</td>
            	  <td class="f-24">{% activity_check_tag program activity %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="no-item">No tests.</div>
{% endif %}
