<ul class="tab-nav text-center" role="tablist" tabindex="2">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:onboard-dashboard:detail' program.id %}">Information</a>
  </li>
  <li {% if TAB == "item" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:onboard-dashboard:item' program.id %}">Outline & Dependency</a>
  </li>
  <li {% if TAB == "time" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:onboard-dashboard:time' program.id %}">Schedule / Learning Credit</a>
  </li>
  <li {% if TAB == "version" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:onboard-dashboard:version' program.id %}">Version</a>
  </li>
  {% comment %}
  <li {% if TAB == "progress" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:onboard-dashboard:progress' program.id %}">Assign & Progress</a>
  </li>
  {% endcomment %}
  {% comment %}
  <li {% if TAB == "condition" %}class="active"{% endif %}>
    <a href="#">Condition Setting</a>
  </li>
  {% endcomment %}
</ul>
