{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "program/dashboard/onboard/onboard_name_head.html" %}
    {% include "program/dashboard/onboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Schedule / Learning Credit</strong></h3>
    </div>
    <div id="item-course" class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
            <div class="col-sm-6">
                <h3>เครดิตเวลาเข้าเรียน (Time Credit)</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="credit-unlimited" value="" {% if program.get_credit_unlimited %}checked{% endif %} />
                        <i class="input-helper"></i>
                        Unlimited Credit
                    </label>
                </div>
                <h4>OR Limited at</h4>
                <div class="form-group fg-line">
                  <label>Day</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ program.credit.days }}" name="credit-day" />
                </div>
                <div class="form-group fg-line">
                  <label>Hour</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ program.get_credit_hour }}" name="credit-hour" />
                </div>
                <div class="form-group fg-line">
                  <label>Minute</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_credit_minute }}" name="credit-minute" />
                </div>
                <div class="form-group fg-line">
                  <label>Second</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_credit_second }}" name="credit-second" />
                </div>
            </div>
            <div class="col-sm-6">
                <h3>ระยะเวลาเข้าเรียน (Expiry Time)</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="expired-unlimited" value="" {% if program.get_expired_unlimited %}checked{% endif %} />
                        <i class="input-helper"></i>
                        Unlimited Time
                    </label>
                </div>
                <h4>OR Limited at</h4>
                <div class="form-group fg-line">
                  <label>Day</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ program.expired.days }}" name="expired-day" />
                </div>
                <div class="form-group fg-line">
                  <label>Hour</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ program.get_expired_hour }}" name="expired-hour" />
                </div>
                <div class="form-group fg-line">
                  <label>Minute</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_expired_minute }}" name="expired-minute" />
                </div>
                <div class="form-group fg-line">
                  <label>Second</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_expired_second }}" name="expired-second" />
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
                {% comment %}<button type="submit" class="btn btn-primary btn-sm waves-effect" name="save-next">Save & Next Step</button>{% endcomment %}
                {% comment %}<button type="submit" class="btn btn-success btn-sm waves-effect" name="save-perview">Save & Perview</button>{% endcomment %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
