{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block jquery %}
  $('#addNewVersion').click(function(){
    swal({
      title: "Add New Version?",
      text: "Do you want to add new version of this onboard?",
      type: "info",
      showCancelButton: true,
      closeOnConfirm: false
    },
    function(){
      window.location.href="{% url 'dashboard:onboard-dashboard:version_duplicate' program.id %}";
    });
  });
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "program/dashboard/onboard/onboard_name_head.html" %}
  {% include "program/dashboard/onboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Version</strong></h3>
    <ul class="actions">
      <li>
        <a href="#" id="addNewVersion">
          <i class="zmdi zmdi-plus-circle" id="addNewVersion"></i> Add more
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Parent #ID</th>
            <th>Parent Name</th>
            <th>Parent Version</th>
            <th>Account</th>
            <th>Time</th>
    	  </tr>
        </thead>
        <tbody>
    	  {% include "program/dashboard/onboard/version_block.html" with duplicate=duplicate only %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
