{% if duplicate != None %}
<tr>
  <td>{{ duplicate.id }}</td>
  <td>{{ duplicate.parent.name }}</td>
  <td>{{ duplicate.parent_version }}</td>
  <td>{{ duplicate.account.first_name }} {{ duplicate.account.last_name }}</td>
  <td>{{ duplicate.timestamp }}</td>
</tr>
{% else %}
  <tr>
    <td colspan="99"><div class="no-item">No versions.</div></td>
  </tr>
{% include "program/dashboard/onboard/version_block.html" with duplicate=duplicate.parent.duplicate_set.first only %}
{% endif %}
