{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/category.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block script %}
<script src="{% static "js/course/home.js" %}"></script>
<script src="{% static "js/plugin/jquery.waypoints.min.js" %}"></script>
{% endblock %}

{% block content %}
{% if category.image_cover %}
<div class="wrap-headline" style="background-image: url( {{ category.image_cover.url }});"></div>
{% endif %}
<ul class="box-wrapper">
  {% include "category/menu.html" %}
</ul>
<ul class="box-wrapper">
  <h1 class="main-color">{% if title  %}{{ title }}{% else %}{{ category.name }}{% endif %}

      <a class="btn btn-main-color pull-right" href="{% url 'course:home' %}?category={{ category.id }} ">View All Courses</a>

    {% comment %}
    {% if menu != None %}
    <span class="relative pull-right">
      <button class="dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">
        {% if course_level %}{{ course_level.name }}{% else %}All Courses{% endif %}
        <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{% url 'category:detail' category.id %}">All Courses</a></li>
        {% for level in menu.level_list %}
        <li><a href="{% url 'category:detail' category.id %}?level={{ level.id }}">{{level.name}}</a></li>
        {% endfor %}
      </ul>
    </span>
    {% endif %}
    {% endcomment %}
  </h1>
  {% if course_list|length > 0 %}
  {% for course in course_list %}
  {% include "course/item_cached_new.html" %}
  {% endfor %}
  {% else %}
  <h4 class="no-item">No courses.</h4>
  {% endif %}
</ul>
{% endblock %}
