{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block bodyclass %}has-left-menu{% endblock %}

{% block content %}
<div class="wrap-headline banner-category">
</div>
<ul class="box-wrapper">

    <h1>Explore Courses and Programs by <span class="main-color">Categor{% if category_list|length > 1 %}ies{% else %}y{% endif %}</span></h1>
    {% for category in category_list %}
    <li class="col-sm-6 no-pad-xs top-pad">
        <a href="{% url 'category:detail' category.id %}">
            <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'demo.ondemand/images/customize/default-category.png' %}{% endif %}" class="full-width category-banner" />
            <p class="top-margin-more-little"><span class="black">{{ category.name }}</span></p>
        </a>
    </li>
    {% empty %}
    <h4 class="no-item">No categories.</h4>
    {% endfor %}
</ul>
<br class="clear" />
{% endblock %}
