{% if ROOT_PAGE == 'roadmap' or ROOT_PAGE == 'business_training' or ROOT_PAGE == 'product_training' or ROOT_PAGE == 'allaboutproduct' %}
{% if not IS_WEBVIEW %}
<ul class="navi-tabs clearfix">
  <li class="{% if ROOT_PAGE == 'roadmap' %}active{% endif %}">
    <a href="{% url 'roadmap' %}">เส้นทางสู่ความสำเร็จ</a>
  </li>
  <li class="{% if ROOT_PAGE == 'business_training' %}active{% endif %}">
    <a href="{% url 'category:detail' 'business_training' %}">คอร์สอบรมธุรกิจ</a>
  </li>
  <li class="{% if ROOT_PAGE == 'product_training' %}active{% endif %}">
    <a href="{% url 'category:detail' 'product_training' %}">คอร์สอบรมผลิตภัณฑ์</a>
  </li>
  <li class="{% if ROOT_PAGE == 'allaboutproduct' %}active{% endif %}">
    <a href="{% url 'category:detail' 'allaboutproduct' %}">ความรู้ผลิตภัณฑ์</a>
  </li>
</ul>
{% endif %}
{% endif %}
