<div style="width:100%;max-width:900px;margin:auto;border:solid 1px #ddd;border-radius:7px;">
<h2 style="color:#b2d234;text-align:center;">Announcement Title</h2>
<p style="text-align:center;">Tuesday 27, December 2016</p>
<img src="https://aisondemand.conicle.com/media/category/01image_AIS_Products-_Services.jpg" style="width:100%" />
<p style="padding:15px;line-height:1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam libero sed tortor mollis dapibus. Phasellus a neque at est pulvinar maximus eget a mauris. Suspendisse potenti. Nullam faucibus dapibus nisi, sed sagittis odio lacinia nec. Nullam et ullamcorper diam. Fusce ac lectus lectus. Sed bibendum consectetur faucibus. Vivamus euismod semper lacus nec mattis. Etiam consequat quis sem ut viverra. Sed aliquet scelerisque odio nec commodo. Sed in risus nisl. Sed convallis porttitor leo, eget porttitor est cursus non. Sed vel lectus aliquet, egestas enim sed, tempus nisi. Aliquam eleifend, ligula eu maximus mattis, nisi nunc volutpat ligula, sed bibendum nibh lectus placerat risus. Quisque varius, ex ornare fringilla vestibulum, nisl quam laoreet massa, et finibus ex quam vitae felis.

Proin mollis accumsan est, sit amet consectetur elit volutpat aliquam. Proin quis ipsum sed nunc rhoncus dictum. Etiam at ullamcorper magna, sed viverra sapien. Suspendisse ac neque aliquet turpis cursus dictum quis eget felis. Quisque a tincidunt magna, accumsan suscipit ante. Cras euismod ornare erat, sed tincidunt augue scelerisque ut. Cras nec eleifend justo, ac fermentum metus. Sed euismod sem eget dictum accumsan. Aliquam nec lectus nec purus pharetra ultrices quis auctor nunc. Nulla facilisi. Praesent id libero ut sem laoreet porttitor. Donec blandit eu quam quis interdum. Maecenas pulvinar tempus magna in condimentum. Donec convallis ipsum vel nunc tempor, sed sollicitudin lectus convallis. Vestibulum pellentesque commodo sem, dictum euismod ex varius ut.</p>
<div style="margin-top:20px;padding:15px;background-color:#f8f8f8;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">
<img src="https://aisondemand.conicle.com/static/aisondemand/images/customize/logo-login.png" height="80px" />
</div>

</div>
