{% load content_tags %}

<div style="width:100%;max-width:900px;margin:auto;border:solid 1px #ddd;border-radius:7px;">
  <h2 style="color:#b2d234;text-align:center;">Assignment</h2>
  <p style="text-align:center;">{{ assignment.timestamp|date:"d M Y H:i" }}</p>
  <p style="text-align:center;">Assign From: {{ assignment.account.get_full_name }}</p>
  <p style="padding:20px;line-height:1.5em;"></p>
  <table style="padding:20px;width:100%;text-align:center;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Content Name</th>
        <th>Type</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for item in content_list %}
      {% get_content_tag item.content_type_id item.content as content %}
      {% pull_content_type_tag item.content_type_id as content_type %}
      {% get_content_type_name_tag content_type as content_type_name %}
      <tr>
        <td>
          <img src="{% if content.image %}{{ content.image.url }}{% endif %}" width="60" height="60" />
        </td>
        <td>{{ content.name }}</td>
        <t1d>
          {{ content_type_name|capfirst }}
        </t1d>
        <td><a href="{{item.site}}">Click</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
