{% load staticfiles %}
<div style="width:100%;max-width:900px;margin:auto;border:solid 1px #ddd;border-radius:7px;">
  <h2 style="color:#b2d234;text-align:center;">Login Alert</h2>
  <h2 style="color:#b2d234;text-align:center;">User: {{ account.get_full_name }}</h2>
  <h2 style="color:#b2d234;text-align:center;">Email: {{ account.email }}</h2>
  <h2 style="color:#b2d234;text-align:center;">Client IP: {{ ip }}</h2>
  <p style="text-align:center;">Login time:{{ timestamp|date:"d M Y H:i:s" }}</p>
</div>
