{% load staticfiles %}
<div style="width:100%;max-width:900px;margin:auto;border:solid 1px #ddd;border-radius:7px;">
  <h2 style="color:#b2d234;text-align:center;">{{ inbox.title }}</h2>
  <p style="text-align:center;">{{ inbox.timestamp|date:"d M Y H:i" }}</p>
  <p style="padding:15px;line-height:1.5em;">{{ inbox.body }}</p>
</div>
