<div style="width:100%;max-width:900px;margin:auto;border:solid 1px #ddd;border-radius:7px;">
  <h2 style="color:#b2d234;text-align:center;">Progress Update</h2>
  <p style="text-align:center;">Tuesday 27, December 2016</p>
  <p style="padding:20px;line-height:1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam libero sed tortor mollis dapibus. Phasellus a neque at est pulvinar maximus eget a mauris. Suspendisse potenti. Nullam faucibus dapibus nisi, sed sagittis odio lacinia nec. Nullam
    et ullamcorper diam. Fusce ac lectus lectus. Sed bibendum consectetur faucibus.</p>
  <table style="padding:20px;width:100%;text-align:center;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Content Name</th>
        <th>Type</th>
        <th>Expired Date</th>
        <th>Day Left</th>
        <th>Status</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://aisondemand.conicle.com/media/course/image/AISLearning_SampleProgram_Banner_JKJY38N_FDvtV8y.png" width="60" height="60" /></td>
        <td>Lorem ipsum dolor sit amet</td>
        <td>Program</td>
        <td>Jan 31, 2017</td>
        <td>2 Days</td>
        <td>In Progress</td>
        <td>70%</td>
      </tr>
    </tbody>
  </table>
</div>
