{% extends "base.html" %}

{% load humanize %}
{% load staticfiles %}
{% block headerscript %}
<META http-equiv="refresh" content="5;URL={{ redirect_link }}">
<style type="text/css">
body {
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
  color: #999;
  background-color: white;
}

.redirect-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
}
</style>
{% endblock %}
{% block footerscript %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="text-center" style="margin-top:150px;">
  <img src="{% static "images/logo.png" %}">
  <h2>Your account has been verify.</h2>
  <h3>Wait For 5 second to redirect of click <a href="{{ redirect_link }}">here</a></h3>
</div>
{% endblock %}
