{% extends "base.html" %}
{% load staticfiles %}
{% load coin_tags %}
{% load duration_tags %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}

<div class="bg-white relative overflow-hidden">
  <div class="bg-tree-blur"></div>
  <div class="container container-stable content-info">
    <div class="row bottom-pad-15">
      <div class="col-sm-4 course-preview-img">
        {% if activity.image %}
        <img src="{{ activity.image.url }}" />
        {% else %}
        {% include 'main/fragment/default_course_image.html' %}
        {% endif %}
      </div>
      <div class="col-sm-8">
        <h2 class="bold font-small-xs content-name">{{ activity.name }}</h2>
	    {% include "category_provider_block.html" with content_s="test" content=activity %}
        <hr />
        <ul class="course-status top-margin-little">
          {% if order_item != None %}
          <li class="col-xs-4">
            <p><strong class="uppercase">{% trans "Expired Date" %}</strong></p>
            <h4 class="main-color">
              {% if order_item.expired_date %}
              {{ order_item.expired_date|date:"d M Y H:i" }}
              {% else %}{% trans "No Expiry" %}
              {% endif %}
            </h4>
          </li>
          <li class="col-xs-4">
            <p><strong class="uppercase">{% trans "Time Left" %}</strong></p>
            <h4 class="main-color">{{ order_item.time_left }}</h4>
          </li>
          <li class="col-xs-4">
            <p><strong class="uppercase">{% trans "Status" %}</strong></p>
            <h4 class="{% if progress.status == 1 %}text-in-progress{% elif progress.status == 2 %}text-completed{% elif progress.status == 3 %}text-fail{% elif progress.status == 4 %}text-expired{% endif %}">{% if progress.status == 2 %}Passed{% else %}{{ progress.get_status_display }}{% endif %}</h4>
          </li>

          {% else %}
          <li class="col-xs-6">
            <p><strong class="uppercase">{% trans "Test Period" %}</strong></p>
            <h4 class="main-color">{% if activity.expired.days == 0 %}{% trans "Unlimited" %}{% else %}{{ activity.expired.days }} {% trans "Days" %}{% endif %}</h4>
          </li>
          {% endif %}
        </ul>
        {% if order_item == None %}
        {% include "dependency/fragment/content_restriction.html" %}
        {% endif %}
        <div class="row top-margin-little">
          {% if order_item %}
            {% if progress.status == 5 %}
              <div class="col-sm-6">
                <h4 class="btn-status-block in-progress text-center">{% trans "Waiting for Test Result" %}</h4>
              </div>
            {% elif progress.status == 1 and is_submit %}
              <div class="col-sm-6">
                <a href="{{ section_url }}" data-toggle="modal" class="btn-block btn-in-progress btn-lg">
                  {% if score_item %}{% trans "Start Re-Testing" %}{% else %}{% trans "Start Testing" %}!{% endif %}
                </a>
              </div>
              <div class="col-sm-6">
                <p class="red bold text-center-xs top-margin-more-little">
        		    {% if order_item.expired_date %}{% trans "Please finish before" %}
                {{ order_item.expired_date|date:"d M Y H:i" }}
                {% endif %}
              </p>
              </div>
            {% else %}
              <div class="col-sm-6">
                {% include "question/status.html" %}
              </div>
              <div class="col-sm-6">
                <p class="bold text-center-xs top-margin-more-little"><i class="fa fa-check main-color"></i> {% trans "On" %} {{ progress.timeupdate|date:"D d M Y H:i" }}</p>
              </div>
            {% endif %}
          {% elif not program and not course %}
            <div class="col-sm-6">
              {% if user.is_authenticated %}
              <a href="#addTestToLibraryModal" data-toggle="modal" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
              {% else %}
              <a onclick="openLoginModal('');" data-toggle="modal" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey bottom-pad-80" style="padding-top:0.5px;">{# <!--Has padding top for Pacrim bg-tree--> #}
  {% if activity.overview|length > 0 %}
  <div class="container top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h3 class="main-color bold">{% trans "Test Overview" %}</h3>
        <div>{{ activity.overview|striptags|linebreaks }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% include "question/fragment/condition.html" %}
  <div class="container top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h3 class="main-color bold clear-pad">{% trans "Test Sections" %}</h3>
      </div>
    </div>
  </div>
  <div class="container top-margin-little no-pad-xs">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% include "question/section_block.html" with item=activity %}
        <div class="program-conditions" style="margin-top:-22px;">
          <div class="panel panel-body">
            {% if score_item %}
            <ul class="course-overview one-line text-center row">
              <li class="col-xs-4">
                <p><strong class="uppercase">{% trans "Time" %}</strong></p>
                <h4>{{ score_item.timeupdate|date:"D d M Y H:i" }}</h4>
              </li>
              <li class="col-xs-4">
                <p><strong class="uppercase">{% trans "Latest Score" %}</strong></p>
                <h4>{{ score_item.score }}/{{ score_item.max_score }}</h4>
              </li>
              <li class="col-xs-4">
                <p><strong class="uppercase">{% trans "Result" %}</strong></p>
                <h4>{% if score_item.status == 2 %}{% trans "Passed" %}{% else %}{{ score_item.get_status_display }}{% endif %}</h4>
              </li>
            </ul>
            {% else %}
            <div class="row">
	      {% with section_count=activity.section_set.count %}
              <h4 class="col-xs-5 font-small-xs">{{ section_count }} {% trans "Section" %}</h4>
              <h4 class="col-xs-7 text-right font-small-xs">Total: {{ activity.max_score }} {% trans "Point" %}</h4>
	      {% endwith %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "question/fragment/history_result.html" %}

  <div class="container top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <!--Test Descripton-->
        {% if activity.desc|length > 0 %}
        <h3 class="main-color bold">{% trans "Test Description" %}</h3>
        <div>{{ activity.desc|safe|linebreaks }}</div>
        <hr />
        {% endif %}

        <!--Test condition-->
        {% if activity.condition|length > 0 %}
        <h3 class="main-color bold">{% trans "Test Condition" %}</h3>
        <div>{{ activity.condition|safe|linebreaks }}</div>
        <hr />
        {% endif %}

        {% if order_item != None %}
        <p>{% trans "Adding date" %} : {% if order_item.start %}{{ order_item.start.date }}{% else %}-{% endif %}</p>
        <p>{% trans "Adding method" %} : {% if order_item.order.method == 21 %}{% trans "Assignment" %}{% else %}{% trans "Self Enrollment" %}{% endif %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Content restriction -->
{% include "access/modal/content_level.html" %}
{% include "dependency/modal/content_list.html" %}
{% include "dependency/modal/restriction.html" %}

{% include "question/fragment/fragment_add_library.html" %}

{% if order_item %} {# FIXME : use? #}
<div class="modal fade" id="startTestingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only" data-dismiss="modal">{% trans "Close" %}</span>
        </button>
        <h3>{{ activity.name }}</h3>
        <p>{% trans "Please read the instruction below carefully before you start testing." %}</p>
        {% if activity.condition %}
        <div class="container-highlight top-pad-min">
          <p>{{ activity.condition|linebreaks }}</p>
        </div>
        {% endif %}
        <div class="top-pad">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <a href="#" class="btn-block btn-dark-grey" data-dismiss="modal">{% trans "Cancel" %}</a>
            </div>
            <div class="col-xs-6 col-sm-6">
              <a href="{{ section_url }}" class="btn-block btn-main-color">{% trans "Start Testing" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
