{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="featured-title">
        <h2 class="main-color bold">Featured Tests</h2>
    </div>

    {% if question_list|length > 0 %}
    <ul class="block-wrapper questions">
        {% for question in question_list %}
        {% include "question/item_new.html" %}
        {% endfor %}
    </ul>
    {% else %}
    <p id="no-lesson" class="text-center">No test</p>
    {% endif %}
</div>
{% include "about.html" %}
{% endblock %}
