{% load i18n %}
{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}
<li class="event test-event-profile">
  <a {% if item.status != 3 %} href="{% url 'question:detail' item.content_cached.id item.id %}" {% endif %} class="image-event">
    <div class="container-overlay">
      <img class="image" src="{% if item.content_cached.image %}{{ item.content_cached.image.url }}{% endif %}">
  </a>
  <div class="detail-event">
    <a {% if item.status != 3 %}href="{% url 'question:detail' item.content_cached.id item.id %}" {% endif %}><h3 class="no-btm-margin">{{ item.content_cached.name }}</h3></a>
    <div class="main-color">{% trans "Evaluate" %}</div>
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <a {% if item.status != 3 %}href="{% url 'question:detail' item.content_cached.id item.id %}" {% endif %}>
          <p class="coursebox-overview gray">{{ item.content_cached.desc|striptags|truncatechars:"90" }}</p>
        </a>
      </div>
    </div>
    <div class="item-status-box">
      {% if item.progress_cached.status == 1 %}
      <p class="text-center">
        {% trans "Ready to test" %}!
      </p>
      {% elif item.progress_cached.status == 2 %}
      {# <p class="text-center item-status">{% trans "Pass" %}</p> #}
      <p class="text-center item-status">{% trans "Completed" %}!</p>
      {% elif item.progress_cached.status == 3 %}
      <p class="text-center item-status">{% trans "Not Pass" %}!</p>
      {% elif item.progress_cached.status == 4 %}
      <p class="text-center item-status">{% trans "Expired" %}!</p>
      {% endif %}
      <!-- <p class="text-red text-center">{% if question.item_obj.expired.total_seconds == 0 %} {% trans "No expiry" %} {% else %} {% if question.item_obj.expired_date %} {% trans "Expired on" %} {{question.item_obj.expired_date|date:"d/m/y"}}{% endif %} {% endif %} </p> -->
    </div>
  </div>
</li>
