{% load i18n %}
{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}
<li class="event test-event">
  <a {% if course.status != 3 %} href="{% url 'question:detail' question.id%}" {% endif %} class="image-event">
    <div class="container-overlay">
      {% if question.image %}
      <div class="image test" style="background-image:url('{{ question.image.url }}')"></div>
      {% else %}
      <div class="image test" style="background-image:url('{% static "images/sample_course.jpg" %}')"></div>
      {% endif %}
    </div>
  </a>
  <div class="detail-event">
    <a {% if course.status != 3 %}href="{% url 'question:detail' question.id %}" {% endif %}><h3 class="no-btm-margin">{{ question.name }}</h3></a>
    <div class="main-color">{% trans "Onboarding" %}</div>
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <a {% if course.status != 3 %}href="{% url 'question:detail' question.id %}" {% endif %}>
          <p class="coursebox-overview gray">{{ question.overview|striptags|truncatechars:"90" }}</p>
        </a>
      </div>
    </div>
  </div>
</li>
