{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}
<li class="block block-slide">
    <a {% if course.status != 3 %}href="{% url 'question:detail' question.id%}"{% endif %}>
      {% if question.image %}
      <img class="cover" src="{{ question.image.url }}">
      {% else %}
      {% include 'main/fragment/default_course_image.html' %}
      {% endif %}
  </a>
  <div class="detail">
      <a {% if course.status != 3 %}href="{% url 'question:detail' question.id %}"{% endif %} class="course-name">{{ question.name }}</a>
      <div class="category main-color">Onboarding</div>
      <a {% if course.status != 3  %}href="{% url 'question:detail' question.id %}"{% endif %} class="hidden-section">
          <p class="coursebox-overview gray">
            {{ question.overview|striptags|truncatechars:"90" }}
          </p>
      </a>
  </div>
</li>
