{% load i18n %}
{% load duration_tags %}
{% load humanize %}
{% load content_tags %}
{% load progress_tags %}

{% get_content_type_tag "course" "course" as content_type_course %}
{% get_content_type_tag "course" "material" as content_type_material %}
{% get_content_type_tag "question" "activity" as content_type_question %}
{% get_content_type_tag "program" "onboard" as content_type_onboard %}
{% get_content_type_tag "program" "program" as content_type_program %}

{% if program and course and program.type == 2 %}
{% pull_content_location_first_tag content_type_question activity.id content_type_onboard program.id content_type_course course.id content_type_material material.id as content_location_question %}
{% elif program and course %}
{% pull_content_location_first_tag content_type_question activity.id content_type_program program.id content_type_course course.id content_type_material material.id as content_location_question %}
{% elif program and program.type == 2 %}
{% pull_content_location_first_tag content_type_question activity.id content_type_onboard program.id None -1 None -1 as content_location_question %}
{% elif program %}
{% pull_content_location_first_tag content_type_question activity.id content_type_program program.id None -1 None -1 as content_location_question %}
{% elif course %}
{% pull_content_location_first_tag content_type_question activity.id content_type_course course.id content_type_material material.id None -1 as content_location_question %}
{% else %}
{% pull_content_location_first_tag content_type_question activity.id None -1 None -1 None -1 as content_location_question %}
{% endif %}

{% pull_progress_tag order_item content_location_question content_type_question activity.id as progress %}

<div class="container container-stable">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h1 class="text-center">{{ question.name }}</h1>
      <p class="text-center">{% trans "Submitted on" %} {{ score_item.timestamp|date:"D d M Y H:i" }}</p>
      {% if progress.status == 1 and is_submit %}
      <p class="text-center">
        {% if program and course %}
        <a href="{% url 'question:section_program_course' activity.id program.id course.id material.id order_item.id %}" class="btn-inline btn-in-progress btn-lg">{% trans "Re-Testing" %}</a>
        {% elif program %}
        <a href="{% url 'question:section_program' activity.id program.id order_item.id %}" class="btn-inline btn-in-progress btn-lg">{% trans "Re-Testing" %}</a>
        {% elif course %}
        <a href="{% url 'question:section_course' activity.id course.id material.id order_item.id %}" class="btn-inline btn-in-progress btn-lg">{% trans "Re-Testing" %}</a>
        {% else %}
        <a href="{% url 'question:section' activity.id order_item.id %}" class="btn-inline btn-in-progress btn-lg">{% trans "Re-Testing" %}</a>
        {% endif %}
      </p>
      {% endif %}
      <h3 class="main-color bold top-pad">{% trans "Test Conditions & Criteria" %}</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="course-overview text-center row">
            <li class="col-xs-6 col-sm-3">
              <p>{% trans "Test Score" %}</p>
              <h3 class="main-color">{{ score_item.get_show_score }}</h3>
            </li>
            <li class="col-xs-6 col-sm-3">
              <p>{% trans "To Pass" %}</p>
              <h3 class="main-color">{{ score_item.pass_score }}</h3>
            </li>
            <li class="col-xs-6 col-sm-3">
              <p>{% trans "Test Count" %}</p>
              <h3 class="main-color">{{ score_item.submit_number }}/{{ score_item.max_submit }}</h3>
            </li>
            <li class="col-xs-6 col-sm-3">
              <p>{% trans "Status" %}</p>
              <h3 class="{% if progress.status == 1 %}text-in-progress{% elif progress.status == 2 %}text-completed{% elif progress.status == 3 %}text-fail{% elif progress.status == 4 %}text-expired{% endif %}">
                {{ progress.get_status_display }}
              </h3>
            </li>
          </ul>
        </div>
      </div>
      {% include "question/section_block.html" with item=question %}

      <ul class="curr-vdolist test-section-item no-thumb bg-main img-rounded top-margin-little">
	<li class="vdolist-name">
	  <div class="vdo-thumb">
            <i class="fa fa-edit fa-4x"></i>
	  </div>
	  <h4>{% trans "Total" %}: {{ question.section_set.all.count }} {% trans "Sections" %}</h4>
	</li>
      </ul>
    </div>
  </div>
</div>
{% include "question/fragment/history_result.html" %}
