{% extends "base.html" %}
{% load staticfiles %}
{% block headerscript %}
<style>
.quiz-wrap > .clip	{
	padding: 0 50px 60px;
}
</style>
{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block footerscript %}{% endblock %}
{% block content %}
<div class="quiz-wrap">
  <div class="clip">
    {% include "question/result_block.html" %}
  </div>
</div>
{% endblock %}
