{% load i18n %}
{% load question_tags %}

<div class="panel panel-default">
  {% for section in item.section_set.all %}
  {% score_section_tag2 section score_section_list as score_section %}
  <div class="test-section vertical-middle">
    <div class="icon-type hide-xs">
      {% if section.type == 0 %}<i class="fa fa-file-text-o"></i>
      {% elif section.type == 1 %}<i class="fa fa-sliders"></i>
      {% elif section.type == 2 %}<i class="fa fa-check-square-o"></i>
      {% elif section.type == 3 %}<i class="fa fa-list-ol"></i>
      {% elif section.type == 4 %}<i class="fa fa-pencil-square-o"></i>
      {% elif section.type == 5 %}<i class="fa fa-pencil-square-o"></i>
      {% endif %}
    </div>
    <div class="item-name">
      <h4>{{ section.name }}</h4>
      {% with question_count=section.question_set.count %}
      <span class="grey">{{ section.get_type_display }} {% if section.type != 0 %} | {{ question_count }} {% trans "Question" %}{{ question_count|pluralize }} {% endif %}</span>
      {% endwith %}
    </div>
    {% if section.type == 2 %}
    <div class="total-score">
      {% if score_section.status == 2 or score_section.status == 3 %}
      {{ score_section.score }}/{{ score_section.max_score }} {% trans "Point" %}
      {% else %}
      {{ section.score }} {% trans "Point" %}
      {% endif %}
    </div>
    {% elif section.type == 4 and section.score != 0 %}
    <div class="total-score">
      {% if score_section.status == 2 or score_section.status == 3 %}
      {{ score_section.score }}/{{ score_section.max_score }} {% trans "Point" %}
      {% elif score_section.status == 5 %}
      {% trans "Verifying" %}
      {% else %}
      {{ section.score }} {% trans "Point" %}
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
