{% load i18n %}
<header class="panel-heading entry-header sticky clearfix">
    <h3 class="entry-title">{{section.name}}</h3>
    <div class="step-action">
        <a href="javascript:void(0)" class="btn btn-default left-icon prev"><i class="fa fa-angle-left"></i> {% trans "Previous" %}</a>
        <h4><span class="current"></span>/<span class="total"></span></h4>
        <a href="javascript:void(0)" class="btn btn-default right-icon next">{% trans "Next" %} <i class="fa fa-angle-right"></i></a>

    </div>
</header>
