{% load i18n %}
{% load static %}
{% load question_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ activity.name }} - {% block project_name %}Conicle{% endblock %}</title>
    {% block project_identity %}
    <link rel="shortcut icon" href="{% static "demo.ondemand/images/customize/favicon.ico" %}" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/plugin/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'question/css/question_style.css' %}" />
    {% block theme-css %}
    <link rel="stylesheet" href="{% static "demo.ondemand/css/theme.css" %}" />
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body class="question-section-list" style="padding-top:0px;">
    <header class="site-header">
      <div class="container">
        <div class="entry-header">
          <h1><a href="{{previous_url}}" class="backBtn"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><span class="entry-title verticalMiddle">{{ activity.name }}</span></h1>
          <div class="entry-meta hidden"><span class="items cat">ชื่อหมวดหมู่</span><span class="items byline">จอห์น โด</span></div>
        </div>
      </div>
      {% comment %}
      <div class="entry-content"><p>{{ activity.desc }}</p></div>
      {% endcomment %}
      {% comment %}
      <div class="time-count">
    	<div class="count-box">
    	  <h4><i class="fa fa-clock-o" style="margin-top:-2px;"></i> {% trans "Time Left" %} <span id="clock"></span></h4>
    	</div>
      </div>
      {% endcomment %}
    </header><!-- Site Header -->

    <!-- Site Main -->
    <section class="site-main loading">
      <div class="spinner-wrap">
        <div class="question-spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
      <div class="site-main-container">

        <!-- FORM -->
        <form action="{{ submit_url }}{% if material != None %}?material={{ material }}{% endif %}" method="POST" id="myForm">
          {% csrf_token %}
          {% if view == "playlist" %}
          <input type="hidden" name="view" value="{{ view }}">
          {% endif %}
          <ul>
	    {% for section in section_list %}
	    <li><a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ section.name }}</a></li>
	    {% endfor %}
          </ul>
          <section class="tab-content">

	    {% for section in section_list %}
	    {% if section.type == 0  %}
	    <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                    {% if section.api_display.content_1 %}
                  <p>{{ section.api_display.content_1 }}</p>
                    {% endif %}
                  {% if section.api_display.video %}
                  <video width="320" height="240" poster="{{ section.api_display.video_thumb }}" controls>
		            <source src="{{ section.api_display.video }}" type="video/mp4" />
		            {% trans "Your browser does not support the video tag." %}
                  </video>
                  {% elif section.api_display.image %}
                  <div class="text-center"><img src="{{ section.api_display.image }}" /></div>
                  <br />
                  {% endif %}
                  <br />
                {% if section.api_display.content_2 %}
                  <p>{{ section.api_display.content_2 }}</p>
                {% endif %}
                </article>
	      </section>
	    </div>
	    {% elif section.type == 1 %}
	    <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                  <fieldset>
		    <!-- Form Group -->
		    {% for question in section.question_set.all %}
		    <div class="form-group">
		      <legend>{{ forloop.counter }}) {{ question.text }} {% if question.score > 0%}<strong class="font-15">({{ question.score }} {% trans "Point(s)" %})</strong>{% endif %}</legend>
		      <div class="text-center">
                        <label for="mode" class="before-btn-group">{% trans "Not Likely" %}</label>
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default">
			    <input type="radio" name="{{ question.id }}" class="radio-btn" value="1" required=""> 1
                          </label>
                          <label class="btn btn-default">
			    <input type="radio" name="{{ question.id }}" class="radio-btn" value="2"> 2
                          </label>
                          <label class="btn btn-default">
			    <input type="radio" name="{{ question.id }}" class="radio-btn" value="3"> 3
                          </label>
                          <label class="btn btn-default">
		            <input type="radio" name="{{ question.id }}" class="radio-btn" value="4"> 4
                          </label>
                          <label class="btn btn-default">
	                    <input type="radio" name="{{ question.id }}" class="radio-btn" value="5"> 5
                          </label>
                          <label class="btn btn-default">
		            <input type="radio" name="{{ question.id }}" class="radio-btn" value="6"> 6
                          </label>
                          <label class="btn btn-default">
		            <input type="radio" name="{{ question.id }}" class="radio-btn" value="7"> 7
                          </label>
                          <label class="btn btn-default">
		            <input type="radio" name="{{ question.id }}" class="radio-btn" value="8"> 8
                          </label>
                          <label class="btn btn-default">
		            <input type="radio" name="{{ question.id }}" class="radio-btn" value="9"> 9
                          </label>
                          <label class="btn btn-default">
			    <input type="radio" name="{{ question.id }}" class="radio-btn" value="10"> 10
                          </label>
                        </div>
                        <label for="mode" class="after-btn-group">{% trans "Very Likely" %}</label>
		      </div>
	            </div>
		    {% endfor %}
                  </fieldset>
                </article>
	      </section>
	    </div>
	    {% elif section.type == 2 %}
	    <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                  <fieldset>

		    {% for question in section.get_question_list_shuffle_none %}
            {% score_answer_tag question answer_list as answer %}
		    <div class="form-group">

		      <legend>{{ forloop.counter }}) {{ question.text }} {% if question.score > 0%}<strong class="font-15">({{ question.score }} {% trans "Point(s)" %})</strong>{% endif %}</legend>
		      {% for choice in question.choice_set.all %}
		      <div class="radio ">
                        <label>

                          <input type="radio" name="{{ question.id }}" id="optionsRadios" value="{{ choice.id }}" class="required" required="" disabled {% if choice.id == answer.choice_id %} checked {% endif %}/>
                          {{ choice.text }}
                          {% if choice.id == answer.choice_id and not choice.is_answer %}
                          <span class="text-red m-l-10"><i class="fa fa-close"></i> Wrong Answer</span>
                          {% elif choice.is_answer %}
                          <span class="text-green m-l-10"><i class="fa fa-check"></i> Correct Answer</span>

                          {% endif %}
                        </label>
		      </div>
	              {% endfor %}
		    </div>
		    {% endfor %}
                  </fieldset>
                </article>
	      </section>
	    </div>
	    {% elif section.type == 3 %}
	    <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                  <fieldset>
		    {% for question in section.question_set.all %}
		    <div class="form-group">
		      <legend>{{ forloop.counter }}) {{ question.text }} {% if question.score > 0%}<strong class="font-15">({{ question.score }} {% trans "Point(s)" %})</strong>{% endif %}</legend>
		      {% for choice in question.choice_set.all %}
		      <div class="checkbox">
                        <label><input type="checkbox" name="{{ question.id }}" value="{{choice.id}}" required /> {{ choice.text }}</label>
		      </div>
		      {% endfor %}
		    </div>
		    {% endfor %}
                  </fieldset>
                </article>
	      </section>
	    </div>
	    {% elif section.type == 4 %}
	    <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                  <fieldset>
		    <!-- Form Group -->
		    {% for question in section.get_question_list_shuffle_none %}
                 {% score_answer_tag question answer_list as answer %}

	            <div class="form-group">
		      <legend>{{ forloop.counter }}) {{ question.text }} {% if question.score > 0%}<strong class="font-15">({{ question.score }} {% trans "Point(s)" %})</strong>{% endif %}</legend>
                      <textarea class="form-control" rows="4" name="{{ question.id }}" placeholder="{% trans 'Input answer here' %}..." disabled>{{answer.data}}</textarea>
                    </div>
		    {% endfor %}
                  </fieldset>
                </article>
	      </section>
	    </div>
	    {% elif section.type == 5 %}
            <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/show_answer_header.html" %}
                <article class="entry-content">
                  <fieldset>
		    {% for question in section.question_set.all %}
	            <div class="form-group inputs-group">
		      <legend>{{ forloop.counter }}) {{ question.text }} {% if question.score > 0%}<strong class="font-15">({{ question.score }} {% trans "Point(s)" %})</strong>{% endif %}</legend>
	              {% for choice in question.choice_set.all %}
	              <div class="form-group">
                        <label for="exampleInputEmail1">{{ choice.text }}</label>
                        <input type="text" class="form-control" name="{{ question.id }}-{{ choice.id }}" placeholder="{% trans 'Input answer here' %}..." />
		      </div>
		      {% endfor %}
		    </div>
		    {% endfor %}
                  </fieldset>
                </article>
	      </section>
	    </div>
	    {% else %}
            <div class="tab-pane" id="tab{{ forloop.counter }}">
	      <section class="panel panel-default content-area content-section">
                {% include "question/section_header.html" %}
	      </section>
	    </div>
	    {% endif %}
	    {% endfor %}
          </section>
          {% comment %}
          <!-- Footer Action -->
          <footer class="footer-action">
            <div class="action-box panel panel-default clearfix">
              <h4 class="section-level">{% trans "Section" %} <span class="current"></span>/<span class="total"></span></h4>
              <a href="javascript:void(0)" class="btn btn-link left-icon prev"><i class="fa fa-angle-left"></i> {% trans "Previous" %}</a>
              <a href="javascript:void(0)" class="btn btn-primary btn-pd right-icon next">{% trans "Next" %} <i class="fa fa-angle-right"></i></a>
              <a href="javascript:void(0)" class="btn btn-default btn-finish">{% trans "Submit" %}</a>
            </div>
          </footer><!-- Footer Action -->
          {% endcomment %}
        </form><!-- FORM -->

      </div>
    </section><!-- Site Main -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <!-- <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'></script> -->
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <!-- <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js'></script> -->
    <script src="{% static 'js/additional-methods.min.js' %}"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script> -->
    <script src="{% static 'js/jquery.ba-throttle-debounce.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'question/js/libs.min.js' %}"></script>
    <script>
      var timeLeft = 0
    </script>
    <script src="{% static 'question/js/main.js' %}"></script>
    <script>
      $(function(){
      window.onbeforeunload = null;
      document.addEventListener('contextmenu', function(event){event.preventDefault()} );
      });
    </script>
    <audio id="ticking-intro">
      <source src="{% static 'sound/ticking-noise.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="ticking-noise">
      <source src="{% static 'sound/ticking-noise.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="ringing-clock">
      <source src="{% static 'sound/ringing-clock.mp3' %}" type="audio/mpeg">
        {% trans "Your browser does not support the audio element." %}
    </audio>
  </body>
</html>
