{% load i18n %}
{% if progress.status == 2 %}
<h4 class="btn-status-block completed text-center">
  {% trans "Latest Score" %}: {{ score_item.score }}/{{ score_item.max_score }} {% trans "Point" %}
</h4>
{% elif progress.status == 3 %}
<h4 class="btn-status-block fail text-center">
  {% trans "Latest Score" %}: {{ score_item.score }}/{{ score_item.max_score }} {% trans "Point" %}
</h4>
{% elif progress.status == 4 %}
<h4 class="btn-status-block expired text-center">
  {% trans "Expired" %}
</h4>
{% endif %}
