{% load i18n %}
{% load staticfiles %}
{% if tutor_list|length > 0 %}
<div class="avatar-info-inline">
    {% for tutor in tutor_list %}
    <a href="{% url 'tutor:detail' tutor.id %}" title="{{ tutor.name }}">
      <img src="{% if tutor.image %}{{ tutor.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" class="avatar" />
    </a>
    {% endfor %}
    <a href="{% url 'tutor:detail' tutor_list.0.id %}" class="link-normal">{{ tutor_list.0.name }}</a>
    {% if tutor_list|length > 1 %}
    <span>{% trans "and" %} {{ tutor_list|length|add:"-1" }} {% trans "more" %}</span>
    {% endif %}
</div>
{% endif %}
