<div class="container container-stable top-margin-little">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            {% if course.desc|length > 0 %}
            <h3 class="main-color bold">Course Description</h3>
            <div>{{course.desc|safe|linebreaks}}</div>
            <hr /> {% endif %}

            {% if course.condition|length > 0 %}
            <h3 class="main-color bold">Course Condition</h3>
            <div>{{course.condition|safe|linebreaks}}</div>
            <hr />
            {% endif %}

            {% comment %}
            {% if course.tag_list|length > 0 %}
            <h3 class="main-color bold">Tags</h3>
            <div class="event-tags ">
                {% for tag in course.tag_list %}
                <a class="">{{ tag }}</a>
                {% endfor %}
            </div>
            <hr />
            {% endif %}
            {% endcomment %}

            {% if order_item %}
            <p>Adding date : {% if order_item.start %}{{ order_item.start.date }}
            {% else %}-{% endif %}</p>
            <p>Adding method : {% if order_item.order.method == 21 %}Assignment
            {% else %}Self Enrollment{% endif %}</p>
            {% endif %}

            {% include "main/review.html" with type=course type_s="course" %}

            {% comment %}
            {% include "course/faq.html" with faq_list=course.faq_list %}
            {% include "course/fragment/fragment_share.html" %}
            {% endcomment %}
        </div>
    </div>
</div>
