{% load i18n %}
{% load static %}
<script type="text/javascript">
		var tracker_url = null
		var menustate = true;
		var random = new Date().getTime();
		var ratio_w = 1280;
		var ratio_h = 720;
		var is_player = false;
		var lastSeek = null;
		var player;

		{% if material.type == 0 or material.type == 4 %}
		var pingInterval = setInterval(function () {onPingVideo()}, 1000*60);
		window.onunload = function (event) {
				/*var message = 'Sure you want to leave?';
				if (typeof event == 'undefined') {
					event = window.event;
				}
				if (event) {
					event.returnValue = message;
				}*/
				console.log('onunload');
				player.pause();
				/*return message;*/
		}
		{% endif %}

		$('#wrap-video').height($(window).height() - 388);

		function resizeVideo(){
				var w = $(window).width();
				if(menustate)	w -= 350;
				$('.vdo-option').width(w);
				$('#wrap-video').width(w);
		}

		{% if order_item  and program %}
		tracker_url = '{% url 'course:stamp_program' program.id course.id material.id order_item.id %}'
		{% else %}
		tracker_url = '{% url 'course:stamp' course.id material.id order_item.id %}'
		{% endif %}

		$(window).bind('resizeEnd', function() {
			resizeVideo();
		});

		function redirectNext() {
		    if($('#button-next').length > 0) window.location.replace($('#button-next').attr('href'));
		}

		$(window).resize(function() {
				if(this.resizeTO) clearTimeout(this.resizeTO);
				this.resizeTO = setTimeout(function() {
						$(this).trigger('resizeEnd');
				}, 500);
		});

		$(document).ready(function() {
			/*$('.menulink').bigSlide({
				"init":function(){
					$(".vdo-option").width( $(".wrap").width());
				},
				"open":function(){
					$(".vdo-option").width( $(".wrap").width());
					$("#wrap-video").css("margin-left", '350px');
					$("#vdo-mode").html('<i class="fa fa-expand"></i> Full Mode');
				},
				"closed" : function(){
					$(".vdo-option").width( $(".wrap").width());
					$("#wrap-video").css("margin-left", '0px');
					$("#vdo-mode").html('<i class="fa fa-compress"></i> Default Mode');
				},
			});*/
		});
</script>

{% comment %}
<script type="text/javascript">
		// FlowPlayer for case ? //
		$(document).ready(function() {
				$("#player").flowplayer({
						playlist: [[{ mp4: "{{ video_url|safe }}" }]],
						splash: true,
				});
				flowplayer.conf = {
						splash: true,
						autoplay: true,
						analytics: "{{GOOGLE_ANALYTICS_KEY}}"
				};
				flowplayer().load("{{ video_url|safe }}");
		});
</script>
{% endcomment %}

{% if material.video_type == 0 %}
<script type="text/javascript">
		//JW Player
		jwplayer("player").setup({
				flashplayer: "{% static "swf/jwplayer.flash.swf" %}",
				file: "{{ video_url|safe }}",
				width: '100%',
				height: '100%'
		});
		jwplayer().play();
		jwplayer().onComplete(function(event){
			setTimeout(redirectNext, 1500);
		});
</script>
{% elif material.video_type == 1 %}
<script type="text/javascript">
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		var player;
		var state=null;
		function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
						height: '100%',
						width: '100%',
						videoId: '{{ material.data }}',
						playerVars: { 'autoplay': 1, 'controls': 1 },
						events: {
							'onReady': onPlayerReady,
							'onStateChange': onPlayerStateChange
						}
				});
		}

		function onPlayerReady(event) {
			event.target.playVideo();
		}

		function onYTDone(result){

		}

		function onYTStart(){
			if(tracker_url != null){
				$.ajax({
				url: tracker_url,
				method: 'POST',
				data: {'action': 1,
				'now': Date.now(),
				'time': player.getCurrentTime()}
				}).done(onYTDone);
			}
		}

	function onYTPause(){
		if(tracker_url != null){
			$.ajax({
				url: tracker_url,
				method: 'POST',
				data: {'action': 2,
				'now': Date.now(),
				'time': player.getCurrentTime()}
			}).done(onYTDone);
		}
	}

	function onYTResume(){
		if(tracker_url != null){
			$.ajax({
				url: tracker_url,
				method: 'POST',
				data: {'action': 3,
				'now': Date.now(),
				'time': player.getCurrentTime()}
			}).done(onYTDone);
		}
	}

	function onYTSeek(){
		if(tracker_url != null){
			$.ajax({
				url: tracker_url,
				method: 'POST',
				data: {'action': 4,
				'now': Date.now(),
				'time': player.getCurrentTime()}
			}).done(onYTDone);
		}
	}

	function onYTFinish(){
		if(tracker_url != null){
			$.ajax({
				url: "",
				method: 'POST',
				data: {'action': 5,
				'now': Date.now(),
				'time': player.getCurrentTime()}
			}).done(onYTDone);
		}
	}

	function onPlayerStateChange(event) {
		console.log('state : '+ state + ', event : ' + event.data)
		if(state == null){
			state = event.data;
			onYTStart();
		}else{
			if(state == 1 && event.data == 2){
				onYTPause();
			}else if(state == 2 && event.data == 1){
				onYTResume();
			}else if(state == 3 && event.data == 1){
				onYTSeek();
			}else if(state == 3 && event.data == 2){
				onYTSeek();
			}else if(event.data == 0){
				onYTFinish();
			}
			state = event.data;
		}
		if (event.data == YT.PlayerState.ENDED) {
			setTimeout(redirectNext, 1500);
		}
	}

	function stopVideo() {
			player.stopVideo();
	}
</script>

{% elif material.video_type == 2 or material.video_type == 3 %}
<script type="text/javascript">
  function updateProgress(result){
      if(!result.is_active){
	  player.stop();
	  var swalOptions = {
	      title: "{% trans 'Expired' %}!",
	      text: "{% trans 'This course has expired.' %}",
	      type: "warning",
	      customClass: "helvethaicaais",
	      confirmButtonColor: "#231f20",
	      confirmButtonText: "OK",
	      closeOnConfirm: false
	  }
	  swal(swalOptions, function(){
	      {% if order_item %}
	      window.location.href = "{% url 'course:detail' course.id order_item.id %}";
	      {% else %}
	      window.location.href = "{% url 'course:detail' course.id %}";
	      {% endif %}
	  });
      }
      $('#progress-percent').html(Math.round(parseInt(result.progress_percent)) + "%");
      if(result.is_remaining){
	  $('#progress-remaining').html(result.remaining + " hrs.");
      }
      // console.log('UpdateProgress');
      //Add Watermark
      var randTop = Math.floor((Math.random() * 70) + 15);
      var randLeft = Math.floor((Math.random() * 70) + 15);
      var blink = '<div id="video-learner-info" style="top:'+randTop+'%;left:'+randLeft+'%">'+ btoa(result.item_id)+'<br />{{ ip }}</div>';
      $('.flowplayer .fp-player .fp-ui').prepend(blink);
      setTimeout(function(){
	  $('#video-learner-info').remove();
      },1000);
  }

function onStartVideo(){
    if(tracker_url != null){
	lastSeek = null;
	clearInterval(pingInterval);
	pingInterval = setInterval(function () {onPingVideo()}, 1000*60);
	is_player = true;
	$.ajax({
	    url: tracker_url,
	    method: 'POST',
	    data: {'action': 1,
		   'now': Date.now(),
		   'time': player.video.time}
	}).done(updateProgress);
    }
}

function onPauseVideo(){
    if(tracker_url != null){
	lastSeek = null;
	clearInterval(pingInterval);
	$.ajax({
	    url: tracker_url + "?p",
	    method: 'POST',
	    data: {'action': 2,
		   'now': Date.now(),
		   'time': player.video.time}
	}).done(updateProgress);
    }
}

function onResumeVideo(){
    if(tracker_url != null){
	if(player.video.time == undefined){
	    return;
	}
	lastSeek = null;
	pingInterval = setInterval(function () {onPingVideo()}, 1000*60);
	$.ajax({
	    url: tracker_url + "?r",
	    method: 'POST',
	    data: {'action': 3,
		   'now': Date.now(),
		   'time': player.video.time}
	}).done(updateProgress);
    }
}

function onSeekVideo(){
    if(tracker_url != null){
	clearInterval(pingInterval);
	if(!player.paused){
	    pingInterval = setInterval(function () {onPingVideo()}, 1000*60);
	}
	var isSeek = false;
	if(lastSeek == null){
	    isSeek = true;
	}else if((Date.now() - lastSeek) / 1000 > 5){
	    isSeek = true;
	}
	if(isSeek){
	    lastSeek = Date.now();
	    $.ajax({
		url: tracker_url + "?s",
		method: 'POST',
		data: {'action': 4,
		       'now': Date.now(),
		       'time': player.video.time}
	    }).done(updateProgress);
	}
    }
}

function onFinishVideo(){
    if(tracker_url != null){
	clearInterval(pingInterval);
	$.ajax({
	    url: tracker_url + "?f",
	    method: 'POST',
	    data: {'action': 5,
		   'now': Date.now(),
		   'time': player.video.time}
	}).done(function(result){
	    updateProgress(result);
	    window.onbeforeunload = null;
	    {% if video_next != None %}
	    redirectNext();
	    {% endif %}
	});
    }
}

function onPingVideo(){
    if(tracker_url != null){
	if(player.video.time == 0.0){
	    clearInterval(pingInterval);
	    return;
	}
	if(player.paused){
	    clearInterval(pingInterval);
	    return;
	}
	$.ajax({
	    url: tracker_url + "?ping",
	    method: 'POST',
	    data: {'action': 6,
		   'now': Date.now(),
		   'time': player.video.time,
		   'width': player.video.width,
		   'height': player.video.height}
	}).done(updateProgress);
    }
}
</script>
{% endif %}
