{% load i18n %}
<div class="col-xs-{{ n }} text-center" style="border-right:1px solid #eee;">
  <p class="font-sm grey clear-pad">{% trans "Credit Hour Used" %}</p>
  <h4 class="font-bold clear-pad" id="progress-use-credit">{{ item.use_credit_hour }} hrs. ({{ item.percent }} %)</h4>
</div>
