<div class="overflow-hidden col-xs-12 col-sm-{{ n }}">
  <a href="#menu" class="menulink">
    <div class="wrap-btnmenu" id="topmenulink">
      <button class="btn btn-wht-transparent sb-toggle-left toggle"  href="#vdomenu" style="font-size:30px;padding:0;margin-top: -10px;">
	     <i class="fa fa-bars"></i>
      </button>
    </div>
  </a>
  <div class="clearfix">
    <div class="wrap-vdoname">
      <h3 class="font-bold clear-pad course-name">{{ course.name }}</h3>
      <p class="clear-pad grey">{{ video.name }}</p>
    </div>
  </div>
</div>
