{% load i18n %}
<div class="col-xs-{{ n }} text-center" style="border-right:1px solid #eee;">
  <p class="font-sm grey clear-pad">{% trans "Start Date" %}</p>
  <h4 class="font-bold clear-pad no-wrap">{{ order_item.start.date }}</h4>
</div>
