{% load i18n %}
<div class="col-xs-{{n}} text-center" id="progress-remaining-block">
  <p class="font-sm grey clear-pad">{% trans "Expired Day" %}</p>
  <h4 class="font-bold clear-pad" id="progress-remaining">{{ item.expired_day }}</h4>
</div>
