{% load i18n %}
<div class="col-xs-{{n}} text-center" style="border-right:1px solid #eee;">
  <p class="font-sm grey clear-pad">{% trans "Progress" %}</p>
  <h4 class="font-bold clear-pad" id="progress-percent">{{ progress_course.percent|floatformat:"0" }}%</h4>
</div>
