{% load i18n %}
{% load static %}
{% if material.type == 4 %}
<style>
.flowplayer {
  overflow-wrap: break-word;
  {% if course.image %}background-image: url('{{ course.image.url }}');{% endif %}
  background-color: #333;
}
/* make cover image fill container width */
.is-audio.flowplayer .fp-player {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  /*background-size: cover;          /* default: contain */*/
  /*background-position: top center; /* default: center */*/
}
</style>
{% endif %}
{% if stream == None %}
    {% if material.video_type == 0 or material.video_type == 1 %}
    <div id="player" data-embed="false" class="flowplayer no-toggle"></div>
    {% elif material.video_type == 2 %}
    <!-- Case Amazon Cloud Front -->
    <a href="{{ video_url.href|safe }}" id="player"></a>
    <script type="text/javascript">
        player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
            engine: "flash",
            flashfit: true,
            wmode: "opaque",
            ratio: 9 / 16,
            splash: true,
            clip: {
                provider: "rtmp",
                scaling: "fit",
                onStart: function(clip) {
                    onStartVideo();
                },
                onPause: onPauseVideo,
                onResume: onResumeVideo,
                onSeek: onSeekVideo,
                onFinish: onFinishVideo,
            },
            plugins: {
                rtmp: {
                    url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
                    netConnectionUrl: '{{ video_url.rtmpe }}'
                },
                watermark: {
                    url: '{% static "player/flowplayer.content-3.2.9.swf" %}',
                    top: 10,
                    width: 300,
                    height: 130,
                    opacity: 0.8,
                    borderRadius: 10,
                    style: {
                        '.title': {
                            fontSize: 16,
                            fontFamily: 'verdana,arial,helvetica'
                        }
                    },
                    html: '',
                }
            }
        });
    </script>
    {% elif material.video_type == 3 or material.type == 4 %}
    <div id="hlsjslive" class="is-audio is-closeable flowplayer no-toggle"></div>
    <script type="text/javascript">
        $(function(){
            player = flowplayer("#hlsjslive", {
                autoplay: true,
                //splash: true,
                embed: false,
                ratio: 9/16,
                {% if material.type == 4 %}
                audio: true,
                coverImage: "{% if course.image %}{{ course.image.url }}{% endif %}",
                {% endif %}
                clip: {
                    sources: [
                      {% if material.type == 0 %}
                      {
                        type: "application/x-mpegurl",
                        src: "{{ video_url }}"
                      }
                      {% elif material.type == 4 %}
                      {
                        type: "audio/mp3",
                        src: "{{ video_url }}"
                      }
                      {% endif %}
                    ]
                }
            });
            player.on("ready", function(e) { onStartVideo(); });
            player.on("pause", function(e) { onPauseVideo(); });
            player.on("resume", function(e) { onResumeVideo(); });
            player.on("seek", function(e) { onSeekVideo(); });
            player.on("finish", function(e) { onFinishVideo(); });
            player.on("error", function(e) {
              $(".fp-message").html('').attr({'style':'background:url({% static "images/error-video-preview.png" %}) no-repeat center / 40% auto;padding-top:0;'})
            });
            $('.btn-mode').click(function(){
                player.fullscreen();
            });
        });
    </script>
    {% endif %}
{% else %}
<div id="player" class="flowplayer" data-ratio="0.4167" video="{{ video.id }}" quality="{{ stream.quality_default }}" />
<script type="text/javascript">
    $(function(){
        player = flowplayer("#player", {
            embed: false,
            autoplay: true,
            clip: {
                sources: [
                  {% comment %}
                  {
                      type: "application/dash+xml",
                      src: "http://103.246.16.183:1935/ais-mobile/_definst_/mp4:1460009658201752/1460009864201768.mp4/manifest.mpd"
                  },
                  {% autoescape on %}
                  {
                      type: "application/dash+xml",
                      src: "{{ stream.dash_noen|escape }}"
                  },
                  {% endautoescape %}


                  {% endcomment %}
                  {% if material.type == 0 %}
                  {% autoescape on %}
                  {
                      type: "application/x-mpegurl",
                      src: "{{ video_url }}"
                  },
                  {% endautoescape %}
                  {% elif material.type == 4 %}
                  {% autoescape on %}
                  {
                      type: "audio/mp3",
                      src: "{{ video_url }}"
                  },
                  {% endautoescape %}
                  {% endif %}

              ]
            }
        });
        player.on("ready", function(e, api) {});
        player.on("load", function(e) { onStartVideo(); });
        player.on("pause", function(e) { onPauseVideo(); });
        player.on("resume", function(e) { onResumeVideo(); });
        player.on("seek", function(e) { onSeekVideo(); });
        player.on("finish", function(e) { onFinishVideo(); });
        $('.btn-mode').click(function(){
            player.fullscreen();
        });
    });
</script>
</div>
{% endif %}

{#% include "course/fragment/video_option.html" %#}
