{% load i18n %}
<div class="col-xs-{{ n }} text-center" style="border-right:1px solid #eee;">
  <p class="font-sm grey clear-pad">{% trans "Credit Remain" %}</p>
  <h4 class="font-bold clear-pad">{{ item.credit_remain_hour }}</h4>
</div>
