{% load i18n %}
{% load static %}
<div class="vdo-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
	{% if order_item and program %}
	<a href="{% url 'course:detail_program' program.id course.id order_item.id %}" class="btn btn-back"><i class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
	{% elif order_item %}
	<a href="{% url 'course:detail' course.id order_item.id %}" class="btn btn-back"><i class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
	{% else %}
        <a href="{% url 'course:detail' course.id %}" class="btn btn-back"><i class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
	{% endif %}
      </div>
      <div class="col-xs-4 col-sm-5 col-md-6 text-center">
        {% if PLATFORM_ID == 3 %}
        <img src="{% static "clickforclever/images/header_videologo.png" %}">
        {% else %}
        <img src="{% static "images/header_videologo.png" %}" class="logo">
        {% endif %}
      </div>

      <div class="col-xs-4 col-sm-3 col-md-2 vertical-middle text-right">
        {% comment %}
        {% if user.is_authenticated %}
        <div class="user-info">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <div class="user-avatar">
                {% if user.image %}
                <img src="{{ user.image.url }}">
                {% else %}
                <img src="{% static 'images/profile_default.jpg' %}">
                {% endif %}
              </div>
              <div class="user-name grey">
                <span class="name">{{ user.get_display|truncatechars:25 }}</span>
              </div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="{% url 'profile' %}">{% trans "My Library" %}</a></li>
              <li><a href="{% url 'profile_edit' %}">{% trans "Edit Profile" %}</a></li>
              <li><a href="{% url 'account:logout' %}">{% trans "Logout" %}</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
