{% load i18n %}
{% if relate_course_list|length > 0 %}
<hr />
<ul class="box-wrapper">
    <h4>{% trans "Recommend courses" %}
        <a href="{% url 'course:home' %}" class="pull-right btn-inline-small btn-main-color">
            {% trans "See all" %} <i class="fa fa-plus-circle"></i>
        </a>
    </h4>
    {% for course in relate_course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
</ul>
{% endif %}
