{% load i18n %}
{% load static %}
<div class="vdo-option">
    <!-- <a href="#" id="vdo-mode" class="btn-mode pull-left"><i class="fa fa-expand"></i> {% trans "Full Mode" %}</a> -->
    {% if video_previous and order_item and program  %}
    <a id="button-prev" href="{% url 'course:playlist_program' program.id course.id video_previous order_item.id %}" class="btn btn-blk pull-left">
      <i class="fa fa-caret-left"></i> {% trans "Previous" %}
    </a>
    {% elif video_previous and order_item %}
    <a id="button-prev" href="{% url 'course:playlist' course.id video_previous order_item.id %}" class="btn btn-blk pull-left">
      <i class="fa fa-caret-left"></i> {% trans "Previous" %}
    </a>
    {% elif video_previous %}
    <a id="button-prev" href="{% url 'course:video_public' course.id video_previous %}" class="btn btn-blk pull-left">
        <i class="fa fa-caret-left"></i> {% trans "Previous" %}
    </a>
    {% endif %}
    {% if video_next and order_item and program %}
    <a id="button-next" href="{% url 'course:playlist_program' program.id course.id video_next order_item.id %}" class="btn btn-blk pull-right">
        {% trans "Next" %} <i class="fa fa-caret-right"></i>
    </a>
    {% elif video_next and order_item %}
    <a id="button-next" href="{% url 'course:playlist' course.id video_next order_item.id %}" class="btn btn-blk pull-right">
      {% trans "Next" %} <i class="fa fa-caret-right"></i>
    </a>
    {% elif video_next %}
    <a id="button-next" href="{% url 'course:video_public' course.id video_next %}" class="btn btn-blk pull-right">
        {% trans "Next" %} <i class="fa fa-caret-right"></i>
    </a>
    {% endif %}
</div>
