{% load i18n %}
{% if is_dependency %}
<button type="button" class="btn btn-grey top-margin-more-little" data-toggle="modal" data-target="#contentDependencyModal">
  <i class="fa fa-link"></i> {% trans "Content Dependency" %}
</button>
{% endif %}

{% if content_permission %}
<button type="button" class="btn btn-grey top-margin-more-little" data-toggle="modal" data-target="#classAuthorizedModal">
  <i class="fa fa-user"></i> {% trans "User Class Authorized" %}
</button>
{% endif %}
