{% load staticfiles %}
<div class="footer foot-none" style="background-color: #383838; padding:15px 0;">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="text-center" style="font-size:15px; color:rgb(216, 216, 216); padding-top:20px;">
               {% comment %}
               <img src="{% static 'images/logo-white.png'%}" style="width: 170px;opacity: 0.9; margin:15px 0;">
               {% endcomment %}
               <p>Cocodemy’s mission is to empower people to learn and teach things better</br>with innovation, creativity, and  inspiration.</p>
               {%if not hidecontact %}
               <p>Contact us : Tel. 0-2077-2868 Email. contact@conicle.com</p>
               {% endif %}
               <p>Copy Right 2015 Conicle Co.,Ltd.</p>
            </div>
         </div>
      </div>
   </div>
</div>