<div class="footer foot-none">
   <div class="container">
      <div class="row">
         <div class="col-xs-8">
            <div class="row">
               <div class="col-xs-4">
                  <h6>Course</h6>
                  <ul>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                  </ul>
               </div>
               <div class="col-xs-4">
                  <h6>Help</h6>
                  <ul>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                  </ul>
               </div>
               <div class="col-xs-4">
                  <h6>Contact Us</h6>
                  <ul>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                     <li><a href="">Textbooks</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-xs-4">
            <div>
               <h6>Follow Us</h6>
               <a target="_blank" href="https://www.facebook.com/pages/Conicle/680297472051881"><i class="icon icon-facebook"></i></a>
               <a ><i class="icon icon-twitter"></i></a>
               <a ><i class="icon icon-pinterest"></i></a>
               <a ><i class="icon icon-instagrem"></i></a>
            </div>
            <div class="subscribe">
               <p>Join For Special / Update Promotion</p>
               <form class="form-inline" role="form">
                  <div class="form-group">
                     <input type="email" class="form-control" id="" placeholder="Email Address">
                  </div>
                  <button type="submit" class="btn btn-blk">Subscribe</button>
               </form>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12">
            <div class="copyright">
               Copyright © Conicle Co.,Ltd. 2014. ALL RIGHTS RESERVED
            </div>
         </div>
      </div>
   </div>
</div>
<button class="btn btn-default fixed-top">
   <i class="icon icon-up-open icon2x"></i><br>Top
</button>
