{% load staticfiles %}
{% url 'home' as home_url %}
<header>
  {% comment %}
  <div class="top" data-spy="affix" data-offset-top="56" >
    {% endcomment %}
    <div class="top">
      <div class="container">
        {% if  is_static and logo_path|length != 0 %}
        <a href="{% url 'institute:detail' institute.slug %}" class="logo pull-left">
          {% else %}
          <a href="{{ home_url }}" class="logo pull-left">
            {% endif %}
            {% if  is_static and logo_path|length != 0 %}
            <img src="{{logo_path}}">
            {% else %}
            <img src="{% static logo_path|default:"images/customize/logo.png" %}">
            {% endif %}
          </a>
          <span style="float:left; margin-top:13px;">&nbsp;{{ tagline|default:"- Learning without boundary -"}}
            {% if  is_static and logo_path|length != 0 %}
            <a href="{{ home_url }}"><img style="height:22px;" src="{% static "images/customize/logo-poweredby.png" %}"></a>
            {% endif %}
          </span>
          <div class="unstyle browse-course">
	    
          </div>
          <ul class="unstyle login" style="padding-top:8px;">
            <li><a href="{% url 'lesson:detail' lesson.id %}" style="margin-top: 10px;" >&nbsp;&nbsp;&nbsp;  <span id="countdown-text" style="font-size:18px;" class="red">Continue to Lesson >><span></a></li>
          </ul>
      </div>
    </div>
    <!-- Nav Menu -->
    <!-- Submenu Area -->
</header>
