{% load static %}

<nav id="side-menu-wrapper">
  <ul class="unstyle main-side-menu">
    <li class="profile text-center">
      {% if user.is_authenticated %}
      {% if user.image %}
      <img src="{{ user.image.url }}" class="avatar" />
      {% else %}
      <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
      {% endif %}
      <h5>{{ user.first_name }} {{ user.last_name }}</h5>
      <ul class="unstyle flex text-center">
        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i><br />My Profile</a></li>
        <li><a href="{% url 'inbox:home' %}"><i class="fa fa-bell"></i>{% if INBOX_COUNT %}<span class="badge">N</span>{% endif %}<br />Notifications</a></li>
      </ul>
      {% else %}
      <img src="{% static 'demo.ondemand/images/customize/logo-square.png' %}" class="avatar" />
      <h4>Learning Station</h4>
      {% endif %}
    </li>

    {% comment %}
    <li><a href="#" class="has-secondary-menu" data-menu="browse">Browse <i class="fa fa-chevron-right"></i></a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'inbox:home' %}">My Notification {% if INBOX_COUNT %}<span class="badge">N</span>{% endif %}</a></li>
    <li><a href="{% url 'profile' %}">My Library</a></li>
    {% if IS_ONBOARD_ACTIVE %}
    <li><a href="{% url 'profile_info' %}">My Onboard</a></li>
    {% endif %}
    <li><a href="{% url 'profile_info' %}">My Admin</a></li>
    <li><a href="{% url 'account:logout' %}">Log Out</a></li>
    {% else %}
    <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i>Log In</a></li>
    {% endif %}
    <hr />
    <li><a href="{% url 'about' %}">About Learning Station</a></li>
    <li><a href="{% url 'term' %}">Terms of Service</a></li>
    {% endcomment %}

    {% include "main/browse_menu.html" %}
    <li class="side-menu-footer">
      <p><img src="{% static logo_path|default:'demo.ondemand/images/customize/logo-white.png' %}" width="150" /></p>
      <p>Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Conicle Co., Ltd.</p>
      <p>All rights reserved for all contents.</p>
    </li>
  </ul>
  {% comment %}
  <ul class="unstyle secondary-menu browse">
    <div class="secondary-menu-header"><i class="fa fa-chevron-left close-secondary-menu"></i>Browse</div>
    {% include "main/browse_menu.html" %}
  </ul>
  {% endcomment %}
  <i class="fa fa-times font-30 close-side-menu"></i>
</nav>
