{% load staticfiles %}



{% if not APP.is_institute %}
{% if DISPLAY_SUBMENU %}
<div class="navmenu text-center hide-sm" data-spy="affix" data-offset-top="56">
<div class="container container-stable">
	<ul class="unstyle flex">
		{% block main-menu %}
		<li>
			<a href="{% url 'home' %}" class="{% if ROOT_PAGE == 'home' %}selected{% endif %}">
				<strong>หน้าแรก</strong>
			</a>
		</li>
		<li>
			<a href="{% url 'course:home' %}" class="dropdown-toggle {% if ROOT_PAGE == 'course' %}selected{% endif %}" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
				<strong>คอร์ส<span class="hide-md">เรียน</span></strong>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li><a href="{% url 'course:home' %}?type=featured">คอร์สยอดนิยม</a></li>
				<li><a href="{% url 'course:home' %}?type=new">คอร์สใหม่</a></li>
				<li><a href="{% url 'course:home' %}?type=free">คอร์สฟรี</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1437487121002795&level=1427390113002168">GAT-PAT</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1438590460002396&level=1427390113002168">9 วิชาสามัญ</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1437487247002809&level=1427390113002168">O-NET</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1437487145002797&level=1427390113002168">โควต้า</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1444117749002315&level=1444118489002928">Inter & English</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1423680054002879&level=1431165008002802">คณิตศาสตร์</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1423679994002878">ฟิสิกส์</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1423737755002131&level=1431165008002802">เคมี</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1427956806002532&level=1431165008002802">ชีววิทยา</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1423733714002099">ภาษาอังกฤษ</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1427956858002538&level=1431165008002802">ภาษาไทย</a></li>
				<li><a href="{% url 'course:home' %}?menu=subject&subject=1423741550002170">สังคมศึกษา</a></li>
			</ul>
		</li>
		{% comment %}
		<li>
			<a href="{% url 'provider:home' %}" class="{% if ROOT_PAGE == 'institute' %}selected{% endif %}">
				<strong>สถาบันต่างๆ</strong>
			</a>
		</li>
		<li>
			<a href="{% url 'promotion' %}">
				<strong>โปรโมชั่น</strong>
			</a>
		</li>
		{% endcomment %}
		<li>
			<a href="{% url 'lesson:category_featured' %}" class="{% if ROOT_PAGE == 'home_lesson' %}selected{% endif %}">
				<strong>มุมความรู้</strong>
			</a>
		</li>
		{% comment %}
		<li>
			<a href="" class="dropdown-toggle {% if ROOT_PAGE == 'manual' %}selected{% endif %}" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
				<strong>คู่มือ</strong>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdown">
				<li><a href="{% url 'manual:learn' %}">วิธีการเรียน</a></li>
				<li><a href="{% url 'manual:order' %}">วิธีสั่งซื้อ</a></li>
				<li><a href="{% url 'manual:payment' %}">วิธีชำระเงิน</a></li>
			</ul>
		</li>
		{% endcomment %}
		<li>
			<a href="{% url 'contact' %}" {% if ROOT_PAGE == 'contact' %}class=selected{% endif %} class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
				<strong>ติดต่อ<span class="hide-md"> & ช่วยเหลือ</span></strong>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdown">
				<li><a href="{% url 'contact' %}">ติดต่อเรา</a></li>
				<li><a href="{% url 'manual:faq' %}">คำถามที่พบบ่อย</a></li>
				<li><a href="{% url 'manual:payment' %}">วิธีการชำระเงิน</a></li>
			</ul>
		</li>
		{% comment %}
		<li>
			<a href="http://aisuacademy.com/app" target="_blank" >
				<strong>AIS U Academy App</strong>
			</a>
		</li>
		{% endcomment %}
		{% endblock %}
	</ul>
</div>
</div>
{% endif %}
{% endif %}
