{% extends "base.html" %}

{% load humanize %}
{% load staticfiles %}
{% block headerscript %}
<META http-equiv="refresh" content="3;URL={% url 'lesson:detail' lesson.id %}">
<style type="text/css">
body {
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
  color: #999;
  background-color: white;
}

.redirect-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
}
</style>
{% endblock %}
{% block footerscript %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="redirect-loading">
  <a href="" ><img src="{% static "images/loading-cloud.gif" %}"></a>
</div>


{% endblock %}
