{% load staticfiles %}
{% load humanize %}
<div class="review-list">
    <a class="avatar">
      {% if review.account.image %}
      <img src="{{ review.account.image.url }}" />
      {% else %}
      <img src="{% static 'images/profile_default.jpg' %}" />
      {% endif %}
    </a>
    <h4 class="clear-pad">{{ review.account.first_name}} {{ review.account.last_name }}: <small class="grey"><i>{{ review.timestamp|naturaltime }}</i></small></h4>
    <p class="clear-pad" style="color:#ddd;">
        <i class="fa fa-star {% if review.rating >= 1 %}rating-yellow{% endif %}"></i>
        <i class="fa fa-star {% if review.rating >= 2 %}rating-yellow{% endif %}"></i>
        <i class="fa fa-star {% if review.rating >= 3 %}rating-yellow{% endif %}"></i>
        <i class="fa fa-star {% if review.rating >= 4 %}rating-yellow{% endif %}"></i>
        <i class="fa fa-star {% if review.rating == 5 %}rating-yellow{% endif %}"></i>
    </p>
    <div class="grey">
        {{ review.message|truncatewords:"50" }}
    </div>
</div>
