{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}

   <script src="{% static "js/teach.js" %}"></script>

{% endblock %}

{% block content %}


<div class="background">
   <div class="transparent"></div>
   <div class="container">
      <div class="row">
         <div class="col-xs-6">
            <div class="join-intro">
               <h1 class="join-title">Let’s write lessons!</h1>
               <h3>Write and share what you are passionate in and build your own “GURU” profile.</h3>
               <ul class="unstyle join-bullet" style="margin-top: 30px;">
                  <li class="tagline">
                     <img src="{%  static "images/play.png" %}" class="pull-left">
                     <p>Write your good lesson and share to the community and also your Facebook timeline.</p>
                  </li>
                  <li class="tagline">
                     <img src="" class="pull-left">
                     <p>Let people pin your lesson to their learning board and help them connecting the dots.</p>
                  </li>
                  <li class="tagline">
                     <img src="" class="pull-left">
                     <p>Use Tags as short summary of your lessons and it will be in the “Trending now” section.</p>
                  </li>
                  <li class="tagline">
                     <img src="" class="pull-left">
                     <p>Yeahhh! It’s just started. A lot of features will soon to come. Stay tune !!</p>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-xs-6">
                        <div class="form-signin">
                           <!-- login form -->
                           <form id="form-become" >
                              <div class="main">
                                 <div class="join-head">
                                    <h1 class="join-title">Pre-Registration</h1>
                                    <p>Please tell us a bit more about you and your passion to write and share your good lessons to the community.</p>
                                 </div> <!-- /.join-head -->
                                 <!-- input box -->
                                 <div class="input-box">
                                    <input type="text" name="professional_headline" class="form-control input-lg" placeholder="Your Professional Headline" autofocus required>
                                    <input type="text" name="location" class="form-control input-lg" placeholder="Your Location"  required>
                                    <div class="dropdown">
                                     <select style="padding:0 10px;" name="language" class="form-control input-lg" required>
                                        <option value="" disabled selected>Language</option>
                                        <option value="en">English</option>
                                        <option value="ch">Chinese</option>
                                        <option value="jp">Japanese</option>
                                        <option value="th">Thai</option>
                                     </select>
                                  </div>
                                  <textarea style="margin-bottom:10px;" type="text" maxlength="300" rows="3"  name="want_to_write" class="form-control input-lg" placeholder="What do you want to write ?" required ></textarea>
                                  <p id="display-message" class="display-message text-center green" style="display:none">Thank you : )</p>
                               </div>
                                 <!-- <div class="join-complete">
                                    <img src="">
                                 </div> -->
                                 <span class="clearfix"></span>
                                 <button href="#" type="submit" class="btn-block btn-main-color btn-lg">
                                    Submit
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>



{% endblock %}
