{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">
{% endblock %}

{% block footerscript %}

{% endblock %}

{% block content %}
<div class="background">
  <div class="transparent"></div>
  <div class="container">
    <div class="row">
      {% comment %}
      <div class="col-xs-0">
        <div class="join-intro">
          <h1 class="join-title">Let’s write lessons!</h1>
          <h3>Write and share what you are passionate in and build your own “GURU” profile.</h3>
          <ul class="unstyle join-bullet" style="margin-top: 30px;">
            <li class="tagline">
              <img src="{%  static "images/play.png" %}" class="pull-left">
              <p>Write your good lesson and share to the community and also your Facebook timeline.</p>
            </li>
            <li class="tagline">
              <img src="{%  static "images/play.png" %}" class="pull-left">
              <p>Let people pin your lesson to their learning board and help them connecting the dots.</p>
            </li>
            <li class="tagline">
              <img src="{%  static "images/play.png" %}" class="pull-left">
              <p>Use Tags as short summary of your lessons and it will be in the “Trending now” section.</p>
            </li>
            <li class="tagline">
              <img src="{%  static "images/play.png" %}" class="pull-left">
              <p>Yeahhh! It’s just started. A lot of features will soon to come. Stay tune !!</p>
            </li>
          </ul>
        </div>
      </div>
      {% endcomment %}
      <div class="col-xs-12">
        {% include "account/login_block.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
