{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/teach.css" %}">

{% endblock %}

{% block footerscript %}

   <script src="{% static "js/teach.js" %}"></script>

{% endblock %}

{% block content %}

<div class="background-join">
   <div class="transparent"></div>
   <div class="container">
      <div class="row">
         <div class="col-xs-6">
            <div class="join-intro">
               <img class="item-left" src="{% static "images/teach-left.png" %}">
            </div>
         </div>
         <div class="col-xs-6">
            <div class="form-signin" style="margin-top:30px;">
               <div class="modal-body">
                <form id="form-teach" >
                     <div class="main">
                        <div class="join-head">
                           <h1 class="join-title">ต้องการสร้างสถาบันออนไลน์ ?</h1>
                           <p>เพียงใส่ข้อมูลของคุณ และเราจะติดต่อกลับไป เพื่อเริ่มสร้างคอร์สออนไลน์กันเลย!!</p>
                        </div>
                        <div class="input-box">
                           <input type="text" name="institute" class="form-control input-lg" placeholder="ชื่อสถาบัน , ชื่อผู้สอน" autofocus required>
                           <input type="email" name="email" class="form-control input-lg" placeholder="อีเมลเพื่อติดต่อ"  required>
                           <input type="text" name="tel" class="form-control input-lg" placeholder="เบอร์โทรศัพท์เพื่อติดต่อ"  required>
                           <textarea style="margin-bottom:10px;" type="text" maxlength="300" rows="2"  name="subject" class="form-control input-lg" placeholder="วิชา , หัวข้อที่ต้องการสอน" required ></textarea>
                         <p id="display-message" class="display-message text-center green" style="display:none">Thank you : )</p>
                      </div>
                     <span class="clearfix"></span>
                     <button  type="submit" class="btn-block btn-main-color btn-lg">
                        Submit
                     </button>
                  </div>
                </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container clearfix">
   <div class="row partner-logo">
      <div class="col-xs-12">
          <div class="col-xs-4 text-center">
            <img  src="{% static "images/logo/logo-teach-ais.png" %}">
          </div>
          <div class="col-xs-4 text-center">
            <img style="height:70px;" src="{% static "images/logo/logo-teach-uacademy.png" %}">
          </div>
          <div class="col-xs-4 text-center">
            <img src="{% static "images/logo/logo-teach-ais-stratup.png" %}">
          </div>
      </div>
   </div>
</div>
<div class="footer foot-none" style="background-color: #383838; padding:40px 0px;">
   <div class="container">

      <div class="row">
         <div class="col-xs-12">
          <div class="text-center"  style="color:rgb(216, 216, 216)">
             <img src="{% static 'images/logo-white.png'%}" style="opacity: 0.9; margin-bottom:20px;">
            <h2>เผยแพร่ความรู้อย่างไร้ขีดจำกัด</h2>
            <h4 class="font-size-mid" >เผยแพร่คอร์สเรียนอันยอดเยี่ยมของคุณ สู่ผู้เรียนทั่วประเทศ ด้วย “โคนิเคิล”</h4>
            <h4 style="font-size:18px;margin-top:10px;">โคนิเคิล คือ แพลตฟอร์มการเรียนออนไลน์ที่จะช่วยให้ผู้สอนสถาบันการศึกษา<br>
            สามารถสร้างสถาบันออนไลน์และโมบายแอปพลิเคชันของตนเองได้ โดยมีระบบ Online Learning<br>
            ต่างๆและความปลอดภัยขั้นสูง เพื่อการเผยแพร่ความรู้อย่างไร้ขีดจำกัด</h4>
            {# <a target="_blank" href="{% url 'institute_demo' %}" class="btn  demo-button">See the Live Demo</a> #}
          </div>

         </div>
      </div>
   </div>
</div>

<div class="container top-pad ">
   <div class="row">
      <div class="col-xs-12">
         <div class="center-content" >
            <h1 class="main-color">Broadcast your Best Course with the Best Learning Platform</h1>
            <h4>จากการค้นคว้าวิจัย ออกแบบ และพัฒนาที่เข้มข้นของโคนิเคิล เพื่อให้ผู้สอน/สถาบันการศึกษาสามารถมีระบบ Online Learning Platform ที่ดีที่สุด โดยทั้งหมดอยู่บนระบบ Cloud Computing ที่มีการรักษาความปลอดภัยขั้นสูง</h4>

            <!-- icon features -->
            <div class="row icon-feature">
               <div class="col-xs-3 ">
                <div class="img-circle" >
                  <img style="width:50%" class="item-bullet text-center" src="{% static "images/teach-icon1.png" %}">
                </div>
                  <!-- <h3 class="main-color">Broadcast Courses</h3> -->
                  <h4 class="main-color">Launch your Official<br>Channel and App</h4>
                  <p>สร้างหน้าสถาบันออนไลน์และ<br>ออกโมบายแอปพลิเคชันในนามของคุณเอง</p>
               </div>

               <div class="col-xs-3 ">
                  <img style="width:50%" class="item-bullet" src="{% static "images/teach-icon2.png" %}">
                  <!-- <h3 class="main-color">Your Online Institute</h3> -->
                  <h4 class="main-color">Publish your courses <br> with AIS U Academy</h4>
                  <p>เผยแพร่คอร์สเรียนกับ AIS U Academy แอปเพื่อการเรียนรู้อย่างไร้ขีดจำกัด</p>
               </div>

               <div class="col-xs-3 ">
                  <img style="width:50%" class="item-bullet" src="{% static "images/teach-icon3.png" %}">
                  <!-- <h3 class="main-color">Team Support</h3> -->
                  <h4 class="main-color">On the Best Online<br>Learning System</h4>
                  <p>เช่น Video Ondemand, Interactive Practice, Progress and Conditions</p>
               </div>

               <div class="col-xs-3 ">
                  <img style="width:50%" class="item-bullet" src="{% static "images/teach-icon4.png" %}">
                  <!-- <h3 class="main-color">Earn Money</h3> -->
                  <h4 class="main-color">Generate Revenue with<br>No Upfront Investment</h4>
                  <p>สร้างรายได้อย่างไร้ขีดจำกัด โดยไม่มีค่าใช้จ่ายเริ่มต้นใดๆ เป็็นรูปแบบ Partnership</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container clearfix">
   <div class="row">
       <hr class="featurette-divider">
        <div class="col-xs-12">
          <h1 class="main-color font-bold">Build your Institute’s Official Channel<br>Launch your own label Application</h1>
          <p>ด้วยแพลตฟอร์มโคนิเคิล คุณสามารถมีสถาบันออนไลน์ภายใต้ชื่อของคุณเอง ทั้งในรูปแบบหน้า Website และ Mobile Application เพื่อเผยแพร่และจัดจำหน่ายคอร์สเรียนออนไลน์ของคุณ บนระบบ Online Learning ที่มีการรักษาความปลอดภัยขั้นสูง ภายใต้โครงสร้างทางเทคโนโลยีที่มีประสิทธิภาพ</p>
          <h4 class="orange font-bold font-size-mid">โดยไม่มีค่าลงทุนเริ่มต้นใดๆ!!</h4>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-6 text-center"><img width="100%" src="{% static "images/teach-institute-left.png" %}"><h4 class="main-color">สร้างสถาบันออนไลน์ในนามของคุณเอง</h4></div>
      <div class="col-xs-6 text-center"><img width="73%" src="{% static "images/teach-institute-right.png" %}"><h4 class="main-color">ออกโมบายแอปพลิเคชันในนามของคุณเอง</h4></div>
   </div>
</div>
<div class="container clearfix">
   <div class="row">
       <hr class="featurette-divider">
        <div class="col-xs-5">
          <img style="margin-top:30px;" width="105%" src="{% static "images/teach-aisu.png" %}">
        </div>
        <div class="col-xs-7" >
          <h1 class="green font-bold text-right" style="margin-left:20px;">Publish your courses <span style="font-size:25px;">with</span> </h1>
          <p class="text-right" ><img class="text-right" width="80%" src="{% static "images/teach-aisu-name.png" %}"></p>
          <p class="text-right ">โคนิเคิล ในฐานะ AIS Official Partner<br>และผู้พัฒนาระบบ AIS U Academy ทั้งหมดให้<br>คุณสามารถลงขายคอร์สกับ AIS U Academy <br>เพื่อเผยแพร่คอร์สของคุณสู่ผู้เรียนทั่วประเทศ !!</p>
          <p class="text-right font-bold orange font-size-mid">โดยไม่มีค่าลงทุนเริ่มต้นใดๆ!!</p>
          <p class="text-right"><a href="http://aisuacademy.com/">www.AISUAcademy.com</a><br>Search “AIS U Academy” on</p>
          <div class="row" style="margin-top:30px;">
            <div class="col-xs-4 text-center"></div>
            <div class="col-xs-4 text-center"><a href="https://itunes.apple.com/app/ais-u-academy/id926227690?mt=8&ign-mpt=uo%3D2" target="_blank"><img width="100%" src="{% static "images/icon-appstore.png" %}"></a></div>
            <div class="col-xs-4 text-center"><a href="https://play.google.com/store/apps/details?id=com.ais.education" target="_blank"><img width="100%" src="{% static "images/icon-playstore.png" %}"></a></div>
         </div>
      </div>

   </div>
   <div class="row">
      <div class="col-xs-5 text-center"></div>
      <div class="col-xs-7 text-center"></div>
   </div>
</div>
<div class="container clearfix">
   <div class="row">
       <hr class="featurette-divider">
        <div class="col-xs-7">
          <h1 class="main-color bold">Broadcast your courses<br>with Best Learning System</h1>
          <p>จากการค้นคว้าวิจัย ออกแบบ และพัฒนาที่เข้มข้น โคนิเคิลจึงเป็นระบบการเรียนออนไลน์ที่ดีที่สุดสำหรับการเผยแพร่คอร์สของคุณ ทั้งระบบ Video Ondemand, Online Document, Interactive Practice ฯลฯ โดยผู้เรียนสามารถเข้าถึงคอร์สเรียนได้แบบ multi-device ทุกที่ ทุกเวลา</p>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-4 text-center"><img style="margin-top:25px;" width="105%" src="{% static "images/teach-broadcast-left.png" %}"></div>
      <div class="col-xs-8 text-center"><img style="margin-top:-160px;" width="90%" src="{% static "images/teach-broadcast-right.png" %}"></div>
   </div>
</div>
<div class="container clearfix">
   <div class="row">
       <hr class="featurette-divider">
        <div class="col-xs-7">
          <h1 class="main-color bold">Design your Course Conditions<br>Set your Pricing and Promotions</h1>
          <p>ด้วยระบบโคนิเคิล คุณสามารถกำหนดเงื่อนไขการเข้าเรียนในคอร์สของคุณได้ ทั้งในมิติของระยะเวลาการเข้าเรียนและจำนวนชั่วโมงที่สามารถเข้าเรียนได้ โดยจะมีการแจ้งผู้เรียนทั้ง Learning Progress, Expired Date, และ Remaining Time </p>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-3">
        <h4 class="font-bold blue">Pricing & Promotion :</h4>
        <ul class="right-icon">
          <li><i class="icon icon-check"></i>ร่วมกันตั้งราคาคอร์ส</li>
          <li><i class="icon icon-check"></i>ร่วมกันสร้าง Promotion Package</li>
        </ul>
        <h4 class="font-bold blue">Accessibility Conditions :</h4>
        <ul class="right-icon">
          <li><i class="icon icon-check"></i>กำหนดระยะเวลาการเข้าเรียนของแต่ละคอร์สได้</li>
          <li><i class="icon icon-check"></i>กำหนดจำนวนชั่วโมงเรียนของแต่ละคอร์สได้</li>
        </ul>
        <h4 class="font-bold blue">Course Learning :</h4>
        <ul class="right-icon">
          <li><i class="icon icon-check"></i>ผู้เรียนเห็น Learning Progress ของตนเอง</li>
          <li><i class="icon icon-check"></i>ผู้เรียนสามารถเข้าเรียนได้ทั้ง Web และ Mobile App</li>
        </ul>
      </div>
      <div class="col-xs-9 text-center"><img style="margin-top:-160px;" width="98%" src="{% static "images/teach-promotion-right.png" %}"></div>
   </div>
</div>
<div class="container clearfix">
   <div class="row">
       <hr class="featurette-divider">
        <div class="col-xs-7">
          <h1 class="main-color bold">With Safe and Secure Payment On Trustworthy Security System</h1>
          <p>โดนิเคิลเข้มงวดและจริงจังกับความปลอดภัยในข้อมูลของผู้สอนและการชำระเงินของผู้เรียน โดยโคนิเคิลใช้ระบบการชำระเงินที่มีความปลอดภัยสูง ในขณะที่ผู้เรียนเองสามารถชำระค่าเรียนได้อย่างสะดวกสบาย ผ่านหลากหลายช่องทาง ทั้งนี้ข้อมูลของผู้สอน/สถาบันจะถูกปกป้องอย่างดีที่สุดด้วยระบบการรักษาความปลอดภัยขั้นสูงตามมาตรฐาน AIS</p>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-3">
        <ul class="right-icon">
          <li><i class="icon icon-check"></i>Secure Socket Layer;Applying “https”</li>
          <li><i class="icon icon-check"></i>128-bit or 256-bit encryption for secure data</li>
          <li><i class="icon icon-check"></i>Firewall; controlling income and outcome network traffic</li>
          <li><i class="icon icon-check"></i>DRM (Digital rights
management)</li>
          <li><i class="icon icon-check"></i>Secured On-the-Cloud Service</li>
        </ul>
        <p class="text-center">
          <img style="width:80%; margin-top:10px;"  src="{% static "images/teach-secure.png" %}">
        </p>

      </div>
      <div class="col-xs-9 text-center"><img style="margin-top:-25px;" width="85%" src="{% static "images/teach-secure-right.png" %}"></div>
   </div>
</div>
{% comment %}
<div class="container clearfix">
   <div class="row">
      <div class="col-xs-12">
         <hr class="featurette-divider">
         <div class="col-xs-4">
            <img class="item-bullet" src="{% static "images/teach-bullet4.jpg" %}">
          </div>
          <div class="col-xs-8">
            <h3 class="main-color">Earn Money</h3>
            <p>เราเชื่อในการสร้างความสำเร็จไปด้วยกันในระยะยาวแบบ Partnership ที่ดี โดยผู้สอนสามารถสร้างสถาบันออนไลน์ และเผยแพร่คอร์สกับโคนิเคิลได้ฟรี! ไม่มีค่าใช้จ่าย แต่สามารถสร้างรายได้อย่างไร้ขีดจำกัด</p>
          </div>
      </div>
   </div>
</div>
{% endcomment %}
<div class="container clearfix">
   <div class="row publish-logo">
    <hr class="featurette-divider">
    <h3 class="text-center">AS SEEN ON</h3>
      <div class="col-xs-12">
          <div class="col-xs-3 text-center">
            <img style="height: 30px; margin-top: 15px;"  src="{% static "images/logo/publish-now.png" %}">
          </div>
          <div class="col-xs-3 text-center">
            <img  src="{% static "images/logo/publish-positioning.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="margin-top:10px;height:45px;" src="{% static "images/logo/publish-flashfly.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="height:60px;margin-top: 5px;" src="{% static "images/logo/publish-techtv.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="margin-top: 5px;"  src="{% static "images/logo/publish-cybercity.jpg" %}">
          </div>
      </div>
   </div>
</div>
<div class="container clearfix">
   <div class="row publish-logo">
    <hr class="featurette-divider" style="margin-top:0px;">
    <h3 class="text-center">POWERED BY</h3>
      <div class="col-xs-12">
          <div class="col-xs-3 text-center">
            <img style="height: 35px; margin-top: 10px;"  src="{% static "images/logo/by-azure.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="height: 50px;"   src="{% static "images/logo/by-comodo.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="height:55px;margin-top:3px;" src="{% static "images/logo/by-paypal.png" %}">
          </div>
          <div class="col-xs-2 text-center">
            <img style="height:50px;margin-top:10px;margin-left:30px;" src="{% static "images/logo/by-google.png" %}">
          </div>

          <div class="col-xs-3 text-center">
            <img style="margin-top: 5px;" src="{% static "images/logo/by-paysuby.jpg" %}">
          </div>
      </div>
   </div>
</div>
<div class="container">
    {% comment %}
    <section style="margin-bottom:30px; border-top: 1px solid #eee;">
        {% include 'main/fragment/fragment_link_social.html' %}
    </section>
    <section style="margin-bottom:30px; border-top: 1px solid #eee;">
        <div class="social-link text-center">
            <p> Follow and update good lessons from Conicle.com </p>
            <a target="_blank" href="https://www.facebook.com/pages/Conicle/680297472051881"><img src="{% static "images/social_facebook.png" %}"></a>
            <a target="_blank" href="https://twitter.com/ConicleDotCom"><img src="{% static "images/social_twitter.png" %}"></a>
        </div>
    </section>
    {% endcomment %}
</div>
<div class="footer foot-none" style="background-color: rgb(239, 239, 239); padding-bottom:20px; margin-top:20px;">
    <div class="container">
        <div class="text-center contact" style="font-size:18px; color:rgb(37, 37, 37)">
            <h1 class="main-color">Let’s make Thai Education better</h1>
            <h3 class="main-color">with your great knowledge and our innovation !!</h3>
            <p>สนใจกรุณาติดต่อ ฝ่ายพัฒนาธุรกิจ บจ.โคนิเคิล<br />
              คุณ นกรณ์ พฤกษ์พิพัฒน์เมธ<br />
              Tel : 087-797-5636<br />
              Email : contact@conicle.com<br />
            </p>
        </div>
    </div>
</div>
{% include 'main/modal/modal_teach.html' %}
{% endblock %}
