{% if progress.status == 1 %}
  {% if progress.percent == 0 %}
  <li class="vdolist-check" title="In progress">
    <div class="round-box"><p class="grey">0%</p></div>
  </li>
  {% else %}
  <li class="vdolist-check" title="In Progress">
    <div class="round-box yellow"><p class="white">{{ progress.percent|floatformat:"0" }}%</p></div>
  </li>
  {% endif %}
{% elif progress.status == 2 %}
<li class="vdolist-check" title="Completed">
  <div class="round-box green"><i class="fa fa-check white"></i></div>
</li>
{% elif progress.status == 3 %}
<li class="vdolist-check" title="Failed">
  <div class="round-box red"><i class="fa fa-times white"></i></div>
</li>
{% elif progress.status == 5 %}
<li class="vdolist-check" title="Waiting for verifying">
  <div class="round-box yellow"><i class="fa fa-clock-o white"></i></div>
</li>
{% endif %}
