.bg-main-color{
	background-color: rgba(180, 150, 30, 1);
}
.main-color{
	color: rgba(180, 150, 30, 1);
}
body{
	font-family: 'thaisans',arial,sans-serif;
	color: #000;
	background-color: #f4f4f4;
}
.login-content:before, .tab-nav:not([data-tab-color]) > li > a:after{
	background: rgba(180, 150, 30, 1);
}
.lc-block:not(.lcb-alt) .btn-login{
	background-color: #333;
}
#menu-trigger .line-wrap .line {
	background-color: rgba(180, 150, 30, 1);
}
#header{
	height: 52px;
	min-height: 0;
	background-color: white;
}
#header .header-inner{
  padding: 10px 0;
}
#header .header-inner .top-menu > li > a {
	color: rgba(180, 150, 30, 1);
}
#header h4 {
	line-height: 15px;
}
#header h4.text-white {
	color: rgba(180, 150, 30, 1) !important;
}
#header .logo a{
	width: 123px;
  height: 38px;
  margin: -3px 20px 0 36px;
  background-image: url('/static/chiatai/images/customize/logo.png');
  background-size: auto 100%;
}
#menu-trigger{
	width: auto;
	height: auto;
}
#menu-trigger:before{
	width: 40px;
	height: 40px;
	top: 6px;
	left: -5px;
}
#menu-trigger .line-wrap{
  margin: 10px 0 0 9px;
}
#menu-trigger.open .line-wrap{
  margin: 10px 0 0 5px;
}
#left-menu {
	background-color: white;
	top: 53px;
}
.profile-menu .profile-info * {
	color: #231f20;
}
.profile-menu .profile-info option {
  border: solid 1px #ccc;
  background-color: white;
}
.profile-menu .permission .dropdown-menu {
	background-color: #f4f4f4;
}
.profile-menu .permission a[data-toggle="dropdown"] {
	border: solid 2px #231f20;
}
.profile-menu .permission .dropdown-menu li.active a {
	color: rgba(180, 150, 30, 1);
}
.profile-menu .permission .dropdown-menu li a, .profile-menu .permission .dropdown-menu li.disabled {
	color: #231f20;
}
.profile-menu .permission .dropdown-menu li a:hover {
	background-color: #eee;
}
.main-menu > li > a:hover, .main-menu > li.active > a{
	background-color: #000;
}
.main-menu > li.active > a {
	border-left-color: rgba(180, 150, 30, 1);
}
.actions > li > a, .actions > a{
	color: #000;
}
.actions > li > a > i, .actions > a > i{
	color: #000;
}
.breadcrumb > .active{
	color: #000;
}
.table tr td a:not(.btn) {
	color: rgba(180, 150, 30, 1);
}
.main-menu > li > a, .main-menu > li.head {
	color: #231f20;
}
.main-menu > li > a:hover, .main-menu > li.active > a {
	color: #231f20;
	background-color: white;
}
#provider-landing .provider-info .row > div{
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin: 0 -3px;
}
#provider-landing .grid-menu{
	padding: 0;
	margin: 60px auto 40px auto;
	width: 100%;
	max-width: 800px;
	text-align: center;
	list-style: none;
}
#provider-landing .grid-menu li{
	display: inline-block;
	width: 48%;
}
#provider-landing .grid-menu li a{
	position: relative;
	display: block;
	margin: 10px;
	height: 200px;
	background-color: rgba(180, 150, 30, 0.6);
	border-radius: 10px;
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#provider-landing .grid-menu li a:hover{
	color: #fff;
	background-color: rgba(180, 150, 30, 1);
	box-shadow: 5px 5px 15px #ccc;
}
#provider-landing .grid-menu li i{
	font-size: 60px;
}
.assignment-steps li.active span strong, .assignment-steps li.active span:before, .assignment-steps li.active span:after {
  background-color: rgba(180, 150, 30, 1);
}
.start-select-item ul li a:hover {
	background-color: rgba(180, 150, 30, 1);
}
