<div class="modal fade" id="enrollProgramModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
          <h3>Enroll</h3>
          <p style="border-top:1px solid #eee; padding-top:15px;">Do you want to add this course ?</p>
          {% if user.is_authenticated %}
           {% if not is_dependency %}
          <a href="{% url 'program:buy' program.id %}" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
           {% endif %}
           {% else %}
          <a onclick="openLoginModal('');" data-toggle="modal" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
          {% endif %}
      </div>
  </div>
</div>
