{% extends "base.html" %}
{% load static %}
{% block meta_facebook %}{% endblock %}
{% block meta_twitter %}{% endblock %}
{% block project_identity %}
<meta name="author" content="CONICLE">
<title>King Power</title>
<link rel="shortcut icon" href="{% static "kingpower/images/customize/favicon.ico" %}">
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "kingpower/css/theme.css" %}">
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}KingPower{% endblock %}

{% block bodyclass %}
{% if IS_WEBVIEW %}clear-pad{% endif %}
{% endblock %}

{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
{% if not IS_WEBVIEW %}
<div id="footer" class="container-fluid top-pad text-center grey">
  Copyright <i class="fa fa-copyright"></i> {% now "Y" %} King Power International. All Rights Reserved.
</div>
{% endif %}
{% endblock %}

{% block modal %}
{% if not user.is_authenticated %}
{% include "main/modal/modal_authen.html" %}
{% endif %}
{% include "main/modal/modal_strict.html" %}
{% endblock %}
