{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}

{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>Ads Management</h2>
    <ul class="actions">
      <li>
        <a href="{% url 'dashboard:ads-dashboard:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Link</th>
          <th class="text-center">Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for ads in ads_list %}
        <tr>
          <td>{{ ads.name }}</td>
          <td>{{ ads.link }}</td>
          <td class="text-center">
            <a href="{% url 'dashboard:ads-dashboard:information' ads.id %}">
              <button class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "dashboard/paginator.html" with content_list=ads_list %}
  </div>
</div>
{% endblock %}
