{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  {% include "ads/dashboard/tab.html" %}
  <div class="card-body card-padding">
    <form class="form-horizontal thai" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ ads_form|bootstrap }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm waves-effect" name="save-next">Save </button> &nbsp; &nbsp;
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
