{% extends "base.html" %}
{% load static %}

{% block meta_facebook %}{% endblock %}

{% block meta_twitter %}{% endblock %}

{% block project_identity %}
<meta name="author" content="Pacrim" />
<title>Pacrim Learning</title>
<link rel="shortcut icon" href="{% static "com.pacrim.ondemand/images/icons/favicon2.ico" %}" />
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "com.pacrim.ondemand/css/theme.css" %}" />
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}Pacrim{% endblock %}

{% block bodyclass %}{% endblock %}

{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
<div id="footer" class="container-fluid">
  <div class="col-sm-6 text-center-xs">
    <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-franklin-covey.png' %}" style="height:40px;"/>
  </div>
  <div class="col-sm-6 top-margin-more-little text-right text-center-xs">
    <span class="grey">Contact Support |</span>
    <span>elearning@pacrimgroup.com</span>
  </div>
</div>
{% endblock %}

{% block modal %}
    {% include 'main/modal/modal_authen.html' %}
    {% include 'main/modal/modal_strict.html' %}
{% endblock %}

{% block ga %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73736830-2', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
