<h5 class="top-margin-little {% if not content.provider %}bottom-pad-10{% endif %}">
  <i class="fa {% if content_s == 'program' %}fa-th{% elif content_s == 'test' %}fa-file-text{% else %}fa-play-circle-o{% endif %}"></i> {% if content_s %}{{ content_s|capfirst }}{% else %}{{ content.get_type_display }}{% endif %}
  {% if content.category or content.provider %}<span class="grey">|</span>{% endif %}
  {% if content.category %}
  <a class="link-normal category">{{ content.category.name }}</a>
  {% endif %}
  {% if content.category and content.provider %}<span class="grey">|</span>{% endif %}
  {% if content.provider %}
  <a class="link-normal provider">
    {% if content.provider.image %}<img src="{{ content.provider.image.url }}" />
    {% else %}<i class="fa fa-university"></i>
    {% endif %}{{ content.provider.name }}
  </a>
  {% endif %}
</h5>
