{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="select_subject">
        <input type="hidden" name="do_action" value="yes">

        <div>
            {{ form.subject }}
            <input  type="submit" class="btn btn-primary" style="float: none" value="Change" >
            {{ form.subject.errors }}
        </div>

        <h2>Change subject for item</h2>

        <ul>
            {% for object in objects %}
                <li>
                    <a href="{{ object.pk }}/">{{ object.name }}</a> - {{ object.subject }}
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}">
                </li>
            {% endfor %}
        </ul>

    </form>
{% endblock %}
