{% extends "base.html" %}
{% load staticfiles %}
{% block meta_facebook %}{% endblock %}
{% block meta_twitter %}{% endblock %}
{% block project_identity %}
<title>Conicle</title>
<link rel="shortcut icon" href="{% static "demo.ondemand/images/customize/favicon.ico" %}">
{% endblock %}
{% block theme-css %}
<link rel="stylesheet" href="{% static "demo.ondemand/css/theme.css" %}">
{% endblock %}
{% block script %}{% endblock %}
{% block app-name %}Demo{% endblock %}
{% block bodyclass %}{% endblock %}
{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
<div id="footer" class="container-fluid top-pad text-center grey">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Conicle Co., Ltd. All Rights Reserved.
</div>
{% endblock %}

{% block modal %}
    {% include 'main/modal/modal_authen.html' %}
    {% include 'main/modal/modal_strict.html' %}
{% endblock %}
{% block ga %}{% endblock %}
