{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/plugin/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/plugin/slick/slick-theme.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'js/plugin/slick/slick.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery.marquee.min.js' %}"></script>
{% endblock %}
{% block jquery %}
$('ul.featured-slide').slick(SLICK_OPTIONS);
modalWalkThrough('howToWalkthroughModal',3);

{% if announcement %}
var x = document.cookie;
if(!getCookie('announcement:{{announcement.id}}_{{announcement.timestamp|date:"c"}}')){
    $('#announcementModal').modal('show');
    setCookie('announcement:{{announcement.id}}_{{announcement.timestamp|date:"c"}}', true, 365)
}
{% endif %}

if($('.marquee .inner').width()>$('.marquee').width()){
    $('.marquee').marquee({
        duration: 15000,
        gap: 50,
        delayBeforeStart: 0,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
}
{% endblock %}

{% block content %}
<ul class="unstyle featured-slide">
  {% for banner in banner_list %}
  <li>
    {% with url=banner.get_target_url %}
    <a href="{% if url %}{{ url }}{% else %}#{% endif %}" target="_blank" {% if not url %}class="cursor-default"{% endif %}>
      <img src="{{ banner.image.url }}" />
    </a>
    {% endwith %}
  </li>
  {% endfor %}
</ul>
{% if announcement %}
<div class="box-wrapper-parody">
  <a href="#" class="announcement" data-toggle="modal" data-target="#announcementModal">
    <strong class="head"><i class="fa fa-commenting"></i><span class="hide-xs font-12"> Announcement</span></strong>
    <span class="marquee">
      <span class="inner">
        <strong class="main-color">{{ announcement.title }}</strong> {{ announcement.desc }} - <i class="grey">{{ announcement.timestamp|date:"D d M Y" }}</i>
      </span>
    </span>
  </a>
</div>
{% endif %}
{% comment %}
<ul class="box-wrapper">
    <h1>My Library
        <a href="{% url 'profile' %}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% if course_list|length > 0 %}
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">No courses.</h4>
    {% endif %}
    <h4 class="no-item">
        ตอนนี้คุณยังไม่มีคอร์สที่เรียนอยู่<br />
        ลองเพิ่มคอร์สที่สนใจเข้า My Library ของคุณดูสิ!<br />
        <a href="{% url 'course:home' %}" class="btn-inline btn-main-color top-margin-more-little"><i class="fa fa-play-circle-o"></i> Add a course</a>
    </h4>
</ul>
{% endcomment %}
<ul class="box-wrapper">
    <h1>Latest <span class="main-color">Course{{ course_list|length|pluralize }}</span>
        <a href="{% url 'course:home' %}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% if course_list|length > 0 %}
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">No courses.</h4>
    {% endif %}
</ul>
<ul class="box-wrapper">
    <h1>Popular <span class="main-color">Course{{ course_popular_list|length|pluralize }}</span>
        <a href="{% url 'course:home' %}?sort=popular" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% if course_popular_list|length > 0 %}
    {% for course in course_popular_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">No courses.</h4>
    {% endif %}
</ul>

{% comment %}
<div class="container">
  <div class="featured-title">
    <h3 class="main-color bold">
      Featured Tests
      <a href="{% url 'question:home' %}" class="btn">
        See all <i class="fa fa-plus-circle"></i>
      </a>
    </h3>
  </div>
  {% if question_list|length > 0 %}
  <ul class="block-wrapper questions">
    {% for question in question_list %}
    {% include "question/item_new.html" %}
    {% endfor %}
  </ul>
  {% else %}
  <p id="no-lesson" class="text-center">No courses.</p>
  {% endif %}
</div>

<ul class="box-wrapper">
  <h1>Programs
    <a href="{% url 'program:home' %}" class="pull-right btn-inline-small btn-main-color">
      See all <i class="fa fa-plus-circle"></i>
    </a>
  </h1>
  {% for program in program_list %}
  {% include "program/item_block.html" %}
  {% empty %}
  <h4 class="no-item">No programs.</h4>
  {% endfor %}
</ul>
{% endcomment %}

<div class="box-wrapper-parody text-center hover-animate-width no-pad-xs">
  <div class="row clear-pad">
    <a href="{% url 'category:home' %}" class="col-sm-4 btn-category">
      <h4>Browse by<br /><strong>Categories</strong><br /><i class="fa fa-arrow-circle-o-right"></i></h4>
    </a>
    <a href="{% url 'provider:home' %}" class="col-sm-4 btn-provider">
      <h4>Browse by<br /><strong>Learning Centers</strong><br /><i class="fa fa-arrow-circle-o-right"></i></h4>
    </a>
    <a href="{% url 'tutor:home' %}" class="col-sm-4 btn-instructor">
      <h4>Browse by<br /><strong>Instructors</strong><br /><i class="fa fa-arrow-circle-o-right"></i></h4>
    </a>
  </div>
</div>
<div class="box-wrapper-parody no-pad-xs">
    <div class="how-to">
        <img src="{% static logo_path|default:'demo.ondemand/images/customize/logo-white.png' %}" />
        <h5>โลกกำลังเปลี่ยนแปลงอย่างรวดเร็ว เข้าสู่ยุคดิจิทัล ยุคที่ความเจริญด้านการสื่อสารและเทคโนโลยีต่างๆ เข้ามามีบทบาทในชีวิตประจำวัน มีผลให้รูปแบบการ ใช้ชีวิต การเข้าถึงข้อมูล และความต้องการของผู้คนเปลี่ยนไป ชีวิตที่สะดวกสบายขึ้น สามารถติดต่อสื่อสารกันได้ทุกที่ทุกเวลา ทำให้ความสัมพันธ์ของผู้คนเข้าใกล้กันง่ายแค่เพียงปลายนิ้วสัมผัส</h5>
        <a href="#" class="btn-open-walkthrough btn-inline btn-round btn-white-outline">Learn More</a>
    </div>
</div>
{#% include "about.html" %#}
{% include 'main/modal/modal_announcement.html' %}
{% include 'main/modal/modal_how_to_walkthrough.html' %}
{% endblock %}
