<div class="container no-pad-xs top-pad bottom-pad about">
    <!-- About Info -->
    <section class="striped">
        <div class="inner">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="about-title">
                        <h3>About</h3>
                        <h2 class="clear-pad main-color">Unilever Network Academy</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <blockquote>
                        <p>จากปรัชญาแนวคิดผู้ก่อตั้งยูนิลีเวอร์ที่ว่า 'ถ้าต้องการให้คนใส่ใจในธุรกิจ ต้องใส่ใจในคนก่อน' ได้สานต่อจากรุ่นสู่รุ่นจนปัจจุบัน ยูนิลีเวอร์ เน็ทเวิร์ค ร่วมสานต่อแนวคิดจากผู้ก่อตั้ง ด้วยการจัดตั้งสถาบันการเรียนรู้ และฝึกอบรม ยูนิลีเวอร์ เน็ทเวิร์ค อะคาเดมีขึ้น เพื่อเปิดโอกาสให้สมาชิกและพนักงานทุกคนในองค์กรได้เรียนรู้ และพัฒนาตนเองได้ครบทุกมิติ เพื่อการเติบโตและประสบความสำเร็จ ทั้งด้านธุรกิจ ชีวิตส่วนตัว และครอบครัว</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
</div>
