{% extends "base.html" %}
{% load staticfiles %}

{% block meta_facebook %}
<meta property="og:title" content="{{ TITLE|striptags|default:'Unilever' }}" />
<meta property="og:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta property="og:site_name" content="Unilever" />
<meta property="og:image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static 'unilever/images/icons/opengraph-icon.png' %}{% endif %}" />
{% endblock %}

{% block meta_twitter %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="{{ TITLE|striptags|default:""}}" />
<meta name="twitter:creator" content="" />
<meta name="twitter:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC}}" />
<meta name="twitter:image:src" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static 'unilever/images/icons/opengraph-icon.png' %}{% endif %}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block project_identity %}
<meta name="author" content="Unilever" />
<meta itemprop="image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static 'unilever/images/icons/opengraph-icon.png' %}{% endif %}" />
<title>Unilever Network</title>
<link rel="shortcut icon" href="{% static 'unilever/images/icons/favicon.ico' %}" />
<link rel="shortcut icon" href="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static 'unilever/images/icons/opengraph-icon.png' %}{% endif %}" />
<link rel="apple-touch-icon" href="{% static 'unilever/images/icons/apple-touch-icon.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'unilever/images/icons/apple-touch-icon.png' %}" />
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static 'css/live.css' %}" />
<link rel="stylesheet" href="{% static 'unilever/css/font.css' %}" />
<link rel="stylesheet" href="{% static 'unilever/css/theme.css' %}" />
{% endblock %}

{% block script %}{% endblock %}
{% block app-name %}Unilever{% endblock %}

{% block header %}
{% if IS_WEBVIEW %}
{% elif DISPLAY_HEADER == None or DISPLAY_HEADER %}
{% if APP.is_institute %}
{% include "institute/header.html" %}
{% else %}
{% include "main/header.html" %}
{% endif %}
{% endif %}
{% endblock %}

{% block footer %}
{% if IS_WEBVIEW %}
{% elif DISPLAY_FOOTER == None or DISPLAY_HEADER %}
<div id="footer" class="container-fluid top-pad text-center">
  <img src="{% static logo_path|default:'unilever/images/customize/logo_white.png' %}" class="center-block img-responsive">
  <div class="top-pad"><i class="fa fa-copyright"></i> 2016 Unilever Network, All rights reserved.</div>
</div>
{% endif %}
{% endblock %}

{% block ga %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9052982-14', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_authen.html' %}
{% include 'main/modal/modal_strict.html' %}
{% endblock %}
