{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/plugin/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/slick/slick-theme.css" %}">
{% endblock %}

{% block footerscript %}
<script src="{% static "js/home.js" %}"></script>
<script src="{% static "js/plugin/slick/slick.min.js" %}"></script>
{% endblock %}

{% block jquery %}
$('ul.featured-slide').slick(SLICK_OPTIONS);
{% endblock %}

{% block content %}
<ul class="unstyle featured-slide">
    {% for banner in banner_list %}
    <li>
      <a href="{% if banner.url %}{{banner.url}}{% else %}#{% endif %}" target="_blank" {% if not banner.url %}class="cursor-default"{% endif %}>
        <img src="{{ banner.image.url }}"/>
      </a>
    </li>
    {% endfor %}
</ul>
<ul class="box-wrapper">
    <h1 class="main-color">Recommended</h1>
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% empty %}
    <h4 class="no-item">No courses.</h4>
    {% endfor %}
</ul>
<div class="container">
    <h2 class="main-color">Road to Success</h2><br />
</div>
<div class="container no-pad-xs road-to-success">
    <p class="text-center">
        <a href="{% url 'program:detail' 1 %}">
            <img src="{% static 'unilever/images/customize/RoadtoSuccess_SBA_600x600.jpg' %}" />
        </a>
        <a href="{% url 'program:detail' 2 %}">
            <img src="{% static 'unilever/images/customize/RoadtoSuccess_TBA_600x600.jpg' %}" />
        </a>
    </p>
</div>
<div class="container">
    <h2 class="main-color">By Categories</h2><br />
</div>


<div class="container no-pad-xs categories">
    <p class="text-center">
        <a href="{% url 'roadmap' %}">
            <img src="{% static 'unilever/images/customize/Category1.png' %}" />
        </a>

        {% for subject in feature_subject_list %}
        {% if subject.image_feature %}
        <a href="{% url 'category:detail' subject.slug %}">
            <img src="{{ subject.image_feature.url }}" />
        </a>
        {% endif %}
        {% endfor %}

        <a href="{% url 'lesson:category_detail' 'contentlibrary' %}">
          <img src="{% static 'unilever/images/menu/content_lib.jpg' %}" />
        </a>
        <a href="{% url 'lesson:category_detail' 'tutorial' %}">
          <img src="{% static 'unilever/images/menu/tutorial.jpg' %}" />
        </a>
    </p>
</div><!-- /.container -->


{% comment %}
{% if feature_subject_list|length > 0 %}
<div class="wrap">
    <div class="container">
        <div class="featured-title">
            <h2 class="main-color"><strong>By Category</strong></h2>
        </div>
        <div class="scroller course-scroller">
            <div class="scroller-mask-event">
                <ul class="scroller-list" id="lesson-section">
                    {% for feature_subject in feature_subject_list %}
                    {% if feature_subject.image %}
                    <li class="event no-description">
                        <a href="{% url 'subject:detail' feature_subject.slug %}" class="image-event">
                            <div class="container-overlay">
                                <img class="image" src="{{feature_subject.image.url}}" alt="{{feature_subject.name}}">
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /.scroller-mask-event -->
        </div><!-- /.scroller -->
    </div><!-- /.container -->
</div><!-- /.wrap -->
{% endif %}
{% endcomment %}

{% comment %}
<div class="wrap">
    <div class="container">
        <div class="featured-title">
            <h2 class="main-color">
                <strong>By Speakers</strong>
                <a class="btn btn-default btn-more pull-right" href="{% url 'question:home' %}" role="button">
                    <i class="fa fa-bars"></i> See all
                </a>
            </h2>
        </div>
        <div class="scroller course-scroller">
            <div class="scroller-mask-event">
                <ul class="scroller-list" id="lesson-section">
                    {% for feature_subject in feature_subject_list %}
                    {% if feature_subject.image %}
                    <li class="event no-description">
                        <a href="#" class="image-event">
                            <div class="container-overlay">
                                <img class="image" src="{{feature_subject.image.url}}">
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /.scroller-mask-event -->
        </div><!-- /.scroller -->
    </div><!-- /.container -->
</div><!-- /.wrap -->
{% endcomment %}

{% include "about.html" %}
{% endblock %}
