{% load i18n %}
{% if dependency_list.count > 0 %}
<div class="modal fade" id="contentDependencyModal" tabindex="-1">
    <div class="modal-dialog modal-bs">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="no-top-margin">{% trans "Content Dependency" %}</h3>
                <hr />
                <p>{% trans "You have to complete these below courses." %}</p>
	              <div class="user-class-auth-list top-margin-little">
                    {# <div class="user-class-auth-header">{% trans "You have" %} {{ dependency.count_course }} {% trans "Courses" %} {% trans "to complete first" %}</div> #}
                    <div class="list-group">
                        <div class="list-group-item" style="max-height:200px;overflow-y:auto;">
                            {% for parent in dependency_list %}
                            <div class="row">
                                <div class="col-xs-9">
                                    <p><strong>{{ parent.content_cached.name }}</strong></p>
                                    {% comment %}<p class="text-muted">{{ course.category.name }}</p>
                                    <p class="text-muted">{{ course.tutor_object.name }} | {{ course.institute.name }}</p>
                                    {% endcomment %}
                                </div>
                                <div class="col-xs-3 text-center">
                                    <a href="{{ parent.url }}" class="btn-inline-small btn-main-color btn-sm">{% trans "View" %}</a>
                                    {% if parent.is_complete %}<br /><span class="text-completed"><i class="fa fa-check"></i> {% trans "Completed" %}</span>{% endif %}
                                </div>
                            </div>
                            <br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                        <div class="text-center top-pad">
                            <button type="button" class="btn-block btn-main-color btn-lg" data-dismiss="modal">{% trans "OK" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
