{% load i18n %}
{% load staticfiles %}
<!-- Restriction Modal -->
<div class="modal fade" id="restrictionModal" tabindex="-1">
    <div class="modal-dialog modal-bs">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="no-top-margin">{% trans "You have a restriction for this content." %}</h3>
                <hr>
                <p class="clear-pad">{% trans "You have a restriction with content dependency or content Authorized." %}</p>
                <div class="row text-center">
                    {% comment %}
                    {% if dependency.count_all > 0 %}
                    <div class="col-sm-6">
                        <div class="orange top-margin-little">
                            <img src="{% static "images/course/chain-links-orange.png" %}"> <b>{% trans "Content Dependency" %}</b>
                        </div>
                    </div>
                    {% endif %}
                    {% if content_permission %}
                    <div class="col-sm-12">
                        <div class="orange top-margin-little">
                            <img src="{% static "images/course/users-orange.png" %}"> <b>
                            <b>{% trans "User Class Authorized" %}</b>
                        </div>
                    </div>
                    {% endif %}
                    {% endcomment %}
                </div>


                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                        <div class="text-center top-pad">
                            <button type="button" class="btn-block btn-main-color btn-lg" data-dismiss="modal">{% trans "OK" %}</button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>
