{% load i18n %}
<div id="hasDependencyModal" class="modal fade">
    <div class="modal-dialog bg-white text-center">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="top-margin-little"><i class="fa fa-lock grey"></i> {% trans "This course has dependency." %}</div>
            <div class="row top-margin-little">
                <button type="button" class="btn-inline btn-main-color" data-dismiss="modal">{% trans "OK" %}</button>
            </div>
        </div>
    </div>
</div>
