{% load i18n %}
<div class="modal fade" id="termOfServiceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-bs">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="bold no-top-margin">{% trans "Term of Service" %}</h3>
                <hr>
                <p>{{ course.term.body }}</p>
                <div class="text-center top-pad">
                    <button type="button" class="btn-block btn-main-color btn-lg" data-dismiss="modal">{% trans "I have read and accepted terms." %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
