{% if is_check %}
<i class="zmdi zmdi-circle zmdi-hc-fw check text-green" style="cursor: pointer;" config="{{ config.id }}" tag="{{ tag }}"></i>
{% else %}
<i class="zmdi zmdi-circle zmdi-hc-fw check text-red" style="cursor: pointer;" config="{{ config.id }}" tag="{{ tag }}"></i>
{% endif %}
