{% extends "dashboard/base.html" %}
{% block jquery %}
$('.check').click(function(){
    var item = $(this);
    var config_id = $(this).attr('config');
    var tag = $(this).attr('tag');
    $.ajax({
      	method: "POST",
      	url: "{% url 'dashboard:notification-dashboard:check' %}",
      	dataType: "json",
      	data: {config: config_id,
      	       content: "question",
      	       tag: tag}
    }).done(function(result) {
      	if(result.is_check){
      	    $(item).removeClass("text-green text-red").addClass("text-green");
      	}else{
      	    $(item).removeClass("text-green text-red").addClass("text-red");
      	}
    });
});
{% endblock %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "notification/dashboard/header.html" %}
    {% include "notification/dashboard/tab.html" %}
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                  	<tr>
                    	  <th>Alert When</th>
                    	  <th>Mobile Notification</th>
                        <th>Web Inbox</th>
                        <th>Email</th>
                  	</tr>
                </thead>
                <tbody>
                  	{% for config in config_list %}
                  	<tr>
                    	  <td class="text-left">{{ config.name }}</td>
                    	  <td>{% include "notification/dashboard/check.html" with is_check=config.is_mobile tag="mobile" %}</td>
                    	  <td>{% include "notification/dashboard/check.html" with is_check=config.is_web tag="web" %}</td>
                    	  <td>{% include "notification/dashboard/check.html" with is_check=config.is_email tag="email" %}</td>
                  	</tr>
                  	{% empty %}
                  	<tr>
                  	    <td colspan="4"><div class="no-item">Run script "python script/init_notification_config.py"</div></td>
                  	</tr>
                  	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
