<ul class="tab-nav text-center" role="tablist" tabindex="2">
  <li {% if TAB == "course" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:notification-dashboard:course' %}">Course</a>
  </li>
  <li {% if TAB == "question" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:notification-dashboard:question' %}">Test</a>
  </li>
  <li {% if TAB == "program" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:notification-dashboard:program' %}">Program</a>
  </li>
</ul>
<br/>
