{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
   <style type="text/css">
    .text-red{
      color: #db1c2f;
    }
    p{
      font-size: 18px;
    }
    td{
      font-size: 14px;
      border-top:none !important;
    }
   </style>

{% endblock %}

{% block footerscript %}
   <script src="{% static "js/plugin/rrssb.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container clearfix bottom-pad">
  <div class="hero-mask" style="bottom: 6px;">
    <img style="width:100%; margin-top:50px;" src="{% static "clickforclever/images/activity/activity_header.png" %}" class="active">
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">ขอแสดงความยินดีกับน้องๆ ทั้ง 20 คนครับ</h2>
      <div class="top-pad">
      {% comment %}
       <p class="text-center">มณีรัตน์ จองนันตา / ภิเษก สุขประสิทธิ์ / นุชรี หมัดแสละ / วรินท์ทิพย์ ลักษณะจันทร์ / ยศรินทร์ แซ่หลี <br> ทิพวรรณ ผาสุข / พัชรพล หาจันสี / กาญจนาภรณ์ ปัญญาบารมี / นิซักรี วาเต๊ะ / ฉันท์ชนก คำภูเวียง <br>สิรเศรษฐ์ พฤทธพงศ์ / เกวลิน จำปาสัก / สิริรัตนา ศรีทนต์ / ธัญชนก ทรงอาวุธ / ชลธาร พิทักษ์บุตร <br> เกษมสันติ์ โพธิ์มาก / จุฑาทิพย์ สุวรรณสิงห์ / ปุริมปรัชญ์ วิเศษนอกสินกุล / ปณิดา บุณยะสุนานนท์ <br> มัทวัน คงอินทร์ / ธีรตา ปั้นพุ่ม / ศศิประภา เพ็งหนู / อนุรักษ์ สกุลเหมือน / ธนภรณ์ ท้วมเนตร  <br>วรัญญา มงคลหัตถี / สิริอาภา สงนุ้ย / นนทัช ทับชม / บุญพิทักษ์ จอมนงค์ / พิมพ์รำไพ วงศ์นาค <br> อนุชากร พันธ์กมลศิลป์ / อรพรรณ ดาวราม / นิติศักดิ์ นราพงษ์ / ราชิต แสนลัง / อภิญญา ธาตุวิสัย <br> ปาริฉัตร หล้าหนัก / ชุติกาญจน์ โคตน / กุลภัสสร์ ศุภวิวัฒนกุล / ธิศวรรธน์ ทองสว่างแจ้ง / นิลาวัลย์ มีสุข <br> กาญจนา จีโน / มัลลิกา นาบุดดา / อัสมัน อีแต / พณิตา ศรีสุวรรณ / น.ส. อัญชลี มีกลิ่น / ไกรวิชญ์ ขุนจิตรใจ <br> อดิศร เอียดตรง / ศศิวิมล อาจมนตรี / ธนภัทร รัตโนทัย / วริษฐา วังกานนท์ / สุชาดา ฉัตรนิรัติศัย </p> 
       {% endcomment %}
      </div>
      <div>
        <table class="table">
            <tbody>
              <tr><td>1</td><td>วรัญญา มงคลหัตถี</td><td>คณะวิศวกรรมศาสตร์ สาขาวิชาการจัดการการบิน</td><td> มหาวิทยาลัยเกษตรศาสตร์</tr>
              <tr><td>2</td><td>สุชาดา ฉัตรนิรัติศัย</td><td>คณะเศรษฐศาสตร์</td><td>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</tr>
              <tr><td>3</td><td>ธนภัทร รัตโนทัย</td><td>คณะการสื่อสารมวลชน</td><td>มหาวิทยาลัยเชียงใหม่</tr>
              <tr><td>4</td><td>อัญชลี มีกลิ่น</td><td>คณะพลศึกษา</td><td>มหาวิทยาลัยศรีนครินทรวิโรฒ</tr>
              <tr><td>5</td><td>ทิพวรรณ ผาสุข</td><td>คณะสาธารณสุขศาสตร์</td><td>มหาวิทยาลัยบูรพา</tr>
              <tr><td>6</td><td>ไกรวิชญ์ ขุนจิตรใจ</td><td>คณะเศรษฐศาสตร์ </td><td>จุฬาลงกรณ์มหาวิทยาลัย</tr>
              <tr><td>7</td><td>เกษมสันติ์ โพธิ์มาก</td><td>คณะวิทยาศาสตร์</td><td>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</tr>
              <tr><td>8</td><td>ปณิดา บุณยะสุนานนท์</td><td>คณะวิทยาการจัดการ</td><td>มหาวิทยาลัยเกษตรศาสตร์</tr>
              <tr><td>9</td><td>ศศิประภา เพ็งหนู</td><td>คณะวิทยาศาสตร์</td><td>มหาวิทยาลัยสงขลานครินทร์</tr>
              <tr><td>10</td><td>บุญพิทักษ์ จอมนงค์</td><td>คณะเศรษฐศาสตร์</td><td>มหาวิทยาลัยแม่โจ้</tr>
              <tr><td>11</td><td>อรพรรณ ดาวราม</td><td>คณะวิทยาศาสตร์ สาขาเทคโนโลยีสารสนเทศ</td><td> มหาวิทยาลัยแม่โจ้ </tr>
              <tr><td>12</td><td>มัลลิกา นาบุดดา</td><td>คณะนิติศาสตร์</td><td>มหาวิทยาลัยขอนแก่น</tr>
              <tr><td>13</td><td>อัสมัน อีแต</td><td>คณะรัฐศาตร์</td><td>มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตปัตตานี</tr>
              <tr><td>14</td><td>วริษฐา วังกานนท์</td><td>คณะพยาบาลศาสตร์</td><td>มหาวิทยาลัยบูรพา</tr>
              <tr><td>15</td><td>พณิตา ศรีสุวรรณ</td><td>คณะศึกษาศาสตร์</td><td>มหาวิทยาลัยทักษิณ</tr>
              <tr><td>16</td><td>พัชรพล หาจันสี</td><td>คณะสถาปัตยกรรมศาสตร์</td><td>มหาวิทยาลัยขอนแก่น</tr>
              <tr><td>17</td><td>ศศิวิมล อาจมนตรี</td><td>คณะศึกษาศาสตร์</td><td>มหาวิทยาลัยขอนแก่น</tr>
              <tr><td>18</td><td>ปาริฉัตร หล้าหนัก</td><td>คณะครุศาสตร์</td><td>จุฬาลงกรณ์มหาวิทยาลัย</tr>
              <tr><td>19</td><td>อนุรักษ์ สกุลเหมือน</td><td>คณะสาธารณสุขศาสตร์</td><td>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตเฉลิมพระเกียรติ จ.สกลนคร</tr>
              <tr><td>20</td><td>อดิศร เอียดตรง</td><td>คณะวิทยาศาสตร์</td><td>มหาวิทยาลัยสงขลานครินทร์</tr>
            </tbody>
        </table>
      </div>
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          
          {% comment %}
          <h2 class="text-red top-pad text-center" style="margin-bottom:30px;">ลุ้นเข้ารอบ 20 คนสุดท้ายเพียง...</h2>
          <p class="text-center" style="margin-left:200px;">
            <a rel="" style="width:500px;" class="btn btn-primary btn-lg btn-block facebook-share social-share popup">
              <img src="{% static "images/social/facebook.png" %}">
              <span>Share</span>
            </a>
          </p>
          
          <p class="text-center top-pad">
            
            1. กดแชร์โพสต์นี้ <br> 2. พร้อมพิมพ์ความในใจที่มีต่องาน Click for U season 
            4 (ความยาว 4-5 บรรทัด) <br>3. แฮ๊ชแท็ก 
            <span class="main-color">#CFU4 #CLICKFORCLEVER #AIRASIA </span> <br> 4. ร่วมสนุกตั้งแต่วันนี้  - 19 กรกฎาคม 
            เท่านั้น
          </p>
          <h2 class="text-center text-red top-margin-more-little" style="font-weight:bold;" >**โพสต์ของใครที่มียอดกดไลค์กดแชร์มากที่สุด</br>ลุ้นเป็น 20 คนผู้โชคดี รับสิทธิ์บินฟรีทันที</h2>
          <p class="top-pad">
            รายละเอียดและเงื่อนไข<br><br>
            - ประกาศผล 20 คนสุดท้ายที่ได้รับตั๋วเครื่องบิน จันทร์ที่ 20 กรกฎาคม 2558 เวลา 20.00 น. <br>
            - ตรวจสอบรายชื่อได้ที่ <span class="main-color"><a clas="text-red" href="https://clickforclever.com/activity">www.clickforclever.com/activity</a></span><br>
            - รอการติดต่อกลับจากเจ้าหน้าที่ภายใน 24 ชม.<br>
            - หากไม่ได้รับการติดต่อกลับ โทร.080-611-9520<br>
            - ตั๋วเครื่องบินไม่สามารถแลกเปลี่ยนเป็นเงินได้<br>
            - คำตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด<br>
          </p>
          {% endcomment %}
          <h2 class="main-color top-pad text-center" style="margin-bottom:30px;">รายงานตัวรับสิทธิ์ตามขั้นตอน ดังนี้</h2>
          <p>1. ส่งข้อมูลส่วนตัวเพื่อยืนยันสิทธิ์มาที่อีเมล infoclick@clickforclever.com
           ข้อมูลประกอบไปด้วย <br>
           <ul>
           <li>ชื่อและนามสกุล (ทั้งภาษาไทยและภาษาอังกฤษ) </li>
           <li>เบอร์โทรศัพท์ที่ติดต่อได้ </li>
           <li>สำเนาบัตรประชาชน เซ็นรับรองสำเนาถูกต้อง</li>
           </ul>
          </p>
          <p>2. สามารถยืนยันสิทธิ์ได้ตั้งแต่วันนี้ – 23 กรกฎาคม เท่านั้น!!!</p>
          <p>3. หลังจากส่งข้อมูลส่วนตัวเพื่อยืนยันสิทธิ์ รอการติดต่อกลับจากเจ้าหน้าที่ภายใน 24 ชั่วโม</p>
          <p>4. หากไม่ได้รับการติดต่อกลับ โทรติดต่อสอบถามได้ที่ 096-079-2565</p>
          <p>5. ตั๋วเครื่องบินไม่สามารถแลกเปลี่ยนเป็นเงินได้</p>
          <p>6. คำตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด</p>
        </div>
      </div>
    </div>
  </div>
</div>  

{% endblock %}