{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
<link rel="stylesheet" href="{% static "clickforclever/css/contact.css" %}">
{% endblock %}

{% block footerscript %}
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript">
function initialize() {
	var myLatlng = new google.maps.LatLng(13.910087, 100.531082);
	var mapOptions = {
		center: myLatlng,
		zoom: 16
	};
	var contentString = '<h2>ClickForClever</h2><p>ที่อยู่ 111/129 หมู่ 9 หมู่บ้านภัทรโมทาวน์ ซ.แจ้งวัฒนะ 19 ถ.แจ้งวัฒนะ ต.บางพูด จ.นนทบุรี 11120</p>';
	var map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);
	var marker = new google.maps.Marker({
		position: myLatlng,
		map: map,
		animation: google.maps.Animation.DROP,
	});
	var infowindow = new google.maps.InfoWindow({
		content: contentString
	});
	google.maps.event.addListener(marker, 'click', function() {
		infowindow.open(map,marker);
	});
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}

{% block content %}
<div class="hero-mask">
    <img style="width:100%;" src="{% static "clickforclever/images/cover_contact.jpg" %}" class="active">
</div>
<div class="wrap-address top-pad">
    <div class="container clearfix">
        <div class="row">

            <div class="col-sm-6 col-xs-12">
                <ul class="adress" class="col-sm-6 col-xs-12">
                    <li>
                        <i class="fa fa-map-marker"></i>

                        <p>ที่อยู่ 111/129 หมู่ 9 หมู่บ้านภัทรโมทาวน์ ซ.แจ้งวัฒนะ 19
                            ถ.แจ้งวัฒนะ ต.บางพูด จ.นนทบุรี 11120 </p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>

                        <p>โทร: 02-962-0079, 081-357-6958<br>
                            Fax: 02-584-4819</p>
                    </li>
                </ul>
                <ul class="adress">

                    {% comment %}
                    <li>
                        <i class="fa fa-envelope"></i>

                        <p><a aria-expanded="false" aria-controls="emailform" class="link">{{CONTACT_EMAIL}}</a></p>

                        <div class="panel panel-default top-pad " id="emailform">
                            <div class="panel-body">

                                <form action="{% url 'contact' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label>ชื่อ</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" required=""
                                                       placeholder="ชื่อผู้ส่ง" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label>อีเมลของผู้ส่ง</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" required=""
                                                       placeholder="อีเมลของผู้ส่ง" name="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label>เบอร์โทรศัพท์</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="tel" class="form-control" required=""
                                                       placeholder="เบอร์โทรศัพท์" name="tel">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label>ข้อความ :</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <textarea style="min-height:150px;" required="" class="form-control"
                                                          name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 text-right">
                                                <input type="submit" class="btn btn-red" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </li>
                    {% endcomment %}
                    <li>
                        <i>
                            <img src="{% static "clickforclever/images/logo-line.png" %}"
                            style="width:25px;height:25px;">
                        </i>

                        <p>เพิ่มพี่คลิกเป็นเพื่อนในไลน์ได้แล้วรู้ยัง!!<br>
                            ID: {{TWITTER_ACCOUNT}}</p>

                        <p><img src="{% static "clickforclever/images/qr.jpg" %}"></p>
                    </li>
                </ul>

            </div>
            <div class="col-sm-6 col-xs-12">
                <div id="map-canvas" class="col-sm-6 col-xs-12 hidden-xs"></div>
                {% comment %}
                <ul class="adress" class="col-sm-6 col-xs-12">
                    <li>
                        <i class="fa fa-map-marker"></i>

                        <p>ที่อยู่ 111/129 หมู่ 9 หมู่บ้านภัทรโมทาวน์ ซ.แจ้งวัฒนะ 19
                            ถ.แจ้งวัฒนะ ต.บางพูด จ.นนทบุรี 11120 </p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>

                        <p>โทร: 02-962-0079, 081-357-6958<br>
                            Fax: 02-584-4819</p>
                    </li>
                </ul>
                {% endcomment %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
