<header id="header">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a class="thai" href="{% url 'institute:dashboard' %}">
	{{ DASHBOARD_INSTITUTE_ACCOUNT.institute.name }}
	{% if DASHBOARD_INSTITUTE_BRANCH != None %}
	สาขา: {{ DASHBOARD_INSTITUTE_BRANCH.name }}
	{% endif %}
      </a>
    </li>
    <li class="pull-right">
      <ul class="top-menu">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>
	<li class="dropdown hidden-xs thai">
          <a data-toggle="dropdown" class="tm-task" href="" aria-expanded="false"></a>
          <div class="dropdown-menu pull-right dropdown-menu-lg">
            <div class="listview">
	      {% if DASHBOARD_INSTITUTE_ACCOUNT_LIST|length != 0 %}
	      <div class="lv-header">สถาบัน</div>
	      <div class="lv-body" style="height: auto !important;">
		{% for institute_account in DASHBOARD_INSTITUTE_ACCOUNT_LIST %}
                <div class="lv-item">
		  {% if DASHBOARD_INSTITUTE_ACCOUNT.id == institute_account.id %}
                  <div class="lv-title m-b-5"><i class="md-check"></i> {{ institute_account.institute.name }}</div>
		  {% else %}
		  <div class="lv-title m-b-5"><a href="{% url 'institute:institute_change' institute_account.id %}">{{ institute_account.institute.name }}</a></div>
		  {% endif %}
                </div>
		{% endfor %}
              </div>
	      {% endif %}
              <div class="lv-header">สาขา</div>
              <div class="lv-body" style="height: auto !important;">
		{% for branch in DASHBOARD_INSTITUTE_ACCOUNT.branch.all %}
                <div class="lv-item">
		  {% if DASHBOARD_INSTITUTE_BRANCH != None and DASHBOARD_INSTITUTE_BRANCH.id == branch.id %}
                  <div class="lv-title m-b-5"><i class="md-check"></i> {{ branch.name }}</div>
		  {% else %}
		  <div class="lv-title m-b-5"><a href="{% url 'institute:branch_change' branch.id %}">{{ branch.name }}</a></div>
		  {% endif %}
                </div>
		{% endfor %}
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="tm-settings" href=""></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li>
              <a href="{% url 'institute:logout' %}"><i class="md md-history"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</header>
