<aside id="sidebar">
  <div class="sidebar-inner c-overflow">
    <div class="profile-menu">
      <a href="#">
        <div class="profile-pic">
          {% if user.image %}
          <img src="{{ user.image.url }}">
          {% endif %}
        </div>
        <div class="profile-info">
          {{ user.first_name }} {{ user.last_name }}
        </div>
      </a>
    </div>
    <ul class="main-menu">
      <li {% if SIDEBAR == "home" %}class="active"{% endif %}>
	<a href="{% url 'institute:dashboard' %}"><i class="md md-home"></i> Home</a>
      </li>
      {% if user.is_superuser %}
      <li {% if SIDEBAR == "learner" %}class="active"{% endif %}>
	<a href="{% url 'institute:learner_list' %}"><i class="md md-school"></i> Learner</a>
      </li>
      {% endif %}
      {% comment %}
      <li {% if SIDEBAR == "course" %}class="active"{% endif %}>
	<a href="{% url 'institute:course_list' %}"><i class="md md-my-library-books"></i> Course Management</a>
      </li>
      {% endcomment %}

      <li {% if SIDEBAR == "package" %}class="active"{% endif %}>
	      <a href="{% url 'institute:package_list' %}"><i class="md md-wallet-giftcard"></i> Package Management</a>
      </li>
      <li {% if SIDEBAR == "camapign" %}class="active"{% endif %}>
	<a href="{% url 'institute:campaign_list' %}"><i class="md md-notifications-on"></i> Event Management</a>
      </li>
      <li {% if SIDEBAR == "turor" %}class="active"{% endif %}>
	<a href="{% url 'institute:tutor_list' %}"><i class="md md-account-circle"></i> Instructor Management</a>
      </li>

      <li {% if SIDEBAR == "order_course" %}class="active"{% endif %}>
	<a href="{% url 'institute:order_course' %}"><i class="md md-assessment"></i> Transaction Summary</a>
      </li>
      <li {% if SIDEBAR == "order" %}class="active"{% endif %}>
	<a href="{% url 'institute:order' %}"><i class="md md-attach-money"></i> Transaction</a>
      </li>
      <li {% if SIDEBAR == "pos" %}class="active"{% endif %}>
	<a href="{% url 'institute:pos' %}"><i class="md md-store"></i> Assigning to Learners</a>
      </li>
      <li {% if SIDEBAR == "shipping" %}class="active"{% endif %}>
	<a href="{% url 'institute:shipping' %}"><i class="md md-local-shipping"></i> Shipping</a>
      </li>
      {% if DASHBOARD_INSTITUTE_ACCOUNT.is_superuser %}
      <li {% if SIDEBAR == "branch_permission" %}class="active"{% endif %}>
	<a href="{% url 'institute:branch_permission' %}"><i class="md md-accessibility"></i> Organization Management</a>
      </li>
      {% endif %}
      <li {% if SIDEBAR == "log" %}class="active"{% endif %}>
	<a href="{% url 'institute:log' %}"><i class="md md-event-note"></i> Administrator Log</a>
      </li>
    </ul>
  </div>
</aside>
