{% load staticfiles %}
<div class="form-signin">
   <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
        <div class="social-box">
          <img class="logo" src="{% static logo_path|default:"cbsibo/images/customize/logo-login.png" %}" alt="">
        </div>
         <div class="form-separator">
            <p>Register</p>
            <hr>
         </div>
         <form class="form-signup" id="form-signup" >
         <!-- input box -->
         <div class="main">
            {% csrf_token %}
            <input type="hidden" name="ref" value="{{ref}}">
            <input name="fullname" type="text" class="form-control input-lg" placeholder="Name - Surname" autocomplete='off' autofocus required>
            <input name="email" type="email" class="form-control input-lg" placeholder="Email" autocomplete='off' required>
            <input name="tel" type="text" class="form-control input-lg" placeholder="Telephone Number" autocomplete='off' required>
            <input name="password" type="password" class="form-control input-lg" placeholder="Password" autocomplete='off' required>
            <input name="password_confirm" type="password" class="form-control input-lg" placeholder="Confirm password" autocomplete='off' required>

            <div class="group-option">
            </div>
            <p class="error-msg text-center" style="display:none;" >Error Message</p>
            <span class="clearfix"></span>
            <button type="submit" class="btn-block btn-main-color btn-lg">
               Register
            </button>
         </div>
         <div class="login-footer">
            <span>Do you have account ?</span>
            {% if FULL_PAGE %}
            <a href="{% url 'login' %}?ref={{ request.build_absolute_uri }}" class="main-color bold">Login</a>
            {% else %}
            <a onclick="switchLogin()" class="main-color bold">Login</a>
            {% endif %}
         </div>
      </form>
   </div>
</div>
