{% load staticfiles %}
{% url 'home' as home_url %}
{% if HIGHLIGHT_EVENT != None and DISPLAY_EVENT_HEADER %}
<div class="header-event">
	<div class="row">
		<div class="col-md-5">
			<h3><strong>ฟินอ่ะ! ติวออนไลน์ที่บ้าน! ลด 20%</strong></h3>
			<p><strong>{{HIGHLIGHT_EVENT.name}}</strong></p>
		</div>
		<div class="col-xs-4">
			<p class="small clock-info">ยังเหลือเวลาอีก</p>
			<script src="{% static " js/plugin/countdown.js " %}" type="text/javascript"></script>
			<div class="event-countdown-clock">
				<script type="application/javascript">
					var endTime = new Date("{{HIGHLIGHT_EVENT.time_end.isoformat}}");
					var myCountdownTest = new Countdown({
						year: endTime.getFullYear(),
						month: endTime.getMonth() + 1,
						day: endTime.getDate(),
						hour: 0,
						minute: 0,
						ampm: 'pm',
						width: 300,
						height: 60,
						rangeHi: "day",
						hideLine: true,
						numbers: {
							bkgd: "#db1c2f",
							color: "#FFFFFF",
							border: "#ffffff"
						}
					});
				</script>
			</div>
		</div>
		<div class="col-xs-2">
			<a href="{% url 'event_detail_slug' HIGHLIGHT_EVENT.slug %}" onclick="_gaq.push(['_trackEvent', 'Event', 'Click', 'Header']);" class="btn big-btn btn-white btn-block" style="margin-top:20px;">ดูแคมเปญ!</a>
		</div>
		<div class="col-xs-1 text-right">
			<button onclick="dismissEvent()" class="btn-close-event"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div>
{% endif %}

{% include "main/header_menu_mobile.html" %}

<header id="header">
		<div class="menu-top row">
			<div class="container container-stable">
				<div class="col-xs-7 col-sm-4 header-logo">
					<a href="#side-menu" class="main-color toggle-side-menu"><i class="fa fa-bars"></i></a>
					{% block header-logo %}
					{% if APP.is_institute %}
					<a href="{% url 'institute:detail' APP.institute.slug %}"><img src="{{APP.institute.image_logo.url}}" /></a>
					{% else %}
					    {% if institute.image_logo %}
					    <a href="{% url 'institute:detail' institute.slug %}"><img src="{{institute.image_logo.url}}" /></a>
							{% else %}
							<a href="{{ home_url }}">
								<img src="{% static logo_path|default:"aisuacademy.com/images/customize/logo.png" %}" />
								<!-- <span class="hide-lg">- Academy On the Go</span> -->
							</a>
							{% endif %}
					{% endif %}
					{% endblock %}
				</div>
				<div class="col-xs-5 col-sm-8">
						<ul class="unstyle vertical-middle login">
							{% block header-menu %}
							{% if not user.is_authenticated %}
							<li><a href="#" data-toggle="modal" data-target="#signupModal" class="signup hide-sm"><i class="icon icon-lock"></i>สมัครสมาชิก</a></li>
							<li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i>เข้าสู่ระบบ</a></li>
							{% endif %}
							{% if user.is_authenticated %}
							<li class="hide-sm">
								<div class="user-info ">
									<div class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<div class="user-avatar">
												{% if user.image %}
												<img src="{{ user.image.url }}"> {% else %}
												<img src="{% static 'images/profile_default.jpg' %}"> {% endif %}
											</div>
											<div class="user-name black">
												{{ user.get_display|truncatechars:25 }}
											</div>
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'profile' %}">คอร์สของฉัน</a></li>
											<li><a href="{% url 'order:home' %}">ตระกร้า</a></li>
											<li><a href="{% url 'order:history_tranfer' %}">แจ้งชำระเงิน</a></li>
											<li><a href="{% url 'order:history' %}">ประวัติการสั่งซื้อ</a></li>
											<li><a href="{% url 'lesson:create' %}">แชร์ความรู้นอกห้อง</a></li>
											<li><a href="{% url 'profile_edit' %}">แก้ไขข้อมูลส่วนตัว</a></li>
											<li><a href="{% url 'account:logout' %}">ออกจากระบบ</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="{% url 'profile'%}">| <span class="black bold">คอร์สของฉัน</span></a></li>
							<li class="hide-sm"><a href="{% url 'order:history_tranfer' %}">| <span class="red bold">แจ้งชำระเงิน<span></a></li>
							{% endif %}
							<li class="hide-sm">
								<form action="{% url 'search' %}" method="GET">
									<input name="q" type="search" placeholder="ค้นหาคอร์ส" class="trans03s header-search">
								</form>
							</li>
						</ul>
						{% endblock %}
					<!--header-option-->
				</div>
			</div>
		</div>
	<!-- Nav Menu -->
	<!-- Submenu Area -->
	{% include "main/header_menu.html" %}
</header>
