{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block css %}
<link href="{% static 'dashboard/vendors/summernote/dist/summernote.css' %}" rel="stylesheet">
<style>button[data-original-title="Font Family"]{ display:none; }</style>
{% endblock %}
{% block script %}
<script src="{% static 'dashboard/vendors/summernote/dist/summernote-updated.min.js' %}"></script>
{% endblock %}
{% block jquery %}
  $('.note-editable').html('{{ lesson.desc|safe }}');
  $('.submit-content-form').click(function(){
    console.log($('.html-editor').code());
    $('#content-hidden').val($('.html-editor').code());
    setTimeout(function(){
      $('.content-form').submit();
    },1000);
  });
{% endblock %}
{% block content %}
<!--lesson/dashboard/content.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "lesson/dashboard/lesson_name_head.html" %}
    {% include "lesson/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Edit Content</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal content-form" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="html-editor"></div>
            <input type="hidden" id="content-hidden" name="desc" value="" />
            <div class="form-group text-right">
                <button type="button" class="submit-content-form btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
