{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--lesson/dashboard/home.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Article Management (Blog & News)</strong></h2>
        <ul class="actions">
            {% if perms.lesson.add_lesson %}
            <li>
                <a href="{% url 'dashboard:lesson-dashboard:create' %}">
                    <i class="zmdi zmdi-plus-circle"></i> Create New
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Views</th>
                        <th>Owner</th>
                        <th>Timestamp</th>
                        <th>Detail</th>
                        <th>Preview</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lesson_list %}
                    <tr>
                        <td>
                            {% if lesson.image %}<img src="{{ lesson.image.url }}" />
                            {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                            {% endif %}
                        </td>
                        <td class="text-left">{{ lesson.name }}</td>
                    	  <td>{% if lesson.category %}{{ lesson.category.name }}{% else %}-{% endif %}</td>
                    	  <td>{{ lesson.get_status_display }}</td>
                        <td>-</td>
                        <td>{% if lesson.account %}{{ lesson.account.email }}{% else %}-{% endif %}</td>
                        <td>{{ lesson.timeupdate }}</td>
                        <td>
                            <a href="{% url 'dashboard:lesson-dashboard:information' lesson.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                            </a>
                        </td>
                    	  <td>
                            <a href="{% url 'lesson:detail' lesson.id %}" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                                <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="99"><div class="no-item">No contents.</div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "dashboard/paginator.html" with content_list=lesson_list %}
    </div>
</div>
{% endblock %}
