{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--lesson/dashboard/information.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "lesson/dashboard/lesson_name_head.html" %}
    {% include "lesson/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal thai" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ lesson_form|bootstrap }}
            <div class="form-group text-right">
                {#% if perms.lesson.lesson_course %#}
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
                {#% endif %#}
          </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
