<ul class="tab-nav text-center" role="tablist" tabindex="2" style="overflow: hidden; outline: none;">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    {% if TAB == "information" %}<a href="#">Information</a>{% else %}<a href="{% url 'dashboard:lesson-dashboard:information' lesson.id %}">Information</a>{% endif %}
  </li>
  <li {% if TAB == "content" %}class="active"{% endif %}>
    {% if TAB == "content" %}<a href="#">Content</a>{% else %}<a href="{% url 'dashboard:lesson-dashboard:content' lesson.id %}">Content</a>{% endif %}
  </li>
</ul>
<br/>
