{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>Account: {{ account.first_name }} {{ account.last_name }}</h2>
  </div>
  <div class="card-body card-padding">
    <div class="row m-t-25 p-0 m-b-25">
      <div class="col-xs-3">
        <div class="bgm-green brd-2 p-15">
          <div class="c-white m-b-5">Total</div>
          <h2 class="m-0 c-white f-300">{{ volume.volume|floatformat:2 }}</h2>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>#ID</th>
	  <th>Name</th>
          <th>Type</th>
          <th class="text-center">Volume</th>
	  <th>Note</th>
          <th>TimeStamp</th>
	  <th>Cancel</th>
	</tr>
      </thead>
      <tbody>
	{% for log in log_list %}
	<tr>
	  <td>{{ log.id }}</td>
	  <td>
	    <a href="{% url 'dashboard:coin-dashboard:account' log.account.id %}">
	      {{ log.account.first_name }} {{ log.account.last_name }}
	    </a>
	  </td>
	  <td>{{ log.get_type_display }}</td>
	  <td class="text-center">{{ log.volume }}</td>
	  <td>{{ log.note|linebreaks }}</td>
	  <td>{{ log.timestamp }}</td>
	  <td>
	    {% if log.is_cancel %}
	    <a href="{% url 'dashboard:coin-dashboard:cancel' log.id %}">Cancel</a>
	    {% else %}
	    -
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% include "dashboard/paginator.html" with content_list=log_list %}
  </div>
</div>
{% endblock %}
