{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card font-thai">
  <div class="card-header ch-alt">
    <h2>Coin Management</h2>
  </div>
  <div id="data-table-basic-header" class="bootgrid-header container-fluid">
    <div class="row">
      <div class="col-sm-12 actionBar">
	<form action="" method="post">{% csrf_token %}
	  <div class="search form-group">
	    <div class="input-group">
	      <span class="zmdi icon input-group-addon glyphicon-search"></span>
	      <input type="text" class="search-field form-control" placeholder="Search" name="email">
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
  <div class="card-body card-padding">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>#ID</th>
	  <th>Name</th>
          <th>Type</th>
          <th class="text-center">Volume</th>
          <th>TimeStamp</th>
	</tr>
      </thead>
      <tbody>
	{% for log in log_list %}
	<tr>
	  <td>{{ log.id }}</td>
	  <td>
	    <a href="{% url 'dashboard:coin-dashboard:account' log.account.id %}">
	      {{ log.account.first_name }} {{ log.account.last_name }}
	    </a>
	  </td>
	  <td>{{ log.get_type_display }}</td>
	  <td class="text-center">{{ log.volume }}</td>
	  <td>{{ log.timestamp }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% include "dashboard/paginator.html" with content_list=log_list %}
  </div>
</div>
{% endblock %}
