{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'aisondemand/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
		<h4>ลืมรหัสผ่าน</h4>
		{% if is_show %}
    <form id="form-login" method="post" class="fade-in-up-delay">{% csrf_token %}
      <div class="text-left">
	    {# ห้ามเปลี่ยนเป็น email ais ไม่ได้ใช้ email #}
        <p><input name="email" type="text" placeholder="Email" autofocus /></p>
      </div>
			{% if msg != None %}
      <p class="error-msg red top-margin-little">{{ msg }}</p>
			{% endif %}
      <p class="top-margin-little"><button type="submit" class="btn-block btn-main-color">Submit</button></p>
    </form>
		{% endif %}
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Advanced Info Services PLC. All Rights Reserved.
  </footer>
</div>
{% endblock %}
