{% extends "account/header.html" %}
{% load staticfiles %}
{% block profile-info %}
{% if request.user.info %}
<ul class="inline text-center small">
    <li>Hire date : {{ request.user.info.hire_date }}</li>
    <li>Position : {{ request.user.info.primary_position }}</li>
</ul>
{% if is_owner %}
<a href="{% url 'profile_info' %}" class="btn btn-grey">
    <i class="fa fa-pencil grey"></i> Edit Profile
</a>
{% endif %}
{% endif %}
{% endblock %}
