<div class="col-sm-8">
    <h2 class="top-pad">My Profile</h2><br />
    <p><strong>Employee Id :</strong> <span>{{ user.id }}</span></p><br />
    <p><strong>Full name :</strong> <span>{{ user.first_name }} {{ user.last_name }}</span></p><br />
    {% comment %}
    <p><strong>Email :</strong> <span>{{ user.email }}</span></p><br />
    <p><strong>Mobile No :</strong> <span>{{ user.tel }}</span></p><br />
    {% endcomment %}
    <p><strong>Organization : </strong> <span>Advanced Info Service Public Company Limited</span></p>
</div>
