/* CSS crunched with Crunch - http://crunchapp.net/ */

header {
    position: relative;
    z-index: 90;
}

header.header-main {
    background-color: white;
}

.mainmenu.affix {
    top: 0;
}

.price-widget {
    z-index: 80;
    display: block;
    width: 360px;
    padding-top: 1px;
    padding-bottom: 1px;
}


/*sm*/

@media (max-width: 991px) {
    .price-widget {
        width: 100%;
    }
}

.price-widget.affix {
    top: 51px;
}

a[data-toggle="collapse"].icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

a[data-toggle="collapse"].collapsed .icon:before {
    content: "\e0ad";
}

.fixed-top {
    bottom: -100%;
    -webkit-transition: bottom 2s ease;
    -moz-transition: bottom 2s ease;
    -ms-transition: bottom 2s ease;
    -o-transition: bottom 2s ease;
    transition: bottom 2s ease;
}

.fixed-top.scrolled {
    bottom: 0;
    -webkit-transition: bottom 1s ease;
    -moz-transition: bottom 1s ease;
    -ms-transition: bottom 1s ease;
    -o-transition: bottom 1s ease;
    transition: bottom 1s ease;
}

.hidden-course-info {
    display: none;
}

.hidden-course-outline {
    display: none;
}

.slide-show-wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.slide-show-wrapper:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.slide-show-wrapper.active {
    z-index: 99;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.slide-show-wrapper.slide-fade-out {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.slide-inner {
    position: relative;
    display: inline-block;
    width: 700px;
    vertical-align: middle;
}


/*.csSlideWrapper ul li {
  height: 500px;
  overflow: hidden;
}*/

.course-slide-show {
    margin: 0 auto;
    background: transparent !important;
}

.jssort01 .c {
    border: none !important;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    opacity: 0.8 !important;
}

.jssort01 .w {
    width: 100px !important;
    opacity: 0.4;
}

.jssort01 .p:hover .w, .jssort01 .pav:hover .w {
    cursor: pointer;
    opacity: 1 !important;
}

.expandable-section.schedule {
    position: relative;
    overflow: hidden;
    height: 200px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.expandable-section.about {
    position: relative;
    overflow: hidden;
    /*height: 500px;*/
    margin-top: 0px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.expandable-section.outline {
    position: relative;
    overflow: hidden;
    height: 400px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.expandable-section .fade-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: rgba(245, 245, 245, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(100%, #ffffff));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);
}

.expandable-section.schedule.expanded {
    height: auto;
    min-height: 20em;
    padding-bottom: 10px;
}

.expandable-section.about.expanded {
    height: auto;
    min-height: 10em;
    padding-bottom: 10px;
}

.expandable-section.outline.expanded {
    height: auto;
    min-height: 10em;
    padding-bottom: 10px;
}

.expandable-section.expanded .fade-background {
    display: none;
}

.csSlideWrapper {
    position: static !important;
}

.csSlideWrapper ul {
    overflow: hidden;
}

.csSlideWrapper ul li {}

.csSlideWrapper ul li img {
    max-width: 100%;
}

.csAction>a {
    background-image: url('../res/controls.png');
}

.csAction>a.csPrev {
    left: -70px;
}

.csAction>a.csNext {
    right: -70px;
}

.wrap-videoview {
    position: absolute;
    top: 0;
    margin: 0 auto;
}

.videoview {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 52%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(52%, rgba(0, 0, 0, 0.75)), color-stop(97%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 52%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 52%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 52%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 52%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
    /* IE6-9 */
}

.videoview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.62) 37%, rgba(0, 0, 0, 0.16) 43%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.14) 54%, rgba(0, 0, 0, 0.62) 61%, rgba(0, 0, 0, 0.93) 90%, rgba(0, 0, 0, 1) 97%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(37%, rgba(0, 0, 0, 0.62)), color-stop(43%, rgba(0, 0, 0, 0.16)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(52%, rgba(0, 0, 0, 0)), color-stop(54%, rgba(0, 0, 0, 0.14)), color-stop(61%, rgba(0, 0, 0, 0.62)), color-stop(90%, rgba(0, 0, 0, 0.93)), color-stop(97%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.62) 37%, rgba(0, 0, 0, 0.16) 43%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.14) 54%, rgba(0, 0, 0, 0.62) 61%, rgba(0, 0, 0, 0.93) 90%, rgba(0, 0, 0, 1) 97%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.62) 37%, rgba(0, 0, 0, 0.16) 43%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.14) 54%, rgba(0, 0, 0, 0.62) 61%, rgba(0, 0, 0, 0.93) 90%, rgba(0, 0, 0, 1) 97%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.62) 37%, rgba(0, 0, 0, 0.16) 43%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.14) 54%, rgba(0, 0, 0, 0.62) 61%, rgba(0, 0, 0, 0.93) 90%, rgba(0, 0, 0, 1) 97%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.62) 37%, rgba(0, 0, 0, 0.16) 43%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.14) 54%, rgba(0, 0, 0, 0.62) 61%, rgba(0, 0, 0, 0.93) 90%, rgba(0, 0, 0, 1) 97%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
}

.partner-logo, .publish-logo {
    padding: 30px 0px;
}

.partner-logo img, .publish-logo img {
    height: 60px;
}


/* vdo playlist in lesson detail */

.wrap-vdolist {
    float: left;
    overflow-y: scroll;
    width: 100%;
    height: 480px;
    border-left: 1px solid #4d4848;
    background: #050505;
}

.vdolist {
    position: relative;
    float: left;
    width: 100%;
    height: 108px;
    padding: 15px;
    /*margin-bottom:15px;*/
    color: white;
    border-bottom: 1px solid #4d4848;
}

.vdolist:hover {
    position: relative;
    float: left;
    width: 100%;
    height: 108px;
    padding: 15px;
    /*margin-bottom:15px;*/
    color: white;
    border-bottom: 1px solid #4d4848;
    background-color: #282727;
}

.vdolist-thumb {
    position: absolute;
    display: block;
    width: 120px;
    height: 90px;
    margin-right: 10px;
    color: white;
}

.vdolist-thumb img {
    /* width:100%;
   height:100%;*/
    width: 120px;
    height: 75px;
}

.vdolist-text {
    float: left;
    width: 100%;
    padding-left: 130px;
}

.vdolist-text>p {
    margin: 0px;
}


/* end vdo play-list */
