/*------filter side menu------*/

.wrap-academy {
    display: block;
    width: 100%;
    background-repeat: repeat-y;
    /*background-image: url('../images/bg_grey.jpg');*/
    background-position: left;
}

.bg-white {
    background: #ffffff;
}

.side {
    display: table;
    width: 100%;
}

.side-bottom {
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #666262;
    border-bottom: 1px solid #E0E0E0;
    font-size: 1.266em;
    font-weight: bold;
}

.side-box {
    margin-bottom: 30px;
}

.side-box ul {
    padding-left: 0px;
    list-style: none;
}

.side-box li {
    margin-bottom: 6px;
}

.side-box li:hover {
    cursor: pointer;
}

.side-box li a {
    color: #909090;
}

.side-box li a.active {
    color: #db1c2f;
}

.side-box li:hover a {
    color: #db1c2f;
}


/*------category heading------*/

.cate-photo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: #eee;
}

.cate-photo img {
    position: absolute;
    bottom: -50%;
    width: auto;
    max-width: 100%;
}

.cate-photo img.blur {
    position: absolute;
    bottom: -50%;
    width: auto;
    max-width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.cate-photo .gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

.cate-title {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.cate-title h1 {
    margin-top: 0px;
    color: #fff;
    text-shadow: 0px 0px 0px 0.1;
}

.cate-title p {
    margin-bottom: 3px;
    text-shadow: 0px 0px 0px 0.1;
}

.cate-title .author-thumb {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0px 0px 0px 0.1;
    -khtml-border-radius: 50%;
}

.cate-title .author-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-height: 100px;
}

.cate-bottom {
    height: 12px;
    margin-top: 20px;
}


/*------view all link------*/

.viewall {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: right;
}

.viewall a:after {
    margin-left: 6px;
    content: ">";
}

.view-clear {
    margin-top: 10px;
    margin-bottom: 0px;
}


/*------event thumbnail------*/

.mask-event-thumb {
    position: relative;
    overflow: hidden;
    width: 860px;
    height: 90px;
    margin: 0 auto;
    /*z-index: 10;*/
}

.event-thumb-arleft {
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 0;
    color: #ddd;
}

.event-thumb-arright {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 0;
    color: #ddd;
}

.scroller-list li.event-thumb {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 135px;
    height: 90px;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
    opacity: 0.4;
    border: 1px solid #eee;
    background-color: #ddd;
}

.scroller-list li.event-thumb img {
    width: 100%;
    max-height: 90px;
}

.scroller-list li.event-thumb:hover {
    opacity: 1.0;
    border: 1px solid #db1c2f;
}

.scroller-list li.event-thumb-active {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 135px;
    height: 90px;
    margin-right: 10px;
    list-style: none;
    border: 1px solid #db1c2f;
    background-color: #ddd;
}

.scroller-list li.event-thumb-active img {
    width: 100%;
    max-height: 90px;
}

.scroller-list li.event-thumb-more {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 135px;
    height: 90px;
    margin-right: 10px;
    list-style: none;
    color: #fff;
    border: 1px solid #db1c2f;
    background-color: #db1c2f;
}

.scroller-list li.event-thumb-more>a {
    display: inline-block;
    padding: 16px 20px;
    color: #fff;
    font-size: 120%;
}

.scroller-list li.event-thumb-more:hover {
    border: 1px solid #f7152c;
    background-color: #f7152c;
}


/*------sort bar------*/

.sort {
    margin-top: 30px;
}

.sort span {
    margin-right: 10px;
}

.show-count {
    float: left;
    margin-right: 30px;
}

.sortby {
    float: left;
}

.paging-drop {
    text-align: right;
}

.paging-drop span.total-page {
    margin-right: 0px;
    margin-left: 10px;
}

.sort-foot {
    margin-top: 0px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}


/*------looking for box------*/

.lookfor {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #db1c2f;
    font-size: 90%;
}

.lookfor-head {
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #db1c2f;
    font-size: 90%;
}

.lookfor-box {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

.lookfor-box li {
    position: relative;
    padding: 5px 25px 5px 10px;
    border-bottom: 1px solid #eee;
}

.lookfor-box li:last-child {
    border-bottom: 0px;
}

.lookfor-box li>a.del {
    position: absolute;
    right: 0px;
    display: none;
    color: #ddd;
}

.lookfor-box li>a.del:hover {
    color: #909090;
}

.lookfor-box li:hover {
    background-color: #f5f5f5;
}

.lookfor-box li:hover>a.del {
    top: 5px;
    display: block;
}

.cat-breed {
    /*	border-bottom: 1px solid #eee;*/
    padding: 20px 0px 10px 0;
}

.cat-breed>i.fa-angle-right {
    padding: 0 7px 0 10px;
    color: #909090;
}


/*.wrap-cat-menu-outer{
	width: 200px;
	position: fixed;
	display: block;
	padding: 0 15px;
	padding-bottom: 200px;
	background: #f8f8f8;
	height: 100%;
}*/

ul.dynamic-sublist>li.selected {
    position: relative;
    float: left;
    width: 100%;
    padding: 3px 10px 3px 25px;
    cursor: pointer;
    color: #db1c2f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f5f5f5;
}

a.level {
    float: left;
    width: 100%;
    margin: 3px 0px;
    padding: 3px 10px;
    cursor: pointer;
    color: #909090;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.level:hover {
    background: #f5f5f5;
}

a.level.selected {
    float: left;
    width: 100%;
    padding: 3px 10px;
    cursor: pointer;
    color: #db1c2f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f5f5f5;
}

.course-row {
    display: block;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #e7e7e7; */
}

.course-row-title {
    display: table;
    width: 100%;
    padding: 20px 0;
}

.course-row-title h3, .course-row-title h2 {
    margin: 0px;
    padding: 0px;
}

.course-row-title .main-title {
    float: left;
    /* width: 91%; */
    text-transform: uppercase;
}

.wrap-academy .scroller-list li.event:nth-child(4n+0) {
    margin-right: 0px;
}


/*sm*/

@media (max-width: 991px) {
    .wrap-academy .scroller-list li.event:nth-child(4n+0) {
        margin-right: 20px;
    }
}

.bc-large {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #f8f8f8;
    background: url(../images/subtle_dots.png);
}

.bc-large h3 a, .bc-large p {
    color: #666;
}

.bc-large h3 {
    display: inline;
    color: #666;
    font-size: 20px;
}

.bc-large h3:after {
    content: " \f105";
    font-family: 'FontAwesome';
}

.bc-large h3:last-child:after {
    content: "";
}

.expand a {
    font-size: 14px;
    font-weight: normal;
}

.expand a>span {
    color: #333;
}
