.bg-grey {
    background: #f5f5f5;
}

.wrap-create {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 15px;
    margin-bottom: 40px;
    border: 1px solid #eeeeee;
    background: #f7f7f7;
}

.col-relative {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    padding-bottom: 30px;
}

.headline {
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /*min-height:140px;*/
    /*background-color: #eee;*/
    min-width: 1170px;
}

.headline>.headline-text {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}

.headline>.headline-text>h1, .headline>.headline-text>h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.headline img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 330px;
}

.lesson-shortinfo {
    position: absolute;
    top: 150px;
    display: block;
    width: 100%;
}

.wrap-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 60px;
    padding: 25px 15px;
    border: 1px solid #eeeeee;
    background: #ffffff;
}

.crtcourse-form {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background-color: #fff;
}

.crtcourse-form.bottom {
    border-top: none;
}

.form-hint {
    padding: 5px 0px;
    color: #909090;
}


/* Optional Button */

.btn-tw {
    color: #909090;
    border: 1px solid #dddddd;
    /*twitter*/
    background-color: #fff;
}

.btn-tw:hover, .btn-tw:focus, .btn-tw:active {
    color: #fff;
    border: 1px solid #55acee;
    background-color: #55acee;
}

.btn-gg {
    color: #909090;
    border: 1px solid #dddddd;
    /*google+*/
    background-color: #fff;
}

.btn-gg:hover, .btn-gg:focus, .btn-gg:active {
    color: #fff;
    border: 1px solid #d73d32;
    background-color: #d73d32;
}

.bottom-form {
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.clear-padding {
    padding: 0px;
}


/*------------Create Course Menu-----------------*/

.wrap-crtmenu {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.wrap-crtmenu .adv {
    width: 100%;
    padding: 15px 15px 20px 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #ffffff;
}

.wrap-crtmenu .adv .h4 {
    display: inline-block;
    float: left;
    width: 100%;
}

.wrap-crtmenu>.menu-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 287px;
    /*position:fixed;*/
    padding: 10px 0px;
}

.wrap-crtmenu>.menu-list>p {
    margin: 0px;
    padding: 10px 15px;
}

.wrap-crtmenu>.menu-list>p.button {
    border-top: 1px solid #f7f7f7;
    border-right: 7px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.wrap-crtmenu>.menu-list>p.button:hover, .wrap-crtmenu>.menu-list>p.button.active {
    border-top: 1px solid #eee;
    border-right: 7px solid #db1c2f;
    border-bottom: 1px solid #eee;
    background: #ffffff;
}

.wrap-crtmenu>.menu-list>p.button a {
    color: #333333;
}

.wrap-crtmenu>.menu-list>p.button:hover a {
    color: #db1c2f;
}

.text-white {
    color: #fff;
}


/*-------------!!!!!edit-boostrap-------------*/

.form-horizontal .has-feedback .form-control-feedback {
    top: 10px;
    right: 10px;
}

.modal-dialog {
    width: 920px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.preview-img {
    display: inline-block;
    width: 161px;
    height: 100px;
    margin-top: 8px;
    margin-right: 10px;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    opacity: 1;
    border: 1px solid #B2B2B2;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview-img:hover {
    opacity: 0.8;
}
