/*=================Responsive=================*/

@media screen and (max-width: 1400px) {
    .has-left-menu ul.box-wrapper {}
    .has-left-menu li.item-box {
        width: 24%;
        margin: 10px 0;
    }
    ul.box-wrapper a.btn {
        margin-right: 11px;
    }
}

@media screen and (max-width: 1200px)
/*ขนาดจอกว้างไม่เกิน 1200px*/

{
    .hide-lg {
        display: none !important;
    }
    ul.block-wrapper {
        max-width: 895px;
    }
    ul.box-wrapper, .box-wrapper-parody {
        max-width: 880px;
    }
    .box-wrapper-parody {
        padding: 0 25px 0 15px;
    }
    .scroller {
        max-width: 900px;
    }
}

@media screen and (max-width: 1170px) {
    ul.shelf-wrapper .shelf-bar {
        display: none !important;
    }
    li.item-shelf .image:before {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .has-left-menu li.item-box {
        width: 32%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 992px)
/*ขนาดจอกว้างไม่เกิน 992px*/

{
    .hide-md {
        display: none !important;
    }
    ul.block-wrapper {
        max-width: 670px;
    }
    li.item-shelf {
        width: 33.33%;
    }
    .has-left-menu #content, .has-left-menu #footer {
        padding-left: 0;
    }
    #header ul li.has-sub-menu:hover ul.sub-menu, .has-left-menu #header ul li.browse.has-sub-menu:hover ul.sub-menu {
        display: block;
    }
}

@media screen and (max-width: 920px) {
    .scroller {
        max-width: 680px;
    }
}

@media screen and (max-width: 900px) {
    ul.box-wrapper {
        padding: 0 0 0 15px;
    }
    .box-wrapper-parody {
        padding: 0 20px 0 15px;
    }
    ul.box-wrapper a.btn {
        margin-right: 21px;
    }
    li.item-box {
        width: 32%;
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px)
/*ขนาดจอกว้างมากกว่า 768px ขึ้นไป*/

{
    .no-pad-left-md{
      padding-left: 0;
    }
    .modal-bs .modal-body {
        padding: 30px;
    }
    .notification-item .notification-time {
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .notification-item h4 {
        font-size: 15px;
    }
    .bigger-thumb li.item-list a {
        padding-left: 180px;
    }
    .bigger-thumb li.item-list a h4 {
        margin: 9px 0 15px 0;
        font-size: 24px;
    }
    .bigger-thumb li.item-list a img {
        width: 150px;
        height: 150px;
    }
    .bigger-thumb li.item-list a p {
        height: 72px;
    }
    .fix-at-bottom-md, .footer-fix-bottom-md footer, .footer-fix-bottom-md .footer, .footer-fix-bottom-md #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px)
/*ขนาดจอกว้างไม่เกิน 767px*/

{
    #header {
        margin-top: 49px;
    }
    body#AISUAcademy #header {
        margin-top: 52px;
    }
    .user-avatar {
        width: 25px;
        height: 25px;
    }
    .hide-sm {
        display: none !important;
    }
    .no-pad-xs, .course-preview-img {
        padding: 0 !important;
    }
    .no-pad-left-xs{
      padding-left: 0 !important
    }
    .no-pad-right-xs{
      padding-right: 0 !important
    }
    h1.font-small-xs {
        font-size: 24px;
    }
    h2.font-small-xs {
        font-size: 22px;
    }
    h3.font-small-xs {
        font-size: 20px;
    }
    h3.font-smaller-xs {
        font-size: 16px;
    }
    h4.font-small-xs {
        font-size: 16px;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center !important;
    }
    .toggle-side-menu {
        display: inline-block;
    }
    .menu-top {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: #fff;
        box-shadow: 0 0 10px #aaa;
    }
    .header-logo img {
        max-height: 25px;
    }
    ul.box-wrapper a.btn {
        margin-right: 10px;
    }
    .box-wrapper-parody{
        padding: 0 10px 0 15px;
    }
    .hover-animate-width a{
      display: block;
      margin: 0;
    }
    .navi-tabs li {
        width: 50%;
        margin-bottom: 6px;
    }
    .navi-tabs li:nth-child(2) {
        padding-right: 0;
    }
    .program-conditions .panel {
        border-radius: 0;
    }
    .course-overview:not(.one-line) li {
        border-right: none;
    }
    .course-overview:not(.one-line) li:first-child, .course-overview:not(.one-line) li:nth-child(2) {
        margin-bottom: 15px;
    }
    .course-overview h3, .course-overview h4 {
        margin: 0;
        font-size: 14px;
    }
    .btn-play {
        width: 32px;
        height: 32px;
        padding: 0;
        text-align: center;
        border-radius: 50%;
        line-height: 29px;
    }
    .curr-vdolist>li.vdolist-check, .curr-vdolist>li.vdolist-check-space {
        top: 22px;
    }
    .curr-vdolist>li.vdolist-check>.round-box {
        width: 30px;
        height: 30px;
        font-size: 10px;
        line-height: 30px;
    }
    .curr-vdolist>li.vdolist-name {
        padding: 0 85px;
    }
    .curr-vdolist.purchased>li.vdolist-name {
        padding: 0 85px 0 115px;
    }
    .curr-vdolist>li.vdolist-name>.vdo-thumb {
        top: 10px;
        left: 0;
        width: 70px;
        height: 45px;
    }
    .curr-vdolist.purchased>li.vdolist-name>.vdo-thumb {
        left: 30px;
    }
    .curr-vdolist {
        padding: 7px 0 7px 15px;
    }
    .curr-vdolist>li.vdolist-name>h4 {
        font-size: 15px;
    }
    .curr-vdolist>li.vdolist-function {
        top: 20px;
    }
    .curr-vdolist.test-section-item .vdo-thumb i {
        font-size: 35px;
    }
    .course-status {
        margin-bottom: -15px;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        background-color: #f4f4f4;
    }
    .course-status li {
        border-right: solid 1px #ddd;
    }
    .task-status {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .about .inner {
        padding: 0;
    }
    .about blockquote {
        padding: 0;
        border-left: 0;
        font-size: 15px;
    }
    .stat-library ul {
        margin-top: 10px;
    }
    .stat-library ul.stat {
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .wrap-headline {
      height: 0;
      padding-bottom: 50%;
    }
}

@media screen and (max-width: 720px) {
    ul.block-wrapper {
        max-width: 450px;
    }
    .scroller {
        max-width: 450px;
    }
    li.item-shelf {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    ul.box-wrapper {
        padding: 0 0 0 5px;
    }
    li.item-box, .has-left-menu li.item-box {
        width: 49%;
        margin: 10px 0;
    }
    li.item-box .detail .course-name {
        font-size: 14px;
    }
    ul.box-wrapper .filter{
      position: absolute;
      top: 0;
      right: 15px;
      margin: 0;
      text-align: right;
    }
    ul.box-wrapper .filter strong{
      padding: 2px 5px;
      border-radius: 5px;
      background-color: white;
    }
    ul.box-wrapper .filter form{
      display: none;
      max-width: 250px;
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 5px #ccc;
    }
    ul.box-wrapper .filter:hover form{
      display: block;
    }
    ul.box-wrapper .filter form select, ul.box-wrapper .filter form [type="submit"]{
      display: block;
      width: 100%;
      text-align: center;
    }
    ul.box-wrapper .filter form select{
      margin-bottom: 10px;
    }
    ul.box-wrapper .filtered{
      display: block;
    }
}

@media screen and (max-width: 500px) {
    li.block {
        width: 47%;
        height: 310px;
    }
    ul.block-wrapper.questions li.block {
        height: 410px;
    }
    .lesson-detail .wrap-all {
        width: 100%;
    }
    .lesson-detail .promoCode {
        display: none;
    }
    .lesson-detail .wrap-card h1 {
        font-size: 18px;
    }
    .wrap-tutor-profile {
        padding-top: 190px;
    }
    .tutor-profile-pic {
        margin-top: 40px;
        margin-right: 10px;
    }
    .wrap-tutor-profile .avatar {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
    }
    .tutor-about h1 {
        margin-bottom: 5px;
        font-size: 22px;
    }
}

@media screen and (max-width: 480px)
/*ขนาดจอกว้างไม่เกิน 480px*/

{
    .hide-xs {
        display: none !important;
    }
    .text-center-xxs {
        text-align: center !important;
    }
    .float-none-xs{
        float: none !important;
    }
    .display-block-xs{
      display: block !important;
    }
    .curr-vdolist>li.vdolist-name {
        padding: 0 65px 0 80px;
    }
    .curr-vdolist.purchased>li.vdolist-name {
        padding: 0 65px 0 105px;
    }
    .curr-vdolist.test-section-item>li.vdolist-name {
        padding-left: 0;
    }
    .menu-tab li a span {
        font-size: 11px;
    }
    h3.ribbon-bar {
        font-size: 18px;
    }
    h2.text-inset-main-color {
        font-size: 22px;
    }
    .qa-detail .comments{
      padding-left: 0;
    }
    .stat-library{
      padding: 10px 0;
    }
    .stat-library ul li{
        width: 50%;
        padding-left: 20px;
        text-align: left;
    }
    .stat-library ul li:last-child{
        width: 100%;
    }
    .stat-library ul li:nth-child(4){
        width: 50%;
    }
    .stat-library ul li a small{
        display: inline-block;
        margin: 0 10px 5px 0;
        width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 18px;
        text-align: center;
    }
    .stat-library ul li:hover a small:before{
      width: 500%;
      height: 500%;
      left: 120%;
    }
    .stat-library ul li a *{
        vertical-align: middle;
    }
    .qa-lists li{
      padding: 20px 86px 20px 67px;
    }
    .qa-detail .comments > ul > li{
      padding: 0 86px 20px 67px;
    }
    .qa-detail .comments > ul > li{
      padding-right: 5px;;
    }
    .qa-lists li a .avatar, .qa-detail .comments li .avatar{
      left: 7px;
    }
    .qa-lists li a .response{
      right: 5px;
    }
    .qa-detail{
      padding-left: 10px;
      padding-right: 10px;

    }
    .qa-detail.open-post-answer{
      margin-bottom: 185px;
    }
    .qa-detail .topic{
      padding: 0 0 0 58px;
    }
    .qa-detail .topic .avatar{
      left: 0;
    }
    .qa-detail .post-form{
      margin-left: -60px;
      margin-top: 20px;
    }
    .qa-detail .post-answer .post-form{
      margin-top: 0;
    }
    .qa-detail .comments > ul > li.post-answer{
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -10px;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 0;
      background-color: #fff;
      z-index: 1060;
      border-top: solid 1px #ccc;
    }
    .qa-detail .comments > ul > li.post-answer textarea{
      border: none;
    }
    .qa-detail .comments > ul > li.post-answer .avatar{
      top:10px;
    }
    .qa-detail.open-post-answer .comments > ul > li.post-answer .avatar{
      display: none !important;
    }
    .qa-detail .comments > ul > li.post-answer .post-form > .row{
      padding-bottom: 10px;
    }
    .announcement .head{
      width: 50px;
    }
}

@media screen and (max-width: 420px) {
    ul.box-wrapper {
        padding: 0;
    }
    ul.block-wrapper.questions li.block {
        height: 380px;
    }
}

@media screen and (max-width: 380px) {
    ul.block-wrapper.questions li.block {
        height: 350px;
    }
}

@media screen and (max-width: 364px) {
    ul.box-wrapper h1 {
        font-size: 18px;
    }
    ul.box-wrapper a.btn {
        float: none;
    }
    li.item-box, .has-left-menu li.item-box {
        position: relative;
        display: block;
        width: 100%;
        min-height: 80px;
        margin: 0;
        padding-left: 110px;
        border-bottom: solid 1px #eee;
        background-color: transparent;
        box-shadow: none;
    }
    li.item-box a.image {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100px;
    }
    li.item-box .detail .course-name, li.item-box .detail .price {
        height: auto;
    }
    li.item-box:hover {
        background-color: #fff;
    }
    li.item-box:hover a.image:after {
        opacity: 0;
    }
    li.item-box:hover img.cover {
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        filter: blur(0);
    }
    li.item-box:hover .detail {
        box-shadow: none;
    }
    li.item-box:hover .instructor, li.item-box:hover .paragraph, li.item-box:hover .type-icon {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    li.block {
        width: 47%;
        height: 280px;
    }
    ul.block-wrapper.questions li.block {
        height: 320px;
    }
}
