
grammarly-ghost {
  display: none;
}

grammarly-btn {
  display: none;
}

.event-hero {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    min-width: 1170px;
    /*background-color: #ddd;*/
    min-height: 480px;
    margin-bottom: 30px;
}


/*------hero image chevron------*/

.chevron-left {
    position: absolute;
    z-index: 20;
    left: 0;
    width: 75px;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    border: none;
    background: none;
}

.chevron-right {
    position: absolute;
    z-index: 20;
    right: 0;
    width: 75px;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    border: none;
    background: none;
}

.chevron-left:hover, .chevron-right:hover {
    color: rgba(255, 255, 255, 1);
}

.wrap-event {
    position: absolute;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    height: 480px;
}

.wrap-event-lesson {
    position: absolute;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    height: 480px;
    border: 15px solid #050505;
}

.event-hero img.event {
    width: 100%;
    margin-top: -50px;
    /* Set image position */
}

.event-hero img.event-lesson {
    width: 100%;
    margin-top: -50px;
    /* Set image position */
}

.event-hero .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*DN*/
    opacity: 1.0;
    background: rgba(0, 0, 0, 0.4);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 29%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, ), color-stop(29%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 29%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 29%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 29%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 29%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
}

.event-head {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 1100px;
    max-height: 430px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 120px;
}

.event-name {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.event-creator {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.event-name-lesson {
    margin-left: 45px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    /*margin-top: 40px;*/
}

.event-creator-lesson {
    display: table;
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
}


/*play video*/

.play-vdo {
    height: 149px;
    text-align: center;
}

.play-vdo a img {
    max-width: 25%;
    -webkit-transition: all 0.3s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.3s ease;
    /* Firefox */
    -ms-transition: all 0.3s ease;
    /* IE 9 */
    -o-transition: all 0.3s ease;
    /* Opera */
    transition: all 0.3s ease;
    opacity: 0.7;
}

.play-vdo div img {
    max-width: 25%;
    -webkit-transition: all 0.3s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.3s ease;
    /* Firefox */
    -ms-transition: all 0.3s ease;
    /* IE 9 */
    -o-transition: all 0.3s ease;
    /* Opera */
    transition: all 0.3s ease;
    opacity: 0.7;
}

.play-vdo a:hover img {
    max-width: 31%;
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -moz-transform: scale(1.2);
    /* Firefox */
    -ms-transform: scale(1.2);
    /* IE 9 */
    -o-transform: scale(1.2);
    /* Opera */
    transform: scale(1.2);
    opacity: 1.0;
}

.play-vdo-lesson {
    height: 159px;
    text-align: center;
}

.play-vdo-lesson a img {
    /*max-width: 30%;*/
    -webkit-transition: all 0.3s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.3s ease;
    /* Firefox */
    -ms-transition: all 0.3s ease;
    /* IE 9 */
    -o-transition: all 0.3s ease;
    /* Opera */
    transition: all 0.3s ease;
}

.play-vdo-lesson div img {
    /*max-width: 30%;*/
    -webkit-transition: all 0.3s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.3s ease;
    /* Firefox */
    -ms-transition: all 0.3s ease;
    /* IE 9 */
    -o-transition: all 0.3s ease;
    /* Opera */
    transition: all 0.3s ease;
}

.play-vdo-lesson a:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
    /*max-width: 31%;*/
    opacity: 1.0;
}

.event-type {
    width: 100%;
}

.event-type span {
    display: table-cell;
    width: 100px;
    padding-right: 20px;
    vertical-align: top;
}

.event-type .event-list {
    display: table-cell;
}

.event-detail {
    margin-top: 40px;
    margin-bottom: 30px;
}

.event-detail h3.title {
    text-transform: uppercase;
}

.event-book-related {
    float: left;
    width: 100%;
    padding: 10px 0px 20px 0px;
    border-top: 1px solid #eee;
}

.event-book-related .book-info {
    float: left;
    width: 100%;
}

.book-info .book-cover {
    float: left;
    overflow: hidden;
    width: 124px;
    height: 160px;
    margin-right: 20px;
}

.book-cover img {
    max-width: 100%;
}

.book-info .book-desc {
    overflow: hidden;
    font-size: 90%;
}

.book-desc a {
    display: block;
    margin-top: 5px;
}

.clear-border {
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 0px;
}

.clear-border-all {
    border-top: 0px;
    border-bottom: 0px;
}


/*------CTA box------*/

.cta {
    /*width: 100%;*/
}

.cta .price {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.cta .price span.black {
    color: #000;
    font-size: 200%;
}

.cta .price span.line-dash {
    margin-right: 10px;
    text-decoration: line-through;
}

.cta .price span.unit {
    color: #db1c2f;
    font-size: 200%;
}

.cta .dropdown button {
    margin: 20px 0px;
    text-transform: capitalize;
}

.cta .dropdown .dropdown-menu {
    width: 100%;
}

.cta ul.other-info {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.cta ul.other-info li {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #eee;
}

.cta ul.other-info li.green {
    color: #80b636;
}

.cta-social {
    margin-top: 30px;
    text-align: center;
}

.cta-social a {
    color: #909090;
}

.cta-social a:hover {
    color: #db1c2f;
}

.course-outline ul {
    list-style: none;
}

#profilelist {
    overflow-x: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#profilelist ul {
    list-style: none;
}

#profilelist li {
    display: inline;
    list-style-type: none;
}

.profile-bookmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-emphasize {
    font-size: 18px;
}

#reviewbox {
    padding-top: 5px;
}


/* curriculum */

.curriculum {
    display: table;
}

.curriculum .curr-col {
    display: table-cell;
    min-width: 40px;
    padding-right: 20px;
    vertical-align: top;
}

.curriculum .curr-col:last-child {
    padding-right: 0px;
}

.curriculum .curr-col p {
    margin-bottom: 0px;
}

.curriculum .curr-col .font-sm {
    color: #909090;
}

.curr-list a {
    display: block;
    color: inherit;
}

.curr-list li:hover {
    background-color: #f7f7f7;
}

ul.faq {
    padding-left: 20px;
    color: #909090;
}

.panel-heading.panel-price {
    background-color: #fff;
}

.panel-body.panel-price {
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}

.panel-footer.panel-price {
    border-top: 1px solid #eee;
    background-color: #f9f9f9;
}

.brief-profile {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.brief-coursetype {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.brief-coursetype>img {
    height: 40px;
    border: 1px solid #eee;
}

.btn-lesson-create {
    color: #fff;
    border-color: #D2D2D2;
    background-color: #D2D2D2;
}
