.footer {
    display: block;
    /*padding-top: 30px;*/
    box-sizing: border-box;
    width: 100%;
    /*margin-top: 60px;*/
    color: #909090;
    border-top: 1px solid #eee;
    background-color: #f5f5f5;
    font-size: 0.846em;
}

.footer a {
    color: #909090;
}

.footer a:hover, .footer a:focus, .footer a:active {
    color: #db1c2f;
}

.footer ul {
    padding-left: 0px;
    list-style-type: none;
}

.footer ul>li {
    margin-top: 2px;
    margin-bottom: 5px;
}

.subscribe {
    display: table;
    width: 100%;
}

.copyright {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0px 20px;
    border-top: 1px solid #ddd;
    font-size: 0.846em;
}
