@charset "UTF-8";

@font-face {
    font-family: 'univers';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/univers-light.eot');
    src: url('../fonts/univers-light.eot?#iefix') format('embedded-opentype'), url('../fonts/univers-light.woff') format('woff'), url('../fonts/univers-light.ttf') format('truetype'), url('../fonts/univers-light.svg#univers-light') format('svg');
}

@font-face {
    font-family: 'thaisans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/thaisansneue-light-webfont.eot');
    src: url('../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-light-webfont.woff') format('woff'), url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'), url('../fonts/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');
}

@font-face {
    font-family: 'thaisans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/thaisansneue-bold-webfont.eot');
    src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-bold-webfont.woff') format('woff'), url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'), url('../fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}

@font-face {
    font-family: 'helvethaicaais';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/db_helvethaicaais_x_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaicaais_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaicaais_x_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaicaais_x_v3.2-webfont.ttf') format('truetype'), url('../fonts/db_helvethaicaais_x_v3.2-webfont.svg#db_helvethaicaais_x_v3.2-webfont') format('svg');
}

@font-face {
    font-family: 'heaventais';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DBHeaventv3.2.eot');
    src: url('../fonts/DBHeaventv3.2.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeaventv3.2.woff') format('woff'), url('../fonts/DBHeaventv3.2.ttf') format('truetype'), url('../fonts/DBHeaventv3.2.svg#DBHeaventv3.2') format('svg');
}

@font-face {
    font-family: 'heaventais';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/DBHeaventMedv3.2.eot');
    src: url('../fonts/DBHeaventMedv3.2.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHeaventMedv3.2.woff') format('woff'), url('../fonts/DBHeaventMedv3.2.ttf') format('truetype'), url('../fonts/DBHeaventMedv3.2.svg#DBHeaventMedv3.2') format('svg');
}
/*=================Element=================*/

* {
    outline: none;
}

body {
    letter-spacing: 0.05em;
    font-family: 'thaisans', sans-serif;
    font-size: 14px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: 0;
}

a.link, a.link:hover, a.link:focus, a.link:active {
    color: #3E60C4;
}

p>a, p>a:hover, p>a:focus, p>a:active {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'thaisans', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 400;
    line-height: 1.2em;
}

h4 {
    line-height: inherit;
}

ul.unstyle, ul.inline {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.unstyle > li {
    list-style: none;
}

ul.inline li {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

ul.list-style-check, ul.list-style-check li {
    margin-bottom: 5px;
    list-style-image: url('/static/images/green-checked.png');
}

p.fix {
    overflow: hidden;
    height: 32px;
}

p.fix.line2 {
    height: 40px;
}

p.fix.package {
    height: 70px;
}

blockquote {
    margin: 20px;
    border-left: 2px solid #eee;
}

blockquote:before {
    content: " ";
}

blockquote p {
    color: #959595;
    font-size: 1.00em;
    line-height: 1.5em;
}

blockquote.red {
    margin: 30px 20px;
    padding: 0px 20px;
    color: #333;
    border-left: 4px solid #db1c2f;
    font-family: Georgia, serif;
    font-size: 150%;
    font-style: italic;
}

blockquote.red:before {
    content: " ";
}

blockquote.red p.name:before {
    margin-right: 10px;
    content: "—";
}

blockquote.red p {
    margin-top: 15px;
    font-size: 80%;
}

textarea {
    padding: 6px 12px !important;
    resize: vertical;
}

select.form-control {
    padding: 0px 12px;
}

img.avatar, .avatar img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50% !important;
}
table tr td, table tr th{
  padding: 5px 10px;
}
.avatar-info-inline {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.avatar-info-inline img {
    margin-right: 7px;
}

.avatar-info-inline * {
    display: inline-block;
    vertical-align: middle;
}

.text-center th {
    text-align: center;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/*=================Additional Specify=================*/


/*-------------Color--------------*/

.main-color {
    color: #db1c2f !important;
}

.dark-red, .red, .text-red {
    color: #db1c2f;
}

.white {
    color: #fff !important;
}

.black {
    color: #333;
}

.grey {
    color: #909090;
}

.orange {
    color: #f39e04;
}

.green {
    color: #bad200;
}

.dark-green {
    color: #53B949;
}

.blue {
    color: #00a2fe;
}

.text-completed {
    color: #b2d234;
}

.text-in-progress {
    color: #FCAF17;
}

.text-expired {
    color: #231f20;
}

.text-fail {
    color: #ED1C24;
}

.rating-yellow {
    color: #fec11e;
}

.link-normal, .link-normal:hover, .link-normal:active, .link-normal:focus {
    color: #333 !important;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-main {
    background-color: #b2d234;
}

.bg-in-progress {
    background-color: #fcaf17;
}

.bg-completed {
    background-color: #74a333;
}

.bg-failed {
    background-color: #ed1c24;
}

.bg-expired {
    background-color: #231f20;
}

.bg-in-progress-light {
    background-color: #fce3b1;
}

.bg-completed-light {
    background-color: #c3d6a9;
}

.ie .flex {
    display: block;
    text-align: center;
}

.ie .flex li {
    display: inline-block;
    padding: 0 20px;
}

.ie .flex li.active {
  position: relative;
  z-index: 1;
}
/*-------------Effect, Filter--------------*/

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.bg-failed-light {
    background-color: #fac0c3;
}

.bg-expired-light {
    background-color: #e8e8e8;
}


/*-------------Text, Font--------------*/

.thaisansFont {
    font-family: 'thaisans', sans-serif !important;
}

.helvethaicaais {
  font-family: 'helvethaicaais', sans-serif !important;
}

.font-sm {
    font-size: 80%;
}

.font-bold {
    font-weight: bold;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-15 {
    font-size: 15px;
}

.font-12 {
    font-size: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


/*-------------Border--------------*/

.div-line {
    border-bottom: 1px solid #eeeeee;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.rounded {
    border-radius: 50em;
}

.overflow-hidden {
    overflow: hidden;
}


/*-------------Align--------------*/

.center2D, .modal-dialog, #cropImageModal {
    width:250px;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.center2D.pos-fixed, #cropImageModal {
    position: fixed !important;
}

.vertical-middle * {
    vertical-align: middle;
}

.no-float {
    float: none !important;
}

.line-through {
    text-decoration: line-through;
}

.full-width {
    width: 100%;
}

.clear {
    clear: both;
}

.fix-at-bottom, .footer-fix-bottom footer, .footer-fix-bottom .footer, .footer-fix-bottom #footer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

.black-ribbon {
    position: fixed;
    bottom: 0;
    left: 0;
}

.no-wrap{
  white-space: nowrap;
}


/*-------------Display--------------*/

.relative {
    position: relative !important;
}

.hidden, .ui-helper-hidden-accessible {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.expand {
    display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex li {
    -webkit-flex: 1 1 0;
    -moz-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}
.pointer {
  cursor: pointer !important;
}
.not-allowed {
  cursor: not-allowed !important;
}


/*-------------Effect, Filter--------------*/

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.blur-more {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}


/*-------------Transition--------------*/

.trans03s {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*-------------Margin, Padding--------------*/

.top-pad {
    margin-top: 40px;
}

.top-margin-little {
    margin-top: 20px;
}

.top-margin-more-little {
    margin-top: 10px;
}

.top-pad-20 {
    padding-top: 20px;
}

.top-pad-80 {
    padding-top: 80px !important;
}

.top-pad-120 {
    padding-top: 120px !important;
}

.bottom-pad {
    padding-bottom: 20px;
}

.bottom-pad-10 {
    padding-bottom: 10px;
}

.bottom-pad-15 {
    padding-bottom: 15px;
}

.bottom-pad-20 {
    padding-bottom: 20px;
}

.bottom-pad-80 {
    padding-bottom: 80px;
}

.clear-pad {
    margin: 0px !important;
    padding: 0px !important;
}

.clear-border {
    border: none;
}

.no-top-margin {
    margin-top: 0;
}

.no-top-pad {
    padding-top: 0;
}

.no-btm-margin {
    margin-bottom: 0;
}

.no-btm-pad {
    padding-bottom: 0;
}


/*=================Object=================*/

.body-overlay, .crop-image-overlay {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.body-overlay.show, .crop-image-overlay {
    z-index: 101;
    opacity: 1;
}

.crop-image-overlay {
  display: none;
}

.crop-image-overlay.show {
  display: block;
}

#header {
    background-color: #fff;
}

.header-logo img {
    max-height: 40px;
}

.menu-top {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

#content, #footer {
    -webkit-transition: padding 0.3s linear;
    -moz-transition: padding 0.3s linear;
    -ms-transition: padding 0.3s linear;
    transition: padding 0.3s linear;
}

#footer {
    padding: 15px;
}

#no-lesson {
    margin-top: 50px;
    color: gray;
    font-size: 15px;
}

.container-stable {
    width: 100% !important;
    max-width: 1170px !important;
}

.toggle-side-menu {
    display: none;
    font-size: 1.2em;
}

.featured-slide {
    display: none;
    /*เพื่อไม่ให้เกิดภาพกระพริบ เดี๋ยว slick จะ display block ให้เอง*/
}

.featured-slide .slick-slide {
    border-right: solid 1px #ddd;
}
.featured-slide .slick-dots{
  bottom: -30px;
}
.featured-slide .slick-dots li, .featured-slide .slick-dots li button:before{
  width: 20px;
  padding: 0;
  font-size: 20px;
  opacity: 0.5;
}
.featured-slide .slick-dots li button:before{
  z-index: -1;
}
.featured-slide .slick-dots li button {
  font-size: 11px;
  color: white;
  opacity: 1;
  line-height: 8px;
}
.featured-slide .slick-dots li.slick-active, .featured-slide .slick-dots li.slick-active button, .featured-slide .slick-dots li.slick-active button:before{
  opacity: 1;
}
.featured-slide img {
    width: 100%;
    max-width: 1136px;
}

.announcement {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 12px 10px 10px 140px;
    color: #231f20;
    border-radius: 5px;
    background-color: #fff;
}

.announcement .head {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    padding: 13px 0 10px 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.announcement .marquee {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    white-space: nowrap;
}

.banner-category, .banner-content-provider, .banner-instructor {
    max-height: 300px;
}


/*-------------Login Page-------------*/

#login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#login-page:before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
}

#login-page .main {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 315px;
    margin: -20px auto 0 auto;
    padding: 0;
}

#login-page .main img.logo {
    width: 180px;
    margin: 0 0 10px 0;
}

#login-page .main input[name="email"], #login-page .main input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 0 7px;
}

#login-page .main h3, #login-page .main h5 {
  position: relative;
  z-index: 5;
}

#login-page footer {
    position: relative;
    padding: 15px 0;
    z-index: 5;
}


/*==================Left Menu=======================*/

ul.left-menu {
    position: fixed;
    z-index: 90;
    top: 0;
    left: -221px;
    overflow-y: auto;
    width: 220px;
    height: 100%;
    padding-top: 52px;
    padding-bottom: 40px;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    transition: left 0.3s linear;
    border: 1px solid rgba(191, 191, 191, 0.45);
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.has-left-menu ul.left-menu {
    left: 0;
}

#header ul li.show-mobile, .has-left-menu #header ul li.browse.has-sub-menu:hover ul.sub-menu, #header .btn-close-search {
    display: none;
}

#header ul li.has-sub-menu:not(.browse):hover ul.sub-menu {
    display: block;
}
#header ul li.browse ul.sub-menu li a > i, ul.left-menu li a > i, #side-menu-wrapper ul li:not(.profile) a > i{
  display: inline-block;
  width: 25px;
  text-align: center;
}
.has-left-menu #content, .has-left-menu #footer {
    padding-left: 220px;
}

ul.left-menu::-webkit-scrollbar, .browse ul.sub-menu::-webkit-scrollbar {
    width: 4px;
}

ul.left-menu::-webkit-scrollbar-track, .browse ul.sub-menu::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
}

ul.left-menu::-webkit-scrollbar-thumb, .browse ul.sub-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}


/*==================Hidden Some Menus=======================*/

.hidden-some-menu>ul {
    position: relative;
    overflow: hidden;
    max-height: 180px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hidden-some-menu>ul li a {
    margin-top: 3px;
    margin-left: 20px;
    padding: 0 10px !important;
    border-left: dotted 3px #aaa;
    line-height: 45px !important;
}

.hidden-some-menu a.btn-show-all {
    position: absolute;
    bottom: 10px;
    display: block;
    overflow: visible;
    width: 100%;
    height: 40px;
    padding: 0 !important;
    text-align: center !important;
    opacity: 1;
    background-color: #231f20 !important;
}

.hidden-some-menu a.btn-show-all span {
    display: inline-block;
    padding: 0 30px 2px 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
    border: solid 2px #fff;
    border-radius: 50px;
    background-color: #231f20;
    line-height: 27px;
}

.hidden-some-menu a.btn-show-all:hover span {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
    background-color: #b2d234;
}

.hidden-some-menu i.btn-show-all, .hidden-some-menu i.btn-hide {
    position: absolute;
    top: 12px;
    right: 9px;
    padding: 3px;
    cursor: pointer;
    color: #ccc;
    border-radius: 3px;
    background-color: #555;
}

.hidden-some-menu i.btn-show-all:hover, .hidden-some-menu i.btn-hide:hover {
    color: #231f20;
}

.hidden-some-menu i.btn-hide {
    display: none;
}

.hidden-some-menu.showAll>ul {
    max-height: 2000px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.hidden-some-menu.showAll .btn-show-all {
    display: none !important;
}

.hidden-some-menu.showAll i.btn-hide {
    display: block;
}


/*-------------Menu Hamburgur--------------*/

#menu-trigger {
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#menu-trigger .line-wrap .line {
    background-color: #fff;
}

#menu-trigger:before {
    position: absolute;
    z-index: 0;
    top: 6px;
    left: 10px;
    width: 40px;
    height: 40px;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
}

/*#menu-trigger.open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}*/

.line-wrap {
    width: 18px;
    height: 12px;
    margin: 20px 0 0 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.line-wrap .line {
    width: 18px;
    height: 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.line-wrap .line.center {
    margin: 3px 0;
}

/*.open .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.open .line-wrap .line.top {
    width: 12px;
    -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
    transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
    width: 12px;
    -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
    transform: translateX(8px) translateY(-1px) rotate(-45deg);
}*/


/*-------------Side Menu for Mobile--------------*/

.side-menu-pattern-1 {
    display: none;
}

.side-menu-pattern-2 {
    display: none;
    width: 300px;
    color: #fff;
    background: #231f20;
}

html.mm-opening .mm-slideout {
    transform: translate(300px, 0);
}

.side-menu-pattern-2 li:after {
    left: 0;
    border-color: rgba(255, 255, 255, 0.1);
}

.side-menu-pattern-2 li.user-info:after {
    display: none;
}

.side-menu-pattern-2 .user-avatar {
    width: 90px;
    height: 90px;
}

.side-menu-pattern-2 .menu-square {
    padding-right: 20px;
    padding-left: 20px;
}

.side-menu-pattern-2 .menu-square a {
    position: relative;
    display: inline-block;
    width: 46%;
    margin: 0 1%;
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.side-menu-pattern-2 .menu-square a .badge {
    position: absolute;
    top: -5px;
    right: 15px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #ed1c24;
    line-height: 20px;
}

.side-menu-pattern-2 li:not(.user-info)>a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.side-menu-pattern-2 .mm-next, .side-menu-pattern-2 .mm-prev {
    width: 100%;
}

.side-menu-pattern-2 .mm-prev {
    background: url('/static/images/left-arrow.png') no-repeat 10px 10px/auto 40%;
}

.side-menu-pattern-2 .mm-header a {
    color: #fff !important;
}


/*==================Side Menu for Mobile=======================*/

#side-menu-wrapper {
    position: fixed;
    z-index: 199;
    top: 0;
    left: -100%;
    overflow: hidden;
    width: 80%;
    max-width: 450px;
    height: 100%;
    padding-bottom: 15px;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    background-color: #f4f4f4;
}

.side-menu-opened #side-menu-wrapper {
    left: 0;
}

#side-menu-wrapper ul li:not(.profile) a {
    display: block;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
}

#side-menu-wrapper ul li:not(.profile) a:hover {
    background-color: #fff;
}

#side-menu-wrapper .close-side-menu {
    position: absolute;
    top: 15px;
    right: 20px;
}

#side-menu-wrapper .main-side-menu, #side-menu-wrapper .secondary-menu {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#side-menu-wrapper .main-side-menu .profile {
    padding: 20px 10px 5px 10px;
    background-color: #b2d234;
}

#side-menu-wrapper .main-side-menu .profile .avatar {
    width: 90px;
    height: 90px;
}

#side-menu-wrapper .main-side-menu .profile * {
    color: #fff;
}

#side-menu-wrapper .main-side-menu .has-secondary-menu {
    position: relative;
}

#side-menu-wrapper .main-side-menu .has-secondary-menu .fa-chevron-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

#side-menu-wrapper .secondary-menu {
    left: 100%;
}

#side-menu-wrapper .secondary-menu .secondary-menu-header {
    position: relative;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #b2d234;
    font-size: 20px;
    line-height: 40px;
}

#side-menu-wrapper .secondary-menu .secondary-menu-header .close-secondary-menu {
    float: left;
    padding: 10px;
    color: #fff;
}

.browse-menu-logo {
    text-align: center !important;
    color: #fff !important;
    background-color: #333;
}

.browse-menu-logo:hover {
    background-color: #333 !important;
}

.browse-menu-logo strong {
    display: none;
}

#side-menu-wrapper .browse-menu-logo {
    display: block;
    padding: 10px !important;
    text-align: left !important;
    white-space: nowrap;
}

#side-menu-wrapper .browse-menu-logo img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 7px;
}

#side-menu-wrapper .browse-menu-logo strong {
    display: inline-block;
}

#side-menu-wrapper.secondary-menu-opened .main-side-menu {
    left: -100%;
}

#side-menu-wrapper.secondary-menu-opened .secondary-menu.opened {
    left: 0;
}

#side-menu-wrapper.secondary-menu-opened .close-side-menu {
    display: none;
}

#side-menu-wrapper .side-menu-footer {
    padding: 40px 20px 0 20px;
}

#side-menu-wrapper::-webkit-scrollbar {
    width: 4px;
}

#side-menu-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
}

#side-menu-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}


/*-------------Modal Walkthrough--------------*/

.modal.walkthrough .modal-dialog {
    max-width: 800px;
    padding: 20px;
    background-color: #000;
    overflow: hidden;
}

.modal.walkthrough img.logo {
    height: 30px;
}

.modal.walkthrough ul {
    width: 100%;
}

.modal.walkthrough ul li.slick-slide {
    width: 100%;
    max-width: 680px;
    margin: 10px 20px 20px 20px;
    transition: opacity 0.5s linear;
    text-align: center;
    opacity: 0;
}

.modal.walkthrough ul.show-slide li.slick-slide {
    opacity: 1;
}

.modal.walkthrough ul li.slick-slide img {
    width: 80%;
    max-width: 400px;
    margin: 0 auto 20px auto;
}

.modal.walkthrough ul li.slick-slide h3 {
    font-weight: bold;
}

.modal.walkthrough ul li.slick-slide h4 {
    color: #fff;
}

.modal.walkthrough .btn-inline {
    position: relative;
    z-index: 9;
    width: 100px;
    text-align: center;
}

.modal.walkthrough .btn-nav {
    height: 40px;
}

.modal.walkthrough .btn-prev {
    display: none;
}

#announcementModal .modal-dialog{
  max-width: 500px;
  padding: 0;
  background-color: white;
}
#announcementModal .modal-dialog button{
  border-radius: 0;
}
#announcementModal .modal-dialog .modal-body{
  max-height: 310px;
  padding-bottom: 15px;
  overflow-y: auto;
}

#createTopicModal input[name="topic"]{
  width:100%;
  height:50px;
  font-size:16px;
  padding-left:10px;
  margin-bottom: 20px;
  border:solid 1px #ccc;
}

/*-------------button--------------*/

.btn-inline, .btn-inline-small, .btn-block {
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px;
    /*box-shadow: 0 1px 2px #cbcbcb;*/
    line-height: 35px;
}

.btn-inline-small {
    padding: 0 10px;
    line-height: 25px;
}

.btn-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-main-color {
    color: #fff;
    border: solid 2px #db1c2f;
    background-color: #db1c2f;
}

.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus {
    color: #db1c2f;
    border: solid 2px #db1c2f;
    background-color: #fff;
}

.btn-white {
    color: #db1c2f;
    background-color: #fff;
}

.btn-white-outline {
    color: #fff;
    border: solid 2px #fff;
    background-color: transparent;
}

.btn-white-outline:hover, .btn-white-outline:active, .btn-white-outline:focus {
    color: #333;
    background-color: #fff;
}

.btn-blk {
    color: #fff;
    background-color: #333;
}

.btn-blk:hover, .btn-blk:active, .btn-blk:focus {
    color: #fff;
    outline: 0;
    background-color: #2a2a2a;
}

.btn-black {
    color: #fff;
    border: 1px solid #000;
    background: #000;
}

.btn-black:hover, .btn-black:active, .btn-black:focus {
    color: #000;
    background: #fff;
}

.btn-dark-grey {
    color: #fff;
    background-color: #c1c1c1;
}

.btn-dark-grey:hover, .btn-dark-grey:active, .btn-dark-grey:focus {
    color: #c1c1c1;
    border-color: #c1c1c1;
    background-color: #fff;
}

.btn-grey {
    color: #333;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    color: #333;
    border: 1px solid #ddd;
    background-color: #eee;
}

.btn-red {
    color: #fff;
    border: solid 2px #db1c2f;
    background-color: #db1c2f;
}

.btn-red:hover {
    color: #db1c2f;
    border: solid 2px #db1c2f;
    background-color: #fff;
}

.btn-red-fill {
    color: #fff!important;
    border: 1px solid #db1c2f;
    background-color: #db1c2f;
}

.btn-red-outline {
    color: #db1c2f!important;
    border: 1px solid #db1c2f;
    background-color: #fff;
}

.btn-red-outline:hover, .btn-red-outline:active, .btn-red-outline:focus {
    color: #fff!important;
    background-color: #db1c2f;
}

.btn-blue {
    color: #fff;
    border: 1px solid #3e60c4;
    background: #3e60c4;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    color: #3e60c4;
    background: #fff;
}

.btn-lime-fill {
    color: #fff!important;
    border: 1px solid #ffb83d;
    background-color: #ffb83d;
}

.btn-lime-outline {
    color: #ffb83d!important;
    border: 1px solid #ffb83d;
    background-color: #fff;
}

.btn-orange, .btn-orange:visited {
    color: #fff;
    border-color: #FBA200;
    background-color: #FBA200;
}

.btn-orange:hover, .btn-orange:focus {
    color: #FBA200;
    background-color: #fff;
}

.btn-round {
    border-radius: 50px;
}

.btn-icon {
    position: relative;
    padding-left: 50px;
}

.btn-icon:before {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 24px;
    height: 24px;
    content: '';
}

.btn-fb {
    /*Facebook*/
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover, .btn-fb:focus, .btn-fb:active {
    background-color: #355088;
}

.btn-play {
    padding: 10px 15px;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #53B949;
    background-color: #53B949;
    font-size: 13px;
    font-weight: bold;
}

.btn-play:hover, .btn-play:active, .btn-play:focus {
    color: #53B949;
    background-color: #fff;
}

.btn-completed {
    color: #fff;
    background-color: #b2d234;
}

.btn-in-progress, .btn-in-progress:focus {
    color: #fff;
    border: solid 2px #FCAF17;
    background-color: #FCAF17;
}

.btn-in-progress:hover, .btn-in-progress:active {
    color: #FCAF17;
    background-color: #fff;
}

.btn-expired {
    color: #fff;
    background-color: #231f20;
}

.btn-fail {
    color: #fff;
    background-color: #ED1C24;
}

.big-btn {
    padding: 15px 15px 10px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 140%;
}


/*-------------Notification Dropdown-------------*/

.notification-dropdown .dropdown-menu {
    width: 450px;
    padding: 0;
}

.notification-dropdown .text-muted {
    color: #aaa;
}

.notification-dropdown .dropdown-heading {
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.notification-dropdown .dropdown-footer {
    color: #fff;
}

.notification-dropdown .dropdown-footer a {
    text-align: center !important;
    color: #fff !important;
    background-color: #b2d234 !important;
    line-height: 40px !important;
}

.notification-dropdown .dropdown-footer a:hover, .notification-dropdown .dropdown-footer a:focus {
    opacity: 0.8;
}

.notification-dropdown .dropdown-menu>li+li {
    border-top: 1px solid #eee;
}

.notification-dropdown .dropdown-menu>li>a {
    position: relative;
    line-height: 30px !important;
}

.notification-dropdown .notification-heading, .notification-dropdown .sender {
    display: block;
}

.notification-heading {
    overflow: hidden;
    width: 100%;
    padding-right: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notification-dropdown .sender {
    font-size: 11px;
}

.notification-dropdown .time-sent {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 10px;
}

.notification-dropdown p {
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
    font-size: 12px;
}

.notification-dropdown.new-alert:before {
    position: absolute;
    z-index: 2;
    top: 3px;
    right: 20px;
    width: 15px;
    height: 15px;
    content: 'N';
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #ed1c24;
    font-size: 10px;
    line-height: 15px;
}

.notification-item {
    position: relative;
    padding: 10px;
    padding-left: 65px;
    cursor: pointer;
    border: 1px solid #eee;
    border-width: 1px 0;
    background-color: #fff;
}
.notification-item.read {
  background-color: #f8f8f8;
}
.notification-item .notification-body {
    display: none;
}

.notification-item.opened .notification-body {
    display: block;
}

.notification-item.no-icon {
    padding-left: 20px;
}

.notification-item.no-icon .notification-icon {
    display: none;
}

.notification-item.unread {
    background-color: #f6f6f6;
}

.notification-item:hover {
    /*border: solid 1px #ddd !important;*/
}

.notification-item+.notification-item {
    border-top-width: 0;
}

.notification-item .notification-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #b2d234;
    font-size: 20px;
    line-height: 40px;
}

.notification-item h4 {
    line-height: 22px;
}

.notification-item .notification-time {
    font-size: 12px;
}


/*-------------Breadcrumb--------------*/

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.846em;
}

.breadcrumb ol>li {
    color: #db1c2f;
}

.breadcrumb a {
    color: #909090;
}

.breadcrumb>.active {
    color: #d0d0d0;
}


/*-------------Nav Tabs--------------*/

.navi-tabs {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.navi-tabs li {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.navi-tabs li:last-child {
    padding-right: 0;
}

.navi-tabs li a {
    display: block;
    overflow: hidden;
    padding: 10px 5px;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #8f8f8f;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.navi-tabs .active a {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

.navi-tabs li:not(.active) a:hover, .navi-tabs li:not(.active) a:focus {
    color: #333;
    border-color: #000;
}


/*-------------Block, Scroller--------------*/

ul.block-wrapper {
    position: relative;
    max-width: 1120px;
    margin: 10px auto;
    padding: 0;
    list-style: none;
}

li.block {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 214px;
    height: 325px;
    margin: 0 2px 20px 2px;
    cursor: pointer;
    border: solid 1px #eee;
    background-color: #fff;
}

li.block img.cover {
    width: 100%;
}

li.block img.badge-corner {
    position: absolute;
    top: 0;
    right: 0;
}

li.block .detail {
    position: relative;
    top: 0;
    padding: 10px;
    transition: top 0.3s ease-in-out;
    background-color: #fff;
}

li.block .detail .course-name {
    display: block;
    overflow: hidden;
    height: 60px;
    margin: 5px 0 10px 0;
    text-overflow: ellipsis;
    color: #333;
}

li.block .detail .subject {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li.block .detail .price {
    height: 25px;
    white-space: nowrap;
}

li.block .detail .duration-price {
    color: #db1c2f;
}

li.block .detail .static-price {
    margin-right: 5px;
    text-decoration: line-through;
    color: #bbb;
}

li.block .detail .instructor {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 10px 5px 10px 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    border-top: solid 1px #eee;
}

li.block .detail .avatar {
    position: absolute;
    top: 10px;
    left: 0;
    width: 44px;
    height: 44px;
}

li.block .detail .hidden-section {
    display: block;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

li.block-slide:hover .detail {
    top: -60px;
}

li.block-slide:hover .detail .hidden-section {
    opacity: 1;
}

li.block.height-auto {
    height: auto;
}

ul.block-wrapper.questions li.block {
    height: 425px;
}


/*-------------Box Wrapper, Item Box--------------*/

ul.box-wrapper, .box-wrapper-parody {
    position: relative;
    max-width: 1170px;
    margin: 40px auto 10px auto;
    padding: 0 15px;
    list-style: none;
}
.box-wrapper-parody{
    padding: 0 30px 0 25px;
}
ul.box-wrapper h1 {
    margin: 0 0 20px 0;
    font-size: 28px;
    font-weight: bold;
}

ul.box-wrapper h1, ul.box-wrapper h4, ul.box-wrapper .filter {
    padding-left: 9px;
}

ul.box-wrapper .btn-inline-small.pull-right {
    margin-right: 15px;
    font-size: 14px;
}

.no-item {
    margin: 60px 15px 60px 9px;
    padding: 20px 0;
    text-align: center;
    color: #bbb;
    border: solid 5px #eee;
    border-radius: 7px;
    /*background-color: #fff;*/
    line-height: 35px;
    font-weight: bold;
}

ul.box-wrapper .filter {
    margin: 20px 0;
}

ul.box-wrapper .filter form{
  position: relative;
  display: inline-block;
  z-index: 2;
}
ul.box-wrapper .filter select {
    margin: 0 3px 5px 0;
    padding: 2px 5px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}
ul.box-wrapper .filtered{
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 9px;
}

li.item-box {
    position: relative;
    display: inline-block;
    width: 260px;
    margin: 9px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

li.item-box a.image {
    position: relative;
    display: block;
    overflow: hidden;
}

li.item-box a.image:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    transition: opacity 0.1s linear;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

li.item-box:hover a.image:after {
    opacity: 1;
}

li.item-box img.cover {
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

li.item-box:hover img.cover {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
}

li.item-box img.badge-corner {
    position: absolute;
    top: 0;
    right: 0;
}

li.item-box .detail {
    position: relative;
    display: block;
    padding: 10px;
    color: #333;
}

li.item-box:hover .detail {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

li.item-box .detail .course-name {
    display: block;
    overflow: hidden;
    height: 63px;
    margin: 0 0 10px 0;
    text-overflow: ellipsis;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

li.item-box .detail .category {
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li.item-box .detail .price {
    height: 25px;
    white-space: nowrap;
}

li.item-box .detail .duration-price {
    color: #db1c2f;
}

li.item-box .detail .static-price {
    margin-right: 5px;
    text-decoration: line-through;
    color: #bbb;
}

li.item-box .instructor, li.item-box .paragraph {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    width: 80%;
    padding: 16px 0 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

li.item-box .instructor a {
    color: #fff;
}

li.item-box .instructor a.square {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-bottom: 7px;
    padding-bottom: 30%;
}

li.item-box .instructor a.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 3px #fff;
    border-radius: 3px;
    background-color: #fff;
}

li.item-box .paragraph {
    z-index: 1;
    width: 100%;
    padding: 16px;
    white-space: normal;
}

li.item-box .type-icon {
    position: absolute;
    top: 16px;
    right: 12px;
    display: none;
    color: #fff;
    font-size: 30px;
}

li.item-box:hover .instructor, li.item-box:hover .paragraph, li.item-box:hover .type-icon {
    display: block;
}

li.item-box .status {
    margin: 10px -10px -10px -10px;
    padding: 7px 0 5px 5px;
    background: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.item-box .status.time-limit {
    color: #ed1c24;
}

li.item-box .status.finish {
    color: #fff;
    background-color: #e8df15;
}

li.item-box .status.pass {
    color: #fff;
    background-color: #40a83d;
}

li.item-box .status.expired {
    color: #fff;
    background-color: #231f20;
}

li.item-box .status.fail {
    color: #fff;
    background-color: #ed1c24;
}

li.item-box .status.completed {
    color: #fff;
    background-color: #b2d234;
}

li.item-box .status.in-progress {
    color: #fff;
    background-color: #fcaf17;
}

li.item-box .item-progress {
    position: absolute;
    top: -20px;
    right: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border: solid 3px #fff;
    border-radius: 50%;
    background-color: #e3d94b;
    line-height: 35px;
}

li.item-box .item-progress.completed {
    background-color: #b2d234;
}

li.item-box .item-progress.fail {
    background-color: #ED1B23;
}

li.item-box .item-progress.lock {
    background-color: #999;
}

li.item-list {
    border-bottom: solid 1px #ddd;
}
.li-no-border li.item-list {
    border-bottom: none;
}
li.item-list a {
    position: relative;
    display: block;
    margin: 15px 0;
    padding: 7px 40px 25px 130px;
    color: #231f20;
    border-radius: 6px;
}

li.item-list a:hover {
    background-color: #fff;
}

li.item-list a img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

li.item-list a h4 {
    overflow: hidden;
    margin: 5px 0 8px 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

li.item-list a p {
    overflow: hidden;
    height: 44px;
    margin: 0;
    text-overflow: ellipsis;
    line-height: 1.7em;
}

li.item-list a i {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #aaa;
    font-size: 15px;
}

ul.shelf-wrapper {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 60px auto 10px auto;
    padding: 0;
    list-style: none;
}

ul.shelf-wrapper .shelf-bar {
    position: absolute;
    left: -2000px;
    width: 2000%;
    height: 30px;
    background-color: #dedede;
}

li.item-shelf {
    /*float: left;*/
    display: inline-block;
    width: 25%;
    margin-bottom: 40px;
    vertical-align: bottom;
    border-bottom: solid 1px #eee;
}

li.item-shelf .image {
    position: relative;
    z-index: 3;
    display: block;
    padding: 89% 20% 0 20%;
}

li.item-shelf .image:before {
    position: absolute;
    z-index: -1;
    bottom: -9px;
    left: 0;
    display: none;
    width: 100%;
    height: 30px;
    content: ' ';
    background-color: #dedede;
}

li.item-shelf .image img.cover {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 5px #999;
}

li.item-shelf:hover .image img.cover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 10px #333;
}

li.item-shelf .detail {
    display: block;
    padding: 20px 20px 5px 20px;
    background-color: #fff;
}

li.item-shelf:hover .detail {
    background-color: #dedede;
}

li.item-shelf .detail .wrap-bar-sm {
    margin: 7px 0;
    color: #909090;
}

li.item-shelf .item-name {
    overflow: hidden;
    height: 44px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 16px;
}

li.item-shelf .item-type, li.item-shelf .status {
    color: #333;
    font-style: 13px;
}

li.item-shelf .status {
    height: 40px;
    margin-top: 5px;
}

li.item-shelf .status.expired {
    color: #ED1B23;
}

li.item-shelf .status.completed {
    color: #b2d234;
}


/*Delete when whole project uses ul.box-wrapper*/

.item-status-box {
    height: 34px;
    margin: 15px -15px -15px -15px;
    padding: 5px;
    background: #f5f5f5;
}

.item-status-box.time-limit {
    color: #ed1c24;
}

.item-status-box.finish {
    color: #fff;
    background-color: #e8df15;
}

.item-status-box.pass {
    color: #fff;
    background-color: #40a83d;
}

.item-status-box.expired {
    color: #fff;
    background-color: #231f20;
}

.item-status-box.fail {
    color: #fff;
    background-color: #ed1c24;
}

.item-status-box.completed {
    color: #fff;
    background-color: #b2d234;
}


/*Delete when whole project uses ul.box-wrapper*/


/*-------------Progress Bar--------------*/

.wrap-bar {
    position: relative;
    float: left;
    width: 100%;
    padding-right: 80px;
    ;
}

.wrap-bar>h2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12px;
    border-radius: 10px;
    background: #ddd;
}

.progress-bar-top {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background: #b2d234;
}

.wrap-bar-sm {
    position: relative;
    margin: 20px 0 0 0;
    padding-right: 45px;
}

.wrap-bar-sm .bar-sm {
    position: relative;
    overflow: hidden;
    height: 8px;
    border-radius: 10px;
    background: #ddd;
}

.wrap-bar-sm>p {
    position: absolute;
    right: 0;
    bottom: -5px;
}


/*-------------Event Tags--------------*/

.event-tags a {
    margin: 3px;
    padding: 3px 10px;
    text-transform: capitalize;
    color: #f9bf3b;
    border: 1px solid #f9bf3b;
    border-radius: 50px;
    font-size: 13px;
}

.event-tags a:hover {
    color: #fff;
    background-color: #f9bf3b;
}

.event-tags a.suggest {
    color: #db1c2f;
}

.event-tags a.suggest:hover {
    color: #fff;
    background-color: #db1c2f;
}

.event-tags-color a {
    margin: 3px;
    padding: 2.5px 5px;
    text-transform: uppercase;
    color: #f9bf3b;
    border: 1px solid #f9bf3b;
    border-radius: 15px;
}

.event-tags-color a:hover {
    -webkit-transition: All 0.3s ease 0s;
    -moz-transition: All 0.3s ease 0s;
    -ms-transition: All 0.3s ease 0s;
    -o-transition: All 0.3s ease 0s;
    transition: All 0.3s ease 0s;
    color: #fff;
    background-color: #f9bf3b;
}

.event-tags-color a.suggest {
    color: #db1c2f;
}

.event-tags-color a.suggest:hover {
    color: #fff;
    background-color: #db1c2f;
}


/*-------------Course Detail--------------*/

.course-info {
    border-bottom: solid 1px #ddd;
}

.course-preview-img {
    padding-top: 15px;
}

.course-preview-img img {
    width: 100%;
    border: solid 1px #eee;
    border-radius: 4px;
}

.course-preview-img a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url('/static/images/preview_video_icon.png') no-repeat center center;
}

.about-creator {
    margin-top: 20px;
    white-space: nowrap;
}

.content-info .provider img {
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
}


/*-------------Course Status--------------*/

ul.course-status {
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 0 5px 0;
    list-style: none;
    text-align: center;
}

.course-status li {
    padding: 0 5px;
    border-right: 1px solid #eee;
}

.course-status li:last-child {
    border-right: 0px;
}

.btn-status-block {
    margin: 0;
    padding: 12px 10px;
    color: #231f20;
    border-width: 2px;
    border-style: solid;
    border-color: #231f20;
    border-radius: 4px;
}

.btn-status-block.completed {
    color: #b2d234;
    border-color: #b2d234;
}

.btn-status-block.in-progress {
    color: #FCAF17;
    border-color: #FCAF17;
}

.btn-status-block.expired {
    color: #231f20;
    border-color: #231f20;
}

.btn-status-block.fail {
    color: #ED1C24;
    border-color: #ED1C24;
}


/*------course overview with icons------*/

ul.course-overview {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.course-overview li {
    float: left;
    margin: 0px;
    padding: 0px 5px;
    text-align: center;
    border-right: 1px solid #bbb;
}

.course-overview li:last-child {
    border-right: 0px !important;
}

.course-overview li>p {
    position: relative;
    font-size: 13px;
    /*padding-right: 10px;*/
}

.course-overview li i.fa-info-circle {
    color: #ccc;
}

.course-overview li i.fa-info-circle:hover {
    color: #909090;
}


/*-------------Course's video list--------------*/

.curr-vdolist {
    position: relative;
    margin: 0;
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}

.curr-vdolist>li.vdolist-check, .curr-vdolist>li.vdolist-check-space {
    position: absolute;
    top: 29px;
    left: 10px;
}

.curr-vdolist>li.vdolist-check>.round-box {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #eee;
    line-height: 37px;
}

.curr-vdolist>li.vdolist-check>.round-box.green {
    background-color: #53B949;
}

.curr-vdolist>li.vdolist-check>.round-box.yellow {
    background-color: #fec11e;
}

.curr-vdolist>li.vdolist-check>.round-box.red {
    background-color: #db1c2f;
}

.curr-vdolist>li.vdolist-check>.round-box.lock {
    background-color: #999;
}

.curr-vdolist>li.vdolist-check>.round-box>i {
    font-size: 150%;
}

.curr-vdolist>li.vdolist-check>.round-box .tip {
    position: absolute;
    top: 45px;
    left: 50%;
    left: 50% !important;
    display: none;
    padding: 5px;
    -webkit-transform: translate(-50%, 0) !important;
    -moz-transform: translate(-50%, 0) !important;
    -ms-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
    white-space: nowrap;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: normal;
}

.curr-vdolist>li.vdolist-check>.round-box.lock:hover .tip {
    display: block;
}

.curr-vdolist>li.vdolist-name {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 120px 0 125px;
}

.curr-vdolist.purchased>li.vdolist-name {
    padding: 0 110px 0 160px;
}

.curr-vdolist>li.vdolist-name>h4 {
    display: inline-block;
    width: 100%;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
}

.curr-vdolist>li.vdolist-name>.vdo-thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 110px;
    height: 70px;
}

.curr-vdolist.purchased>li.vdolist-name>.vdo-thumb {
    left: 40px;
}

.curr-vdolist>li.vdolist-name>.vdo-thumb img {
    width: 100%;
    height: 100%;
}

.curr-vdolist>li.vdolist-function {
    position: absolute;
    top: 28px;
    right: 15px;
    text-align: right;
}


/* Additional Css for Test Pages */

.curr-vdolist.test-section-item {
    background-color: #fff;
}


/* Turn the container background to the primary color of the site */

.curr-vdolist.test-section-item.bg-main {
    margin-bottom: 20px;
    color: #fff;
    background-color: #b2d234;
}

.curr-vdolist.test-section-item.bg-main .test-total-score {
    border-color: #fff;
}

.curr-vdolist.test-section-item>li.vdolist-name>.vdo-thumb {
    width: 50px;
    height: auto;
    color: #555;
    background-color: transparent;
}

.curr-vdolist.test-section-item>li.vdolist-name>.vdo-thumb i {
    font-size: 50px;
}


/* The item that doesn't has a thumb */

.curr-vdolist.test-section-item.no-thumb .vdo-thumb {
    display: none;
}

.curr-vdolist.test-section-item.no-thumb .vdolist-name {
    padding-left: 0;
}

.panel-heading.panel-curr {
    border-color: #eee;
    background-color: #ffffff;
}

.panel-heading.panel-curr>h3 {
    margin: 10px 0;
}

.panel-footer.panel-curr {
    padding: 7px 15px 0px 15px;
    border-color: #eee;
    background-color: #fff;
}


/*-------------Review--------------*/
#review .rating{
  position: relative;
  padding-top: 75px;
  margin-bottom: 20px;
  font-size: 20px;
}
#review .rating .average{
  position: absolute;
  top:0;
  left:0;
  font-size: 60px;
  font-weight: bold;
  float: left;
  margin-right: 15px;
}
.review-list {
    position: relative;
    margin-bottom: 20px;
}

#review-form {
  padding-left: 75px;
}

.review-list span.avatar {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 20px;
    /*background: url('../images/quote.png') no-repeat top right/auto 20%;*/
}

.br-widget {
    padding: 7px 0;
}

.br-widget a {
    display: inline-block;
    margin-right: 8px;
    color: #ddd;
    font-size: 20px;
}

.br-widget a:before {
    content: '★';
}

.br-widget a:hover, .br-widget a.br-active, .br-widget a.br-selected {
    color: #fec11e;
}

.alert-empty-rating {
    display: none;
}

#rateContentModal .br-widget a {
    font-size: 30px;
}

.rating {
    color: #555;
}

.rating i {
    color: #ddd;
}


/*-------------Discussion Board--------------*/

.qa-lists li, .qa-detail .comments > ul > li {
    position: relative;
    padding: 20px 110px 20px 87px;
    border-bottom: solid 1px #ddd;
}

.qa-lists li:hover {
    background-color: #eee;
}

.qa-lists li a {
    color: #231f20;
}

.qa-lists li a p {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qa-lists li a .avatar, .qa-detail .comments li .avatar {
    position: absolute;
    top: 27px;
    left: 20px;
}
.qa-detail .comments li .avatar {
    top: 0;
}

.qa-lists li a .response {
    position: absolute;
    top: 30px;
    right: 20px;
}

.qa-detail {
    padding: 20px;
}

.qa-detail h5{
  padding-right: 30px;
}
.qa-detail .topic {
    position: relative;
    padding: 0 0 0 80px;
    list-style: none;
}

.qa-detail .topic .avatar {
    position: absolute;
    top: 0;
    left: 10px;
}

.qa-detail .post-message {
    margin-top: 10px;
}

.qa-detail .post-message img {
    max-width: 100%;
    float: none !important;
}

.qa-detail .comments {
    padding-left: 40px;
}

.qa-detail .comments > ul > li {
    padding-top: 0;
    padding-right: 20px;
    margin-bottom: 20px;
    border-color: #f4f4f4;
}

.qa-detail .comments textarea {
    width: 100%;
    resize: none;
}

.qa-detail a {
    color: #1376d7;
}
.qa-detail small{
  font-style: italic;
  color: #909090;
}

.post-menu {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.post-menu ul {
    position: absolute;
    top: 16px;
    right: 0;
    display: none;
    box-shadow: 1px 1px 3px #ccc;
}

.post-menu.open ul {
    display: block;
}

.post-menu ul li {
    padding: 5px 20px !important;
    cursor: pointer;
    background-color: #fff;
}

.post-menu ul li:hover {
    background-color: #ddd;
}


/*-------------Menu Tabs (Use in My Library)--------------*/

.menu-tab {
    border-bottom: 1px solid #ddd;
}

.menu-tab li a {
    color: #909090;
}

.menu-tab li a:hover {
    color: #333;
    background-color: transparent;
}

.menu-tab li a span {
    white-space: nowrap;
}

.menu-tab li .counter {
    font-size: 1.57em;
}

.menu-tab li.active {
    border-bottom: 4px solid #db1c2f;
}

.menu-tab li.active a {
    color: #db1c2f;
    background-color: transparent;
    ;
}

.menu-tab .dropdown-menu>li>a {
    text-align: left;
    color: #333 !important;
    font-size: 12px;
}

.menu-tab .dropdown-menu>li>a:hover {
    background-color: #f5f5f5;
}

.menu-tab ul.flex {
    max-width: 800px;
    margin: 0 auto;
}

.stat-library {
    background-color: #fff;
    padding: 20px 0;
}
.stat-library ul li{
    /*float: left;*/
    width:20%;
    margin: -5px;
    padding: 10px 0;
    overflow: hidden;
}
.stat-library ul li.in-progress small:before{
   background-color: #fcaf17;
}
.stat-library ul li.completed small:before{
   background-color: #74a333;
}
.stat-library ul li.failed small:before{
   background-color: #ed1c24;
}
.stat-library ul li.expired small:before{
   background-color: #231f20;
}
.stat-library ul li a{
    color: #231f20;
}
.stat-library ul li:hover a{
    color: #fff;
}
.stat-library ul li a small{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 5px auto;
    line-height: 57px;
    color: #fff;
    font-size: 25px;
}
.stat-library ul li a small:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.stat-library ul li:hover a small:before{
  width: 400%;
  height: 400%;
  border-radius: 0;
  /*left: 80%;*/
}
.stat-library ul li a span {
    position: relative;
    z-index: 9;
}

/*-------------PromoCode--------------*/

.ads-block {
    padding-top: 10px;
}

.ads-block li {
    position: relative;
    overflow: hidden;
    width: 94%;
    margin: 10px auto 0 auto;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.ads-block li .img {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ads-block li .img img {
    width: 100%;
    height: 100%;
}

.ads-block li .code {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}


/*-------------About--------------*/

.about-title {
    margin-left: 20px;
    text-transform: uppercase;
}


/*-------------Profile--------------*/

#cropImageModal {
    z-index: 102;
    display: none;
    width: 90%;
    max-width: 500px;
    padding: 40px 0;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 50px #ccc;
}

.profile-image .avatar {
    width: 200px;
    height: 200px;
}

.profile .profile-image .avatar {
    width: 90px;
    height: 90px;
}

.profile-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile .profile-image .btn-upload {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    color: #909090;
    border-radius: 50%;
    background-color: #fff;
}

#profile-image-input {
    display: none;
}


/*-------------Ribbon--------------*/

.ribbon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
}

.ribbon-wrapper .ribbon-inner {
    position: relative;
    top: 19px;
    left: -26px;
    width: 117px;
    padding: 2px 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    color: #fff;
    background-color: #b2d234;
    box-shadow: 0 0 1px rgba(0, 0, 0, .05);
    font-size: 11px;
}

.ribbon-orange .ribbon-inner {
    background-color: #f39e04;
}

.ribbon-new-add .ribbon-inner {
    background-color: #d3d726;
}

.ribbon-new-assign .ribbon-inner {
    background-color: #dc911b;
}

.ribbon-blue .ribbon-inner {
    background-color: #00a2fe;
}

.ribbon-bar {
    position: relative;
    z-index: 3;
    display: inline-block;
    padding: 10px 40px 10px 20px;
    color: #fff;
}

.ribbon-bar:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 140%;
    height: 100%;
    content: ' ';
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
    background-color: #ED1B23;
}


/*----------------headline---------------*/

.wrap-headline {
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrap-headline .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg_black_gredient.png') repeat-x bottom;
}

.wrap-headline * {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.wrap-headline h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.headline-info {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -120px;
    padding: 0 20%;
    text-align: center;
}


/*----------------Slide arw---------------*/

.slide-arw {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -20px;
    padding: 15px 15px;
    cursor: pointer;
    background: #fff;
}

.slide-arw.left {
    left: 0px;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 5px 0px 5px #ccc;
}

.slide-arw.right {
    right: 15px;
    border-radius: 8px 0px 0px 8px;
    box-shadow: -5px 0px 5px #ccc;
}

.slide-arw>i {
    font-size: 18px;
}


/*----------------Pagination---------------*/

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    margin: 0 5px;
    margin-left: -1px;
    padding: 6px 10px;
    text-decoration: none;
    color: #909090;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    line-height: 1.42857143;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    cursor: default;
    color: #fff;
    border-color: #db1c2f;
    background-color: #db1c2f;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #909090;
    border: 1px solid #d6d6d6;
    background-color: #fff;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    cursor: not-allowed;
    color: #909090;
    border-color: #fff;
    background-color: #fff;
}


/*-------------Sharing Exp-------------*/

.exp-row {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.exp-row:last-child {
    margin-bottom: 0px;
}

.exp-row:before {
    float: left;
    margin-right: 20px;
    content: "\201C";
    color: #ddd;
    font-family: Georgia, serif;
    font-size: 4.615em;
    font-style: italic;
    line-height: 1;
}

.exp-row .exp-told {
    overflow: hidden;
}


/*-------------Todo List in Program detail-------------*/

.todo-list {
    position: relative;
}

.todo-list:before {
    position: absolute;
    top: 50px;
    bottom: 65px;
    left: 20px;
    width: 10px;
    content: '';
    background-color: #ddd;
}

.todo-item {
    position: relative;
    display: block;
    padding-left: 70px;
    text-decoration: none;
    color: #333 !important;
}

.todo-item+.todo-item {
    margin-top: 20px;
}

.todo-item:before {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 20px;
    width: 10px;
    content: '';
}

/*.todo-item:after,*/ .todo-item .todo-content > a:after {
    position: absolute;
    content: '\f105';
    color: #999;
    font: normal normal normal 30px/1 FontAwesome;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.todo-item:hover .todo-content {
    background-color: #fafafa;
}

.todo-item:first-child:before {
    top: 40px;
}

.todo-item:last-child:before {
    bottom: 40px;
}

.todo-item .todo-status {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #999;
    border: 1px solid #999;
    border-radius: 50em;
    background-color: #fff;
    line-height: 50px;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.todo-item .todo-status i {
    font-size: 30px;
    line-height: 50px;
}

.todo-item .todo-content {
    position: relative;
    height: 140px;
    padding: 10px 55px 10px 15px;
    background-color: #fff;
}
.todo-item .todo-content > a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.todo-item .todo-content > h5.content-info{
    position: absolute;
    bottom: 10px;
    left: 160px;
}

.todo-item .todo-content h4 {
    overflow: hidden;
    max-height: 49px;
    margin-top: 15px;
    text-overflow: ellipsis;
    line-height: 22px;
}

.todo-item .todo-thumb {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    background-position: center;
    background-size: cover;
}

.todo-item.completed .todo-status {
    color: #fff;
    background-color: #b2d234;
}

.todo-item.completed:before {
    background-color: #b2d234;
}

.todo-item.lock .todo-status {
    color: #999;
    border-color: #ccc;
    background-color: #f9f9f9;
}

.todo-item.fail .todo-status {
    color: #fff;
    border-color: #ed1c24;
    background-color: #ed1c24;
}

.todo-item.milestone:after {
    top: 39px;
    /*content: '\f06a';*/
}

@media(max-width: 480px) {
    .todo-item.milestone:after {
        top: 30px;
    }
}

@media(min-width: 768px) {
    .todo-item.milestone:after {
        right: 25px;
    }
}

.todo-item.milestone h4 {
    margin-top: 12px;
}

.todo-item.milestone p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media(max-width: 767px) {
    .todo-item.milestone .todo-content h4 {
        height: auto;
    }
    .todo-item.milestone p {
        font-size: 12px;
    }
}

.todo-item.milestone .todo-content {
    height: 105px;
}

@media(max-width: 480px) {
    .todo-item.milestone .todo-content {
        height: 80px;
        padding-right: 35px;
    }
}

.todo-item.milestone .todo-status {
    top: 27px;
    color: #fff;
    border-color: #0072bc;
    background-color: #0072bc;
}

.ie9 .ribbon-wrapper .ribbon-inner {
    top: 0;
    left: -16px
}

.ribbon-orange .ribbon-inner {
    background-color: #f39e04;
}

@media(max-width: 480px) {
    .todo-item.milestone .todo-status {
        top: 22px;
    }
}

@media(max-width: 767px) {
    .todo-item .todo-content {
        padding-right: 25px;
    }
    .todo-item:after {
        top: 50px;
        right: 10px;
        font-size: 20px;
    }
    .todo-item .todo-content h4 {
        max-height: 43px;
        font-size: 17px;
        line-height: 20px;
    }
    .todo-list h5 {
        display: none;
    }
}

@media(max-width: 480px) {
    .todo-list:before {
        left: 13px;
    }
    .todo-item {
        padding-left: 45px;
    }
    .todo-item .todo-content {
        height: 110px;
        padding: 10px 22px 10px 10px;
    }
    .todo-item .todo-content h4 {
        margin-top: 7px;
    }
    .todo-item .todo-content .red {
        font-size: 12px;
    }
    .todo-item .todo-thumb {
        width: 90px;
        height: 90px;
        margin-right: 15px;
    }
    .todo-item:before {
        left: 13px;
    }
    .todo-item:after {
        top: 35px;
    }
    .todo-item .todo-status {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .todo-item .todo-status i {
        font-size: 20px;
        line-height: 35px;
    }
    .test-section .item-name {
      padding: 0 100px 0 10px !important;
    }
}

.program-completeness {
    margin-top: -7px;
}

.program-conditions .panel {
    margin-bottom: 0;
}


/*-------------Question Detail--------------*/

.test-section {
    position: relative;
    padding: 5px 20px 15px 20px;
    /*white-space: nowrap;*/
    border-bottom: solid 1px #eee;
}

.test-section .icon-type {
    position: absolute;
    left: 20px;
    display: inline-block;
    margin-right: 15px;
    color: #b2d234;
    font-size: 50px;
}

.test-section .item-name {
  padding: 0 100px 0 70px;
  display: inline-block;
  min-height: 70px;
}

.test-section .total-score {
    position: absolute;
    top: 25px;
    right: 15px;
    padding: 5px 7px;
    color: #b2d234;
    border: solid 1px #ddd;
    border-radius: 50px;
}

.history-result .table>tbody>tr>td {
    border-top: none;
}


/*-------------Tutor Detail--------------*/

.quote {
    padding: 1px;
    border-bottom: 1px solid #ddd;
}

.quote h4 {
    position: relative;
    padding: 40px 30px 20px 30px;
    text-align: center;
    color: #909090;
    line-height: 24px;
}

.quote h4:before, .quote h4:after {
    position: absolute;
    top: 50px;
    left: 0;
    content: ',,';
    color: #d6d6d6;
    font-family: "Times New Roman", Times, serif;
    font-size: 54px;
    font-style: italic;
}

.quote h4:before {
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Safari */
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.quote h4:after {
    top: auto;
    right: 0;
    bottom: 40px;
    left: auto;
}

.wrap-tutor-profile {
    padding-top: 140px;
    white-space: nowrap;
}

.tutor-profile-pic {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}

.wrap-tutor-profile .avatar {
    width: 180px;
    height: 180px;
    border: 4px solid #fff;
}

.wrap-tutor-profile .verify-icn {
    position: absolute;
    right: 30px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 30px;
    background: #53B949;
    font-size: 20px;
    line-height: 25px;
}

.tutor-about {
    display: inline-block;
}

.tutor-about h1 {
    position: static;
}


/*-------------Learning Center--------------*/

.ins-logo {
    float: left;
    width: 160px;
    height: 160px;
    margin: 0 20px 20px 0;
    border-radius: 3px;
}


/*-------------Task Detail (TODO)--------------*/

.task-status {
    margin-top: 35px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: #91C038;
    line-height: 50px;
}

.task-status.in-progress {
    background-color: #FBA200;
}


/*-------------Miscellaneous--------------*/

#map-canvas {
    width: 100%;
    height: 390px;
    margin: 0 0 20px 0;
    padding: 0;
}

.striped {
    display: table;
    width: 100%;
    background: url(../images/striped.png);
}

.striped>.inner {
    margin: 12px;
    padding: 15px;
    background-color: #fff;
}

.progress-bar {
    background-color: #91C038;
}

.progress-bar-success {
    background-color: #91C038;
}

.icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1;
}

.icon2x {
    font-size: 1.5em;
}

.caret {
    margin-left: 5px;
}

.wrap-tagprice {
    height: 25px;
}

.fixed-top {
    position: fixed;
    right: 10px;
    bottom: 0;
}

.fix-min-height {
    min-height: 375px;
}

.nav-center {
    text-align: center;
}

.nav-center>li {
    display: inline-block;
    float: none;
    min-width: 120px;
}

.event-type a {
    float: left;
    margin: 0px 8px 8px 0px;
    padding: 3px 10px;
    text-transform: uppercase;
    color: #f9bf3b;
    border: 1px solid #f9bf3b;
    border-radius: 30px 30px 30px 30px;
    background-color: #fff;
    font-size: 85%;
    font-weight: normal;
}

.event-type a:hover {
    -webkit-transition: All 0.3s ease 0s;
    -moz-transition: All 0.3s ease 0s;
    -ms-transition: All 0.3s ease 0s;
    -o-transition: All 0.3s ease 0s;
    transition: All 0.3s ease 0s;
    color: #fff;
    background-color: #f9bf3b;
}


/*=============Override Summernote==============*/

.note-toolbar.panel-heading, .note-editor, .note-editor .note-statusbar {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.note-toolbar button{
  border: none !important;
}
.ui-tooltip {
    display: none !important;
}

.note-group-select-from-files small {
    color: red;
    font-size: 16px;
}

.wrap-vdolist {
    float: left;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background: #fff;
}

.vdolist {
    float: left;
    width: 100%;
}

.vdolist-thumb {
    position: absolute;
    width: 120px;
    height: 68px;
    margin-right: 10px;
}

.vdolist-thumb img {
    width: 100%;
    height: 100%;
}

.vdolist-text {
    float: left;
    width: 100%;
    padding-left: 130px;
}

#facebook-panel .fb_iframe_widget, #facebook-panel .fb_iframe_widget span, #facebook-panel .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.feature-item .subject-item a img {
    width: 223.2px;
    height: 110px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #dddddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-overlay .image {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
}

.container-overlay .image-overlay {
    position: absolute;
    z-index: 1;
}

.wrap-menu-xs {
    position: fixed;
    z-index: 99;
    display: block;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.modal {
    z-index: 1050;
}

.tab-button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding-left: 0;
    list-style: none;
}

.tab-button li {
    float: left;
    margin: 0;
}

.tab-button .btn-tab {
    margin: 0;
    padding: 10px;
    color: #222;
    border-color: #eee;
    border-left: none;
    border-radius: 0;
    background-color: #fff;
}

.tab-button li:first-child .btn-tab {
    border-left: 1px solid #eee;
    border-radius: 5px 0 0 5px;
}

.tab-button li:last-child .btn-tab {
    border-radius: 0 5px 5px 0px;
}

.tab-button .btn-tab:hover, .btn-tab:active, .btn-tab:focus {
    color: #fff;
    border-color: #db1c2f;
    outline: 0;
    background-color: #db1c2f;
}

.tab-button li.active .btn-tab {
    color: #fff;
    border-color: #db1c2f;
    background-color: #db1c2f;
}

img.rps {
    width: auto;
    max-width: 100%;
}

p.no-content {
    margin: 135px 0;
    color: gray;
    font-size: 15px;
}

p.no-content-min {
    margin: 50px 0;
    color: gray;
    font-size: 15px;
}

span.badge {
    margin-left: 5px;
    text-transform: none;
    color: #fff;
    background: #db1c2f;
}

.promotion .item {
    border-radius: 15px;
}

.event .event-hidden-section {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.scroller-mask-event .event .event-hidden-section {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #333;
}

.section-head {
    font-size: 35px;
    font-weight: bold;
}

input {
    outline: none;
}

.card-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 3px #bbb;
}

.social-share>img {
    max-width: 100%;
}

.min-top-pad {
    padding-top: 15px;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-12 {
    width: 12%;
}

.width-percent-14 {
    width: 14.2%;
}

.width-percent-15 {
    width: 15%;
}

.margin-top-none {
    margin-top: 0px;
}


/*Container Highlight*/

.container-highlight {
    padding: 15px 15px 15px 20px;
    border-left: 4px solid #b2d234;
}

.course-overview-alert {
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    border-radius: 50em;
    background-color: #db1c2f;
    font-size: 11px;
}


/* Logo */

.social-box>img.logo {
    max-width: 100%;
}


/* Left Menu (Moved from category.css) */

.wrap-cat-menu {
    /*background: #f8f8f8;*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.cat-menu {
    float: left;
    width: 100%;
}

.cat-menu .default-menu {
    float: left;
    width: 100%;
    padding: 20px 0px;
}


/*.cat-menu .default-menu > p > a {
  color:#909090;
}
.cat-menu .default-menu > p > a:hover{
  color:#db1c2f;
}
.cat-menu .default-menu > p > a.selected{
  color:#db1c2f;
}*/

.cat-menu .default-menu>h4>a {
    display: block;
    width: 100%;
    padding: 2px 15px;
    color: #282828;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
}

.cat-menu .dynamic-menu {
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #eee;
}

.cat-menu .dynamic-menu>h4 {
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.dynamic-list {
    width: 100%;
    /*  padding-right: 15px;*/
}

.dynamic-list>p {
    cursor: pointer;
    color: #909090;
}

.dynamic-list>p:after {
    padding: 0 10px;
    content: "\f0d7";
    color: #909090;
    font-family: 'FontAwesome';
}

.cat-menu .default-menu>h4>a.selected {
    color: #fff;
}

.dynamic-list>.expand {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
    /*border-radius: 5px 0 0 5px;*/
    border-radius: 5px;
}

.dynamic-list>.expand.active {
    position: relative;
    display: inline-block;
    /*padding: 10px;*/
    width: 100%;
    cursor: pointer;
    color: #fff;
}

.dynamic-list>.expand:hover {
    position: relative;
    display: inline-block;
    /*padding: 10px;*/
    width: 100%;
    cursor: pointer;
    color: #fff;
}

.dynamic-list>.expand p {
    margin: 0;
}

.dynamic-list>.expand:hover p:after {
    padding: 0 10px;
    content: "\f105";
    color: #fff;
    font-family: 'FontAwesome';
}

.dynamic-list>.selected:after {
    padding: 0 10px;
    content: "\f105";
    color: #909090;
    font-family: 'FontAwesome';
}

.dynamic-sublist-box {
    position: absolute;
    z-index: 99;
    top: 0;
    right: -200px;
    display: none;
    width: 200px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 0 5px 5px 0;
    background: #fff;
}

.expand:hover>.dynamic-sublist-box, .dynamic-sublist-box:hover>.dynamic-sublist-box {
    display: inline-block;
}

ul.dynamic-sublist {
    float: left;
    width: 100%;
    padding-left: 0px;
    list-style: none;
}

ul.dynamic-sublist>li {
    position: relative;
    float: left;
    width: 100%;
    margin: 3px 0px;
    padding: 3px 10px 3px 25px;
    cursor: pointer;
    color: #282828;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.dynamic-sublist>li:before {
    position: absolute;
    top: 17px;
    left: 10px;
    padding-right: 10px;
    content: "\f111";
    font-family: 'FontAwesome';
    font-size: 5px;
}

ul.dynamic-sublist>li:hover {
    color: #db1c2f;
}


/* End Left Menu */


/* Task */

.about-panel {
    padding: 25px 40px;
}

@media(max-width: 767px) {
    .about-panel {
        padding: 20px;
    }
}


/* Take Tour */

.carousel-indicators {
    position: static;
    width: auto;
    margin-left: 0;
}

.take-tour-carousel .carousel-indicators li {
    border-color: #999;
    background-color: #999;
}

.take-tour-carousel .carousel-indicators li.active {
    border-color: #b2d234;
    background-color: #b2d234;
}


/* User Class Authorized Popup */

.user-class-auth-list .user-class-auth-header {
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px 3px 0 0;
    background-color: #b2d234;
}

.user-class-auth-list .list-group-item {
    border-color: #eee;
}

.user-class-auth-list .list-group-item:first-child {
    border-top: 0;
    border-radius: 3px 3px 0 0;
}

.user-class-auth-list .list-group-item:last-child {
    border-radius: 0 0 3px 3px;
}

.user-class-auth-list .list-group-item .h6 {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 11px;
}

.user-class-auth-list .list-group-item .btn {
    margin-top: 7px;
}


/* verify icon */

.verify {
    display: inline-block;
    /*padding: 3px;*/
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%px;
    -moz-border-radius: 50%px;
    border-radius: 50%;
    background-color: #069e71;
}

.verify i {
    margin-top: -7px;
    margin-right: 0px;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type=date] {
    padding-left: 10px;
}

.profile-circle {
    display: block;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    background-repeat: no-repeat;
    background-position: center center;
    /*margin: 1em auto;*/
    background-size: cover;
    /*border: 5px solid #eee;*/
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.rotate {
    display: inline-block;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}
