/*------Shopping Bag------*/

.cart {
    position: relative;
    z-index: 80;
    float: right;
}

.item>span.price {
    color: #db1c2f;
    font-size: 1.154em;
    font-weight: normal;
}


/*------Login/Sign Up------*/

.login {
    width: 100%;
    text-align: right;
}

.login>li {
    display: inline-block;
    padding: 0 5px;
}

a.signup {
    color: #db1c2f;
}

.user-avatar {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user-avatar img {
    max-width: 100%;
}

.user-name {
    display: inline-block;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Landscape phones and down */

@media (max-width: 991px) {}

.browse-course {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}


/*------Navigation------*/

.navmenu {
    border-bottom: solid 1px #eee;
}

.navmenu li {
    position: relative;
    display: inline-block;
    border-left: 1px solid #eee;
}

.navmenu li:last-child {
    border-right: 1px solid #eee;
}

.navmenu li>a {
    display: inline-block;
    padding: 10px 0;
    white-space: nowrap;
    color: #909090;
    border-bottom: 5px solid #fff;
}

.navmenu li>a:hover, .navmenu li>a.selected {
    color: #db1c2f;
    border-bottom: 5px solid #db1c2f;
}

.navmenu li>a.special {
    color: #db1c2f;
}

.navmenu li>a.special:hover {
    color: #fff;
    background-color: #db1c2f;
}

.navmenu li>a img {
    height: 25px;
}

.navmenu li.fix-width {
    min-width: 190px;
}

.affix {
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 10px #aaa;
}


/*------Menu Dropdown - LEFT------*/

.navdrop-left {
    /*overflow: hidden;*/
    position: absolute;
    z-index: 80;
    /*padding: 10px 15px;*/
    box-sizing: border-box;
    width: 590px;
    min-height: 250px;
    text-align: left;
    border: 1px solid #ddd;
    border-top: 1px solid #eee;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 5px #ddd;
    font-size: 0.928em;
}

.navdrop-left>ul {
    float: left;
}

.navdrop-left>ul>li {
    margin-bottom: 5px;
    text-transform: capitalize;
    border-left: none;
}

.navdrop-left a.promo {
    position: relative;
    float: left;
    min-height: 250px;
    color: #909090;
    border-left: 1px solid #eee;
}

.navdrop-left a.promo>li {
    text-transform: capitalize;
    border-left: 0px;
}

.top-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.bottom-line {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.btn-menu, .btn-menu:hover, .btn-menu:focus, .btn-menu:visited {
    float: left;
    padding: 4px 12px;
    color: #db1c2f;
    font-size: 22px;
}

.header-event {
    width: 100%;
    padding: 10px 30px;
    color: #fff;
    background: #EA0D00;
}

.header-event h2 {
    margin: 10px 0;
}

.btn-close-event {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    background: none;
}

.btn-close-event:hover, .btn-close-event:focus, .btn-close-event:visited {
    background: rgba(0, 0, 0, 0.3);
}

p.clock-info {
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
}

.event-countdown-clock {
    display: inline-block;
    margin-top: 20px;
}

.event-countdown-clock span {
    color: #fff;
}

.event-countdown-clock>div>div>div {
    border: 1px solid #fff;
    border-radius: 5px;
}

.header-search {
    float: right;
    width: 250px;
    margin-top: 10px;
}

.header-search .form-control {
    border: 1px solid #eee;
}

.header-search .input-group-btn>.btn-default {
    border-color: #eee;
}


/*---form-header-c--*/

ul.dropdown-menu {
    display: none;
}

ul.dropdown-menu li {
    display: inline-block;
    width: 100%;
    padding-right: 0;
}

ul.dropdown-menu li a, ul.dropdown-menu li a:hover {
    display: block;
    clear: both;
    margin: 0;
    padding: 8px 20px;
    text-align: left;
    white-space: nowrap;
    color: #333;
    border-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
}

.input-group-btn>.btn-default {
    border-color: #ccc;
}

.search-web {
    margin-bottom: 10px;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}

input.header-search {
    -webkit-box-sizing: content-box;
    width: 110px;
    margin: 0;
    padding: 0px 10px 0px 32px;
    border: solid 1px #ccc;
    border-radius: 10em;
    background: #f8f8f8 url('../images/icon_search.png') no-repeat 9px center/auto 60%;
    -webkit-appearance: textfield;
}

input.header-search:focus {
    width: 130px;
    border-color: #6dcff6;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input.header-search:-moz-placeholder {
    color: #999;
}

input.header-search::-webkit-input-placeholder {
    color: #999;
}

.mm-listview>li {
    float: left;
    width: 100%;
}
