/*=======================Hero=======================*/

.hero-slide {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-mask {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /*background: url(../res/cover.jpg) no-repeat center center fixed;*/
    /*background-image: url('../res/cover.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: auto auto;
}

.hero-slide img {
    display: block;
    margin-top: 30px;
    /*width:100%;*/
    /*max-width:100%;*/
}

.hero-slide a {
    margin-top: 20px;
}


/*------arrows------*/

.hero-arrow-left {
    position: absolute;
    z-index: 20;
    top: 45%;
    left: -50px;
    color: rgba(0, 0, 0, .3);
}

.hero-arrow-right {
    position: absolute;
    z-index: 20;
    top: 45%;
    right: -50px;
    color: rgba(0, 0, 0, .3);
}


/*------banner------*/

.wrap-banner {
    background-color: #f2f2f2;
    background-image: url('../res/home-banner-bg.jpg');
}

.wrap-banner img.icon-image {
    width: 150%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrap-banner img.wording-image {
    float: right;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
}


/*------panes------*/

.panes {
    position: relative;
    overflow: hidden;
    width: 500%;
    height: 650px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

.panes>li {
    position: relative;
    float: left;
    width: 20%;
    margin-right: 2px;
}

.panes a {
    position: relative;
    display: block;
}

.panes a:hover {
    text-decoration: none;
}

.panes img {
    opacity: 0.5;
}

.panes img.active {
    opacity: 1.0;
}


/*------scroller WRAPPER------*/

.wrap-featured {
    display: block;
    margin-top: 20px;
    /*DN*/
    /*border-bottom: 1px solid #e7e7e7;*/
}

.featured-title {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
}

.featured-title .main-title {
    float: left;
    width: 100%;
    text-transform: uppercase;
}

.main-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.featured-title .arrow {
    float: left;
    width: 20%;
    text-align: right;
}


/*------SCROLLER------*/

.scroller {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.scroller-mask-event {
    position: relative;
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*height: 400px;*/
    /*height: 100px;*/
    z-index: 20;
    display: block;
}

.scroller-mask-event>.item-institute {
    display: inline-block;
    padding: 5px;
}

.scroller-mask-event>.item-institute img {
    max-width: 210px;
    border-radius: 5px;
}

.scroller-mask-brand {
    position: relative;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    height: 110px;
}

.scroller-mask-cate {
    position: relative;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    height: 290px;
}

.scroller-list {
    padding: 0px;
    list-style: none;
}

.scroller-list-lesson {
    top: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    /*position: absolute;*/
    padding: 0px;
    list-style: none;
}


/* scroller EVENT */


/*li.event{
     list-style: none;
     display: block;
     position: relative;
     overflow: hidden;
     float: left;
     width: 270px;
     height: 345px;
     /*background-color: #f0f;
     background-color: #E0E0E0;
     margin-right: 20px;
     cursor: pointer;
}*/

li.event {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 216px;
    height: 350px;
    margin-right: 0px;
    margin-bottom: 20px;
    list-style: none;
    cursor: pointer;
    text-align: left;
    background-color: #E0E0E0;
}

li.event.no-description {
    height: auto;
}

li.event.no-description .image {
    position: static;
}

li.event.profile {
    /*width: 222px;*/
}

li.event.lesson {
    height: 310px;
}

li.event.test-event {
    width: 180px;
    height: 377px;
}

li.event.test-event-profile {
    width: 170px;
    height: 402px;
}

li.event.test-event .instructor-sm {
    display: none;
}

li.event.static-detail {
    height: auto !important;
}

li.event.static-detail .event-hidden-section {
    display: none;
}

li.event.static-detail .detail-event {
    position: static;
}

li.event.program-event {
    height: 364px;
}

li.event.program-event-profile {
    height: 420px;
}

li.event.static-event {
    height: auto;
}

li.event.static-event .container-overlay .image, li.event.static-event .detail-event {
    position: static;
}

@media (max-width: 991px) {
    li.event {
        display: inline-block;
        float: none;
    }
}

@media (max-width: 767px) {
    .course-scroller li.event .event-hidden-section, .test-scroller li.event .event-hidden-section {
        display: none;
    }
}


/* Responsive event item */

.course-scroller, .test-scroller {
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 1200px) {
    /* For Course item */
    .course-scroller {
        width: 1108px;
    }
    .course-scroller .scroller-list>li:nth-child(5n+1) {
        margin-left: 0;
    }
    /* For test item */
    .test-scroller {
        width: 1127px;
    }
    .test-scroller .scroller-list>li:nth-child(6n+1) {
        margin-left: 0;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .course-scroller {
        width: 885px;
    }
    .course-scroller .scroller-list>li:nth-child(4n+1) {
        margin-left: 0;
    }
    .test-scroller {
        width: 938px;
    }
    .test-scroller .scroller-list>li:nth-child(5n+1) {
        margin-left: 0;
    }
}

@media(min-width: 821px) and (max-width: 991px) {
    .test-scroller {
        width: 749px;
    }
    .test-scroller .scroller-list>li:nth-child(4n+1) {
        margin-left: 0;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .course-scroller {
        width: 662px;
    }
    .course-scroller .scroller-list>li:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media(min-width: 621px) and (max-width: 820px) {
    .test-scroller {
        width: 560px;
    }
    .test-scroller .scroller-list>li:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media(max-width: 767px) {
    .course-scroller .scroller-list>li:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media(min-width: 481px) and (max-width: 820px) {
    .course-scroller {
        width: 439px;
    }
}

@media(max-width: 620px) {
    .test-scroller {
        max-width: 371px;
    }
    .test-scroller .scroller-list>li:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media(max-width: 480px) {
    .course-scroller .scroller-list, .test-scroller .scroller-list {
        margin-right: -8px;
        margin-left: -8px;
    }
    .course-scroller .scroller-list>li, .test-scroller .scroller-list>li {
        width: 49%;
        font-size: 85%;
    }
}


/* End Responsive Event Item */

.scroller-list-lesson .event {
    position: relative;
    display: block;
    overflow: hidden;
    /*float: left;*/
    width: 360px;
    height: 345px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*.event{*/
    list-style: none;
    cursor: pointer;
    /*background-color: #f0f;*/
    background-color: #E0E0E0;
}

.event .image-event {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 130px;
}

.event .image-event div.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: center center;
     background-size:cover;*/
    background-position: top center;
    background-size: 100% auto;
}


/*.event .image-event div.image .test{
     height:100%;
}
.event .image-event div.image.course{
     height: 133px;
}*/

.event .image-event .container-overlay {
    width: 100%;
    height: 100%;
}

.event .image-event img {
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    /*DN*/
}

.event .detail-event {
    position: absolute;
    right: 0;
    bottom: 0;
    /*old 172px*/
    left: 0;
    min-height: 100px;
    max-height: 350px;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #fff;
}

.detail-event h3 {
    /*min-height: 50px;*/
    overflow: hidden;
    height: 60px;
    /*margin-top: 10px;*/
    margin-top: 0;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    line-height: 130%;
}

@media(max-width: 480px) {
    .detail-event h3 {
        font-size: 13px;
    }
}

.detail-event:hover h3 {
    text-decoration: none;
    color: #db1c2f;
}

.detail-event>.wrap-tagprice {
    width: 100%;
}

.no-price .detail-event>.wrap-tagprice {
    visibility: hidden;
}

.detail-event .duration {
    position: relative;
    display: inline-block;
    max-width: 200px;
    min-height: 26px;
    color: #db1c2f;
    background-color: #fff;
    font-size: 1em;
}

.detail-event .views {
    max-width: 200
    /* position: absolute; */
    /* margin-top: -30px; */
    background-color: #fff;
    /* padding: 5px 10px; */
    font-size: 1em;
    font-weight: bold;
}

.detail-event .static-price {
    position: relative;
    display: inline-block;
    max-width: 200px;
    text-decoration: line-through;
    color: #bbb;
    background-color: #fff;
    /* padding: 5px 10px; */
    font-size: 1em;
    font-weight: bold;
}

.feature-statviews {
    position: absolute;
    bottom: 175px;
    left: 750px;
    max-width: 200px;
    margin-top: -30px;
    padding: 10px 18px;
    color: #fff;
    background-color: #3d3d3d;
    font-size: 1.0em;
    font-weight: bold;
}


/*  user */

.user-sm {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
}

.user-sm>a {
    float: left;
    margin-top: 5px;
}

.user-sm img {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    vertical-align: top;
    border: 1px solid #eee;
    -webkit-border-radius: 50%px;
    -moz-border-radius: 50%px;
    border-radius: 50%;
    background-color: #E0E0E0;
}


/* instructor name */

.instructor-sm {
    overflow: hidden;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    white-space: nowrap;
    border-top: 1px solid #eee;
}

.instructor-sm * {
    vertical-align: middle;
}

.instructor-sm img.avatar {
    width: 44px;
    height: 44px;
    margin-right: 7px;
}

.instructor-sm span {
    display: inline-block;
}


/*event highlight*/

.scroller-list li.event-lg {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
    background-color: #0f0;
}

.event-lg .image-event-lg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.image-event-lg img {
    min-width: 100%;
    max-height: 100%;
}

.event-lg .detail-event-lg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 300px;
    padding: 15px;
    color: #909090;
    background-color: #fff;
    /*border-bottom: 1px solid #eee;*/
}

.detail-event-lg:hover h4 {
    text-decoration: none;
    color: #db1c2f;
}

.detail-event-lg .duration {
    position: absolute;
    max-width: 200px;
    margin-top: -30px;
    padding: 0px 4px 2px 4px;
    color: #fff;
    background-color: #db1c2f;
    font-size: 0.923em;
}


/*featured BRAND*/

.scroller-list li.brand {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
    background-color: #0f0;
}

.brand .brand-logo {
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.brand-logo img {
    min-width: 100%;
    max-height: 100%;
}

.scroller-list:hover .brand:not(:hover) {
    opacity: 0.5;
}

.trends-type {
    width: 100%;
}

.trends-type span {
    display: table-cell;
    width: 100px;
    padding-right: 20px;
    vertical-align: top;
}

.trends-type .event-list {
    display: table-cell;
}

.trends-type a {
    margin: 0px 8px 8px 0px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #f9bf3b;
    border: 1px solid #f9bf3b;
    border-radius: 30px 30px 30px 30px;
    background-color: #fff;
    font-size: 110%;
    font-weight: normal;
}

.trends-type a.active {
    color: #fff;
    background-color: #f9bf3b;
}

.trends-type a:hover {
    -webkit-transition: All 0.3s ease 0s;
    -moz-transition: All 0.3s ease 0s;
    -ms-transition: All 0.3s ease 0s;
    -o-transition: All 0.3s ease 0s;
    transition: All 0.3s ease 0s;
    color: #fff;
    background-color: #f9bf3b;
}

.home-cover {
    width: 100%;
    height: 500px;
    background: url(../res/cover.jpg) no-repeat center center fixed;
    background-color: #F5F5F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.trends-list {
    /*display:none;*/
    overflow: hidden;
    text-align: center;
}

.trends-list a {
    display: inline-block;
}

.btn-more {
    margin-top: 5px;
    margin-bottom: 15px;
}

.tranform-none {
    text-transform: none;
}

.section-title {
    margin-left: 10px;
    text-transform: none;
    font-size: 20px;
}

.holder-wrap {
    position: relative;
    display: block;
    height: 100%;
    margin: auto;
}

.holder-wrap-img {
    position: absolute;
}

.btn-skip {
    color: #f9bf3b;
    border-color: #f9bf3b;
    background-color: #fff;
}

.btn-skip:hover {
    color: #fff;
    border-color: #f9bf3b;
    background-color: #f9bf3b;
}

.font-title {
    font-size: 20px;
    font-weight: bold;
}

.feature-slide {
    position: relative;
    float: left;
    width: 100%;
    max-width: none;
}

.slide-overflow .item-slide {
    display: block;
    float: left;
    width: 670px;
    border-right: solid 1px rgba(191, 191, 191, 0.45);
}

.slide-overflow .item-slide img {
    width: 100%;
    height: 100%;
}

.feature-slide .slide-nav {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.feature-slide .slide-nav ul {
    display: inline-block;
}

.feature-slide .slide-nav ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 10px;
    background: #fff;
}

.feature-slide .slide-nav ul li.active {
    opacity: 1;
}

.subject-banner {
    float: left;
    overflow: hidden;
    width: 100%;
}

.subject-banner-overflow {
    float: left;
    width: 4000px;
}

.subject-ads {
    display: inline-block;
    overflow: hidden;
    width: 204px;
    height: 120px;
    margin: 0 5px;
}

.subject-ads:first-child {
    margin-left: 0px;
}

.subject-ads img {
    width: 100%;
    height: 100%;
}


/*----------------Event Page-----------------------*/

.wrap-sale-bar {
    display: inline-block;
    width: 100%;
    padding: 20px 60px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.wrap-sale-bar h2 {
    margin-top: 10px;
}

.wrap-sale-bar .wrap-bar {
    margin-top: 25px;
    padding-right: 0px;
}

.wrap-sale-bar .wrap-bar>h2 {
    display: none;
}

.wrap-sale-bar .wrap-bar .progress-bar-top {
    background: #db1c2f !important;
}

.wrap-sale-bar .wrap-bar .bar {
    height: 16px;
}

.wrap-sale-countdown {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.sale-countdown-clock {
    display: block;
    width: 100%;
    margin: 30px 0px;
    text-align: center;
}

.sale-countdown-clock>div {
    display: inline-block !important;
}

.event-footer {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #eee;
}

.event-footer .event-footer-banner {
    overflow: hidden;
    width: 100%;
    margin: 15px 0;
    /*background: #eee;*/
    color: #222;
}

.event-footer .event-footer-banner img {
    width: 100%;
    /*min-height: 100%;*/
    border-radius: 10px;
}

.tab-button.event-page li {
    width: 25%;
}

.wrap-event-block {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
}

.event-featured {
    display: table-cell;
    width: 100%;
    padding-top: 30px;
}

.event-featured img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.clear-padding {
    padding: 0 !important;
}


/*home version2*/

.wrap.hero-subject {
    float: left;
    width: 100%;
    height: 575px;
    padding: 20px 0;
    /*background:#000000 url('../images/home_hero.jpg') center top;*/
    background-color: #F2F2F2;
}

.wrap.wrap-subject-box {
    padding: 30px 60px;
    border: 1px solid #ffffff;
}

.subject-box {
    display: table;
    float: left;
    width: 20%;
    height: 180px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.subject-box.box01 {
    background: rgba(73, 90, 180, 0.95);
}

.subject-box.box02 {
    background: rgba(100, 180, 171, 0.95);
}

.subject-box.box03 {
    background: rgba(204, 222, 112, 0.95);
}

.subject-box.box04 {
    background: rgba(230, 162, 97, 0.95);
}

.subject-box.box05 {
    background: rgba(241, 80, 88, 0.95);
}

.subject-box.box06 {
    background: rgba(34, 48, 121, 0.95);
}

.subject-box.box07 {
    background: rgba(56, 150, 132, 0.95);
}

.subject-box.box08 {
    background: rgba(165, 185, 74, 0.95);
}

.subject-box.box09 {
    background: rgba(205, 133, 57, 0.95);
}

.subject-box.box10 {
    background: rgba(204, 58, 58, 0.95);
}

.subject-box h3 {
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
}

.subject-box i {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding-top: 14px;
    border-radius: 100px;
    font-size: 24px;
}

.nav-hero>li>a {
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
}

.nav-hero>li>a:hover, .nav-hero>li>a:focus {
    color: #DB1C2F;
}

.nav-hero>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #DB1C2F;
}

.school-thumb {
    overflow: hidden;
    width: 100%;
}

.school-thumb img {
    width: 100%;
}

.wrap.wrap-course-home {
    margin: 20px 0;
    padding: 30px;
    border: 1px solid #eee;
}

.wrap.wrap-course-home .scroller-list {
    width: 100%;
}

.logo-school {
    display: table;
    float: left;
    width: 100%;
    height: 237px;
    padding: 10px;
}

.logo-school .logo-img {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.logo-school .logo-img img {
    max-width: 220px;
    max-height: 180px;
}

.logo-school-link {
    float: left;
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.tutor-school {
    float: left;
    width: 20%;
    padding-right: 20px;
}

.tutor-school>.banner-tutor {
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.banner-tutor .instructor-sm, .banner-tutor h4 {
    display: inline-block;
    float: none;
    width: auto;
    margin: 5px 0;
    vertical-align: middle;
}

.banner-tutor .instructor-sm img {
    width: 30px;
    height: 30px;
}

.right {
    float: right;
}

img.campaign-banner {
    width: 100%;
    padding: 20px;
}

img.campaign-banner-lesson {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.course-preview-thumb {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
    height: 60px;
    margin: 30px 72px;
}

.background-yello {
    background-color: #FFFDC0;
}


/*md*/

@media (min-width: 992px) and (max-width: 1170px) {
    .scroller-list.md-2 li.event {
        width: 50%;
    }
    .scroller-list.md-3 li.event {
        width: 33.3333%;
    }
    .scroller-list.md-4 li.event {
        width: 25%;
    }
    .scroller-list.md-5 li.event {
        width: 20%;
    }
}


/*sm*/

@media (min-width: 768px) and (max-width: 991px) {
    .scroller-list.sm-2 li.event {
        width: 50%;
    }
    .scroller-list.sm-3 li.event {
        width: 33.3333%;
    }
    .scroller-list.sm-4 li.event {
        width: 25%;
    }
    .scroller-list.sm-5 li.event {
        width: 20%;
    }
}


/*xs 1*/

@media (min-width: 481px) and (max-width: 767px) {
    .scroller-list.xs-1 li.event {
        width: 100%;
        padding-right: 0px;
    }
    .scroller-list.xs-2 li.event {
        width: 50%;
    }
}


/*xxs*/

@media (max-width: 480px) {
    .scroller-list.xxs-1 li.event {
        width: 100%;
        padding-right: 0px;
    }
}
