@media (max-width: 1170px) {
    .scroller {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
    .scroller-list {
        top: 0;
        overflow: hidden;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        /*position: absolute;*/
        padding: 0px;
        list-style: none;
    }
    .scroller-list-lesson {
        top: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        /*position: absolute;*/
        padding: 0px;
        list-style: none;
    }
    li.event {
        position: relative;
        display: block;
        float: left;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 0px 10px;
        list-style: none;
        cursor: pointer;
        text-align: left;
        /* background-color: #f0f; */
        background-color: transparent;
    }
    .event .image-event {
        float: left;
        overflow: hidden;
        width: 100%;
        height: auto;
        /*background-color: #ff0;*/
        background-color: #E0E0E0;
    }
    .event .image-event .container-overlay {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
    }
    .event .image-event img {
        position: static;
        float: left;
        width: 100%;
        min-width: 100%;
        height: auto;
        max-height: none;
    }
    .event .detail-event {
        position: static;
        /* left: 0; */
        /* right: 0; */
        bottom: 0;
        float: left;
        width: 100%;
        min-height: 100px;
        padding: 15px;
        /* max-height: 350px; */
        border: 1px solid #eee;
        background-color: #fff;
    }
    .detail-event h3 {
        /*min-height: 50px;*/
        overflow: hidden;
        height: 70px;
        margin-top: 10px;
        text-decoration: none;
        color: #333;
        font-size: 18px;
        line-height: 130%;
    }
    .container-overlay .image-overlay {
        position: absolute!important;
        top: 0!important;
        left: 0!important;
    }
    .wrap-card img {
        max-width: 100%;
    }
}
