.live-item-list {
    margin-top: 40px;
    margin-bottom: 60px;
}

.live-time {
    width: 85px;
    height: 85px;
    padding: 7px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    font-size: 13px;
    line-height: 18px;
}

.live-item {
    position: relative;
    min-height: 150px;
}

.live-item+.live-item {
    margin-top: 20px;
}

.live-time {
    display: inline-block;
    ;
}

.live-item .live-time {
    position: absolute;
    top: 20px;
    left: 0;
}

.live-time hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.live-time .time {
    white-space: nowrap;
    font-size: 9px;
}

.live-item .live-body {
    padding-left: 100px;
}

.live-item .live-thumb {}

.live-item .live-content {
    position: relative;
    padding: 20px;
    border: 1px solid #eee;
    background-color: #fff;
}

.live-item .live-content h4 {
    font-size: 21px;
    line-height: 24px;
}

.live-item .live-content .live-action {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

.live-item .live-content .live-action .btn {
    width: 120px;
}

.live-item .live-content .live-action .price {
    margin-bottom: 2px;
    font-weight: 700;
}

.live-item .red {
    color: #e01825 !important;
}

.live-item .live-content .speaker-wrap {
    position: absolute;
    bottom: 20px;
    width: 350px;
}

.live-item .live-content .speaker-thumb {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.live-item .live-content .speaker-name {
    padding-top: 18px;
}

.live-item.active .live-time, .live-time.active {
    padding-top: 22px;
    background-color: #005AA0;
    text-shadow: 0 0 17px #fff;
}

.live-item.active .live-action .btn-red, .live-item.active .live-action .btn-red:hover, .live-item.active .live-action .btn-red:focus {
    color: #fff;
    border-color: #005AA0;
    background-color: #005AA0;
}

.live-item.full-description .live-body {
    max-width: none;
    padding-left: 120px;
}

.live-item.full-description .live-content {
    padding-left: 40px;
    border-width: 0 0 0 1px;
    border-left-color: #ddd;
    background: transparent;
}

.live-stage {
    background-color: #000;
}

.live-stage .live-stage-center {
    position: relative;
    overflow: hidden;
}

.live-stage .live-stage-center img.blur {
    width: 94%;
    opacity: 0.1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

.live-stage .live-stage-center h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
}

@media(min-width: 992px) {
    .live-item .live-body {
        display: table;
        width: 100%;
        padding-left: 100px;
    }
    .live-item .live-thumb {
        display: table-cell;
        width: 300px;
        vertical-align: top;
    }
    .live-item .live-content {
        display: table-cell;
        padding-right: 170px;
        vertical-align: top;
    }
}

@media(max-width: 991px) {
    .live-item .live-body {
        max-width: 600px;
    }
    .live-item .live-content .speaker-wrap {
        position: static;
        width: auto;
    }
}

@media(max-width: 767px) {
    .live-item .live-body {
        padding-left: 80px;
    }
    .live-item .live-time {
        width: 70px;
        height: 70px;
        padding: 2px;
        font-size: 10px;
    }
    .live-item.active .live-time {
        padding-top: 17px;
        font-size: 14px;
    }
    .live-item .live-content {
        padding: 12px;
    }
    .live-item .live-content h4 {
        font-size: 18px;
        line-height: 21px;
    }
    .live-item .live-content .live-action {
        position: static;
        margin-top: 10px;
        -webkit-transform: none;
        transform: none;
    }
    .live-item .live-content .live-action .btn {
        display: block;
        width: 100%;
    }
    .live-item .live-content .speaker-wrap {
        margin-top: 20px;
    }
    .live-item .live-content .speaker-thumb {
        width: 45px;
        height: 45px;
    }
    .live-item .live-content .speaker-name {
        padding-top: 8px;
    }
    .live-item.full-description .live-body {
        padding-left: 90px;
    }
    .live-item.full-description .live-content {
        padding-left: 20px;
        font-size: 12px;
    }
}
