.transparent {
    background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    width: 94%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.modal-body {
    background-color: #fff;
}

.form-signin {
    z-index: 1050;
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    /*-moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;*/
}

.form-separator {
    position: relative;
    text-align: center;
}

.form-separator p {
    display: inline-block;
    margin: 0px;
    padding: 8px;
    background-color: #fff;
    font-weight: normal;
}

.form-separator hr {
    margin: -20px auto 10px auto;
}

#form-login .main {
    padding: 30px 20px 20px 20px;
}

.social-box {
    margin: 0 auto;
    padding: 10px 15px;
    /*border-bottom: 1px #ddd solid;*/
}

.social-box a {
    padding: 8px;
    font-size: 18px;
    font-weight: normal;
}

.social-box button {
    padding: 8px;
    font-size: 18px;
    font-weight: normal;
}

.social-box a i {
    font-size: 20px;
    font-weight: normal;
}

.social-box button i {
    font-size: 20px;
    font-weight: normal;
}

.heading {
    padding: 20px 20px 0px 20px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .group-option {
    margin: 20px 0px;
}

.form-signin .form-control {
    position: relative;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-bottom: 10px;
}


/*.form-signin input[type="password"] {
    margin-bottom: 10px;
  }*/


/*dropdown*/

.form-signin .dropdown {
    margin-bottom: 10px;
}

.form-signin .dropdown button {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}

.form-signin .dropdown button>span {
    text-align: right;
}

.form-signin .dropdown>.dropdown-menu {
    width: 100%;
}

.login-footer {
    margin: 0 auto;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.mg-btm {
    margin-bottom: 20px;
}


/* full page */

.signin-full {
    width: 100%;
    padding-bottom: 50px;
    background-color: #ddd;
}

.foot-none {
    margin-top: 0px;
}

.button-loading {
    display: none;
    margin-left: 10px;
}
