/* override for new theme */

.desktop-wrapper {
  width: 100%;
  height: 100%;
}

grammarly-ghost {
  display: none;
}

grammarly-btn {
  display: none;
}

.img-menu-icon {
  width:15px;
  margin:0 10px 5px 10px;
}

.cursor-default {
  cursor: default;
}

.featured-slide .slick-current{
  opacity:1 !important;
  transition: opacity .5s;
}

.slick-slide {
  opacity:0.8;
  transition: opacity .5s;
}

.category-banner {
  opacity: 0.8;
  transition: all 0.3s;
}

.category-banner:hover {
  opacity: 1;
  transition: all 0.3s;
}

#announcementModal .full-width{
  padding: 0 10px;
}

#announcementModal .source {
  color: #aaa !important;
  float: right !important;
  font-size: 12px !important;
}

#announcementModal .modal-dialog .modal-body {
  max-height: 500px;
  padding-bottom:0px;
}

.see-all-btn {
  width: 100px;
  height: 35px;
  line-height: 32px;
  padding: 0 17px;
  font-size:13px !important;
}

.browse-by-btn i{
  opacity:0;
  transition: all 0.3s;
}

.browse-by-btn a:hover i{
  opacity:1;
  transition: all 0.3s;
}

.featured-slide .slick-dots li, .featured-slide .slick-dots li button:before {
  font-size:13px;
}

.featured-slide .slick-dots li button{
  font-size:0;
}
