/* make sidebar nav vertical */

@media (min-width: 768px) {
    .affix-content .container {
        width: 700px;
    }
    html, body {
        overflow: hidden;
        height: 100%;
        background-color: #f8f8f8;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .affix-sidebar {
        padding-right: 0;
        padding-left: 0;
        font-size: small;
    }
    .affix-row, .affix-container, .affix-content {
        overflow: scroll;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .affix-content {
        background-color: white;
    }
    .sidebar-nav .navbar .navbar-collapse {
        max-height: none;
        padding: 0;
    }
    .sidebar-nav .navbar {
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
    }
    .sidebar-nav .navbar ul {
        display: block;
        float: none;
    }
    .sidebar-nav .navbar li {
        display: block;
        float: none;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 769px) {
    .affix-content .container {
        width: 600px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .affix-content .container {
        width: 900px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 1220px) {
    .affix-row {
        overflow: hidden;
    }
    .affix-content {
        overflow: auto;
    }
    .affix-content .container {
        width: 1000px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .affix-content {
        padding-right: 30px;
        padding-left: 30px;
    }
    .affix-title {
        padding-bottom: 10px;
        border-bottom: 1px solid #ecf0f1;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    .sidebar-nav .navbar li a:hover {
        color: white;
        background-color: #428bca;
    }
    .sidebar-nav .navbar li a>.caret {
        margin-top: 8px;
    }
}
