/*---------------change to responsive-------------*/

.bc-order {
    float: left;
    width: 100%;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}

.bc-order a:after {
    padding: 0 5px 0 10px;
    content: "\f105";
    font-family: 'FontAwesome';
}

.bc-order a:last-child:after {
    content: "";
}

.order-page-title {
    float: left;
    width: 100%;
    padding: 20px 0;
}

.order-page-title>h4 {
    margin-top: 0px;
}

.order-page-title>h2 {
    margin-bottom: 0px;
    font-size: 36px;
}

.table-order {
    float: left;
    width: 100%;
}

.table-order>table {
    margin-bottom: 30px;
    border-top: none;
}

.table>thead>tr>th {
    color: #909090;
    border-color: #eee;
    background: url(../images/subtle_dots.png);
    font-weight: normal;
}

.table-promo {
    width: 100%;
}

.table-promo td {
    padding: 8px;
}

.table-promo>thead>tr>th {
    padding: 8px;
    vertical-align: bottom;
    color: #909090;
    border-color: #eee;
    border-bottom: 2px solid #ddd;
    background: url(../images/subtle_dots.png);
    font-weight: normal;
}

.btn-remove {
    color: #ccc;
    font-size: 20px;
}

.btn-remove:hover {
    color: #db1c2f;
}

.order-course-list {
    position: relative;
    float: left;
    width: 100%;
}

.course-thumb {
    position: absolute;
    width: 120px;
    height: 80px;
    margin-right: 15px;
}

.course-thumb img {
    width: 100%;
    height: 100%;
}

.order-course-detail {
    float: left;
    width: 100%;
    padding-left: 135px;
}

.order-course-detail>p {
    width: 100%;
    white-space: normal;
}

.order-footer {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0;
}

.wrap-checkout {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}

.wrap-btn-payment {
    float: left;
    width: 100%;
    padding-top: 15px;
}

.btn-payment {
    float: left;
    width: 100%;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 20px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    background: url("../images/next_btn.png")no-repeat 98% center;
}

.btn-payment:hover, .btn-payment:focus, .btn-payment:visited {
    background-color: #f8f8f8;
}

.btn-payment.active {
    background-color: #f8f8f8;
}

.btn-payment>p {
    margin-bottom: 0px;
    text-align: left;
}

.btn-payment>p.padding-right {
    padding-right: 60px;
}

.wrap-icn-payment {
    float: left;
    width: auto;
    max-width: 170px;
    padding-right: 10px;
    text-align: left;
}

.wrap-icn-next {
    display: block;
    float: right;
    width: auto;
    max-width: 170px;
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .wrap-icn-payment {
        float: left;
        width: 100%;
        height: auto;
    }
    .btn-payment>p {
        padding-left: 0px;
    }
}

.btn-payment .icn-payment {
    float: left;
    max-width: 70px;
    height: 45px;
    padding: 5px;
}

.btn-payment .icn-payment-square {
    float: left;
    max-width: 50px;
    height: 50px;
    padding: 0px;
}

.btn-payment .icn-payment.with-border {
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-payment .icn-payment img {
    max-width: 100%;
}

.btn-payment .icn-payment-square img {
    max-width: 100%;
}

.panel-info {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 10px;
    background: #f8f8f8;
}


/*@media (min-width: @screen-md-min) {
  .panel-info{
    margin: 15px 0;
  }
}*/

.panel-info h3, .panel-info p {
    margin: 0;
    margin: 10px 0;
}

.table-cart {}

.table-cart tbody tr {
    min-height: 100px;
}

.table-cart td.col-01 {
    width: 50%;
}

.table-cart td.col-02 {
    width: 30%;
}

.table-cart td.col-03 {
    width: 10%;
}

.table-cart td.col-04 {
    width: 10%;
}

.table-cart tfoot {
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;
}

.table-cart tfoot tr td {
    padding: 20px 15px;
}

.table-cart tfoot tr td h4 {
    margin: 0;
}

.table-history {}

.table-history td.col-01 {
    width: 15%;
}

.table-history td.col-02 {
    width: 10%;
}

.table-history td.col-03 {
    width: 15%;
}

.table-history td.col-04 {
    width: 20%;
}

.table-history td.col-05 {
    width: 25%;
}

.table-history td.col-06 {
    width: 15%;
}

img.payment-icon {
    width: 35px!important;
    height: 35px!important;
    padding: 0;
}

img.payment-information-icon {
    width: 65px!important;
    height: 65px!important;
    margin: 10px;
    padding: 0;
}

.banner-payment {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 2px;
}

.banner-payment:hover {
    background: gray;
}

.order>.summary {
    margin-bottom: 20px;
}

p.payment-pad-left {
    padding-left: 170px;
}
