.wrap-package-list {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.package-banner {
    float: left;
    width: 33.3333%;
    height: 120px;
    margin: 10px 0;
    padding: 0 10px;
}

.package-banner.main {
    height: 260px;
}

.package-banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
