.product-grid {
    display: table;
    width: 100%;
}

.product-show {
    position: relative;
    float: left;
    width: 945px;
    margin-top: 50px;
}

.product-show li.product {
    margin-bottom: 30px;
}

.product-show li.product:nth-child(5n) {
    margin-right: 0px;
}

.product-show-full {
    position: relative;
    float: left;
    width: 1140px;
}

.product-show-full li.product {
    margin-bottom: 30px;
}

.product-show-full li.product:nth-child(6n) {
    margin-right: 0px;
}


/* PRODUCT scroller */

.scroller-list li.product {
    position: relative;
    display: block;
    float: left;
    /*height: 360px;*/
    overflow: hidden;
    width: 172px;
    /*old 185px*/
    /*background-color: #666;*/
    margin-right: 20px;
    list-style: none;
    /*cursor: pointer;*/
}

.product:hover .detail-product {
    background-color: #f6f6f6;
}

.product:hover h6 {
    text-decoration: none;
    color: #db1c2f;
}


/*------hover and show button------*/

.product button, .detail-product button {
    display: none;
}

.product:hover button, .detail-product:hover button {
    display: block;
}


/*------Product Image------*/

.product .image-product {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 225px;
    /*old 245px*/
}

.image-product img {
    width: 100%;
    height: auto;
}

.image-product img.horizon {
    width: 100%;
    height: auto;
    margin-top: 30%;
}

.image-product .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .6);
}


/*------Product Detail------*/

.product .detail-product {
    position: relative;
    box-sizing: border-box;
    height: 170px;
    padding: 5px 10px;
    color: #909090;
    border-top: 1px solid #ddd;
}

.detail-product h6 {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 0px;
}

.detail-product i.publisher {
    font-size: 0.846em;
}

.detail-product button {
    /*display: block;*/
    margin: 5px 0px 10px;
}

.detail-product>a.publisher {
    display: block;
    color: #909090;
    font-size: 0.846em;
}

.detail-product>a.publisher:hover {
    color: #db1c2f;
}


/*------Product Price------*/

.product-price {
    display: inline-block;
}

.product-price .normal-prc {
    color: #db1c2f;
    font-size: 1.385em;
    font-weight: normal;
}

.product-price .dis-prc {
    text-decoration: line-through;
    font-size: 0.846em;
}

.wrap-card {
    display: inline-block;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    background: #fff;
}

.card-cover {
    position: relative;
    padding-top: 20px;
}

.card-cover a.preview {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url('/static/images/play_shadow.png') no-repeat center center;
}
