/*---------------change to responsive-------------*/
/*header{
  width:100%;
  min-width: 0;
  float: left;
}
.top{
  display: block;
  float: left;
}
.container{
  width: 1170px;
  max-width: 100% !important;
}*/
.btn-gg{ /*Facebook*/
    color: #fff;
    background-color: #e93f2e;
}
.btn-gg:hover,
.btn-gg:focus,
.btn-gg:active{
    color: #fff;
    background-color: #e03928;
}
.btn-tw{ /*Facebook*/
    color: #fff;
    background-color: #26c4f1;
}
.btn-tw:hover,
.btn-tw:focus,
.btn-tw:active{
    color: #fff;
    background-color: #24b9e3;
}

.banner-quiz{
	position: relative;

	float: left;

	width: 100%;
	height: 600px;
	margin-bottom: 30px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.black-gredient{
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 100%;

	background: url(../images/bg_black_gredient.png) repeat-x bottom left;
}
.banner-text{
	position: absolute;
	top: 65px;

	width: 100%;
	padding-left: 40px;
	/*bottom: 30px;
	text-align: center;*/

	color: #000;
}
.banner-text .big-btn{
	min-width: 250px;

	font-size:100%;
}
		/* Landscape phones and down */
		@media (max-width: 480px) {
			.banner-text h2{
				font-size:18px;
			}
		}
.banner-topic{
	float: left;

	width: 100%;
	/*margin-bottom: 20px;*/
}
.banner-topic img{
	height: 100px;
}
.banner-topic-sub{
	float: left;

	width: 100%;
	margin-bottom: 20px;
}
.banner-topic-sub img{
	height: 140px;

}
.btn-rounded{
	border-radius: 60px;
}
.btn-quiz{
    position: relative;

    margin-top: 20px;
    padding: 10px 15px;

    color: #ffb83d;
    border: 1px solid #ffb83d;
    background-color: #fff;

    font-size: 22px;
}
.btn-quiz:hover,
.btn-quiz:active,
.btn-quiz:focus{
    color: #fff;
    background-color: #ffb83d;
}
.btn-quiz.with-img > img{
	position: absolute;
	top: -20px;
	left: 20px;

	width: 55px;
}
.btn-quiz.active{
    color: #fff;
    border: 1px solid #ffb83d;
    outline: 0;
	 background-color: #ffb83d;
    box-shadow: none;
}
.label{
  display: inline-block;

  margin-bottom: 0;
  margin-bottom:15px;
  padding: 10px 16px;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid transparent;
  border-radius: 4px;
  background: #ffb83d;

  font-size: 22px;
  font-weight: bold;
  line-height: 1.42857143;
}
.label.label-green{background: #53B949;}
.label.label-red{background: #db1c2f;}
.label.label-grey{background: #3c3c3c;}
.label.label-block{
	width: 100%;
}
div.section{
	display: block;

	width: 100%;
	padding-top: 20px;
}
.user-photo{
	float: left;
	overflow: hidden;

	width: 50px;
	height: 50px;
	margin-right: 15px;

	border-radius: 50px;
	background: #ccc;
}
	.user-photo img{
		width: 100%;
		height: 100%;
	}
.q-title{
	display: block;

	margin: 0;
	padding: 5px 10px;

	color: #fff;
	background: #db1c2f;

	font-weight: bold;
}
.quiz-fixed-top{
	position: fixed;
	top: 0;

	max-width: 1140px;

	background: #fff;
}
.quiz-box{
	width: 100%;
	padding: 15px;

	border: 1px solid #db1c2f;
}
.quiz-box img{
	max-width: 100%;
}
.question-img{
	width: 100%;
	margin-bottom: 40px;

	text-align: center;
}
.question-img img{
	max-width: 100%;
}
.wrap-choice{
	width: 100%;
	margin: 10px 0;
}
.choice{
	display: block;

	width: 100%;
	margin: 15px 0;
	padding: 10px 30px;

	cursor: pointer;

	color: #fff;
	border-radius: 100px;
	background: #db1c2f;

	font-size: 22px;
	line-height: 1.5;
}
.choice:nth-child(1):before{
	padding-right: 10px;

	content: "1.";

	font-weight: bold;
}
.choice:nth-child(2):before{
	padding-right: 10px;

	content: "2.";

	font-weight: bold;
}
.choice:nth-child(3):before{
	padding-right: 10px;

	content: "3.";

	font-weight: bold;
}
.choice:nth-child(4):before{
	padding-right: 10px;

	content: "4.";

	font-weight: bold;
}
.choice:hover, .choice:active, .choice:focus{
    color: #fff;
    outline: 0;
    background-color: #ba1526;
}
.choice-unevent{
	display: block;

	width: 100%;
	margin: 15px 0;
	padding: 10px 30px;

	cursor: pointer;

	color: #fff;
	border-radius: 100px;
	background: #db1c2f;

	font-size: 22px;
	line-height: 1.5;
}
.choice-unevent:nth-child(1):before{
	padding-right: 10px;

	content: "1.";

	font-weight: bold;
}
.choice-unevent:nth-child(2):before{
	padding-right: 10px;

	content: "2.";

	font-weight: bold;
}
.choice-unevent:nth-child(3):before{
	padding-right: 10px;

	content: "3.";

	font-weight: bold;
}
.choice-unevent:nth-child(4):before{
	padding-right: 10px;

	content: "4.";

	font-weight: bold;
}
.choice-unevent:hover, .choice-unevent:active, .choice-unevent:focus{
    color: #fff;
    outline: 0;
    background-color: #ba1526;
}
.table-quiz {
	border: 1px solid #db1c2f;

	font-size: 18px;
}
.table-quiz p.username{
	float: left;

	color: #333;
}
.table-quiz tr > th{
	height:50px;
}
.table-quiz td{
	padding:13px 8px !important;
}
.table-quiz-main{width: 100%; }
.table-quiz-main .col-01{width: 5%; text-align: right; vertical-align: middle;}
.table-quiz-main .col-01 > span{padding-right: 15px; vertical-align: middle;font-size: 22px; font-weight: bold; }
.table-quiz-main .col-02{width: 30%; vertical-align: middle;}
.table-quiz-main .col-03{width: 10%; vertical-align: middle;}
.table-quiz-main .col-04{width: 20%; vertical-align: middle;}
.table-quiz-main .col-05{width: 10%; vertical-align: middle;}

.countdown-clock #Stage_jbeeb_3{
    margin: 0 auto !important;
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Ipad-landscape small-desktop */
@media (min-width: 980px) and (max-width: 1199px) {}

/* Ipad-Tablet Protrait  */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}
