/*
Global Styles
======================================
*/


/*
Layout
======================================
*/

.wrap {
    position: relative;
}

.menu-link {
    position: absolute;
    font-size: 1.5em;
}

.menu-link:link, .menu-link:visited {
    padding: .2em .4em;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 0, 0, .4);
}

.menu-link:hover, .menu-link:active {
    color: #25B89A;
    background: rgba(0, 0, 0, .6);
}

/*
Helper Classes
-----------------------------------
*/

.hide {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
