@media (min-width: 768px) {
    #sidebar-dropdown {
        display: none;
    }
    #sidebar-container {
        display: block !important;
    }
}

body {
    color: #444;
}

code {
    color: inherit;
    border: 1px solid #d2d2d2;
    background-color: #f8f8f8;
}

pre {
    padding: 10px 14px;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: #06c;
    border-radius: 0px;
    background-color: #f8f8f8;
}

pre code {
    border: none;
}

ul {
    list-style: none;
}

body.home {
    background-color: #fafafa;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #8a8a8a;
    border-top: 1px solid #e8e8e8;
}

footer a, footer a:hover {
    text-decoration: underline;
    color: #8a8a8a;
}

footer li {
    display: inline-block;
    padding: 5px;
}

.footnotes {
    margin-top: 50px;
    font-style: italic;
}

.footnotes::before {
    content: 'Notes';
}

.footnotes ol {
    margin-top: 10px;
}

.github-button {
    width: 100px;
    height: 20px;
    margin: 15px 0px 0px 15px;
}

.quill-wrapper {
    width: 100%;
    min-width: 320px;
    /*margin-left: auto;
  margin-right: auto;*/
    max-width: 600px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.toolbar {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.editor, .toolbar {
    visibility: hidden;
}

.editor.ql-container, .toolbar.ql-toolbar {
    visibility: visible;
}

#navigation-container {
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: #222;
}

#navigation-container .navbar-brand {
    font-size: 24px;
}

#navigation-container .navbar-brand>img {
    display: inline;
    margin-top: -8px;
}

#navigation-container .icon-bar {
    background-color: #fff;
}

#navigation-container a {
    color: #fff;
}

#navigation-container .nav>li.active>a, #navigation-container .nav>li>a:hover {
    background-color: #333;
}

#sidebar-container {
    display: none;
    margin-top: 20px;
}

#sidebar-container a {
    color: #999;
    font-weight: 500;
}

#sidebar-container a:hover {
    color: #06c;
    background-color: #fff;
}

#sidebar-container>.sidebar-nav {
    top: 20px;
}

#sidebar-container>.sidebar-nav>ul.nav>li.active>a, #sidebar-container>.sidebar-nav>ul.nav>li.active>a:hover {
    padding-left: 13px;
    border-left: 2px solid #06c;
}

#sidebar-container ul.sidebar-nav>li>a:hover {
    padding-left: 14px;
    border-left: 1px solid #06c;
}

#sidebar-container li.active>a {
    color: #06c;
}

#sidebar-container>.sidebar-nav>ul.nav>li>a {
    padding: 2px 0px 2px 15px;
}

#sidebar-container>.sidebar-nav>ul.nav ul.nav>li>a {
    padding: 2px 0px 2px 30px;
}

#sidebar-dropdown {
    margin-bottom: 40px;
}

#sidebar-dropdown a {
    text-decoration: none;
    color: #999;
}

#sidebar-dropdown a:hover {
    background-color: #f5f5f5;
}

#sidebar-dropdown ul {
    padding-left: 0px;
}

#sidebar-dropdown li.active>a {
    color: #06c;
    background-color: inherit;
    font-weight: 700;
}

#sidebar-dropdown ul.dropdown-menu>li>a {
    padding: 5px 20px;
    font-size: 16px;
}

#sidebar-dropdown ul.dropdown-menu>li>ul>li>a {
    display: block;
    padding: 5px 20px 5px 40px;
}

#demo-container {
    overflow-y: hidden;
    margin-top: -20px;
    padding-top: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #fafafa;
}

#demo-container .quill-wrapper {
    width: 66%;
    max-width: none;
}

#demo-container #editor {
    height: 400px;
    -webkit-transition: height 500ms ease-out;
    -moz-transition: height 500ms ease-out;
    transition: height 500ms ease-out;
}

#demo-container #editor.focus {
    height: 448px;
    -webkit-transition: height 800ms ease-out;
    -moz-transition: height 800ms ease-out;
    transition: height 800ms ease-out;
}

#demo-container .tooltip.left {
    margin-left: -10px;
}

#demo-container .tooltip-arrow {
    border-left-color: #222;
}

#demo-container .tooltip-inner {
    padding: 5px 15px;
    background-color: #222;
    font-size: 16px;
}

#features-container {
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
}

#features-container h3 {
    margin-top: 10px;
}

#features-container hr {
    border-color: #e8e8e8;
}

#features-container img {
    margin: 0px auto 10px;
}

#features-container .container p {
    margin-right: 25px;
    margin-left: 25px;
}

#download-container {
    margin-top: 40px;
}

#download-container .btn-lg {
    margin-top: 10px;
    color: #06c;
    border: 1px solid #06c;
}

#download-container .btn-lg:hover {
    color: #fff;
    background-color: #06c;
}

#docs-container {
    margin-top: 20px;
    padding-bottom: 80px;
}

#docs-container pre, #docs-container table, #docs-container ul {
    margin-left: 20px;
}

#docs-container table {
    margin-bottom: 10px;
}

#docs-container table thead {
    display: none;
}

#docs-container table td {
    padding-right: 12px;
    vertical-align: top;
}

#docs-container ul code, #docs-container table code {
    padding: 0px;
    border: none;
    background-color: #fff;
}

#docs-container h1 {
    margin-top: 0px;
    font-size: 32px;
}

#docs-container h2 {
    font-size: 24px
}

#docs-container h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

#docs-container h4 {
    margin-top: 20px;
}

#docs-container h2, #docs-container h3 {
    margin-top: 60px;
}

#docs-container ol {
    list-style: none;
}

#docs-container ol, #docs-container ul {
    padding: 0px;
}

#docs-container p>strong {
    text-decoration: underline;
}

#docs-container .quill-wrapper {
    margin: 20px 0px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#docs-container #toolbar-editor {
    display: none;
}

#docs-container #authorship-editor {
    height: 120px;
}

#docs-container #multi-cursor-editor {
    height: 150px;
}

#examples-container pre {
    margin-left: 0px;
}

#examples-container .quill-wrapper {
    margin: 15px 0px;
}

#examples-container #basic-toolbar {
    padding: 5px 15px;
}

#examples-container #basic-toolbar button {
    height: 20px;
    font-size: 12px;
}

#examples-container #basic-toolbar, #examples-container #full-toolbar {
    border-bottom: 1px solid #ccc;
}

#examples-container #basic-editor, #examples-container #full-editor {
    height: 250px;
}

#blog-container {
    max-width: 720px;
}

#blog-container pre {
    margin: 25px 0px;
}

#blog-container .post-list {
    margin-bottom: 100px;
}

#blog-container .post-item h1 a, #blog-container .post-meta a {
    text-decoration: none;
    color: inherit;
}

#blog-container .post-item h1 {
    font-size: 26px;
}

#blog-container .post-item h3 {
    font-size: 18px;
}

#blog-container .post-item hr {
    width: 40%;
    margin-bottom: 40px;
}

#blog-container .post-item .more-link {
    display: inline-block;
    margin-top: 10px;
}

#blog-container .post-meta {
    margin-bottom: 10px;
    color: #999;
}

#blog-container .post {
    margin-bottom: 100px;
    font-size: 16px;
}

#blog-container .post h1, #blog-container .post .post-meta {
    text-align: center;
}

#blog-container .post .post-meta {
    margin-bottom: 25px;
}

#blog-container .post h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

#blog-container .post .cp_embed_iframe {
    margin: 10px 0px;
}
