.nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

img.item-bullet {
    width: 100%;
}

img.item-left {
    width: 115%;
    margin-top: 15px;
}

ul.right-menu {
    display: inline-block;
    float: right;
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

ul.right-menu li {
    display: inline-block;
    margin-left: 20px;
}

ul.right-menu .btn-clear {
    color: #fff;
    border: 1px solid #fff;
    background: none;
}

ul.right-menu .btn-clear:hover {
    background: rgba(255, 255, 255, 0.3);
}

ul.right-menu li a {
    color: #fff;
}

.nav .logo {
    float: left;
    width: 150px;
    height: 45px;
    background: url('http://placehold.it/150x45') no-repeat;
}

.nav .logo-scroll {
    float: left;
    width: 180px;
    height: 45px;
    background: url('http://placehold.it/180x45') no-repeat;
}


/* Scroll style */

.nav.header {
    border-bottom: 1px solid #eee;
    background: rgba(255, 2255, 255, 1);
}

.background {
    position: relative;
    /*min-height:835px;*/
    width: 100%;
    min-width: 1170px;
    min-height: 720px;
    padding-bottom: 50px;
    background: url(../res/subscribe_bg.jpg) no-repeat;
    background-position: 50% 50%;
    /* custom background-position */
    background-position: 50% 50% !important;
    /* ie8- graceful degradation */
    background-size: cover;
}

.background-join {
    position: relative;
    z-index: -2;
    /*min-height:670px;*/
    /*min-height:835px;*/
    width: 100%;
    min-width: 1170px;
    padding-bottom: 25px;
    background: url(../images/teach-background.png) no-repeat;
    /*background: #f3efe6;*/
    background-position: 50% 50%;
    /* custom background-position */
    background-position: 50% 50% !important;
    /* ie8- graceful degradation */
    background-size: cover;
}

div.section-contact {
    min-height: 50px;
    background: #6c6c6c;
}

.transparent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
}

.fixnav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

.fixnav .top {
    background: none;
}

.fixnav .top a {
    color: #fff;
}


/*content*/

.join-head {
    margin-bottom: 20px;
}

.join-title {
    margin: 0px;
    color: #db1c2f;
}


/*left column*/

.join-intro {
    margin: 25px 0px 20px;
}

.join-intro h1 {
    color: #fff;
    font-size: 3.5em;
    line-height: normal;
}

.join-intro h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
}

.join-bullet {
    color: #fff;
}

.join-bullet li.tagline {
    overflow: hidden;
    margin-bottom: 20px;
}

.join-bullet li.tagline img {
    width: 45px;
    height: 45px;
    margin-top: 18px;
    margin-right: 20px;
}

.join-bullet li.tagline p {
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.3em;
}

.join-complete {
    overflow: hidden;
    margin-bottom: 30px;
}

.join-complete img {
    max-width: 100%;
    height: auto;
}


/*content bottom*/

.center-content {
    text-align: center;
}

.icon-feature {
    margin: 50px 0px 0px;
}

.icon-feature img {
    margin-bottom: 10px;
}

.waiting-queue {
    margin-top: 35px;
    margin-bottom: 45px;
}

.input-lg {
    line-height: 2.33;
}

input[type="text"] {}

.partner-logo, .publish-logo {
    padding: 30px 0px;
}

.partner-logo img, .publish-logo img {
    height: 60px;
}

.publish-logo h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact h1, h3 {
    font-weight: bold;
}

ul.right-icon {
    list-style-type: none;
}

ul.right-icon li {
    text-indent: -10px;
}

ul.right-icon li:before {
    content: "";
}

p {
    /*font-size: 16px;*/
}

h1 {
    font-size: 40px;
}

.font-size-mid {
    font-size: 22px;
}

a.demo-button {
    margin-top: 10px;
    padding: 10px 35px;
    color: #FFF !important;
    border-color: #4F4F4F;
    background-color: #4F4F4F;
    font-size: 20px;
}

a:hover {
    color: black;
}

.right-icon li {
    font-size: 14.5px;
}
