/*html {
	-webkit-filter: grayscale(1.0) !important;
	-moz-filter: grayscale(1.0) !important;
	-ms-filter: grayscale(1.0) !important;
	-o-filter: grayscale(1.0) !important;
	filter: grayscale(1.0) !important;
}*/

.breadcrumb ol>li {
    color: #db1c2f;
}

blockquote.red {
    border-left: 4px solid #db1c2f;
}

.event-tags a.suggest {
    color: #db1c2f;
}

.event-tags a.suggest:hover {
    background-color: #db1c2f;
}

.event-tags-color a.suggest {
    color: #db1c2f;
}

.event-tags-color a.suggest:hover {
    background-color: #db1c2f;
}

.menu-tab li.active {
    border-bottom: 4px solid #db1c2f;
}

.menu-tab li.active a {
    color: #db1c2f;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    border-color: #db1c2f;
    background-color: #db1c2f;
}

.item>span.price {
    color: #db1c2f;
}

.login a:hover {
    color: #db1c2f;
}

a.signup {
    color: #db1c2f;
}

.navmenu li>a:hover, .navmenu li>a.selected {
    color: #db1c2f;
    border-bottom: 5px solid #db1c2f;
}

.navmenu li>a.special {
    color: #db1c2f;
}

.navmenu li>a.special:hover {
    background-color: #db1c2f;
}

.top {
    border-top-color: #db1c2f;
}


/*--Category--*/

.side-bottom {
    color: #db1c2f;
}

.side-box li a.active {
    color: #db1c2f;
}

.side-box li:hover a {
    color: #db1c2f;
}

.event-info>.duration {
    background-color: #db1c2f;
}

.scroller-list li.event-thumb:hover {
    border: 1px solid #db1c2f;
}

.scroller-list li.event-thumb-active {
    border: 1px solid #db1c2f;
}

.scroller-list li.event-thumb-more {
    border: 1px solid #db1c2f;
    background-color: #db1c2f;
}

.scroller-list li.event-thumb-more:hover {
    border: 1px solid #f7152c;
    background-color: #f7152c;
    /*absolute-red--*/
}

.lookfor {
    border: 1px solid #db1c2f;
}

.lookfor-head {
    background-color: #db1c2f;
}

.cat-menu .default-menu>p>a:hover {
    color: #db1c2f;
}

.cat-menu .default-menu>p>a.selected {
    color: #db1c2f;
}

.dynamic-list>p.selected {
    color: #db1c2f;
}

ul.dynamic-sublist>li:before {
    color: #db1c2f;
}

ul.dynamic-sublist>li.selected {
    color: #db1c2f;
}

a.level.selected {
    color: #db1c2f;
}


/*course*/

.wrap-crtmenu>.menu-list>p.button:hover, .wrap-crtmenu>.menu-list>p.button.active {
    border-right: 7px solid #db1c2f;
}

.wrap-crtmenu>.menu-list>p.button:hover a {
    color: #db1c2f;
}

.cta .price span.unit {
    color: #db1c2f;
}

.cta-social a:hover {
    color: #db1c2f;
}


/*--home--*/

.detail-event:hover h3 {
    color: #db1c2f;
}

.detail-event-lg:hover h4 {
    color: #db1c2f;
}

.detail-event-lg .duration {
    background-color: #db1c2f;
}

.about-title h1 {
    color: #db1c2f;
}

.big-event .event-info:hover h3 {
    color: #db1c2f;
}


/*video*/

.btn-wht-transparent:hover, .btn-blkwht-transparent:active, .btn-blkwht-transparent:focus {
    color: #db1c2f;
}


/*--icon btn-red--*/

ul.section-submenu>li>i.fa-play-circle {
    color: #db1c2f;
}


/*--icon btn-green--*/

ul.section-menu>h4 {
    color: #53B949;
    /*icon-check*/
}

ul.section-submenu>li>i.fa-check-circle {
    color: #53B949;
}

.progress-bar-top {
    background: #b2d234;
}

.curr-vdolist>li.vdolist-check>.round-box.green {
    background: #53B949;
}

.cta ul.other-info li.green {
    color: #b2d234;
}

.btn-play {
    color: #53B949;
    border: 1px solid #53B949;
}

.btn-play:hover, .btn-play:active, .btn-play:focus {
    background-color: #53B949;
}


/*--icon btn yellow--*/

.btn-skip {
    color: #f9bf3b;
    border-color: #f9bf3b;
}

.btn-skip:hover {
    border-color: #f9bf3b;
    background-color: #f9bf3b;
}

.trends-type a {
    color: #f9bf3b;
    border: 1px solid #f9bf3b;
}

.trends-type a.active {
    background-color: #f9bf3b;
}

.trends-type a:hover {
    background-color: #f9bf3b;
}

.curr-vdolist>li.vdolist-check>.round-box.yellow {
    background: #fec11e;
}

.event-type a {
    color: #f9bf3b;
}

.event-type a:hover {
    background-color: #f9bf3b;
}

.event-tags-color a {
    color: #f9bf3b;
}

.event-tags-color a:hover {
    background-color: #f9bf3b;
}

.event-tags a {
    color: #f9bf3b;
    /*--yellow--*/
}

.event-tags a:hover {
    background-color: #f9bf3b;
}

.bg-category-active {
    background: red;
}


/* Course  */

.cat-menu .default-menu>h4>a:hover {
    color: #db1c2f;
}

.cat-menu .default-menu>h4>a.selected {
    color: #fff;
    background: #db1c2f;
}

.dynamic-list>.expand {
    color: #db1c2f;
}

.dynamic-list>p:hover {
    color: #db1c2f;
}

.dynamic-list>.expand:hover, .dynamic-list>.expand.active {
    background: #db1c2f;
}

.dynamic-sublist-box {
    border-left: 1px solid #db1c2f;
}

ul.dynamic-sublist>li:before {
    color: #db1c2f;
}

#header {
    border-top: 5px solid #db1c2f;
}
