a[href="http://flowplayer.org"] {
  opacity: 0 !important;
}

#page {
    height: 100%;
    /*overflow-x: hidden;*/
}

.flowplayer .fp-player{
  top:-10px !important;
}

.wrap-vdoheader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.vdo-header {
    z-index: 1;
    height: 40px;
    border-bottom: solid #000 1px;
    background: #333333;
}

.vdo-header .btn-back {
    line-height: 25px;
}

.vdo-header .logo {
    float: none;
    height: 30px;
    margin-top: 5px;
}

.vdo-header .user-info {
    margin-top: 5px;
}

.vdo-header .user-avatar {
    width: 30px;
    height: 30px;
}

.vdo-menubar {
    padding: 10px 0 5px 0px;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
}

.wrap-btnmenu {
    position: absolute;
}

.wrap-vdoname {
    float: left;
    width: 100%;
    padding-left: 60px;
}

.wrap-vdoname>.course-name, .wrap-vdoname>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wrap-vdoname>.course-name {
    font-size: 20px;
}

#menu {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding-top: 97px;
    background-color: #fff;
}

#wrap-video {
    position: fixed;
    top: 0;
    left: 0;
    float: none;
    width: 100% !important;
    height: 100% !important;
    min-height: 300px;
    padding-top: 95px;
    padding-left: 300px;
    padding-bottom: 48px;
}
#wrap-video.quiz-wrap {
    background-color: #fff !important;
    padding-bottom: 0;
}
#wrap-video.scrom {
  padding-bottom: 0;
}
#wrap-video.has-flowplayer {
  padding-bottom: 63px;
}
#wrap-video.has-flowplayer .vdo-option{
  margin-top: 15px;
}

  #wrap-video .wrapper-iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }

    #wrap-video .wrapper-iframe iframe{
      width: 100%;
      height:100%;
      border:none;
    }

.vdo-menu-closed #menu {
    left: -300px;
}

.vdo-menu-closed #wrap-video {
    padding-left: 0;
}

#player, #hlsjslive {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#player .fp-ratio {
    display: inline;
}

.vdo-option {
    position: relative;
    z-index: 5;
    width: 100% !important;
    height: 50px;
    background-color: #000;
}

#button-next {
    position: relative;
    z-index: 99;
}

.vdo-option>.btn {
    margin: 8px;
}

.flowplayer .fp-controls {
    bottom: -30px !important;
    right: 0 !important;
    border-radius: 0 !important;
}
.flowplayer .fp-controls .fp-play{
    left: -50px !important;
    width: 50px !important;
    border-radius: 0 !important;
}

.flowplayer.is-fullscreen .fp-controls {
    bottom: 0 !important;
}

.flowplayer .fp-time em {
    bottom: -19px !important;
}

.flowplayer.is-fullscreen .fp-time em {
    bottom: 11px !important;
}

.flowplayer .fp-remaining, .flowplayer .fp-duration {
    /*right: 190px !important;*/
}
.is-error .fp-ui {
  background: none !important;
}

#video-learner-info {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}


/*------------------------------------------*/

.btn-blk-transparent {
    color: #909090;
    background-color: transparent;
}

.btn-blk-transparent:hover, .btn-blk-transparent:active, .btn-blk-transparent:focus {
    color: #fff;
    outline: 0;
    background-color: #2a2a2a;
}

.btn-wht-transparent {
    color: #909090;
    background-color: transparent;
}

.btn-wht-transparent:hover, .btn-blkwht-transparent:active, .btn-blkwht-transparent:focus {
    color: #db1c2f;
    border: 1px solid #eee;
    outline: 0;
    background-color: #f5f5f5;
}

.vdo-menu {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color:#f4f4f4;
}

.btn-mode {
    padding: 0 15px;
    color: #eee;
    border-right: 1px solid #333;
    line-height: 50px;
}

.btn-mode:hover, .btn-mode:active, .btn-mode:focus {
    color: #fff;
}

ul.section-menu {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    background-color:#ffffff;
}

ul.section-menu:hover {
    background: #eee;
}

ul.section-menu>h4 {
    display: block;
    float: left;
    width: 20%;
    text-align: right;
    color: #53B949;
}

ul.section-submenu {
    width: 100%;
    margin: 0px;
    padding: 0px 12px;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
}

ul.section-submenu>li {
    width: 100%;
    padding: 14px 0px 0px 0px;
    list-style: none;
    color: #909090;
    background: url(../images/line_grey.png) 10px 0px repeat-y;
    font-size: 1em;
}

ul.section-submenu>li>i {
    float: left;
    width: 10%;
    font-size: 1.6em;
}

ul.section-submenu>li>i.fa-check-circle {
    color: #53B949;
}

ul.section-submenu>li>i.fa-play-circle {
    color: #db1c2f;
}

ul.section-submenu>li>i.fa-circle-thin {
    color: #e8e8e8;
    background: #f9f9f9;
}

ul.section-submenu>li>p.number {
    float: left;
    width: 7%;
    font-weight: bold;
}

ul.section-submenu>li>p.lesson {
    float: left;
    width: 83%;
    font-weight: bold;
}


/*--------Mobile--------*/

.wrap-vdoheader-mobile {
    float: left;
    width: 100%;
    background: #222222;
}

.wrap-vdo-mobile {
    float: left;
    width: 100%;
}

.wrap-vdomenu-m {
    z-index: 2000;
    display: inline-block;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    background: #fff;
}

.wrap-vdomenu-float-m {
    float: left;
    width: 100%;
}

.vdo-embed-m {
    float: left;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: #333333;
}

.clip-m {
    display: block;
    float: left;
    /*padding-top: 186px;*/
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: #333333;
}

.clip-play-m {
    /*padding-bottom: 60px;*/
    float: left;
    /*padding-left: 350px;*/
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
}

#page {
    position: relative;
    overflow: visible;
    width: 100%;
    /*min-width: 320px;*/
    min-width: 0px;
    padding: 0;
    box-shadow: none;
}


/* Additional Css for Quiz */

.quiz-wrap {
    float: none !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: auto !important;
    height: 100% !important;
    padding-bottom: 60px;
}

@media(max-width: 991px) {
    .quiz-wrap {
        margin-left: 0 !important;
    }
}

.quiz-wrap .vdo-embed {
    position: relative;
    background: none;
}

.quiz-wrap .clip {
  height: 100%;
    padding: 20px 50px 20px 60px;
    background: white;
}

.quiz-wrap .curr-vdolist {
    float: none;
    border: 1px solid #eee;
    border-width: 0 1px 1px;
}

.quiz-wrap .curr-vdolist:first-child {
    border-top-width: 1px;
    border-radius: 4px 4px 0 0;
}

.quiz-wrap .curr-vdolist:last-child {
    border-radius: 0 0 4px 4px;
}

@media(max-width: 767px) {
    .vdo-menubar {
        padding-top: 5px;
        padding-bottom: 0;
    }
    .wrap-btnmenu {
        margin-top: 7px;
    }
    #menu {
        position: relative;
        top: auto;
        left: auto !important;
        width: 100%;
        padding-top: 0;
    }
    #wrap-video {
        position: relative;
        height: auto !important;
        min-height: 0;
        padding: 44px 0 0 0 !important;
    }
    #wrap-video .wrapper-iframe {
      height: 0;
      padding-bottom: 60%;
    }
    #wrap-video .wrapper-iframe iframe{
      position: absolute;
      top: 0;
      left: 0;
    }
    .vdo-header .user-name .name, #topmenulink {
        display: none;
    }
    .wrap-vdoname {
        padding-left: 0;
    }
    .wrap-vdoname>.course-name {
        font-size: 16px;
    }
    .wrap-vdoname>p {
        font-size: 13px;
    }
    .wrap-vdoname small {
        display: block;
    }
    .stat {
        background-color: #eee;
    }
    .stat p {
        font-size: 10px;
    }
    .stat h4 {
        font-size: 12px;
    }
    .quiz-wrap .clip {
        padding-right: 15px;
        padding-left: 15px;
    }
    .quiz-wrap .test-section-item .test-total-score {
        width: 165px;
    }
}
