{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}

{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'cimb/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
		<h3 class="main-color font-bold fade-in-up">Forgot Password</h3>
        {% if msg != None %}
            <p class="error-msg red top-margin-little">{{ msg }}</p>
        {% endif %}
		{% if is_show %}
        <form id="form-login" method="post" class="fade-in-up-delay" action="{% url 'forgot_password_save' %}">{% csrf_token %}
          <div class="text-left">
            <p><input name="email" type="text" placeholder="Enter your company email" autofocus /></p>
          </div>

          <p class="top-margin-little"><button type="submit" class="btn-block btn-main-color">Submit</button></p>
        </form>
		{% endif %}
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} CIMB Thai Bank PLC. All Rights Reserved.
  </footer>
</div>
{% endblock %}
