{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'cimb/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
    <form id="form-login" class="fade-in-up-delay" method="post" action="{% url 'login' %}">{% csrf_token %}
      <div class="text-left">
        <div class="top-pad main-color"><strong>{% trans "Username" %}</strong></div>
        <p><input name="email" type="text" placeholder="{% trans "Username" %}" autofocus /></p>
        <div class="top-margin-little main-color"><strong>{% trans "Password" %}</strong></div>
        <p><input name="password" type="password" placeholder="{% trans "Password" %}" autocomplete="off"/></p>
        <!-- <p class="top-margin-little">
          <input id="remember" name="remember" type="checkbox" />
          <label for="remember" class="main-color">{% trans "Remember Me" %}</label>
        </p> -->

         {%if is_forgot_password%}
        <p class="m-t-10 m-b-10 pull-right">
          <a href="{% url 'forgot_password'  %}" class="main-color">{% trans "Forgot Password?" %}</a>
        </p>
        {%endif%}
      </div>
      <input type="hidden" name="ref" value="{{ ref }}" />
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="error-msg red" style="display:none;margin-top:40px;">Error Message</p>
      <p class="top-margin-little"><button type="submit" name="submit" class="btn-block btn-main-color">{% trans "Log In" %}</button></p>
      <p class="text-center">CIMB THAI LMS Version 1.0</p>
    </form>
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} CIMB Thai Bank PLC. All Rights Reserved.
  </footer>
</div>
{% endblock %}
