{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}
<div class="cta price-widget" data-spy="" data-offset-top="513">
  <!-- box -->
  <section class="panel panel-default hidden-xs hidden-sm visible-md visible-lg">
    {% if cached.price_web >= 0 %}
    <div class="panel-heading panel-price">
      {% if user.is_authenticated %}
      {% if user.is_verify or True %}
      <a href="{% url 'course:buy' course.id %}" class="btn-block btn-main-color btn-lg">
        {% if cached.price_web > 0.0 %}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
      Buy course
        {% endif %}
        {%else%}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
        Add to Library
        {% endif %}
        {%endif %}
      </a>
      {% else %}
      <a data-toggle="modal" data-target="#emailVerifyModal" class="btn-block btn-main-color btn-lg">
        {% if cached.price_web > 0.0 %}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
        Buy course
        {% endif %}
        {%else%}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
        Add to library
        {% endif %}
        {%endif %}
      </a>
      {% endif %}
      {% else %}
      <a data-toggle="modal" data-target="#loginModal" class="btn-block btn-main-color btn-lg">{% if cached.price_web > 0.0 %}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
        Buy course
        {% endif %}
        {%else%}
        {% if cached.status == 5 %}
        จองคอร์สล่วงหน้า!
        {% else %}
        Add to library
        {% endif %}
        {%endif %}</a>
        {% endif %}
        {% for package in package_relate_list %}
        {% if user.is_authenticated %}
        <a href="{% url 'package:checkout' package.id %}" class="btn bgm-bluegray btn-lg btn-block btn-orange">ซื้อ {{ package.name }}</a>
        {% else %}
        <a onclick="openSignupModal('{% url 'package:checkout' package.id %}');" class="btn bgm-bluegray btn-lg btn-block btn-orange">ซื้อ {{ package.name }}</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {% if course.info|length > 0 %}
      <div class="panel-footer panel-price">
        <h4 class="black">เกี่ยวกับคอร์สนี้</h4>
        {{course.info|safe|linebreaks}}
      </div>
      {% endif %}
    </section>
  </div>
