{% load staticfiles %}
<div class="col-sm-3 col-md-2 hide-sm">
  <div class="wrap-cat-menu">
    <div class="cat-menu">
      <div class="default-menu">
        <h4 class="bold">BY TYPE</h4>
        <h4><a href="{% url 'course:home' %}?type=featured" {% if type == "featured" %}class="selected"{% endif %}><i class="fa fa-heart"></i> Featured</a></h4>
        <h4><a href="{% url 'course:home' %}?type=new" {% if type == "new" %}class="selected"{% endif %}><i class="fa fa-star"></i> New courses</a></h4>
      </div>
      {% comment %}
      <div class="dynamic-menu">
        <h4>Course by level</h4>
        {% for course_menu in course_menu_level %}
        <div class="dynamic-list">
          <div class="expand">
            <p><a href="{% url 'course:home' %}?menu=level&level={{ course_menu.level.id }}">
             {% if menu == "level" and level.id == course_menu.level.id %}!!{% endif %} {{ course_menu.level.name }}
           </a></p>
           {% if course_menu.subject_list %}
           <div class="dynamic-sublist-box  hidden-xs">
            <ul class="dynamic-sublist ">
             {% for subject in course_menu.subject_list %}
             <li><a href="{% url 'course:home' %}?menu=level&level={{ course_menu.level.id }}&subject={{ subject.id }}"><span>{{ subject.name }}</span></a></li>
             {% endfor %}
           </ul>
           </div>
           {% endif %}
       </div>
     </div>
     {% endfor %}
   </div>
   {% endcomment %}
   <div class="dynamic-menu">
    <h4>By subject</h4>
    {% for course_menu in course_menu_subject %}
    <div class="dynamic-list">
      <div class="expand {% if course_menu.subject.id == subject.id %}active{% endif %}">
          <p>
            <a href="{% url 'course:home' %}?menu=subject&subject={{ course_menu.subject.id }}">
             - {{ course_menu.subject.name }}
           </a>
         </p>
         {% comment %}
         {% if course_menu.level_list %}
         <div class="dynamic-sublist-box">
          <ul class="dynamic-sublist">
           {% for level in course_menu.level_list %}
           <li><a href="{% url 'course:home' %}?menu=subject&subject={{ course_menu.subject.id }}&level={{ level.id }}"><span>{{ level.name }}</span></a></li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       {% endcomment %}
     </div>
   </div>
   {% endfor %}
 </div>
</div><!--cat-menu-->
</div><!--wrap-cat-menu-->
</div><!--col-xs-2-->
