<td>{{ approve.account.id }}</td>
<td>{{ approve.account.first_name }} {{ approve.account.last_name }}</td>
<td>x</td>
<td>{{ approve.timestamp }}</td>
<td>
    <label class="checkbox checkbox-inline m-r-20">
        <input type="checkbox" value="" {% if approve.is_approve %}checked{% endif %}>
        <i class="input-helper"></i>
    </label>
</td>
<td>{{ approve.timestamp_approve }}</td>
