{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% block jquery %}
$('body').on('change', 'input[type=checkbox]', function(){
    var ch = $(this);
    var approve_id = $(this).parents('tr').attr('approve');
    var approve_tr = $(this).parents('tr');
    if($(this).is(":checked")){
    	  swal({
            title: "Approve completed TO DO for this user?",
            text: "",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Approve",
            closeOnConfirm: true
    	  }, function(isConfirm){
	          if(isConfirm){
	            	$.ajax({
          		    method: "POST",
          		    url: "{% url 'dashboard:task-dashboard:approve_action' task.id program.id %}",
          		    data: {approve: approve_id}
	            	}).done(function(html){
		              approve_tr.html(html);
	            	});
	          }else{
	            	ch.prop('checked', false);
	          }
	      });
    }else{
	      swal({
            title: "Disapprove TO DO for this user?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Disapprove",
            closeOnConfirm: true
      	}, function(isConfirm){
	          if(isConfirm){
            		$.ajax({
          		    method: "POST",
          		    url: "{% url 'dashboard:task-dashboard:approve_action' task.id program.id %}",
          		    data: {approve: approve_id}
	            	}).done(function(html){
	          	    approve_tr.html(html);
	            	});
	          }else{
	            	ch.prop('checked', true);
	          }
      	});
    }
});
{% endblock %}
{% block content %}

{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "task/dashboard/head.html" %}
  {% include "task/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Approvement</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Full Name</th>
            <th>Department</th>
            <th>Assignment Date</th>
            <th>Approved</th>
            <th>Approved Date</th>
          </tr>
        </thead>
        <tbody>
          {% for approve in approve_list %}
          <tr approve="{{ approve.id }}">
    	    {% include "task/dashboard/approve_block.html"%}
          </tr>
    	  {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No users.</div></td>
          </tr>
    	  {% endfor %}
    	</tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=approve_list %}
  </div>
</div>
{% endblock %}
