{% extends "dashboard/base.html" %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "task/dashboard/head.html" %}
  {% include "task/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Approvement</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>In Program</th>
            <th>Version</th>
            {# <th>Assignment Date</th> #}
	    {% if not perms.task.view_org_task %}
            <th>To Users</th>
            <th>Approved</th>
            <th>Not Approved</th>
	    {% endif %}
            <th>To Approve</th>
            {% comment %}
            <th>Connect</th>
            {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for program in program_list %}
          <tr>
            <td class="text-left">{{ program.name }}</td>
            <td>{{ program.version|floatformat:1 }}</td>
            {# <td>{{ program.start }}</td> #}
	    {% if not perms.task.view_org_task %}
            <td>{{ program.stat.count }}</td>
            <td>{{ program.stat.approve }}</td>
            <td>{{ program.stat.not_approve }}</td>
	    {% endif %}
            <td>
              <a href="{% url 'dashboard:task-dashboard:approve_detail' task.id program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-chart zmdi-hc-fw"></i>
              </a>
            </td>
            {% comment %}
            <td class="text-center">
              <a href="{% url 'dashboard:task-dashboard:detail' task.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
            {% endcomment %}
          </tr>
    	  {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No approvements.</div></td>
          </tr>
    	  {% endfor %}
    	</tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=program_list %}
  </div>
</div>
{% endblock %}
