{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block jquery %}
function type_display(type){
    $('#id_data').parents('.form-group').hide();
    if(type == 4){
	      $('#id_data').parents('.form-group').show();
    }
}
$('select#id_type').on('change', function() {
    type_display(this.value);
});
type_display(0);
{% endblock %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>TO-DO Management : Create a new to-do</strong></h2>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ task_form|bootstrap_horizontal }}
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save & Next Step</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
