{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>TO-DO Management</strong></h2>
    <ul class="actions">
      {% if perms.task.add_task %}
      <li>
        <a href="{% url 'dashboard:task-dashboard:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-header">
    {% include "content/dashboard/filter2_block.html" with form_id="filter_department" button_id="" %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Picture</th>
            <th class="text-left">ID</th>
            <th>Name</th>
            <th>Learning Center</th>
            <th>In Programs</th>
            {% comment %}
            <th>Assigned</th>
            <th>Learners</th>
            <th>Approved</th>
            {% endcomment %}
            <th>Approvement</th>
            <th>Detail</th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
          <tr>
            <td>
              {% if task.image %}<img src="{{ task.image.url }}" />
              {% else %}-
              {% endif %}
            </td>
            <td class="text-left">{{ task.id }}</td>
            <td class="text-left">{{ task.name }}</td>
            <td>{% if task.provider %}{{ task.provider.name }}{% else %}-{% endif %}</td>
            <td>{{ task.count_program }}</td>
            {% comment %}
            <!-- FIXME: @kidsdev -->
            <td>{{ task.progress_content_cached.count }}</td>
            <td>{{ task.progress_content_cached.learner }}</td>
            <td>{{ task.progress_content_cached.completed }}</td>
            {% endcomment %}
            <td>
    	      <a href="{% url 'dashboard:task-dashboard:approve' task.id %}" class="btn bgm-bluegray btn-sm waves-effect">
    	        <i class="zmdi zmdi-chart zmdi-hc-fw"></i>
              </a>
    	    </td>
            <td>
              <a href="{% url 'dashboard:task-dashboard:detail' task.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
    	    <td>
              <a href="{% url 'task:detail' task.id %}?preview=True" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
    	  {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No to-dos.</div></td>
          </tr>
    	  {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=task_list %}
  </div>
</div>
{% endblock %}
