<ul class="tab-nav text-center" role="tablist" tabindex="2" style="overflow: hidden; outline: none;">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:task-dashboard:detail' task.id %}">Information</a>
  </li>
  <li {% if TAB == "approve" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:task-dashboard:approve' task.id %}">Approvement</a>
  </li>
  <li {% if TAB == "dependency" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:task-dashboard:dependency' task.id %}">Dependency</a>
  </li>
</ul>
<br/>
