{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'chiatai/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
		<h4 class="forgot-header fade-in-up-delay">Forgot Password?</h4>
		{% if is_show %}
    <form id="form-login" method="post" class="fade-in-up-delay">{% csrf_token %}
      <div class="text-left">
        <p><input class="input-login" name="email" type="text" placeholder="Email" autofocus /></p>
      </div>
			{% if msg != None %}
      <p class="error-msg red top-margin-little">{{ msg }}</p>
			{% endif %}
      <p class="top-margin-little"><button type="submit" class="btn-block btn-main-color" id="btn-submit">Submit</button></p>
    </form>
		{% endif %}
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Chia Tai. All Rights Reserved.
  </footer>
</div>
{% endblock %}
