{% load staticfiles %}
<div id="howToWalkthroughModal" class="modal walkthrough fade" tabindex="-1" role="dialog" >
      <div class="modal-dialog">
          <img src="{% static 'aisondemand/images/customize/logo-ais-learn-di-white.png' %}" class="logo" />
          <ul class="unstyle">
              <li>
                  <img src="{% static 'aisondemand/images/customize/ais-how-to-walkthrough-01.png' %}" />
                  <h3>Welcome to AIS LearnDi</h3>
                  <h4>ระบบ Digital Learning บน Web และ Mobile เพิ่มศักยภาพ ต่อยอดความคิดแบบ On-the-Go เรียนได้ เรียนดี ทุกที่ ทุกเวลา</h4>
              </li>
              <li>
                  <img src="{% static 'aisondemand/images/customize/ais-how-to-walkthrough-02.png' %}" />
                  <h3>คอร์สออนไลน์ตามต้องการ</h3>
                  <h4>เรียนรู้ผ่าน VDO Ondemand ที่จัดเรียงไว้เป็นคอร์ส แบ่งตามหมวดหมู่ เรียนได้สะดวก ที่ไหนก็ได้ เมื่อไรก็ได้ ตามความต้องการ</h4>
              </li>
              <li>
                  <img src="{% static 'aisondemand/images/customize/ais-how-to-walkthrough-03.png' %}" />
                  <h3>ข้อสอบพร้อมผลคะแนน</h3>
                  <h4>ทำข้อสอบออนไลน์ วัดผลความเข้าใจ ทั้งรูปแบบ Multiple Choices และ Fill-in Information รู้ผลสอบแบบ Real-time</h4>
              </li>
              <li>
                  <img src="{% static 'aisondemand/images/customize/ais-how-to-walkthrough-04.png' %}" />
                  <h3>ความคืบหน้า ความสำเร็จ</h3>
                  <h4>แสดงความคืบหน้าของคอร์สแต่ละคอร์ส และผลการสอบที่ได้ไว้ในโปรไฟล์ส่วนตัว</h4>
              </li>
          </ul>
          <p class="btn-nav">
            <a href="#" class="btn-prev btn-inline btn-round btn-white-outline">Previous</a>
            <a href="#" class="btn-next btn-inline btn-round btn-white pull-right">Next</a>
          </p>
      </div>
</div>
