{% extends "base.html" %}
{% load humanize %}

{% block bodyclass %}has-left-menu{% endblock %}

{% block content %}
<ul class="box-wrapper">
    <h1>All <span class="main-color">Program{{ program_list|length|pluralize }}</span></h1>
    {% include "filter_block.html" with show_category=True show_institute=True show_popular=True %}
    {% for program in program_list %}
    {% include "program/item_block.html" %}
    {% empty %}
    <h4 class="no-item">No programs{% if provider %} provided by {{ provider }}{% endif %}.</h4>
    {% endfor %}
</ul>
{% endblock %}
