{% load i18n %}
{% load staticfiles %}
{% url 'home' as home_url %}
<header id="header">
  <ul class="unstyle">
    {% if PARENT_URL %}
    <li class="btn-back">
      <a href="{{ PARENT_URL }}" class="white"><i class="fa fa-arrow-left"></i></a>
    </li>
    {% else %}
    <li class="show-mobile">
      <a href="#" class="white open-side-menu"><i class="fa fa-bars"></i></a>
    </li>
    {% endif %}
    <li class="logo">
      <a href="{{ home_url }}"><img src="{% static logo_path|default:'mcdonalds/images/customize/logo-word-white.png' %}" /></a>
    </li>
  </ul>
  <ul class="unstyle pull-right">
    <li class="profile has-sub-menu hide-sm">
      <a href="#">
        {% if user.image %}<img src="{{ user.image.url }}" class="avatar" />
        {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
        {% endif %}<span class="white"> {{ user.get_display|truncatechars:25 }} <i class="fa fa-chevron-down"></i></span>
      </a>
      <ul class="unstyle sub-menu">
        <li><a href="{% url 'home' %}">{% trans "My Library" %}</a></li>
        <li><a href="{% url 'profile_info' %}">{% trans "Profile" %}</a></li>
        {% comment %}        
        <li><a href="/profile/password/change">{% trans "Change Password" %}</a></li>
        <li><a href="{% url 'term' %}">{% trans "Terms of Service" %}</a></li>
        {% endcomment %}
        <li><a href="{% url 'account:logout' %}">{% trans "Logout" %}</a></li>
      </ul>
    </li>
  </ul>
</header>
{% include "main/header_menu_mobile.html" %}
