{% load i18n %}
{% load staticfiles %}
<nav id="side-menu-wrapper">
    <ul class="unstyle main-side-menu">
        <li class="profile text-center">
            {% if user.is_authenticated %}
            <!-- <a href="/profile/edit"> -->
            <a>
      	        {% if user.image %}
      	        <img src="{{ user.image.url }}" class="avatar" />
      	        {% else %}
      	        <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
      	        {% endif %}
            	  <h5>{{user.first_name}} {{user.last_name}}</h5>
            </a>
            {% else %}
            <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-pacrim-square.png' %}" class="avatar" />
            <h4>ศูนย์การเรียนรู้แมคโดนัลด์</h4>
            {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">{% trans "My Library" %}</a></li>
        <li><a href="{% url 'profile_info' %}">{% trans "Profile" %}</a></li>
        {% else %}
        <li><a href="/login"><i class="icon icon-lock"></i>{% trans "Log In" %}</a></li>
        {% endif %}
        {% comment %}<li><a href="{% url 'term' %}">{% trans "Terms of Service" %}</a></li>{% endcomment %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'account:logout' %}">{% trans "Log Out" %}</a></li>
        {% endif %}
    </ul>
    <i class="fa fa-times font-30 close-side-menu"></i>
</nav>
