.bg-main-color{
	background-color: #ED1B23;
}
body{
	font-family: 'helvethaicaais';
	color: #333;
}
.login-content:before{
	background: #ED1B23;
}
.lc-block:not(.lcb-alt) .btn-login{
	background-color: #333;
}
#header{
	background-color: #ED1B23;
}
#header .logo a{
	width: 150px;
	height: 45px;
	margin-right: 20px;
	background-image: url('/static/com.pacrim.ondemand/images/customize/logo-pacrim-white.png');
}
#left-menu{
	background-color: #333;
}
.profile-menu .profile-info option{
  border: solid 1px #333;
  background-color: #333;
}
.main-menu > li > a:hover, .main-menu > li.active > a{
	background-color: #333;
}
.actions > li > a, .actions > a{
	color: #333;
}
.actions > li > a > i, .actions > a > i{
	color: #333;
}
.breadcrumb > .active{
	color: #333;
}
.main-menu > li.active > a{
	border-color: #ED1B23;
}
.assignment-steps li.active span strong, .assignment-steps li.active span:before, .assignment-steps li.active span:after {
  background-color: #ED1B23;
}
.start-select-item ul li a:hover {
	background-color: #ED1B23;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #ED1B23;
}
