@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/gotham-medium.eot');
  src: url('../fonts/gotham-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gotham-medium.ttf')  format('truetype'),
       url('../fonts/gotham-medium.svg#gotham-medium') format('svg');
}
@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/gotham-book.eot');
  src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gotham-book.ttf')  format('truetype'),
       url('../fonts/gotham-book.svg#gotham-medium') format('svg');
}
@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/gotham-light.eot');
  src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gotham-light.ttf')  format('truetype'),
       url('../fonts/gotham-light.svg#gotham-medium') format('svg');
}

/*-------------Override global.css-------------*/
.main-color, #Pacrim .content-name {
  color: #ED1B23 !important;
}
.btn-main-color{
  border: solid 2px #ED1B23;
  background-color: #ED1B23;
  color: #fff;
}
.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus{
  border: solid 2px #ED1B23;
  background-color: #fff;
  color: #ED1B23;
}
.text-inset-main-color{
  /*color: rgba(235,28,35, 0.4);
  text-shadow: 0px 1px 0px #ED1B23, 0 0 0 #000, 0px 0px 0px #ED1B23;*/
  color: #ED1B23;
}
.menu-tab li.active {
  border-bottom: 4px solid #ED1B23;
}
.menu-tab li.active a {
  color: #ED1B23;
}
.navmenu li>a:hover, .navmenu li>a.selected {
  border-bottom: 5px solid #ED1B23;
  color: #ED1B23;
}
.navmenu li>a.special {
  color: #ED1B23;
}
.navmenu li>a.special:hover {
  background-color: #ED1B23;
}
.panel-main {
  color: #fff;
  background-color: #ED1B23;
  border-color: #ED1B23;
}
.cta-social a:hover {
  color: #ED1B23;
}
.about-title h1 {
  color: #ED1B23;
}
.btn-wht-transparent:hover, .btn-blkwht-transparent:active, .btn-blkwht-transparent:focus {
  color: #ED1B23;
}
ul.section-submenu > li > i.fa-play-circle {
  color: #ED1B23;
}
ul.section-menu > h4 {
  color: #53B949;
}
ul.section-submenu > li > i.fa-check-circle {
  color: #53B949;
}
.progress{
  height: 11px;
  margin-top: 5px;
  background-color: #9facb5;
  box-shadow: inset 1px 1px 1px #999;
  border-radius: 50px;
}
.progress-bar{
  background-color: #8DC63F;
  box-shadow: inset 1px 1px 1px #999;
}
.wrap-bar-sm .bar-sm{
  background-color: #9facb5;
}
.curr-vdolist > li.vdolist-check > .round-box.green {
  background: #53B949;
}
.btn-play {
  border: 1px solid #ED1B23;
  background-color: #ED1B23;
}
.btn-play:hover, .btn-play:active, .btn-play:focus {
  color: #ED1B23;
}
.btn-skip {
  color: #f9bf3b;
  border-color: #f9bf3b;
}
.btn-skip:hover {
  background-color: #f9bf3b;
  border-color: #f9bf3b;
}
.curr-vdolist > li.vdolist-check > .round-box.yellow {
  background: #fec11e;
}
.static-price.price, .duration.price{
  display: none !important;
}
.btn-status-block{
  background-color: rgba(255,255,255,0.6);
}
.btn-status-block.completed{
  color: #8DC63F;
  border-color: #8DC63F;
}
.test-section .icon-type, .test-section .total-score{
  color: #8DC63F;
}



body#Pacrim{
  background-color: #fff;
  padding-top: 81px;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: 'gotham-medium';
}
#footer{
  background: #f5f5f5;
  border-top:1px #eee solid;
  padding: 15px 0;
}
#Pacrim.has-left-menu #content, #Pacrim.has-left-menu #footer {
    padding-left: 0;
}
#Pacrim #review, #Pacrim .rating{
  display: none;
}
/*==================Header=======================*/
#header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  padding: 0 160px 0 320px;
  border-top: solid 4px #ED1B23;
  background-color: #fff;
  box-shadow: 0 1px 2px #cbcbcb;
  z-index: 99;
}
.has-back-btn #header{
  padding: 0 160px 0 375px;
}
#header > ul{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 76px;
}
#header ul li{
  position: relative;
  display: inline-block;
  height: 100%;
}
#header ul li a{
  display: block;
  height: 100%;
  line-height: 78px;
  padding: 0 20px;
  text-align: center;
  float: left;
  color: rgba(0,0,0,0.55);
}
#header ul li.logo a{
  padding: 0 20px 0 40px;
}
.has-back-btn #header ul li.logo a{
  padding: 0 20px 0 10px;
}
#header ul li.logo img{
  max-height: 53px;
}
#header ul li.profile .avatar{
  width: 40px;
  height: 40px;
}
#header ul.pull-right{
  right: 0;
  left: auto;
  width: auto;
}
#header ul li ul.sub-menu{
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  height: auto;
  overflow-y: auto;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: 1px solid rgba(191,191,191,0.45);
}
#header ul li ul.sub-menu li{
  display: block;
  border: none;
}
#header ul li ul.sub-menu li a{
  float: none;
  line-height: 55px;
  text-align: left;
}
#header ul li ul.sub-menu li a:hover{
  background-color: #f4f4f4;
}
#header ul li.profile ul.sub-menu{
  width: 200px;
}
#header ul li.has-sub-menu:hover ul.sub-menu{
  display: block;
}
#header ul.pull-right li ul.sub-menu{
  right: -5px;
  left: auto;
}
#header ul li.show-mobile{
  display: none;
}
#side-menu-wrapper .main-side-menu .profile, #side-menu-wrapper .secondary-menu .secondary-menu-header{
  background-color: #ED1B23;
}

/*==================Login Page=======================*/
#login-page{
  background: url('../images/customize/bg-tree.jpg') no-repeat center center/cover;
}
#login-page:before{
  background-color: rgba(0,0,0,0.35);
}
#login-page .main{
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
#login-page .main input[type="email"], #login-page .main input[type="password"]{
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #fff !important;
  color: #333;
}
#login-page .main button[type="submit"]{
  box-shadow: 0 1px 2px #333;
}
#login-page footer{
  background-color: #f4f4f4;
  color: #aaa;
}

#Pacrim .bg-tree-blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1450px;
  overflow: hidden;
  z-index: 0;
}
#Pacrim.has-shelf .bg-tree-blur{
  height: 525px;
}
#Pacrim .bg-tree-blur:before, #Pacrim .bg-tree-blur:after{
  content: ' ';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 120%;
  height: 120%;
  background: url('../images/customize/bg-tree.jpg') no-repeat center center/cover;
  opacity: 0.3;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  z-index: 1;
}
#Pacrim .bg-tree-blur:after{
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  opacity: 0.8;
  z-index: 2;
}
#Pacrim.bg-tree-fix-full  .bg-tree-blur{
  position: fixed;
  height: 100%;
}
#Pacrim .bg-tree-blur .container{
  position: relative;
  text-shadow: 1px 1px 1px #000;
  z-index: 3;
}
#Pacrim .course-preview-img{
  padding: 20px 50px 0 50px;
}
#Pacrim .course-preview-img img{
  box-shadow: 0 0 10px #999;
}
 li.item-box{
  width: 200px;
  margin: 12px 12px 25px 12px;
  box-shadow: none;
}
li.item-box:hover img.cover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
li.item-box a.image:after {
  display: none;
}
li.item-box .detail{
  box-shadow: none;
}
#Pacrim li.item-box .detail .course-name{
  font-weight: normal;
  height: 44px;
  margin-bottom: 0;
}
#Pacrim .container-highlight{
  border-left: 4px solid #ED1B23;
}
#Pacrim .tutor-detail .box-wrapper{
  display: none;
}
#Pacrim .tutor-detail .wrap-headline{
  height: 500px;
}
#Pacrim .tutor-detail .quote{
  padding: 70px 20% 90px 20%;
}

.curr-vdolist > li.vdolist-name>.vdo-thumb{
  width: 70px;
}
.curr-vdolist > li.vdolist-name{
  padding: 0 120px 0 70px;
}
.curr-vdolist.purchased > li.vdolist-name{
  padding: 0 110px 0 145px;
}
.curr-vdolist.purchased > li.vdolist-name>.vdo-thumb{
  left: 55px;
}

/*==================Video Playlist=======================*/
.vdo-header{
	background: url('/static/com.pacrim.ondemand/images/customize/logo-pacrim.png') no-repeat #fff center center/ auto 80%;
	border-bottom: solid 1px #ddd;
}
.vdo-header img.logo{
	display:none;
}
.vdo-header .btn-back{
	color:#ED1B23;
}
.vdo-header .btn-back:hover,.vdo-header .btn-back:active,.vdo-header .btn-back:focus{
	background-color: rgba(0,0,0,0.1);
}
.vdo-header .user-name, .vdo-header .caret{
	color:#ED1B23 !important;
}

/*==================Question Section List=======================*/
body.question-section-list{
  background: url('../images/customize/bg-tree.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}
body.question-section-list:before{
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  z-index: 0;
}
.question-section-list .site-header{
  position: relative;
  background-color: transparent;
  border-top: solid 4px #ED1B23;
  z-index: 3;
}
.question-section-list .is-sticky .site-header, .site-main .is-sticky .entry-header{
  background-color: #ED1B23;
}
.site-main .is-sticky .entry-header > .step-action > h4{
  color: #fff;
}
.question-section-list .site-header .entry-header{
  color: #fff;
}
.question-section-list .site-header .time-count .count-box{
  color: #fff;
  background-color: transparent;;
  border: solid 2px #fff;
}
.question-section-list .site-main{
  position: relative;
  z-index: 3;
}
.question-section-list .btn.btn-primary {
  background-color: #8DC63F;
  border-color: #8DC63F;
}
.question-section-list .btn.btn-primary:hover, .question-section-list .btn.btn-primary:focus {
  color: #8DC63F;
  background-color: #fff;
}
.question-section-list .checkbox label.hover, .question-section-list .radio label.hover,
.question-section-list .site-main .content-area .entry-content a:not(.btn),
.question-section-list .sweet-alert .fa-clock-o {
  color: #8DC63F !important;
}
.question-section-list .site-main .content-area .entry-content a:not(.btn):hover,
.question-section-list .site-main .content-area .entry-content a:not(.btn):focus {
  border-color: #8DC63F !important;
}
.question-section-list .site-main .content-area .entry-content .form-group .btn-group .btn.btn-default:hover,
.question-section-list .site-main .content-area .entry-content .form-group .btn-group .btn.active:hover,
.question-section-list .site-main .content-area .entry-content .form-group .btn-group .btn.btn-default:focus,
.question-section-list .site-main .content-area .entry-content .form-group .btn-group .btn.active:focus,
.question-section-list .site-main .content-area .entry-content .form-group .btn-group .btn.active,
.question-section-list .sa-confirm-button-container button.confirm,
.question-section-list .dot1, .question-section-list .dot2 {
  background-color: #8DC63F !important;
}
.curr-vdolist.test-section-item.bg-main{
  background-color: #ED1B23;
}
.quiz-wrap{
  background-color: #f4f4f4;
}
/*=================Responsive=================*/
@media screen and (max-width: 1200px) /*ขนาดจอกว้างไม่เกิน 1200px*/{
  #Pacrim ul.box-wrapper{
    max-width: 942px;
  }
}
@media screen and (max-width: 992px) /*ขนาดจอกว้างไม่เกิน 992px*/{
  .has-left-menu #content{
    padding-left: 0;
  }
  .has-left-menu #header ul li.browse.has-sub-menu:hover ul.sub-menu{
    display: block;
  }
}
@media screen and (max-width: 942px) /*ขนาดจอกว้างไม่เกิน 1200px*/{
  #Pacrim ul.box-wrapper{
    max-width: 722px;
  }
}
@media screen and (min-width: 768px) /*ขนาดจอกว้างมากกว่า 768px ขึ้นไป*/{

}
@media screen and (max-width: 767px) /*ขนาดจอกว้างไม่เกิน 767px*/{
  body#Pacrim{
    padding-top: 58px;
  }
  #header{
    margin: 0 !important;
    padding: 0 !important;
    height: 57px;
  }
  #header > ul{
    height: 53px;
  }
  #header ul li:not(.btn-back){
    border: none !important;
  }
  #header ul li a{
    padding: 0 10px;
    line-height: 55px;
  }
  #header ul li.logo a{
    padding: 0 0 0 10px;
  }
  #header ul li.logo img{
    max-height: 35px;
  }
  #header ul li ul.sub-menu{
    top: 53px;
  }
  #header ul li.show-mobile, #header.open-search ul li.btn-close-search{
    display: inline-block;
  }
  #header.open-search ul li{
    display: none;
  }
  #header.open-search .search{
    display: block !important;
  }
  #Pacrim .bg-tree-blur{
    height: 100%;
  }
  #Pacrim.has-shelf .bg-tree-blur{
    height: 560px;
  }
  #Pacrim .curr-vdolist.purchased > li.vdolist-name{
    padding:0 85px 0 80px;
  }
  #Pacrim .curr-vdolist > li.vdolist-name>.vdo-thumb{
    width: 45px;
  }
}
@media screen and (max-width: 480px) /*ขนาดจอกว้างไม่เกิน 480px*/{

}
