{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>{{ provider.name }} Sub Provider Administrator</strong></h2>
        <ul class="actions">
            {% if perms.subprovider.change_subprovider%}
            <li>
                <a href="{% url 'dashboard:subprovider-dashboard:account_add' provider.id sub_provider.id %}">
                    <i class="zmdi zmdi-plus-circle"></i> Add New
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        {% if account_list|length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                	  <th>No.</th>
                    <th>Administrator Name</th>
                    <th>Email</th>
                    <th>Joined Date</th>
                    {# <th>Last Active</th> #}
                	  {% if perms.subprovider.change_subprovider %}
                	  <th>Delete</th>
                	  {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr class="text-center">
                	  <td>{{ forloop.counter }}</td>
                    <td>
                  	    {% if account.account.image %}
                  	    <img src="{{ account.account.image.url }}" />
                  	    {% endif %}
                  	    {{ account.account.first_name }} {{ account.account.last_name }}
                	  </td>
                    <td>{{ account.account.email }}</td>
                    <td>{{ account.account.date_joined|date:"j M Y" }}</td>
                    {# <td>{% if account.account.last_active %}{{ account.account.last_active|date:"j M Y" }}{% else %}-{% endif %}</td> #}
                	  {% if perms.subprovider.change_subprovider %}
                	  <td>
                	      <a href="{% url 'dashboard:subprovider-dashboard:account_delete' provider.id sub_provider.id account.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                		        <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                	      </a>
                	  </td>
                	  {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "dashboard/paginator.html" with content_list=account_list %}
        {% else %}
        <div class="no-item">No Sub Provider administrators.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
