{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Learning Center Sub Provider : Edit info</strong></h2>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %} {{ sub_provider_form|bootstrap }} {% if perms.subprovider.change_subprovider %}
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
