{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Learning Center Sub Provider Management</strong></h2>
        <ul class="actions">
            {% if perms.subprovider.add_subprovider %}
            <li>
                <a href="{% url 'dashboard:subprovider-dashboard:create' provider.id %}">
                    <i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Create New
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        {% if sub_provider_list|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  	<tr class="text-center">
                    	  <th>No.</th>
                    	  <th>Sub Provider Name</th>
                    	  <th>Created Date</th>
                    	  <th>Administrator</th>
                    	  <th>Edit Info</th>
                    	  {% if perms.subprovider.delete_subprovider %}
                    	  <th>Delete</th>
                    	  {% endif %}
                  	</tr>
                </thead>
                <tbody>
                  	{% for sub_provider in sub_provider_list %}
                  	<tr class="text-center">
                    	  <td>{{ forloop.counter }}</td>
                    	  <td>
                      	    {% if sub_provider.image %}
                      	    <img src="{{ sub_provider.image.url }}" />
                      	    {% endif %} {{ sub_provider.name }}
                    	  </td>
                        <td>{{ sub_provider.timestamp }}</td>
                    	  <td>
                      	    <a href="{% url 'dashboard:subprovider-dashboard:account' provider.id sub_provider.id %}">
                      	      {{ sub_provider.account_set.count }}
                      	    </a>
                    	  </td>
                    	  <td>
                      	    <a href="{% url 'dashboard:subprovider-dashboard:detail' provider.id sub_provider.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                      		      <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                      	    </a>
                    	  </td>
                    	  {% if perms.subprovider.delete_subprovider %}
                    	  <td>
                      	    <a href="{% url 'dashboard:subprovider-dashboard:delete' provider.id sub_provider.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                      		      <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                      	    </a>
                    	  </td>
                    	  {% endif %}
                  	</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="no-item">No sub providers.</div>
        {% endif %}
        {% include "dashboard/paginator.html" with content_list=sub_provider_list %}
    </div>
</div>
{% endblock %}
