<div class="form-group sub-provider" style="margin-left:0px;">
  <label for="id_sub_provider" class="col-sm-2 control-label">Sub Learning Center</label>
  <div class="col-sm-10">
    <div class="fg-line">
      <div class="select">
	<select class=" form-control" id="id_sub_provider" name="sub_provider">
	  <option value="-1">---------</option>
	  {% for sub_provider_item in sub_provider_list %}
	  <option value="{{ sub_provider_item.id }}" {% if sub_provider.id == sub_provider_item.id %}selected="selected"{% endif %}>{{ sub_provider_item.name }}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
  </div>
</div>
