{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/package.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
</div>
{% endblock %}
