{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load duration_tags %}
{% load content_tags %}

{% block css %}
<link rel="stylesheet" href="{% static "css/order.css" %}">
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<link rel="stylesheet" href="{% static "css/package.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/slick/slick-theme.css" %}">
<style>
#milestoneModal .modal-dialog {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  max-width: 800px;
  margin-top: 100px;
}
.todo-status {
overflow:hidden;
}
{% if order_item == None %}
.todo-item{
  padding-left:0px;
}
.todo-list:before, .todo-status{
  display:none;
}
{% endif %}
</style>
{% endblock %}

{% block script %}
<script src="{% static 'js/plugin/slick/slick.min.js' %}"></script>
<script type="text/javascript">
    function showDescription(name, desc){
        $('#milestone-name').html(name)
        $('#milestone-desc').html(desc)
        $('#milestoneModal').modal('show')
    }
</script>
{% endblock %}

{% block jquery %}
    modalWalkThrough('onboardWalkthroughModal',2);
    $('a[href="#lock"]').click(function(){
      swal({
          title: '{% trans "This item has dependency." %}',
          text: '{% trans "You have to finish period items." %}',
          type: "warning",
          customClass: "helvethaicaais",
          confirmButtonColor: "#ED1B23",
          confirmButtonText: "{% trans "OK" %}, {% trans "I got it" %}!"
      });
    });

    $('a[href="#expired"]').click(function(){
      swal({
          title: '{% trans "Expired" %}!',
          text: '{% trans "This program has expired." %}',
          type: "warning",
          customClass: "helvethaicaais",
          confirmButtonColor: "#ED1B23",
          confirmButtonText: "{% trans "OK" %}"
      });
    });
{% endblock %}

{% block bodyclass %}{% if program.type == 2 %}onboard{% endif %}{% endblock %}
{% block content %}
{% if program.type == 2 %}
<div class="welcome-onboard" style="display:none;">
  <div class="col-sm-9 col-md-10">
    <h3><b>Welcome to {{PROJECT|upper}} Onboard Program</b></h3>
  </div>
  <div class="col-sm-3 col-md-2 text-right">
    <a href="#" class="btn-open-walkthrough btn-inline btn-main-color top-margin-more-little">{% trans "Learn More" %}</a>
  </div>
</div>
{% endif %}
<div class="bg-white relative overflow-hidden">
  <div class="bg-tree-blur"></div>
  <div class="container container-stable content-info">
    <div class="row bottom-pad-15">
      {% if program.image %}
      <div class="col-sm-4 course-preview-img">
        <img src="{{ program.image.url }}" />
      </div>
      {% endif %}
      <div class="col-sm-8">
        <h1 class="bold font-small-xs content-name">{{ program.name }}</h1>

        {% include "category_provider_block.html" with content_s="program" content=program only %}
        {% include "rating/block.html" with type_s="program" show_rate_btn=True %}
        <hr />
        <!-- Swap Progress and buttons position -->
        {% if order_item != None %}
        <!-- Progress -->
        {% if progress %}
        <h4 class="top-margin-little bold">
          {% trans "Learning status" %} :
          <span class="{% if progress.status == 1 %}text-in-progress{% elif progress.status == 2 %}text-completed{% elif progress.status == 3 %}text-fail{% elif progress.status == 4 %}text-expired{% endif %} text-center">{{ progress.get_status_display }} <span>
              {% if progress.status == 2 %}<small class="red">({% trans "Contact" %} {% if program.provider %}{{ program.provider.name }}{% else %} {% trans "Learning Center" %} {% endif %})</small>{% endif %}
        </h4>
        <div class="row learning-status">
          <div class="col-xs-9 col-sm-8">
            <div class="progress rounded no-btm-margin">
              <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:{{ progress.percent }}%;">{% comment %}{{ progress.content_complete }}/{{ progress.content_count }}{% endcomment %}</div>
            </div>
          </div>
          <div class="col-xs-3 col-sm-4 {% if progress.content_complete == progress.content_count %}learning-completed{% endif %}">
            <h3 class="no-top-margin no-btm-margin program-completeness">{{ progress.content_complete }}/{{ progress.content_count }}</h3>
          </div>
        </div>
        <p>
          {% trans "You have completed" %} {{ progress.content_complete }} {% trans "of" %} {{ progress.content_count }} {% trans "items" %}.
        </p>
        {% endif %}
        <div class="row top-margin-little">
          <div class="col-sm-8">
            <ul class="course-status">
              <li class="col-xs-6">
                <p><strong class="uppercase"><i class="fa fa-calendar"></i> {% trans "Expired Date" %} :</strong></p>
                <h6>{{ order_item.api_expired_day.1 }}</h6>
              </li>
              <li class="col-xs-6">
                <p><strong class="uppercase"><i class="fa fa-clock-o"></i> {% trans "Time Left" %} :</strong></p>
                <h6>{{ order_item.time_left }}</h6>
              </li>
            </ul>
          </div>
        </div>
        {% else %}
        {% include "dependency/fragment/content_restriction.html" %}
        <div class="row top-margin-little">
          <div class="col-sm-8">
            <a data-toggle="modal" data-target="#enrollProgramModal" class="btn-block btn-main-color btn-lg pointer">{% trans "Enroll" %}</a>
          </div>
        </div>
        <div class="row top-margin-little">
          <div class="col-sm-8">
            <ul class="course-status">
              <li class="col-xs-6">
                <p><strong class="uppercase"><i class="fa fa-play-circle-o"></i> {% trans "Including" %} :</strong></p>
                {% if program.get_extra.count_course %}<h6>{{ program.get_extra.count_course }} {% trans "Course(s)" %}</h6>{% endif %}
                {% if program.get_extra.count_question %}<h6>{{ program.get_extra.count_question }} {% trans "Test(s)" %}</h6>{% endif %}
                {% if program.get_extra.count_task %}<h6>{{ program.get_extra.count_task }} {% trans "Task(s)" %}</h6>{% endif %}
              </li>
              <li class="col-xs-6">
                <p><strong class="uppercase"><i class="fa fa-clock-o"></i> {% trans "Expired Period" %} :</strong></p>
                <h6>{{ program.get_expired_display }}</h6> {# Do not change CIMB 2017-10-24 #}
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% block todo_lists %}
{% comment %}
{% if order_item != None %}
{% include "program/fragment/fragment_purchase_condition.html" %}
{% else %}
{% include "program/fragment/fragment_condition.html" %}
{% endif %}
{% endcomment %}

<!-- Can't use the fragment template above because we want to try the new style only in onboarding for now -->
<div class="container container-stable top-pad-20 no-pad-xs program-conditions">
  <!-- Use the same layout as the fragment_condition.html but adding an additional class "no-pad-xs"(line 135) and responsive-course-box" (line 136) to show all details in the same row instead of stack -->
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 no-pad-xs">
      <div class="panel">
        <div class="panel-body">
          <ul class="course-overview one-line row text-center">
            <li class="col-xs-4 col-sm-4">
              <h3>{{ item_progress.course_display }}</h3>
              <p class="uppercase">{% trans "Course" %}</p>
            </li>
            <li class="col-xs-4 col-sm-4">
              <h3>{{ item_progress.question_display }}</h3>
	      <p class="uppercase">{% trans "Test" %}</p>
	    </li>
	    <li class="col-xs-4 col-sm-4">
	      <h3>{{ item_progress.task_display }}</h3>
	      <p class="uppercase">{% trans "To-do" %}</p>
	    </li>
	  </ul>
	</div>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
  <!-- We need to separete this description from the condition above because of the new responsive layout -->
  {% comment %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <!-- Program Description -->
      <h4 class="top-pad"><b>{% trans "Program Overview" %}</b></h4>
      <p>{{ program.desc }}</p>
    </div>
  </div>
  {% endcomment %}
</div><!-- /.container -->

<!-- Todo List -->
<div class="container container-stable top-margin-little">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="todo-list">
    	{% for item in item_list %}
      	{% pull_content_type_tag item.content_type_id as content_type %}
      	{% get_content_type_name_tag content_type as content_type_name %}
        {% if item.url %}
        <div class="todo-item {% if item.is_dependency %}lock{% elif order_item == None %}{% elif item.progress.status == 2 %}completed{% elif item.progress.status == 3 %}fail{% endif %}">
          <div class="todo-status">
            {% if item.is_dependency %}
            <i class="fa fa-lock"></i>
            {% else %}
            {% if order_item != None %}
            {% if item.progress.status == 1 or item.progress.status == 4 %}
            {{ item.progress.percent|floatformat:"0" }}%
            {% elif item.progress.status == 2 %}
            <i class="fa fa-check"></i>
            {% elif item.progress.status == 3 %}
            <i class="fa fa-times"></i>
            {% elif item.progress.status == 5 %}
            <div style="background-color: #f9bf3b"><i class="fa fa-clock-o white"></i></div>
            {% endif %}
            {% else %}
            0%
            {% endif %}
            {% endif %}
          </div>
          <div class="todo-content">
            <a href="{% if progress.status == 4 %}#expired{% elif item.is_dependency %}#lock{% else %}{{ item.url }}{% endif %}" class="link-normal">
              {% if item.content_object.image %}
              <div class="todo-thumb" style="background-image: url('{{ item.content_object.image.url }}')"></div>
              {% else %}
              <div class="todo-thumb"></div>
              {% endif %}
              <h4>{{ item.content_object.name }}</h4>
              <div class="main-color"><i class="fa {{ item.icon_class }}"></i> {{ content_type_name|capfirst }}</div>
            </a>
            {% include "category_provider_block.html" with content_s="program" content=item.content_object only %}
          </div>
        </div>
        {% else %}
        <a href="#" onclick="showDescription('{{ item.content_object.name|linebreaksbr }}', '{{ item.content_object.desc|linebreaksbr }}')" class="todo-item milestone" data-toggle="modal">
          <div class="todo-status"><i class="fa fa-flag"></i></div>
          <div class="todo-content">
            <h4 class="blue no-top-margin">{{ item.content_object.name }}</h4>
            <p class="clear-pad">{{ content_type_name|capfirst }}</p>
          </div>
        </a>
        {% endif %}
        {% endfor %}

      </div><!-- /.todo-list -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container container-stable top-margin-little">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      {% if program.desc|length > 0 %}
      <br />
      <h3 class="main-color bold">
        {% if program.type == 2 %}
          {% trans "About Onboard" %}
        {% elif program.type != 2%}
          {% trans "About Program" %}
        {% endif %}
      </h3>
      <p>{{program.desc}}</p>
      {% endif %}
      {% if program.condition|length > 0 %}
      <br />
      <h3 class="main-color bold">
        {% if program.type == 2 %}
          {% trans "Onboard Instruction" %}
        {% elif program.type != 2%}
          {% trans "Program Instruction" %}
        {% endif %}
      </h3>
      <p>{{program.condition}}</p>
      {% endif %}
      {% if order_item != None %}
      <hr />
      <p>{% trans "Adding date" %} : {% if order_item.start %}{{ order_item.start.date }}{% else %}-{% endif %}</p>
      <p>{% trans "Adding method" %} : {% if order_item.order.method == 21 %}{% trans "Assignment" %}{% else %}{% trans "Self Enrollment" %}{% endif %}</p>
      {% endif %}
      <hr />
      {% if program.type == 2 %}
      {% include "rating/review.html" with type=program type_s="onboard" %}
      {% elif program.type != 2%}
      {% include "rating/review.html" with type=program type_s="program" %}
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="milestoneModal" tabindex="-1">
  <div class="modal-dialog modal-bs">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="main-color no-top-margin" id="milestone-name"></h3>
        <p class="top-margin-little" id="milestone-desc"></p>
        <div class="row top-pad">
          <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <div class="text-center">
              <button type="button" class="btn-block btn-main-color" data-dismiss="modal">{% trans "OK" %}</button>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="enrollProgramModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
          <h3>Enroll</h3>
          <p style="border-top:1px solid #eee; padding-top:15px;">Do you want to add this program ?</p>
          {% if user.is_authenticated %}
           {% if not is_dependency %}
          <a href="{% url 'program:buy' program.id %}" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
           {% endif %}
           {% else %}
          <a onclick="openLoginModal('');" data-toggle="modal" class="btn-block btn-main-color btn-lg">{% trans "Enroll" %}</a>
          {% endif %}
      </div>
  </div>
</div>
{% comment %}
<!-- Course/Test Tabs  -->
<div class="container-fluid">
  <!-- Menu -->
  <div class="menu-tab">
    <ul class="nav nav-pills nav-center">
      <li class="active">
      	<a href="#lessonTab" data-toggle="tab">
      	  <p class="counter clear-pad">{{ count_course }}</p><p class="clear-pad">{% trans "Course(s)" %}</p>
      	</a>
      </li>
      <li>
      	<a href="#quizTab" data-toggle="tab">
      	  <p class="counter clear-pad">{{ count_question }}</p><p class="clear-pad">{% trans "Test(s)" %}</p>
      	</a>
      </li>
    </ul>
  </div>
</div>
<!-- No Purchase -->
{% if order_item != None %}
{% include "program/fragment/program_progress_item.html" %}
{% else %}background-color: #f9bf3b
{% include "program/fragment/program_item.html" %}
{% endif %}
{% endcomment %}

{% include 'main/modal/modal_onboard_walkthrough.html' %}
{% endblock %}

<!-- Content restriction -->
{% include "access/modal/content_level.html" %}
{% include "dependency/modal/content_list.html" %}
{% include "dependency/modal/restriction.html" %}
{%if program.type == 2%}
{% include "main/modal/modal_rate_content.html" with type=program  type_s="onboard" %}
{% elif program.type != 2%}
{% include "main/modal/modal_rate_content.html" with type=program  type_s="program" %}
{%endif%}
{% endblock %}
