{% load static %}
{% load humanize %}

<li class="item-box">
  <a href="{% url 'program:detail' program.id %}" class="image">
    {% if program.image %}
    <img class="cover" src="{{ program.image.url }}" />
    {% else %}
    <img class="cover" src="{% static "images/sample_course.jpg" %}" />
    {% endif %}
  </a>
  <div class="detail">
    <a href="{% url 'program:detail' program.id %}" class="course-name">{{ program.name }}</a>
    <div class="category main-color">{% if program.category %}{{ program.category.name }} {% endif %}</div>
    {% include "rating/block.html" with rating=program.rating type_s="program" show_rate_btn=False %}
  </div>
  <div class="instructor">
    {% if program.provider %}
    {% if program.provider.image %}
    <a href="{% url 'provider:detail' program.provider.id %}" class="square">
      <img src="{{ program.provider.image.url }}" />
    </a><br />
    {% endif %}
    <span>{{ program.provider.name }}</span>
    {% endif %}
    {% if program.get_extra.count_course > 0 %}<br />{{ program.get_extra.count_course }} Course{{ program.get_extra.count_course|pluralize }}{% endif %}
    {% if program.get_extra.count_question > 0 %}<br />{{ program.get_extra.count_question }} Test{{ program.get_extra.count_question|pluralize }}{% endif %}
    {% if program.get_extra.count_task > 0 %}<br />{{ program.get_extra.count_task }} TODO{{ program.get_extra.count_task|pluralize }}{% endif %}
  </div>
  <a href="{% url 'program:detail' program.id %}"><i class="fa fa-th type-icon"></i></a>
</li>
