{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
<link href="{% static "css/mpay.css" %}" rel="stylesheet">
{% endblock %}
{% block footer %}{% endblock %}
{% block footerscript %}
<script src="{% static "js/mpay.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="featured-title">
  </div>
</div>
<div class="container clearfix">
  <div class="card-box">
    <h2>รหัสโปรโมชั่น</h2>
    <hr><br>
    {% if result != None %}
    <div class="alert alert-danger" role="alert">{{ result }}</div>
    {% endif %}
    <p id="error-message" class="red"></p>
    <div class="row" style="margin-bottom:20px;">
    <div class="col-lg-3">
     <div class="input-group">
       กรอกรหัสโปรโมชั่น :
     </div><!-- /input-group -->
   </div><!-- /.col-lg-6 -->
   <div class="col-lg-9">
     <form id="request-submit"  aciton="" method="post">{% csrf_token %}
       <div class="input-group">
         <input type="text" name="code" class="form-control" placeholder="" required>
         <span class="input-group-btn">
           <button class="btn btn-default" type="submit">ดำเนินการ</button>
         </span>
       </div><!-- /input-group -->
     </form>
   </div><!-- /.col-lg-6 -->
 </div><!-- /.row -->
</div>
<br>
</div>
{% endblock %}
