{% load i18n %}
<div class="container-fluid bg-grey bottom-pad top-pad">
  <div class="container clearfix">
    <div class="row top-margin-little">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
      	<h4 class="top-pad"><b>{% trans "Program Conditions" %}</b></h4>
      	<div class="panel panel-default">
          <div class="panel-body">
            <ul class="course-overview row">
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Course in this program" %}</p>
                <h3 class="red text-center">
                  {{ count_course }}
                </h3>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Test in this program" %}</p>
                <h3 class="red text-center">
                  {{ count_question }}
                </h3>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Learning Credit" %}</p>
                <h3 class="red text-center">
        	  {% if activity.expired %}
        	  {{ activity.expired.days }} {% trans "Day(s)" %}
        	  {% else %}
        	  -
        	  {% endif %}
                </h3>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Learning Period" %}</p>
                <h3 class="red text-center">
        	  {% if activity.expired %}
        	  {{ activity.expired.days }} {% trans "Day(s)" %}
        	  {% else %}
        	  -
        	  {% endif %}
                </h3>
                {% if order_item and program.item.expired.total_seconds %}
                <div class="course-overview-alert center-block">
                  {% trans "Due date" %}: 30 Apr 2018
                </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
	<h4 class="top-pad"><b>{% trans "Program Description" %}</b></h4>
	<p>{{ program.desc }}</p>
      </div>
    </div>
  </div>
</div>
