{% load i18n %}
{% load duration_tags %}
<div class="container-fluid bg-grey bottom-pad top-pad">
  <div class="container clearfix">

  	<div class="row top-margin-little">
      <div class="col-sm-12 col-md-10 col-md-offset-1">

      	<!-- Program Conditions -->
      	<h4 class="top-pad"><b>{% trans "Program Conditions" %}</b></h4>

      	<div class="panel panel-default">
          <div class="panel-body">
            <ul class="course-overview row">
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Start Date" %}</p>
                <h4 class="red text-center">
                  {% if item.start.date %}{{ item.start.date }}{% else %}{% trans "Not Started" %}{% endif%}
                </h4>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Content Length" %}</p>
                <h4 class="red text-center">
                  {{ item.total_duration|duration_tag }}
                </h4>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Learning Time" %}</p>
                <h4 class="red text-center">
        				{{ item.use_credit_hour }} {% trans "Hrs." %}
                </h4>
              </li>
              <li class="col-xs-12 col-sm-3">
                <p class="text-center">{% trans "Learning Period" %}</p>
                <h4 class="red text-center">
                  {% comment %}
        					{% if item.expired.total_seconds > 0 %}
        						{{ item.expired_day }}.
        					{% else %}
        					  -
        					{% endif %}
                  {% endcomment %}
                </h4>
                {% if item.expired_date %}
                <div class="course-overview-alert center-block">
                  {% trans "Due date" %}: {{item.expired_date|date:"d M Y"}}
                </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>

        <!-- Program Description -->
	    <h4 class="top-pad"><b>{% trans "Program Description" %}</b></h4>
	    <p>{{program.desc}}</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- ./container-fluid -->
