{% load i18n %}
<div class="container top-pad">
  <div class="tab-content text-center">
    <div class="tab-pane fade in active" id="lessonTab">
      <div class="scroller">
        <div class="scroller-mask-event">
          <ul class="scroller-list">
            {% for course in course_list %}
            {% include "course/item_cached.html" %}
            {% empty %}
            <li class="empty-list">{% trans "No courses." %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="quizTab">
      <div class="scroller">
        <div class="scroller-mask-event">
          <ul class="scroller-list">
            {% for question in question_list %}
            {% include "question/item.html" %}
            {% empty %}
	    <li class="empty-list">{% trans "No tests." %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
