
<div class="container no-pad-xs about top-pad bottom-pad">
    <!-- About Info -->
    <section class="striped">
        <div class="inner">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="about-title">
                        <h3 class="no-btm-margin">CIMB Thai</h3>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <blockquote>
                        <p>โลกกำลังเปลี่ยนแปลงอย่างรวดเร็ว เข้าสู่ยุคดิจิทัล ยุคที่ความเจริญด้านการสื่อสารและเทคโนโลยีต่างๆ เข้ามามีบทบาทในชีวิตประจำวัน มีผลให้รูปแบบการ ใช้ชีวิต การเข้าถึงข้อมูล และความต้องการของผู้คน เปลี่ยนไป</p>
                        <p>ชีวิตที่สะดวกสบายขึ้น สามารถติดต่อสื่อสารกันได้ทุกที่ทุกเวลา ทำให้ความสัมพันธ์ของผู้คนเข้าใกล้กันง่ายแค่เพียงปลายนิ้วสัมผัส เมื่อโลกถูกเชื่อมต่อให้เข้าใกล้กันมากขึ้น ได้เห็นและ อัพเดทข้อมูลต่างๆ ของนานาประเทศเสมือนโลกที่ถูกย่อให้เล็กลงและเป็นโลกที่ทุกอย่าง รวดเร็ว จนเข้าใกล้คำว่า “ทันที” เป็นโลกที่เมื่อเรารู้ตัวอีกทีวันนี้ ก็กลายเป็นเมื่อวาน</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
</div>
