{% extends "base.html" %}
{% load static %}
{% block meta_facebook %}
  <meta property="og:site_name" content="CIMB THAI LMS"/>
  <meta property="og:title" content="CIMB THAI LMS" />
  <meta property="og:description" content="ระบบ Digital Learning บน Web และ Mobile"/>
  <meta property="og:image" content="{% static "cimb/images/customize/shared.png" %}"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="CIMB THAI LMS">
  <link rel="apple-touch-icon" href="{% static "cimb/images/customize/shared.png" %}">
{% endblock %}
{% block meta_twitter %}
{% endblock %}
{% block project_identity %}
<meta name="author" content="CONICLE">
<title>CIMB THAI LMS</title>
<link rel="shortcut icon" href="{% static "cimb/images/customize/favicon.ico" %}">
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "cimb/css/theme.css" %}">
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}CIMB{% endblock %}

{% block bodyclass %}
{% if IS_WEBVIEW %}clear-pad{% endif %}
{% endblock %}

{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
{% if not IS_WEBVIEW %}
<div id="footer" class="container-fluid top-pad text-center grey">
  Copyright <i class="fa fa-copyright"></i> {% now "Y" %} CIMB Thai Bank PLC. All Rights Reserved.
</div>
{% endif %}
{% endblock %}

{% block modal %}
{% if not user.is_authenticated %}
{% include "main/modal/modal_authen.html" %}
{% endif %}
{% include "main/modal/modal_strict.html" %}
{% endblock %}
