{% load i18n %}
{% load duration_tags %}
<div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="course-overview text-center row">
                        {% if score_item is not None %}
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Total Score" %}</p>
                            <h4 class="main-color">{{ score_item.max_score }}</h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Pass Score" %}</p>
                            <h4 class="main-color">
                              {% if score_item.pass_score > 0 %}
                                {{ score_item.pass_score }}
                              {% else %}-{% endif %}
                            </h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Test Time (min)" %}</p>
                            <h4 class="main-color">{{ activity.time_limit.total_seconds|secondtomin|check_unlimited }}</h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Number of Test" %}</p>
                            <h4 class="main-color">
                            {% if activity.max_submit == 0 %}
                            {% trans "Unlimited" %}
                            {% else %}
                              {% if score_item %}
                                {{ score_item.submit_number }}/{{ activity.max_submit }}
                              {% else %}
                                {{ activity.max_submit }}
                              {% endif %}
                            {% endif %}
                            </h4>
                        </li>
                        {% else %}
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Total Score" %}</p>
                            <h4 class="main-color">{{ activity.max_score }}</h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Pass Score" %}</p>
                            <h4 class="main-color">
                              {% if activity.pass_score > 0 %}{{ activity.pass_score }}
                              {% else %}-{% endif %}
                        </h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Test Time (min)" %}</p>
                            <h4 class="main-color">{{ activity.time_limit.total_seconds|secondtomin|check_unlimited }}</h4>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <p>{% trans "Number of Test" %}</p>
                            <h4 class="main-color">
                              {% if activity.max_submit == 0 %}
                                {% trans "Unlimited" %}
                              {% else %}
                                {% if score_item %}
                                  {{ score_item.submit_number }}/{{ activity.max_submit }}
                                {% else %}
                                  0/{{ activity.max_submit }}
                                {% endif %}
                                {# fix same mobile 2017-10-09 #}
                                {% comment %}
                                {% if score_item %}
                                  {{ score_item.submit_number }}/{{ activity.max_submit }}
                                {% else %}
                                  {{ activity.max_submit }}
                                {% endif %}
                                {% endcomment %}
                              {% endif %}
                            </h4>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
