{% load i18n %}
<div class="modal fade" id="addTestToLibraryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                <h4 class="text-center">{% trans "Do you want to add this test to your library?" %}</h4>
                <br />
                <a href="#" class="btn-block btn-grey" data-dismiss="modal">{% trans "Cancel" %}</a>
                <a href="{% url 'question:buy' activity.id %}" class="btn-block btn-main-color">{% trans "Enroll" %}</a>
            </div>
        </div>
    </div>
</div>
