<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <div class="wrap-cat-menu">
    <div class="cat-menu">
      <div class="default-menu">
        <h4><a href="{% url 'course:home' %}?type=featured" {% if type == "featured" %}class="selected"{% endif %}><i class="fa fa-heart"></i> คอร์สยอดนิยม</a></h4>
        <h4><a href="{% url 'course:home' %}?type=new" {% if type == "new" %}class="selected"{% endif %}><i class="fa fa-star"></i> คอร์สใหม่</a></h4>
        <h4><a href="{% url 'course:home' %}?type=free" {% if type == "free" %}class="selected"{% endif %}><i class="fa fa-rocket"></i> คอร์สฟรี</a></h4>
        {% if PLATFORM_ID == 3 %}
        <h4><a href="{% url 'course:home' %}?type=tricks" {% if type == "tricks" %}class="selected"{% endif %}><i class="fa fa-rocket"></i> คณิตคิดเลขเร็ว</a></h4>
        {% else %}
        <h4><a style="font-size:16px;" href="{% url 'provider:home' %}" target="_blank"><i class="fa fa-graduation-cap"></i> จากสถาบัน</a></h4>
        {% endif %}
      </div>
      {% comment %}
      <div class="dynamic-menu">
        <h4>คอร์สตามระดับชั้น</h4>
        {% for course_menu in course_menu_level %}
        <div class="dynamic-list">
          <div class="expand">
            <p><a href="{% url 'course:home' %}?menu=level&level={{ course_menu.level.id }}">
             {% if menu == "level" and level.id == course_menu.level.id %}!!{% endif %} {{ course_menu.level.name }}
            </a></p>
            {% if course_menu.subject_list %}
            <div class="dynamic-sublist-box  hidden-xs">
              <ul class="dynamic-sublist ">
                {% for subject in course_menu.subject_list %}
                <li><a href="{% url 'course:home' %}?menu=level&level={{ course_menu.level.id }}&subject={{ subject.id }}"><span>{{ subject.name }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endcomment %}
      <div class="dynamic-menu">
        <h4>คอร์สตามรายวิชา</h4>
        {% for course_menu in course_menu_subject %}
        <div class="dynamic-list">
          <div class="expand {% if course_menu.subject.id == subject.id %}active{% endif %}">
            <p>
              <a href="{% url 'course:home' %}?menu=subject&subject={{ course_menu.subject.id }}">
               {{ course_menu.subject.name }}
             </a>
            </p>
            {% comment %}
            {% if course_menu.level_list %}
              <div class="dynamic-sublist-box">
                <ul class="dynamic-sublist">
                  {% for level in course_menu.level_list %}
                  <li><a href="{% url 'course:home' %}?menu=subject&subject={{ course_menu.subject.id }}&level={{ level.id }}"><span>{{ level.name }}</span></a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% endcomment %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div><!--cat-menu-->
  </div><!--wrap-cat-menu-->
</div><!--col-xs-2-->
