{% load i18n %}
{% if score_list|length > 0 %}
<div class="container container-stable top-pad">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h3 class="main-color bold clear-pad">{% trans "Test Result" %}</h3>
        </div>
    </div>
</div>

<div class="container container-stable top-margin-little no-pad-xs">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="full-width text-center">
            <thead>
              <tr>
                <th>{% trans "Round" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Score" %}</th>
                <th>{% trans "Result" %}</th>
                {%if activity.is_show_answer %}
                  <th >{% trans "See Answer" %}</th>
                {%endif %}
              </tr>
            </thead>
            <tbody>
              {% for score_item in score_list %}
              <tr>
                <td>#{{ score_item.submit_number }}</td>
                <td>{{ score_item.timestamp }}</td>
                <td>{{ score_item.score }}/{{ score_item.max_score }}</td>
                <td class="{% if score_item.status == 3 %}text-fail{% elif score_item.status == 5 %}text-in-progress{% elif score_item.status == 2 %}text-completed{% endif %}">{{ score_item.get_status_display }}</td>
                {%if activity.is_show_answer %}
                    {% if program and course %}
                    <td><a class="btn-inline btn-main-color" href="{% url 'question:answer_program_course' activity.id program.id course.id material.id score_item.id %}" ><i class="fa fa-eye"></i></a>  </td>
                    {% elif program %}
                    <td><a class="btn-inline btn-main-color" href="{% url 'question:answer_program' activity.id program.id score_item.id %}" ><i class="fa fa-eye"></i></a>  </td>
                    {% elif course %}
                    <td><a class="btn-inline btn-main-color" href="{% url 'question:answer_course' activity.id course.id material.id score_item.id %}" ><i class="fa fa-eye"></i></a>  </td>
                    {% else %}
                    <td><a class="btn-inline btn-main-color" href="{% url 'question:answer' activity.id score_item.id %}" ><i class="fa fa-eye"></i></a>  </td>
                    {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
