<div class="fg-line">
  <div class="select">
    <select class="form-control" name="provider">
      <option value="-1">All Learning Center</option>
      {% for provider in provider_list %}
      <option value="{{ provider.id }}" {% if provider.id == q_provider %}selected{% endif %}>{{ provider.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>
