<div class="fg-line">
  <div class="select">
    {% if use_subject %}
    <select class="form-control" name="subject">
      <option value="-1">All Categories</option>
      {% for subject in subject_list %}
      <option value="{{ subject.id }}" {% if subject.id == q_subject %}selected{% endif %}>{{ subject.name }}</option>
      {% endfor %}
    </select>
    {% else %}
    <select class="form-control" name="category">
      <option value="-1">All Categories</option>
      {% for category in category_list %}
      <option value="{{ category.id }}" {% if category.id == q_category %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
</div>
