{% extends "home.html" %}
{% load staticfiles %}
{% block howto %}
  <img src="{% static logo_path|default:'cbsibo/images/customize/logo-footer.png' %}" />
  <h5>โลกกำลังเปลี่ยนแปลงอย่างรวดเร็ว เข้าสู่ยุคดิจิทัล ยุคที่ความเจริญด้านการสื่อสารและเทคโนโลยีต่างๆ เข้ามามีบทบาทในชีวิตประจำวัน มีผลให้รูปแบบการ ใช้ชีวิต การเข้าถึงข้อมูล และความต้องการของผู้คนเปลี่ยนไป ชีวิตที่สะดวกสบายขึ้น สามารถติดต่อสื่อสารกันได้ทุกที่ทุกเวลา ทำให้ความสัมพันธ์ของผู้คนเข้าใกล้กันง่ายแค่เพียงปลายนิ้วสัมผัส</h5>
  <a href="#" class="btn-open-walkthrough btn-inline btn-round btn-main-color-outline">Learn More</a>
{% endblock %}
