{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% block content %}
<!--account/dashboard/add.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Learner : Add a new learner</strong></h2>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ account_form|bootstrap_horizontal }}
            {% if account.last_deactivate > date %}
              <div class="alert alert-danger">
                  <span>เนื่องจากบัญชีนี้เคยยกเลิกการใช้งานมาแล้ว คุณสามารถเข้าใช้งานใหม่ได้อีกครั้งในวันที่ {{ account.last_deactivate }}</span>
              </div>
            {% elif not account.last_deactivate and not account.is_active and amount_is_active >= limit_user  %}
              <div class="alert alert-danger">
                  <span>เนื่องจากมีบัญชีที่มีการเปิดให้ใช้งานเท่ากับจำนวนสูงสุดที่ระบบกำหนดให้ จึงไม่สามารถเปิดการใช้งานให้กับบัญชีดังกล่าวได้</span>
              </div>
            {% elif account.last_deactivate <= date and not account.is_active and amount_is_active >= limit_user %}
                <div class="alert alert-danger">
                  <span>เนื่องจากมีบัญชีที่มีการเปิดให้ใช้งานเท่ากับจำนวนสูงสุดที่ระบบกำหนดให้ จึงไม่สามารถเปิดการใช้งานให้กับบัญชีดังกล่าวได้</span>
                </div>
            {% endif %}
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
        </form>
    </div>
</div>
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}

{% block jquery %}
    {#$('[name=is_active').attr('disabled',true)#}
{% endblock %}
