{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load department_tags %}
{% block jquery %}
    $('#q_department').change(function(){
        $('#filter').submit();
    });
    $('#q_level').change(function(){
        $('#filter').submit();
    });
{% endblock %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card" style="margin-bottom:0;">
    <div class="card-header ch-alt">
        <h2><strong>Learner : {{ account.first_name }} {{ account.last_name }}</strong></h2>
        <ul class="actions">
          {% if perms.account.add_account %}
          <li>
            <a href="{% url 'dashboard:account-dashboard:edit' account.id %}">
              <i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit
            </a>
          </li>
          {% endif %}
        </ul>

    </div>
</div>
<div id="profile-main" class="card">
    <div class="pm-overview c-overflow">
        <div class="pmo-pic">
            <div class="p-relative">
                <img class="img-responsive" src="{% if account.image %}{{ account.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" />
            </div>
        </div>
    </div>
    <div class="pm-body clearfix">
        {% comment %}
        <ul class="tab-nav tn-justified">
            <li class="active waves-effect"><a href="profile-about.html">About</a></li>
            <li class="waves-effect"><a href="profile-timeline.html">Timeline</a></li>
            <li class="waves-effect"><a href="profile-photos.html">Photos</a></li>
            <li class="waves-effect"><a href="profile-connections.html">Connections</a></li>
        </ul>
        {% endcomment %}
        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>Full Name</dt>
                        <dd>{{ account.get_display }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Email</dt>
                        <dd>{{ account.email }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Gender</dt>
                        <dd>{{ account.get_gender }}</dd>
                    </dl>
                    {% comment %}
                    <dl class="dl-horizontal">
                        <dt>Role</dt>
                        {% for group in request.user.groups.all %}
                        <dd>{{ group.name }}</dd>
                        {% endfor %}
                    </dl>
                    {% endcomment %}
                    <dl class="dl-horizontal">
                        <dt>Position</dt>
                        {% for department_member in department_member_list %}
                        <dd>{{ department_member.department|capfirst }} {{ department_member.position }}</dd>
                        {% empty %}
                        <dd>-</dd>
                        {% endfor %}
                    </dl>
                    {% if account_info %}
                    <dl class="dl-horizontal">
                        <dt>Username</dt>
                        <dd>@{{ account_info.username }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Job code</dt>
                        <dd>{{ account_info.job_code }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Employee Id</dt>
                        <dd>{{ account_info.employee }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Hire date</dt>
                        <dd>{{ account_info.hire_date }}</dd>
                    </dl>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
