{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "category/dashboard/head.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal thai" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ account_form|bootstrap }}
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
      </div>
    </form>
  </div>
</div>
{% include "main/modal/modal_crop_image_dashboard.html" %}
{% endblock %}
