{% extends "dashboard/base.html" %}
{% load static %}
{% load department_tags %}

{% block script %}
    <script src="{% static 'resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
$('#q_department, #q_level').change(function(){
    $('.filter_department').submit();
});

{% if PROJECT != 'cimb' %}
var r = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'account' %}',
    simultaneousUploads: 1,
    maxFiles: 1
});

r.assignBrowse(document.getElementsByClassName('resumable'));
r.on('fileAdded', function(file, event){
    $('#upload-progress').show();
    r.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
});
r.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
});
r.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    checkAlert();
});

$('#uploadExcelFile').click(function() {
  $("#dropdownMenu").click();
});

$('#downloadExcelFile').click(function() {
  $("#dropdownMenu").click();
});

var alert_id = null;
{% if alert %}
var alertInterval = setInterval(checkAlert, 10000);
{% else %}
var alertInterval = null;
{% endif %}
function checkAlert() {
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'account' 0 %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alert_id == null && result.status == 1){
	    alert_id = result.id
	}else if(result.id == alert_id && result.status == 2){
	    location.reload();
	}
    });
}
{% endif %}
{% endblock %}

{% block content %}
<div id="preLoader" class="preloader pls-gray w30" style="float: right; display:none;">
  <svg class="pl-circular" viewBox="25 25 50 50">
    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
  </svg>
</div>

<div id="upload-progress" class="progress progress-striped m-b-10" style="display:none">
  <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>

{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% comment %}
  <div class="exportReportDiv inline">
    <button id="exportReport" class="exportReportDashboard"><i class="zmdi zmdi-download zmdi-hc-fw"></i> Export Report</button>
    <div id="preLoader" class="preloader pls-gray" style="display:none;">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
      </svg>
    </div>
  </div>
  {% endcomment %}
  <div class="card-header ch-alt">
    <h2><strong>Learner Management</strong>{% if IS_LIMIT_ACTIVE %} : Limit Active User {{ active_amount }}/{{ limit_active }}{% endif %}</h2>
    {# <a href="#f" class="resumable btn bgm-deeppurple btn-sm waves-effect"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a> #}
    {% if perms.account.add_account %}
    <ul class="actions">
        <li class="dropdown" id="dropdownMenu">
            {% if PROJECT != 'cimb' %}
            <a href="#" data-toggle="dropdown">
                <i class="zmdi zmdi-plus-circle"></i> Add more learners
            </a>
            {% endif %}
            <a href="{% url 'dashboard:active:report' %}">
                <i class="zmdi zmdi-file"></i>
                Active Report
            </a>
            {% if PROJECT != 'cimb' %}
            <ul class="dropdown-menu dm-icon pull-right">
                <li>
                    <a href="{% url 'dashboard:account-dashboard:add' %}">
                        <i class="zmdi zmdi-plus-circle"></i> Add New Learner
                    </a>
                </li>
                <li style="height:34px;">
                    <a href="#f" class="resumable" id="uploadExcelFile">
                        <i class="zmdi zmdi-upload"></i>
                        <label for="importLearnersFile" class="pointer" style="margin-bottom:0px;">Import File (*.xls, *.xlsx, *.csv)</label>
                    </a>
                </li>
                <li>
                    <a href="{% static 'example/account.xls' %}" id="downloadExcelFile">
                        <i class="zmdi zmdi-file-text"></i> Download Example Excel File
                    </a>
                </li>
            </ul>
            {% endif %}
        </li>
    </ul>
      {% endif %}
  </div>
  <div class="card-body card-padding">
    {% include "content/dashboard/filter2_block.html" %}
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>No.</th>
                <th>Photo</th>
                <th>Employee ID</th>
                <th>Name <br/><small><i>Department <br/>(Position)</i></small></th>
                {% comment %}
                <th>First Name</th>
                <th>Last Name</th>
                {% endcomment %}
                <th>Email</th>
                {# <th>Department (Position)</th> #}
                <th>Status</th>
                {% if is_enable %}
                <th>Disabled</th>
                {%endif%}
                {% comment %}
                {% if is_force_password %}
                <th>Force Status</th>
                {% endif %}
                {% endcomment %}
                {% if IS_LIMIT_ACTIVE %}
                <th>Active again</th>
                {% endif %}
                <th>Detail</th>
                {% if is_force_password %}
                <th>Force<br/>Update<br/>Password</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for account in account_list %}
            <tr class="{{ account.is_active|yesno:" ,text-inactive" }}">
            <td>
                {% if account.is_active is True %}
                {{ forloop.counter0|add:account_list.start_index }}
                {% endif %}
            </td>
            <td>
                {% if account.image %}<img src="{{ account.image.url }}" class="avatar"/>
                {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar"/>
                {% endif %}
            </td>
            <td>{{ account.get_employee_id }}</td>
            <td class="text-left">
                <b>{{ account.first_name }} {{ account.last_name }}</b><br/>
                <i>
                    {% for department_member in account.department_member_set.all %}
                    {{ department_member.department_id|department_name_tag|capfirst }}
                    {% if department_member.position %}
                    <br/>( {{ department_member.position }} )
                    {% endif %}
                    {% if not forloop.last %}
                    <br/>
                    {% endif %}
                    {% empty %}-{% endfor %}
                </i>
            </td>
            {% comment %}
            <td>{{ account.first_name }}</td>
            <td>{{ account.last_name }}</td>
            {% endcomment %}
            <td>{{ account.email }}</td>
            {% comment %}
            <td>
                {% for department_member in account.department_member_set.all %}
                {{ department_member.department_id|department_name_tag|capfirst }}
                {% if department_member.position %}
                {{ department_member.position }}
                {% endif %}
                {% if not forloop.last %}
                <br/>
                {% endif %}
                {% empty %}-{% endfor %}
            </td>
            {% endcomment %}
            <td>
                {% comment %}
                {% if account.is_active %}
                Active
                {% elif not account.last_deactivate and IS_LIMIT_ACTIVE %}
                -
                {% else %}
                Inactive
                {% endif %}
                {% endcomment %}
                {{ account.is_active|yesno:"Active,Inactive" }}
            </td>

            {% if is_enable %}
            <td class="{% if account.is_enable %}text-green{% else %}text-red{% endif %}">
                <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
            </td>

            {%endif%}
            </td>

            {% comment %}
            {% if is_force_password %}
            <td class="{% if account.is_force_reset_password %}text-green{% else %}text-red{% endif %}">
                <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
            </td>
            {% endif %}
            {% endcomment %}

            {% if IS_LIMIT_ACTIVE %}
            <td>
                {% if account.last_deactivate %}
                {{ account.last_deactivate|date }}
                {% else %}
                -
                {% endif %}
            </td>
            {% endif %}
            <td>
                <a href="{% url 'dashboard:account-dashboard:detail' account.id %}">
                    <button class="btn bgm-bluegray btn-sm waves-effect">
                        <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                    </button>
                </a>
            </td>
            {% if is_force_password %}
            <td>
                <a href="{% if account.is_force_reset_password %}{% url 'dashboard:account-dashboard:force' account.id %} {%else%} # {%endif%}">
                    <button class="btn bgm-bluegray btn-sm waves-effect" {% if not account.is_force_reset_password %}
                            disabled {%endif%}>
                        <i class="zmdi zmdi-lock-open"></i>
                    </button>
                </a>
            </td>
            {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="99">
                    <div class="no-item">No accounts.</div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
    {% include "dashboard/paginator.html" with content_list=account_list %}
</div>
{% endblock %}
