{% extends "dashboard/base.html" %}
{% load static %}
{% load department_tags %}
{% load content_tags %}

{% block jquery %}
    $('#q_department, #q_level').change(function(){
        $('.filter_department').submit();
    });
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Learner Management</strong></h2>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for account in account_list %}
        <tr>
          <td>{{ account.email }}</td>
          <td>{{ account.first_name }}</td>
          <td>{{ account.last_name }}</td>
          <td>{{ account.department|check_none|capfirst }}</td>
          <td>{{ account.status }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">
            <div class="no-item">No accounts.</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "dashboard/paginator.html" with content_list=account_list %}
</div>
{% endblock %}
