{% load static %}

<h4 class="info-inline">
  {% if account.image %}
  <img src="{{ account.image.url }}" class="avatar" />
  {% else %}
  <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
  {% endif %}
  <span>{{ account.first_name }} {{ account.last_name }}</span>
</h4>
<p>
  <span class="text-muted">Department:</span>
  {% for department_member in account.department_member_set.all %}
  {#{ department_member.department_id|department_name_tag }#}
  {% if department_member.position %}{{ department_member.position }}{% endif %}
  {% if not forloop.last %}<br/>{% endif %}
  {% empty %}-{% endfor %}
</p>
