{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  {% include "live/dashboard/tab.html" %}
  <div class="card-body card-padding">
    <form class="form-horizontal thai" role="form" action="" method="post">{% csrf_token %}
      <div class="form-group">
          <label class="col-sm-2 control-label">Accessibility Class</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <div class="select">
                  <select class=" form-control" name="level_id">
                    <option value="-1">---------</option>
                    {% for level in level_list %}
                    <option value="{{ level.id }}" {% if level.id == content_permission.level.id %}selected{% endif %}>{{ level.name|capfirst }}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>
          </div>
         </div> 
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
	      {% if perms.live.change_live %}
          <button type="submit" class="btn btn-primary btn-sm waves-effect" name="save-next">Save </button> &nbsp; &nbsp;
	      {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
