{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Live Management</strong></h2>
        <ul class="actions">
          {% if perms.live.add_live %}
          <li>
            <a href="{% url 'dashboard:live-dashboard:create' %}">
              <i class="zmdi zmdi-plus-circle"></i> Create New
            </a>
          </li>
          {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Instructor</th>
              <th>Status</th>
              <th>Live Time</th>
              <th>Display</th>
              <th>Timestamp</th>
              <th>Detail</th>
              <th>Preview</th>
            </tr>
          </thead>
          <tbody>
          {% for live in live_list %}
          <tr>
            <td>{{ live.name }}</td>
        	  <td>{% for tutor in live.tutor.all %}{{ tutor.name }}{% if not forloop.last %}<br>{% endif %}{% empty %}{% endfor %}</td>
            <td>{{ live.get_status_display }}</td>
            <td>{% if live.start %}{{ live.start|date:"d M Y" }} {{ live.start|time:"H:i" }}-{{ live.end|time:"H:i" }} {% else %}-{% endif %}</td>
            <td class="{% if live.is_display %}text-green{% else %}text-red{% endif %}">
        	    <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
        	  </td>
            <td>{{ live.timestamp }}</td>
            <td>
              <a href="{% url 'dashboard:live-dashboard:information' live.id %}">
                <button class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
              </a>
            </td>
        	  <td>
              <a href="{% url 'live:detail' live.id %}" target="_blank">
                <button class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-link zmdi-hc-fw"></i></button>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No contents.</div></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include "dashboard/paginator.html" with content_list=lesson_list %}
      </div>
    </div>
</div>
{% endblock %}
