{% load humanize %}
<thead>
  <tr>
    <th>Name</th>
    <th class="text-center">Price</th>
    <th class="text-center">Discount</th>
    <th class="text-center">Credit (Limit)</th>
    <th class="text-center">Edit</th>
    <th class="text-center">Use</th>
  </tr>
</thead>
<tbody>
  {% for price in price_list %}
  <tr>
    <td>{{ price.get_store_display }}</td>
    {% if price.store == 3 %}
    <td class="text-center">{{ price.ios.price_tier.price_usd|intcomma }} USD</td>
    {% if price.ios.discount_tier == None %}
    <td class="text-center">&nbsp; - </td>
    {% else %}
    <td class="text-center">{{ price.ios.discount_tier.price_usd|intcomma }} USD</td>
    {% endif %}
    {% else %}
    <td class="text-center">{{ price.price|intcomma }} THB</td>
    <td class="text-center">{{ price.discount|intcomma }} THB</td>
    {% endif %}
    <td class="text-center">{{ price.credit }}</td>
    <td class="text-center">
      <a href="#" action="0" class="price-edit" price="{{ price.id }}">
	<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
      </a>
    </td>
    <td class="text-center">
      <a href="#" class="{% if price.is_use %}text-green{% else %}text-red{% endif %}">
	<i class="zmdi zmdi-circle zmdi-hc-fw price-use" price="{{ price.id }}"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
