{% extends "dashboard/base.html" %}

{% block jquery %}
var id;
$('body').on('click', '.price-use', function(){
    var id = $(this).attr('price');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:live-dashboard:price_use' live.id %}",
	data: {id: id}
    }).done(function(html){
	$('#live-price').html(html);
    });
    return false;
});

$('body').on('click', '.price-edit', function(){
    id = $(this).attr('price');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:live-dashboard:price_edit' live.id %}",
	dataType: "json",
	data: {id: id,
	       action: "load"}
    }).done(function(result){
	$('#price').parents('.form-group').show();
	$('#discount').parents('.form-group').show();
	$('#ios-price').parents('.form-group').hide();
	$('#ios-discount').parents('.form-group').hide();
	   
	$('#price').val(result.price);
	$('#discount').val(result.discount);
	if(result.store == 3){
	    $('#price').parents('.form-group').hide();
	    $('#discount').parents('.form-group').hide();
	    
	    $('#ios-price').parents('.form-group').show();
	    $('#ios-discount').parents('.form-group').show();
	    $('#ios-price').val(result.ios_price);
	    $('#ios-discount').val(result.ios_discount);
	    $('#price-credit').hide();
	}else if(result.store == 6){
	    $('#credit').val(result.credit);
	    $('#price-credit').show();
	}else{
	    $('#price-credit').hide();
	}
	$('#modalPrice').modal('show');
    });
    return false;
});

$('#modalPrice-save').click(function(){
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:live-dashboard:price_edit' live.id %}",
	data: {id: id,
	       action: "save",
	       price: $('#price').val(),
	       discount: $('#discount').val(),
	       ios_price: $('#ios-price').val(),
	       ios_discount: $('#ios-discount').val(),
	       credit: $('#credit').val()}
    }).done(function(html){
	$('#live-price').html(html);
	$('#modalPrice').modal('hide');
    });
    return false;
});
{% endblock %}


{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  {% include "live/dashboard/tab.html" %}
  <table class="table table-hover" id="live-price">
    {% include "live/dashboard/price_block.html" %}
  </table>
</div>

<div class="modal fade" id="modalPrice" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="modalVideoCut-title">Price Edit</h4>
      </div>
      <div class="modal-body" id="modalPrice-body">
	<div class="card">
          <form class="form-horizontal" role="form">
            <div class="card-body card-padding">
              <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <div class="fg-line">
                    <input type="text" class="form-control input-sm" id="price">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="discount" class="col-sm-2 control-label">Discount</label>
                <div class="col-sm-10">
                  <div class="fg-line">
                    <input type="text" class="form-control input-sm" id="discount">
                  </div>
                </div>
              </div>
	      <div class="form-group">
                <label for="ios-price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <div class="select">
                    <select class="form-control" id="ios-price">
		      {% for price_matrix in price_matrix_list %}
		      <option value="{{ price_matrix.id }}">{{ price_matrix.price_usd }} USD</option>
		      {% endfor %}
		    </select>
                  </div>
                </div>
              </div>
	      <div class="form-group">
                <label for="ios-price" class="col-sm-2 control-label">Discount</label>
                <div class="col-sm-10">
                  <div class="select">
                    <select class="form-control" id="ios-discount">
		      {% for price_matrix in price_matrix_list %}
		      <option value="{{ price_matrix.id }}">{{ price_matrix.price_usd }} USD</option>
		      {% endfor %}
		    </select>
                  </div>
                </div>
              </div>
	      <div class="form-group" id="price-credit">
                <label for="credit" class="col-sm-2 control-label">Credit</label>
                <div class="col-sm-10">
                  <div class="fg-line">
                    <input type="text" class="form-control input-sm" id="credit" placeholder="hh:mm:ss">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" id="modalPrice-save">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
