{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block headerscript %}
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/minimalist.css' %}">
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.css' %}">
<style media="screen">
.flowplayer {
  background-color: #c0c0c0;
  overflow-wrap: break-word;
  background-image: url('{{ live.image.url }}');
  }
</style>
{% endblock %}

{% block footerscript %}
<script src="{% static 'flowplayer-6.0.5/flowplayer.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.hlsjs.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.min.js' %}"></script>
{% endblock %}

{% block jquery %}
var live_status = false
var api;

function setVideoLayout(is_ready){
  if(is_ready){
    $('.status').removeClass('text-red');
    $('.status').addClass('text-green');

  }else{
    $('.status').removeClass('text-green');
    $('.status').addClass('text-red');
  }
}

function initFlowplayer(source){
  api = flowplayer("#hlsjslive", {
    splash: true,
    embed: false,
    ratio: 9/16,
    clip: {
      autoplay: true,
      {% if live.status == 1 %}
      live: true,
      {% endif %}
      sources: [
      { type: "application/x-mpegurl",
        src:  source }
    ]}
  });

  /*api.load({
    sources: [
      { type: "application/x-mepgurl",
        src:  source}
    ]
  });*/

  api.on("load", function () {
    console.log('on:load')
  }).on("ready", function () {
    console.log('on:ready')
  });

   api.on("load ready", function (e, api, video) {
    var log = $("<p/>").text(e.type + ": " + video.src + ", duration: " +
                             (video.duration || "not available"));
    console.log(log);
  });

  api.bind("load", function(){ api.play(); });
}

{% if live.status <= 2 %}
var myVar = setInterval(checkStatus, 10000);
checkStatus()
initFlowplayer("{{ stream_src }}")
function checkStatus() {
    $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:live-dashboard:stream_status' live.id %}",
    	dataType: "json",
    	data: {}
        }).done(function(result){
      $('#live-status').html(result.status)

    	if(result.stream){
          if(!live_status){
            initFlowplayer(result.source)
            live_status = true;
          }
          setVideoLayout(true);
          //clearInterval(myVar);
    	}else{
          setVideoLayout(false)
          if(live_status){
            live_status = false
            api.unload()
          }
    	}
    });
}
{% endif %}
initFlowplayer("{{ stream_src }}")
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  {% include "live/dashboard/tab.html" %}
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="card-body card-padding video-view">
        <div id="hlsjslive" class="is-closeable"></div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="card-body  card-padding">
          Live Status: <span id="live-status">{{ live.get_status_display }}</span><br/>
          {% if live.status <= 1 %}
            <div id="info-stream">
            Stream: <i class="zmdi zmdi-circle zmdi-hc-fw text-red status"></i> <br/>
            Stream Url: {{ stream_url }}<br/>
            Stream Key: {{ live.stream_key }}
            </div>
          {% endif %}

          {% if live.status == 2 %}
          <div id="info-convert">
            <br>Convert to VOD (mp4): <a href="{% url 'dashboard:live-dashboard:stream_convert' live.id %}"><button type="submit" class="btn btn-primary btn-sm waves-effect" name="save-next">Convert</button></a><br/>
            <br><font color="red">* Click convert button when live end.</font>
          </div>
          {% elif live.status == 3 %}
          <p>VOD (mp4): Converting...</p>
          {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
