<ul class="tab-nav text-center" role="tablist" tabindex="2" style="overflow: hidden; outline: none;">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    <a href="{% if TAB == "information" %}#{% else %}{% url 'dashboard:live-dashboard:information' live.id %}{% endif %}">Information</a>
  </li>
  <li {% if TAB == "stream" %}class="active"{% endif %}>
    <a href="{% if TAB == "stream" %}#{% else %}{% url 'dashboard:live-dashboard:stream' live.id %}{% endif %}">Stream Console</a>
  </li>
  <li {% if TAB == "price" %}class="active"{% endif %}>
    <a href="{% if TAB == "price" %}#{% else %}{% url 'dashboard:live-dashboard:price' live.id %}{% endif %}">Price</a>
  </li>
  <li {% if TAB == "access" %}class="active"{% endif %}>
    <a href="{% if TAB == "access" %}#{% else %}{% url 'dashboard:live-dashboard:access' live.id %}{% endif %}">Accessibility</a>
  </li>
</ul>
<br/>
