{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block css %}
{% if order_item %}
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/minimalist.css' %}">
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.css' %}">
{% endif %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<style>
.flowplayer {
  overflow-wrap: break-word;
  background-image: url('{{ live.image.url }}');
}
</style>
{% endblock %}

{% block script %}
{% if order_item %}
<script src="{% static 'live/js/live.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.hlsjs.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.min.js' %}"></script>
{% endif %}
<script>
$(function(){
  var live_status = false
  var api;

  function initFlowplayer(source){
    api = flowplayer("#hlsjslive", {
      splash: true,
      embed: false,
      ratio: 9/16,
      clip: {
        autoplay: true,
        {% if live.status == 1 %}
        live: true,
        {% endif %}
        sources: [
        { type: "application/x-mpegurl",
          src:  source }
      ]}
    });

    api.on("load", function () {
      console.log('on:load')
    }).on("ready", function () {
      console.log('on:ready')
    });
     api.on("load ready", function (e, api, video) {
      var log = $("<p/>").text(e.type + ": " + video.src + ", duration: " +
                               (video.duration || "not available"));
      console.log(log);
    });
    api.bind("load", function(){ api.play(); });
  }

  function setVideoLayout(result){
    if(result.live_status == 0){
      $('#box-live-status').show()
      $('#box-live').hide()
      $('.live-message').html('This Live is Upcoming.');
    }else if(result.live_status == 2 || result.live_status == 3){
      $('#box-live-status').show()
      $('#box-live').hide()
      $('.live-message').html('Live Ended.')
    }else{
      $('#box-live-status').hide()
      $('#box-live').show()
    }
  }

  var myVar = setInterval(checkStatus, 10000);
  checkStatus()
  initFlowplayer("{{ stream_src }}")
  function checkStatus() {
      $.ajax({
      	method: "POST",
      	url: "{% url 'dashboard:live-dashboard:stream_status' live.id %}",
      	dataType: "json",
      	data: {}})
        .done(function(result){
          $('#live-message').html(result.status)
          setVideoLayout(result);
        	if(result.stream){
              if(!live_status){
                live_status = true;
                initFlowplayer(result.source)
              }
        	}else{
              if(live_status){
                live_status = false
                api.unload()
              }
        	}
        })
        .fail(function() {
          $('#box-live-status').show()
          $('#box-live').hide()
          $('.live-message').html('No internet connection.')
        });
  }
});
</script>
{% endblock %}

{% block content %}
{% if order_item %}
{% include 'live/fragment/detail_purchased.html' %}
{% else %}
{% include 'live/fragment/detail_info.html' %}
{% endif %}
<div class="container container-stable">
    <div class="live-item full-description top-pad {% if live.status == 1 %}active{% endif %}">
        {% include 'live/fragment/showtime.html' %}
      	<div class="live-body">
      	    <div class="live-content">
      	        <h4 class="no-top-margin"><strong>Description</strong></h4>
      	        <p>{{ live.desc }}</p>
      	    </div>
      	</div>
    </div><!-- /.live-item -->
</div><!-- /.container -->
{% include "access/modal/content_level.html" %}
{% endblock %}
