{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block headerscript %}{% endblock %}
{% block content %}
<img src="{% static 'unilever/images/customize/banner-live.png' %}" class="full-width" />
<ul class="box-wrapper">
    {% include 'live/fragment/fragment_live_menu.html' %}
</ul>
<ul class="box-wrapper">
    <h1 class="main-color">รายการถ่ายทอดสด (Live & Upcoming)</h1>
		{% include 'live/fragment/live_block.html' %}
</ul>
{% endblock %}
