{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block jquery %}
$(".select-date").datepicker({ dateFormat: 'yy-mm-dd' });
{% endblock %}
{% block content %}
<img src="{% static 'unilever/images/customize/banner-live.png' %}" class="full-width" />
<ul class="box-wrapper">
    {% include 'live/fragment/fragment_live_menu.html' %}
</ul>
<ul class="box-wrapper">
    <h1 class="main-color">รายการสดย้อนหลัง (Previous Live)</h1>
    {% comment %}
		<div class="row form-horizontal">
			<div class="col-sm-10 col-md-6">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
					    <label class="col-sm-2 control-label">From</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control select-date" placeholder="Select Date">
					    </div>
						</div>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<div class="form-group">
					    <label class="col-sm-2 control-label">To</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control select-date" placeholder="Select Date">
					    </div>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.col -->
		</div><!-- /.row -->
    {% endcomment %}
		{% include 'live/fragment/live_block.html' %}
</ul>
{% endblock %}
