{% load static %}
{% load content_tags %}
{% load order_tags %}
<thead>
  <tr>
    <th>Cover</th>
    <th>Content</th>
    <th>Including</th>
    <th>Added By</th>
    <th>Expired Date</th>
    <th>Day Left</th>
    <th>Status</th>
    <th>% Progress</th>
    <th>See Details</th>
  </tr>
</thead>
<tbody>
  {% for progress in progress_list %}
  {% get_content_tag progress.content_type_id progress.content as content %}
  {% pull_order_item progress.item_id as order_item %}
  {# {% pull_content_location_tag progress.location_id as content_location %} #}
  {% pull_content_type_tag progress.content_type_id as content_type %}
  {% get_content_type_name_tag content_type progress.content as content_type_name %}
  {% get_content_include_tag progress.content_type_id progress.content as include %}
  <tr>
    <td>
      {% if content.image %}<img src="{{ content.image.url }}" />
      {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
      {% endif %}
    </td>
    <td class="text-left">
      {{ content.name }}<br />
      <i>{{ content_type_name|capfirst }}</i>
    </td>
    <td>{{ include }}</td>
    {# <td>{{ content_location.get_parent.name }}</td> #}
    <td>{{ order_item.order.get_method_display }}</td>
    <td>{% if order_item.expired_date %}{{ order_item.expired_date }}{% else %}No expiry{% endif %}</td>
    <td>{{ order_item.expired_day }}</td>
    <td>{{ progress.get_status_display }}</td>
    <td>{{ progress.percent|floatformat:"0" }}%</td>
    <td>
      <a href="{% url 'dashboard:progress:detail_account' progress.id  %}">
        <button class="btn bgm-blue btn-sm waves-effect"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
      </a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td class="text-center" colspan="8">
      <div class="no-item">No progresses.</div>
    </td>
  </tr>
  {% endfor %}
</tbody>
