<div class="card-body card-padding text-center progress-summary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style="margin-top:-30px;">
        <h3>Total {{ progress_result.count__sum }} items</h3>
        <canvas id="pieChart" width="300" height="300"></canvas>
      </div>
      <div class="col-sm-8">
        <canvas id="barChart" width="700" height="350"></canvas>
      </div>
    </div>
    <h4 id="testWaitingConfirm" style="margin-left:20px;color:#bd002c"></h4>
  </div>
      <!-- <div class="col-sm-4 p-l-0 all-contents">
        <div class="dash-widget-item bgm-teal">
          <div class="dash-widget-header">
            <div class="dash-widget-title">All Contents (Courses + Tests)</div>
          </div>
          <h1>{{ progress_result.count__sum }}</h1>
          <p>Items</p>
          <hr />
          <div class="container-fluid">
            <div class="row">
	            <div class="col-xs-6">
	            	<h2>{{ progress_result.count_register__sum }}</h2>
	            	<p>Self-Enroll</p>
	            </div>
	            <div class="col-xs-6">
            		<h2>{{ progress_result.count_assignment__sum }}</h2>
            		<p>Assignment</p>
	            </div>
            </div>
          </div>
          <hr class="m-b-0" />
          <div class="container-fluid">``
            <div class="row">
	            <div class="col-xs-3 bg-in-progress">
            		<h2>{{ progress_result.in_progress__sum }}</h2>
            		<span>In progress</span>
	            </div>
	            <div class="col-xs-3 bg-completed">
            		<h2>{{ progress_result.completed__sum }}</h2>
            		<span>Completed</span>
	            </div>
	            <div class="col-xs-3 bg-failed">
            		<h2>{{ progress_result.failed__sum }}</h2>
            		<span>Failed</span>
	            </div>
	            <div class="col-xs-3 bg-expired">
            		<h2>{{ progress_result.expired__sum }}</h2>
            		<span>Expired</span>
	            </div>
            </div>
          </div>
          <hr class="m-t-0" />
          <div class="row">
            <div class="col-xs-12">
      	      <h2>{{ progress_result.percent }} %</h2>
      	      <span>% Completed</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="courses">
          <div class="dash-widget-item bgm-green">
            <div class="dash-widget-header">
              <div class="dash-widget-title">Courses</div>
            </div>
            <div class="container-fluid">
              <div class="row m-t-10 m-b-10">
                <div class="col-xs-4">
                  <h4>{{ progress_result.course_count__sum }}</h4>
                  <span>Items</span>
                </div>
                <div class="col-xs-4">
                  <h4>{{ progress_result.course_count_register__sum }}</h4>
                  <span>Self-Enroll</span>
                </div>
                <div class="col-xs-4">
                  <h4>{{ progress_result.course_count_assignment__sum }}</h4>
                  <span>Assignment</span>
                </div>
              </div>
            </div>
            <hr class="m-b-0" />
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-3 bg-in-progress">
                  <h4>{{ progress_result.course_in_progress__sum }}</h4>
                  <span>In progress</span>
                </div>
                <div class="col-xs-3 bg-completed">
                  <h4>{{ progress_result.course_completed__sum }}</h4>
                  <span>Completed</span>
                </div>
                <div class="col-xs-3 bg-failed">
                  <h4>{{ progress_result.course_failed__sum }}</h4>
                  <span>Failed</span>
                </div>
                <div class="col-xs-3 bg-expired">
                  <h4>{{ progress_result.course_expired__sum }}</h4>
                  <span>Expired</span>
                </div>
              </div>
            </div>
            <hr class="m-t-0" />
            <h4 class="m-t-10">{{ progress_result.course_percent }} % Completed</h4>
          </div>
        </div>
        <div class="tests">
          <div class="dash-widget-item bgm-cyan">
            <div class="dash-widget-header">
              <div class="dash-widget-title">
                Tests
                {% comment %}<a href="#" class="pull-right"><i class="zmdi zmdi-plus"></i></a>{% endcomment %}
              </div>
            </div>
            <div class="container-fluid">
              <div class="row m-t-10 m-b-10">
                <div class="col-xs-4">
                  <h4>{{ progress_result.question_count__sum }}</h4>
                  <span>Items</span>
                </div>
                <div class="col-xs-4">
                  <h4>{{ progress_result.question_count_register__sum }}</h4>
                  <span>Self-Enroll</span>
                </div>
                <div class="col-xs-4">
                  <h4>{{ progress_result.question_count_assignment__sum }}</h4>
                  <span>Assignment</span>
                </div>
              </div>
            </div>
            <hr class="m-b-0" />
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-3 bg-in-progress">
                  <h4>{{ progress_result.question_in_progress__sum }}</h4>
                  <span>In progress</span>
                </div>
                <div class="col-xs-3 bg-completed">
                  <h4>{{ progress_result.question_completed__sum }}</h4>
                  <span>Completed</span>
                </div>
                <div class="col-xs-3 bg-failed">
                  <h4>{{ progress_result.question_failed__sum }}</h4>
                  <span>Failed</span>
                </div>
                <div class="col-xs-3 bg-expired">
                  <h4>{{ progress_result.question_expired__sum }}</h4>
                  <span>Expired</span>
                </div>
              </div>
            </div>
            <hr class="m-t-0" />
            <h4 class="m-t-10">{{ progress_result.question_percent }} % Completed</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 p-r-0">
          <div class="programs">
            <div class="dash-widget-item bgm-pink">
	            <div class="dash-widget-header">
                <div class="dash-widget-title">Programs</div>
	            </div>
	            <div class="container-fluid">
	            	<div class="row m-t-10 m-b-10">
                  <div class="col-xs-4">
                    <h4>{{ progress_result.program_count__sum }}</h4>
                    <span>Items</span>
                  </div>
                  <div class="col-xs-4">
                    <h4>{{ progress_result.program_count_register__sum }}</h4>
                    <span>Self-Enroll</span>
                  </div>
                  <div class="col-xs-4">
                    <h4>{{ progress_result.program_count_assignment__sum }}</h4>
                    <span>Assignment</span>
                  </div>
                </div>
	            </div>
              <hr class="m-b-0" />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-3 bg-in-progress">
                    <h4>{{ progress_result.program_in_progress__sum }}</h4>
                    <span>In progress</span>
                  </div>
                  <div class="col-xs-3 bg-completed">
                    <h4>{{ progress_result.program_completed__sum }}</h4>
                    <span>Completed</span>
                  </div>
                  <div class="col-xs-3 bg-failed">
                    <h4>{{ progress_result.program_failed__sum }}</h4>
                    <span>Failed</span>
                  </div>
                  <div class="col-xs-3 bg-expired">
                    <h4>{{ progress_result.program_expired__sum }}</h4>
                    <span>Expired</span>
                  </div>
		            </div>
	            </div>
      	      <hr class="m-t-0" />
      	      <h4 class="m-t-10">{{ progress_result.program_percent }} % Completed</h4>
            </div>
          </div>
          <div class="onboard">
            <div class="dash-widget-item bgm-purple">
	            <div class="dash-widget-header">
                <div class="dash-widget-title">Onboard</div>
	            </div>
	            <div class="container-fluid">
		            <div class="row m-t-10 m-b-10">
                  <div class="col-xs-4">
                    <h4>{{ progress_result.onboard_count__sum }}</h4>
                    <span>Items</span>
                  </div>
                  <div class="col-xs-4">
                    <h4>{{ progress_result.onboard_count_register__sum }}</h4>
                    <span>Self-Enroll</span>
                  </div>
                  <div class="col-xs-4">
                    <h4>{{ progress_result.onboard_count_assignment__sum }}</h4>
                    <span>Assignment</span>
                  </div>
                </div>
	            </div>
              <hr class="m-b-0" />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-3 bg-in-progress">
                    <h4>{{ progress_result.onboard_in_progress__sum }}</h4>
                    <span>In progress</span>
                  </div>
                  <div class="col-xs-3 bg-completed">
                    <h4>{{ progress_result.onboard_completed__sum }}</h4>
                    <span>Completed</span>
                  </div>
                  <div class="col-xs-3 bg-failed">
                    <h4>{{ progress_result.onboard_failed__sum }}</h4>
                    <span>Failed</span>
                  </div>
                  <div class="col-xs-3 bg-expired">
                    <h4>{{ progress_result.onboard_expired__sum }}</h4>
                    <span>Expired</span>
                  </div>
	            	</div>
	            </div>
      	      <hr class="m-t-0" />
      	      <h4 class="m-t-10">{{ progress_result.onboard_percent }} % Completed</h4>
            </div>
          </div>
      </div> -->
      <hr style="padding:5px;"/>
    <div class="container-fluid">
      <div class="row">
        <canvas id="barChart2" width="1000" height="300" ></canvas>
      </div>
    </div>
  </div>



  {% comment %}
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Content Type</th>
          <th>No. of Item</th>
          <th>Self-enroll</th>
          <th>Assignment</th>
          <th class="bg-in-progress-light">In Progress</th>
          <th class="bg-completed-light">Completed</th>
          <th class="bg-failed-light">Failed</th>
          <th class="bg-expired-light">Expired</th>
          <th>% Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr class="emphasize">
          <td><strong>All Contents</strong></td>
          <td><strong>n</strong></td>
          <td><strong>n</strong></td>
          <td><strong>n</strong></td>
          <td class="bg-in-progress-light"><strong>n</strong></td>
          <td class="bg-completed-light"><strong>n</strong></td>
          <td class="bg-failed-light"><strong>n</strong></td>
          <td class="bg-expired-light"><strong>n</strong></td>
          <td><strong>n%</strong></td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>n</td>
          <td>n</td>
          <td>n</td>
          <td class="bg-in-progress-light">n</td>
          <td class="bg-completed-light">n</td>
          <td class="bg-failed-light">n</td>
          <td class="bg-expired-light">n</td>
          <td>n%</td>
        </tr>
        <tr>
          <td>Tests</td>
          <td>n</td>
          <td>n</td>
          <td>n</td>
          <td class="bg-in-progress-light">n</td>
          <td class="bg-completed-light">n</td>
          <td class="bg-failed-light">n</td>
          <td class="bg-expired-light">n</td>
          <td>n%</td>
        </tr>
        <tr>
          <td>Programs</td>
          <td>n</td>
          <td>n</td>
          <td>n</td>
          <td class="bg-in-progress-light">n</td>
          <td class="bg-completed-light">n</td>
          <td class="bg-failed-light">n</td>
          <td class="bg-expired-light">n</td>
          <td>n%</td>
        </tr>
        <tr>
          <td>Onboard</td>
          <td>n</td>
          <td>n</td>
          <td>n</td>
          <td class="bg-in-progress-light">n</td>
          <td class="bg-completed-light">n</td>
          <td class="bg-failed-light">n</td>
          <td class="bg-expired-light">n</td>
          <td>n%</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endcomment %}
