{% load staticfiles %}
{% load department_tags %}
<div class="card-header">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="clear-pad"><strong style="margin-left:-15px;">Progress by Learner</strong></h3>
    </div>
    {% if account_list.paginator.count > 0 %}
    <div class="col-sm-4 text-right-md">
      <h4 class="clear-pad">Total : {{ account_list.paginator.count }} Learner{{ account_list.paginator.count|pluralize }}</h4>
    </div>
    {% endif %}
  </div>
</div>
</div>
<div class="card-body card-padding">
  <div class="table-responsive">
{% if account_list.paginator.count > 0 %}
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Learner</th>
      <th>Department</th>
      {% comment %}
      <th>Direct Manager</th>
      {% endcomment %}
      <th class="bg-in-progress-light">In Progress</th>
      <th class="bg-completed-light">Completed</th>
      <th class="bg-failed-light">Failed</th>
      <th class="bg-expired-light">Expired</th>
      <th>% Completed</th>
      <th>Incoming Due Date</th>
      <th>See Details</th>
    </tr>
  </thead>
  <tbody>
    <tr class="emphasize">
      <td></td>
      <td><strong>Total : {{ account_list.paginator.count }} Learner{{ account_list.paginator.count|pluralize }}</strong></td>
      <td></td>
      <td class="bg-in-progress-light">{{ progress_result.in_progress__sum }}</td>
      <td class="bg-completed-light">{{ progress_result.completed__sum }}</td>
      <td class="bg-failed-light">{{ progress_result.failed__sum }}</td>
      <td class="bg-expired-light">{{ progress_result.expired__sum }}</td>
      <td>{{ progress_result.percent }}%</td>
      <td colspan="2"></td>
    </tr>
    {% for account in account_list %}
    <tr>
      <td>
        {% if account.image %}<img src="{{ account.image.url }}" class="avatar" />
        {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
        {% endif %}
      </td>
      <td class="text-left">{{ account.first_name }} {{ account.last_name }}</td>
      <td>
	{{ account.get_department_display }}
      </td>
      {% comment %}
      <td>-</td>
      {% endcomment %}
      <td class="bg-in-progress-light">{{ account.progress.in_progress }}</td>
      <td class="bg-completed-light">{{ account.progress.completed }}</td>
      <td class="bg-failed-light">{{ account.progress.failed }}</td>
      <td class="bg-expired-light">{{ account.progress.expired }}</td>
      <td>{{ account.progress.get_percent }}%</td>
      <td>{% if account.progress.due_date %}{{ account.progress.due_date }}{% else %}-{% endif %}</td>
      <td>
        <a href="{{ account.url_detail }}">
          <button class="btn bgm-blue btn-sm waves-effect"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="99">
        <div class="no-item">No learners.</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no-item">No learners.</div>
{% endif %}
{% include "dashboard/paginator.html" with content_list=account_list %}
</div>
</div>
