{% extends "dashboard/base.html" %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Progress by Assignment</strong></h2>
    {% include "content/dashboard/filter_block.html" %}
  </div>
  <div class="card-header">
    <h3 class="clear-pad"><strong>Progress Summary</strong></h3>
  </div>
  {% include "progress/dashboard/assignment_summary_block.html" %}
  <ul class="tab-nav text-center" role="tablist" tabindex="2">
      <li>
          <a href="{% url 'dashboard:progress:assignment_account' 3 %}">Learner Progress</a>
      </li>
      <li class="active">
          <a href="">Learning Item Progress</a>
      </li>
  </ul>
  {% include "progress/dashboard/content_block.html" %}
</div>
{% endblock %}
