<div class="card-body card-padding text-center progress-summary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 p-r-0 text-left">
        {% include "progress/dashboard/assignment_info.html" %}
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6 p-l-0 all-contents">
            <div class="dash-widget-item bgm-teal">
              <div class="dash-widget-header">
                <div class="dash-widget-title">All Learners x Assigned Items</div>
              </div>
              <h1>N</h1>
              <p>Items</p>
              <hr class="m-b-0" />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-3 bg-in-progress">
                    <h2>N</h2>
                    <span>In progress</span>
                  </div>
                  <div class="col-xs-3 bg-completed">
                    <h2>N</h2>
                    <span>Completed</span>
                  </div>
                  <div class="col-xs-3 bg-failed">
                    <h2>N</h2>
                    <span>Failed</span>
                  </div>
                  <div class="col-xs-3 bg-expired">
                    <h2>N</h2>
                    <span>Expired</span>
                  </div>
                </div>
              </div>
              <hr class="m-t-0" />
              <div class="row">
                <div class="col-xs-12">
                  <h2>N %</h2>
                  <span>% Completed</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 p-l-0 all-contents">
            <div class="dash-widget-item bgm-green">
              <div class="dash-widget-header">
                <div class="dash-widget-title">Learner</div>
              </div>
              <h1>N</h1>
              <p>Learners</p>
              <hr class="m-b-0" />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-4 bg-in-progress p-t-10 p-b-10">
                    <h2>N</h2>
                    <span>In progress</span>
                  </div>
                  <div class="col-xs-4 bg-completed p-t-10 p-b-10">
                    <h2>N</h2>
                    <span>Completed</span>
                  </div>
                  <div class="col-xs-4 bg-failed p-t-10 p-b-10">
                    <h2>N</h2>
                    <span>Incompleted</span>
                  </div>
                </div>
              </div>
              <hr class="m-t-0" />
              <div class="row">
                <div class="col-xs-12">
                  <h2>N %</h2>
                  <span>% Completed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
