<div class="col-xs-2 c-white bgm-cyan">
  <h5>Learner{{ progress_content.count|pluralize }}</h5>
  <h2>{{ progress_content.count }}</h2>
</div>
<div class="col-xs-2 c-white bg-in-progress">
  <h5>In Progress</h5>
  <h2>{{ progress_content.in_progress }}</h2>
</div>
<div class="col-xs-2 c-white bg-completed">
  <h5>Completed</h5>
  <h2>{{ progress_content.completed }}</h2>
</div>
<div class="col-xs-2 c-white bg-failed">
  <h5>Failed</h5>
  <h2>{{ progress_content.failed }}</h2>
</div>
<div class="col-xs-2 c-white bg-expired">
  <h5>Expired</h5>
  <h2>{{ progress_content.expired }}</h2>
</div>
<div class="col-xs-2 c-white bgm-teal">
  <h5>Completed</h5>
  <h2>{{ progress_content.get_percent }} %</h2>
</div>
