{% load static %}
{% load account_tags %}
{% load content_tags %}
{% load order_tags %}

<div class="card-header m-t-30">
    <h3 class="clear-pad"><strong>Learners of this {{ content_type_name|capfirst }}</strong></h3>
    {% include "content/dashboard/account_filter_block.html" %}
</div>
<div class="card-body card-padding">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Learner</th>
                <th>Department</th>
                <th>Direct Manager</th>
                <th>Added By</th>
                <th>Added Date</th>
                <th>Expired Date</th>
                <th>Days Left</th>
                <th>Status</th>
                <th>% Progress</th>
                <th>See Details</th>
            </tr>
            </thead>
            <tbody>
            {% for progress in progress_list %}
            {% get_content_tag progress.content_type_id progress.content as content %}
            {% pull_account_tag progress.account_id as account %}
            {% pull_order_item progress.item_id as order_item %}
            <tr>
                <td>
                    {% if account.image %}
                    <img src="{{ account.image.url }}" class="avatar"/>
                    {% else %}
                    <img src="{% static 'images/profile_default.jpg' %}" class="avatar"/>
                    {% endif %}
                </td>
                <td class="text-left">{{ account.get_display }}</td>
                <td>{{ account.get_department_display }}</td>
                <td>{{ account.get_direct_manager_display }}</td>
                <td>{{ order_item.order.get_method_display }}</td>
                <td>{{ order_item.timestamp }}</td>
                <td>{% if order_item.expired %}{{ order_item.expired_date }}{% else %} - {% endif %}</td>
                <td>{{ order_item.expired_day }}</td>
                <td>{{ progress.get_status_display }}</td>
                <td>{{ progress.content_complete }} / {{ progress.content_count }}</td>
                <td>
                    <a href="{{ progress.url }}" class="btn bgm-blue btn-sm waves-effect">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="99">
                    <div class="no-item">No learners.</div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "dashboard/paginator.html" with content_list=progress_list %}
    </div>
</div>
