{% load static %}
{% load category_tags %}
{% load progress_tags %}

<div class="card-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 p-l-0">
        <h3 class="clear-pad"><strong>Progress by {% if content_type_name %}{{ content_type_name|capfirst }}{% else %}Item{% endif %}</strong></h3>
      </div>
      {% if content_list.paginator.count > 0 %}
      <div class="col-sm-4 p-l-0 text-right-md">
        <h4 class="clear-pad">Total : {{ content_list.paginator.count }} Item{{ content_list.paginator.count|pluralize }}</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="table-responsive">
    {% if content_list.paginator.count > 0 %}
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Cover</th>
          <th>{{ content_type_name|capfirst }}</th>
          {% if content_type_name != "onboard" %}<th>Category</th>{% endif %}
          <th>Create Date</th>
          {% if content_type_name == "onboard" %}<th>Version</th>{% endif %}
          <th>Total Added</th>
          <th class="bg-in-progress-light">In Progress</th>
          <th class="bg-completed-light">Completed</th>
          <th class="bg-failed-light">Failed</th>
          <th class="bg-expired-light">Expired</th>
          <th>% Completed</th>
          <th>See Details</th>
        </tr>
      </thead>
      <tbody>
        <tr class="emphasize">
          <td></td>
          <td><strong>Total : {{ content_list.paginator.count }} Item{{ content_list.paginator.count|pluralize }}</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-in-progress-light">{{ progress_result.in_progress__sum }}</td>
          <td class="bg-completed-light">{{ progress_result.completed__sum }}</td>
          <td class="bg-failed-light">{{ progress_result.failed__sum }}</td>
          <td class="bg-expired-light">{{ progress_result.expired__sum }}</td>
          <td>{{ progress_result.percent }}%</td>
          <td></td>
        </tr>
        {% for content in content_list %}
        {% pull_category_tag content.category_id as category %}
        <tr>
          <td>
            {% if content.image %}<img src="{{ content.image.url }}" />
            {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
            {% endif %}
          </td>
          <td class="text-left">{{ content.name }}</td>
          {% if content_type_name != "onboard" %}<td>{{ category.name }}</td>{% endif %}
          <td>{{ content.timestamp }}</td>
          {% if content_type_name == "onboard" %}<td>{{ content.version }}</td>{% endif %}
          <td>{{ content.progress_content.count }}</td>
          <td class="bg-in-progress-light">{{ content.progress_content.in_progress }}</td>
          <td class="bg-completed-light">{{ content.progress_content.completed }}</td>
          <td class="bg-failed-light">{{ content.progress_content.failed }}</td>
          <td class="bg-expired-light">{{ content.progress_content.expired }}</td>
          <td>{{ content.progress_content.get_percent }}%</td>
          <td>
            <a href="{{ content.url_detail }}">
              <button class="btn bgm-blue btn-sm waves-effect"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="70"><div class="no-item">No {{ content_type_name }}s.</div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="no-item">No {% if content_type_name %}{{ content_type_name }}{% else %}item{% endif %}s.</div>
    {% endif %}
    {% include "dashboard/paginator.html" with content_list=content_list %}
  </div>
</div>
