{% load static %}
{% load duration_tags %}
{% load progress_tags %}
{% load content_tags %}

{% get_content_type_tag "program" "onboard" as content_type_onboard %}
{% get_content_type_tag "program" "program" as content_type_program %}
{% get_content_type_tag "course" "course" as content_type_course %}
{% get_content_type_tag "course" "material" as content_type_material %}
{% get_content_type_tag "question" "activity" as content_type_question %}
<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>No</th>
        <th>Cover</th>
        <th>Content</th>
        <th>Type</th>
        <th>Total Time</th>
        <th>Time Spending</th>
        <th>Status</th>
        <th>Progress</th>
        <th>See Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for outline in content.outline_list %}
      <tr class="bg-light-gray text-left">
        <td colspan="99"><h4>Section {{ forloop.counter }} : Section Name</h4></td>
      </tr>
      {% for material in outline.material_list %}

      {% if material.type == 3 %}

      {% if progress_program and progress_program.content_type_id == content_type_onboard.id %}
      {% pull_content_location_first_tag content_type_question material.question_id content_type_onboard progress_program.content content_type_course material.course_id content_type_material material.id as content_location_question %}
      {% pull_progress_tag order_item content_location_question content_type_question material.question_id as progress_material %}
      {% elif progress_program  and progress_program.content_type_id == content_type_program.id %}
      {% pull_content_location_first_tag content_type_question material.question_id content_type_program progress_program.content content_type_course material.course_id content_type_material material.id as content_location_question %}
      {% pull_progress_tag order_item content_location_question content_type_question material.question_id as progress_material %}
      {% else %}
      {% pull_content_location_first_tag content_type_question material.question_id content_type content.id  content_type_material material.id None -1 as content_location_question %}
      {% pull_progress_tag order_item content_location_question content_type_question material.question_id as progress_material %}
      {% endif %}
      
      {% else %}
      
      {% if progress_program and progress_program.content_type_id == content_type_onboard.id %}
      {% pull_content_location_first_tag content_type_material material.id content_type_onboard progress_program.content content_type_course content.id None -1 as content_location_material %}
      {% pull_progress_tag order_item content_location_material content_type_material material.id as progress_material %}      
      {% elif progress_program and progress_program.content_type_id == content_type_onboard.id %}
      {% pull_content_location_first_tag content_type_material material.id content_type_program progress_program.content content_type_course content.id None -1 as content_location_material %}
      {% pull_progress_tag order_item content_location_material content_type_material material.id as progress_material %}
      {% else %}
      {% pull_content_location_first_tag content_type_material material.id content_type_course content.id None -1 None -1 as content_location_material %}
      {% pull_progress_tag order_item content_location_material content_type_material material.id as progress_material %}
      {% endif %}

      {% endif %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
	  {% if material.image %}
          <img src="{{ material.image.url }}" />
	  {% elif content.image %}
          <img src="{{ content.image.url }}" />
	  {% else %}
          <img src="{% static 'images/default-pic-square.png' %}" />
	  {% endif %}
        </td>
        <td>{{ material.name }}</td>
        <td>{{ material.get_type_display }}</td>
        <td>{% if material.type == 0 or material.type == 4 %}{{ material.video_duration|duration }}{% else %}-{% endif %}</td>
        <td>{% if material.type == 0 or material.type == 4 %}{{ progress_material.duration|duration }}{% else %}-{% endif %}</td>
        <td>{% if progress_material %}{{ progress_material.get_status_display }}{% else %}-{% endif %}</td>
        <td>{% if progress_material %}{{ progress_material.percent|floatformat:"0" }} %{% else %}-{% endif %}</td>
        <td>
	  {% if SIDEBAR == "progress-account" %}
	  
	  {% if material.type == 0 %}
	  
	  {% if progress and progress_program %}
	  <a href="{% url 'dashboard:progress:course_material_account_program' progress_material.id progress.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% else %}
          <a href="{% url 'dashboard:progress:course_material_account' progress_material.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}
	  
	  {% elif material.type == 3 %}
	  
	  {% if progress_program %}
	  <a href="{% url 'dashboard:progress:detail_account_program_course' progress_material.id progress_program.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% else %}
	  <a href="{% url 'dashboard:progress:detail_account_course' progress_material.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}
	  
	  {% endif %}
	  {% elif SIDEBAR == "progress-course" %}

	  {% if material.type == 0 %}
	  <a href="{% url 'dashboard:progress:course_material' progress_material.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif material.type == 3 %}
	  <a href="{% url 'dashboard:progress:detail_course_question' progress_material.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}

	  {% elif SIDEBAR == "progress-program" %}

	  {% if material.type == 0 %}
	  <a href="{% url 'dashboard:progress:course_material_program' progress_material.id progress.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif material.type == 3 %}
	  <a href="{% url 'dashboard:progress:detail_course_question_program' progress_material.id progress.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}	  
	  
	  {% elif SIDEBAR == "progress-onboard" %}

	  {% if material.type == 0 %}
	  <a href="{% url 'dashboard:progress:course_material_onboard' progress_material.id progress.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif material.type == 3 %}
	  <a href="{% url 'dashboard:progress:detail_course_question_onboard' progress_material.id progress.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}
	  
	  {% endif %}
        </td>
      </tr>
      {% endfor %} {% empty %}
      <tr>
        <td colspan="9">
          <div class="no-item">No outline.</div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "dashboard/paginator.html" with content_list=progress_list %}
</div>
