{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load duration_tags %}
{% load department_tags %}
{% load progress_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header">
    <h3 class="clear-pad"><strong>Progress Log</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>No</th>
            <th>Time Spending</th>
            <th>Progress</th>
            <th>Action</th>
            <th>Time Stamp</th>
          </tr>
        </thead>
        <tbody>
          {% for log in log_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ log.duration|duration }}</td>
            <td>{{ log.percent }} %</td>
            <td>{{ log.get_action_display }}</td>
            <td>{{ log.timestamp }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9">
              <div class="no-item">No Log.</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=progress_list %}
    </div>
  </div>
  </div>
{% endblock %}
