{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load duration_tags %}
{% load department_tags %}
{% load progress_tags %}
{% load question_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h3 class="clear-pad"><strong>Learner's {{ content_type_name|title }} Progress Detail</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-sm-4">
        {% include "account/dashboard/info_block.html" %}
        {% comment %}
        <p><span class="text-muted">Direct Manager:</span> -</p>
        {% endcomment %}
        {# <p><a href="{{ account_url }}" class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-comment-alt-text"></i> See Learner's Progress Summary</a></p> #}
      </div>
      <div class="col-sm-8 bg-light-gray">
 	{% include "content/dashboard/desc_block.html" %}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-8">
        {% if content_location.parent1_content != -1 or content_location.parent2_content != -1 %}
	{% with parent=content_location.get_parent %}
        <h4 class="info-inline">
          <img src="{% if parent.content.image %}{{ parent.content.image.url }}{% else %}{% static 'images/default-pic-square.png' %}{% endif %}" class="cover" />
          <span>
            <strong class="f-20">Course Location: {{ parent.name }}</strong>
          </span>
        </h4>
	{% endwith %}
        {% endif %}
        <h4>Learning status : <span class="{% if progress.status == 1 %}text-in-progress{% elif progress.status == 2 %}text-completed{% elif progress.status == 3 %}text-fail{% elif progress.status == 4 %}text-expired{% endif %} text-center">{{ progress.get_status_display }}<span></h4>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress rounded">
              <div class="progress-bar" style="width:{% if progress %}{{ progress.percent|floatformat }}{% else %}0{% endif %}%"></div>
            </div>
          </div>
          <div class="col-xs-2">
            <h3 class="m-0" style="margin-top:-5px !important;">{% if progress %}{{ progress.percent|floatformat:"0" }}{% else %}0{% endif %}%</h3>
          </div>
        </div>
        {% if progress and content_type.app_label == "program" %}
	<p class="clear-pad">You completed {{ progress.content_complete }} out of {{ progress.content_count }} items</p>
	{% elif progress %}
        <p class="clear-pad">You completed {{ progress.material_complete }} out of {{ progress.material_count }} items</p>
        {% endif %}
      </div>
      <div class="col-sm-4 m-t-10">
        <span class="text-muted">• Added date:</span> {{ order_item.order.timecomplete }}<br />
        <span class="text-muted">• Expired date:</span> {% if order_item.expired_date %}{{ order_item.expired_date }}{% else %}Not start{% endif %}<br />
        <span class="text-muted">• Days left:</span> {{ order_item.expired_day }}<br />
        <span class="text-muted">• Time Spending:</span> {{ progress.duration|duration }}<br />
        <span class="text-muted">• Credit left:</span> {{ order_item.credit_remain_hour }}<br />
      </div>
    </div>
    <hr />
    {% if content_type.app_label == "course" %}
    {% include "progress/dashboard/course_block.html" %}
    {% elif content_type.app_label == "question" %}
    {% score_location_tag progress.item content account content_location as score_list %}
    {% include "progress/dashboard/question_block.html" %}
    {% elif content_type.app_label == "program" %}
    {% include "progress/dashboard/program_block.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
