<ul class="actions">
  <li>
    <form action="" method="post">{% csrf_token %}
      <div class="actionBar">
        {% include "dashboard/fragment/filter_search.html" %}
      </div>
    </form>
  </li>
  {#% if เป็น Direct Manager @Kang %#}
  <li>
    <form class="filter_provider" action="" method="post">{% csrf_token %}
      <div class="actionBar" style="width:200px;">
        {% include "dashboard/fragment/filter_provider.html" %}
      </div>
    </form>
  </li>
  {#% endif %#}
  <li>
    <form class="filter_category" action="" method="post">{% csrf_token %}
      <div class="actionBar">
        {% include "dashboard/fragment/filter_category.html" %}
      </div>
    </form>
  </li>
</ul>
