{% load static %}

<div class="card-header">
  <h3 class="clear-pad"><strong>{{ content_type_name|capfirst }} Location : {{ progress_content_location_list.count }} Locations</strong></h3>
</div>
<div class="card-body card-padding">
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Location</th>
          <th>Create Date</th>
          <th>Total Added</th>
          <th class="bg-in-progress-light">In Progress</th>
          <th class="bg-completed-light">Completed</th>
          <th class="bg-failed-light">Failed</th>
          <th class="bg-expired-light">Expired</th>
          <th>% Completed</th>
          {# <th>See Details</th> #}
        </tr>
      </thead>
      <tbody>
        {% for progress_content_location in progress_content_location_list %}
	    {% with content=progress_content_location.get_content %}
        <tr>
          <td>
            {% if content.image %}<img src="{{ content.image.url }}" class="cover" />
            {% else %}<img src="{% static 'images/default-pic-square.png' %}" class="cover" />
            {% endif %}
          </td>
          <td class="text-left">{{ progress_content_location.location.get_parent.name }}</td>
          <td>{{ progress_content_location.location.timestamp }}</td>
          <td>{{ progress_content_location.count }}</td>
          <td class="bg-in-progress-light">{{ progress_content_location.in_progress }}</td>
          <td class="bg-completed-light">{{ progress_content_location.completed }}</td>
          <td class="bg-failed-light">{{ progress_content_location.failed }}</td>
          <td class="bg-expired-light">{{ progress_content_location.expired }}</td>
          <td>{{ progress_content_location.get_percent }}%</td>
	  {% comment %}
          <td>
            <a href="{{ progress.url_progress }}" class="btn bgm-blue btn-sm waves-effect">
              <i class="zmdi zmdi-eye"></i>
            </a>
          </td>
	  {% endcomment %}
        </tr>
	{% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
