{% extends "dashboard/base.html" %}
{% load static %}
{% load department_tags %}

{% block jquery %}
$( document ).ready(function() {
    $('#submit').click(function(){
        date1 = $('#datetime1').val()
        date2 = $('#datetime2').val()
        
        if(date1 == null || date1 == ''){
            alert('Please fill start date.')
            return false
        }
        else if(date2 == null || date2 == ''){
            alert('Please fill end date.')
            return false
        }
        HTMLFormElement.prototype.submit.call(document.getElementById("form"))
    })
});


{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Login Report</strong></h2>
    </div>
    <div class="card-header">
        <form method="POST" id="form" action="{% url 'dashboard:account:content_department_report' %}">
            {% csrf_token %}
            Date : <input type="text" placeholder="YYYY-MM-DD" name="datetime1" id="datetime1" style="height:43px; border-top:1px solid white; border-right:1px solid white; border-left:1px solid white; text-align:center;"> To <input placeholder="YYYY-MM-DD" style="text-align:center; height:43px; border-top:1px solid white; border-right:1px solid white; border-left:1px solid white;" type="text" name="datetime2" id="datetime2">
            <select class="form-control" id="q_department" name="q_department" style="margin-left:10px; height:43px; width:200px; display:inline-block;">
                <option value="-1">All Departments</option>
                {% for department in q_department_list %}
                    <option value="{{ department.id }}" {% if department.id == q_department %}selected{% endif %}>{{ department.name|capfirst }}</option>
                    {% filter_tag department q_department 0 %}
                {% endfor %}
	        </select>
            <button type="button" style="background-color:#607d8b; color:white; border-radius:2px; border:none; height:43px; padding:0px 30px 0px 30px; margin-left: 10px;" id="submit">Report</button>
        </form>     
    </div>
</div>

{% endblock %}