{% load static %}
{% load content_tags %}
{% load progress_tags %}
{% load category_tags %}

{% get_content_type_tag "program" "program" as content_type_program %}
{% get_content_type_tag "program" "onboard" as content_type_onboard %}

<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
	<th>No</th>
	<th>Cover</th>
	<th>Content</th>
	<th>Type</th>
	<th>Category</th>
	<th>Status</th>
	<th>Progress</th>
	<th>See Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for item in content.item_set.all %}
      {% pull_content_type_tag item.content_type_id as item_content_type %}
      {% get_content_tag item.content_type_id item.content as item_content %}
      {% get_content_type_name_tag item_content_type as item_content_type_name %}
      
      {% if content_type.model == "onboard" %}
      {% pull_content_location_first_tag item_content_type item.content content_type_onboard content.id None -1 None -1 as content_location_item %}
      {% else %}
      {% pull_content_location_first_tag item_content_type item.content content_type_program content.id None -1 None -1 as content_location_item %}
      {% endif %}
      
      {% pull_progress_tag order_item content_location_item item_content_type item.content as item_progress %}
      {% pull_category_tag item_content.category_id as item_category %}
      
      {% if item_content_type.app_label == "milestone" %}
      <tr>
	<td colspan="99" class="bg-info">
	  <h4 class="text-dark-gray"><i class="zmdi zmdi-flag zmdi-hc-fw"></i> {{ item_content.name }}</h4>
	</td>
      </tr>
      {% else %}
      <tr>
	<td>{{ forloop.counter }}</td>
	<td>
	  {% if item_content.image %}<img src="{{ item_content.image.url }}" />
	  {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
	  {% endif %}
	</td>
	<td class="text-left">{{ item_content.name }}</td>
	<td>{{ item_content_type_name|capfirst }}</td>
	<td>{{ item_category.name|check_none }}</td>
	<td>{{ item_progress.get_status_display }}</td>
	<td>{{ item_progress.percent|floatformat:"0" }} %</td>
	<td>
	  {% if SIDEBAR == "progress-account" and item_content_type.app_label != "task" %}
	  <a href="{% url 'dashboard:progress:detail_account_program' item_progress.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
	    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
	  </a>
	  {% elif SIDEBAR == "progress-program" and item_content_type.app_label != "task" %}
	  <a href="{% url 'dashboard:progress:detail_program_item' item_progress.id content.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
	    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
	  </a>	  
	  {% elif SIDEBAR == "progress-onboard" and item_content_type.app_label != "task" %}
	  <a href="{% url 'dashboard:progress:detail_onboard_item' item_progress.id content.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
	    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
	  </a>	  
	  {% endif %}
	  {% comment %}
	  {% if item_content_type.app_label == "task" %}
	  
	  {% else %}
	  <a href="{% url 'dashboard:progress:detail_program' item_progress.id progress.id %}" class="btn bgm-blue btn-sm waves-effect">
	    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
	  </a>
	  {% endif %}
	  {% endcomment %}
	</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
