{% load question_tags %}

<div class="table-responsive p-t-10">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="bg-expired text-white">Test History</th>
        <th class="bg-expired text-white">Submit Date</th>
        <th class="bg-expired text-white">Test Score</th>
        <th class="bg-expired text-white">Test Result</th>
        <th class="bg-expired text-white">View Details</th>
      </tr>
    </thead>
    <tbody>
      {# {% for submit_num in content.get_submit_list %} #}
      {% for submit_num in score_list %}
      {% score_tag content_location forloop.counter score_list as score %}
      <tr>
        <td>Submit #{{ forloop.counter }} {{ score }}</td>
	{% if not score %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
	{% else %}
        <td>
	  {% if score.status == 5 %}
	  -
	  {% else %}
	  {{ score.timestamp }}
	  {% endif %}
	</td>
        <td>
	  {% if score.status == 5 %}
	  <span class="text-red">Waiting to verify</span>
	  {% else %}
	  {{ score.score }}/{{ score.max_score }}
	  {% endif %}
	</td>
        <td>
	  {% if score.status == 2 %}
	  <strong class="text-green">COMPLETED</strong>
	  {% elif score.status == 3 %}
	  <strong class="text-red">FAILED</strong>
	  {% elif score.status == 5 %}
	  -
	  {% endif %}
	</td>
        <td>
	  {% if SIDEBAR == "progress-account" %}
	  {% if progress_program and progress_course %}
	  <a href="{% url 'dashboard:progress:question_score_account_program_course' progress.id score.id progress_program.id progress_course.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>	  
	  {% elif progress_program %}
	  <a href="{% url 'dashboard:progress:question_score_account_program' progress.id score.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>	  
	  {% elif progress_course %}
          <a href="{% url 'dashboard:progress:question_score_account_course' progress.id score.id progress_course.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>	  
	  {% else %}
          <a href="{% url 'dashboard:progress:question_score_account' progress.id score.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}
	  {% elif SIDEBAR == "progress-course" %}
          <a href="{% url 'dashboard:progress:question_score_course' progress.id score.id progress_course.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif SIDEBAR == "progress-question" %}
          <a href="{% url 'dashboard:progress:question_score' progress.id score.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif SIDEBAR == "progress-program" and progress_course %}
          <a href="{% url 'dashboard:progress:question_score_program_course' progress.id score.id progress_program.id progress_course.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% elif SIDEBAR == "progress-program" %}
          <a href="{% url 'dashboard:progress:question_score_program' progress.id score.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>	  
	  {% elif SIDEBAR == "progress-onboard" %}
          <a href="{% url 'dashboard:progress:question_score_onboard' progress.id score.id progress_program.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
	  {% endif %}
        </td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
