<div class="card-body card-padding text-center progress-summary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 p-l-0" style="margin-top:-30px;">
        <h4>Total Add {{ progress_result.count__sum }}</h4>
        <canvas id="pieChart" width="350" height="280"></canvas>
      </div>
      <div class="col-sm-8">
        <canvas id="barChart" width="700" height="300"></canvas>
      </div>
    </div>
  </div>
</div>
