<ul class="tab-nav text-center">
    {% if not perms.progress.view_own_progress %}
    <li {% if TAB == "home" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:progress:account' %}">Progress By Learners</a>
    </li>
    {% endif %}
    <li {% if TAB == "course" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:progress:course' %}">Progress By Courses</a>
    </li>
    <li {% if TAB == "program" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:progress:program' %}">Progress By Programs</a>
    </li>
    {% if PROJECT != "unilever" %}
    <li {% if TAB == "onboard" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:progress:onboard' %}">Onboard Progress</a>
    </li>
    {% endif %}
</ul>
