{% extends "base.html" %}
{% load static %}

{% block meta_facebook %}
<meta itemprop="name" content="{{ BASE_NAME }} - {{ TITLE|striptags|default:"Learning without boundary " }}">
<meta property="fb:app_id" content="{{ FB_APP_ID }}" />
<meta property="og:title" content="{{ TITLE|striptags|default:"AIS LearnDi" }}" />
<meta property="og:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta property="og:site_name" content="AIS LearnDi " />
<meta property="og:image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisondemand/images/customize/icon-app.png" %}{% endif %}" />
{% endblock %}

{% block meta_twitter %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="{{ TITLE|striptags|default:"AIS LearnDi "}}" />
<meta name="twitter:creator" content="" />
<meta name="twitter:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC}}" />
<meta name="twitter:image:src" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisondemand/images/customize/icon-app.png" %}{% endif %}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block project_identity %}
<meta name="author" content="AIS">
<meta itemprop="image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisondemand/images/customize/icon-app.png" %}{% endif %}">
<title>AIS LearnDi</title>
<link rel="shortcut icon" href="{% static "aisondemand/images/customize/favicon.ico" %}">
<link rel="shortcut icon" href="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisondemand/images/customize/icon-app.png" %}{% endif %}">
<link rel="apple-touch-icon" href="{% static "aisondemand/images/customize/icon-app.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "aisondemand/images/customize/icon-app.png" %}">
{% endblock %}

{% block apple_safari_controls %}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="AIS LearnDi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="{% static "aisondemand/images/customize/icon-app.png" %}">
<link rel="apple-touch-startup-image" href="{% static "aisondemand/images/customize/launch.png" %}">
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "aisondemand/css/theme.css" %}">
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}AIS{% endblock %}

{% block bodyclass %}
{% if IS_WEBVIEW %}clear-pad{% endif %}
{% endblock %}

{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
{% if not IS_WEBVIEW %}
<div id="footer" class="container-fluid top-pad text-center grey">
  Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Advanced Info Services PLC. All Rights Reserved.
</div>
{% endif %}
{% endblock %}

{% block modal %}
{% if not user.is_authenticated %}
{% include "main/modal/modal_authen.html" %}
{% endif %}
{% include "main/modal/modal_strict.html" %}
{% endblock %}
