{% extends "base.html" %}
{% load staticfiles %}
{% block footer %}{% endblock %}
{% block content %}
<div id="login-page">
    <div class="main center2D text-center">
        <img src="{% static logo_path|default:'mcdonalds/images/customize/logo.png' %}" class="logo fade-in-up" />
				{% if is_show %}
        <form class="fade-in-up-delay" method="post">{% csrf_token %}
						<h3>ลืมรหัสผ่านหรือเปล่า?</h3>
						<h5>กรอกอีเมลที่คุณใช้งานและกดปุ่มด้านล่าง</h5><br />
	          <p><input name="email" type="email" placeholder="Email" autofocus></p>
	          <p><button type="submit" class="btn-block btn-main-color btn-lg">ทำต่อไป</button></p>
	      </form>
	      {% endif %}
				{% if msg != None %}
				<h4>{{ msg }}</h4>
				{% endif %}
        <br /><br />
        <h4><a href="/" class="white"><i class="fa fa-arrow-left"></i> ย้อนกลับ</a></h4>
    </div>
</div>
{% endblock %}
