{% load i18n %}
{% load department_tags %}
<div class="col-sm-8">
    <h2 class="top-pad">{% trans "My Profile" %}</h2><br />
    <p><strong>{% trans "Full name" %} :</strong> <span>{{ user.first_name }} {{ user.last_name }}</span></p><br />
    <p><strong>{% trans "Email" %} :</strong> <span>{{ user.email }}</span></p><br />
    <p><strong>{% trans "Organization" %} : </strong> <span>{% for department_member in user.department_member_set.all %}{{ department_member.department_id|department_name_tag|capfirst }} {% empty %}-{% endfor %}</span></p>
</div>
