{% extends "base.html" %}
{% load staticfiles %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block jquery %}
$("#form-login-mc").submit(function(event) {
    var element = this;
    var request = $.ajax({
        url: "/account/login/",
        type: "POST",
        data: {
            email: this.email.value + '@conicle.com',
            password: this.password.value,
            ref: this.ref.value,
            next: this.next.value
        },
        dataType: "json",
        beforeSend: function(request) {
            return request.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
        }
    }).done(function(msg) {
        if (msg.status == 200) {
            $('#loginModal').modal('hide');
            window.location = msg.result.link;
        } else {
            $('.error-msg', element).fadeIn().html(msg.status_msg);
        }
    }).fail(function(jqXHR, textStatus) {
        console.log('#form-login fail');
    });
    event.preventDefault();
});
{% endblock %}
{% block content %}
<div id="login-page">
    <div class="main center2D text-center">
        <img src="{% static logo_path|default:'mcdonalds/images/customize/logo.png' %}" class="logo fade-in-up" />
        <form id="form-login-mc" class="fade-in-up-delay">{% csrf_token %}
            <div class="text-left">
                <p class="top-margin-little">รหัสพนักงาน</p>
                <p><input name="email" type="text" placeholder="Employee ID" autofocus /></p>
                <p class="top-margin-little">รหัสผ่าน</p>
                <p><input name="password" type="password" placeholder="Password" /></p>
                <p class="top-margin-little">
                    <input id="remember" name="remember" type="checkbox" />
                    <label for="remember">จำรหัสผ่าน</label>
                    <!-- <a href="{% url 'forgot_password' %}" class="pull-right" style="margin-top:2px;">ลืมรหัสผ่าน?</a> -->
                </p>
            </div>
            <input type="hidden" name="ref" value="{{ ref }}" />
            <input type="hidden" name="next" value="{{ next }}" />
            <p class="error-msg top-margin-little" style="display:none;">Error Message</p>
            <p class="top-margin-little"><button type="submit" class="btn-block">เข้าสู่ระบบ</button></p>
        </form>
    </div>
</div>
{% endblock %}
