{% extends "base.html" %}

{% block page_name %}tutor-detail{% endblock %}

{% block content %}
<div class="wrap-headline" style="{% if tutor.image_cover %}background-image:url({{ tutor.image_cover.url }});{% endif %}">
  <div class="shadow"></div>
  <div class="container relative">
    <div class="wrap-tutor-profile vertical-middle">
      <div class="tutor-profile-pic">
	      {% if tutor.image %}<img src="{{ tutor.image.url }}" class="avatar" />{% endif %}
        {% comment %}<i class="fa fa-check verify-icn"></i>{% endcomment %}
      </div>
      <div class="tutor-about">
        <h1><strong>{{ tutor.name }}</strong></h1>
      </div>
    </div>
  </div>
</div>

{% if tutor.desc|length > 0 %}
<div class="quote bg-white">
  <div class="box-wrapper-parody">
    <h4>{{ tutor.desc }}</h4>
  </div>
</div>
{% endif %}

<ul class="box-wrapper" {% if tutor.desc|length == 0 %}style="margin-top:80px;"{% endif %}>
  <h4 class="bold main-color">Courses by {{ tutor.name }}</h4>
  {% if course_list|length > 0 %}
  {% for course in course_list %}
  {% include "course/item_cached_new.html" %}
  {% endfor %}
  {% else %}
  <h4 class="no-item">No teaching course.</h4>
  {% endif %}
</ul>

{% if tutor.providers.all|length > 0 %}
<ul class="box-wrapper li-no-border">
  <h4 class="bold main-color">{{ tutor.name }}'s Learning Centers</h4>
  {% for provider in tutor.providers.all %}
  {% include "provider/item_block.html" %}
  {% endfor %}
</ul>
<br class="clear" />
{% endif %}


{% endblock %}
