{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block content %}
<div class="wrap-headline banner-instructor">
</div>
<ul class="box-wrapper">
    <h1>Instructor{% if tutor_list|length > 1 %}s{% endif %}</h1>
    {% for tutor in tutor_list %}
    {% include "tutor/item_tutor.html" %}
    {% empty %}
    <h4 class="no-item">No instructors.</h4>
    {% endfor %}
</ul>
<br class="clear" />
{% endblock %}
