{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}
<li class="item-list col-sm-6 no-pad-xs">
    <a href="{% url 'tutor:detail' tutor.id %}">
        <img src="{% if tutor.image %}{{ tutor.image.url }}{% endif %}" class="avatar" />
        <h4>{{ tutor.name }}</h4>
        <p>{{ tutor.desc }}</p>
        <i class="fa fa-chevron-right"></i>
    </a>
</li>
