
{% load staticfiles %}
<div class="wrap-directory bg-grey">
   <div class="container clearfix">
      <div class="row">
            <div class="col-xs-12"><h2 class="main-color">Web Directory <i class="fa fa-sitemap"></i></h2></div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>คู่มือ Click</h3>
               <p class="grey"><a href="{% url 'manual:preface' %}">พี่บ๊อบ Say hi! </a></p>
               <p class="grey"><a href="{% url 'manual:why' %}">ทำไมต้องคลิก</a></p>
               <p class="grey"><a href="{% url 'manual:learn' %}">วิธีการเรียน</a></p>
               <p class="grey"><a href="{% url 'manual:order' %}">วิธีการสั่งซื้อ</a></p>
               <p class="grey"><a href="{% url 'manual:payment' %}">วิธีการชำระเงิน</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>คอร์สเรียน</h3>
               <p class="grey"><a href="{% url 'course:group' 'free' %}">คอร์สฟรี</a></p>
               <p class="grey"><a href="{% url 'course:group' 'intensive' %}">คอร์สเพิ่ม GPA</a></p>
               <p class="grey"><a href="{% url 'course:group' 'admission' %}">คอร์สติว Admission</a></p>
               {% comment %}
               <p class="grey"><a href="">คอร์สแนะนำ</a></p>
               <p class="grey"><a href="">คอร์สตาม Season</a></p>
               {% endcomment %}
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>โปรโมชั่น</h3>
               <p class="grey"><a href="{% url 'promotion' %}">โปรคุ้มสุดฟิน</a></p>
               {% comment %}
               <p class="grey"><a href="{% url 'promotion_sci' %}">เหมาๆ สายวิทย์ 1,199</a></p>
               <p class="grey"><a href="{% url 'promotion_art' %}">เหมาๆ สายศิลป์ 999.-</a></p>
               {% endcomment %}
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>Highlights</h3>
               <p class="grey"><a href="{% url 'course:home' %}">คอร์สแนะนำ</a></p>               
               <p class="grey"><a href="{% url 'lesson:category_featured' %}">มุมความรู้</a></p>
               {% for lesson_highlight in HIGHLIGHT_LESSON %}
               <p class="grey"><a href="{% url 'lesson:category' lesson_highlight.id %}">{{ lesson_highlight.menu }}</a></p>
               {% endfor %}
               {% comment %}
               <p class="grey"><a href="">คลิกมีสาระ</a></p>
               <p class="grey"><a href="">คลิกมีความรัก</a></p>
               <p class="grey"><a href="">คลิกวาไรตี้</a></p>
               {% endcomment %}
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>เส้นทางสู่มหาวิทยาลัย</h3>
               <p class="grey"><a target="_blank" href="http://scanfuture.clickforclever.com/">Scan Future</a></p>
               {% comment %}
               <p class="grey"><a href="">กิจกรรม</a></p>
               {% endcomment %}
               <p class="grey"><a href="{% url 'course:group' 'trick' %}">Click For Trick</a></p>
               <p class="grey"><a target="_blank" href="http://clickforu.clickforclever.com/">Click For U</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
               <h3>ติดต่อคลิก</h3>
               <p class="grey"><a href="{% url 'contact' %}">ติดต่อคลิก</a></p>
               <p class="grey"><a href="{% url 'manual:faq' %}">Q&A</a></p>
               <p class="grey"><a href=""></a></p>
               <p class="grey"><a href=""></a></p>
            </div>
       </div>
   </div>
</div>
