{% load staticfiles %}
<li><a href="{% url 'course:home' %}">คอร์สเรียน</a></li>
<li><a href="{% url 'course:group' 'free' %}">ติวฟรี</a></li>
<li><a href="{% url 'course:group' 'intensive' %}">ติวเพิ่มเกรด</a></li>
<li><a href="{% url 'course:group' 'admission' %}">ติว Admission</a></li>
<li><a href="{% url 'course:course_subject' 'O-Net' %}">O-Net</a></li>
<li><a href="{% url 'course:course_subject' 'GAT-PAT' %}">GAT/PAT</a></li>
<li><a href="{% url 'course:course_subject' '7-Subject' %}">7 วิชาสามัญ</a></li>
<li><a href="{% url 'course:course_subject' 'Quota' %}">โควต้า</a></li>
<li><a href="{% url 'course:group' 'trick' %}">เทคนิคคณิตคิดเร็ว</a></li>
