{% load staticfiles %}
<li><a href="{% url 'manual:preface' %}">พี่บ๊อบ Say hi!</a></li>
<li><a href="{% url 'manual:why' %}">ทำไมต้องคลิก</a></li>
<li><a href="{% url 'manual:learn' %}">วิธีการเรียน</a></li>
<li><a href="{% url 'manual:order' %}">วิธีสั่งซื้อ</a></li>
<li><a href="{% url 'manual:payment' %}">วิธีชำระเงิน</a></li>
