{% load staticfiles %}
<li><a href="{% url 'profile' %}">คอร์สของฉัน</a></li>
<li><a href="{% url 'order:home' %}">ตระกร้า</a></li>
<li><a href="{% url 'coin:list' %}">ซื้อคลิก</a></li>
<li><a href="{% url 'order:history_tranfer' %}">แจ้งชำระเงิน</a></li>
<li><a href="{% url 'order:history' %}">ประวัติการสั่งซื้อ</a></li>
<li><a href="{% url 'lesson:create' %}">แชร์ความรู้นอกห้อง</a></li>
<li><a href="{% url 'profile_edit' %}">แก้ไขข้อมูลส่วนตัว</a></li>
{% comment %}
<li><a href=""><span class="badge">จำนวนคลิกที่มี {{COIN_VOLUME}} คลิก</span></a></li>
{% endcomment %}
<li><a href="{% url 'account:logout' %}">ออกจากระบบ</a></li>
