{% load staticfiles %}
<li><a href="{% url 'contact' %}">ติดต่อเรา</a></li>
<li><a href="{% url 'user_report' %}">แจ้งปัญหาการใช้งาน</a></li>
<li><a href="{% url 'manual:faq' %}">คำถามที่พบบ่อย</a></li>
