{% load staticfiles %}
<link href="{% static 'aisondemand/css/dashboard_theme.css' %}" rel="stylesheet" />
<link rel="shortcut icon" href="{% static "aisondemand/images/customize/favicon.ico" %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="AIS LearnDi Dashboard">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="{% static "aisondemand/images/customize/icon-app.png" %}">
<link rel="apple-touch-startup-image" href="{% static "aisondemand/images/customize/launch.png" %}">
