{% load staticfiles %}

<div class="container">
  <div class="row vertical-middle top-pad bottom-pad-20">
    <div class="col-xs-8">
      <h1 class="clear-pad main-color">{{ live.name }}</h1>
      {% if live.tutor_list|length > 0 %}
      <span class="black">By
        {% for tutor in live.tutor_list %}
        <img src="{{ tutor.image.url }}" class="avatar" />
        {% endfor %}
      </span>
      {% endif %}
    </div>
    <div class="col-xs-4 text-right">
      {% include 'live/fragment/showtime.html' %}
    </div>
  </div>
</div>


<div class="container-fluid live-stage">
  <div class="row">
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-8 live-stage-center">
      <div id="box-live-status" style="display:none;">
        <img src="{{ live.image.url }}" class="center-block img-responsive blur">
        <h1 class="text-center center2D live-message">This Live is Upcoming.</h1>
      </div>
      <div id="box-live"  style="display:none;">
        <div id="hlsjslive" class="is-closeable"></div>
      </div>
      {% comment %}
      {% if live.status == 0 %}
      <!-- BEFORE LIVE (You)-->
      <img src="{{ live.image.url }}" class="center-block img-responsive blur">
      <h1 class="text-center center2D">This Live is Upcoming.</h1>
      {% elif live.status == 1 %}
      <!-- LIVE PLAY VIDEO -->
      <div id="hlsjslive" class="is-closeable"></div>
      {% elif live.status == 2 or live.status == 3 %}
      <!-- LIVE END (You) -->
      <img src="{{ live.image.url }}" class="center-block img-responsive blur">
      <h1 class="text-center center2D">Live End.</h1>
      <!-- Convert -->
      <div id="hlsjslive" class="is-closeable"></div>
      {% elif live.status == 4 %}
      <!-- PLAY BACK -->
      {% endif %}
      {% endcomment %}
    </div>
    <div class="col-sm-12 col-md-2"></div>
  </div>
</div>
