{% load finance_tags %}
<div class="container">
		<div class="row">
				<div class="col-sm-5 course-preview-img">
						<img src="{{ live.image.url }}" />
				</div>
				<div class="col-sm-7">
						<h1 class="main-color">{{ live.name }}</h1>
						<h4 class="grey">Live</h4>
          	{% for tutor in live.tutor.all %}
							{% if tutor.image %}
			        <a href="#"><img src="{{ tutor.image.url }}" class="avatar"></a>
			        {% endif %}
					  {% endfor %}
						<div class="price top-margin-little">
								{% if live.price.discount == -1 %}
								<h3 class="red">{{ live.price.net|price_tag }}</h3>
								{% else %}
								<h3>
										<span class="black line-through">{{ live.price.price|price_tag }}</span>
										<span class="main-color">{{ live.price.discount|price_tag }}</span>
								</h3>
								{% endif %}
						</div>
						<div class="row top-margin-more-little">
								<div class="col-xs-12 col-sm-6">
										{% if not user.is_authenticated %}
										<a onclick="openLoginModal('')" class="btn-block btn-black btn-lg">ADD</a>
										{% else %}
											{% if is_require_permission %}
											<a data-toggle="modal" data-target="#classAuthorizedModal" class="btn-block btn-black btn-lg">ADD</a>
											{% else %}
											<a href="{% url 'live:checkout' live.id %}" class="btn-block btn-black btn-lg">ADD</a>
											{% endif %}
										{% endif %}
								</div>
						</div>
				</div>
		</div>
</div>
