<ul class="navi-tabs clearfix">
	<li class="{% if TAB == 'upcoming' %}active{% endif %}"><a href="{% url 'live:home' %}">Live & Upcoming</a></li>
	<li class="{% if TAB == 'previous' %}active{% endif %}"><a href="{% url 'live:previous' %}">Previous Live</a></li>
</ul>
