{% load finance_tags %}
<div class="top-pad bottom-pad">
	{% for group_key, group_val in live_group.items %}
	{% if forloop.first %}<hr>{% endif %}
	<h3><b>{{ group_key }}</b></h3>
	<div class="live-item-list">
		{% for live in group_val.live_list %}
		<div  class="live-item {% if live.status == 1 %}active{% endif %}"> <!-- Class .active will change the background color of the button and time to blue -->
			{% include 'live/fragment/showtime.html' %}
			<div class="live-body">
				<a href="{% url 'live:detail' live.id %}" class="live-thumb"><img src="{{ live.image.url }}" alt="" class="img-responsive"></a>

				<div class="live-content">
					<h4 class="no-top-margin">{{ live.name }}</h4>
					<div class="clearfix speaker-wrap">
						{% for tutor in live.tutor.all %}
							{% if tutor.image %}
							<img src="{{ tutor.image.url }}" alt="" class="speaker-thumb img-circle">
							{% endif %}
						{% endfor %}
					</div>

					<div class="live-action">
						{% if live.price.discount == -1 %}
						<div class="price red">{{ live.price.net|price_tag }}</div>
						{% else %}
						<div class="price"><span class="line-through">{{ live.price.price|price_tag }}</span> <span class="main-color">{{ live.price.discount|price_tag }}</span></div>
						{% endif %}

						{% if live.status == 1 %}
						<a href="{% url 'live:detail' live.id %}" type="button" class="btn-block btn-black">Watch Now!</a>
						{% else %}
						<a href="{% url 'live:detail' live.id %}" type="button" class="btn-block btn-black">See detail</a>
						{% endif %}
					</div>

				</div>
			</div>
		</div><!-- /.live-item -->
		{% endfor %}
	</div><!-- /.live-item-list -->
	{% empty %}
	<h4 class="no-item">No live events.</h4>
	{% endfor %}
</div><!-- /.tab-content -->
</div>
