<div class="live-time {% if live.status == 1 %}active{% endif %}">
	{% if live.status == 1 %}
	<strong>LIVE<br />NOW</strong>
	{% else %}
	<strong>{{ live.start|date:"d" }}</strong><br />
	<span>{{ live.start|date:"M y" }}</span>
	<hr>
	<span class="time">{{ live.start|date:"H:i" }}-{{ live.end|date:"H:i" }}</span>
	{% endif %}
</div>
