{% extends "console/base_console.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if msg == -1 %}
      <div class="alert alert-success" role="alert">สำเร็จ</div>
      {% elif msg != None and msg != -2 %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
      {% endif %}
      <div class="input-group">
	From : <input type="text" class="form-control" name="from" placeholder="Account.id" value="{{ account_from.id }}">
	<br/>
	To : <input type="text" class="form-control" name="to" placeholder="Account.id" value="{{ account_to.id }}">
	<br/>
	{% if msg == -2 %}
	<div class="alert alert-warning" role="alert">
	  Confirm Move.<br/>
	  From: {{ account_from.id }} {{ account_form.email }} {{ account_form.first_name }} {{ account_form.last_name }}<br/>
	  To: {{ account_to.id }} {{ account_to.email }} {{ account_to.first_name }} {{ account_to.last_name }}<br/>
	  <button class="btn btn-default" type="submit" name="move">Move!!</button>
	</div>
	{% else %}
        <button class="btn btn-default" type="submit">Check!!</button>
	{% endif %}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</form>
{% endblock %}
