{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="language" content="en" />
    <meta charset="utf-8">
    <title>Console</title>

    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/normalize.css" %}">
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/bootstrap.min.css" %}">
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/bootstrap-datepicker3.standalone.min.css" %}">
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/jquery.mmenu.all.css" %}">
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    {# <link media="all" type="text/css" rel="stylesheet" href="{% static "css/webfont.css" %}"> #}
    {% block headerscript %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .stat-count{
        font-size: 30px;
      }
    </style>

</head>
<body>
    <div id="fb-root"></div>
    <div>
      {% block header %}
      {% include 'console/header.html' %}{% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      {% block footer %}{% endblock %}
    </div>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript">
      {% block footerscript %}{% endblock %}
    </script>
</body>
</html>
