{% extends "console/base_console.html" %}
{% load cached_tags %}

{% block content %}
<table class="table">
  <tr>
    <th>Page</th>
    <th>Function</th>
    <th>Item Related</th>
    <th>Time Left</th>
    <th>Update</th>
  </tr>
  {% for cached_page in cached_page_list %}
  <tr class="info">
    <th>{{ cached_page }}</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for cached_key in cached_page.cachedkey_set.all %}
  <tr>
    <td></td>
    <td>{{ cached_key.function }}</td>
    <td>{{ cached_key.note }}</td>
    <td>{% cached_time_tag app cached_key key_list %}</td>
    <td><a href="{% url 'console:cached_update_do' cached_key.id %}">update</a></td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
