{% extends "console/base_console.html" %}

{% block content %}
<a href="{% url 'console:cached_stat' %}"><button type="button" class="btn btn-info">Stat</button></a>

<table class="table table-striped">
  {% for key in key_list %}
  <tr>
    <td><a href="{% url 'console:cached_detail' %}?key={{ key.key }}">{{ key.key }}</a></td>
    <td>{{ key.size }}</td>
    <td>{{ key.time }} s left.</td>
    <td><a href="{% url 'console:cached_delete' %}?key={{ key.key }}">del</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
