{% extends "console/base_console.html" %}
{% block content %}
<table class="table table-striped">
  {% for key, value in stats.items %}
  <tr>
    <td class="text-right">{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
