{% extends "console/base_console.html" %}

{% load staticfiles %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<form action="" method="post" style="margin-top:50px;">{% csrf_token %}
<table class="table table-hover">
  <tr>
    <td>#</td>
    <td>Product Id</td>
    <td>Reference Name</td>
    <td>Name</td>
    <td>Reference Name</td>
    <td>Reference Input</td>
    {% comment %}
    <td>Desc</td>
    <td>Image</td>
    {% endcomment %}
    <td class="text-center">Type</td>
    <td class="text-center">iOS InApp (Tier)</td>
    {% comment %}
    <td class="text-center">iOS InApp (Price)</td>
    {% endcomment %}
  </tr>
  {% for course in course_list %}
  <tr>
    <td>{{ course.id }}</td>
    <td>{{ INAPP_PREFIX }}.course.{{ course.id }}</td>
    <td>{{ course.id }}</td>
    <td>{{ course.name }}</td>
    <td>{{ course.reference_name }}</td>
    <td><input type="text" name="course-{{ course.id }}" value="{{ course.reference_name }}" size="30"></td>
    <td>Consumable</td>
    <td>
      <p class="text-center">x</p>
    </td>
  </tr>
  {% endfor %}
</table>
  <div class="container">
    <input class="btn btn-danger btn-lg btn-block text-center" type="submit"  value="Update All">
  </div>
</form>
{% endblock %}
