{% extends "console/base_console.html" %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert"> <strong>Group Permission!</strong> run: ./manage.py loaddata ondemand/json/group.json </div>
{% endif %}
<form action="" method="post">{% csrf_token %}
  Account email: <input type="text" name="email"><input type="submit" value=" Add ">
</form>
<table class="table table-striped">
  {% for account in account_list %}
  <tr>
    <td>{{ account.email }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
