{% extends "console/base_console.html" %}
{% load stream_tags %}

{% block content %}
<style>
  .red{
    color: #FF0000;
  }
  .green{
    color: #00FF00;
  }
</style>
<table class="table table-striped">
  <tr>
    <th>#id</th>
    <th>Name</th>
    <th>File</th>
  </tr>
  {% for course in course_list %}
  <tr>
    <td>{{ course.id }}</td>
    <td>{{ course.name }}</td>
    <td>
      {% for video in course.material_set.all %}
        {% if video.type == 2 %}
          {% if video.document %}
            <a target="_blank" href="{{video.document.url}}">{{video.document.path}}</a><br>
          {% else %}
            <p class="red">File not found</p>
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
