<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Console</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<li {% if MENU == "CACHED" %}class="active"{% endif %}><a href="{% url 'console:cached' %}">Cached</a></li>
      	<li {% if MENU == "ORDER" %}class="active"{% endif %}><a href="{% url 'console:order' %}">Order</a></li>
        {% comment %}
        <li {% if MENU == "ACCESS" %}class="active"{% endif %}><a href="{% url 'console:access' %}">Content Access</a></li>
        {% endcomment %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Content <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a  href="{% url 'console:video' %}">Video</a></li>
            <li><a  href="{% url 'console:document' %}">Document</a></li>
          </ul>
        </li>

        <li {% if MENU == "LOGINAS" %}class="active"{% endif %}><a href="{% url 'console:loginas' %}">Login As</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Report <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li class="dropdown-header">Bill Report</li>
            <li><a  href="{% url 'console:report_table' %}">Table ( All method )</a></li>
            <li><a  href="{% url 'console:report_bill' %}">Per Bill ( All method )</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Report Method</li>
            <li><a  href="{% url 'console:report_bill' %}">Order All ( Exclude Apple,Mpay )</a></li>
            <li><a  href="{% url 'console:report_bill' %}">Apple in app purchase</a></li>
            <li><a  href="{% url 'console:report_bill' %}">AIS MPay</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistics <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li class="dropdown-header">User</li>
            {% comment %}
            <li><a  href="{% url 'console:stat_user' %}">User</a></li>
            {% endcomment %}
            <li><a  href="{% url 'console:order_unsuccess' %}">Unsuccess order</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Keymetric</li>
            <li><a  href="{% url 'console:stat_keymetric' %}">Key metric</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Item Monitor <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Item</li>
            <li><a  href="{% url 'console:item_expired' %}">Item expired</a></li>
            <li><a  href="{% url 'console:item_will_expired' %}">Item will expired</a></li>
            <li><a  href="{% url 'console:item_notstart' %}">Item not start</a></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li {% if MENU == "HOME" %}class="active"{% endif %}></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li class="dropdown-header">Content</li>
            <li><a  href="{% url 'console:course_price_ios' %}">iOS Data Sheet</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Progress</li>
            <li><a href="{% url 'console:progress' %}">Video List</a></li>
            <li class="dropdown-header">Mailer</li>
            <li><a href="{% url 'console:mailer_test' %}">Test Send</a></li>
            <li class="dropdown-header">Account</li>
            <li><a href="{% url 'console:account_move' %}">Move</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
