{% extends "console/base_console.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  Institute:
  <select name="institute">
    <option value="-1">---</option>
    {% for institute in institute_list %}
    <option value="{{ institute.id }}">{{ institute.name }}</option>
    {% endfor %}
  </select>
  <br/>
  Account:
  <select name="account">
    <option value="-1">---</option>
    {% for account in account_list %}
    <option value="{{ account.id }}">{{ account }}</option>
    {% endfor %}
  </select> search email: <input type="text" name="search">
  <br/>
  <input type="submit" value="Submit">
</form>
<table class="table table-striped">
  {% for institute_account in institute_account_list %}
  <tr>
    <td>{{ institute_account.institute.name }}</td>
    <td>{{ institute_account.account }}</td>
    <td><a href="{% url 'console:loginas_go' institute_account.account.id %}?dashboard=1">GO</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
