{% extends "console/base_console.html" %}

{% load staticfiles %}

{% block headerscript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
$('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
{% endblock %}

{% block content %}
<div class="container">

	<div class="bs-example" data-example-id="hoverable-table">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Order</th>
					<th>Name</th>
					<th>Status</th>
					<th>Used</th>
					<th>Start</th>
					<th>Credit</th>
					<th>Expired</th>
					<th>Precent</th>
				</tr>
			</thead>
			<tbody>
				{% for item in item_list %}
				<tr>
					<th scope="row">#{{item.id}}</th>
					<td>{{item.order.id}}</td>
					<td>{{item.content_name}}</td>
					<td>{{item.get_status_display}}</td>
					<td>{{item.use_credit}}</td>
					<td>{{item.start}}</td>
					<td>{{item.credit_remain_hour}}</td>
					<td>{{item.expired_day}}</td>
					<td>{{item.percent}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
