{% extends "console/base_console.html" %}

{% block content %}
<div class="container" >
<form action="" method="post">{% csrf_token %}
  <center>
    {% comment %}
    <b>Search: </b><input type="text" name="q"><br/>
    <input type="submit" value=" Search ">
    {% endcomment %}
     <div class="input-group">
      <input type="text" class="form-control" name="q" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </center>
</form>
<table class="table table-striped">
  {% for account in account_list %}
  <tr>
    <td>{{ account.id }}</td>
    <td>{{ account.email }}</td>
    <td>{{ account.get_display }}</td>
    <td><a class="btn btn-success btn-xs" href="{% url 'console:loginas_go' account.id %}">Login As</a></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
