{% extends "console/base_console.html" %}
{% load cached_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% if msg == -1 %}
      <div class="alert alert-success" role="alert">สำเร็จ</div>
      {% elif msg != None %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
      {% endif %}
      <div class="input-group">
	Template :
	<select name="template" class="form-control">
	  {% for template in template_list %}
	  <option value="{{ template.id }}">{{ template.subject }}</option>
	  {% endfor %}
	</select><br/>
	Account: <input type="text" class="form-control" name="email" placeholder="Account.email">
	<br/>
        <button class="btn btn-default" type="submit">Send!</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>
{% endblock %}
