{% extends "console/base_console.html" %}
{% load humanize %}
{% block content %}

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{price|floatformat|intcomma }}</p>
    <h4 class="text-center">Sell</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{order_list|length}}</p>
    <h4 class="text-center">Order</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{total_duration}}</p>
    <h4 class="text-center">Time Access</h4>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{time_per_order}}</p>
    <h4 class="text-center">Avg time / order</h4>
  </div>
</div>
<table class="table table-striped">
  {% for order in order_list %}
  <tr class="info">
    <td>{{ order.account }}</td>
    <td>{{ order.price|intcomma  }}</td>
    <td>{{ order.discount|intcomma  }}</td>
    <td>{{ order.net|intcomma  }}</td>
    <td>{{ order.get_method_display }}</td>
    <td>{{ order.get_store_display }}</td>
    <td>{{ order.timecomplete }}</td>
    <td><a href="{% url 'console:order_progress' order.id %}">detail</a></td>
  </tr>
  <tr>
    <td> Course / Package Name</td>
    <td>Total Duration</td>
    <td>Use Credit</td>
    <td>Percent</td>
    <td>Credit</td>
    <td>Expired</td>
    <td>Start</td>
    <td>End</td>
  </tr>
  {% for item in order.item_set.all %}
  <tr>
    <td>&nbsp;&nbsp;\__ {{ item.get_name }}</td>
    <td>{{ item.total_duration }}</td>
    <td>{{ item.use_credit|intcomma   }}</td>
    <td>{{ item.percent|floatformat }} %</td>
    <td>{{ item.credit }}</td>
    <td>{{ item.expired }}</td>
    <td>{{ item.start }}</td>
    <td>{{ item.end }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
