{% extends "console/base_console.html" %}
{% load tz %}

{% block content %}
{% timezone "Asia/Bangkok" %}
<table class="table table-striped">
  {% for progress_course in progress_course_list %}
  <tr>
    <td><a href="{% url 'course:detail' progress_course.content.id %}">{{ progress_course.content.name }}</a></td>
    <td>{{ progress_course.total_duration }}</td>
    <td>{{ progress_course.percent }} %</td>
    <td>{{ progress_course.credit }}</td>
    <td>{{ progress_course.start }}</td>
    <td>{{ progress_course.get_status_display }}</td>
    <td>{{ progress_course.timestamp }}</td>
  </tr>
  {% for video in progress_course.video_set.all %}
  <tr>
    <td>&nbsp;&nbsp;\_ {{ video.id }}</td>
    <td>{{ video.video.name }}</td>
    <td>{{ video.duration }}</td>
    <td>{{ video.percent }} %</td>
    <td>{{ video.get_status_display }}</td>
    <td>{{ video.timestamp }} {{ video.timestamp|timezone:"+7" }}</td>
    <td>{{ video.timestamp_update }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endtimezone %}
{% endblock %}
