{% extends "console/base_console.html" %}
{% load humanize %}
{% block content %}

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{item_all_count|floatformat|intcomma }}</p>
    <h4 class="text-center">No of contents.</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{order_list|length}}</p>
    <h4 class="text-center">Order</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{total_duration}}</p>
    <h4 class="text-center">Time Access</h4>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <p class="text-center stat-count">{{time_per_order}}</p>
    <h4 class="text-center">Avg time / order</h4>
  </div>
</div>
<table class="table table-striped">
  {% for item in item_list %}
  <tr>
    <td>&nbsp;&nbsp;\__ {{ item.get_name }}</td>
    <td>{{ item.entry__count }}</td>
    <td>{{ item.use_credit  }}</td>
    <td>{{ item.percent }}</td>
    <td>{{ item.credit }}</td>
    <td>{{ item.expired }}</td>
    <td>{{ item.start }}</td>
    <td>{{ item.end }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
