{% extends "console/base_console.html" %}

{% load staticfiles %}

{% block headerscript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
$('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
{% endblock %}

{% block content %}
<div class="container">

	<div class="bs-example" data-example-id="hoverable-table">
		<h4>USER UNSUCCESS PAYMENT</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Email</th>
					<th>Facebook ID</th>
					<th>Name</th>
					<th>Tel</th>
					<th>Amount</th>
					<th>Method</th>
					<th>Store</th>
					<th>More info</th>
					<th>Timestamp</th>
				</tr>
			</thead>
			<tbody>
				{% for order in order_list %}
				<tr>
					<th scope="row">#{{ order.id }}</th>
					<td>{{ order.account.email }}</td>
					<td>{{ order.account.facebook_id }}</td>
					<td>{{ order.account.get_display }}</td>
					<td>{{ order.account.tel }}</td>
					<td>{{ order.get_method_display }}</td>
					<td>{{ order.net }}</td>
					<td>{{ order.get_store_display }}</td>
					
					<td>
						{{order.account.get_readable_address}}
					</td>
					<td>{{order.timestamp}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
