{% extends "console/base_console.html" %}
{% load humanize %}
{% load duration_tags %}

{% block content %}
<style type="text/css">
.stat-count{
  font-size: 30px;
}
</style>
<div class="container" >
  <div class=" main">
    <h1 class="page-header">Package : {{package.name}}</h1>
    
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <p class="text-center stat-count">{{ total_sell|intcomma }} / {{ total_sell_start|intcomma }}</p>
        <h4 class="text-center">Sell / Active</h4>
      </div>
      <div class="col-xs-6 col-sm-2 placeholder">
        <p class="text-center stat-count">{{ item_list|length }}</p>
        <h4 class="text-center">Order</h4>
      </div>
      <div class="col-xs-6 col-sm-4 placeholder">
        <p class="text-center stat-count">{{ total_credit|duration_tag }}</p>
        <h4 class="text-center">Time Access</h4>
      </div>
      
      <div class="col-xs-6 col-sm-3 placeholder">
        <p class="text-center stat-count">{{ avg_time|duration_tag }}</p>
        <h4 class="text-center">Avg time / user</h4>
      </div>
    </div>

    <h2 class="sub-header">Order</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Item Id</th>
            <th>Item Status</th>
            <th>Start</th>
            <th>Use Time</th>
            <th>Expired</th>
            <th>Store</th>
            <th>Create Order</th>
          </tr>
        </thead>
        <tbody>
         {% for item in item_list %}
         <tr>
          <td>#{{ item.order.id }}</td>
          <td>#{{ item.id }}</td>
          <td>#{{ item.get_status_display }}</td>
          <td>{{ item.start }}</td>
          <td>{{ item.use_credit|duration_tag }}</td>
          <td {% if now >= item.expired_date %}class="success"{% endif %}>{{ item.expired_date }}</td>
          <td>{{ item.order.get_store_display }}</td>
          <td>{{ item.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="sub-header">Course</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Tutor</th>
          <th>Number Learner</th>
          <th>Use Time</th>
        </tr>
      </thead>
      <tbody>
       {% for key, course in course_list.items %}
       <tr>
        <td>{{ course.item.name }}</td>
        <td>
         {% for tutor in course.item.cached_get.tutor_list %}
         {{ tutor.name }}
         {% endfor %}
       </td>
       <td>{{ course.item_count }}</td>
       <td>{{ course.credit_sum|duration_tag }}</td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</div>

<h2 class="sub-header">TJ</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Order Id</th>
        <th>Course</th>
        <th>Use Time</th>
        <th>%</th>
        <th>Bath</th>
        <th>Sum</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
     {% for key, value in tutor_dict.items %}
     <tr>
      <td colspan="2">{{ value.name }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ value.sum|floatformat:2 }}</td>
      <td>{{ value.percent|floatformat:2 }}</td>
    </tr>
    {% for order in value.order_list %}
    <tr>
     <td></td>
     <td>#{{ order.id }}</td>
     <td>{{ order.course.name }}</td>
     <td>{{ order.credit|duration_tag }}</td>
     <td>{{ order.percent|floatformat:2 }}%</td>
     <td>{{ order.bath|floatformat:2 }}</td>
     <td></td>
     <td></td>
   </tr>
   {% endfor %}
   {% endfor %}
 </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
