{% extends "console/base_console.html" %}
{% load cached_tags %}

{% block content %}
<table class="table">
  <tr>
    <th>#</th>
    <th>Action</th>
    <th>Duration</th>
    <th>Percent</th>
    <th>TimeStamp</th>
    <th>Credit Use</th>
    <th>Delete</th>
  </tr>
  {% for log in log_list %}
  <tr>
    <td>{{ log.id }}</td>
    <td>{{ log.get_action_display }}</td>
    <td>{{ log.duration }}</td>
    <td>{{ log.percent }}</td>
    <td>{{ log.timestamp }}</td>
    <td>{{ log.credit_use }}</td>
    <td><a href="{% url 'console:progress_log_delete' log.item_id log.material_id log.id %}">del</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
