{% extends "console/base_console.html" %}
{% load cached_tags %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" name="item" placeholder="Order.Item Id" value="{{ item_id }}">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
              	</span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Video</th>
                    <th>Video id</th>
                    <th>TimeStamp</th>
                    <th>Credit Use</th>
                    <th>Detail</th>
                </tr>
                {% for material in material_list %}
                <tr>
                    <td>{{ material.id }}</td>
                    <td>{{ material.material.name }}</td>
                    <td>{{ material.material_id }}</td>
                    <td>{{ material.timestamp }}</td>
                    <td>{{ material.credit_use }}</td>
                    <td><a href="{% url 'console:progress_log' material.item_id material.material_id %}">detail</a></td>
                </tr>
                {% endfor %}
                {% if item != None %}
                <tr>
                    <th>#</th>
                    <th>Item.id</th>
                    <th>{{ item.id }}</th>
                    <th>Status: {{ item.get_status_display }}</th>
                    <th>{{ item.use_credit }}</th>
                    <th><input type="submit" value="Re-Cal" class="btn btn-xs" name="cal"></th>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</form>
{% endblock %}
