{% extends "console/base_console.html" %}

{% block content %}
<h1>Code : {{code_list|length}}</h1>
<table class="table table-striped">
  {% for code in code_list %}
  <tr>
    <td>{{code.code}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
