{% extends "console/base_console.html" %}

{% block content %}
<div class="container" >
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" name="job">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" type="submit" name="move">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}