{% extends "console/base_console.html" %}

{% load staticfiles %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
	<div class="container">
		<form action="{% url 'console:stat_user' %}" method="POST">
			<div class="form-group">
			<label for="month">Month : </label>
			<select class="form-control" name="month">
				{% for i in 'xxxxxxxxxxxx' %}
				<option value="{{ forloop.counter }}" {% if forloop.counter == bill_month %}selected{% endif %}>{{ forloop.counter }}</option>
				{% endfor %}
			</select>
			<label for="year">Year : </label>
			<select class="form-control" name="year">
			{% for year in year_range %}
				<option value="{{ year }}" {% if year == bill_year %}selected{% endif %}>{{ year|add:"543" }}</option>
			{% endfor %}
			</select><br>
			<button type="submit" class="btn btn-primary btn-sm form-control">Submit</button>
			{% csrf_token %}
			</div>
			<h1>Month : {{month}} Year : {{year}}</h1>
			<h1>New user : {{count_month_user}}</h1>
			<h1>New valid user : {{count_month_valid_user}}</h1>
			<h1>User : {{count_past_user}}</h1>
			<h1>All User : {{count_user}}</h1>
		</form>
	</div>

{% endblock %}