{% extends "console/base_console.html" %}

{% load staticfiles %}
{% load humanize %}
{% block headerscript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
	$('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
{% endblock %}

{% block content %}
<div class="container">
  <form action="{% url 'console:stat_keymetric' %}" method="POST">
    {% csrf_token %}
    <div class="row">
    	<div class="col-lg-4">
		<select class="form-control" name="month">
			 <option value="">All Institute</option>
		</select>
      </div>
      <div class="col-lg-4">
	<input type="text" class="form-control date-picker" name="date-start" id="date-start" placeholder="Date Start" value="{{ start|date:"Y-m-d" }}" require>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-4">
		<div class="input-group">
		  <input type="text" class="form-control date-picker" name="date-end" id="date-end" placeholder="Date End" value="{{ end|date:"Y-m-d" }}" require>
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="submit">Go!</button>
		  </span>
		</div><!-- /input-group -->
      </div>
    </div>
  </form><br>
  <div class="bs-example" data-example-id="hoverable-table">
    <h4>USER</h4>
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Key Metric</th>
	  <th>Value</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">1</th>
	  <td>New Registered Users</td>
	  <td>{{new_register_user}}</td>
	</tr>
	<tr>
	  <th scope="row">2</th>
	  <td>New Registered Users (Organic)</td>
	  <td>{{new_register_user_organic}}</td>
	</tr>
	<tr>
	  <th scope="row">3</th>
	  <td>Paid User</td>
	  <td>{{ paid_user }}</td>
	</tr>
	<tr>
	  <th scope="row">4</th>
	  <td>Paid User (New Registered)</td>
	  <td>{{ paid_user_new_register }}</td>
	</tr>
      </tbody>
    </table>
  </div>

  <div class="bs-example" data-example-id="hoverable-table">
    <h4>ORDER</h4>
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Key Metric</th>
	  <th>Value</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">1</th>
	  <td>No. of Orders ( Total ) ( Organic : {{order_total_organic}} ) </td>
	  <td>{{order_total}}</td>
	</tr>
	<tr>
	  <th scope="row">2</th>
	  <td>No. of Free Orders ( Organic : {{order_free_organic}} )</td>
	  <td>{{order_free}}</td>
	</tr>
	<tr>
	  <th scope="row">3</th>
	  <td>No. of Paid Orders</td>
	  <td>{{order_paid}}</td>
	</tr>
	<tr>
	  <th scope="row">4</th>
	  <td>Order Funnel ( Cart : {{order_paid_cart}} , Payment : {{order_paid_payment}} , Success : {{order_paid_success}} )</td>
	  <td>{{order_paid_all}}</td>
	</tr>
	<tr>
	  <th scope="row">5</th>
	  <td>Total Revenue ( Course : {{course_revenue|floatformat|intcomma}} + {{course_usd_revenue|floatformat|intcomma}} $, Package : {{ package_revenue|floatformat|intcomma}} + {{package_usd_revenue|floatformat|intcomma}} $, Other : {{ other_revenue|floatformat|intcomma }} + {{other_usd_revenue|floatformat|intcomma}} $ ) 
	  	( Normal : {{revenue_method_other|floatformat|intcomma}} , Apple : {{revenue_method_apple|intcomma}} $, AIS : {{revenue_method_mpay|floatformat|intcomma}} ) 
	  	{% comment %}
	  	( Web : {{revenue_web}} , Android : {{revenue_android|floatformat|intcomma}} , iOS : {{revenue_ios|floatformat|intcomma}} , Other : {{revenue_other|floatformat|intcomma}} ) 
	  	{% endcomment %}
	  	<br>
		{% comment %} {% for order in order_id_list %} {{ order }} , {% endfor %} {% endcomment %}
	  </td>
	  <td>{{total_revenue|floatformat|intcomma}} + {{revenue_method_apple|intcomma}}$</td>
	</tr>
      </tbody>
    </table>
  </div>

  <div class="bs-example" data-example-id="hoverable-table">
    <h4>FREE CONTENT</h4>
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Key Metric</th>
	  <th>Value</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">0</th>
	  <td>Number of course</td>
	  <td>{{count_course_free}}</td>
	</tr>
	<tr>
	  <th scope="row">1</th>
	  <td>Free Course View</td>
	  <td>{{course_free_view}}</td>
	</tr>
	<tr>
	  <th scope="row">2</th>
	  <td>Free Course Added (Total)</td>
	  <td>{{free_item_total}}</td>
	</tr>
	<tr>
	  <th scope="row">3</th>
	  <td>Free Course Added (Organic)</td>
	  <td>{{free_item_total_organic}}</td>
	</tr>		        
	<tr>
	  <th scope="row">4</th>
	  <td>Free Course - No. of Learning (times)</td>
	  <td>{{ free_item_no_learn }}</td>
	</tr>		        
	<tr>
	  <th scope="row">5</th>
	  <td>Free Course - VDO Played (times)</td>
	  <td>{{ free_item_vdo_played }}</td>
	</tr>		        
	<tr>
	  <th scope="row">6</th>
	  <td>Free Course - Learning Duration (Min.)</td>
	  <td>{{free_item_learn_duration_min|floatformat:"0"}} Mins.</td>
	</tr>
      </tbody>
    </table>
  </div>

  <div class="bs-example" data-example-id="hoverable-table">
    <h4>PAID CONTENT</h4>
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Key Metric</th>
	  <th>Value</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <th scope="row">0</th>
	  <td>Number of course</td>
	  <td>{{count_course_paid}}</td>
	</tr>
	<tr>
	  <th scope="row">1</th>
	  <td>Paid Course View</td>
	  <td>{{course_paid_view}}</td>
	</tr>
	<tr>
	  <th scope="row">2</th>
	  <td>Paid Course Sold (Total)</td>
	  <td>{{paid_item_total}}<br>{% comment %} {% for order in paid_order_id %} {{ order }} , {% endfor %} {% endcomment %}</td>
	</tr>
	<tr>
	  <th scope="row">3</th>
	  <td>Paid Course Sold (Organic)</td>
	  <td>{{paid_item_total_organic}}</td>
	</tr>		        
	<tr>
	  <th scope="row">4</th>
	  <td>Paid Course - No. of Learning (times)</td>
	  <td>{{ paid_item_no_learn }}</td>
	</tr>		        
	<tr>
	  <th scope="row">5</th>
	  <td>Paid Course - VDO Played (times)</td>
	  <td>{{ paid_item_vdo_played }}</td>
	</tr>		        
	<tr>
	  <th scope="row">6</th>
	  <td>Paid Course - Learning Duration (Min.)</td>
	  <td>{{paid_item_learn_duration_min|floatformat:"0"}} Mins.</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
