{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Console :P</title>
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "flowplayer-6.0.3/quality-selector.css" %}">
  <link rel="stylesheet" href="{% static "flowplayer-6.0.3/skin/functional.css" %}">

  <script src="{% static "flowplayer-6.0.3/flowplayer.min.js" %}"></script>
  <script src="{% static "flowplayer-6.0.3/flowplayer.mpegdash.min.js" %}"></script>
  <script type="text/javascript">
    var player;
    var clip;
    function onStartVideo(duration){
      $.ajax({
        url: "{% url 'console:video_preview_stream_wowza_verify' stream.id %}",
        method: 'POST',
        data: {}
      }).done(function() {
        {% if type %}
        window.close();
        {% endif %}
      });
      $.ajax({
        url: "{% url 'console:video_duration' stream.material_id %}",
        method: 'POST',
        data: {'duration': duration}
      }).done(function() {
      });
    }

    function onUnloadVideo(){
      window.close();
    }
</script>
</head>
<body>
  Stream ID: {{ stream.id }} <br> Media: {{ stream.media }} <br><br>
<div id="player" style="display:block;width:1280px;height:720px" class="flowplayer" data-ratio="0.4167" video="{{ stream.material.id }}" quality="{{ stream.quality_default }}" />
<script type="text/javascript">
    player = flowplayer("#player", {
        embed: false,
        autoplay: true,
        debug: false,
        clip: {
            sources: [
              {% comment %}
              {
                  type: "application/dash+xml",
                  src: "http://103.246.16.183:1935/ais-mobile/_definst_/mp4:1460009658201752/1460009864201768.mp4/manifest.mpd"
              },
              {% endcomment %}

              {% autoescape on %}
                {
                    type: "application/x-mpegurl",
                    // type: "application/dash+xml",
                    // src: "{{stream_url.dash_noen|escape}}",
                    src: "{{stream_url}}"
                },
              {% endautoescape %}

            ]
        }
    });

    player.on("ready", function(api, root) {
      console.log('Ready')
      console.log(root.video.duration)
      onStartVideo(root.video.duration)
    }).on("unload", function(e) {
      console.log('unload')
      window.close();
    }).on("error", function(e) {
      console.log('error')
      window.close();
    });


</script>

</body>
</html>
