{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Console :P</title>
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
</head>
<body>
  ID: {{ video.id }} Path: {{ video.path }}
  <a href="{{ url.href|safe }}"
  style="display:block;width:1280px;height:720px"
  id="player">
</a>
<script type="text/javascript">
var player;
var clip;

function setDuration(seconds){
    $.ajax({
        url: "{% url 'console:video_duration' video.id %}",
        method: 'POST',
        data: {'duration': seconds}
    }).done(function() {
        {% if type %}
          window.close();
        {% endif %}
    });
  $.ajax({
        url: "{% url 'console:video_verify' video.id %}",
        method: 'POST',
  }).done(function() {
        {% if type %}
        window.close();
        {% endif %}
  });
}

$(function () {
  var player = jwplayer("player").setup({
      flashplayer: "{% static "swf/jwplayer.flash.swf" %}",
      {% if video.type_video == 2 %}
      file: "https://www.youtube.com/watch?v={{video.path}}",
      {% elif video.type_video == 1 or  video.type_video == 0 %}
      file: "{{video.get_url|safe}}",
      {% endif %}
      width: '1280',
      height: '720'
  });
  jwplayer().play();
  jwplayer().onComplete( function(event){
      setTimeout(redirectNext, 1500);
  });
  jwplayer().onComplete( function(event){
      setTimeout(redirectNext, 1500);
  });
  jwplayer().onTime( function(event){
      duration = jwplayer().getDuration();
      console.log('Duration : '+duration);
      setDuration(duration);
  });
  jwplayer().onError( function(event){
    {% if type %}
      window.close();
    {% endif %}
  });
});

</script>
</body>
</html>
