{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Console :P</title>
  <script type="text/javascript" src="{% static "player/flowplayer-3.2.13.min.js" %}"></script>
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
</head>
<body>
  ID: {{ video.id }} Path: {{ video.path }}
  <a href="{{ url.href|safe }}"
  style="display:block;width:1280px;height:720px"
  id="player">
</a>
<script type="text/javascript">
var player;
var clip;
function onStartVideo(_clip){
  clip = _clip;
  $.ajax({
    url: "{% url 'console:video_duration' video.id %}",
    method: 'POST',
    data: {'duration': _clip.fullDuration}
  }).done(function() {
    {% if type %}
    window.close();
    {% endif %}
  });
  $.ajax({
    url: "{% url 'console:video_verify' video.id %}",
    method: 'POST',
    data: {'duration': _clip.fullDuration}
  }).done(function() {
    {% if type %}
    window.close();
    {% endif %}
  });
}

function onUnloadVideo(_clip){
  window.close();
}
  player = flowplayer("player", "{% static "player/flowplayer-3.2.18.swf" %}", {
    clip: {
      provider: 'rtmp',
      onStart: onStartVideo,
      {% if type %}
      onUnload: function() {
          window.close();
      },
      onError: function() {
          window.close();
      },
      {% endif %}
  },
  plugins: {
    rtmp: {
      url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
      netConnectionUrl: '{{ url.rtmpte }}'
    },
  }
});
</script>
</body>
</html>
