{% extends "console/base_console.html" %}
{% load stream_tags %}

{% block content %}
<style>
  .red{
    color: #FF0000;
  }
  .green{
    color: #00FF00;
  }
</style>
<table class="table table-striped">
  <tr>
    <!-- <th>#id</th> -->
    <th>Name</th>
    <th>Material</th>
    <th>Stream</th>
  </tr>
  {% for course in course_list %}
  <tr>
    <td>{{ course.name }}</td>
    <td>
      {% for material in course.get_material_set %}
      {% if material.type == 0 %}
      (<span {% if not material.is_duration_valid %}class=""{% endif %}> {{ material.video_duration}} </span>) <b>
      </b> <a {% if not material.video_is_verify %}class="no-duration"{% endif %} rel="{% url 'console:video_preview' material.id %}?type=1" href="{% url 'console:video_preview' material.id %}">{{ video.id }}</a> {{ video.name }}  -
      <span>{{ material.get_video_type_display }}</span>
       <br>
      {% endif %}
      {% endfor %}
    </td>
    <td>
      {% for material in course.get_material_set %}
        {% stream_tag material stream_list %}
      <br/>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
