html {
    font-size: 62.5%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

body {
    font-family: 'thaisans';
    /*font-size: 1.6rem;*/
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'thaisans';
    line-height: 1.3em;
}

a,a:hover {
    text-decoration: none;
    color:#333;
}

a.btn-yellow{
    background-color: #fda930;
    border: solid 2px #fff;
    color:#fff;
}
a.btn-yellow:hover{
    background-color: #fff;
    border: solid 2px #fda930;
    color:#fda930;
}
ul,ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
#patmaxCampaign{
    background-color: white;
}
#preTestSetup{
    background-color: white;
}
#patmaxCampaign .intro h1{
    background-color: #ff6600;
    font-weight: bold;
    text-align: center;
    color:#fff;
    font-size: 2.2rem;
    padding: 15px;
    margin-bottom: 20px;
}
#patmaxCampaign .intro a{
    max-width: 450px;
    margin: 15px auto;
    font-weight: bold;
}

#patmaxCampaign .countdown{
    background-color: #e5e5e5;
    /*margin: 40px 0;*/
    margin: 30px 0  0 0;
    padding: 0 0 30px 0;
}
#patmaxCampaign .countdownTime{
    display: inline-block;
    width: auto;
}
#patmaxCampaign .flip-clock-wrapper ul{
    background: #ce0023;
}
#patmaxCampaign .flip-clock-wrapper ul li a div.up::after{
    background: rgba(0,0,0,0.3);
}
#patmaxCampaign .flip-clock-wrapper ul li a div div.inn{
    background: #ce0023;
}
#patmaxCampaign .flip-clock-dot{
    background: #ce0023;
}
#patmaxCampaign .flip-clock-divider .flip-clock-label{
    top:auto;
    bottom: -2em;
    font-size: larger;
}

#patmaxCampaign .header{
    margin-top: 20px;
}

#patmaxCampaign .header img{
    margin: 0 15px;
    width:100%;
}

#patmaxCampaign .header h2{
    margin: 40px 0 15px 0;
    font-size: 3.2rem;
    font-weight: bold;
    vertical-align: middle;
}

#patmaxCampaign .header h3{
    margin: 0 0 15px 0;
    font-size: 2.2rem;
    font-weight: bold;
    vertical-align: middle;
}

#patmaxCampaign .header h3:first-child{
    margin-top: 30px;
}


#patmaxCampaign .greeting h2{
    background-color: #ff6600;
    color:#fff;
    padding: 10px;
    margin: 0 0 15px 0;
    font-size: 2.4rem;
}
#patmaxCampaign .greeting img{
    width:100%;
    border: solid 1px #bbb;
}

#patmaxCampaign .inducement{
    margin: 40px 0 10px 0;
    padding: 15px;
    background-color: #ff6600;
    color:#fff;
}
#patmaxCampaign .inducement h3{
    margin-bottom: 20px;
}
#patmaxCampaign .inducement p{
    max-width: 1200px;
    margin: auto;
}
#patmaxCampaign .inducement a{
    border: solid 2px #fff;
    color:#fff;
    max-width: 300px;
    margin: 20px auto;
}
#patmaxCampaign .inducement a:hover{
    background-color: #fff;
    border: solid 2px #ff6600;
    color:#ff6600;
}
#preTestSetup .inducement{
    margin: 40px 0 10px 0;
    padding: 15px;
    background-color: #ff6600;
    color:#fff;
}
#preTestSetup .inducement h3{
    margin-bottom: 20px;
}
#preTestSetup .inducement p{
    max-width: 1200px;
    margin: auto;
}
#preTestSetup .inducement a{
    border: solid 2px #fff;
    color:#fff;
    max-width: 300px;
    margin: 20px auto;
}
#preTestSetup .inducement a:hover{
    background-color: #fff;
    border: solid 2px #ff6600;
    color:#ff6600;
}
#patmaxCampaign .block-wrapper{
    border-bottom: solid 1px #ccc;
}
#patmaxCampaign .block{
    display: inline-block;
    width: 100%;
    max-width: 320px;
    margin: 0 20px 20px 0;
    vertical-align: top;
}
#patmaxCampaign .block h2{
    background: url(../images/icon-circle-checkmark.png) no-repeat center left;
    background-size: auto 100%;
    padding-left: 40px;
    color:#fc4f08;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2em;
}
#patmaxCampaign .block p{
    text-align: left;
}
#patmaxCampaign .block p.stat{
    height: 30px;
    font-weight: bold;
    color:#ce0023;
    margin-top: 10px;
    text-overflow: ellipsis;
}
#patmaxCampaign .block p.title{
    height: 70px;
    overflow: hidden;
}
#patmaxCampaign .block img{
    width: 100%;
}
#patmaxCampaign .block .person img{
    width: 50px;
    height: 50px;
    border: solid 1px #ccc;
    border-radius: 50%;
    vertical-align: middle;
}
#patmaxCampaign .block .person small{
    white-space: nowrap;
    text-overflow: ellipsis;
}
#patmaxCampaign .block .desc{
    height: 110px;
    margin-top: 15px;
    overflow: hidden;
}
#patmaxCampaign .block a{
    margin-top: 20px;
}
#patmaxCampaign .block-slide{
    height: 385px;
    overflow: hidden;
    border: solid 0.5px #eee;
}
#patmaxCampaign .block-slide .detail{
    position: relative;
    top:0;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    padding: 10px;
}
#patmaxCampaign .block-slide:hover .detail{
    top:-100px;
}
#patmaxCampaign .block-slide .desc{
    opacity: 0;
    transition: all 0.5s linear;
}
#patmaxCampaign .block-slide:hover .desc{
    opacity: 1;
}
#patmaxCampaign .tips img.person{
    width: 50px;
    height: 50px;
}
#patmaxCampaign .tips .row{
    margin-bottom: 40px;
}
#patmaxCampaign .tips .row .col-md-4{
    border-top: solid 1px #ccc;
}
#preTestSetup .intro{
    margin-top: 20px;
}
#preTestSetup .intro a{
    margin-top: 5px;
}
#preTestSetup .intro h1{
    background-color: #ff6600;
    font-weight: bold;
    text-align: center;
    color:#fff;
    font-size: 2.2rem;
    padding: 15px;
    margin: 0;
}
.wrapper-scale{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 120px auto 30px auto;
}
.scale{
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height: 100%;
    background-color: #eee;
}
.scale .node{
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    -moz-box-shadow: inset 2px 2px 3px #ccc;
    -webkit-box-shadow: inset 2px 2px 3px #ccc;
    box-shadow: inset 2px 2px 3px #ccc;
    transition: all 1s ease-in-out;
}
.scale .node .text{
    position: absolute;
    top:0;
    left: 30px;
    white-space: nowrap;
}
.scale .node:hover{
    background-color: #ddd;
}
.scale .node:hover .text{
    font-weight: bold;
}
.scale .node.active{
    background-color: #ce0023;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.scale .node.active .text{
    color:#ce0023;
    font-weight: bold;
}
.scale .scaleValue{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #ce0023;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
.scale .scaleValue .value{

}
.graph h3{
    border: solid 1px #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.graph canvas{

}
.rules img{
    width: 100%;
}
.social{
    margin-top: 20px;
}
.social ul{
    display: flex;
    text-align: center;
    margin-top: 10px;
}
.social ul li{
    flex:1 1 0;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 7px;
    padding: 7px;
}
.social ul li a{
    color:white;
}
.social .facebook{
    background-color: #3576be;
}
.social .twitter{
    background-color: #4cb3d6;
}
.social .google{
    background-color: #ce3c3f;
}
.social .facebook span{
    background-image:url('../../images/pretest/icon-facebook-white.png');
}
.social .twitter span{
    background-image:url('../../images/pretest/icon-twitter-white.png');
}
.social .google span{
    background-image:url('../../images/pretest/icon-google-white.png');
}
.social ul li a span{
    display: inline-block;
    padding-left: 25px;
    background-position: center left;
    background-size: auto 90%;
    background-repeat: no-repeat;
}
.social a.btn-yellow{
    margin-top: 20px;
}

@media screen and (max-width: 995px) {
    .wrapper-scale {
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px) {
    #patmaxCampaign .flip-clock-wrapper ul{
        width: 35px;
        height: 50px;
        margin: 5px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li{
        line-height: 50px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li a div.up::after{
        top:24px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li a div div.inn{
        font-size:32px;
    }
    #patmaxCampaign .flip-clock-divider{
        width: 10px;
        height: 50px;
    }
    #patmaxCampaign .flip-clock-dot.top{
        top:35px;
    }
    #patmaxCampaign .flip-clock-dot{
        width: 5px;
        height: 5px;
        left: 3px;
    }
    #patmaxCampaign .flip-clock-divider .flip-clock-label{
        right: -56px;
    }
    #patmaxCampaign .flip-clock-divider.minutes .flip-clock-label,#patmaxCampaign .flip-clock-divider.seconds .flip-clock-label{
        right: -60px;
    }
}

@media screen and (max-width: 500px) {
    #patmaxCampaign .tips h3{
        font-size: 1.8rem;
    }
    #patmaxCampaign .flip-clock-wrapper .flip{
        box-shadow: 0 0 5px #aaa;
    }
    #patmaxCampaign .flip-clock-wrapper ul{
        width: 25px;
        height: 35px;
        margin: 2px;
        border-radius: 3px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li{
        line-height: 35px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li a div.up::after{
        top:16px;
    }
    #patmaxCampaign .flip-clock-wrapper ul li a div div.inn{
        font-size:22px;
    }
    #patmaxCampaign .flip-clock-divider{
        width: 6px;
        height: 35px;
    }
    #patmaxCampaign .flip-clock-dot.top{
        top:20px;
    }
    #patmaxCampaign .flip-clock-dot.bottom{
        bottom:20px;
    }
    #patmaxCampaign .flip-clock-dot{
        width: 3px;
        height: 3px;
        left: 1px;
    }
    #patmaxCampaign .flip-clock-divider .flip-clock-label{
        right: -46px;
    }
    #patmaxCampaign .flip-clock-divider.minutes .flip-clock-label,#patmaxCampaign .flip-clock-divider.seconds .flip-clock-label{
        right: -46px;
    }
}
