html {
    font-size: 62.5%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

body {
    font-family: 'thaisans';
    /*font-size: 1.4rem;*/
    overflow-x: hidden;
    background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'thaisans';
    line-height: 1.3em;
}

.blue{
    color: #008dff;
}

a,a:hover {
    text-decoration: none;
    color:#333;
}
a.btn{
    box-shadow: 0 3px 3px #bbb;
}
a.btn-gray{
    background-color: #524E4E;
    border: solid 2px #524E4E;
    color:#fff;
}
a.btn-gray:hover{
    background-color: #fff;
    border: solid 2px #524E4E;
    color:#524E4E;
}
a.btn-red{
    background-color: #fb0007;
    border: solid 2px #fb0007;
    color:#fff;
}
a.btn-red:hover{
    background-color: #fff;
    border: solid 2px #fb0007;
    color:#fb0007;
}
a.btn-yellow{
    background-color: #dea000;
    border: solid 2px #dea000;
    color:#fff;
}
a.btn-yellow:hover{
    background-color: #fff;
    border: solid 2px #dea000;
    color:#dea000;
}
a.btn-blue{
    background-color: #008dff;
    border: solid 2px #008dff;
    color:#fff;
}
a.btn-blue:hover{
    background-color: #fff;
    border: solid 2px #008dff;
    color:#008dff;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.red{
    color: #fb0007;
}
.orange{
    color: #ff6600;
}
.card{
    box-shadow: 0 3px 3px #bbb;
    padding: 20px;
    background-color: #fff;
}
.bigger{
    font-size: 3rem;
}
.lineThrough{
    text-decoration: line-through;
}
#patmax {
    /*background-color: #fff;*/
}
#patmax .header img.left{
    width: 100%;
    /*max-width: 534px;*/
}
#patmax .header img.right{
    width: 100%;
    margin-top: 15px;
}
#patmax .header h2{
    font-weight: bold;
    color:#fb0007;
}
#patmax .header h3{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
}
#patmax .header nav{
    margin: 15px 0 20px 0;
}
/*
#patmax .header nav ul{
    display: -webkit-box;
}
#patmax .header nav li{
    -webkit-box-flex: 1;
    background-color: #bfbfbf;
    padding: 10px 0;
    font-weight: bold;
}
#patmax .header nav li.active{
    background-color: #ff6600;
    color: white;
}
#patmax .header nav li.active a{
    color:white;
}
*/
#patmax .header nav .col-md-12 div{
    background-color: #bfbfbf;
    padding: 10px 0;
    font-weight: bold;
}
#patmax .header nav .col-md-12 div.active{
    background-color: #ff6600;
    color: white;
}
#patmax .header nav .col-md-12 div.active a{
    color:white;
}

#patmax .intro a{
    max-width: 450px;
    margin: 15px auto;
    font-weight: bold;
}
#patmax a.try{
    display: inline-block;
    /*background: url('../images/icon-play.png') no-repeat center left;*/
    background-size: 40px 40px;
    /*padding: 10px 0 10px 50px;*/
    font-size: 1.8rem;
    text-decoration: underline;
    text-align: left;
    margin: 20px 0;
}
#patmax .countdown{
    background-color: #e5e5e5;
    margin: 40px 0 0 0;
    padding: 20px 0 30px 0;
}
#patmax .countdown .first, #patmax .countdown .second, #patmax .countdown .last{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#patmax .countdown .first{
    text-align: right;
    font-weight: bold;
}
#patmax .countdown .last{
    text-align: left;
    font-weight: bold;
}
#patmax .countdown .second{
    max-width: 700px;
}
#patmax .countdownTime{
    display: inline-block;
    width: auto;
}
#patmax .flip-clock-wrapper ul{
    background: #ce0023;
}
#patmax .flip-clock-wrapper ul li a div.up::after{
    background: rgba(0,0,0,0.3);
}
#patmax .flip-clock-wrapper ul li a div div.inn{
    background: #ce0023;
}
#patmax .flip-clock-dot{
    background: #ce0023;
}
#patmax .flip-clock-divider .flip-clock-label{
    top:auto;
    bottom: -2em;
    font-size: larger;
}
#patmax .practice h2{
    margin-bottom: 20px;
}
#patmax .practice{
    margin-top: 20px;
}
#patmax .practice img{
    width: 100%;
    max-width: 900px;
}
#patmax .practice a{
    max-width: 400px;
    margin: 20px auto 0 auto;
}
#patmax .banner img{
  width: 100%;
}
#patmax .banner .detail ul{
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
#patmax .courses{
    margin-top: 20px;
}
#patmax .courses h2{
    margin-bottom: 20px;
}
#patmax .courses .emphasize{
    margin: 40px 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
#patmax .courses .emphasize h3{
    font-weight: bold;
}
#patmax .courses .emphasize a{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.5rem;
}
#patmax .block{
    display: inline-block;
    width: 100%;
    max-width: 320px;
    margin: 0 10px 20px 10px;
    vertical-align: top;
}
#patmax .block h3{
    /*background: url(../images/icon-circle-checkmark.png) no-repeat center left;*/
    background-size: auto 100%;
    /*color:#fc4f08;*/
    /*color:#008DFF;*/
    font-weight: bold;
    font-size: 2rem;
    line-height: 2em;
    /*white-space: nowrap;*/
    max-width: 320px;

    /*text-decoration: underline;*/
}

#patmax .block p.header{
    /*background: url(../images/icon-circle-checkmark.png) no-repeat center left;*/
    background-size: auto 100%;
    color:#fc4f08;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2em;
    white-space: nowrap;
    max-width: 320px;
    /*overflow: hidden;*/
    text-decoration: underline;
}

#patmax .detail>p.desc{
    height: 82px;
    overflow: hidden;
}

#patmax .block p{
    text-align: left;
}
#patmax .block p.stat{
    height: 30px;
    font-weight: bold;
    /*color:#ce0023;*/
    margin-top: 10px;
    text-overflow: ellipsis;
}
#patmax .block p.title{
    height: 70px;
    overflow: hidden;
}

#patmax a.try-button{
    margin: 0 auto;
    max-width: 1000px;
}

#patmax .block img{
    width: 100%;
}
#patmax .block .person img{
    width: 50px;
    height: 50px;
    border: solid 1px #ccc;
    border-radius: 50%;
    vertical-align: middle;
}
#patmax .block .person small{
    white-space: nowrap;
    text-overflow: ellipsis;
}
#patmax .block .desc{
    height: 110px;
    margin-top: 15px;
    overflow: hidden;
}
#patmax .block .detail ul li{
  list-style: disc;
}
#patmax .block a{
    margin-top: 20px;
}
#patmax .block-slide{
    height: 385px;
    overflow: hidden;
    border: solid 0.5px #eee;
}
#patmax .block-slide .detail{
    position: relative;
    top:0;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    padding: 10px;
}
#patmax .block-slide:hover .detail{
    top:-100px;
}
#patmax .block-slide .desc{
    opacity: 0;
    transition: all 0.5s linear;
}
#patmax .block-slide:hover .desc{
    opacity: 1;
}
#patmax .greeting{
    margin-top: 20px;
}
#patmax .greeting h3{
    margin: 0 0 30px 0;
}
#patmax .greeting img{
    width:100%;
}
#patmax .course-desc{
  margin-top: 20px;
}
#patmax .course-desc img{
  width: 100%;
  max-width: 350px;
  margin: 0 30px 20px 10px;
  float: left;
}
#patmax .course-desc ul.blue-border{
  border: solid 3px #008dff;
  width:94%;
  max-width: 500px;
  margin: 20px auto 15px auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
#patmax .course-desc .btn-block{
  max-width: 300px;
  margin: auto;
}
#patmax .emphasize-block{
  display: inline-block;
  padding:7px 15px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  /*background: #ffb347;
background: -webkit-linear-gradient(right, #ffeec4, #ffcc33);
background: -o-linear-gradient(right, #ffeec4, #ffcc33);
background: linear-gradient(to left, #ffeec4, #ffcc33);
border: solid 1px #ffb347;*/
}
#patmax .emphasize-block.border-red{
border-color: #ff0303;
}
#patmax .emphasize-block.border-blue{
border-color: #057aff;
}
#patmax .emphasize-block.border-orange{
border-color: #ffa200;
}
#patmax .emphasize-block.border-green{
border-color: #b8cc00;
}
#patmax .achievement h2{
    padding: 15px 10px;
    background-color: #ff0000;
    color:white;
    margin-bottom: 30px;
}
#patmax .achievement li{
    display: inline-block;
    vertical-align: top;
    width: 38%;
    max-width: 150px;
    margin: 0 25px 25px 0;
}
#patmax .achievement li img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
#patmax .inducement{
    margin: 40px 0 10px 0;
    padding: 15px;
    background-color: #ff6600;
    color:#fff;
}
#patmax .inducement h3{
    margin-bottom: 20px;
}
#patmax .inducement p{
    max-width: 1200px;
    margin: auto;
}
#patmax .inducement a{
    border: solid 2px #fff;
    color:#fff;
    max-width: 300px;
    margin: 20px auto;
}
#patmax .inducement a:hover{
    background-color: #fff;
    border: solid 2px #ff6600;
    color:#ff6600;
}
#patmax .article, #patmax .tips{
    margin-top: 20px;
}
#patmax .article h2, #patmax .tips h2{
    background-color: #ff6600;
    color:white;
    padding: 15px 10px;
}
#patmax .article a.btn{
    max-width: 300px;
    margin: 20px auto;
}
#patmax .tips img.person{
    width: 50px;
    height: 50px;
}
#patmax .tips .row{
    margin-bottom: 40px;
}
#patmax .tips .row .col-md-4{
    border-top: solid 1px #ccc;
}

#patmax .intro{
    margin-top: 20px;
}
#patmax .intro a{
    margin-top: 5px;
}
#patmax .intro h1{
    background-color: #ff6600;
    font-weight: bold;
    text-align: center;
    color:#fff;
    font-size: 2.2rem;
    padding: 15px;
    margin: 0;
}
#patmax .wrapper-scale{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 120px auto 30px auto;
}
#patmax .scale{
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height: 100%;
    background-color: #eee;
}
#patmax .scale .node{
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    -moz-box-shadow: inset 2px 2px 3px #ccc;
    -webkit-box-shadow: inset 2px 2px 3px #ccc;
    box-shadow: inset 2px 2px 3px #ccc;
    transition: all 1s ease-in-out;
}
#patmax .scale .node .text{
    position: absolute;
    top:0;
    left: 30px;
    white-space: nowrap;
}
#patmax .scale .node:hover{
    background-color: #ddd;
}
#patmax .scale .node:hover .text{
    font-weight: bold;
}
#patmax .scale .node.active{
    background-color: #ce0023;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#patmax .scale .node.active .text{
    color:#ce0023;
    font-weight: bold;
}
#patmax .scale .scaleValue{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #ce0023;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#patmax .scale .scaleValue .value{

}
#patmax .graph h3{
    border: solid 1px #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#patmax .graph canvas{

}
#patmax .rules img{
    width: 100%;
}
#patmax .social{
    margin-top: 20px;
}
#patmax .social ul{
    display: -webkit-flex; /* Safari */
    display: flex;
    text-align: center;
    margin-top: 10px;
}
#patmax .social ul li{
    flex:1 1 0;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 7px;
    padding: 7px;
}
#patmax .social ul li a{
    color:white;
}
#patmax .social .facebook{
    background-color: #3576be;
}
#patmax .social .twitter{
    background-color: #4cb3d6;
}
#patmax .social .google{
    background-color: #ce3c3f;
}
#patmax .social .facebook span{
    background-image:url('../../images/pretest/icon-facebook-white.png');
}
#patmax .social .twitter span{
    background-image:url('../../images/pretest/icon-twitter-white.png');
}
#patmax .social .google span{
    background-image:url('../../images/pretest/icon-google-white.png');
}
#patmax .social ul li a span{
    display: inline-block;
    padding-left: 25px;
    background-position: center left;
    background-size: auto 90%;
    background-repeat: no-repeat;
}
#patmax .social a.btn-yellow{
    margin-top: 20px;
}

#patmax .question h4{
    margin: 20px 0;
}
#patmax .question li img{
    width:100%;
}
#patmax .choice{
    display: flex;
    display: -webkit-flex; /* Safari */
    max-width: 900px;
    margin: 30px auto;
}
#patmax .choice li{
    flex: 1 1 0;
    margin: 0 10px;
}
#patmax .result .resultStat{
    max-width: 750px;
    margin: 20px auto;
}
#patmax .result .resultStat img{
    width: 100%;
}
#patmax .result .resultScale{
    position: relative;
    width:100%;
    height: 25px;
    margin: 50px 0 30px 0;
    background-color: #eee;
}
#patmax .result .resultScale .targetScore, #patmax .result .resultScale .score{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
}
#patmax .result .resultScale .targetScore{
    background-color: #2b2b2b;
}
#patmax .result .resultScale .score{
    background-color: #fb0007;
}
#patmax .result .resultScale span{
    position: absolute;
    top:-25px;
    right: 0;
    display: inline-block;
    border-right:solid 1px #aaa;
    color:#aaa;
}
#patmax .result .resultScale .targetScore span{
    border-right:solid 1px #2b2b2b;
    color:#2b2b2b;
}
#patmax .result .resultScale .score span{
    border-right:solid 1px #fb0007;
    color:#fb0007;
}
#patmax .result .suggest{
    position: relative;
    display: inline-block;
}
#patmax .result .suggest h3{
    padding: 15px;
    background-color: #ff6600;
    color:white;
}
#patmax .result .suggest .arrow{
    position: absolute;
    top:20px;
    color: #ff6600;
    font-size: 4rem;
    font-weight: bold;
}
#patmax .result .suggest .arrow.left{
    right:-50px;
}
#patmax .result .suggest .arrow.right{
    left: -50px;
}

ul.bullet,ul.bullet>li{
    padding:0 20px;
    list-style: initial;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    width: 20%;
    float: left;
}
@media screen and (max-width: 1065px) {
    #patmax .countdown{
        padding: 0 0 10px 0;
    }
    #patmax .countdown .second{
        max-width: 460px;
    }
    #patmax .flip-clock-wrapper ul{
        width: 35px;
        height: 50px;
        margin: 5px;
    }
    #patmax .flip-clock-wrapper ul li{
        line-height: 50px;
    }
    #patmax .flip-clock-wrapper ul li a div.up::after{
        top:24px;
    }
    #patmax .flip-clock-wrapper ul li a div div.inn{
        font-size:32px;
    }
    #patmax .flip-clock-divider{
        width: 10px;
        height: 50px;
    }
    #patmax .flip-clock-dot.top{
        top:35px;
    }
    #patmax .flip-clock-dot{
        width: 5px;
        height: 5px;
        left: 3px;
    }
    #patmax .flip-clock-divider .flip-clock-label{
        right: -56px;
    }
    #patmax .flip-clock-divider.minutes .flip-clock-label, #patmax .flip-clock-divider.seconds .flip-clock-label{
        right: -60px;
    }
}

@media screen and (max-width: 995px) {
    #patmax .wrapper-scale {
        margin-top: 30px;
    }
    #patmax .countdown{
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    #patmax .countdown .first, #patmax .countdown .second, #patmax .countdown .last{
        display: block;
        max-width: 100%;
        text-align: center;
    }
    #patmax .countdown .first{
        margin-top: 15px;
    }
    #patmax .countdown .last{
        margin-top: 20px;
    }
    .col-md-15{
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 500px) {
    .col-md-15{
        width: 100%;
        float: left;
    }
    #patmax .tips h3{
        font-size: 1.8rem;
    }
    #patmax .flip-clock-wrapper .flip{
        box-shadow: 0 0 5px #aaa;
    }
    #patmax .flip-clock-wrapper ul{
        width: 25px;
        height: 35px;
        margin: 2px;
        border-radius: 3px;
    }
    #patmax .flip-clock-wrapper ul li{
        line-height: 35px;
    }
    #patmax .flip-clock-wrapper ul li a div.up::after{
        top:16px;
    }
    #patmax .flip-clock-wrapper ul li a div div.inn{
        font-size:22px;
    }
    #patmax .flip-clock-divider{
        width: 6px;
        height: 35px;
    }
    #patmax .flip-clock-dot.top{
        top:20px;
    }
    #patmax .flip-clock-dot.bottom{
        bottom:20px;
    }
    #patmax .flip-clock-dot{
        width: 3px;
        height: 3px;
        left: 1px;
    }
    #patmax .flip-clock-divider .flip-clock-label{
        right: -46px;
    }
    #patmax .flip-clock-divider.minutes .flip-clock-label, #patmax .flip-clock-divider.seconds .flip-clock-label{
        right: -46px;
    }
    #patmax .result .arrow{
        display: none;
    }
}


#trialCourses .video ul li{
    display: inline-block;
    margin: 7px;;
    max-width: 250px;
}

#trialCourses .video ul li .title{
    font-weight: bold;
}

#trialCourses .video ul li img{
    width: 100%;
}

#trialCourses h2.header{
    margin-bottom: 30px;
    font-weight: bold;
}

#trialCourses .date{
    height: 40px;
    overflow: hidden;
}

p.quote{
    font-size: 2rem;
}

@media screen and (max-width: 760px) {
    .col-md-15{
        width: 100%;
        float: left;
    }
}
@media screen and (max-width: 450px) {

}
@media screen and (max-width: 350px) {

}

.btn-twin{
    max-width: 340px;
    display: inline-block;
    margin-top: 10px;
}

.image-cover{
    width:100%;
    display: block;
    position: relative;
}
.image-cover img.cover{
    width: 100%;
    height: auto;
    position: relative;
}
.image-cover img.play{
    position: absolute;
    width: 100px !important;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.col-sm-4, .col-sm-8,.col-md-4, .col-md-8, .col-xs-4, .col-xs-9 .col-lg-6, .col-xs-12{
  padding-right: 5px;
  padding-left: 5px
}
