@charset "UTF-8";

/*@font-face {
    font-family: 'ThaiSans';
    src: url('../fonts/thaisansneue-light-webfont.eot');
    src: url('../fonts/thaisansneue-light-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-light-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-light-webfont.svg#ThaiSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSans';
    src: url('../fonts/thaisansneue-bold-webfont.eot');
    src: url('../fonts/thaisansneue-bold-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-bold-webfont.svg#ThaiSans') format('svg');
    font-weight: bold;
    font-style: normal;
}*/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#Glyphicons Halflings') format('svg');
    font-weight: normal;
    font-style: normal;
}