{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--course/dashboard/access.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "course/dashboard/course_name_head.html" %}
    {% include "course/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Accessibility</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal thai" role="form" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Accessibility Class</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <div class="select">
                            <select class=" form-control" name="level_id">
                                <option value="-1">---------</option>
                                {% for level in level_list %}
                                <option value="{{ level.id }}" {% if level.id == content_permission.level.id %}selected{% endif %}>{{ level.name|capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-offset-2 col-sm-10">
                    {% if perms.course.change_course %}
                    <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
