{% if is_progress_update %}
<div class="alert alert-warning" role="alert">
  <strong class="text-black">
    Warning! มีการแก้ไขเนื้อหาที่อยู่ใน Library ของผู้ใช้ กรุณา
    <a href="{% url 'dashboard:course:update' course.id %}">อัพเดต Progress</a>
    ไปที่ผู้ใช้ (เมื่อแก้้ไขเรียบร้อยแล้ว)
  </strong>
</div>
{% endif %}

{% for upload in upload_list %}
<div class="alert alert-info" role="alert"><b>Upload!</b> {{ upload.material.name }} ({{ upload.get_status_display }})</div>
{% endfor %}
