{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
$('.search-content').click(function(){
    var type = $(this).attr('type');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:course:dependency_search' course.id %}",
	data: {type: type}
    }).done(function(html) {
	$('#modalSearch-body').html(html);
	$('#modalSearch').modal('show');
    });
    return false;
});

$('body').on('click', '#search-submit', function(){
    $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:dependency_search' course.id %}",
    	data: $('#form-search').serialize()
    }).done(function(html){
	    $('#modalSearch-body').html(html);
    });
    return false;
});

$('body').on('click', '.add-content', function(){
    var tag = $(this);
    var content_type_id = $(this).attr('content_type')
    var content_id = $(this).attr('content');
    var condition = $('#condition-'+content_type_id+'-'+content_id+' option:selected').val();
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:course:dependency_search_add' course.id %}",
	data: { content_type: content_type_id,
		content: content_id,
		condition: condition}
    }).done(function(html) {
	$('#dependency-block').html(html);
	$('#modalSearch').modal('hide');
    });
});

$('body').on('click', '.search-delete', function(){
    var tag = $(this);
    var parent_id = $(this).attr('parent');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:course:dependency_search_delete' course.id %}",
	dataType: "json",
        data: { parent: parent_id }
    }).done(function(result) {
        tag.parent().html(result.html);
    });
    return false;
});

$('body').on('click', '.delete-parent', function(){
    var parent_id = $(this).attr('parent');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:course:dependency_delete' course.id %}",
        data: { parent: parent_id }
    }).done(function(html) {
        $('#dependency-block').html(html);
    });
    return false;
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "course/dashboard/course_name_head.html" %}
    {% include "course/dashboard/tab.html" %}
    <div class="error" style="display:none;padding:0 20px;">
      <div class="alert alert-danger" role="alert">
        <strong>Dependency!</strong> <span class="error-msg"></span>
      </div>
    </div>
    <div class="card-header">
        <h3 class="clear-pad"><strong>Dependency</strong></h3>
        <ul class="actions">
            {% if perms.course.change_course %}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-plus-circle"></i> Add more items
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    {% include "course/dashboard/dependency_menu.html" %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center" id="dependency-block">
                {% include "course/dashboard/dependency_block.html" %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include "dependency/dashboard/modal/search.html" %}
{% endblock %}
