{% load static %} {% load dependency_search_tags %}

<h3>{{ title }}</h3>
<form id="form-search" class="container-fluid" method="post">{% csrf_token %}
    <ul class="flex">
        <li class="actionBar">
          {% include "dashboard/fragment/filter_search.html" with search="content name" %}
        </li>
        {% if subject_list|length > 0 %}
        <li class="actionBar">
            {% include "dashboard/fragment/filter_category.html" with use_subject=True %}
        </li>
        {% endif %}
        {% if provider_list|length > 0 %}
        <li class="actionBar">
            {% include "dashboard/fragment/filter_provider.html" %}
        </li>
        {% endif %}
        <li>
            <input type="hidden" name="type" value="{{ type }}">
            <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" id="search-submit">Search</button>
        </li>
    </ul>
</form>
<hr /> {% if content_list|length > 0 %}
<div class="table-responsive text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Name</th>
                <th>Learning Center</th>
                <td>Condition</td>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for content in content_list %}
            <tr>
              <td>
                {% if content.image %}
                <img src="{{ content.image.url }}" /> {% else %}
                <img src="{% static 'images/default-pic-square.png' %}" /> {% endif %}
              </td>
              <td class="text-left">{{ content.name }}</td>
              <td>{% if content.provider %}
                {{ content.provider.name }}
                {% else %}-{% endif %}</td>
                {% parent_check_tag parent_list content_type content.id as parent %}
              <td>
                <div class="select">
                  <select class="form-control" id="condition-{{ content_type.id }}-{{ content.id }}">
            	      {% for condition in condition_choices %}
                          <option value="{{ condition.0 }}" {% if condition.0 == parent.condition %}selected{% endif %}>{{ condition.1 }}</option>
            	      {% endfor %}
                        </select>
                </div>
              </td>
              <td class="f-24">{{ parent.result|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="no-item">No items.</div>
{% endif %}
