{% extends "dashboard/base.html" %}
{% load progress_tags %}
{% load content_tags %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
var swalWarningOptions = {
    title: "Are you sure?",
    text: "You will not be able to recover this course!",
    type: "warning",
    customClass: "helvethaicaais",
    showCancelButton: true,
    confirmButtonColor: "#f44336",
    confirmButtonText: "Yes, delete it!",
    closeOnConfirm: false
}

$('body').on('click', '.course-delete', function(){
    var url = $(this).attr('url');
    swal(swalWarningOptions, function(){
	location.href = url;
    });
    return false;
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Course Management</strong></h2>
    <ul class="actions">
      {% if perms.course.add_course %}
      <li>
        <a href="{% url 'dashboard:course:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-header">
    {% include "content/dashboard/filter2_block.html" %}
  </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th class="text-left">ID</th>
                    <th>Course Name</th>
                    <th>View</th>
                    <th>Self-enrolled</th>
                    {# <th>Registered</th> #}
                    <th>Assigned</th>
                    {# <th>Price</th> #}
                    {# <th>Discount</th> #}
                    {# <th>Progress</th> #}
                    <th>Detail</th>
                    <th>Display</th>
                    <th>Preview</th>
                    {% comment %}
                    {% if perms.course.delete_course %}
                    <th>Delete</th>
                    {% endif %}
                    {% endcomment %}
                </tr>
                </thead>
                <tbody>
                {% for course in course_list %}
                {% pull_content_location_first_tag content_type course.id None -1 None -1 None -1 as content_location %}
                {% pull_progress_content_tag content_location.id content_type.id course.id as progress_content %}
                <tr>
                    <td>
                        {% if course.image %}<img src="{{ course.image.url }}" />
                        {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                        {% endif %}
                    </td>
                    <td class="text-left">{{ course.id }}</td>
                    <td class="text-left">{{ course.name }}</td>
                    <td>{{ course.analytic_view }}</td>
                    <td>{{ progress_content.register_count }}</td>
                    <td>{{ progress_content.assignment_count }}</td>
                    {% comment %}
                    <td>{{ course.analytic_libary }}</td>
                    <td>{{ course.analytic_assign }}</td>
                    {% endcomment %}
                    {# <td>{{ course.price }}</td> #}
                    {# <td>{{ course.discount }}</td> #}
                    {% comment %}
                    <td>
                        <a href="{% url 'dashboard:course:analytic' course.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                            <i class="zmdi zmdi-trending-up zmdi-hc-fw"></i>
                        </a>
                    </td>
                    {% endcomment %}

                    <td>
                        <a href="{% url 'dashboard:course:detail' course.id %}"  class="btn bgm-bluegray btn-sm waves-effect">
                            <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                        </a>
                    </td>
                    <td class="{% if course.is_display %}text-green{% else %}text-red{% endif %}">
                        <i class="zmdi zmdi-circle zmdi-hc-fw permission-change"></i>
                    </td>
                    <td>
                        <a href="{% url 'course:detail' course.id %}?preview=True" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                        </a>
                    </td>
                    {% comment %}
                    {% if perms.course.delete_course %}
                    <td>
                        <a href="#"  class="course-delete btn btn-danger btn-sm waves-effect" url="{% url 'dashboard:course:delete' course.id %}">
                            <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                    </td>
                    {% endif %}
                    {% endcomment %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="99"><div class="no-item">No courses.</div></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "dashboard/paginator.html" with content_list=course_list %}
        </div>
    </div>
</div>
{% comment %}
<font color="red">*หมายเหตุ:</font><br />
<button class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button> สามารถดูรายละเอียดได้อย่างเดียว<br />
<button class="btn btn-success btn-sm waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button> สามารถแก้ไขข้อมูลได้
{% endcomment %}
{% endblock %}
