{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block headerscript %}
<link href="{% static 'institute/css/course.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/croppic/croppic.css' %}" rel="stylesheet">
{% endblock %}

{% block jquery %}
var croppicContaineroutputMinimal = {
    uploadUrl:'{% url 'dashboard:course:image_upload' course.id %}',
    cropUrl:'{% url 'dashboard:course:image_crop' course.id %}',
    modal:false,
    doubleZoomControls:false,
    rotateControls: false,
    loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
    onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
    onAfterImgUpload: function(){
	$('#cropCourseImage').css('background-image', 'none');
    },
    onImgDrag: function(){ console.log('onImgDrag') },
    onImgZoom: function(){ console.log('onImgZoom') },
    onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
    onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
    onReset:function(){ console.log('onReset') },
    onError:function(errormessage){ console.log('onError:'+errormessage) }
}
var cropperHeader = new Croppic('cropCourseImage', croppicContaineroutputMinimal);
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}

<div class="card font-thai">
  <div class="card-body card-padding">
    {% include "course/dashboard/tab.html" %}
    <form class="form-horizontal" role="form" >
      <div class="form-group">
        <div class="form-group">
          <label for="id_name" class="col-sm-3 control-label">Course thumbnail image : </label>
          <div class="col-sm-5">
            <div class="fg-line">
              <div id="cropCourseImage" {% if course.image %}style="background-image: url({{course.image.url}});" {% endif %}>
                <!-- <img src="{% static 'images/placeholder.png' %}" alt=""> -->
              </div>
            </div>
          </div>
          <label class="col-sm-4 control-label text-alirnge-left">* Size ( 426 * 260 )</label>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footerscript %}
<script src="{% static 'js/plugin/croppic/croppic.js' %}"></script>
{% endblock %}
