{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "course/dashboard/course_name_head.html" %}
  {% include "course/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ information_form|bootstrap }}
      <input type="hidden" class="image width" value="{{ IMAGE_SIZE.course.width }}" />
      <input type="hidden" class="image height" value="{{ IMAGE_SIZE.course.height }}" />
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
{% include "main/modal/modal_crop_image_dashboard.html" %}
{% endblock %}
