{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
<!--course/dashboard/level.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Content Level Management</strong></h2>
         <ul class="actions">
            {% if perms.course.add_courselevel %}
            <li>
                <a href="{% url 'dashboard:course:level_create' %}">
                    <i class="zmdi zmdi-plus-circle"></i> Create New
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Level Name</th>
                        <th>No. of Course</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course_level in course_level_list %}
                    <tr>
                        <td class="text-left">{{ course_level.name }}</td>
                        <td>{{ course_level.course_level.count }}</td>
                        <td class="text-center">
                            <a href="{% url 'dashboard:course:level_edit' course_level.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'dashboard:course:level_delete' course_level.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="99"><div class="no-item">No content levels.</div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
