{% load bootstrap %}

<form id="course-material-edit" class="form-horizontal" role="form" action="{% url 'dashboard:course:material_detail' course.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ material_form|bootstrap }}
  <input type="hidden" name="action" value="save">
  <input type="hidden" name="outline" value="{{ material.outline_id }}">
  <input type="hidden" name="material" value="{{ material.id }}">
  <div class="text-right">
    <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" id="modalMaterialBlock-save">Save</button>
  </div>
</form>
