{% load bootstrap %}

<form id="course-material-edit" class="form-horizontal" role="form" action="{% url 'dashboard:course:material_add' course.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ material_form|bootstrap }}
  <input type="hidden" name="action" value="add" />
  <input type="hidden" name="outline" value="{{ outline.id }}">
  <div class="text-right">
    <div id="internet" class="text-center text-red" style="font-weight:bold; font-size: 16px; display:none;">Please use allowed network to create <span id="material-type"></span> learning material</div>
    <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" id="modalMaterialBlock-save" disabled>Save</button>
  </div>
</form>
