{% if upload != None %}
{% if upload.status == 0 %}
(<i class="zmdi zmdi-arrow-right-top zmdi-hc-fw" title="Uploading..."></i>)
{% elif upload.status == 2 %}
(<i class="zmdi zmdi-cloud-upload zmdi-hc-fw" title="wait move to stream server"></i>)
{% elif upload.status == 3 %}
(<i class="zmdi zmdi-cloud-done zmdi-hc-fw" title="complete"></i>)
{% endif %}
{% endif %}
