{% load material_tags %}
{% load duration_tags %}
{% for material in outline.pull_material %}
<tr>
  <td class="text-left">
    {% if material.type == 3 %}
    <a href="{% if material.question %}{% url 'dashboard:question:detail' material.question_id %}{% endif %}" target="_blank">{{ material.name }} {% if material.content_cached %}({{ material.content_cached.name }}){% endif %}</a>
    {% else %}
    {{ material.name }}
    {% endif %}
  </td>
  <td>
    {{ material.get_type_display }}
    {% if material.type == 0 %}({{ material.get_video_type_display }}){% endif %}
  </td>
  <td  class="text-center">
    {% if not forloop.first %}
    <a href="#" class="material-move btn bgm-teal btn-sm waves-effect" material="{{ material.id }}" outline="{{ outline.id }}" action="up">
      <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
    </a>
    {% endif %}
    {% if not forloop.last %}
    <a href="#" class="material-move btn bgm-teal btn-sm waves-effect" material="{{ material.id }}" outline="{{ outline.id }}" action="down">
      <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
    </a>
    {% endif %}
  </td>
  <td class="text-center {{ material.dashboard_video_class }} {% if material.type == 5 %}info{% endif %}">
    {% if material.type == 0 %}
      {% if material.video_type == 2 or material.video_type == 3 %}
        {% if material.video_status == 2 %}
        <a href="#" class="video-veriry" material="{{ material.id }}" outline="{{ outline.id }}"><i class="zmdi zmdi-videocam{% if not material.video_is_verify %}-off{% endif %} zmdi-hc-fw"></i></a>
        {% endif %}
      ({{ material.video_duration|duration }})
      {% endif %}
    {% elif material.type == 4 %}
      <a href="#" class="video-veriry" material="{{ material.id }}" outline="{{ outline.id }}"><i class="zmdi zmdi-videocam{% if not material.video_is_verify %}-off{% endif %} zmdi-hc-fw"></i></a>
      ( {{ material.video_duration }} )
    {% elif material.type == 5 %}
      <span class="pointer scormPreview" src="{{ material.get_scorm_url }}">Preview</span>
    {% endif %}
  </td>
  <td>
    <div class="toggle-switch material-display" data-ts-color="cyan" material="{{ material.id }}" outline="{{ outline.id }}">
      <input id="outline-{{ outline.id }}-material-{{ material.id }}" type="checkbox" hidden="hidden" {% if material.is_display %}checked{% endif %}>
      <label for="outline-{{ outline.id }}-material-{{ material.id }}" class="ts-helper"></label>
    </div>
    <!-- <i class="pointer zmdi zmdi-circle zmdi-hc-fw material-display {% if material.is_display %}text-green{% else %}text-red{% endif %}" material="{{ material.id }}" outline="{{ outline.id }}"></i> -->
  </td>
  <td>
    {% if material.type == 0 %}
    {% if material.video_type == 2 or material.video_type == 3 %}
    {# <a href="#" class="video-quality" video="{{ material.id }}" outline="{{ outline.id }}"><i class="md md-queue"></i></a> #}
    {# <a href="#" data-toggle="modal" data-target="#modalVideoCut" data-video="{{ material.id }}"><i class="md md-content-cut"></i></a> #}
    {% if material.status == 1 or material.status == 2 %}{{ materisl.get_status_display }}{% endif %}
    <a href="#f" class="resumable btn bgm-deeppurple btn-sm waves-effect" material="{{ material.id }}" type="mp4"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a>
    <br /><i class="text-grey f-10">MP4 only</i>
    {% endif %}
    {% elif material.type == 1 %}
    {{ material.link }} <a href="{{ material.link }}" target="_blank"><i class="md md-open-in-browser"></i></a>
    {% elif material.type == 2 %}
    <i class="md md-file-download"></i>
    {% elif material.type == 4 %}
    <a href="#f" class="resumable btn bgm-deeppurple btn-sm waves-effect" material="{{ material.id }}" type="mp3"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a>
    <br /><i class="text-grey f-10">MP3 only</i>
    {% elif material.type == 5 %}
    <a href="#f" class="resumable btn bgm-deeppurple btn-sm waves-effect" material="{{ material.id }}" type="zip"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a>
    <br /><i class="text-grey f-10">Scorm (.zip) only</i>
    {% endif %}
  </td>
  <td>
    <a href="#" class="btn bgm-bluegray btn-sm waves-effect" data-toggle="modal" data-target="#modalMaterialBlock" data-action="edit" data-outline="{{ outline.id }}" data-material="{{ material.id }}">
      <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
    </a>
  </td>
  <td>
    <a href="#" class="material-delete btn btn-danger btn-sm waves-effect" outline="{{ outline.id }}" material="{{ material.id }}">
      <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
    </a>
  </td>
</tr>
<tr>
  <td colspan="99" class="text-left">
    <strong>Dependency :</strong>
    <i>
      {% for parent in material.get_dependency_parent %}
      {% if not forloop.first %}
      <strong>{{ parent.get_condition_display }}</strong>
      {% endif %}
      {{ parent.content_cached.name }}
      <a href="#" class="dependency-delete" parent="{{ parent.id }}" material="{{ material.id }}">[x]</a>
      <br /><span style="displaxy:inline-block;padding-right:83px;margin-bottom:27px;"></span>
      {% endfor %}
    </i>
    <a href="#" class="dependency-add btn bgm-bluegray btn-sm waves-effect" material="{{ material.id }}">
      <i class="zmdi zmdi-plus-circle"></i> Create New
    </a>
  </td>
</tr>
{% empty %}
<tr><td colspan="99">&nbsp;</td></tr>
{% endfor %}
