<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="condition" class="col-sm-2 control-label">Condition</label>
    <div class="col-sm-10">
      <div class="fg-line">
        <div class="select">
          <select class="form-control" name="condition" id="condition" {% if is_first %}disabled{% endif %}>
      	    {% for condition in condition_choices %}
              <option value="{{ condition.0 }}">{{ condition.1 }}</option>
      	    {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="item-add" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
      <div class="fg-line">
        <div class="select">
          <select class="form-control" name="material-add" id="material-add">
            <option>Select Content</option>
	          {% for material in material_list %}
            <option value="{{ material.id }}">[ {{ material.get_type_display }} ] {{ material.content_cached.name }}</option>
	          {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</form>
