{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap %}

{% block css %}
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/minimalist.css' %}">
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.css' %}">
<style>
.flowplayer {
  background-color: #c0c0c0;
  overflow-wrap: break-word;
}
</style>
{% endblock %}

{% block script %}
<script src="{% static 'resumable/resumable.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.hlsjs.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.audio.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.min.js' %}"></script>
<script src="{% static 'scorm/scormAPI_dashboard.js' %}"></script>
<script>
  $(document).ready(function(){
    var alertInterval = setInterval(checkAlert, 10000);
    var alertBefor = 0;
    function checkAlert() {
      $.ajax({
      	method: "POST",
      	url: "{% url 'dashboard:course:alert' course.id %}",
    	  dataType: "json",
        data: {}
      }).done(function(result){
    	  if(result.status == 1){
    	    alertBefor = 1;
    	  }else{
    	    if(alertBefor == 1){
    		    reloadOutline();
    		    alertBefor = 0;
    	    }
    	  }
    	  $('#alert').html(result.html);
      });
    }
    checkAlert();

    $('body').on('change','#id_document',function(){
      var file = this.files[0];
      var fileType = file.type;
      var match = ["application/pdf"];
      if (match.indexOf(fileType)==-1 || file.size > 10000*1024) {
        alert('Accept only *.pdf file with file size less than 10MB');
        $('input#id_document').val('')
        return false;
      }
    });

    var action = null;
    var outline = null;
    var player = null;
    var player_error = false;
    var player_video_last = null;
    var outline_action = null;
    var outline_id = null;
    var material_id = null;

    function reloadOutline(){
      $.ajax({
    	  method: "GET",
      	url: "{% url 'dashboard:course:outline_manage' course.id %}",
      	data: {}
      }).done(function(html) {
    	  $('#material-detail').html(html);
    	  r.assignBrowse(document.getElementsByClassName('resumable'));
      });
      $('#modalOutline').modal('hide');
      return false;
    }

    $('#outline-add').click(function(){
      outline_action = 'add';
      $('#outline-name').val('');
      $('#modalOutline').modal('show');
    });

    $('body').on('click', '.outline-edit', function(){
      outline_action = 'edit';
      outline_id = $(this).attr('outline_id');
      $('#outline-name').val($(this).attr('section'));
      $('#modalOutline').modal('show');
      return false;
    });

    $('#modalOutline-save').click(function(){
      $.ajax({
      	method: "POST",
      	url: "{% url 'dashboard:course:outline_manage' course.id %}",
      	data: {
          action: outline_action,
    	    id: outline_id,
    	    name: $('#outline-name').val()
        }
      }).done(function(html) {
    	  $('#material-detail').html(html);
    	  r.assignBrowse(document.getElementsByClassName('resumable'));
      });
      $('#modalOutline').modal('hide');
      return false;
    });

    $('#internet').hide();

    function material_form_display(type) {
      $('#modalMaterialBlock-save').prop( "disabled", false );
    	var is_type = $("#ip").attr('ip');
    	var is_ip = (is_type == 'True') ? true:false;
      $('#id_image').parents('.form-group').show();
      $('#id_data').parents('.form-group').hide();
      $('#id_question').parents('.form-group').hide();
      $('#id_document').parents('.form-group').hide();
      $('#id_video_type').parents('.form-group').hide();

      if(type == 0 && is_ip == true){
    		$('#modalMaterialBlock-save').prop( "disabled", false );
    		//$('#id_video_type').parents('.form-group').show();
    		//$('#id_data').parents('.form-group').show();
      }else if(type == 1){
    		$('#internet').hide();
    		$('#id_data').parents('.form-group').show();
        $('#id_data').prop('required',true);
      }else if(type == 2 && is_ip == true){
    		$('#internet').hide()
    		$('#id_document').parents('.form-group').show();
      }else if (type == 3){
    		$('#internet').hide()
    		$('#id_question').parents('.form-group').show();
        $('#id_question').prop('required',true);
      }else if(type == 4 && is_ip == true){
    		$('#internet').hide()
      }else if(type == 0 && is_ip == false){
    		$('#modalMaterialBlock-save').prop( "disabled", true );
        $('#material-type').text('Video');
    		$('#internet').fadeIn();
      }else if(type == 4 && is_ip == false){
    		$('#modalMaterialBlock-save').prop( "disabled", true );
        $('#material-type').text('Audio');
    		$('#internet').fadeIn();
      }else if(type == 5 && is_ip == false){
    		$('#modalMaterialBlock-save').prop( "disabled", true );
        $('#material-type').text('Scorm');
    		$('#internet').fadeIn();
      }else if(type == 2 && is_ip == false){
    		$('#modalMaterialBlock-save').prop( "disabled", true );
        $('#material-type').text('Document');
    		$('#internet').fadeIn();
      }
    }

    $('#modalMaterialBlock').on('show.bs.modal', function (event) {
    	$('#modalMaterialBlock-save').prop( "disabled", false );
        var button = $(event.relatedTarget);
        action = button.data('action');
        outline_id = button.data('outline');
        if(action == "add"){
    	$.ajax({
    	    method: "POST",
    	    url: "{% url 'dashboard:course:material_add' course.id %}",
    	    data: {action: 'load',
    		   outline: outline_id}
    	}).done(function(html) {
    	    $('#modalMaterialBlock-title').html("Add Learning Material");
    	    $('#modalMaterialBlock-body').html(html);
    	    material_form_display($('select#id_type').val());
    	});
        }else if(action == "edit"){
    	material_id = button.data('material');
    	$.ajax({
    	    method: "POST",
    	    url: "{% url 'dashboard:course:material_detail' course.id %}",
    	    data: {action: 'load',
    		   material: material_id}
    	}).done(function(html) {
    	    $('#modalMaterialBlock-title').html("Edit Learning Material");
    	    $('#modalMaterialBlock-body').html(html);
    	    material_form_display($('select#id_type').val());
    	});
        }
    });

    $('body').on('change', 'select#id_type', function(){
        material_form_display(this.value);
    });

    {% comment %}
    $('body').on('click', '#modalMaterialBlock-save', function(){
    $('#modalMaterialBlock-save').prop( "disabled", false );
        if(action == "add"){
    	$.ajax({
    	    method: "POST",
    	    url: "{% url 'dashboard:course:material_add' course.id %}",
    	    data: $('#course-material-edit').serialize()+'&'+$.param({action: 'add',
    								      outline: outline_id})
    	}).done(function(html) {
    	    $('tbody[outline='+outline_id+']').html(html);
    	    $('#modalMaterialBlock').modal('hide');
    	    r.assignBrowse(document.getElementsByClassName('resumable'));
    	});
        }else if(action == "edit"){
    	$.ajax({
    	    method: "POST",
    	    url: "{% url 'dashboard:course:material_detail' course.id %}",
    	    data: $('#course-material-edit').serialize()+'&'+$.param({action: 'save',
    								      outline: outline_id,
    								      material: material_id})
    	}).done(function(html) {
    	    $('tbody[outline='+outline_id+']').html(html);
    	    $('#modalMaterialBlock').modal('hide');
    	    r.assignBrowse(document.getElementsByClassName('resumable'));
    	});
        }
    });
    {% endcomment %}

    {% comment %}
    $('#modalVideoCut').on('click', '#modalVideoCut-add', function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_cut_add' course.id %}",
    	data: {material_id: material_id,
    	       start: $('#start').val(),
    	       end: $('#end').val(),
    	       target: $('#target').val()}
        }).done(function(html) {
    	$('#modalVideoCut-body').html(html);
        });
    });

    $('#modalVideoCut').on('click', '#modalVideoCut-delete', function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_cut_delete' course.id %}",
    	data: {material_id: material_id,
    	       cut: $(this).attr('cut')}
        }).done(function(html) {
    	$('#modalVideoCut-body').html(html);
        });
    });

    $('#modalVideoCut-process').click(function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_cut_process' course.id %}",
    	data: {material_id: material_id}
        }).done(function(html) {
    	$('#modalVideoCut-body').html(html);
        });
    });

    $('#modalVideoCut').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        material_id = button.data('video');

        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_cut' course.id %}",
    	data: {video: video}
        }).done(function(html) {
    	$('#modalVideoCut-body').html(html);
        });
    });
    {% endcomment %}

    function video_duration(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_verify' course.id %}",
    	data: {material: material_id,
    	       action: "duration",
    	       duration: player.video.duration}
        }).done(function(html){
    	$('tbody[outline='+outline+']').html(html);
    	r.assignBrowse(document.getElementsByClassName('resumable'));
        });
    }

    function video_veriry(material){
        $('#modalVideoVeriry').modal('show');
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_verify' course.id %}",
    	dataType: "json",
    	data: {material: material,
    	       action: "pull"}
        }).done(function(result){
    	if(result.url == null){
    	    alert('Stream null');
    	}else{
    	    if(player === null){
    		player_video_last = null;
    		if (result.type == 0){
    		    player = flowplayer("#player", {
    			embed: false,
    			autoplay: true,
    			clip: {
    			    sources: [
    				{ type: "application/x-mpegurl", src: result.url }
    			    ]
    			}
    		    });
    		}else if(result.type == 4){
    		    player = flowplayer("#player", {
    			embed: false,
    			autoplay: true,
    			clip: {
    			    sources: [
                       { type: "audio/mp3", src: result.url }
    			    ]
    			}
    		    });
    		}
    		player.on("ready", function (e) {
    		    player_error = false;
    		    if(player_video_last === null){
    			video_duration();
    			player_video_last = 1;
    		    }
    		});
    		player.on("error", function (e) {
    		    player_error = true;
    		});
    	    }else{
    		player_video_last = null;
    		if (result.type == 0)
    		    player.play({
    			sources: [
    			    { type: "application/x-mpegurl", src: result.url }
    			]
    		    });
    		else if(result.type == 4){
    		    player.play({
    			sources: [
    			    { type: "audio/mp3", src: result.url }
    			]
    		    });
    		}
    	    }
    	}
        });
    }

    $('body').on('click', '.video-veriry', function(){
        material_id = $(this).attr('material');
        outline = $(this).attr('outline');
        video_veriry(material_id);
        return false;
    });

    $('body').on('click', '.scormPreview', function(){
        var src = $(this).attr('src');
        $('#scormPreviewModal').modal('show');
        $('#scormPreviewModal iframe').attr({ src: src });
    });

    $('body').on('click', '#scormPreviewModal-close', function(){
      $('#scormPreviewModal').modal('hide');
      $('#scormPreviewModal iframe').attr({ src: '' });
    });

    $('#modalVideoVeriry-close').click(function(){
        if(player !== null){
    	if(!player_error){
    	    //player.shutdown();
    	    player.stop();
    	}else{
    	    player.error = player.loading = false;
    	    $("#player").removeClass("is-error");
    	}
        }
        $('#modalVideoVeriry').modal('hide');
    });

    $('body').on('click', '.outline-sort', function(){
        var outline = $(this).attr('outline');
        var action = $(this).attr('action');
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:outline_sort' course.id %}",
    	data: {outline: outline,
    	       action: action}
        }).done(function(html){
    	$('#material-detail').html(html);
    	r.assignBrowse(document.getElementsByClassName('resumable'));
        });
        return false;
    });

    $('body').on('click', '.material-move', function(){
        var outline = $(this).attr('outline');
        var material = $(this).attr('material');
        var action = $(this).attr('action');
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_sort' course.id %}",
    	data: {outline: outline,
    	       material: material,
    	       action: action}
        }).done(function(html){
    	$('tbody[outline='+outline+']').html(html);
    	r.assignBrowse(document.getElementsByClassName('resumable'));
        });
        return false;
    });

    $('body').on('click', '.material-display', function(){
        var outline = $(this).attr('outline');
        var material = $(this).attr('material');
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_display' course.id %}",
    	data: {outline: outline,
    	       material: material}
        }).done(function(html){
    	$('tbody[outline='+outline+']').html(html);
    	checkAlert();
    	r.assignBrowse(document.getElementsByClassName('resumable'));
        });
        return false;
    });

    {% comment %}
    $('body').on('click', '.video-quality', function(){
        outline = $(this).attr('outline');
        material_id = $(this).attr('video');
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_quality' course.id %}",
    	data: {outline: outline,
    	       material: material_id}
        }).done(function(html){
    	$('#modalVideoQuality-body').html(html);
    	$('#modalVideoQuality').modal('show');
        });
        return false;
    });

    $('body').on('click', '.stream-public', function(){
        var stream = $(this).attr('stream');
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_stream_public' course.id %}",
    	data: {material: material_id,
    	       stream: stream}
        }).done(function(html){
    	$('#modalVideoQuality-body').html(html);
        });
        return false;
    });

    $('#modalVideoQuality-360p').click(function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_quality_360p' course.id %}",
    	data: {outline: outline,
    	       material: material_id}
        }).done(function(html){
    	$('#modalVideoQuality-body').html(html);
        });
    });

    $('#modalVideoQuality-process').click(function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'institute:course_video_quality_process' course.id %}",
    	data: {video: video}
        }).done(function(html) {
    	$('#modalVideoQuality-body').html(html);
        });
    });
    {% endcomment %}

    var swalWarningOptions = {
        title: "Are you sure?",
        text: "You will not be able to recover this video!",
        type: "warning",
        customClass: "helvethaicaais",
        showCancelButton: true,
        confirmButtonColor: "#f44336",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
    }

    var swalDeletedOptions = {
        title: "Deleted!",
        text: "The video has been deleted.",
        type: "success",
        customClass: "helvethaicaais",
        confirmButtonColor: "#b2d234"
    }

    $('body').on('click', '.outline-delete', function(){
        var outline = $(this).attr('outline');
        swal(swalWarningOptions, function(){
        	$.ajax({
        	    method: "POST",
        	    url: "{% url 'dashboard:course:outline_delete' course.id %}",
        	    data: {outline: outline,
        		   material: material_id}
        	}).done(function(html){
        	    $('#material-detail').html(html);
        	    r.assignBrowse(document.getElementsByClassName('resumable'));
        	});
          swal(swalDeletedOptions);
        });
        return false;
    });

    $('body').on('click', '.material-delete', function(){
        var outline = $(this).attr('outline');
        var material = $(this).attr('material');
        swal(swalWarningOptions, function(){
        	$.ajax({
        	    method: "POST",
        	    url: "{% url 'dashboard:course:material_delete' course.id %}",
        	    data: {outline: outline,
        		   material: material}
    	}).done(function(html){
    	    reloadOutline();
        	    // $('tbody[outline='+outline+']').html(html);
        	    checkAlert();
        	    r.assignBrowse(document.getElementsByClassName('resumable'));
        	});
          swal(swalDeletedOptions);
        });
        return false;
    });

    var resumable_material_video_id = null;
    var resumable_material_type = null;
    var is_type = $("#ip").attr('ip');
    var is_ip = (is_type == 'True') ? true:false;
    var r = new Resumable({
      target: '{% url 'dashboard:course:material_resumable' course.id %}',
      simultaneousUploads: 1
    });
    if(is_ip == true){
      r.assignBrowse(document.getElementsByClassName('resumable'));
    }

    $('body').on('click', '.resumable', function(e){
      if(is_ip == false){
        swal('Error', 'Please use allowed network to create ' + $(this).attr('type').toUpperCase() + ' learning material', 'error');
      } else {
        resumable_material_video_id = $(this).attr('material');
        resumable_material_type = $(this).attr('type');
      }
    });

    function update_queue(){
      var html = '';
      var c = 0;
      $.each(r.files, function (index, file) {
        if(file.progress() < 1){
          c += 1;
          if(c > 1) html += ', ';
          html += file.fileName;
        }
        // console.log(file.fileName);
        // console.log(file.progress());
      });
      $('#upload-queue-data').html(html);
    }

    r.on('fileAdded', function(file, event){
      var fileType = file.file.type || file.file.name.substr(file.file.name.length-3);
      console.log(fileType);
      console.log(resumable_material_type);
      if ((fileType.indexOf(resumable_material_type) == -1) ) {
        swal('Error', 'Please upload only ' + (resumable_material_type.slice(-3)).toUpperCase() +' file', 'error');
      } else {
        $('#upload-progress').show();
        $.ajax({
          method: "POST",
          url: "{% url 'dashboard:course:material_video' course.id %}",
          data: {
            filename: file.fileName,
            material: resumable_material_video_id
          }
        }).done(function(html){
          r.upload();
          update_queue();
        }).error(function(err){
          console.log(err)
        });
      }
    });

    r.on('fileProgress', function(file){
      $('#upload-progress').show();
      $('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
      $('#upload-queue').show();
    });

    r.on('fileSuccess', function(file,message){
      $('#upload-progress').hide();
      $('#upload-queue').hide();
      update_queue();
      reloadOutline();
    });

    $('#upload-progress').hide();
    $('#upload-queue').hide();

    $('body').on('click', '.dependency-add', function(){
        material_id = $(this).attr('material');
        outline_id = $(this).parents('tbody').attr('outline');
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_dependency' course.id %}",
    	data: {material: material_id},
        }).done(function(html) {
    	$('#modalDependency-body').html(html);
    	$('#modalDependency').modal('show');
        });
        return false;
    });

    $('#modalDependency-add').click(function(){
        $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:course:material_dependency_add' course.id %}",
    	data: {material: material_id,
    	       condition: $("#condition").val(),
    	       material_add: $("#material-add").val()},
        }).done(function(html){
    	$('tbody[outline='+outline_id+']').html(html);
    	$('#modalDependency').modal('hide');
        });
        return false;
    });

    $('body').on('click', '.dependency-delete', function(){
        material_id = $(this).attr('material');
        outline_id = $(this).parents('tbody').attr('outline');
        var parent_id = $(this).attr('parent');
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this dependency!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function(){
    	$.ajax({
    	    method: "POST",
    	    url: "{% url 'dashboard:course:material_dependency_delete' course.id %}",
    	    data: {outline: outline_id,
    		   material: material_id,
    		   parent: parent_id}
    	}).done(function(html){
    	    $('tbody[outline='+outline_id+']').html(html);
    	    r.assignBrowse(document.getElementsByClassName('resumable'));
    	});
            swal("Deleted!", "Your dependency has been deleted.", "success");
        });
        return false;
    });
  })
</script>
{% endblock %}

{% block content %}
<!--course/dashboard/outline.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card" ip="{{is_upload}}" id="ip">
  {% include "course/dashboard/course_name_head.html" %}
  {% include "course/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Curriculum</strong></h3>
    <ul class="actions">
      {% if perms.course.change_course %}
      <li>
        <a href="#" id="outline-add">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div id="alert">{% include "course/dashboard/alert.html" %}</div>
    {% if is_update %}
    <div class="alert alert-warning" role="alert">
      <strong>Warning! มีการแก้ไขเนื้อหาที่อยู่ใน Library ของผู้ใช้ กรุณา <a href="{% url 'dashboard:progress:update' %}">อัพเดต progress</a> ไปที่ผู้ใช้.</strong>
    </div>
    {% endif %}
    {% if cut_list|length != 0 %}
    <div class="alert alert-warning" role="alert">
      <p><strong>Warning!</strong> Process Cut Video.</p>
      <ul class="clist clist-angle">
	{% for cut in cut_list %}
	<li>{{ cut.video.name }} ({{ cut.get_status_display }})</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if quality_list|length != 0 %}
    <div class="alert alert-warning" role="alert">
      <p><strong>Warning!</strong> Process Quality Video.</p>
      <ul class="clist clist-angle">
	{% for quality in quality_list %}
        <li>{{ quality.video.name }} ({{ quality.get_status_display }})</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div id="upload-progress" class="progress progress-striped m-b-10">
      <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="alert alert-info" role="alert" id="upload-queue">
      <b>Queue!</b> <div id="upload-queue-data"></div>
    </div>
    <div class="table-responsive">
        <table id="material-detail" class="table table-hover text-center">
          {% include "course/dashboard/outline_block.html" %}
        </table>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
<!-- Modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div id="modal-body" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect" data-dismiss="modal">Close</button>
	{% comment %}
        <button type="button" id="modalVideoBlock-save" class="btn btn-primary">Save</button>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div id="modalVideoCut" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modalVideoCut-title" class="modal-title">Video</h4>
      </div>
      <div id="modalVideoCut-body" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Close</button>
        <button type="button" id="modalVideoCut-process" class="btn bgm-bluegray btn-lg waves-effect">Process</button>
      </div>
    </div>
  </div>
</div>

<div id="modalOutline" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Outline</h4>
      </div>
      <div id="modalOutline-body" class="modal-body">
	<div class="form-group row">
	  <label for="id_name" class="col-sm-2 control-label">Name</label>
	  <div class="col-sm-10">
	    <div class="fg-line">
	      <input class="form-control" id="outline-name" type="text" value="" />
	    </div>
	  </div>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Cancel</button>
        <button type="button"  id="modalOutline-save" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="modalMaterialBlock" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modalMaterialBlock-title" class="modal-title">Add Learning Material</h4>
      </div>
      <div id="modalMaterialBlock-body" class="modal-body"></div>
    </div>
  </div>
</div>

<div id="modalVideoVeriry" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div id="modalVideoVeriry-body" class="modal-body">
	<div id="player" class="flowplayer"></div>
      </div>
      <div class="modal-footer">
        <button id="modalVideoVeriry-close" type="button" class="btn bgm-bluegray btn-lg waves-effect">Close</button>
	{% comment %}
        <button id="modalVideoBlock-save" type="button" class="btn btn-primary">Save</button>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div id="scormPreviewModal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div id="scormPreviewModal-body" class="modal-body">
        <div style="position:relative;width:100%;padding-bottom:70%;">
          <iframe src="" style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button id="scormPreviewModal-close" type="button" class="btn bgm-bluegray btn-lg waves-effect">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modalVideoQuality" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 id="modalVideoCut-title" class="modal-title">Video Quality</h4>
      </div>
      <div id="modalVideoQuality-body" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" id="modalVideoQuality-360p" class="btn btn-success btn-lg waves-effect">360p or re-render</button>
        <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Close</button>
        <button type="button" id="modalVideoQuality-process" class="btn btn-primary btn-lg waves-effect">Process</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDependency">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalVideoBlock-title">Dependency</h4>
      </div>
      <div class="modal-body" id="modalDependency-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect" id="modalDependency-add">Add</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
