<thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Sort</th>
    <th>Duration</th>
    <th>Display</th>
    <th>Add/Upload</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
{% for outline in outline_list %}
<tbody>
    <tr class="emphasize">
        <td class="text-left" style="font-size:16px;"><strong>Section {{ forloop.counter }} : {{ outline.section }}</strong></td>
        <td></td>
        <td>
            {% if not forloop.first %}
            <a href="#" class="outline-sort btn bgm-teal btn-sm waves-effect" outline="{{ outline.id }}" action="up">
                <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
            </a>
            {% endif %} {% if not forloop.last %}
            <a href="#" class="outline-sort btn bgm-teal btn-sm waves-effect" outline="{{ outline.id }}" action="down">
                <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
            </a>
            {% endif %}
        </td>
        <td></td>
        <td>
            {% comment %}<a href="#"><i class="md md-done-all"></i></a>{% endcomment %}
        </td>
        <td>
            <a href="#" class="btn bgm-deeppurple btn-sm waves-effect" data-toggle="modal" data-target="#modalMaterialBlock" data-action="add" data-outline="{{ outline.id }}">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i>
            </a>
        </td>
        <td>
            <a href="#" class="outline-edit btn bgm-bluegray btn-sm waves-effect" section="{{ outline.section }}" outline_id="{{ outline.id }}">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
            </a>
        </td>
        <td class="text-center">
            <a href="#" class="outline-delete btn btn-danger btn-sm waves-effect" outline="{{ outline.id }}">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
            </a>
        </td>
    </tr>
</tbody>
<tbody outline="{{ outline.id }}">
    {% include "course/dashboard/material_block.html" %}
</tbody>
{% empty %}
<tbody>
    <tr>
        <td colspan="8">
            <p class="no-data">No course material</p>
        </td>
    </tr>
</tbody>
{% endfor %}
