{% extends "dashboard/base.html" %}

{% block jquery %}
var id;
$('body').on('click', '.price-use', function(){
    var id = $(this).attr('store-course');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:course:price_use' course.id %}",
	data: {id: id}
    }).done(function(html){
	$('#course-price').html(html);
    });
    return false;
});

$('body').on('click', '.price-edit', function(){
    id = $(this).attr('store-course');
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:course:price_edit' course.id %}",
	dataType: "json",
	data: {id: id,
	       action: "load"}
    }).done(function(result){
	$('#ios-price').parents('.form-group').hide();
	$('#ios-discount').parents('.form-group').hide();

	$('#price').val(result.price);
	$('#discount').val(result.discount);
	if(result.store == 3){
	    $('#price').parents('.form-group').hide();
	    $('#discount').parents('.form-group').hide();

	    $('#ios-price').parents('.form-group').show();
	    $('#ios-discount').parents('.form-group').show();
        $('#ios-price').val(result.ios_price);
	    $('#ios-discount').val(result.ios_discount);
	    $('#price-credit').hide();
	}else if(result.store == 6){
	    $('#credit').val(result.credit);
	    $('#price-credit').show();
	}else{
	    $('#price-credit').hide();
	}
	$('#modalPrice').modal('show');
    });
    return false;
});

$('#modalPrice-save').click(function(){
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:course:price_edit' course.id %}",
	data: {id: id,
	       action: "save",
	       price: $('#price').val(),
	       discount: $('#discount').val(),
	       ios_price: $('#ios-price').val(),
	       ios_discount: $('#ios-discount').val(),
	       credit: $('#credit').val()}
    }).done(function(html){
	$('#course-price').html(html);
	$('#modalPrice').modal('hide');
    });
    return false;
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "course/dashboard/course_name_head.html" %}
  {% include "course/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Set Price</strong></h3>
  </div>
  <div class="card-body card-padding">
    <table id="course-price" class="table table-hover text-center">
      {% include "course/dashboard/price_block.html" %}
    </table>
  </div>
</div>
{% endblock %}
{% block modal %}
<div id="modalPrice" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="modalVideoCut-title">Price Edit</h4>
      </div>
      <div class="modal-body" id="modalPrice-body">
        <form class="form-horizontal" role="form">
          <div class="card-body card-padding">
            <div class="form-group">
              <label for="price" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <div class="fg-line">
                  <input type="text" class="form-control" id="price" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="discount" class="col-sm-2 control-label">Discount</label>
              <div class="col-sm-10">
                <div class="fg-line">
                  <input type="text" class="form-control" id="discount">
                </div>
              </div>
            </div>
    	    <div class="form-group">
              <label for="ios-price" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <div class="select">
                  <select class="form-control" id="ios-price">
    		    {% for price_matrix in price_matrix_list %}
    		    <option value="{{ price_matrix.id }}">{{ price_matrix.price_usd }} USD</option>
    		    {% endfor %}
    		  </select>
                </div>
              </div>
            </div>
    	    <div class="form-group">
              <label for="ios-price" class="col-sm-2 control-label">Discount</label>
              <div class="col-sm-10">
                <div class="select">
                  <select class="form-control" id="ios-discount">
                    <option value="-1">Not Discount</option>
    		    {% for price_matrix in price_matrix_list %}
    		    <option value="{{ price_matrix.id }}">{{ price_matrix.price_usd }} USD</option>
    		    {% endfor %}
    		  </select>
                </div>
              </div>
            </div>
    	    <div class="form-group" id="price-credit">
              <label for="credit" class="col-sm-2 control-label">Credit</label>
              <div class="col-sm-10">
                <div class="fg-line">
                  <input type="text" class="form-control" id="credit" placeholder="hh:mm:ss" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
    	<button type="button" class="btn btn-danger btn-lg waves-effect" data-dismiss="modal">Cancel</button>
    	<button type="button" class="btn bgm-bluegray btn-lg waves-effect" id="modalPrice-save">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
