{% load humanize %}
<thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Credit (Limit)</th>
    <th>Edit</th>
    <th>Use</th>
  </tr>
</thead>
<tbody>
  {% for price in price_list %}
  <tr>
    <td>{{ price.get_store_display }}</td>
    {% if price.store == 3 %}
    <td>
      {{ price.ios.price_tier.price_usd|intcomma }} USD<br/>
      (<span color="text-red">*</span> {{ price.price|intcomma }} THB)
    </td>
    {% if price.ios.discount_tier == None %}
    <td>
      Not Discount<br/>
      (<span color="text-red">*</span> {{ price.discount|intcomma }} THB)
    </td>
    {% else %}
    <td>
      {{ price.ios.discount_tier.price_usd|intcomma }} USD<br/>
      (<span color="text-red">*</span> {{ price.discount|intcomma }} THB)
    </td>
    {% endif %}
    {% else %}
    <td>{{ price.price|intcomma }} THB</td>
    <td>{{ price.discount|intcomma }} THB</td>
    {% endif %}
    <td>{{ price.credit }}</td>
    <td>
      <a href="#" action="0" class="price-edit btn bgm-bluegray btn-sm waves-effect" store-course="{{ price.id }}">
    	<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
      </a>
    </td>
    <td>
      <a href="#" style="color: {% if price.is_use %}#b2d234{% else %}#F44336{% endif %} !important">
        <i class="zmdi zmdi-circle zmdi-hc-fw price-use" store-course="{{ price.id }}"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
