<ul class="tab-nav text-center" role="tablist" tabindex="2">
    <li {% if TAB == "information" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:detail' course.id %}">Information</a>
    </li>
    {% comment %}
    <li {% if TAB == "image" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:image' course.id %}">Image</a>
    </li>
    {% endcomment %}
    <li {% if TAB == "outline" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:outline' course.id %}">Curriculum</a>
    </li>
    <li {% if TAB == "time" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:time' course.id %}">Learning Credit & Time Period</a>
    </li>
    {% if IS_PRICE %}
    <li {% if TAB == "price" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:price' course.id %}">Price</a>
    </li>
    {% endif %}
    <li {% if TAB == "dependency" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:dependency' course.id %}">Dependency</a>
    </li>
    {% if IS_CONTENT_ACCESSIBILITY %}
    <li {% if TAB == "access" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:access' course.id %}">Accessibility</a>
    </li>
    {% endif %}
    {% comment %}
    <li {% if TAB == "term" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:course:term' course.id %}">Terms & Conditions</a>
    </li>
    <li {% if TAB == "perview" %}class="active"{% endif %}>
        <a href="#">Perview</a>
    </li>
    {% endcomment %}
    {% comment %}
    <li {% if TAB == "public" %}class="active"{% endif %}>
        <a href="{# {% url 'institute:course_public' course.id %} #}#">Public</a>
    </li>
    {% endcomment %}
</ul>
