{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}


{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "course/dashboard/course_name_head.html" %}
    {% include "course/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Terms & Conditions</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal thai" role="form" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Terms & Conditions</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <textarea name="term-info" class="form-control" rows="10" placeholder="Terms & Conditions">{{ term_content.body }}</textarea>
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                {% if perms.course.change_course %}
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
