{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--course/dashboard/time.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "course/dashboard/course_name_head.html" %}
  {% include "course/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Learning Credit & Time Period</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
      <div class="col-sm-6">
        <h3>เครดิตเวลาเข้าเรียน (Learning Credit)</h3>
        <div class="radio">
          <label>
            <input type="radio" name="credit" value="unlimited" {% if course.credit.total_seconds == 0 %}checked{% endif %} />
            <i class="input-helper"></i>
            Unlimited Credit
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="credit" value="limited" {% if course.credit.total_seconds != 0 %}checked{% endif %} />
            <i class="input-helper"></i>
            Limited at
          </label>
        </div>
        <div class="form-group fg-line">
          <label>Day</label>
          <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ course.credit.days }}" name="credit-day">
        </div>
        <div class="form-group fg-line">
          <label>Hour</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ course.get_credit_hour }}" name="credit-hour">
        </div>
        <div class="form-group fg-line">
          <label>Minute</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ course.get_credit_minute }}" name="credit-minute">
        </div>
      </div>
      <div class="col-sm-6">
        <h3>ระยะเวลาเข้าเรียน (Time Period)</h3>
        <div class="radio">
          <label>
            <input type="radio" name="expired" value="unlimited" {% if course.expired.total_seconds == 0 %}checked{% endif %} />
            <i class="input-helper"></i> Unlimited Period
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="expired" value="limited" {% if course.expired.total_seconds != 0 %}checked{% endif %} />
            <i class="input-helper"></i> Limited at
          </label>
        </div>
        <div class="form-group fg-line">
          <label>Day</label>
          <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ course.expired.days }}" name="expired-day">
        </div>
        <div class="form-group fg-line">
          <label>Hour</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ course.get_expired_hour }}" name="expired-hour">
        </div>
        <div class="form-group fg-line">
          <label>Minute</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ course.get_expired_minute }}" name="expired-minute">
        </div>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
