{% load department_tags %}
<form id="{{ form_id }}" action="" method="post">{% csrf_token %}
  <ul class="actions">
    <li>
      <form action="" method="post">{% csrf_token %}
        <div class="actionBar">
          <div class="fg-line">
            <input type="text" name="name" class="form-control icon-search" placeholder="Search learner" value="" />
          </div>
        </div>
      </form>
    </li>
    {% if q_department_list|length > 0 %}
    <li>
      <div class="actionBar">
        <div class="fg-line">
          <div class="select">
            <select class="form-control" id="q_department" name="q_department">
              <option value="-1">All Departments</option>
              {% for department in q_department_list %}
              <option value="{{ department.id }}" {% if department.id == q_department %}selected{% endif %}>{{ department.name|capfirst }}</option>
              {% filter_tag department q_department 0 %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </li>
    {% endif %}
    <li>
      <input type="hidden" name="type" value="{{ type }}">
      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" id="{{ button_id }}">Search</button>
    </li>
  </ul>
</form>
