{% load static %}
{% load duration_tags %}
{% load provider_tags %}
{% load category_tags %}

{% pull_category_tag content.category_id as category %}
{% pull_provider_tag content.provider_id as provider %}
<div class="row">
  {% if content_type.app_label == "assignment" %}
  <div class="col-sm-3">
    {% include "progress/dashboard/assignment_info.html" %}
  </div>
  {% endif %}
  <div class="{% if content_type.app_label == "assignment" %}col-sm-5{% else %}col-sm-7{% endif %} overflow-hidden">
    <h4 class="info-inline">
      <img src="{% if content.image %}{{ content.image.url }}{% else %}{% static 'images/default-pic-square.png' %}{% endif %}" class="cover" style="height:100px;" />
      <span>
        <strong class="f-20">{{ content.name }}</strong><br />
        {% if category %}<span class="main-color">{{ category.name }}</span>{% endif %}
        {% if category and provider %}|{% endif %}
        {% if provider %}<span class="main-color">{{ provider.name }}</span>{% endif %}
      </span>
    </h4>
  </div>
  <div class="{% if content_type.app_label == "assignment" %}col-sm-4{% else %}col-sm-5{% endif %} p-t-5 p-b-5" style="border-left:solid 1px #ddd;">
    {% if content_type_name == "test" %}
    <strong>Test Conditions:</strong><br />
    <span class="text-muted">• Testing Time:</span> {{ content.time_limit }} mins.<br />
    <span class="text-muted">• Test Quota:</span> {{ content.max_submit }} times.<br />
    <span class="text-muted">• Full Score:</span> {{ content.max_score }} point{{ content.max_score|pluralize }}<br />
    <span class="text-muted">• Pass Score:</span> {{ content.pass_score }} point{{ content.pass_score|pluralize }}
    {% elif content_type_name == "course" %}
    <strong>Course Conditions:</strong><br />
    <span class="text-muted">• Learning Item:</span> {{ progress.material_count }} Item{{ progress.material_count|pluralize }}<br />
    <span class="text-muted">• Section:</span> {{ course.outline_list.count }} Section{{ course.outline_list.count|pluralize }}<br />
    <span class="text-muted">• Total time:</span> {{ course.duration|duration }}<br />
    <span class="text-muted">• Learning Credit:</span> {% if course.credit.total_seconds == 0 %}Unlimited{% else %}{{ course.credit|duration_tag }}{% endif %}<br />
    <span class="text-muted">• Learning Period:</span> {% if course.expired.total_seconds == 0 %}No expiry{% else %}{{ course.expired|duration_tag }}{% endif %}
    {% elif content_type_name == "program" %}
    <strong>Program Conditions:</strong><br />
    <span class="text-muted">• Learning Item:</span> {{ progress.content_count }} Item{{ progress.content_count|pluralize }}<br />
    <span class="text-muted">• Course:</span> {{ content.count_course }} Course{{ content.count_course|pluralize }}<br />
    <span class="text-muted">• Test:</span> {{ content.count_question }} Test{{ content.count_question|pluralize }} <br />
    <span class="text-muted">• TO-DO:</span> {{ content.count_task }} TO-DO{{ content.count_task|pluralize }} <br />
    <span class="text-muted">• Learning Period:</span> {% if course.expired.total_seconds == 0 %}No expiry{% else %}{{ course.expired|duration_tag }}{% endif %}
    {% elif content_type_name == "onboard" %}
    <strong>Onboard Conditions:</strong><br />
    <span class="text-muted">• Learning Item:</span> {{ progress.content_count }} Item{{ progress.content_count|pluralize }}<br />
    <span class="text-muted">• Learning Period:</span> {% if course.expired.total_seconds == 0 %}No expiry{% else %}{{ course.expired|duration_tag }}{% endif %}<br />
    <span class="text-muted">• Total Streaming Time:</span> HH:mm:ss
    {% endif %}
  </div>
</div>
