{% load department_tags %}
<form action="" method="get">
  <ul class="actions">
    <li>
      <div class="actionBar">
      	<div class="fg-line">
      	  <input type="text" style="height:43px;" id="name" name="name" class="form-control icon-search" placeholder="Search.." {% if q_name %}value="{{ q_name }}"{% endif %} />
      	</div>
      </div>
    </li>

    {% if q_category_list %}
    <li>
      <div class="actionBar" style="width:200px;">
	<div class="fg-line">
          <div class="select">
            <select class="form-control" name="category" style="height:43px;">
              <option value="-1">All Categories</option>
              {% for category in q_category_list %}
              <option value="{{ category.id }}" {% if category.id == q_category %}selected{% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
    	</div>
      </div>
    </li>
    {% endif %}

    {% if q_provider_list %}
    <li>
      <div class="actionBar" style="width:200px;">
      	<div class="fg-line">
      	  <div class="select">
            <select class="form-control" name="provider" style="height:43px;">
              <option value="-1">All Learning Center</option>
                {% for provider in q_provider_list %}
              <option value="{{ provider.id }}" {% if provider.id == q_provider %}selected{% endif %}>{{ provider.name }}</option>
              {% endfor %}
            </select>
      	  </div>
      	</div>
      </div>
    </li>
    {% endif %}

    {% if q_department_list %}
    <li>
      <div class="actionBar" style="width:200px;">
	<div class="fg-line">
	  <div class="select" >
            <select class="form-control" id="department" name="department" style="height:43px;">
              <option value="-1">All Departments</option>
              {% for department in q_department_list %}
              <option value="{{ department.id }}" {% if department.id == q_department %}selected{% endif %}>{{ department.name|capfirst }}</option>
              {% filter_tag department q_department 0 %}
              {% endfor %}
	    </select>
	  </div>
	</div>
      </div>
    </li>
    {% endif %}
    <li>
      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Search</button>
    </li>
  </ul>
</form>
