<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="modalSearch-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect btn-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect btn-select" style="display:none;">Select</button>
      </div>
    </div>
  </div>
</div>
