<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
body {
	font-family:"Arial","sans-serif";
	font-size: 13px;
	line-height: 1.5;
	color: #6b6b6b;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>
<body>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#fcfcfc;">
        <tr valign="top" style="vertical-align:top;width:100%;">
        	<td width="570" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;padding:15px; margin:0;">
        		<!--Header-->
        		<table width="570" border="0" cellspacing="0" cellpadding="0" style="border-bottom:5px solid #db1c2f; padding:10px 0;">
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;">
							<a href="http://on.fb.me/1ewmfXT" target="_blank"><img src="{{ BASE_URL }}/static/images/mailer/logo_academy.png"></a>
						</td>
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;text-align:right">
							<img src="{{ BASE_URL }}/static/images/mailer/slogan.png">
						</td>
					</tr>
        		</table>

        		<!--bill Address-->
        		<table width="570" border="0" cellspacing="0" cellpadding="" style="border-bottom:1px solid #eee; padding:10px 0;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;padding:10px 0;">
							<span style="font-size:18px;color:#db1c2f;">สวัสดี {{ account.first_name }} {{ account.last_name}} !</span><br>
							<span style="font-size:14px;color:#383838;">Email ของคุณคือ {{ account.email }}</span><br>
						</td>
					</tr>
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;padding:20px 0; text-align:center; width:100%;">
							<img src="{{ profile_image_link }}" style="max-width:100%;">
						</td>
					</tr>
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;">
							<span style="">
								คุณสามารถยืนยันความเป็นเข้าของ Email ซึ่งเชื่อมต่อกับบัญชีของคุณได้ง่ายๆด้วยการกดปุ่มด้านล่าง<br>
								โดยการเชื่อมต่อบัญชี Conicle เข้ากับ Email จะช่วยเพิ่มความปลอดภัยให้กับบัญชี Conicle ของคุณ
							</span><br>
						</td>
					</tr>
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td align="center" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block; text-align:center;width:100%;padding:10px 0;">
							<table align="center" width="" border="0" cellspacing="0" cellpadding="" style="">
								<tr align="center" valign="top" style="vertical-align:top;">
									<td align="center" colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;border-radius:7px; padding:10px 20px; background:#db1c2f;">
										<a href="{{ verify_link }}" style="display: block; color: #fff;font-size: 14px;word-break: keep-all;text-decoration: none;"><span>ยืนยันการสมัคร</span></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
        		</table>

				<!--Regards-->
				<table width="570" border="0" cellspacing="0" cellpadding="" style="padding:20px 0;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;">
							<span style="color:#909090;">
								หากเกิดปัญหา ข้อสงสัย หรือ ต้องการสอบถามข้อมูล สามารถติดต่อผ่านทางข้อมูลด้านล่างนี้
							</span><br><br>
						</td>
					</tr>
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;line-height:1.5;">
							<span>Email : <a href="" style="color:#428bca!important;">contact@conicle.com</a></span><br>
							<span>Tel : 0-2077-2868</span><br>
							<span>Fan Page : </span><span><a href="https://www.facebook.com/conicleacademy" style="color:#428bca!important;">www.facebook.com/ConicleAcademy</a></span><br><br>
						</td>
					</tr>
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;font-size:16px;">
							<span>Best Regrads,</span><br>
							<span style="color:#db1c2f; font-size:18px;">Conicle Team</span><br>
						</td>
					</tr>
				</table>
        	</td>
        </tr>
        <!--tr footer-width100%;-->
        <tr style="vertical-align:top;width:100%;">
        	<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;">
        		<!--Footer-->
				<table width="" border="0" cellspacing="0" cellpadding="" style="padding:20px 0; background:#4c4c4c;">
					<tr valign="top" style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;text-align:center;">
							<span>
								<img style="width:120px;" src="{{ BASE_URL }}/static/images/logo-white.png">
							</span><br><br>
						</td>
					</tr>
					<tr style="vertical-align:top;width:100%;">
						<td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;display:block;font-size:11px;color:#909090;text-align:center;padding-left:30px;padding-right:30px;">
							<span>Conicle’s mission is to empower people to learn and teach things better with innovation, creativity, and inspiration.</span><br>
							<span>Contact us : Tel. 0-2077-2868 Email. contact@conicle.com</span><br><br>
							<span style="font-size:10px; color:#666666;">Copy Right 2015 Conicle Co.,Ltd.</span>
						</td>
					</tr>
				</table>
        	</td>
        </tr>
    </table>
</body>
</html>