{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block css %}
<link href="{% static 'dashboard/vendors/summernote/dist/summernote.css' %}" rel="stylesheet">
<style>button[data-original-title="Font Family"]{ display:none; }</style>
{% endblock %}
{% block script %}
<script src="{% static 'dashboard/vendors/summernote/dist/summernote-updated.min.js' %}"></script>
{% endblock %}
{% block jquery %}
  $('.note-editable').html('{{ term.body|safe }}');
  $('.submit-content-form').click(function(){
    console.log($('.html-editor').code());
    $('#content-hidden').val($('.html-editor').code());
    setTimeout(function(){
      $('.content-form').submit();
    },100);
  });
{% endblock %}
{% block content %}
<!--term/dashboard/home.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Terms of Service</strong></h2>
  </div>
    <div class="card-body card-padding">
        <form class="form-horizontal content-form" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% comment %}{{ term_content_form|bootstrap }}{% endcomment %}
            <div class="html-editor"></div>
            <input type="hidden" id="content-hidden" name="term" value="" />
            <div class="form-group text-right">
                <button type="button" class="submit-content-form btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
