{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'thanachart/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
    <form id="form-login" class="fade-in-up-delay">{% csrf_token %}
      <div class="text-left">
        <div class="top-pad white"><strong>Email</strong></div>
        <p><input name="email" type="text" placeholder="Email" autofocus /></p>
        <div class="top-margin-little white"><strong>Password</strong></div>
        <p><input name="password" type="password" placeholder="Password" /></p>
        <p class="top-margin-little">
          <input id="remember" name="remember" type="checkbox" />
          <label for="remember" class="white">Remember Me</label>
        </p>
      </div>
      <input type="hidden" name="ref" value="{{ ref }}" />
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="error-msg red top-margin-little" style="display:none;">Error Message</p>
      <p class="top-margin-little"><button type="submit" class="btn-block btn-black">Login</button></p>
    </form>
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Thanachart Bank PLC. All Rights Reserved.
  </footer>
</div>
{% endblock %}
