{% extends "program/detail.html" %}
{% load staticfiles %}
{% load humanize %}
{% load duration_tags %}
{% load content_tags %}

{% block todo_lists %}
<ul class="box-wrapper" style="padding-bottom:80px;">
    {% for item in item_list %}
    {% pull_content_type_tag item.content_type_id as content_type %}
    {% get_content_type_name_tag content_type as content_type_name %}
    <li class="item-box">
        {% if item.url %}
        <a href="{% if progress.status == 4 %}#expired{% elif item.is_dependency %}#lock{% else %}{{ item.url }}{% endif %}" class="image">
            {% if item.content_object.image %}
            <img class="cover" src="{{ item.content_object.image.url }}" />
            {% else %}
            <img class="cover" src="{% static 'images/sample_course2.jpg' %}" />
            {% endif %}
        </a>
        <a href="{% if progress.status == 4 %}#expired{% elif item.is_dependency %}#lock{% else %}{{ item.url }}{% endif %}" class="detail">
            <div class="item-progress {% if item.is_dependency %}lock{% elif order_item == None %}{% elif item.progress.status == 2 %}completed{% elif item.progress.status == 3 %}fail{% endif %}">
                {% if item.is_dependency %}
                <i class="fa fa-lock"></i>
                {% else %}
                    {% if order_item != None %}
                        {% if item.progress.status == 1 or item.progress.status == 4 %}
                        {{item.progress.percent|floatformat:"0"}}%
                        {% elif item.progress.status == 2 %}
                        <i class="fa fa-check"></i>
                        {% elif item.progress.status == 3 %}
                        <i class="fa fa-times"></i>
                        {% endif %}
                    {% else %}0%
                    {% endif %}
                {% endif %}
            </div>
            <h2 class="main-color clear-pad">{{ forloop.counter }}.</h2>
            <div class="course-name main-color">{{ item.content_object.name }}</div>
            <!-- <div class="category grey"><i class="fa {{ item.icon_class }}"></i> {{ item.content_type.name|content_readable|capfirst }}</div> -->
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
