grammarly-ghost {
  display: none;
}

grammarly-btn {
  display: none;
}

.tab-content{
  margin-bottom: 90px;
}
.site-main .is-sticky .entry-header{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #b2d234;
  z-index: 1;
}
.site-main .is-sticky .entry-title{
  display: none;
}

.text-green {
  color: #a2d145;
}

.text-red {
  color: #FF0000;
}

.m-l-10 {
  margin-left: 10px;
}

a.backBtn {
  margin-right:20px;
  font-size:30px;
  font-weight: lighter;
  vertical-align: middle;
  color:#FFFFFF;
}
a.backBtn:hover{
  color: #516b1d;
}

.verticalMiddle{
  vertical-align: middle;
}

/* =Grid
-----------------------------------------------------------------------------*/
.row.gutter-20 {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"],
.gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.row.gutter-10 {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"],
.gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.row.gutter-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.gutter-0 > [class^="col-"],
.gutter-0 > [class^=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}
/* =Untilities
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.panel {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}
/* =Code, Pre
-----------------------------------------------------------------------------*/
pre {
  margin-bottom: 30px;
  border-color: #eee;
}
@media only screen and (min-width: 768px) {
  pre {
    padding: 20px !important;
  }
}
/* =Backtop
-----------------------------------------------------------------------------*/
#back-top {
  display: block;
  height: 20px;
  margin: 20px auto 15px;
  font-size: 11px;
  line-height: 20px;
  background-color: #fff;
  border: 0px;
  border-radius: 3px;
  outline: none;
  transition: all .4s ease-in-out;
}
@media only screen and (min-width: 768px) {
  #back-top {
    position: fixed;
    right: 0px;
    bottom: -30px;
    height: 40px;
    padding: 0px 20px !important;
    margin: 0px;
    font-size: 14px !important;
    line-height: 40px;
    text-align: center;
    visibility: hidden;
    border: 0px !important;
    border-radius: 0px;
    opacity: 0;
  }
}
#back-top > i {
  margin-right: 8px;
}
@media only screen and (min-width: 768px) {
  #back-top > i {
    margin: 0px;
  }
}
@media only screen and (min-width: 768px) {
  #back-top > span {
    display: none;
  }
}
#back-top.active {
  bottom: 5px;
  visibility: visible;
  opacity: 1;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: 'helvethaicaais', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 15px;
  line-height: 1.42857143;
  color: #676767;
  background: #f5f5f5;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #231f20;
  transition: all .3s ease-in-out;
}
a:hover,
a:focus {
  color: #91C038;
}
/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;

  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 32px;
  line-height: 1.42857143;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 26px;
  line-height: 1.42857143;
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 32px;
  }
}
h3 {
  font-size: 22px;
  line-height: 1.42857143;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 16px;
  line-height: 1.42857143;
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h5 {
  font-size: 14px;
  line-height: 1.42857143;
}
h6 {
  font-size: 12px;
  line-height: 1.42857143;
}
/* =Animation
-----------------------------------------------------------------------------*/
.pullUp {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-name: pullUp;
  animation-name: pullUp;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@keyframes pullUp {
  0% {
    -webkit-transform: scaleY(.1);
            transform: scaleY(.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(.98);
            transform: scaleY(.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(.98);
            transform: scaleY(.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: .7;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: .7;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInBig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideInDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDownBig {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDownBig {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.slideExpandUp {
  visibility: visible !important;
  -webkit-animation-name: slideExpandUp;
  animation-name: slideExpandUp;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-timing-function: ease -out;
  animation-timing-function: ease-out;
}
@keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(.5);
            transform: translateY(100%) scaleX(.5);
  }
  30% {
    -webkit-transform: translateY(-8%) scaleX(.5);
            transform: translateY(-8%) scaleX(.5);
  }
  40% {
    -webkit-transform: translateY(2%) scaleX(.5);
            transform: translateY(2%) scaleX(.5);
  }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1);
            transform: translateY(0%) scaleX(1.1);
  }
  60% {
    -webkit-transform: translateY(0%) scaleX(.9);
            transform: translateY(0%) scaleX(.9);
  }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
            transform: translateY(0%) scaleX(1.05);
  }
  80% {
    -webkit-transform: translateY(0%) scaleX(.95);
            transform: translateY(0%) scaleX(.95);
  }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
            transform: translateY(0%) scaleX(1.02);
  }
  100% {
    -webkit-transform: translateY(0%) scaleX(1);
            transform: translateY(0%) scaleX(1);
  }
}
@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(.5);
  }
  30% {
    -webkit-transform: translateY(-8%) scaleX(.5);
  }
  40% {
    -webkit-transform: translateY(2%) scaleX(.5);
  }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1);
  }
  60% {
    -webkit-transform: translateY(0%) scaleX(.9);
  }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
  }
  80% {
    -webkit-transform: translateY(0%) scaleX(.95);
  }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
  }
  100% {
    -webkit-transform: translateY(0%) scaleX(1);
  }
}
.stretchRight {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation-name: stretchRight;
  animation-name: stretchRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(.3);
            transform: scaleX(.3);
  }
  40% {
    -webkit-transform: scaleX(1.02);
            transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(.98);
            transform: scaleX(.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(.98);
            transform: scaleX(.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@-webkit-keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(.3);
  }
  40% {
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
/* =Forms
-----------------------------------------------------------------------------*/
.checkbox,
.radio {
  margin-top: 12px;
  margin-bottom: 12px;
}
.checkbox label,
.radio label {
  padding-left: 0;
  font-weight: 300;
}
.checkbox label.hover,
.radio label.hover {
  color: #91C038;
}
.form-control {
  height: 38px;
  line-height: 1.52857143;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .form-control {
    width: 75%;
  }
}
textarea.form-control {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  textarea.form-control {
    width: 90%;
  }
}
.icheckbox_square-green,
.iradio_square-green {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  background: url(../images/green.png) no-repeat;
  border: none;

  *display: inline;
}
.icheckbox_square-green {
  background-position: 0 0;
}
.icheckbox_square-green.hover {
  background-position: -24px 0;
}
.icheckbox_square-green.checked {
  background-position: -48px 0;
}
.icheckbox_square-green.disabled {
  cursor: default;
  background-position: -72px 0;
}
.icheckbox_square-green.checked.disabled {
  background-position: -96px 0;
}
.iradio_square-green {
  background-position: -120px 0;
}
.iradio_square-green.hover {
  background-position: -144px 0;
}
.iradio_square-green.checked {
  background-position: -168px 0;
}
.iradio_square-green.disabled {
  cursor: default;
  background-position: -192px 0;
}
.iradio_square-green.checked.disabled {
  background-position: -216px 0;
}
/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url(../images/green@2x.png);
    background-size: 240px 24px;
  }
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn {
  padding: 7px 22px;
  border-radius: 5px;
  /*transition: all .3s ease-in-out;*/
  outline: none !important;
  transition: none;
  -webkit-transition: none;
}
.btn.left-icon i {
  margin-right: 5px;
}
.btn.right-icon i {
  margin-left: 5px;
}
.btn.btn-pd {
  padding: 7px 30px;
}
.btn.btn-primary {
  background-color: #b2d234;/*#00acf9*/;
  border-color: #b2d234;/*#00acf9*/;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  /*background-color: #0089c6;
  border-color: #0089c6;*/
  color: #b2d234;
  border-color: #b2d234;
  background-color: #fff;
}
.btn.btn-link {
  color: #222;
}
/* =Labels
-----------------------------------------------------------------------------*/
.label {
  padding: .2em .8em .2em;
}
/* =Alert
-----------------------------------------------------------------------------*/
body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.sweet-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  background-color: black;
  /* IE8 */
  background-color: rgba(0, 0, 0, .4);
  /* IE8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.sweet-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: none;
  width: 580px;
  padding: 30px;
  margin-top: -200px;
  margin-left: -256px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
@media all and (max-width: 540px) {
  .sweet-alert {
    right: 15px;
    left: 15px;
    width: auto;
    padding: 17px;
    margin-right: 0;
    margin-left: 0;
  }
}
.sweet-alert h2 {
  position: relative;
  display: block;
  padding: 0;
  margin: 15px 0 0;
  font-size: 25px;
  font-weight: 600;
  color: #575757;
  text-align: center;
  text-transform: none;
}
.sweet-alert h4 {
  margin-bottom: 20px;
}
.sweet-alert p {
  position: relative;
  float: none;
  padding: 0;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  color: #797979;
  text-align: center;
  text-align: inherit;
}
.sweet-alert fieldset {
  position: relative;
  border: none;
}
.sweet-alert .sa-error-container {
  max-height: 0;
  padding: 0 10px;
  margin-right: -17px;
  margin-left: -17px;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: padding .15s, max-height .15s;

  webkit-transition: padding .15s, max-height .15s;
}
.sweet-alert .sa-error-container.show {
  max-height: 100px;
  padding: 10px 0;
  transition: padding .25s, max-height .25s;

  webkit-transition: padding .2s, max-height .2s;
}
.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  line-height: 24px;
  color: white;
  text-align: center;
  background-color: #ea7d7d;
  border-radius: 50%;
}
.sweet-alert .sa-error-container p {
  display: inline-block;
}
.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all .1s;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.sweet-alert .sa-input-error::before,
.sweet-alert .sa-input-error::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 6px;
  margin-top: -4px;
  margin-left: -9px;
  content: "";
  background-color: #f06e57;
  border-radius: 3px;
}
.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.sweet-alert input {
  display: none;
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  padding: 0 12px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .06);
  transition: all .3s;
}
.sweet-alert input:focus {
  border: 1px solid #b4dbed;
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
}
.sweet-alert input:focus::-moz-placeholder {
  opacity: .5;
  transition: opacity .3s .03s ease;
}
.sweet-alert input:focus:-ms-input-placeholder {
  opacity: .5;
  transition: opacity .3s .03s ease;
}
.sweet-alert input:focus::-webkit-input-placeholder {
  opacity: .5;
  transition: opacity .3s .03s ease;
}
.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}
.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}
.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.sweet-alert.show-input input {
  display: block;
}
.sweet-alert .sa-confirm-button-container {
  position: relative;
  display: inline-block;
}
.sweet-alert .la-ball-fall {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 4px;
  margin-left: -27px;
  visibility: hidden;
  opacity: 0;
}
.sweet-alert button {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: #8cd4f5;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}
.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, .5), inset 0 0 0 1px rgba(0, 0, 0, .05);
}
.sweet-alert button:hover {
  background-color: #7ecff4;
}
.sweet-alert button:active {
  background-color: #5dc2f1;
}
.sweet-alert button.cancel {
  background-color: #c1c1c1;
}
.sweet-alert button.cancel:hover {
  background-color: #b9b9b9;
}
.sweet-alert button.cancel:active {
  background-color: #a8a8a8;
}
.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, .8) 0px 0px 2px, rgba(0, 0, 0, .0470588) 0px 0px 0px 1px inset !important;
}
.sweet-alert button[disabled] {
  cursor: default;
  opacity: .6;
}
.sweet-alert button.confirm[disabled] {
  color: transparent;
}
.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.sweet-alert button::-moz-focus-inner {
  border: 0;
}
.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px;
}
.sweet-alert .sa-icon {
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: content-box;
  padding: 0;
  margin: 0px auto;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
}
.sweet-alert .sa-icon.sa-error {
  border-color: #f27474;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  top: 37px;
  display: block;
  width: 47px;
  height: 5px;
  background-color: #f27474;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  left: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  right: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #f8bb86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 5px;
  height: 47px;
  margin-left: -2px;
  background-color: #f8bb86;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 7px;
  height: 7px;
  margin-left: -3px;
  background-color: #f8bb86;
  border-radius: 50%;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #c9dae1;
}
.sweet-alert .sa-icon.sa-info::before {
  position: absolute;
  bottom: 17px;
  left: 50%;
  width: 5px;
  height: 29px;
  margin-left: -2px;
  content: "";
  background-color: #c9dae1;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-info::after {
  position: absolute;
  top: 19px;
  width: 7px;
  height: 7px;
  margin-left: -3px;
  content: "";
  background-color: #c9dae1;
  border-radius: 50%;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #a5dc86;
}
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-success::after {
  position: absolute;
  width: 60px;
  height: 120px;
  content: '';
  background: white;
  border-radius: 40px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success::before {
  top: -7px;
  left: -33px;
  border-radius: 120px 0 0 120px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
.sweet-alert .sa-icon.sa-success::after {
  top: -11px;
  left: 30px;
  border-radius: 0 120px 120px 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 2;
  width: 80px;
  height: 80px;
  box-sizing: content-box;
  border: 4px solid rgba(165, 220, 134, .2);
  border-radius: 40px;
  border-radius: 50%;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
  position: absolute;
  top: 8px;
  left: 28px;
  z-index: 1;
  width: 5px;
  height: 90px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line {
  position: absolute;
  z-index: 2;
  display: block;
  height: 5px;
  background-color: #a5dc86;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  top: 38px;
  right: 8px;
  width: 47px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-custom {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  border-radius: 0;
}
/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(.95);
    transform: scale(.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(.95);
    transform: scale(.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
}
@keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
}
@-webkit-keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
@keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert .3s;
  animation: showSweetAlert .3s;
}
.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}
.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop .3s;
  animation: slideFromTop .3s;
}
.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom .3s;
  animation: slideFromBottom .3s;
}
.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert .2s;
  animation: hideSweetAlert .2s;
}
.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}
.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop .4s;
  animation: slideToTop .4s;
}
.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom .3s;
  animation: slideToBottom .3s;
}
@-webkit-keyframes animateSuccessTip {
  0% {
    top: 19px;
    left: 1px;
    width: 0;
  }
  54% {
    top: 19px;
    left: 1px;
    width: 0;
  }
  70% {
    top: 37px;
    left: -8px;
    width: 50px;
  }
  84% {
    top: 48px;
    left: 21px;
    width: 17px;
  }
  100% {
    top: 45px;
    left: 14px;
    width: 25px;
  }
}
@keyframes animateSuccessTip {
  0% {
    top: 19px;
    left: 1px;
    width: 0;
  }
  54% {
    top: 19px;
    left: 1px;
    width: 0;
  }
  70% {
    top: 37px;
    left: -8px;
    width: 50px;
  }
  84% {
    top: 48px;
    left: 21px;
    width: 17px;
  }
  100% {
    top: 45px;
    left: 14px;
    width: 25px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0% {
    top: 54px;
    right: 46px;
    width: 0;
  }
  65% {
    top: 54px;
    right: 46px;
    width: 0;
  }
  84% {
    top: 35px;
    right: 0px;
    width: 55px;
  }
  100% {
    top: 38px;
    right: 8px;
    width: 47px;
  }
}
@keyframes animateSuccessLong {
  0% {
    top: 54px;
    right: 46px;
    width: 0;
  }
  65% {
    top: 54px;
    right: 46px;
    width: 0;
  }
  84% {
    top: 35px;
    right: 0px;
    width: 55px;
  }
  100% {
    top: 38px;
    right: 8px;
    width: 47px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}
.animateSuccessTip {
  -webkit-animation: animateSuccessTip .75s;
  animation: animateSuccessTip .75s;
}
.animateSuccessLong {
  -webkit-animation: animateSuccessLong .75s;
  animation: animateSuccessLong .75s;
}
.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}
@-webkit-keyframes animateErrorIcon {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes animateErrorIcon {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
.animateErrorIcon {
  -webkit-animation: animateErrorIcon .5s;
  animation: animateErrorIcon .5s;
}
@-webkit-keyframes animateXMark {
  0% {
    margin-top: 26px;
    opacity: 0;
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  50% {
    margin-top: 26px;
    opacity: 0;
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  80% {
    margin-top: -6px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animateXMark {
  0% {
    margin-top: 26px;
    opacity: 0;
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  50% {
    margin-top: 26px;
    opacity: 0;
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  80% {
    margin-top: -6px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animateXMark {
  -webkit-animation: animateXMark .5s;
  animation: animateXMark .5s;
}
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #f8d486;
  }
  100% {
    border-color: #f8bb86;
  }
}
@keyframes pulseWarning {
  0% {
    border-color: #f8d486;
  }
  100% {
    border-color: #f8bb86;
  }
}
.pulseWarning {
  -webkit-animation: pulseWarning .75s infinite alternate;
  animation: pulseWarning .75s infinite alternate;
}
@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #f8d486;
  }
  100% {
    background-color: #f8bb86;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #f8d486;
  }
  100% {
    background-color: #f8bb86;
  }
}
.pulseWarningIns {
  -webkit-animation: pulseWarningIns .75s infinite alternate;
  animation: pulseWarningIns .75s infinite alternate;
}
@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9;
}
/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent \9;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box;
}
.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-fall.la-dark {
  color: #333;
}
.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-fall {
  width: 54px;
  height: 18px;
}
.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite;
}
.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms;
}
.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms;
}
.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.la-ball-fall.la-sm {
  width: 26px;
  height: 8px;
}
.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}
.la-ball-fall.la-2x {
  width: 108px;
  height: 36px;
}
.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}
.la-ball-fall.la-3x {
  width: 162px;
  height: 54px;
}
.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}
/* =Lightbox
-----------------------------------------------------------------------------*/
.fluidbox {
  outline: none;
}
.fluidbox__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  background-color: rgba(255, 255, 255, .85);
  opacity: 0;
  transition: all .5s ease-in-out;
}
.fluidbox--opened .fluidbox__overlay {
  pointer-events: auto;
}
.fluidbox__wrap {
  position: relative;
  margin: 0 auto;
  text-align: center;
  background-position: center center;
  background-size: cover;
  transition: all .5s ease-in-out;
}
.fluidbox--closed .fluidbox__thumb,
.fluidbox__thumb {
  transition: opacity 0s ease-in-out 0s;
}
.fluidbox__ghost {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-delay: 0s;
  transition-duration: 0s,.5s;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.fluidbox--opened .fluidbox__ghost {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.fluidbox__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;

  -webkit-perspective: 200px;
  perspective: 200px;
}
.fluidbox__loader:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  padding-bottom: 20%;
  content: '';
  background-color: rgba(255, 255, 255, .85);
  transition-delay: 0s;
  transition-duration: .5s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.fluidbox--loading .fluidbox__loader {
  opacity: 1;
  transition: opacity .5s ease-in-out .5s;
}
.fluidbox--loading .fluidbox__loader:before {
  -webkit-animation: a 1s 0s infinite ease-in-out forwards;
  animation: a 1s 0s infinite ease-in-out forwards;
}
@-webkit-keyframes a {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes a {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
/* =Site Header
-----------------------------------------------------------------------------*/
.header-wrapper {
  height: auto !important;
}
.site-header {
  padding: 20px 0 50px;
  margin-bottom: -60px;
  color: #fff;
  background-color: #b2d234;
}
.site-header .entry-header {
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .site-header .entry-header {
    float: left;
    max-width: 70%;
    text-align: left;
  }
}
.site-header .entry-header > .entry-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 26px;
}
@media only screen and (min-width: 768px) {
  .site-header .entry-header > .entry-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .site-header .entry-header > .entry-title {
    font-size: 34px;
  }
}
.site-header .entry-header > .entry-meta {
  font-size: 13px;
}
.site-header .entry-header > .entry-meta > span.items {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-right: 15px;
}
.site-header .entry-header > .entry-meta > span.items:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  content: "";
  background-color: #e6e6e6;
}
.site-header .entry-header > .entry-meta > span.items + .items {
  padding-right: 0px;
  margin-right: 0px;
  border-right: 0px;
}
.site-header .entry-header > .entry-meta > span.items + .items:after {
  content: none;
}
.site-header .entry-content {
  padding: 0px 15px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  transition: all .3s ease;
}
@media only screen and (min-width: 768px) {
  .site-header .entry-content {
    padding: 0;
    margin-bottom: 0px;
    text-align: left;
  }
}
.site-header .entry-content > p {
  margin-bottom: 0px;
}
.site-header .entry-content .more {
  color: #fff;
  text-decoration: underline;
}
.site-header .time-count {
  text-align: center;
  display: none;
}
@media only screen and (min-width: 768px) {
  .site-header .time-count {
    float: right;
  }
}
.site-header .time-count > .count-box {
  max-width: 280px;
  padding: 8px 30px;
  margin: 0 auto;
  background-color: #80b636;
  border: 1px solid #72a230;
  border-radius: 30px;
  box-shadow: none;
}
.site-header .time-count > .count-box > h4 {
  margin: 0;
  font-size: 13px;
}
.site-header .time-count > .count-box > h4 > span#clock {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}
.site-header .time-count > .count-box *{
  vertical-align: middle;;
}
/* =Sticky
-----------------------------------------------------------------------------*/
.sticky-wrapper.is-sticky .site-header {
  z-index: 94;
  padding: 10px 0 5px;
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media only screen and (min-width: 768px) {
  .sticky-wrapper.is-sticky .site-header {
    padding: 15px 0 0px;
  }
}
.sticky-wrapper.is-sticky .site-header .entry-header {
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .sticky-wrapper.is-sticky .site-header .entry-header {
    margin-bottom: 0px;
  }
}
.sticky-wrapper.is-sticky .site-header .entry-header .entry-meta {
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}
.sticky-wrapper.is-sticky .site-header .entry-content {
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}
.sticky-wrapper.is-sticky .sticky {
  z-index: 95;
  margin-top: -1px;
  background-color: #f5f5f5;
  border-color: #ddd;
  border-bottom: none !important;
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* =Site Main
-----------------------------------------------------------------------------*/
.site-main-container  {
  max-width: 1000px;
  margin: auto;
}
.site-main #myForm ul.nav.nav-pills {
  display: none;
}
.site-main .content-area .entry-header {
  padding: 15px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.site-main .content-area .entry-header > .entry-title {
  margin: 0 0 10px;
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-header > .entry-title {
    float: left;
    padding-top: 3px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-header > .entry-title {
    max-width: 60%;
    font-size: 24px;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-header > .step-action {
    float: right;
  }
}
.site-main .content-area .entry-header > .step-action > h4 {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
@media only screen and (min-width: 360px) {
  .site-main .content-area .entry-header > .step-action > h4 {
    margin: 0 15px;
  }
}
.site-main .content-area .entry-header > .step-action .btn {
  padding: 7px 15px;
}
@media only screen and (min-width: 360px) {
  .site-main .content-area .entry-header > .step-action .btn {
    padding: 7px 18px;
  }
}
.site-main .content-area .entry-header > .step-action .btn.disabled,
.site-main .content-area .entry-header > .step-action .btn.btn-finish {
  display: none;
}
.site-main .content-area .entry-content {
  padding: 30px 20px;
  line-height: 1.6;
  word-break: break-word;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content {
    min-height: 760px;
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .site-main .content-area .entry-content {
    min-height: 700px;
  }
}
.site-main .content-area .entry-content h1,
.site-main .content-area .entry-content h2,
.site-main .content-area .entry-content h3,
.site-main .content-area .entry-content h4,
.site-main .content-area .entry-content h5,
.site-main .content-area .entry-content h6 {
  color: #444;
}
.site-main .content-area .entry-content h1:first-child,
.site-main .content-area .entry-content h2:first-child,
.site-main .content-area .entry-content h3:first-child,
.site-main .content-area .entry-content h4:first-child,
.site-main .content-area .entry-content h5:first-child,
.site-main .content-area .entry-content h6:first-child {
  margin-top: 0px;
}
.site-main .content-area .entry-content h1,
.site-main .content-area .entry-content h2,
.site-main .content-area .entry-content h3 {
  margin: 40px 0 20px;
}
.site-main .content-area .entry-content h4 {
  margin: 30px 0 15px;
}
.site-main .content-area .entry-content h5,
.site-main .content-area .entry-content h6 {
  margin: 20px 0 15px;
}
.site-main .content-area .entry-content b,
.site-main .content-area .entry-content strong,
.site-main .content-area .entry-content em {
  color: #444;
}
.site-main .content-area .entry-content span strong,
.site-main .content-area .entry-content span b,
.site-main .content-area .entry-content span em {
  color: inherit;
}
.site-main .content-area .entry-content p,
.site-main .content-area .entry-content dt,
.site-main .content-area .entry-content dd {
  margin-bottom: 30px;
}
.site-main .content-area .entry-content p:last-child,
.site-main .content-area .entry-content dt:last-child,
.site-main .content-area .entry-content dd:last-child {
  margin-bottom: 0px;
}
.site-main .content-area .entry-content li {
  margin-bottom: 25px;
}
.site-main .content-area .entry-content ul,
.site-main .content-area .entry-content ol {
  padding-left: 32px;
  margin-bottom: 30px;
}
.site-main .content-area .entry-content ul ul,
.site-main .content-area .entry-content ol ul,
.site-main .content-area .entry-content ul ol,
.site-main .content-area .entry-content ol ol {
  padding-left: 42px;
  margin-top: 25px;
}
.site-main .content-area .entry-content a:not(.btn) {
  color: #91C038;
  border-bottom: 1px dotted #eee;
}
.site-main .content-area .entry-content a:not(.btn):hover,
.site-main .content-area .entry-content a:not(.btn):focus {
  border-color: #91C038;
}
.site-main .content-area .entry-content table a {
  border-bottom: 0px;
}
.site-main .content-area .entry-content .video {
  position: relative;
  max-width: 700px;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  margin: 0 auto;
  overflow: hidden;
}
.site-main .content-area .entry-content .video iframe,
.site-main .content-area .entry-content .video object,
.site-main .content-area .entry-content .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-main .content-area .entry-content video {
  display: block;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .site-main .content-area .entry-content img {
    max-width: 700px;
  }
}
.site-main .content-area .entry-content .form-group {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content .form-group {
    padding-left: 25px;
  }
}
.site-main .content-area .entry-content .form-group legend {
  margin-bottom: 20px;
  font-size: 18px;
  border-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content .form-group legend {
    margin-left: -25px;
  }
}
@media only screen and (min-width: 992px) {
  .site-main .content-area .entry-content .form-group legend {
    font-size: 20px;
  }
}
.site-main .content-area .entry-content .form-group input + label {
  margin-top: 20px;
}
.site-main .content-area .entry-content .form-group.form-error legend {
  color: #f95969;
}
.site-main .content-area .entry-content .form-group.form-error label {
  color: #f95969;
}
.site-main .content-area .entry-content .form-group.form-error input,
.site-main .content-area .entry-content .form-group.form-error textarea {
  border-color: #f95969;
}
.site-main .content-area .entry-content .form-group p.form-error {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
  color: #f95969;
}
.site-main .content-area .entry-content .form-group p.form-error:before {
  margin-right: 6px;
  font-family: "FontAwesome";
  content: "\f06a";
}
.site-main .content-area .entry-content .form-group.inputs-group.form-error label {
  color: inherit;
}
.site-main .content-area .entry-content .form-group.inputs-group.form-error input,
.site-main .content-area .entry-content .form-group.inputs-group.form-error textarea {
  border: 1px solid #ccc;
}
.site-main .content-area .entry-content .form-group.inputs-group .form-group {
  padding-bottom: 0;
  padding-left: 0px;
  margin-bottom: 15px;
  border-bottom: 0px;
}
.site-main .content-area .entry-content .form-group.inputs-group .form-group.form-error label {
  color: #f95969;
}
.site-main .content-area .entry-content .form-group.inputs-group .form-group.form-error input,
.site-main .content-area .entry-content .form-group.inputs-group .form-group.form-error textarea {
  border-color: #f95969;
}
.site-main .content-area .entry-content .form-group .btn-group {
  text-align: center;
}
.site-main .content-area .entry-content .form-group .btn-group .btn {
  display: inline-block;
  float: none;
  margin: 2px;
  border-radius: 0px;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content .form-group .btn-group .btn {
    float: left;
    padding: 7px 20px;
    margin: 0;
    margin-left: -1px;
  }
}
@media only screen and (min-width: 992px) {
  .site-main .content-area .entry-content .form-group .btn-group .btn {
    padding: 7px 22px;
  }
}
.site-main .content-area .entry-content .form-group .btn-group .btn.btn-default:hover,
.site-main .content-area .entry-content .form-group .btn-group .btn.active:hover,
.site-main .content-area .entry-content .form-group .btn-group .btn.btn-default:focus,
.site-main .content-area .entry-content .form-group .btn-group .btn.active:focus {
  color: #fff;
  background-color: #91C038;
}
.site-main .content-area .entry-content .form-group .btn-group .btn.active {
  color: #fff;
  background-color: #91C038;
}
.site-main .content-area .entry-content .form-group label.before-btn-group {
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content .form-group label.before-btn-group {
    margin-right: 6px;
    margin-bottom: 0;
  }
}
.site-main .content-area .entry-content .form-group label.after-btn-group {
  margin-top: 4px;
  margin-left: 6px;
}
@media only screen and (min-width: 768px) {
  .site-main .content-area .entry-content .form-group label.after-btn-group {
    margin-bottom: 0;
    margin-left: 6px;
  }
}
.site-main .content-area .entry-content .form-group:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.tab-pane.active .content-area .entry-content {
  -webkit-animation: fadeInBig ease-in 1;
          animation: fadeInBig ease-in 1;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.tab-pane.active .content-area .entry-header .entry-title {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* =Footer Action
-----------------------------------------------------------------------------*/
.footer-action {
  position: relative;
  text-align: center;
}
.footer-action .action-box {
  position: relative;
  padding: 30px 20px;
}
.footer-action .action-box .section-level {
  margin-top: 0px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .footer-action .action-box .section-level {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 0px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
.footer-action .action-box .btn.btn-link:hover,
.footer-action .action-box .btn.btn-link:focus {
  color: #00acf9;
}
@media only screen and (min-width: 768px) {
  .footer-action .action-box .btn.prev {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .footer-action .action-box .btn.next {
    float: right;
  }
}
.footer-action .action-box .btn.btn-primary:focus {
  /*background-color: #00acf9;
  border-color: #00acf9;*/
  color: #b2d234;
  border-color: #b2d234;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer-action .action-box .btn.btn-pd {
    width: 200px;
  }
}
.footer-action .action-box .btn.disabled {
  display: none;
}
.footer-action .action-box .btn + .btn {
  margin-left: 10px;
}
.footer-action .action-box .btn.btn-finish {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer-action .action-box .btn.btn-finish {
    float: right;
  }
}
/* =Footer Copyright
-----------------------------------------------------------------------------*/
.footer-copyright {
  padding: 10px 0;
  margin-top: 20px;
  text-align: center;
}
.footer-copyright h5 {
  margin: 0;
  font-weight: 300;
}

/* =Loading Animation
-----------------------------------------------------------------------------*/
.spinner-wrap {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  height: 60px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.loading .site-main-container  {
  opacity: 0;
}
.loading .spinner-wrap  {
  display: block;
}
.question-spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #91C038;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
