{% load staticfiles %}
{% include 'main/fragment/fragment_webdirectory.html' %}
<div class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-8">
            <h3 class="white">คลิ๊กฟอร์เคลฟเวอร์ดอทคอม</h3>
            <h3 style="color:#FFF68A;">www.clickforclever.com</h3>
            <span class="white">Powered by Conicle</span>
            <div class="footer-icon">
               <a target="_black" href="{{FB_PAGE_URL}}"><i class="fa fa-facebook-square"></i></a>
               {% comment %}
               <a target="_black" href=""><i><img src="{% static "images/clickforclever/icn_line.png" %}" ></i></a>
               {% endcomment %}
               <a target="_black" href="https://instagram.com/clickforclever/"><i class="fa fa-instagram"></i></a>
               <a target="_black" href="https://www.youtube.com/user/clickforclever"><i class="fa fa-youtube-square"></i></a>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="wrap-footer-link">
               
               <div class="row">
                  <div class="col-xs-12 col-sm-6">
                     <!-- <a href="" class="f-link">ร่วมงานกับเรา</a> -->
                  </div>
                  <div class="col-xs-12 col-sm-12 text-center">
                     <img src="{% static 'clickforclever/images/footer_icon.png' %}">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<button class="btn btn-default fixed-top">
   <i class="icon icon-up-open icon2x"></i><br>Top
</button>
