{% load staticfiles %}
{% url 'home' as home_url %}
<header id="header">
    <ul class="unstyle">
        <li class="show-mobile">
            <a href="#" class="main-color open-side-menu"><i class="fa fa-bars"></i></a>
        </li>
        <li class="logo">
            <a href="{% if  is_static and logo_path|length != 0 %}{% url 'institute:detail' institute.slug %}{% else %}{{ home_url }}{% endif %}">
                <img src="{% if  is_static and logo_path|length != 0 %}{{logo_path}}{% else %}{% static logo_path|default:"images/customize/logoClick.png" %}{% endif %}" />
            </a>
        </li>
        <li class="hide-md">
            <a href="{% url 'home' %}" class="{% if ROOT_PAGE == 'home' %}selected{% endif %}">
                <p><i class="fa fa-home main-color"></i></p>
                <p>หน้าแรก</p>
            </a>
        </li>
        <li class="has-sub-menu hide-md">
            <a href="#">
                <p><i class="fa fa-book main-color"></i></p>
                <p>คู่มือคลิก <i class="fa fa-caret-down"></i></p>
            </a>
            <ul class="unstyle sub-menu">
                {% include "main/fragment/submenu_guide.html" %}
            </ul>
        </li>
        <li class="has-sub-menu hide-md">
            <a href="{% url 'course:home' %}" class="{% if ROOT_PAGE == 'course' %}selected{% endif %}">
                <p><i class="fa fa-graduation-cap main-color"></i></p>
                <p>คอร์สเรียน <i class="fa fa-caret-down"></i></p>
            </a>
            <ul class="unstyle sub-menu">
                {% include "main/fragment/submenu_courses.html" %}
            </ul>
        </li>
        <li class="hide-md">
            <a href="{% url 'promotion' %}" class="{% if ROOT_PAGE == 'promotion' %}selected{% endif %}">
                <p><i class="fa fa-tag main-color"></i></p>
                <p>โปรโมชั่น</p>
            </a>
        </li>
        <li class="has-sub-menu hide-md">
            <a href="#" class="{% if ROOT_PAGE == 'contact' %}selected{% endif %}">
                <p><i class="fa fa-phone main-color"></i></p>
                <p>ติดต่อคลิก <i class="fa fa-caret-down"></i></p>
            </a>
            <ul class="unstyle sub-menu">
                {% include "main/fragment/submenu_contact.html" %}
            </ul>
        </li>
    </ul>
    <div class="search hide-md">
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="q" maxlength="60" placeholder="Search Courses">
        </form>
    </div>
    <ul class="unstyle pull-right">
        {% if not user.is_authenticated %}
        <li class="hide-md">
            <a href="#" data-toggle="modal" data-target="#signupModal">
                <i class="fa fa-lock"></i> สมัครสมาชิก
            </a>
        </li>
        <li class="hide-md">
            <a href="#" data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-lock"></i> เข้าสู่ระบบ
            </a>
        </li>
        {% else %}
        <li class="profile has-sub-menu hide-md">
            <a href="#">
                <p><img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" class="avatar" /> {{ user.first_name }}</p>
                <p>จำนวนคลิก: {{COIN_VOLUME|floatformat}} <i class="fa fa-caret-down"></i></p>
            </a>
            <ul class="unstyle sub-menu">
                {% include "main/fragment/submenu_account.html" %}
            </ul>
        </li>
        {% endif %}
        <li class="show-mobile">
            <a href="#" class="main-color btn-open-search"><i class="fa fa-search"></i></a>
        </li>
        <li class="btn-close-search">
            <a href="#" class="main-color font-20"><i class="fa fa-times-circle"></i></a>
        </li>
    </ul>
</header>
{% include "main/header_menu_mobile.html" %}
