{% load staticfiles %}
<nav id="side-menu-wrapper">
    <ul class="unstyle main-side-menu">
        <li class="profile text-center">
            {% if user.is_authenticated %}
            <a href="/profile">
      	        <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" class="avatar" />
      	        <h5>{{user.first_name}} {{user.last_name}}</h5>
            </a>
            {% else %}
            <img src="{% static 'clickforclever/images/icons/apple-touch-icon-114x114.png' %}" class="avatar" />
            <h4>Click For Clever</h4>
            {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li><a href="#" class="has-secondary-menu" data-menu="account"><i class="fa fa-user main-color"></i> บัญชีของฉัน <i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
        <li><a href="{% url 'home' %}"><i class="fa fa-home main-color"></i> หน้าแรก</a></li>
        <li><a href="#" class="has-secondary-menu" data-menu="guide"><i class="fa fa-book main-color"></i> คู่มือคลิก <i class="fa fa-chevron-right"></i></a></li>
        <li><a href="#" class="has-secondary-menu" data-menu="courses"><i class="fa fa-graduation-cap main-color"></i> คอร์สเรียน <i class="fa fa-chevron-right"></i></a></li>
        <li><a href="{% url 'promotion' %}"><i class="fa fa-tag main-color"></i> โปรโมชั่น</a></li>
        <li><a href="#" class="has-secondary-menu" data-menu="contact"><i class="fa fa-phone main-color"></i> ติดต่อคลิก <i class="fa fa-chevron-right"></i></a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account:logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="#" data-toggle="modal" data-target="#signupModal"><i class="icon icon-lock"></i> สมัครสมาชิก</a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i> เข้าสู่ระบบ</a></li>
        {% endif %}
    </ul>
    <ul class="unstyle secondary-menu account">
        <div class="secondary-menu-header"><i class="fa fa-chevron-left close-secondary-menu"></i>บัญชีของฉัน</div>
        {% include "main/fragment/submenu_account.html" %}
    </ul>
    <ul class="unstyle secondary-menu guide">
        <div class="secondary-menu-header"><i class="fa fa-chevron-left close-secondary-menu"></i>คู่มือคลิก</div>
        {% include "main/fragment/submenu_guide.html" %}
    </ul>
    <ul class="unstyle secondary-menu courses">
        <div class="secondary-menu-header"><i class="fa fa-chevron-left close-secondary-menu"></i>คอร์สเรียน</div>
        {% include "main/fragment/submenu_courses.html" %}
    </ul>
    <ul class="unstyle secondary-menu contact">
        <div class="secondary-menu-header"><i class="fa fa-chevron-left close-secondary-menu"></i>ติดต่อคลิก</div>
        {% include "main/fragment/submenu_contact.html" %}
    </ul>
    <i class="fa fa-times font-30 close-side-menu"></i>
</nav>
