{% extends "base.html" %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "clickforclever/css/home.css" %}">
<style type="text/css">
.scroller-list .event {
	width: 266px;
	height: 309px;
}
</style>
{% endblock %}

{% block footerscript %}
<script src="{% static "js/carousel.js" %}"></script>
<script src="{% static "js/home.js" %}"></script>
<script src="{% static "js/plugin/owl.carousel.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="hero-mask" >
  <img style="width:100%; margin-top:0px;" src="{% static "clickforclever/images/cover_promotion.jpg" %}" class="active">
</div>
<div class="container clearfix" style="padding:30px 0">
  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-featured">

	<div class="featured-title">
	  <div class="main-title">
	    <h2> <span class="red tranform-none">โปรคุ้มสุดฟิน </span><span class="section-title"></span></h2>
	  </div>
	</div>
	{% if package_list|length > 0 %}
	<div class="scroller">
	  <div class="scroller-mask-event">
	    <ul class="scroller-list" id="lesson-section">
	      {% for package in package_list %}
	      {% include "package/item.html" %}
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	{% else %}
	<p id="no-lesson" class="text-center">ไม่มีโปรโมชั่น</p>
	{% endif %}
      </div>
    </div>
  </div>


</div>
{% endblock %}
