{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load duration_tags %}
{% load content_tags %}

{% load coin_tags %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/lightSlider.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/flowplayer/flowplayer.css" %}">
<style>
.fancybox-wrap {
  width: 70% !important;
  height: 600px !important;
}
</style>
{% endblock %}

{% block script %}
<script src="{% static "js/plugin/rrssb.js" %}"></script>
<script src="{% static "js/plugin/froogaloop2.min.js" %}"></script>
<script src="{% static "js/plugin/waypoints.min.js" %}"></script>
<script src="{% static "js/plugin/jquery.lightSlider.js" %}"></script>
<script src="{% static "js/plugin/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
<script src="{% static "js/course.js" %}"></script>
<script type="text/javascript">
  var video_preview_path = '{% if course.preview_video_type == 1 %}{{ course.preview_video_path }}{% elif course.preview_video_type == 2 %}https://www.youtube.com/watch?v={{ course.preview_video_path }}{% endif %}';
  var flashplayer = '{% static "swf/jwplayer.flash.swf" %}';
</script>
{% endblock %}

{% block content %}
<div class="bg-white">
  <div class="container container-stable content-info">
    <div class="row bottom-pad-15">
      {% include "course/preview_block.html" %}
      <div class="col-sm-7">
        {% include "course/info_block.html" %}
        {% include "dependency/fragment/content_restriction.html" %}
        {% include "course/price_block.html" %}
      </div>
    </div>
  </div>
</div>
<div class="bg-grey">
  {% if course.overview|length > 0 %}
  <div class="container container-stable top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h3 class="main-color bold">{% trans "Course Overview" %}</h3>
        <div>{{ course.overview|striptags|linebreaks }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% if is_display_info %}
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="course-overview text-center row">
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Including" %}</p>
                <h4 class="main-color">
                  {{ course.get_extra.count_material|check_none }}
                   Item{% if course.get_extra.count_material > 1 %}s{% endif %}
                </h4>
              </li>
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Total Time" %}</p>
                <h4 class="main-color">{{ course.duration|duration_tag }}</h4>
              </li>
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Time Credit" %}</p>
                <h4 class="main-color">
                  {% if course.credit.total_seconds == 0 %}{% trans "Unlimited" %}{% else %}{{ course.credit|duration_tag }}{% endif %}
                </h4>
              </li>
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Expired" %}</p>
                <h4 class="main-color">
                  {% if course.expired.total_seconds == 0 %}Unlimited{% else %}{{ course.expired|duration_tag }}{% endif %}
                </h4>
              </li>
            </ul>
          </div>
      	</div>
      	{% endif %}
      </div>
    </div>
  </div>
  <div class="container container-stable top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% if course.outline_list|length > 0 %}
        <h3 class="main-color bold clear-pad">{% trans "Course Outline" %}</h3>
	{% endif %}
      </div>
    </div>
  </div>
  <div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% include "course/outline.html" %}
      </div>
    </div>
  </div>
  {% include "course/information_block.html" %}
  {% include "course/fragment/relate.html" %}
</div>

<!-- Content restriction -->
{% include "access/modal/content_level.html" %}
{% include "dependency/modal/content_list.html" %}
{% include "dependency/modal/restriction.html" %}
{% include "course/modal/take_course.html" %}

<!-- Rating -->
{% include "main/modal/modal_rate_content.html" %}
{% endblock %}
