{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load duration_tags %}
{% load coin_tags %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/lightSlider.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/flowplayer/flowplayer.css" %}">
<style>
.fancybox-wrap { width: 80% !important; }
/* custom player skin */
.flowplayer { width: 100%; background-color: #222; background-size: cover;  }
.flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
.flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
.flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
.flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
</style>
{% endblock %}

{% block script %}
<script>var videopath = '{{ course.preview_video_path }}';</script>
<script src="{% static "js/course.js" %}"></script>
<script src="{% static "js/plugin/rrssb.js" %}"></script>
<script src="{% static "js/plugin/froogaloop2.min.js" %}"></script>
<script src="{% static "js/plugin/waypoints.min.js" %}"></script>
<script src="{% static "js/plugin/jquery.lightSlider.js" %}"></script>
<script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
<script src="{% static "js/plugin/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "js/flowplayer/flowplayer.min.js" %}"></script>

<script>
$(function(){
  $('button[data-target="#dependency"]').click(function(){
    swal({
        title: '{% trans "This item has dependency." %}',
        text: '{% trans "You have to finish period items." %}',
        type: "warning",
        customClass: "helvethaicaais",
        confirmButtonColor: "#ED1B23",
        confirmButtonText: "OK, I got it!"
    });
  });

  $('button[data-target="#expired"]').click(function(){
    swal({
        title: '{% trans "Expired!" %}'+'!',
        text: '{% trans "This course has expired." %}',
        type: "warning",
        customClass: "helvethaicaais",
        confirmButtonColor: "#ED1B23",
        confirmButtonText: "OK"
    });
  });
})
</script>

{% if is_require_term and course.term|length > 0 %}
<script src="{% static "js/terms.js" %}"></script>
{% endif %}

<script>
  var video_preview_path = '{% if course.preview_video_type == 1 %}{{ course.preview_video_path }}{% elif course.preview_video_type == 2 %}https://www.youtube.com/watch?v={{ course.preview_video_path }}{% endif %}';
  var flashplayer = '{% static "swf/jwplayer.flash.swf" %}';
  function checkUserLoginAndVerify (user_not_login, is_user_verify, course_price){
    suffix_text = course_price > 0.0 ? ' before purchase this course.' : ' before add this course to library. ' ;
    if( user_not_login == 'True' ){
      notify( 'Please login' + suffix_text, 10000)
      return;
    }
    if( is_user_verify == 'False' ){
      var resend_text = '<a onclick="resendVerifyEmail()">Resend</a> ';
      notify( 'Please verify your account' + suffix_text + resend_text + 'verify email.', 10000 );
    }
  }
  $(function()    {
    $('#termOfServiceModal').modal('show');
    $('#termOfServiceModal').on('hide.bs.modal', function (e) {
      acceptTerms("/term/{{ course.term.id }}/accept/")
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="bg-white relative overflow-hidden">
  <div class="bg-tree-blur"></div>
  <div class="container container-stable content-info">
    <div class="row bottom-pad-15">
      {% include "course/preview_block.html" %}
      <div class="col-sm-8">
        {% include "course/info_block.html" %}
        <h4 class="top-margin-little bold">{% trans "Learning status" %} : <span class="{% if progress.status == 1 %}text-in-progress{% elif progress.status == 2 %}text-completed{% elif progress.status == 3 %}text-fail{% elif progress.status == 4 %}text-expired{% endif %} text-center">{{ progress.get_status_display }}<span></h4>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress rounded no-btm-margin">
              <div class="progress-bar" style="width:{% if progress %}{{ progress.percent }}{% else %}0{% endif %}%"></div>
            </div>
          </div>
          <div class="col-xs-2">
            <h3 class="no-top-margin no-btm-margin program-completeness">{% if progress %}{{ progress.percent|floatformat:"0" }}{% else %}0{% endif %}%</h3>
          </div>
        </div>
        {% if progress %}
        <p class="clear-pad">{% trans "You completed" %} {{ progress.material_complete }} {% trans "out of" %} {{ progress.material_count }} Items</p>
        {% endif %}

        <div class="row top-margin-little">
	  {% if not is_iptable %}
	  <div class="col-sm-7 top-margin-more-little">
	    <a href="#" class="btn-block btn-outline-white btn-lg not-allowed"><i class="fa fa-lock"></i> {% trans "Allow Intranet only" %}</a>
	  </div>
          {% elif course.status != 5 and progress.status != 4 %}
          <div class="col-sm-7 top-margin-more-little">
	    {% if material_id is None  %}
	    <a href="#" class="btn-block btn-main-color btn-lg">{% trans "Start Learning" %} <i class="fa fa-play"></i></a>
	    {% elif program is None %}
	    <a href="{% url 'course:playlist' course.id material_id order_item.id %}" class="btn-block btn-main-color btn-lg">{% trans "Start Learning" %} <i class="fa fa-play"></i></a>
	    {% else %}
	    <a href="{% url 'course:playlist_program' program.id course.id material_id order_item.id %}" class="btn-block btn-main-color btn-lg">{% trans "Start Learning" %} <i class="fa fa-play"></i></a>
	    {% endif %}
          </div>
          {% endif %}
          <div class="col-sm-5 top-margin-more-little {% if course.status != 5 and progress.status != 4 %}no-pad-left-md{% endif %}">
            <a href="{% url 'discussion:topic' 'course' course.id order_item.id %}" class="btn-block btn-in-progress btn-lg">{% trans "Discussion" %} : <strong>{{ count_discussion }}</strong></a>
          </div>
        </div>

      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>
</div>
<div class="bg-grey bottom-pad-80" style="padding-top:0.5px;">{% comment %}<!--Has padding top for Pacrim bg-tree-->{% endcomment %}
  {% if course.overview|length > 0 %}
  <div class="container container-stable top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h3 class="main-color bold">{% trans "Course Overview" %}</h3>
        <div>{{ course.overview|striptags|linebreaks }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% if is_display_info %}
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="course-overview text-center row">
              {% comment %}
              {% if not IS_CONTENT_CREDIT %}
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Total Time" %}</p>
                <h4 class="main-color">{{ course.duration|duration_tag }}</h4>
              </li>
              {% endif %}
              {% endcomment %}
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Time Spending" %}</p>
                <h4 class="main-color">{{ progress.duration_display }}</h4>
              </li>
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Credit Left" %}</p>
                <h4 class="main-color">{{ order_item.credit_remain_hour }}</h4>
              </li>
              {% comment %}
              {% if IS_CONTENT_CREDIT %}
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Credit Left" %}</p>
                <h4 class="main-color">{{ order_item.credit_remain_hour }}</h4>
              </li>
              {% endif %}
              {% endcomment %}
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Expired Date" %}</p>
                <h4 class="main-color">
                  {% if order_item.expired_date %}
                      {{ order_item.expired_date|date:"d M Y H:i" }}
                  {% else %}{% trans "No Expiry" %}
                  {% endif %}
                </h4>
              </li>
              <li class="col-xs-6 col-sm-3">
                <p>{% trans "Time Left" %}</p>
                <h4 class="main-color">{{ order_item.time_left }}</h4>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container container-stable top-margin-little">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% if course.outline_list|length > 0 %}
        <h3 class="main-color bold clear-pad">{% trans "Course Outline" %}</h3>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% include "course/outline.html" %}
      </div>
    </div>
  </div>
  {% include "course/information_block.html" %}
</div>
{% include 'main/modal/modal_rate_content.html' with type=course type_s="course" %}
{% comment %}{% include 'course/fragment/relate.html' %}{% endcomment %}
{% if is_require_term and course.term|length > 0 %}{% include 'course/modal/terms.html' %}{% endif %}
{% endblock %}
