{% load i18n %}
{% if faq_list|length > 0 %}
<section>
  <h4 class="top-pad">{% trans "FAQs" %}</h4>
  {% for faq in faq_list %}
  <h4 class="black" data-toggle="collapse" data-target="#faqlist{{ forloop.counter }}" aria-expanded="false" aria-controls="faqlist1">
    <i class="fa fa-caret-down"></i> {{ faq.title }}
  </h4>
  <div class="faq collapse" id="faqlist{{ forloop.counter }}">
    {{ faq.desc }}
  </div>
  {% endfor %}
  {% comment %}
  <h4 class="black" data-toggle="collapse" data-target="#faqlist1" aria-expanded="false" aria-controls="faqlist1">
    <i class="fa fa-caret-down"></i> Button with data-target
  </h4>
  <ul class="faq collapse in" id="faqlist1">
    <li>Be nice to nerds. Chances are you\'ll end up working for one.</li>
    <li>Get the lowdown on the key pieces of Bootstrap's.</li>
    <li>Bootstrap makes use of certain HTML elements and CSS properties that require.</li>
    <li>Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes.</li>
  </ul>
  {% endcomment %}
</section> <!-- END FAQS -->
{% endif %}
