{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "clickforclever/css/home.css" %}">
{% endblock %}
{% block script %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container container-stable top-margin-little">
		<h2 class="main-color bold">
        {% if group %}
            {% if group == '1' %}ติวฟรี > {{ header }}
            {% elif group == '2' %}ติวเพิ่มเกรด > {{ header }}
            {% elif group == '3' %}ติวเตรียม Admission > {{ header }}
            {% elif group == '4' %}คณิตคิดเร็ว by พี่บ๊อบ > {{ header }}
            {% endif %}
        {% else %}
            {% if header == '7 Subject' %}7 วิชาสามัญ
            {% elif header == 'Quota' %}โควต้า
            {% elif header == 'Click For Tricks' %}เทคนิคคณิตคิดเร็ว
            {% else %}{{ header }}
            {% endif %}
        {% endif %}
		</h2>
</div>
{% if course_list|length > 0 %}
<ul class="box-wrapper">
    <h1><span class="main-color">คอร์สแนะนำ</span>
        <a href="{% url 'course:home' %}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
</ul>
{% else %}
<p class="text-center no-content" >ไม่มีคอร์ส</p>
{% endif %}
{% endblock %}
