{% load i18n %}
{% load order_tags %}
<div class="container container-stable top-margin-little">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      {% if course.desc|length > 0 %}
      <h3 class="main-color bold">{% trans "Course Description" %}</h3>
      <div>{{ course.desc|safe|linebreaks }}</div>
      <hr />
      {% endif %}
      {% if course.condition|length > 0 %}
      <h3 class="main-color bold">{% trans "Course Condition" %}</h3>
      <div>{{ course.condition|safe|linebreaks }}</div>
      <hr /> {% endif %}
      {% comment %}
      {% if course.tag_list|length > 0 %}
      <h3 class="main-color bold">{% trans "Tags" %}</h3>
      <div class="event-tags ">
        {% for tag in course.tag_list %}
        <a class="">{{ tag }}</a>
        {% endfor %}
      </div>
      <hr />
      {% endif %}
      {% endcomment %}
      {% if order_item %}
      {% pull_order order_item.order_id as order %}
      <p>{% trans "Adding date" %} : {% if order_item.start %}{{ order_item.start.date }}
        {% else %}-{% endif %}</p>
      <p>{% trans "Adding method" %} : {% if order.method == 21 %}{% trans "Assignment" %}
        {% else %}{% trans "Self Enrollment" %}{% endif %}</p>
      <hr />
      {% endif %}
      {% include "rating/review.html" with type=course type_s="course" %}
      {% include "course/faq.html" with faq_list=course.faq_list %}
      {#% include "course/fragment/fragment_share.html" %#}
    </div>
  </div>
</div>
