{% load i18n %}
{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}

<li class="event">

  <a {% if course.status != 3  %} href="{% url 'course:detail' course.id course.slug %}"{% endif %} class="image-event">
    <div class="container-overlay">
      {% if course.image %}
      <div class="image course" style="background-image:url('{{ course.image.url }}')"></div>
      {% else %}
      <div class="image course" style="background-image:url('{% static "images/sample_course.jpg" %}')"></div>
      {% endif %}

      {% if course.status == 3 %}
      <img class="image-overlay" src="{% static "images/course/overlay_comingsoon.png" %}">
      {% elif course.status == 5 %}
      <img class="image-overlay" src="{% static "images/course/overlay_booking.png" %}">
      {% endif %}
    </div>
  </a>
  <div class="detail-event">
    <a {% if course.status != 3  %}href="{% url 'course:detail' course.id course.slug %}" {% endif %}><h3>{{ course.name }}</h3></a>
    <div class="main-color">{{ course.category.name }}</div>
    {% if course.price_web >= 0 %}
    <div class="wrap-tagprice">
      {% if course.price_web_discount == -1.0 %}
      <div class="duration price">
        {% if course.price_web > 0 %}
        <b>{{ course.price_web|floatformat|intcomma }} {% trans "Baht" %} {% if PLATFORM_ID == 3 %}( {{ course.price_web|click_point|floatformat }} {% trans "Click(s)" %}){% endif %}</b>
        {% else %}
        <b class="uppercase">{% trans "Free" %}</b>
        {% endif %}
      </div>
      {% else %}
      <div class="static-price price">
        <b>{{ course.price_web }} {% trans "Baht" %}</b>
      </div>
      <div class="duration price">
        {% if course.price_web_discount > 0.0 %}
        <b>{{ course.price_web_discount|floatformat|intcomma }} {% trans "Baht" %}</b>
        {% else %}
        <b class="uppercase">{% trans "Free" %}</b>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="duration"></div>
    {% endif %}
    <div class="instructor-sm">
        {% if course.tutor_list|length > 0 %}
        <a href="{% url 'tutor:detail' course.tutor_list.0.id %}">
	          {% if course.tutor_list.0.image.url %}
            <img src="{{ course.tutor_list.0.image.url }}" class="avatar">
	          {% else %}
  	        <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
	          {% endif %}
            <span class="gray">{% trans "By" %} {{ course.tutor_list.0.name|striptags|truncatechars:"60" }}
            <br>{{ course.category.name }}</span>
      </a>
      {% endif %}
    </div>
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <a {% if course.status != 3  %}href="{% url 'course:detail' course.id course.slug %}" {% endif %}>
        <p class="coursebox-overview gray">{{ course.overview|striptags|truncatechars:"90" }}</p>
        </a>
      </div>
    </div>
  </div>
</li>
