{% load i18n %}
{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}

<li class="item-box">
  <a href="{% if course.status != 3  %}{% url 'course:detail' course.id %}{% else %}#{% endif %}" class="image">
    {% if course.image %}
    <img class="cover" src="{{ course.image.url }}">
    {% else %}
    {% include 'main/fragment/default_course_image.html' %}
    {% endif %}

    {% if course.status == 3 %}
    <img class="badge-corner" src="{% static 'images/course/overlay_comingsoon.png' %}">
    {% elif course.status == 5 %}
    <img class="badge-corner" src="{% static 'images/course/overlay_booking.png' %}">
    {% endif %}
  </a>
  <a href="{% if course.status != 3  %}{% url 'course:detail' course.id %}{% else %}#{% endif %}" class="detail">
    <div class="course-name">{{ course.name }}</div>
    <div class="category main-color">{{ course.category.name }}</div>
    {% if course.price_web >= 0 %}
    <div class="price">
      {% if course.price_web_discount == -1.0 %}
      {% if course.price_web > 0 %}
      <strong class="duration-price">{{ course.price_web|floatformat|intcomma }} {% trans "Baht" %} {% if PLATFORM_ID == 3 %}( {{ course.price_web|click_point|floatformat }} {% trans "Click(s)" %}){% endif %}</strong>
      {% else %}
      <strong class="duration-price uppercase">{% trans "Free" %}</strong>
      {% endif %}
      {% else %}
      <strong class="static-price">{{ course.price_web }} {% trans "Baht" %}</strong>
      {% if course.price_web_discount > 0.0 %}
      <strong class="duration-price">{{ course.price_web_discount|floatformat|intcomma }} {% trans "Baht" %}</strong>
      {% else %}
      <strong class="duration-price">{% trans "Free" %}</strong>
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
    {% include "rating/block.html" with rating=course.rating type_s="course" show_rate_btn=False %}
  </a>
  {% if course.tutor_list|length > 0 %}
  <div class="instructor">
    {% for tutor in course.tutor_list %}
    <a href="{% url 'tutor:detail' tutor.id %}" class="square"><img src="{% if tutor.image %}{{ tutor.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" /></a>
    {% endfor %}
    <br /><a href="{% url 'tutor:detail' course.tutor_list.0.id %}">{{ course.tutor_list.0.name }}</a>
    {% if course.tutor_list|length > 1 %}
    <br /><span>{% trans "and" %} {{ course.tutor_list|length|add:"-1" }} {% trans "more" %}</span>
    {% endif %}
  </div>
  {% endif %}
  <a href="{% if course.status != 3  %}{% url 'course:detail' course.id %}{% else %}#{% endif %}"><i class="fa fa-play-circle-o type-icon"></i></a>
</li>
