{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container container-stable top-margin-little">
		{% block course_list_title %}
		<h2 class="main-color bold">
				{% if course_text == 'free_course' %}ติวฟรี {{desc}}
  			{% elif course_text == 'upgrade_course' %}ติวเพิ่ม GPA
				{% elif course_text == 'admission_course' %}ติวเตรียม Admission
				{% elif course_text == 'click_for_tricks' %}คณิตคิดเร็ว by พี่บ๊อบ
				{% endif %}
		</h2>
		{% endblock %}
</div>

{% if featured_course_list|length > 0 %}
<ul class="box-wrapper">
    <h1><span class="main-color">คอร์สแนะนำ</span>
        <a href="{% url 'course:home' %}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
		{% for course in featured_course_list %}
		{% include "course/item_cached_new.html" %}
		{% endfor %}
</ul>
{% endif %}

{% if content_list|length > 0 %}
{% for content in content_list %}
<ul class="box-wrapper">
    <h1><span class="main-color">{{ content.subject }}</span>
        <a href="{% url 'course:course_grid' %}?g={{ group }}&subject={{ content.subject }}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
		{% for course in content.course_list %}
		{% include "course/item_cached_new.html" %}
		{% endfor %}
</ul>
{% endfor %}
{% else %}
<p class="text-center no-content">ไม่มีคอร์ส</p>
{% endif %}
{% endblock %}
