{% load i18n %}
{% load progress_tags %}

{% if order_item and is_dependency %}
<li class="vdolist-check">
  <div class="round-box lock">
    <i class="fa fa-lock white"></i>
    <div class="tip">{% trans "This material has dependency." %}</div>
  </div>
</li>
{% elif order_item %}
{% progress_new_tag material order_item content_location_material program %}
{% endif %}
