{% load i18n %}
{% load staticfiles %}
{% load duration_tags %}
{% load progress_tags %}
{% load dependency_tags %}
{% load content_tags %}

{% get_content_type_tag "course" "material" as content_type_material %}
{% get_content_type_tag "program" "onboard" as content_type_onboard %}
{% get_content_type_tag "program" "program" as content_type_program %}

{% if course.outline_list|length > 0 %}
{% for outline in course.outline_list %}
{% if outline.get_material_count > 0 %}
<div class="panel panel-default course-list">
  <div class="panel-heading panel-curr">
    <h4 class="font-small-xs"><span class="grey">{% trans "Section" %} {{ forloop.counter }} :</span> {{ outline.section }}</h4>
  </div>
  <div id="outline_playlist{{ forloop.counter }}">
    {% for material in outline.get_material_set %}
    {% if program and program.type == 2 %}
    {% pull_content_location_first_tag content_type_material material.id content_type_onboard program.id content_type course.id None -1 as content_location_material %}
    {% elif program %}
    {% pull_content_location_first_tag content_type_material material.id content_type_program program.id content_type course.id None -1 as content_location_material %}
    {% else %}
    {% pull_content_location_first_tag content_type_material material.id content_type course.id None -1 None -1 as content_location_material %}
    {% endif %}

    {% check_dependency_course_material_tag order_item content_location_material content_type_material material.id as is_dependency %}
    {% if material.type == 0 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}<img src="{{ material.image.url }}" /> {% elif course.image %}<img src="{{ course.image.url }}" /> {% else %}<img src="{% static "images/preview_play_button.png" %}" /> {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br/>
          <span class="grey small">Video - {{ material.video_duration|duration }}</span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
        {% if order_item %}
      	{% if not is_iptable %}
      	<button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
        {% elif progress.status == 4 %}
        <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
        {% elif is_dependency %}
        <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
        {% elif program %}
        <a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
        </a>
        {% else %}
        <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
        </a>
        {% endif %}
        {% else %}
        {% comment %}
         <button class="btn btn-play" data-toggle="modal" data-target="#takeCourseModal"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
        {% endcomment %}
        {% endif %}
        {% else %}
        <button class="btn btn-play" data-toggle="modal" data-target="#loginModal"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
        {% endif %}
      </li>
    </ul>

    {% elif material.type == 1 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      {% if order_item %}
      <li class="vdolist-check-space"></li>{% endif %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}<img src="{{ material.image.url }}" /> {% elif course.image %}<img src="{{ course.image.url }}" /> {% else %}<img src="{% static "images/preview_play_button.png" %}"/> {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br>
          <span class="grey small">Web Link</span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
        {% if order_item %}
        {% if not is_iptable %}
        <button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
        {% elif progress.status == 4 %}
        <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i></button>
        {% elif is_dependency %}
        <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i></button>
	{% elif program %}
        <a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i>
        </a>
        {% else %}
        <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i>
        </a>

	{% comment %}
        <a href="{{ material.data }}" class="btn btn-play" target="_blank">
          <span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i>
        </a>
	{% endcomment %}
        {% endif %}
        {% else %}
        {% comment %}
         <a data-toggle="modal" data-target="#takeCourseModal" class="btn btn-play">
          <span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-play"></i>
        </a>
        {% endcomment %}
        {% endif %}
        {% else %}
        <a data-toggle="modal" data-target="#loginModal" class="btn btn-play">
          <span class="hide-sm">{% trans "Open Website" %} </span><i class="fa fa-link"></i>
        </a>
        {% endif %}
      </li>
    </ul>
    {% elif material.type == 2 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      {% if order_item != None %}
      <li class="vdolist-check-space"></li>{% endif %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}<img src="{{ material.image.url }}" />
          {% elif course.image %}<img src="{{ course.image.url }}" />
          {% else %}<img src="{% static "images/preview_play_button.png" %}"/>
          {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br>
          <span class="grey small">{% trans "Document" %} </span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
        {% if order_item %}
        {% if not is_iptable %}
        <button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
        {% elif progress.status == 4 %}
        <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-book"></i></button>
        {% elif is_dependency %}
        <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-book"></i></button>
        {% elif not material.document %}
        <button class="btn btn-play"><span class="hide-sm">{% trans "No Document" %} </span><i class="fa fa-book"></i></button>
	{% elif program %}
	<a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-play"></i>
        </a>
        {% else %}
        <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
          <span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-play"></i>
        </a>

	{% comment %}
        <a href="{{ material.document.url }}" class="btn btn-play" target="_blank">
          <span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-book"></i>
        </a>
	{% endcomment %}
        {% endif %}
        {% else %}
        {% comment %}
        <a data-toggle="modal" data-target="#takeCourseModal" class="btn btn-play">
          <span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-book"></i>
        </a>
        {% endcomment %}
        {% endif %}
        {% else %}
        <a data-toggle="modal" data-target="#loginModal" class="btn btn-play">
          <span class="hide-sm">{% trans "Read" %} </span><i class="fa fa-book"></i>
        </a>
        {% endif %}
      </li>
    </ul>

    {% elif material.type == 3 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}<img src="{{ material.image.url }}" /> {% elif course.image %}<img src="{{ course.image.url }}" /> {% else %}<img src="{% static "images/preview_play_button.png" %}"/> {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br>
          <span class="grey small">Test</span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
          {% if order_item %}
            {% if not is_iptable %}
            <button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
            {% elif progress.status == 4 %}
            <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">Test </span><i class="fa fa-file-text"></i></button>
            {% elif is_dependency %}
            <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">Test </span><i class="fa fa-file-text"></i></button>
            {% elif program %}
            <a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
              <span class="hide-sm">Test </span>
              <i class="fa fa-file-text"></i>
            </a>
            {% else %}
              <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
                <span class="hide-sm">Test </span><i class="fa fa-file-text"></i>
              </a>
            {% endif %}
          {% else %}
          {% comment %}
             <a data-toggle="modal" data-target="#takeCourseModal" class="btn btn-play">
              <span class="hide-sm">Test </span><i class="fa fa-file-text"></i>
            </a>
          {% endcomment %}
          {% endif %}
        {% else %}
          <a data-toggle="modal" data-target="#loginModal" class="btn btn-play">
            <span class="hide-sm">Test </span><i class="fa fa-file-text"></i>
          </a>
        {% endif %}

      </li>
    </ul>
    {% elif material.type == 4 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}
          <img src="{{ material.image.url }}" />
          {% elif course.image %}
          <img src="{{ course.image.url }}" />
          {% else %}
          <img src="{% static "images/preview_play_button.png" %}"/>
          {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br>
          <span class="grey small">Audio - {{ material.video_duration|duration }}</span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
          {% if order_item %}
            {% if not is_iptable %}
            <button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
            {% elif progress.status == 4 %}
              <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-headphones"></i></button>
            {% elif is_dependency %}
            <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">{% trans "Listen" %} </span><i class="fa fa-play"></i></button>
            {% elif program %}
            <a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
              <span class="hide-sm">{% trans "Listen" %} </span><i class="fa fa-headphones"></i>
            </a>
            {% else %}
            <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
              <span class="hide-sm">{% trans "Listen" %} </span><i class="fa fa-headphones"></i>
            </a>
            {% endif %}
          {% else %}
          {% comment %}
             <a data-toggle="modal" data-target="#takeCourseModal" class="btn btn-play">
              <span class="hide-sm">{% trans "Listen" %} </span><i class="fa fa-headphones"></i>
            </a>
          {% endcomment %}
          {% endif %}
        {% else %}
          <a data-toggle="modal" data-target="#loginModal" class="btn btn-play">
            <span class="hide-sm">{% trans "Listen" %} </span><i class="fa fa-headphones"></i>
          </a>
        {% endif %}

      </li>
    </ul>
    {% elif material.type == 5 %}
    <ul class="vertical-middle curr-vdolist {% if order_item %}purchased{% endif %}">
      {% include "course/outline_progress_block.html" %}
      <li class="vdolist-name">
        <div class="vdo-thumb">
          {% if material.image %}
          <img src="{{ material.image.url }}" />
          {% elif course.image %}
          <img src="{{ course.image.url }}" />
          {% else %}
          <img src="{% static "images/preview_play_button.png" %}"/>
          {% endif %}
        </div>
        <h4>
          {{ counter.next }}. {{ material.name }}<br>
          <span class="grey small">SCORM</span>
          {% if material.is_public %}<span class="badge">{% trans "Free" %}!</span>{% endif %}
        </h4>
      </li>
      <li class="vdolist-function">
        {% if user.is_authenticated %}
          {% if order_item %}
            {% if not is_iptable %}
            <button class="btn btn-outline-white not-allowed" data-toggle="modal" data-target="#" disabled><i class="fa fa-lock"></i> {% trans "Intranet" %} <span class="hide-sm">{% trans "only" %}</span></button>
            {% elif progress.status == 4 %}
              <button class="btn btn-play" data-toggle="modal" data-target="#expired"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
            {% elif is_dependency %}
            <button class="btn btn-play" data-toggle="modal" data-target="#dependency"><span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i></button>
            {% elif program %}
            <a href="{% url 'course:playlist_program' program.id course.id material.id order_item.id %}" class="btn btn-play">
              <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
            </a>
            {% else %}
            <a href="{% url 'course:playlist' course.id material.id order_item.id %}" class="btn btn-play">
              <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
            </a>
            {% endif %}
          {% else %}
          {% comment %}
            <a data-toggle="modal" data-target="#takeCourseModal" class="btn btn-play">
              <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
            </a>
            {% endcomment %}
          {% endif %}
        {% else %}
          <a data-toggle="modal" data-target="#loginModal" class="btn btn-play">
            <span class="hide-sm">{% trans "Learn" %} </span><i class="fa fa-play"></i>
          </a>
        {% endif %}

      </li>
    </ul>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% include "course/modal/modal_has_dependency.html" %}
