{% load progress_tags %}
{% for outline in course.outline_set.all %}
<ul class="section-menu" data-toggle="collapse" data-target="#submenu-{{ forloop.counter }}" aria-expanded="false" aria-controls="submenu-{{ forloop.counter }}">
  <p class="clear-pad">
    <span class="sm-font grey clear-pad">Section : {{ forloop.counter }}</span>
    <br>
    <b>{{ outline.section }}</b>
    <h4><i class="fa"></i></h4>
  </p>
</ul>
<ul class="section-submenu collapse in" id="submenu-{{ forloop.counter }}">
  {% for video_item in outline.video_list %} {% if video_item.type = 0 and video_item.is_public %}
  <li>
    <i class="fa"></i>
    <p class="number">{{ video_item.index_video }}</p>
    <a class="link-normal" href="{% url 'course:video_public' course.id video_item.id %}">
      <p class="lesson">{{ video_item.name }}</p>
    </a>
  </li>
  {% endif %} 
  {% endfor %}
</ul>
{% endfor %}
