{% load i18n %}
<div class="clip text-center">
  <h1>{{ material.question.name }}</h1>
  <p>{% trans "Please read the instruction below carefully before you start testing." %}</p>
  {% include "question/fragment/condition.html" %}
  <div class="container container-stable top-margin-little no-pad-xs">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
          {% include "question/section_block.html" with item=activity %}
          {% if activity.overview|length > 0 %}
            <h3 class="main-color bold top-pad">{% trans "Test Condition" %}</h3>
            <div>{{ activity.overview|striptags|linebreaks }}</div>
          {% endif %}
        </div>
    </div>
  </div>
  <p class="top-pad">
    {% if program %}
    <a href="{% url 'question:section_program_course' activity.id program.id course.id material.id order_item.id %}" class="btn-inline btn-main-color btn-lg">{% trans "Start Testing" %} &raquo;</a>
    {% else %}
    <a href="{% url 'question:section_course' activity.id course.id material.id order_item.id %}" class="btn-inline btn-main-color btn-lg">{% trans "Start Testing" %} &raquo;</a>
    {% endif %}
  </p>
</div>
