{% load i18n %}
{% load progress_tags %}
{% load dependency_tags %}
{% load content_tags %}

{% get_content_type_tag "course" "course" as content_type_course %}
{% get_content_type_tag "course" "material" as content_type_material %}
{% get_content_type_tag "program" "onboard" as content_type_onboard %}
{% get_content_type_tag "program" "program" as content_type_program %}

<div id="menu" role="navigation" class="trans03s">
  <div class="vdo-menu">
    {% for outline in course.outline_set.all %}
    {% if not is_public or outline.has_public_video %}
    {% if outline.get_material_count > 0 %}
    <ul class="unstyle section-menu" data-toggle="collapse" data-target="#submenu-{{ forloop.counter }}" aria-expanded="false" aria-controls="submenu-{{ forloop.counter }}">
      <p class="clear-pad">{% trans "Section" %} : {{ forloop.counter }}</p>
      <strong>{{ outline.section }}</strong>
    </ul>
    <ul id="submenu-{{ forloop.counter }}" class="section-submenu collapse in" >
      {% for material_item in outline.get_material_set %}
      {% if program and program.type == 2 %}
      {% pull_content_location_first_tag content_type_material material_item.id content_type_onboard program.id content_type_course course.id None -1 as content_location_material %}
      {% elif program %}
      {% pull_content_location_first_tag content_type_material material_item.id content_type_program program.id content_type_course course.id None -1 as content_location_material %}
      {% else %}
      {% pull_content_location_first_tag content_type_material material_item.id content_type_course course.id None -1 None -1 as content_location_material %}
      {% endif %}
      {% check_dependency_course_material_tag order_item content_location_material content_type_material material_item.id as is_dependency %}
      {% if not is_public or material_item.is_public or course.permission == 2 %}
      <li>
        <i class="fa {% if is_dependency %}fa-lock{% else %}{% progress_circle_tag material material_item order_item content_location_material program %}{% endif %}"></i>
        <p class="number">{{ counter.next }}.</p>
        {% if is_dependency %}
        <a class="link-normal" href="#" style="cursor:not-allowed" title="This course has dependency.">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
        {% else %}
        {% if order_item and program %}
        <a class="link-normal" href="{% url 'course:playlist_program' program.id course.id material_item.id order_item.id %}">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
        {% elif order_item %}
        <a class="link-normal" href="{% url 'course:playlist' course.id material_item.id order_item.id %}">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
        {% else %}
        <a class="link-normal" href="{% url 'course:video_public' course.id material_item.id %}">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
        {% endif %}
	{% endif %}
	
	{% comment %}
	{% elif material_item.type == 1 %}
        <a class="link-normal" target="_blank" href="{{ material_item.data }}">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
        {% elif material_item.type == 2 %}
        <a class="link-normal" target="_blank" href="{% if material_item.document %}{{ material_item.document.url }}{% endif %}">
          <p class="lesson">{{ material_item.name }}</p>
        </a>
	{% endif %}
	{% endcomment %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
