{% extends "base.html" %}
{% load tz %}

{% load staticfiles %}
{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/video.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/slide.css" %}">
<script type="text/javascript" src="{% static "player/flowplayer-3.2.13.min.js" %}"></script>
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/flowplayer/flowplayer.css" %}">

<style type="text/css">
.flowplayer {
	width: 100%;
	height: 100%;
}
</style>
<script>
var player;
var menustate = true;
var is_player = false;
var pingInterval = null;
var isWatermark = true;
var watermark = null;
var lastSeek = null;

</script>
{% endblock %}

{% block footerscript %}

<script type="text/javascript">
var v = {{ v }} - 1;
var menustate = true;
var random = new Date().getTime();
var ratio_w = 1280;
var ratio_h = 720;
$('#wrap-video').height($(window).height() - 388);
function resizeVideo(){
	var w = $(window).width();
	if(menustate){

		w -= 350;
	}
	$('.vdo-option').width(w);
	$('#wrap-video').width(w);
}

$(window).bind('resizeEnd', function() {
	resizeVideo();
});

$(window).resize(function() {
	if(this.resizeTO) clearTimeout(this.resizeTO);
	this.resizeTO = setTimeout(function() {
		$(this).trigger('resizeEnd');
	}, 500);
});
$(document).ready(function() {
	$('.menulink').bigSlide({
		"init":function(){
			$(".vdo-option").width( $(".wrap").width());
		},
		"open":function(){
			$(".vdo-option").width( $(".wrap").width());
			$("#vdo-mode").html('<i class="fa fa-expand"></i> Full Mode');
		},
		"closed" : function(){
			$(".vdo-option").width( $(".wrap").width());
			$("#vdo-mode").html('<i class="fa fa-compress"></i> Default Mode');
		},
	});
});
</script>
<script src="{% static "js/plugin/bigSlide.js" %}"></script>
{% if video.video_type == 2 %}
<script src="//releases.flowplayer.org/5.5.2/flowplayer.min.js"></script>
{% elif video.video_type == 0 or video.video_type == 1 %}
<script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
{% endif %}
<script type="text/javascript">
{% if video.video_type == 0 %}
$(document).ready(function() {
	$("#player").flowplayer({
		playlist: [
		[
		{ mp4: "{{ video_url|safe }}" }
		]
		],
		splash: true,
	});
	flowplayer.conf = {
		splash: true,
		autoplay: true,
		analytics: "{{GOOGLE_ANALYTICS_KEY}}"
	};
	flowplayer().load("{{ video_url|safe }}");
});
{% elif video.video_type == 1 %}

{% comment %}
{% if PLATFORM_ID == 3 %}
$(function () {
    //JW Player
    jwplayer("player").setup({
    	flashplayer: "{% static "swf/jwplayer.flash.swf" %}",
    	file: "https://www.youtube.com/watch?v={{video.path}}",
    	width: '100%',
    	height: '100%'
    });
    jwplayer().play();
    jwplayer().onComplete(function(event){
    	setTimeout(redirectNext, 1500);
    });
});
{% else %}
{% endcomment %}
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
var state=null;
function onYouTubeIframeAPIReady() {
	player = new YT.Player('player', {
		height: '100%',
		width: '100%',
		videoId: '{{ video.path }}',
		playerVars: { 'autoplay': 1, 'controls': 1 },
		events: {
			'onReady': onPlayerReady,
	    //'onStateChange': onPlayerStateChange
	}
});
}
function onPlayerReady(event) {
	event.target.playVideo();
}

{% endif %}
</script>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block bodyattr %}style="background-color:#333333;"{% endblock %}

{% block content %}
<div id="menu" role="navigation" class="wrap-vdomenu panel">
  <div class="wrap-vdomenu-float">
    {% for outline in course.outline_list %}
    {% include "course/outline_public.html" %}
    {% endfor %}
  </div>
</div>

<div class="wrap-vdoheader">
  {% include "course/fragment/playlist_header.html" %}
  <div class="vdo-menubar">
    <div class="container-fluid">
      <div class="row">
	{% timezone "Asia/Bangkok" %}
	{% if item.credit.total_seconds > 0  and item.expired.total_seconds > 0 %}
	{% include "course/fragment/playlist_title_block.html" with n=4 %}
	{% include "course/fragment/playlist_start_block.html" with n=2 %}
	{% include "course/fragment/playlist_use_credit_block.html" with n=2 %}
	{% include "course/fragment/playlist_credit_block.html" with n=2 %}
	{% include "course/fragment/playlist_expired_block.html" with n=2 %}
	{% elif item.credit.total_seconds > 0 %}
	{% include "course/fragment/playlist_title_block.html" with n=6 %}
	{% include "course/fragment/playlist_start_block.html" with n=2 %}
	{% include "course/fragment/playlist_use_credit_block.html" with n=2 %}
	{% include "course/fragment/playlist_credit_block.html" with n=2 %}
	{% elif item.expired.total_seconds > 0 %}
	{% include "course/fragment/playlist_title_block.html" with n=6 %}
	{% include "course/fragment/playlist_start_block.html" with n=2 %}
	{% include "course/fragment/playlist_progress_block.html" with n=2 %}
	{% include "course/fragment/playlist_expired_block.html" with n=2 %}
	{% else %}
	{% include "course/fragment/playlist_title_block.html" with n=8 %}
	{% include "course/fragment/playlist_start_block.html" with n=2 %}
	{% include "course/fragment/playlist_progress_block.html" with n=2 %}
	{% endif %}
	{% endtimezone %}
      </div>
    </div>
  </div>
</div>
<div id="wrap-video" class="wrap push" style="padding-top:138px;height: 75%; width:100%; padding-bottom:56px; left:0 !important; float:right;">
  {% if video.type == 0 %}
  <div class="vdo-embed">
    <div id="player-frame">
      {% if stream == None %}
      {% if video.video_type == 0 or video.video_type == 1 %}
      <div id="player" data-embed="false" style="height:100%;width:100%;" class="flowplayer no-toggle"></div>
      {% elif video.video_type == 2 %}
      <a href="{{ video_url.href|safe }}" style="display:block;width:100%;height:100%" id="player"></a>
      <script type="text/javascript">
	player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
	    engine: "flash",
	    flashfit: true,
	    wmode: "opaque",
	    ratio: 9/16,
	    splash: true,
	    clip: {
		provider: "rtmp",
		scaling: "fit",
		onStart: function(clip){
		},
	    },
	    plugins: {
		rtmp: {
		    url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
		    netConnectionUrl: '{{ video_url.rtmpe }}'
		}
	    }
	});
      </script>
      {% endif %}
      {% else %}
      {% if stream.config.stream_type == 3 %}Stream
      <a href="{{ video_url.href|safe }}" style="display:block;width:100%;height:100%" id="player"></a>
      <script type="text/javascript">
	player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
	    engine: "flash",
	    flashfit: true,
	    wmode: "opaque",
	    ratio: 9/16,
	    splash: true,
	    clip: {
		provider: "rtmp",
		scaling: "fit",
		onStart: function(clip){
		},
	    },
	    plugins: {
		rtmp: {
		    url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
		    netConnectionUrl: '{{ video_url.rtmpe }}'
		}
	    }
	});
      </script>
      {% elif stream.config.stream_type == 4 %}
      <a href="{{ stream.media }}" style="display:block;width:100%;height:100%" id="player"></a>
      <script type="text/javascript">
	player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
	    engine: "flash",
	    flashfit: true,
	    wmode: "opaque",
	    ratio: 9/16,
	    splash: true,
	    clip: {
		provider: "rtmp",
		scaling: "fit",
		onStart: function(clip){
		    // onStartVideo();
		},
	    },
	    plugins: {
		rtmp: {
		    url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
		    proxyType: 'best',
		    netConnectionUrl: '{{ stream.config.wowza_stream_lock }}'
		}
	    }
	});
      </script>
      {% endif %}
      {% endif %}
    </div>
    <div class="vdo-option">
      <a href="#menu" class="menulink btn-mode"><h5 class="grey clear-pad" id="vdo-mode"><i class="fa fa-expand"></i> Full Mode </h5></a>
      {% if video_previous %}
      <a id="button-prev" href="{% url 'course:playlist' course.id video_previous order_item.id %}" class="btn btn-blk"><i class="fa fa-caret-left"></i> Previous</a>
      {% endif %}
      {% if video_next %}
      <a id="button-next" href="{% url 'course:playlist' course.id video_next order_item.id %}" class="btn btn-blk" style="float:right">Next <i class="fa fa-caret-right"></i></a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
