{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load content_tags %}

{% block css %}
<link rel="stylesheet" href="{% static "css/video.css" %}">
<link rel="stylesheet" href="{% static "css/slide.css" %}">

{% if material.type == 0 and material.video_type == 3 or material.type == 4 %}
{% comment %}<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/minimalist.css' %}"><!--แบบกะทัดรัด ไม่มีปุ่ม play บน controls-->{% endcomment %}
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/functional.css' %}">
{% comment %}<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/skin/playful.css' %}"><!--Controls แบบมีเงา-->{% endcomment %}
<link rel="stylesheet" href="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.css' %}">
    {% if material.image %}
    <style>
      .flowplayer {
        background-color: #c0c0c0;
        overflow-wrap: break-word;
        background-image: url('{{ material.image.url }}');
      }
    </style>
    {% endif %}
{% else %}
<link rel="stylesheet" href="{% static "flowplayer-6.0.3/quality-selector.css" %}">
<link rel="stylesheet" href="{% static "flowplayer-6.0.3/skin/functional.css" %}">
{% endif %}
{% endblock %}

{% block script %}
{% if material.type == 0 and material.video_type == 3 or material.type == 4 %}
<script src="{% static 'flowplayer-6.0.5/flowplayer.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.hlsjs.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.audio.min.js' %}"></script>
<script src="{% static 'flowplayer-6.0.5/flowplayer.quality-selector.min.js' %}"></script>
{% elif material.type == 5 %}
<script src="{% static 'scorm/scormAPI.js' %}"></script>
{% else %}
<script src="{% static "player/flowplayer-3.2.13.min.js" %}"></script>
<script src="{% static "flowplayer-6.0.3/flowplayer.min.js" %}"></script>
<script src="{% static "flowplayer-6.0.3/flowplayer.mpegdash.min.js" %}"></script>
{% endif %}

<script>
$(document).ready(function(){
  if ($('html').hasClass('ismobile')) {
    $('.mobile-wrapper').show();
    $('.desktop-wrapper').hide();
  } else {
    $('.mobile-wrapper').hide();
    $('.desktop-wrapper').show();
  }
  {% if material.type == 1 %}
    window.open('{{ material.data }}');
  {% endif %}
});

</script>
{% endblock %}

{% block bodyattr %}
{% if material.type == 0 %}{% endif %}
{% endblock %}
{% block footerscript %}
{% if material.type == 0 and material.video_type == 3 %}
{% else %}
<script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
{% endif %}
{% include "course/fragment/playlist_footer_script_block.html" %}
{% endblock %}
{% block jquery %}
    $('#topmenulink button').click(function(){
        var body = $('body');
        if(body.hasClass('vdo-menu-closed')){
            body.removeClass('vdo-menu-closed');
        }else{
            body.addClass('vdo-menu-closed');
        }
    });
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="wrap-vdoheader pp">
  {% include "course/fragment/playlist_header.html" %}
  <div class="vdo-menubar">
    <div class="container-fluid">
      <div class="row">
        {% timezone "Asia/Bangkok" %}
        {% if order_item.credit.total_seconds > 0  and order_item.expired.total_seconds > 0 %}
        {% include "course/fragment/playlist_title_block.html" with n=4 %}
        <div class="col-xs-12 col-sm-8 stat">
          <div class="row">
            {% include "course/fragment/playlist_start_block.html" with n=3 %}
            {% include "course/fragment/playlist_use_credit_block.html" with n=3 %}
            {% include "course/fragment/playlist_credit_block.html" with n=3 %}
            {% include "course/fragment/playlist_expired_block.html" with n=3 %}
          </div>
        </div>
        {% elif order_item.credit.total_seconds > 0 %}
        {% include "course/fragment/playlist_title_block.html" with n=6 %}
        <div class="col-xs-12 col-sm-6 stat">
          <div class="row">
            {% include "course/fragment/playlist_start_block.html" with n=4 %}
            {% include "course/fragment/playlist_use_credit_block.html" with n=4 %}
            {% include "course/fragment/playlist_credit_block.html" with n=4 %}
      	  </div>
        </div>
        {% elif order_item.expired.total_seconds > 0 %}
        {% include "course/fragment/playlist_title_block.html" with n=6 %}
      	<div class="col-xs-12 col-sm-6 stat">
          <div class="row">
            {% include "course/fragment/playlist_start_block.html" with n=4 %}
            {% include "course/fragment/playlist_progress_block.html" with n=4 %}
            {% include "course/fragment/playlist_expired_block.html" with n=4 %}
      	  </div>
      	</div>
        {% else %}
        {% include "course/fragment/playlist_title_block.html" with n=8 %}
        <div class="col-xs-12 col-sm-4 stat">
          <div class="row">
            {% include "course/fragment/playlist_start_block.html" with n=6 %}
            {% include "course/fragment/playlist_progress_block.html" with n=6 %}
      	  </div>
      	</div>
        {% endif %}
        {% endtimezone %}
      </div>
    </div>
  </div>
</div>
<div id="wrap-video" class="trans03s wrap push {% if material.type == 3 %}quiz-wrap{% elif material.type == 5 %}scrom{% elif material.type == 0 or material.type == 4 %}has-flowplayer{% endif %}">
  {% if is_dependency %}
  <div style="position:relative;width:100%;height:100%;min-height:300px;padding-left:30px;">
    <h2>This material has dependency.</h2>
    <div>
      <p>You have to complete these materials below.</p>
      <ol>
        {% for dependency in dependency_list %}
        {% get_content_tag dependency.content_type_id dependency.content as content %}
        {% if dependency.is_complete == False %}
        <li>
          {#{ dependency.id }#}
          {{ content.name }}
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
  {% elif not is_iptable %}
  <div style="position:relative;width:100%;height:100%;min-height:300px;">
    <h2 class="center2D white clear-pad text-center">{% trans "Allow Intranet Only" %}</h2>
  </div>
  {% elif material.type == 0 or material.type == 4 %}
  {% include "course/fragment/playlist_type_video.html" %}
  {% elif material.type == 3 %}
      {% if progress.status == 2 or progress.status == 3 or progress.status == 5 %}
      {% include "question/result_block.html" %}
      {% elif progress.status == 1 %}
      {% if score_item == None %}
          {% include "course/playlist_question_intro.html" %}
          {% else %}
          {% include "question/result_block.html" %}
          {% endif %}
      {% endif %}
  {% elif material.type == 5 %}
    <div class="wrapper-iframe">
      <div class="mobile-wrapper" style="display:none;">
        <div class="center2D"><center>
          <i class="fa fa-mobile" aria-hidden="true" style="font-size:120px;color:#999;display:block;"></i>
          <div class="font-bold main-color" style="position:relative;z-index:99">Content unsupported on mobile</div>
          <div class="font-bold main-color" style="position:relative;z-index:99">You can open this content in web browser (Laptop, Mac, PC)</div>
        </center></div>
      </div>
      <div class="desktop-wrapper" style="display:none;">
        <iframe src="{{ material.get_scorm_url }}"></iframe>
      </div>
    </div>
  {% elif material.type == 1 %}
  <!-- <div class="wrapper-iframe" id="webLink__iframe">
    <a href="{{ material.data }}" class="btn-block btn-main-color-static hidden-lg" target="_blank" style="position:relative;z-index:99">หากบราวเซอร์ของท่านแสดงผลไม่ถูกต้อง โปรดคลิกที่นี่</a>
    <iframe id="iframeWeblink" src=""></iframe>
  </div> -->
  <div class="wrapper-iframe" id="webLink__iframe__mobile">
    <div class="center2D"><center><i class="fa fa-globe" aria-hidden="true" style="font-size:120px;color:#999;display:block;margin-bottom:10px;"></i>
    <a href="{{ material.data }}" class="btn btn-main-color" target="_blank" style="position:relative;z-index:99">Go to weblink</a></center></div>
  </div>
  {% elif material.type == 2 and material.document %}
  <div class="wrapper-iframe" id="pdf__iframe">
    <div class="center2D"><center><i class="fa fa-file" aria-hidden="true" style="font-size:120px;color:#999;display:block;margin-bottom:10px;"></i>
    <a href="{{ material.document.url }}" class="btn btn-main-color" target="_blank" style="position:relative;z-index:99">View Document</a></center></div>
  </div>
  {% endif %}
  {% if material.type == 0 or material.type == 1 or material.type == 2 or material.type == 4 %}
  {% include "course/fragment/video_option.html" %}
  {% endif %}
</div>
{% include "course/playlist_outline_block.html" with activity=material.question %}
{% endblock %}
