{% if course.preview_video_image or course.image %}
<div class="col-sm-4 course-preview-img">
    {% if course.preview_video_image %}
    <img src="{{ course.preview_video_image.url }}" />
    {% elif course.image %}
    <img src="{{ course.image.url }}" />
    {% endif %}

    {% if course.preview_video_path|length > 0 %}
    <a class="fancybox preview" href="#video-preview"></a>
    {% endif %}
</div>
{% endif %}
