{% if program is None %}
<div class="row  top-margin-little">
  <div class="col-sm-6">
    {% if is_require_permission or is_dependency %}
    <a data-toggle="modal" data-target="#restrictionModal" class="btn-block btn-main-color btn-lg" ><i class="fa fa-lock"></i> You have a restriction</a>
    {% else %}
    <button class="btn-block btn-main-color btn-lg" data-toggle="modal" data-target="#takeCourseModal">Enroll</button>
    {% endif %}
  </div>
</div>
{% endif %}
