{% extends "base.html" %}
{% load tz %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/video.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/slide.css" %}">
{% if video.type_video == 0 %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/flowplayer/flowplayer.css" %}">
{% elif video.type_video == 3 %}
<script type="text/javascript" src="{% static "player/flowplayer-3.2.13.min.js" %}"></script>

<style type="text/css">
.flowplayer {
	width: 100%;
	height: 100%;
}
</style>
<script>
var player;
var menustate = true;
var is_player = false;
var waterMarkInterval = setInterval(function () {waterMarkVideo()}, 1000*10);
var isWatermark = true;
var watermark = null;
var lastSeek = null;
</script>
{% endif %}
{% endblock %}


{% block footerscript %}
<script type="text/javascript">
var menustate = true;
var random = new Date().getTime();
var ratio_w = 1280;
var ratio_h = 720;
$('#wrap-video').height($(window).height() - 388);
// function resizeVideo(){
// 	var w = $(window).width();
// 	if(menustate){

// 		w -= 350;
// 	}
// 	$('.vdo-option').width(w);
// 	$('#wrap-video').width(w);
// }

// $(window).bind('resizeEnd', function() {
// 	resizeVideo();
// });

// $(window).resize(function() {
// 	if(this.resizeTO) clearTimeout(this.resizeTO);
// 	this.resizeTO = setTimeout(function() {
// 		$(this).trigger('resizeEnd');
// 	}, 500);
// });
$(document).ready(function() {
	$('.menulink').bigSlide({
		"init":function(){
			$(".vdo-option").width( $(".wrap").width());
		},
		"open":function(){
			$(".vdo-option").width( $(".wrap").width());
			$("#vdo-mode").html('<i class="fa fa-expand"></i> Full Mode');
		},
		"closed" : function(){
			$(".vdo-option").width( $(".wrap").width());
			$("#vdo-mode").html('<i class="fa fa-compress"></i> Default Mode');
		},
	});
});
</script>
<script src="{% static "js/plugin/bigSlide.js" %}"></script>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div id="menu" role="navigation" class="wrap-vdomenu panel">
  <div class="wrap-vdomenu-float">
    {% for outline in course.outline_list %}
    {% include "course/video_item_outline.html" with is_mobile=False%}
    {% endfor %}
    {% comment %}แจ้งปัญหาการชม video.{% endcomment %}
  </div>
</div>

<div class="wrap-vdoheader">
  <div class="vdo-header">
    <div class="container-fluid">
      <div class="row">
				<div class="col-xs-4">
				  <a href="{% url 'course:detail' course.id course.slug %}" class="btn btn-blk-transparent"><i class="fa fa-arrow-left"> Back</i></a>
				</div>
				<div class="col-xs-4 text-center">
				  {% if PLATFORM_ID == 3 %}
				  <img src="{%  static "clickforclever/images/header_videologo.png" %}">
				  {% else %}
				  <img src="{%  static "images/header_videologo.png" %}">
				  {% endif %}
				</div>
				<div class="col-xs-4 text-right">
				  {% if user.is_authenticated %}
				  <div class="user-info">
				    <div class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<div class="user-avatar">
					  {% if user.image %}
					  <img src="{{ user.image.url }}">
					  {% else %}
					  <img src="{% static 'images/profile_default.jpg' %}">
					  {% endif %}
					</div>
					<div class="user-name grey">
					  {{ user.get_display|truncatechars:25 }}
					  <span class="caret" sytyle="margin-left:5px;"></span>
					</div>
				      </a>
				      <ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'profile' %}">Dashboard</a></li>
					<li><a href="{% url 'lesson:create' %}">Create Lesson</a></li>
					<li><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
					<li><a href="{% url 'account:logout' %}">Logout</a></li>
				      </ul>
				    </div>
				  </div>
				  {% endif %}
				</div>
      </div>
    </div>
  </div>
  <div class="vdo-menubar">
    <div class="container-fluid">
      <div class="row">
	{% timezone "Asia/Bangkok" %}
	{% if item.credit.total_seconds > 0  and item.expired.total_seconds > 0 %}
	{% include "course/video_title_block.html" with n=4 %}
	{% include "course/video_start_block.html" with n=2 %}
	{% include "course/video_use_credit_block.html" with n=2 %}
	{% include "course/video_credit_block.html" with n=2 %}
	{% include "course/video_expired_block.html" with n=2 %}
	{% elif item.credit.total_seconds > 0 %}
	{% include "course/video_title_block.html" with n=6 %}
	{% include "course/video_start_block.html" with n=2 %}
	{% include "course/video_use_credit_block.html" with n=2 %}
	{% include "course/video_credit_block.html" with n=2 %}
	{% elif item.expired.total_seconds > 0 %}
	{% include "course/video_title_block.html" with n=6 %}
	{% include "course/video_start_block.html" with n=2 %}
	{% include "course/video_progress_block.html" with n=2 %}
	{% include "course/video_expired_block.html" with n=2 %}
	{% else %}
	{% include "course/video_title_block.html" with n=8 %}
	{% include "course/video_start_block.html" with n=2 %}
	{% include "course/video_progress_block.html" with n=2 %}
	{% endif %}
	{% endtimezone %}
      </div>
    </div>
  </div>
</div>
<div id="wrap-video" class="wrap push quiz-wrap" style="padding-top:138px;height: 75%; width:100%; padding-bottom:56px; left:0 !important; float:right;">
	<div class="clip">
		<h1 class="text-center">Gamer Expert</h1>
		<p class="text-center">Completed on 12/12/2016, 99:99</p>

		<div class="panel panel-default top-pad">
			<div class="panel-heading text-center">Test Conditions & Criteria</div>
	    <div class="panel-body">
	      <ul class="course-overview row">
	        <li class="col-xs-12 col-sm-4">
	          <p class="text-center">Total Score<br>(คะแนนเต็ม)</p>
	          <h3 class="red text-center">
	            100
	          </h3>
	        </li>
	        <li class="col-xs-12 col-sm-4">
	          <p class="text-center">To Pass<br>(คะแนนผ่าน)</p>
	          <h3 class="red text-center">
	            70
	          </h3>
	        </li>
	        <li class="col-xs-12 col-sm-4">
	          <p class="text-center">Test Time<br>(เวลาที่กำหนด)</p>
	          <h3 class="red text-center">
	            120 min.
	          </h3>
	        </li>
	      </ul>
	    </div><!-- /.panel-body -->
	  </div><!-- /.panel -->

  	<div>
  		<ul class="curr-vdolist test-section-item">
				<li class="vdolist-name">
					<div class="vdo-thumb">
            <i class="fa fa-file-text-o"></i>
          </div>
          <h4>Instruction Page <br>
            <span class="grey small">Informative Section </span>
         	</h4>
        </li>
			</ul>

			<ul class="curr-vdolist test-section-item">
				<li class="vdolist-name">
					<div class="vdo-thumb">
            <i class="fa fa-check-square-o"></i>
          </div>
          <h4>IQ Test <br>
            <span class="grey small">Multiple Choice | จำนวน 10 ข้อ </span>
         	</h4>
        </li>
        <li class="vdolist-function">
					<div class="test-total-score">17/20 คะแนน</div>
				</li>
			</ul>

			<ul class="curr-vdolist test-section-item">
				<li class="vdolist-name">
					<div class="vdo-thumb">
            <i class="fa fa-check-square-o fa-4x"></i>
          </div>
          <h4>Attitude Test <br>
            <span class="grey small">Multiple Choice | จำนวน 10 ข้อ </span>
         	</h4>
        </li>
        <li class="vdolist-function">
					<div class="test-total-score">15/20 คะแนน</div>
				</li>
			</ul>

			<ul class="curr-vdolist test-section-item">
				<li class="vdolist-name">
					<div class="vdo-thumb">
            <i class="fa fa-check-square-o fa-4x"></i>
          </div>
          <h4>Error Analysis <br>
            <span class="grey small">Multiple Choice | จำนวน 10 ข้อ</span>
         	</h4>
        </li>
        <li class="vdolist-function">
					<div class="test-total-score">15/30 คะแนน</div>
				</li>
			</ul>

			<ul class="curr-vdolist test-section-item">
				<li class="vdolist-name">
					<div class="vdo-thumb">
            <i class="fa fa-edit fa-4x"></i>
          </div>
          <h4>Reading Comprehension <br>
            <span class="grey small">Multiple Choice | จำนวน 10 ข้อ </span>
         	</h4>
        </li>
        <li class="vdolist-function">
					<div class="test-total-score">17/30 คะแนน</div>
				</li>
			</ul>
  	</div><!-- /.panel-curr -->

  	<ul class="curr-vdolist test-section-item no-thumb bg-main img-rounded top-margin-little">
			<li class="vdolist-name">
				<div class="vdo-thumb">
          <i class="fa fa-edit fa-4x"></i>
        </div>
        <h4>Total: 5 Sections</h4>
      </li>
      <li class="vdolist-function">
				<div class="test-total-score">64/100 คะแนน</div>
			</li>
		</ul>

		<div class="btn-status-block text-center top-margin-little">
			<h3 class="clear-pad">COMPLETED</h3>
		</div>

		<div class="btn-status-block text-center top-margin-little">
			<h3 class="clear-pad">Quiz Result: <b>PASS</b></h3>
		</div>

		<div class="btn-status-block text-center top-margin-little">
			<h3 class="clear-pad">Quiz Result: <b>Fail</b></h3>
		</div>
  </div><!-- /.clip -->
</div><!-- /.quiz-wrap -->
{% endblock %}
