{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block headerscript %}
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "clickforclever/css/home.css" %}">
{% endblock %}
{% block footerscript %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}
{% block content %}
<ul class="box-wrapper">
    <h1>ผลการค้นหาคอร์สของ "{{ keyword }}"</h1>
    {% if course_list|length > 0 %}
    {% for course in course_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">ไม่พบผลการค้นหา "{{ keyword }}"</h4>
    {% endif %}
</ul>
{% endblock %}
