{% if stream.config.stream_type == 3 %}
<a href="{{ video_url.href|safe }}" style="display:block;width:100%;height:100%" id="player"></a>
<script type="text/javascript">
player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
    engine: "flash",
    flashfit: true,
    wmode: "opaque",
    ratio: 9 / 16,
    splash: true,
    clip: {
        provider: "rtmp",
        scaling: "fit",
        onStart: function(clip) {
            onStartVideo();
        },
        onPause: onPauseVideo,
        onResume: onResumeVideo,
        onSeek: onSeekVideo,
        onFinish: onFinishVideo,
    },
    plugins: {
        rtmp: {
            url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
            netConnectionUrl: '{{ video_url.rtmpe }}'
        },
        watermark: {
            url: '{% static "player/flowplayer.content-3.2.9.swf" %}',
            top: 10,
            width: 300,
            height: 130,
            opacity: 0.8,
            borderRadius: 10,
            style: {
                '.title': {
                    fontSize: 16,
                    fontFamily: 'verdana,arial,helvetica'
                }
            },
            html: 'OrderId: {{ item.order_id }}<br/>Name: {{ user.get_escape_name }} <br/>Email: {{ user.email|escape }}<br/>Time: {% now "DATETIME_FORMAT" %}<br/>IP Address: {{ ip }} <br/> ** วีดีโอนี้ได้รับความคุ้มครองตามพรบ. ลิขสิทธิ์ <br/>ห้ามคัดลอก ลอกเลียน ดัดแปลง ทำซ้ำ **',
        }
    }
});
</script>
{% elif stream.config.stream_type == 4 %}
<a href="{{ stream.media }}" style="display:block;width:100%;height:100%" id="player"></a>
<script type="text/javascript">
player = flowplayer("player", "{% static 'player/flowplayer-3.2.18.swf' %}", {
    engine: "flash",
    flashfit: true,
    wmode: "opaque",
    ratio: 9 / 16,
    splash: true,
    clip: {
        provider: "rtmp",
        scaling: "fit",
        onStart: function(clip) {
            onStartVideo();
        },
        onPause: onPauseVideo,
        onResume: onResumeVideo,
        onSeek: onSeekVideo,
        onFinish: onFinishVideo,
    },
    plugins: {
        rtmp: {
            url: '{% static "player/flowplayer.rtmp-3.2.13.swf" %}',
            proxyType: 'best',
            netConnectionUrl: '{{ stream.config.wowza_stream_lock }}'
        },
        watermark: {
            url: '{% static "player/flowplayer.content-3.2.9.swf" %}',
            top: 10,
            width: 300,
            height: 130,
            opacity: 0.8,
            borderRadius: 10,
            style: {
                '.title': {
                    fontSize: 16,
                    fontFamily: 'verdana,arial,helvetica'
                }
            },
            html: 'OrderId: {{ item.order_id|escape }}<br/>Name: {{ user.get_escape_name }}<br/>Email: {{ user.email|escape }}<br/>Time: {% now "DATETIME_FORMAT" %}<br/>IP Address: {{ ip }} <br/> ** วีดีโอนี้ได้รับความคุ้มครองตามพรบ. ลิขสิทธิ์ <br/>ห้ามคัดลอก ลอกเลียน ดัดแปลง ทำซ้ำ **',
        }
    }
});
</script>
{% endif %}
