{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="jumbotron" style="margin:30px 0">
        <h1>ดาวน์โหลดแอพพลิเคชั่น {{BASE_NAME}}</h1>
        <p class="lead">สามารถดาวน์โหลดแอพพลิเคชั่นได้ที่</p><br>
        <p class="text-center">
        {% if APP_STORE_URL %}<a href="{{APP_STORE_URL}}" role="button"><img src="{% static 'images/icon-appstore.png' %}"></a>{% endif %}
        {% if PLAY_STORE_URL %}<a href="{{PLAY_STORE_URL}}" role="button"><img src="{% static 'images/icon-playstore.png' %}"></a>{% endif %}
        </p>
      </div>
</div>
{% endblock %}