.wrap-address{
	width: 100%;
	display: block;
}
ul.adress{
	width: 100%;
	float: left;
	list-style: none;
	padding-left: 0;
}
ul.adress li{
	width: 100%;
	float: left;
	margin: 5px 0;
	padding-left: 50px;
	position: relative;
}
ul.adress li > i{
	position: absolute;
	left: 0;
	top: 5px;
	width: 22px;
	height: 22px;
	font-size: 22px;
	color: #17B99A;
}
.wrap-directory{
	width: 100%;
	display: block;
}