.footer{
	width: 100%;
	display: block;
	background: #17B99A;
	padding: 20px 0;
}
.footer a:hover, .footer a:focus, .footer a:active{
	color: #17B99A;
}
.footer h3{
	margin: 5px 0;
}
.footer-icon{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.footer-icon i{
	float: left;
	display: block;
	margin:0 5px;
	color: #fff;
	font-size: 35px;
}
.footer-icon i img{
	width: 30px;
	float: left;
	margin-top: 3px;
}
.wrap-footer-link{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.f-link{
	width: 100%;
	color: #fff!important;
	font-size: 22px;
	background: #27cead;
	padding: 25px 10px;
	display: block;
	text-align: center;
	border: 1px solid #2de5c0;
}
