.shortcut-link{
  margin-top: 60px;
  text-align: center;
}
.shortcut-link a{
  display: inline-block;
  width: 50%;
  max-width: 216px;
  margin: 10px 3px;
}
.shortcut-link a img{
  width: 100%;
  border-radius: 50px;
}

.tag-new {
  padding: 0px 5px;
  color: #fff;
  font-size: 10px;
  background: #FFA519;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: -18px;
}
.nav .nav-pills > li {
  position: relative;
}
.slide-overflow .item-slide {
  width: 1150px;
}
.navmenu li {
  border-left: none;
}
.navmenu li:last-child {
  border-right: none;
}
.mainmenu {
  margin-bottom: 10px;
}


.feature-item .subject-item a img {
	height: 133px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background-size: cover;
}
/*slide*/
@media (max-width: 991px) {
	.scroller{
		width: 100%!important;
	}
	.scroller-list{
		width:100%!important;
		display: block;
	}
	.owl-wrapper{
		text-align: center;
	}
	.owl-item{
		width: auto!important;
		display: inline-block;
	}
}
/*8วามรู้นอกห้อง*/
@media (max-width: 991px) {
	.container-fluid.top-margin-more-little.bottom-pad{
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
}
