/*.red #17B99A
.main-yellow #f9bf3b
.greenicon #53B949
.progess-green#80b636
.soft-yellow #fec11e
.absolute red #f7152c*/
/*-------css global-------*/
/*html {
	-webkit-filter: grayscale(1.0) !important;
	-moz-filter: grayscale(1.0) !important;
	-ms-filter: grayscale(1.0) !important;
	-o-filter: grayscale(1.0) !important;
	filter: grayscale(1.0) !important;
}*/
.main-color{
	color: #17B99A!important;
}
.btn-main-color{
  border: solid 2px #17B99A;
  background-color: #17B99A;
  color: #fff;
}
.btn-main-color:hover, .btn-main-color:active, .btn-main-color:focus{
  border: solid 2px #17B99A;
  background-color: #fff;
  color: #17B99A;
}
.breadcrumb ol>li{
    color: #17B99A;
}
blockquote.red{
    border-left: 4px solid #17B99A;
}
.event-tags a.suggest{
    color: #17B99A;
}
.event-tags a.suggest:hover{
    background-color: #17B99A;
}
.event-tags-color a.suggest{
    color: #17B99A;
}
.event-tags-color a.suggest:hover{
    background-color: #17B99A;
}
.menu-tab li.active{
    border-bottom: 4px solid #17B99A;
}
.menu-tab li.active a{
    color: #17B99A;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #17B99A;
    border-color: #17B99A;
}
.tab-button .btn-tab:hover, .btn-tab:active, .btn-tab:focus{
    background-color: #17B99A;
    border-color: #17B99A;
}
.tab-button li.active .btn-tab{
    background-color: #17B99A;
    border-color: #17B99A;
}
.item>span.price{
	color: #17B99A;
}
.login a:hover{
	color: #17B99A;
}
.navmenu li>a:hover, .navmenu li>a.selected{
	border-bottom: 5px solid #17B99A;
	color: #17B99A;
}
.navmenu li>a.special{
	color: #17B99A;
}
.navmenu li>a.special:hover{
	background-color: #17B99A;
}
.btn-menu,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:visited{
    color: #17B99A;
}
.top{
	border-top-color: #fff;
	border-bottom: solid #dedede 1px;
}
/*--Category--*/
.side-bottom{
	color: #17B99A;
}
.side-box li a.active{
	color: #17B99A;
}
.side-box li:hover a{
	color: #17B99A;
}
.scroller-list li.event-thumb:hover{
	border: 1px solid #17B99A;
}
.scroller-list li.event-thumb-active{
	border: 1px solid #17B99A;
}
.scroller-list li.event-thumb-more{
	background-color: #17B99A;
	border: 1px solid #17B99A;
}
.scroller-list li.event-thumb-more:hover{
	background-color: #f7152c;/*absolute-red--*/
	border: 1px solid #f7152c;
}
.lookfor{
	border: 1px solid #17B99A;
}
.lookfor-head{
	background-color: #17B99A;
}
.cat-menu .default-menu > p > a:hover{
	color:#17B99A;
}
.cat-menu .default-menu > p > a.selected{
	color:#17B99A;
}
.dynamic-list > p.selected{
	color:#17B99A;
}
ul.dynamic-sublist > li:before{
	color:#17B99A;
}
ul.dynamic-sublist > li.selected{
	color:#17B99A;
}
a.level.selected{
	color:#17B99A;
}
/*course*/
.wrap-crtmenu > .menu-list > p.button:hover,
.wrap-crtmenu > .menu-list > p.button.active{
	border-right:7px solid #17B99A;
}
.wrap-crtmenu > .menu-list > p.button:hover a{
	color:#17B99A;
}

.cta .price span.unit{
	color: #17B99A;
}
.cta-social a:hover{
	color: #17B99A;
}

/*--home--*/
.detail-event:hover h3{
	color: #17B99A;
}
.detail-event .duration{
	color: #17B99A;
}
.detail-event-lg:hover h4{
	color: #17B99A;
}
.detail-event-lg .duration{
	color: #17B99A;
}
.about-title h1{
	color: #17B99A;
}
/*teach*/
.join-title{
	color: #17B99A;
	margin: 0px;
}
/*video*/
.btn-wht-transparent:hover,
.btn-blkwht-transparent:active,
.btn-blkwht-transparent:focus{
    color: #17B99A;
}
/*--icon btn-red--*/
ul.section-submenu > li > i.fa-play-circle {
	 color: #17B99A;
}
/*--icon btn-green--*/
ul.section-menu > h4{
	color:#53B949;/*icon-check*/
}
ul.section-submenu > li > i.fa-check-circle{
	 color: #53B949;
}
.curr-vdolist > li.vdolist-check > .round-box.green{
	background: #53B949;
}
.cta ul.other-info li.green{
	color: #b2d234;
}

.btn-play {
  border: 1px solid #f9bf3b;
  background-color: #f9bf3b;
}
.btn-play:hover, .btn-play:active, .btn-play:focus {
  color: #f9bf3b;
}
/*--icon btn yellow--*/
.btn-skip{
        color: #f9bf3b;
        border-color: #f9bf3b;
}
.btn-skip:hover{
        background-color: #f9bf3b;
        border-color: #f9bf3b;
}
.trends-type a{
	color: #f9bf3b;
	border: 1px solid #f9bf3b;
}
.trends-type a.active{
	background-color: #f9bf3b;
}

.trends-type a:hover{
	background-color: #f9bf3b;
}
.curr-vdolist > li.vdolist-check > .round-box.yellow{
	background: #fec11e;
}
.event-type a{
    color: #f9bf3b;
}
.event-type a:hover{
    background-color: #f9bf3b;
}
.event-tags-color a{
    color: #f9bf3b;
}
.event-tags-color a:hover{
    background-color: #f9bf3b;
}
.event-tags a{
    color: #f9bf3b;/*--yellow--*/
}
.event-tags a:hover{
    background-color: #f9bf3b;
}


.bg-category-active
{
	background: #17B99A;
}
.dynamic-list > .expand:hover,.dynamic-list > .expand.active{
	background: #17B99A;
}
.bc-large{
	background: #17B99A;
}

/* Course  */

.cat-menu .default-menu > h4 > a:hover{
	color:#17B99A;
}
.cat-menu .default-menu > h4 > a.selected{
	color:#fff;
	background: #17B99A;
}

.dynamic-list > .expand{
	color:#17B99A;
}

.dynamic-list > p:hover{
	color:#17B99A;
}

.dynamic-list > .expand:hover{
	background: #17B99A;
}

.dynamic-sublist-box{
	border-left: 1px solid #17B99A;
}

ul.dynamic-sublist > li:before{
	color:#17B99A;
}

.dark-red{
    color: #db1c2f !important;
}


body#ClickForClever{
  background-color: #fff;
  padding-top: 88px;
}
body,h1,h2,h3,h4,h5,h6{
  /*font-family: Roboto,arial,sans-serif;*/
}

/*==================Header=======================*/
#header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 87px;
  padding: 0 160px 0 700px;
  border-top: solid 4px #17B99A;
  background-color: #fff;
  box-shadow: 0 1px 2px #cbcbcb;
  z-index: 99;
}
#header .search{
  width: 100%;
  height: 100%;
}
#header .search form, #header .search input{
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
#header .search input{
  padding: 0 40px;
  border: none;
  background: url('/static/images/icon_search.png') no-repeat left center;
	background-size: auto 30%;
  font-size: 18px;
}
#header > ul{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 83px;
	border-right: solid 1px rgba(191,191,191,0.45);
}
#header ul li{
  position: relative;
  display: inline-block;
  height: 100%;
}
#header ul li a{
  display: block;
  height: 100%;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  float: left;
	font-weight: bold;
	font-size: 15px;
  color: rgba(0,0,0,0.55);
}
#header ul li a.selected{
	color: #17B99A;
}
#header ul li a p{
	line-height: 15px;
}
#header ul li a p i.fa.main-color{
	font-size: 20px;
	margin-top: 20px;
}
#header ul li.logo a{
  padding: 10px 10px 0 10px;
}
#header ul li.logo img{
  max-height: 60px;
}
#header ul li.profile{
	padding-top: 5px;
}
#header ul li.profile .avatar{
  width: 40px;
  height: 40px;
}
#header ul.pull-right{
  right: 0;
  left: auto;
  width: auto;
}
#header ul.pull-right li{
  border-left: solid 1px rgba(191,191,191,0.45);
}
#header ul li ul.sub-menu{
  display: none;
  position: absolute;
  top: 83px;
  left: 0;
	width: 220px;
  height: auto;
  overflow-y: auto;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: 1px solid rgba(191,191,191,0.45);
}
#header ul li ul.sub-menu li{
  display: block;
  border: none;
}
#header ul li ul.sub-menu li a, ul.left-menu li a{
  float: none;
  text-align: left;
}
#header ul li ul.sub-menu li a:hover, ul.left-menu li a:hover{
  background-color: #f4f4f4;
}
#header ul li.has-sub-menu:hover ul.sub-menu{
  display: block;
}
#header ul.pull-right li ul.sub-menu{
  right: -5px;
  left: auto;
}
#header ul li.show-mobile, .has-left-menu #header ul li.browse.has-sub-menu:hover ul.sub-menu, #header .btn-close-search{
  display: none;
}
#side-menu-wrapper .main-side-menu .profile, #side-menu-wrapper .secondary-menu .secondary-menu-header{
	background-color: #17B99A;
}
/*==================Video Playlist=======================*/
.vdo-header{
	background: url('/static/clickforclever/images/logo.png') no-repeat #17B99A center center/ auto 80%;
	border-bottom: solid 1px #17B99A;
}
.vdo-header img.logo{
	display:none;
}
.vdo-header .btn-back{
	color:#fff;
}
.vdo-header .btn-back:hover,.vdo-header .btn-back:active,.vdo-header .btn-back:focus{
	background-color: rgba(0,0,0,0.1);
}
.vdo-header .user-name, .vdo-header .caret{
	color:#fff !important;
}
/*=================Responsive=================*/
@media screen and (max-width: 1100px) /*ขนาดจอกว้างไม่เกิน 1200px*/{
	#header{
		padding: 0 160px 0 600px;
	}
	#header ul li a{
		padding: 0 7px;
	}
}
@media screen and (max-width: 991px) /*ขนาดจอกว้างไม่เกิน 767px*/{
	body#ClickForClever{
		padding-top: 59px;
	}
  #header{
    margin: 0 !important;
    padding: 0 !important;
		height: 60px;
  }
  #header > ul{
    border: none !important;
		height: 58px;
  }
  #header ul li a{
    padding: 0 10px !important;
  }
	#header ul li.logo img{
    height: 45px;
  }
	#header .search input{
		background-size: auto 70%;
	}
  #header ul li.show-mobile, #header.open-search ul li.btn-close-search{
    display: inline-block;
  }
  #header.open-search ul li{
    display: none;
  }
  #header.open-search .search{
    display: block !important;
  }
