{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block jquery %}
$('.add-learner').click(function(){
    var type = $(this).attr('type');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:inbox:account_search' inbox.id %}",
        data: {type: type}
    }).done(function( html ) {
        $('#modalSearch-body').html(html);
        $('#modalSearch').modal('show');
    });
    return false;
});

$('body').on('click', '#search-submit', function(){
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:inbox:account_search' inbox.id %}",
        data: $('#form-search').serialize()
    }).done(function(html){
        $('#modalSearch-body').html(html);
    });
    return false;
});

$('body').on('click', '.pagination > li > a', function(e){
  e.preventDefault();
  var self = $(this)
  var page = self.text();
  var data = $('#form-search').serialize()+'&page=' + page
  $.ajax({
  	method: "POST",
  	url: "{% url 'dashboard:inbox:account_search' inbox.id %}",
  	data: data
  }).done(function(html){
	  $('#modalSearch-body').html(html).promise().done(function(){

    });
  });
  return false;
});

$('body').on('click', '.insert-account', function(){
    var tag = $(this);
    var account_id = $(this).attr('account');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:inbox:account_search_add' inbox.id %}",
        dataType: "json",
        data: { account: account_id }
    }).done(function(result) {
        tag.parent().html(result.html);
    });
});

$('body').on('click', '.search-delete-member', function(){
    var tag = $(this);
    var member_id = $(this).attr('member');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:inbox:account_search_delete' inbox.id %}",
	dataType: "json",
        data: { member: member_id }
    }).done(function(result) {
	tag.parent().html(result.html);
    });
    return false;
});

$('body').on('click', '.delete-member', function(){
    var member_id = $(this).attr('member');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:inbox:account_delete' inbox.id %}",
        data: { member: member_id }
    }).done(function(html) {
	$('#account-item').html(html);
    });
    return false;
});

$('#modalSearch').on('hide.bs.modal', function (event) {
    $.ajax({
        method: "GET",
        url: "{% url 'dashboard:inbox:account_delete' inbox.id %}",
    }).done(function(html) {
	$('#account-item').html(html);
    });
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "inbox/dashboard/header.html" %}
  {% include "inbox/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Assign to Learners</strong></h3>
    <ul class="actions">
      {% if inbox.status != 3 %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">
          <i class="zmdi zmdi-plus-circle"></i> Add more learners
        </a>
        <ul class="dropdown-menu dm-icon pull-right">
      	  <li>
      	    <a href="#" class="add-learner" type="one">
      	      <i class="zmdi zmdi-account"></i>
      	      Open Learners List
      	    </a>
          </li>
      	  <li>
      	    <a href="" style="height: 33px;">
      	      <i class="zmdi zmdi-upload"></i>
      	      <label for="importLearnersFile" class="pointer">Import File (*.xls, *.xlsx, *.csv)</label>
              <form action="" method="post" enctype="multipart/form-data" class="hidden">{% csrf_token %}
      		      <input id="importLearnersFile" type="file" name="import" />
              </form>
      	    </a>
      	  </li>
          <li>
            <a href="{% static 'example/directmessage.xls' %}" id="downloadExcelFile">
              <i class="zmdi zmdi-file-text"></i> Download Example Excel File
            </a>
          </li>
        </ul>
      {% endif %}
    </ul>
  </div>
  {% if error %}
  <div class="alert alert-warning" role="alert">
    <strong class="text-black">
      Warning! ระบบ ไม่สามารถ อ่านไฟล์ที่อัพโหลดได้.
    </strong>
  </div>
  {% endif %}
  <div class="card-body card-padding" id="account-item">
    {% include "inbox/dashboard/account_block.html" %}
  </div>
  <hr />
  <div class="card-header text-right">
        <a href="{% url 'dashboard:inbox:message' inbox.id  %}" class="btn bgm-bluegray btn-lg waves-effect">
          Next Step <i class="zmdi zmdi-arrow-right"></i>
        </a>
  </div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="modalSearch-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
