{% load staticfiles %}
<strong>Total: {{ member_list.count }} Learner{{ member_list.count|pluralize }}</strong>
<div class="table-responsive">
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Onboard Date</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_list %}
    <tr {% if member.status == -1 %}class="active"{% endif %}>
      <td>{{ forloop.counter }}</td>
      <td>
        {% if member.account.image %}
        <img src="{{ member.account.image.url }}" class="avatar" />
        {% else %}
        <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
        {% endif %}
      </td>
      <td class="text-left">
        {% if member.status == 1 %}{{ member.account.first_name }} {{ member.account.last_name }}
        {% else %}{{ member.display }}
        {% endif %}
      </td>
      <td>{{ member.account.email }}</td>
      <td>-</td>
      <td>
        <a href="#" class="btn btn-danger btn-sm waves-effec delete-member" member="{{ member.id }}">
          <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">
        <div class="no-item">No learners.</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
