{% load staticfiles %}
{% load assignment_search_tags %}
<h3>Add Learners</h3>
{% include "content/dashboard/filter_block.html" with form_id="form-search" button_id="search-submit" %}
{% if account_list|length > 0 %}
<hr />
<div class="table-responsive text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Full name</th>
                <th>Email</th>
                <th class="text-center">Select</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>
                    {% if account.image %}
                    <img src="{{ account.image.url }}" class="avatar" />
                    {% else %}
                    <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                    {% endif %}
                </td>
        	  	  <td class="text-left">{{ account.get_display }}</td>
                <td>{{ account.email }}</td>
          		  <td class="f-24">{% member_check_tag member_list account.id %}</td>
            </tr>
        		{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="no-item">No Accounts.</div>
{% endif %}
{% include "dashboard/paginator.html" with content_list=account_list %}