{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Direct Message Management</strong></h2>
    <ul class="actions">
      {% if perms.inbox.add_inbox %}
      <li>
        <a href="{% url 'dashboard:inbox:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
    {% if inbox_list|length > 0 %}
    <table class="table table-hover">
      <thead>
	<tr class="text-center">
          <th class="text-left">Subject</th>
          <th>Sender</th>
          <th>Opened/Receivers</th>
	        <th>Status</th>
          <th>Info</th>
	</tr>
      </thead>
      <tbody>
	{% for inbox in inbox_list %}
  	<tr class="text-center">
          <td class="text-left">
             {% if inbox.title %}{{ inbox.title }}{% else %}( No subject ){% endif %}
          </td>
	  <td class="text-center">
	    {{ inbox.account.get_display }}
	  </td>
	  <td class="text-center">
	    {{ inbox.count_read }} / {{ inbox.count_send }}
	  </td>
	  <td class="text-center">
	    {{ inbox.get_status_display }}
	  </td>
	  <td class="text-center">
	    {% if inbox.status == 1 %}
	    <a href="{% url 'dashboard:inbox:summary' inbox.id %}" class="btn bgm-bluegray btn-sm waves-effect">
	      <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
            </a>
	    {% else %}
	    <a href="{% url 'dashboard:inbox:account' inbox.id %}" class="btn bgm-bluegray btn-sm waves-effect">
	      <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
            </a>
	    {% endif %}
	  </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% include "dashboard/paginator.html" with content_list=inbox_list %}
    {% else %}
    <div class="no-item">No direct messages.</div>
    {% endif %}
  </div>
</div>
{% endblock %}
