{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "inbox/dashboard/header.html" %}
  {% include "inbox/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Message</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ inbox_form|bootstrap }}
      <div class="form-group text-right">
	      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save Draft</button>
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="send">Send <i class="zmdi zmdi-arrow-right"></i></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
