{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "inbox/dashboard/header.html" %}
  {% include "inbox/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Assign to Learners</strong></h3>
  </div>
	<div class="card-body card-padding" id="account-item">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-xs-3 c-white bgm-cyan">
					<h5>Send</h5>
					<h2>{{ inbox.count_send }}</h2>
				</div>
				<div class="col-xs-3 c-white bg-completed">
					<h5>Opened</h5>
					<h2>{{ inbox.count_read }}</h2>
				</div>
				<div class="col-xs-3 c-white bgm-teal">
					<h5>Opened Percentage</h5>
					<h2>{{ open|floatformat:0 }} %</h2>
				</div>
				<!-- <div class="col-xs-2 c-white bg-in-progress">
					<h5>Opened Web (Ratio)</h5>
					<h2>{{ open_web|floatformat:0 }}%</h2>
				</div>
				<div class="col-xs-2 c-white bg-in-progress">
					<h5>Opened Mobile (Ratio)</h5>
					<h2>{{ open_mobile|floatformat:0 }}%</h2>
				</div> -->
				<div class="col-xs-3 c-white bg-expired">
					<h5>Not Open</h5>
					<h2>{{ not_open|floatformat:0 }}%</h2>
				</div>
			</div>
		</div>
    <hr/>
    {% include "inbox/dashboard/summary_block.html" %}
  </div>
</div>
{% endblock %}
