{% load staticfiles %}
{% load inbox_read_tags %}
<div class="table-responsive">
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>No.</th>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Open Time</th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_list %}
    <tr {% if member.status == -1 %}class="active"{% endif %}>
      <td>{{ forloop.counter }}</td>
      <td>
        {% if member.account.image %}
        <img src="{{ member.account.image.url }}" class="avatar" />
        {% else %}
        <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
        {% endif %}
      </td>
      <td class="text-left">
        {% if member.status == 1 %}{{ member.account.first_name }} {{ member.account.last_name }}
        {% else %}{{ member.display }}
        {% endif %}
      </td>
      <td>{{ member.account.email }}</td>
      <td>
	{% read_tag member read_list 1 %} (Web)<br/>
	{% read_tag member read_list 2 %} (Mobile)
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">
        <div class="no-item">No learners.</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
