<ul class="tab-nav assignment-steps text-center m-t-10 flex">
  <li {% if TAB == "account" or TAB == "message" or TAB == "summary" %}class="active"{% endif %}>
    <a href="{% if TAB == "account" %}#{% else %}{% url 'dashboard:inbox:account' inbox.id %}{% endif %}">
      <span><strong>1</strong></span><br />Add Learners
    </a>
  </li><li {% if TAB == "message" or TAB == "summary" %}class="active"{% endif %}>
    <a href="{% if TAB == "message" %}#{% else %}{% url 'dashboard:inbox:message' inbox.id %}{% endif %}">
      <span><strong>2</strong></span><br />Message
    </a>
  </li><li {% if TAB == "summary" %}class="active"{% endif %}>
    <a href="{% if TAB == "summary" %}#{% else %}{% url 'dashboard:inbox:summary' inbox.id %}{% endif %}">
      <span><strong>3</strong></span><br />Summary
    </a>
  </li>
</ul>
