{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load static %}

{% block script %}
<script src="{% static 'resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
$('.add-learner').click(function(){
    var type = $(this).attr('type');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_search' assignment.id %}",
        data: {type: type}
    }).done(function( html ) {
        $('#modalSearch').modal('show');
        $('#modalSearch-body').html(html).promise().done(function(){
          setTimeout(function(){
            $('.pagination > li:first-child').addClass('active');
          },500)
        });
    });
    return false;
});

$('body').on('click', '#search-submit', function(){
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_search' assignment.id %}",
        data: $('#form-search').serialize()
    }).done(function(html){
        $('#modalSearch-body').html(html);
    });
    return false;
});

$('body').on('click', '.pagination > li > a', function(e){
  e.preventDefault();
  var self = $(this)
  var page = self.text();
  var data = $('#form-search').serialize()+'&page=' + page
  $.ajax({
  	method: "POST",
  	url: "{% url 'dashboard:assignment:account_search' assignment.id %}",
  	data: data
  }).done(function(html){
	  $('#modalSearch-body').html(html).promise().done(function(){

    });
  });
  return false;
});

$('body').on('click', '.insert-account', function(){
    var tag = $(this);
    var account_id = $(this).attr('account');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_search_add' assignment.id %}",
        dataType: "json",
        data: { account: account_id }
    }).done(function(result) {
        tag.parent().html(result.html);
    });
});

$('body').on('click', '.search-delete-member', function(){
    var tag = $(this);
    var member_id = $(this).attr('member');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_search_delete' assignment.id %}",
	dataType: "json",
        data: { member: member_id }
    }).done(function(result) {
	tag.parent().html(result.html);
    });
    return false;
});

$('body').on('click', '.delete-member', function(){
    var member_id = $(this).attr('member');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_delete' assignment.id %}",
        data: { member: member_id }
    }).done(function(html) {
	$('#account-item').html(html);
    });
    return false;
});

$('body').on('click', '#searchBtn', function(){
  $("li.dep-list").css("background-color", "");
  if($('#searchBox').val() != ''){
    var searchVal = "li.dep-list:contains('" + $('#searchBox').val() + "')";
    $(searchVal).css("background-color","bisque");
  }
});

var selectDeptID;

$('body').on('click', '.dep-list', function(){
  $("li.dep-list").css("background-color", "");
  selectDeptID = $(this).attr('id');
  selectDept = "li.dep-list#" + $(this).attr('id');
  if($('#searchBox').val() != ''){
    var searchVal = "li.dep-list:contains('" + $('#searchBox').val() + "')";
    $(searchVal).css("background-color","bisque");
  }
  $(selectDept).css("background-color","burlywood");
  $('#department-selected').click();
  $('#department-selected').text('Department : ' + $(this).attr('value'));
});


$('#modalSearch').on('hide.bs.modal', function (event) {
    $.ajax({
        method: "GET",
        url: "{% url 'dashboard:assignment:account_delete' assignment.id %}",
    }).done(function(html) {
	$('#account-item').html(html);
  $('#modalSearch .btn-close').show();
  $('#modalSearch .btn-select').hide();
    });
});

$('.add-by-department').click(function(){
    var type = $(this).attr('type');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:department_search' assignment.id %}",
        data: {type: type}
    }).done(function(results) {
        console.log(results);
        var html = '';
        html += '<h2>Add by department</h2>';
        html += '<div style="text-align: right; padding-bottom: 10px;"><input type="search" placeholder="Search Department" class="form-control" id="searchBox" style="display: inline-block; width:275px;"></input><button id="searchBtn" class="btn" style="height: 40px; margin-left: 5px;">Search</button></div>';
        html += '<div class="dropdown"><button class="btn bgm-bluegray dropdown-toggle" type="button" data-toggle="dropdown" style"padding:10px 30px;" id="department-selected">Select Department<span class="caret"></span></button><ul class="dropdown-menu" style="padding-bottom:50px;">'
        //html += '<div class="actionBar"><div class="fg-line"><div class="select"><select class="form-control" id="department-selected">';
        //html += '<option value="-1">Select Department</option>';

        function getDepartmentList (arr, hierarchy) {
          $.each(arr, function(i, e){
            //html += '<option value="' + e.id + '">';
            html += '<li class="dep-list" id="' + e.id + '" value="' + e.name + '"><a href="#">';
            for(var i=0; i<hierarchy; i++){
              html += ' - - ';
            }
            html += e.name + '</a></li>';
            //html += e.name + '</option>';
            if(e.child_list.length > 0) {
              getDepartmentList (e.child_list, hierarchy+1)
            }
          });
        }

        getDepartmentList (results.department_list, 0)

        html += '</ul></div></div></div><div class="error-select-department text-red m-t-20" style="display:none">Please select a department.</div>';
        <!-- html += '</select></div></div></div><div class="error-select-department text-red m-t-20" style="display:none">Please select a department.</div>'; -->
        $('#modalSearch-body').html(html).promise().done(function(){
          $('#modalSearch').modal('show');
          $('#modalSearch .btn-close').hide();
          $('#modalSearch .btn-select').show();
        });
    });
    return false;
});

$('body').on('click', '#modalSearch .btn-select', function(){
    var department_id = selectDeptID;
    //var department_id = $('#department-selected').val();
    if(department_id == -1) {
      $('.error-select-department').fadeIn();
    }else{
      $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:department_search_add' assignment.id %}",
        data: {'department_id': department_id}
      }).done(function(html) {
  	    window.location.reload();
      });
    }
    return false;
});


$('.add-learner-by-department').click(function(){
    var type = $(this).attr('type');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:account_department' assignment.id %}",
        data: {type: type}
    }).done(function( html ) {
        $('#modalSearch-body').html(html);
        $('#modalSearch').modal('show');
    });
    return false;
});

checkAlert();
var is_upload = false;
{% if alert %}
var alert_id = {{ alert.id }};
{% else %}
var alert_id = null;
{% endif %}
var alertInterval = setInterval(checkAlert, 10000);
function checkAlert() {
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'assignment' assignment.id %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alert_id == null && result.status == 1){
	    alert_id = result.id
	}else if(is_upload && (result.status == 2 || result.status == -1)){
	    location.reload();
	}
    });
}

var r = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'assignment' assignment.id %}',
    simultaneousUploads: 1,
    maxFiles: 1
});

r.assignBrowse(document.getElementsByClassName('resumable'));
r.on('fileAdded', function(file, event){
  var fileType = file.file.name.substr(file.file.name.length-4);
  console.log(fileType);
  if ((['.xls','xlsx','.csv'].indexOf(fileType) == -1) ) {
    swal('Error', 'Please upload only excel file', 'error');
  } else {
    $('#upload-progress').show();
    r.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
  }
});
r.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
});
r.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    is_upload = true;
    checkAlert();
});
{% endblock %}

{% block content %}
<div id="preLoader" class="preloader pls-gray w30" style="float: right; display:none;">
  <svg class="pl-circular" viewBox="25 25 50 50">
    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
  </svg>
</div>
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment/dashboard/assignment_head.html" %}
  {% include "assignment/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Assign to Learners</strong></h3>
    <ul class="actions">
      {% if assignment.status != 3 %}
      <li class="dropdown" id="dropdownMenu">
        <a href="#" data-toggle="dropdown">
          <i class="zmdi zmdi-plus-circle"></i> Add more learners
        </a>
        <ul class="dropdown-menu dm-icon pull-right">
	        {% include "assignment/dashboard/assign_learner_menu.html" %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
    {% if alert and alert.status == -1 %}
    <div class="alert alert-warning" role="alert">
        <strong class="text-black">
            Warning! ระบบ ไม่สามารถ อ่านไฟล์ที่อัพโหลดได้.
        </strong>
    </div>
    {% endif %}
  {% if error %}
  <div class="alert alert-warning" role="alert">
    <strong class="text-black">
      Warning! ระบบ ไม่สามารถ อ่านไฟล์ที่อัพโหลดได้.
    </strong>
  </div>
  {% endif %}
  <div class="card-body card-padding" id="account-item">
    {% include "assignment/dashboard/account_block.html" %}
  </div>
  <hr />
  <div class="card-header">
    <div class="row">
      <div class="col-xs-6">
        <a href="{% url 'dashboard:assignment:content' assignment.id %}" class="btn bgm-bluegray btn-lg waves-effect"><i class="zmdi zmdi-arrow-left"></i> Previous</a>
      </div>
      <div class="col-xs-6 text-right">
        {% if assignment.status != 3 %}
        <a href="{% url 'dashboard:assignment:account_submit' assignment.id  %}" class="btn bgm-bluegray btn-lg waves-effect">
          Submit & Next Step <i class="zmdi zmdi-arrow-right"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
{% include "dependency/dashboard/modal/search.html" %}
{% endblock %}
