{% load staticfiles %}
{% load department_tags %}
<strong>Total: {{ member_list.count }} Learner</strong>
<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>No.</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        {% if IS_ONBOARD %}<th>Onboard Date</th>{% endif %}
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for member in member_list %}
      <tr {% if member.status == -1 %}class="active"{% endif %}>
        <td>{{ forloop.counter }}</td>
        <td>
          {% if member.account.image %}
          <img src="{{ member.account.image.url }}" class="avatar" />
          {% else %}
          <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
          {% endif %}
        </td>
        <td class="text-left">
          {% if member.status == 1 %}{{ member.account.get_display }}
          {% else %}{{ member.display }}
          {% endif %}
        </td>
        <td>{{ member.account.email }}</td>
        <td>
          {% for department_member in member.account.department_member_set.all %}
          {{ department_member.department_id|department_name_tag|capfirst }} {% if department_member.position %}{{ department_member.position }}{% endif %}{% if not forloop.last %}<br/>{% endif %}
          {% empty %}-{% endfor %}
        </td>
        {% if IS_ONBOARD %}<td>-</td>{% endif %}
        <td>
          <a href="#" class="btn btn-danger btn-sm waves-effec delete-member" member="{{ member.id }}">
            <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="12">
          <div class="no-item">No learners.</div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
