{% load static %}
<li>
  <a href="#" class="add-learner" type="one">
    <i class="zmdi zmdi-account"></i> Open Learners List
  </a>
</li>

{% if perms.assignment.view_assignment %}
<li>
  <a href="#" class="add-by-department" type="two">
    <i class="zmdi zmdi-city"></i> Select by department
  </a>
</li>
{% endif %}

<li>
  <a href="#f" class="resumable">
    <i class="zmdi zmdi-upload"></i>
    <label for="importLearnersFile" class="pointer">Import File (*.xls, *.xlsx, *.csv)</label>
    <!--OLD Form change to resumable
    <form action="" method="post" enctype="multipart/form-data" class="hidden">{% csrf_token %}
      <input id="importLearnersFile" type="file" name="import" />
    </form>-->
  </a>
</li>

<li>
  <a href="{% static 'example/assignment.xls' %}" id="downloadExcelFile">
    <i class="zmdi zmdi-file-text"></i> Download Example Excel File
  </a>
</li>
