{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block jquery %}
$('.add-content').click(function(){
    var type = $(this).attr('type');
    $.ajax({
	    method: "POST",
	    url: "{% url 'dashboard:assignment:content_search' assignment.id %}",
	    data: {type: type}
    }).done(function(html) {
      console.log(html);
      $('#modalSearch').modal('show');
	    $('#modalSearch-body').html(html).promise().done(function(){
        setTimeout(function(){
          $('.pagination > li:first-child').addClass('active');
        },500)
      });
    });
    return false;
});

$('body').on('click', '#search-submit', function(){
    $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:assignment:content_search' assignment.id %}",
    	data: $('#form-search').serialize()
    }).done(function(html){
	    $('#modalSearch-body').html(html);
    });
    return false;
});

$('body').on('click', '.pagination > li > a', function(e){
  e.preventDefault();
  var self = $(this)
  var page = self.text();
  var data = $('#form-search').serialize()+'&page=' + page
  $.ajax({
  	method: "POST",
  	url: "{% url 'dashboard:assignment:content_search' assignment.id %}",
  	data: data
  }).done(function(html){
	  $('#modalSearch-body').html(html).promise().done(function(){

    });
  });
  return false;
});

$('body').on('click', '.insert-content', function(){
    var tag = $(this);
    var content_id = $(this).attr('content');
    var type_id = $(this).attr('type')
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:assignment:content_search_add' assignment.id %}",
	dataType: "json",
	data: { content: content_id, type: type_id }
    }).done(function(result) {
	tag.parent().html(result.html);
    });
});

$('body').on('click', '.search-delete-item', function(){
    var tag = $(this);
    var item_id = $(this).attr('item');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:content_search_delete' assignment.id %}",
	dataType: "json",
        data: { item: item_id }
    }).done(function(result) {
        tag.parent().html(result.html);
    });
    return false;
});

$('body').on('click', '.delete-item', function(){
    var item_id = $(this).attr('item');
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:assignment:content_delete' assignment.id %}",
        data: { item: item_id }
    }).done(function(html) {
        $('#content-item').html(html);
    });
    return false;
});

$('#modalSearch').on('hide.bs.modal', function (event) {
    $.ajax({
        method: "GET",
        url: "{% url 'dashboard:assignment:content_delete' assignment.id %}",
    }).done(function(html) {
        $('#content-item').html(html);
    });
});
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment/dashboard/assignment_head.html" %}
  {% include "assignment/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Items to Assign</strong></h3>
    <ul class="actions">
      {% if assignment.status != 3 %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">
          <i class="zmdi zmdi-plus-circle"></i> Add more items
        </a>
        <ul class="dropdown-menu dm-icon pull-right">
	    {% include "assignment/dashboard/content_menu.html" %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding" id="content-item">
    {% if item_list|length != 0 %}
    {% include "assignment/dashboard/content_block.html" %}
    {%  else %}
    <div class="text-center start-select-item">
      <h3>Select an item type</h3>
      <ul class="list-unstyled">
        {% include "assignment/dashboard/content_menu.html" %}
      </ul>
    </div>
    {% endif %}
  </div>
  <hr />
  <div class="card-header text-right">
    <a href="{% url 'dashboard:assignment:account' assignment.id %}" class="btn bgm-bluegray btn-lg waves-effect">Next Step: Add Learners <i class="zmdi zmdi-arrow-right"></i></a>
  </div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body" id="modalSearch-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
