{% load static %}
{% load assignment_search_tags %}

<h3>{{ title }}</h3>
{% include "content/dashboard/filter_block.html" with form_id="form-search" button_id="search-submit" %}
<hr />
{% if content_list|length > 0 %}
<div class="table-responsive text-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Category</th>
        <th>Learning Center</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
        {% for content in content_list %}
      <tr>
        <td>
          {% if content.image %}
          <img src="{{ content.image.url }}" /> {% else %}
          <img src="{% static 'images/default-pic-square.png' %}" /> {% endif %}
        </td>
        <td>{{ content.name }}</td>
        <td>{% if content.category %}{{ content.category.name }}{% else %}-{% endif %}</td>
        <td>{% if content.provider %}{{ content.provider.name }}{% else %}-{% endif %}</td>
        <td class="f-24">{% content_check_tag item_list content.id content_type %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="no-item">No items.</div>
{% endif %}
{% include "dashboard/paginator.html" with content_list=content_list %}
