{% load static %}
{% load content_tags %}

<strong>Total: {{ item_list.count }} items</strong>
<div class="table-responsive">
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>No.</th>
      <th>Cover</th>
      <th>Name</th>
      <th>Type</th>
      <th>Learning Center</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item_list %}
    {% get_content_tag item.content_type_id item.content as content %}
    <tr id='block'>
      <td>{{ forloop.counter }}</td>
      <td>
        {% if content.image %}
        <img src="{{ content.image.url }}" />
        {% else %}
  	<img src="{% static 'images/default-pic-square.png' %}" />
        {% endif %}
      </td>
      <td class="text-left">{{ content.name }}</td>
      <td>{{ content.name|capfirst }}</td>
      <td>{% if content.provider %}{{ content.provider.name }}{% else %}-{% endif %}</td>
      <td>
        <a href="#" class="btn btn-danger btn-sm waves-effec delete-item" item="{{ item.id }}">
          <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" >
        <div class="no-item">No items.</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
