<li>
  <a href="#" class="add-content" type="course">
    <i class="zmdi zmdi-collection-bookmark"></i> Add Courses
  </a>
</li>
<li>
  <a href="#" class="add-content" type="question">
    <i class="zmdi zmdi-assignment-o"></i> Add Tests
  </a>
</li>
<li>
  <a href="#" class="add-content" type="program">
    <i class="zmdi zmdi-storage"></i> Add Programs
  </a>
</li>
{% if IS_ONBOARD and perms.assignment.view_assignment %}
<li>
  <a href="#" class="add-content" type="onboard">
    <i class="zmdi zmdi-collection-text"></i> Add Onboardings
  </a>
</li>
{% endif %}
