{% load static %}
{% load assignment_search_tags %}
{% load department_tags %}

<h3>Add Learners by department</h3>

{% if department_list|length > 0 %}
<div class="table-responsive text-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Department</th>
        <th class="text-center">Select</th>
      </tr>
    </thead>
    <tbody>
      {% for department in department_list %}
      <tr>
        <td>{{ department.id }}</td>
        <td>{{ department.name|capfirst }}</td>
        <td class="f-24"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="no-item">No department.</div>
{% endif %}
