{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Assignment Management</strong></h2>
    <ul class="actions">
      {% if perms.assignment.add_assignment %}
      <li>
        <a href="{% url 'dashboard:assignment:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% comment %}
      <li>
        <a href="{% url 'dashboard:assignment_auto:home' %}">
          <i class="zmdi zmdi-plus-circle"></i> Auto Assignment
        </a>
      </li>
      {% endcomment %}
      {% endif %}
    </ul>
  </div>
  {% comment %}
  <div class="card-header">
    <ul class="actions">
      <li>
        <form class="filter_status" action="" method="post">{% csrf_token %}
          <div class="actionBar">
            <div class="fg-line">
              <div class="select" style="margin-top:8px;">
                <select class="form-control" name="status">
                  <option value="-1">All Status</option>
                  {% for status in status_list %}
                  <option value="{{ status.id }}" {% if status.id == q_status %}selected{% endif %}>{{ status.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </form>
      </li>
      <form action="" class="hidden-xs" method="get" style="display:inline-flex;">{% csrf_token %}
        <li style="width: 160px;">
          <div class="input-group form-group">
            <span class="input-group-addon">FROM</span>
            <div class="fg-line">
    	      <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ start|date:"d/m/Y" }}" name="start" id="start">
    	    </div>
          </div>
        </li>
        <li style="width: 160px;">
          <div class="input-group form-group">
    	    <span class="input-group-addon">TO</span>
            <div class="fg-line">
              <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ end|date:"d/m/Y" }}" name="end" id="end">
            </div>
          </div>
        </li>
        <li>
          <div class="input-group form-group">
            <button type="submit" class="btn bgm-bluegray btn-sm m-t-5 waves-effect">OK</button>
          </div>
        </li>
      </form>
    </ul>

  </div>
  <br />
  {% endcomment %}
  <div class="card-body card-padding">
    <div class="table-responsive">
      {% if assignment_list|length > 0 %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Created Time</th>
            <th class="text-center">Photo</th>
            <th class="text-center">Administrator</th>
            <th class="text-center">Content</th>
            <th class="text-center">Learners</th>
            <th class="text-center">Status</th>
            <th class="text-center">Info</th>
            {#<th>Progress</th>#}
      	    {% if perms.assignment.delete_assignment %}
            <th class="text-center">Delete</th>
      	    {% endif %}
          </tr>
        </thead>
        <tbody>
    	  {% for assignment in assignment_list %}
      	  <tr class="text-center">
    	    <td>{{ forloop.counter }}</td>
            <td>{{ assignment.timestamp }}</td>
            <td>
              {% if assignment.account.image %}<img src="{{ assignment.account.image.url }}" class="avatar" />
              {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
              {% endif %}
            </td>
            <td>{{ assignment.account }}</td>
            <td>{{ assignment.item_set.count }}</td>
            <td>{{ assignment.get_member_count }}</td>
            <td>{{ assignment.get_status_display }}</td>
            <td>
    	      {% if assignment.status == 3 %}
              <a href="{% url 'dashboard:assignment:summary' assignment.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
    	      {% elif assignment.status == 4 %}
              <a href="{% url 'dashboard:assignment:preview' assignment.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
    	      {% else %}
              <a href="{% url 'dashboard:assignment:content' assignment.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
    	      {% endif %}
            </td>
            {% comment %}
            <td>
              <a href="{% url 'dashboard:progress:assignment_account' assignment.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-chart zmdi-hc-fw"></i>
              </a>
            </td>
            {% endcomment %}
      	    {% if perms.assignment.delete_assignment %}
            <td>
              <a href="{% url 'dashboard:assignment:delete' assignment.id %}" class="btn btn-danger btn-sm waves-effect" onclick="return confirm('Are you sure?')">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
              </a>
            </td>
      	    {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=provider_list %}
      {% else %}
      <div class="no-item">No assignments.</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
