{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load assignment_search_tags %}

{% block css %}
<style>
.item-action i{
  font-size: 24px;
}
</style>
{% endblock %}

{% block jquery %}
    $('body').on('change', '.status', function(){
        var tag = $(this);
        var result_id = $(this).attr('result');
        $.ajax({
          	method: "POST",
          	url: "{% url 'dashboard:assignment:preview_change' assignment.id %}",
          	dataType: "json",
          	data: {
                result: result_id,
	              status: $(this).val()
            }
        }).done(function(result) {
	          tag.parent().html(result.html);
        });
    });
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment/dashboard/assignment_head.html" %}
  {% include "assignment/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Preview</strong></h3>
  </div>
  <div class="card-body card-padding" id="account-item">
    <strong>Total: {{ member_list.count }} Learner with {{ item_list.count }} Item</strong>
    <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
	<tr>
          <th>No.</th>
          <th class="text-left">Learner</th>
          <th>Department</th>
          <th>Direct Manager</th>
          {% for item in item_list %}
          <th>Item {{ forloop.counter }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
	{% for member in member_list %}
	<tr>
          <td>{{ forloop.counter }}</td>
          <td class="text-left">
            {% if member.account.image %}
            <img src="{{ member.account.image.url }}" class="avatar" />
            {% else %}
            <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
            {% endif %}
            {{ member.account.first_name }} {{ member.account.last_name }}
          </td>
          <td>{{ member.account.get_department_display }}</td>
          <td>{{ member.account.get_direct_manager_display }}</td>
          {% for item in item_list %}
          <td class="item-action">{% preview_check_tag member item result_list %}</td>
          {% endfor %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No Previews.</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  {% if assignment.status != 3 %}
  <hr />
  <form action="" method="post">{% csrf_token %}
    <div class="card-body card-padding">
      <div class="radio">
        <label>
          <input type="radio" name="expired" value="content" {% if assignment.expired_date == None and assignment.expired.total_seconds == 0 %}checked{% endif %} />
          <i class="input-helper"></i> Use content Expired
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="expired" value="date" {% if assignment.expired_date != None %}checked{% endif %} />
          <i class="input-helper"></i> Expired Date
        </label>
      </div>

      <div class="input-group form-group">
	<div class="dtp-container dropdown fg-line">
	  <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ assignment.expired_date|date:"d/m/Y" }}" name="expired_date">
	</div>
      </div>
    </div>

    <div class="card-body card-padding">
      <div class="radio">
        <label>
          <input type="radio" name="expired" value="duration" {% if assignment.expired.total_seconds > 0 %}checked{% endif %} />
          <i class="input-helper"></i> Expired Duration
        </label>
      </div>

      <div class="form-group fg-line">
	<label>Day</label>
	<input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ assignment.expired.days }}" name="duration-day">
      </div>
      <div class="form-group fg-line">
	<label>Hour</label>
	<input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ assignment.get_expired_hour }}" name="duration-hour">
      </div>
      <div class="form-group fg-line">
	<label>Minute</label>
	<input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ assignment.get_expired_minute }}" name="duration-minute">
      </div>
    </div>
    <div class="card-header text-right">
      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">
       Save Draft
      </button>
      <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="submit">
	     Confirm <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
