{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load assignment_search_tags %}

{% block css %}
<style>
.item-action i{
  font-size: 24px;
}
.text-grey {
  font-weight: bold;
  color: #5b5b5b;
}
.font-24 {
  font-size: 24px;
}
.font-18 {
  font-size: 18px;
}
</style>
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment/dashboard/assignment_head.html" %}
  {% include "assignment/dashboard/tab.html" %}
  <div class="card-body card-padding" id="account-item">
    <div class="text-center p-20">
      <img src="{% static 'images/spinner.svg' %}" />
      <div class="text-grey font-24" id="percent"></div>
      <div class="text-grey font-24">Loading</div>
      <div class="text-grey font-18 m-t-10 m-b-20">Don't close this page</div>
    </div>
  </div>
</div>
{% endblock %}

{% block jquery %}
    $(function() {
    function checkStatus() {
        $.getJSON( "{% url 'dashboard:assignment:status' assignment.id %}" )
        .done(function( json ) {
          $('#percent').text(json.progress + '%');
          if(json.assignment_status == 3){
            window.location = "{% url 'dashboard:assignment:summary' assignment.id %}";
            console.log('success');
          }
        })
        .fail(function( jqxhr, textStatus, error ) {
            console.log('Fail')
        });
    }
    setInterval(checkStatus, 1000);
    });

{% endblock %}
