{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load assignment_search_tags %}
{% load department_tags %}
{% load content_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "assignment/dashboard/assignment_head.html" %}
  {% include "assignment/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Summary</strong></h3>
  </div>
  <div class="card-body card-padding">
    {% if assignment.expired or assignment.expired_date %}
    <strong>Expired Setting</strong><br/><br/>
    <ul class="list-unstyled">
      {% if assignment.expired_date %}<li>Expired in : {{ assignment.expired_date }}</li>{% endif %}
      {% if assignment.expired %}<li>Expired Duration : {{ assignment.expired }}</li>{% endif %}
    </ul>
    {% endif %}
    <br>
    <strong>Total Items: {{ item_list.count }} Item{{ item_list.count|pluralize }}</strong>
    <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th>Cover</th>
          <th>Name</th>
          <th>Type</th>
          <th>Learning Center</th>
        </tr>
      </thead>
      <tbody>
        {% for item in item_list %}
	{% get_content_tag item.content_type_id item.content as content %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {% if content.image %}
            <img src="{{ content.image.url }}" />
            {% else %}
    	    <img src="{% static 'images/default-pic-square.png' %}" />
            {% endif %}
          </td>
          <td>{{ content.name }}</td>
          <td>{{ content.name|capfirst }}</td>
          <td>{% if content.provider %}{{ content.provider.name }}{% else %}-{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">
            <div class="no-item">No items.</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card-body card-padding">
    <strong>Total Learners: {{ member_list.count }} Learner{{ member_list.count|pluralize }}</strong>
    <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th class="text-left">Learner</th>
          <th>Department</th>
          {% for item in item_list %}
          <th>Item {{ forloop.counter }}</th>
          {% endfor %}
          {% if perms.assignment.delete_assignment %}
          <th class="text-center">Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for member in member_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td class="text-left">
            {% if member.account.image %}
            <img src="{{ member.account.image.url }}" class="avatar" />
            {% else %}
            <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
            {% endif %}
            {{ member.account.first_name }} {{ member.account.last_name }}
          </td>
          <td>
            {{ member.account.get_department_display }}
          </td>
          {% for item in item_list %}
          <td class="f-24">{% result_check_tag member item result_list %}</td>
          {% endfor %}
          {% if perms.assignment.delete_assignment %}
          <td>
            <a href="{% url 'dashboard:assignment:summary_delete' assignment.id member.id %}" class="btn btn-danger btn-sm waves-effect" onclick="return confirm('Are you sure?')">
              <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
            </a>
          </td>
          {% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">
            <div class="no-item">No summaries.</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}
