<ul class="tab-nav assignment-steps text-center m-t-10 flex">
    <li {% if TAB == "content" or  TAB == "account" or  TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href="{% if TAB == "content" %}#{% else %}{% url 'dashboard:assignment:content' assignment.id %}{% endif %}">
            <span><strong>1</strong></span><br />Add Items
        </a>
    </li><li {% if TAB == "account" or  TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href="{% if TAB == "account" %}#{% else %}{% url 'dashboard:assignment:account' assignment.id %}{% endif %}">
            <span><strong>2</strong></span><br />Add Learners
        </a>
    </li><li {% if TAB == "preview" or TAB == "summary" %}class="active"{% endif %}>
        <a href="{% if TAB == "preview" and assignment.status != 4 %}#{% else %}{% url 'dashboard:assignment:preview' assignment.id %}{% endif %}">
            <span><strong>3</strong></span><br />Preview
        </a>
    </li><li {% if TAB == "summary" %}class="active"{% endif %}>
        <a href="{% if TAB == "summary" and assignment.status != 3 %}#{% else %}{% url 'dashboard:assignment:summary' assignment.id %}{% endif %}">
            <span><strong>4</strong></span><br />Summary
        </a>
    </li>
</ul>
