{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
<link href="{% static "css/mpay.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/plugin/nprogress/nprogress.css" %}">
{% endblock %}
{% block footerscript %}
<script src="{% static "js/mpay.js" %}"></script>
{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="container">
  <div class="featured-title">
  </div>
</div>
<div class="container clearfix">
  <div class="card-box">
    {% if result != None %}
    <div class="alert alert-danger" role="alert">{{ result }}</div>
    {% endif %}
    <div class="row">
      <p class="text-center">
        <img class="mpay-logo" src="{% static 'images/payment_ais.jpg' %}" alt=""><br>
        <img style="display:none;" src="{% static 'images/loading-bullet.gif' %}" alt="" id="loading-bullet">
      </p>

      <div class="col-lg-3">
       <div class="input-group">
         ใส่เบอร์โทรศัพท์ AIS :
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
     <div class="col-lg-9">
       <form id="request-submit" aciton="" method="post">{% csrf_token %}
         <div class="input-group">
           <input type="text" name="tel" class="form-control" placeholder="เบอร์โทรศัพท์ 10 หลัก" required>
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit">Send</button>
             <span ><img class="button-loading" src="{% static "images/loading-sm.gif" %}" ></span>
           </span>
         </div><!-- /input-group -->
       </form>
     </div><!-- /.col-lg-6 -->
   </div><!-- /.row -->
 </div>
 <br>
</div>
{% endblock %}
