{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
<link href="{% static "css/mpay.css" %}" rel="stylesheet">
{% endblock %}
{% block footer %}{% endblock %}
{% block footerscript %}
<script src="{% static "js/mpay.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="featured-title">
  </div>
</div>
<div class="container clearfix">
  <div class="card-box">
    {% if result != None %}
    <div class="alert alert-danger" role="alert">{{ result }}</div>
    {% endif %}
    <p class="text-center">
      <img class="mpay-logo" src="{% static 'images/payment_ais.jpg' %}" alt=""><br>
      <img style="display:none;" src="{% static 'images/loading-bullet.gif' %}" alt="" id="loading-bullet">
      <img class="captcha" src="{{ reserve_volume.captcha_url }}">
      <p id="error-message" class="red" style="display:none;">กรุณาลองโหลดหน้านี้ใหม่อีกครั้ง</p>
    </p>

   <div class="row">
    <div class="col-lg-3">
     <div class="input-group">
       ตัวเลขที่เห็นในภาพ :
     </div><!-- /input-group -->
   </div><!-- /.col-lg-6 -->
   <div class="col-lg-9">
     <form id="request-submit" aciton="" method="post">{% csrf_token %}
       <div class="input-group">
         <input type="text" name="captcha" class="form-control" placeholder="Captcha" required>
         <span class="input-group-btn">
           <button class="btn btn-default" type="submit">Send</button>
         </span>
       </div><!-- /input-group -->
     </form>
   </div><!-- /.col-lg-6 -->
 </div><!-- /.row -->
</div>
<br>
</div>
{% endblock %}
