{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
<link href="{% static "css/mpay.css" %}" rel="stylesheet">
{% endblock %}

{% block footerscript %}
<script src="{% static "js/mpay.js" %}"></script>
{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="container">
  <div class="featured-title">

  </div>
</div>
<div class="container clearfix">
  <div class="card-box">
    {% if result != None %}
    <div class="alert alert-danger" role="alert">{{ result }}</div>
    {% endif %}
    <p class="text-center">
      <img class="mpay-logo" src="{% static 'images/payment_ais.jpg' %}" alt=""><br>
      <img style="display:none;" src="{% static 'images/loading-bullet.gif' %}" alt="" id="loading-bullet">
    </p>
   <div class="row">
      <div class="col-lg-3">
       <div class="input-group">
         เบอร์โทรศัพท์ :
       </div>
     </div>
     <div class="col-lg-9">
      <div class="input-group">
         {{otp_request.tel_input}}
       </div>
     </div>
   </div>
    <div class="row">
      <div class="col-lg-3">
       <div class="input-group">
         ใส่รหัส OTP ที่ได้จาก SMS :
       </div>
     </div>
     <div class="col-lg-9">
       <form id="request-submit" aciton="" method="post">{% csrf_token %}
         <div class="input-group">
           <input type="text" name="otp" class="form-control" placeholder="OTP" required>
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit">Send</button>
           </span>
         </div>
       </form>
     </div>
   </div>

 </div>
 <br>
</div>
{% endblock %}
