{% load staticfiles %}
<div class="modal fade" id="confirm_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
	<h3 class="red">ได้รับยืนยันการโอนเงินแล้ว</h3>
      </div>
      <div class="modal-body">
	<h3>ทางทีมงานโคโค่เดมี่ได้รับข้อมูลการยืนยันแล้ว</h3>
	<p>
	  โดยทีมงานโคโค่เดมี่จะทำการตรวจสอบหลักฐานการโอนเงินของคุณ<br>
	  และหากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า
	  <a href="{% url 'profile' %}">My Library</a> ภายใน 1 วัน (จ.-ศ.)<br>
	  คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ<br>
	  <br>
	  <br>
	  หากไม่พบคอร์สในหน้า <a href="{% url 'profile' %}">My Library</a> กรุณาติดต่อ<br>
	  <!-- 0-2077-2868<br> -->
	  <a href="">contact@conicle.com</a>
	</p>
	<p class="text-center">
	  <a href="{% url 'order:history' %}" class="btn btn-blue" type="button" class="close">ตกลง</a>
	</p>
      </div>
      <div class="modal-footer">
	<p class="small text-left">
	  สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">contact@conicle.com</a><br>
	  Copy rights Conicle Co.,Ltd.
	</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
