<div class="panel-info">
  <h3 class="grey">ข้อมูลการสั่งซื้อของคุณ</h3>
  <p><b>ชื่อ - สกุล : </b><span>{{ user.first_name }} {{ user.last_name }}</span></p>
  <p><b>Email : </b><span>{{ user.email }}</span></p>
  <p><b>Order ID : </b><span>{{ order.id }}</span></p>
  <p><b>วันที่สั่งซื้อ : </b><span>{{ order.timestamp }}</span></p>
  <p><b style="color:red;">**กรุณาโอนเงินค่าคอร์สภายใน 7 วัน หลังจากทำการสั่งซื้อ</b><span></span></p>
</div>