{% load staticfiles %}
<div class="panel-info">
      <h3 class="grey">ข้อมูลการโอนเงิน</h3>
      <h4 class="">กรุณาโอนเงินตามจำนวนราคาคอร์ส มาที่เลขที่บัญชีตามข้อมูลด้านล่างนี้</h4>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-scb.png" %}">
            </div>
            <div class="col-xs-9 col-md-9">
              <b>ธนาคารไทยพาณิชย์</b><br>
              <span>บจก. โคนิเคิล</span><br>
              <span>เลขที่ 405-294927-0</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-xs-3 ">
              <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-bbl.png" %}">
            </div>
            <div class="col-xs-9 ">
              <b>ธนาคารกรุงเทพ</b><br>
              <span>บจก. โคนิเคิล</span><br>
              <span>เลขที่ 021-039432-6</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-kbank.png" %}">
            </div>
            <div class="col-xs-9 col-md-9">
              <b>ธนาคารกสิกรไทย</b><br>
              <span>บจก. โคนิเคิล</span><br>
              <span>เลขที่ 097-2-75805-1</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-xs-3 ">
              <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-bay.png" %}">
            </div>
            <div class="col-xs-9 ">
              <b>ธนาคารกรุงศรี</b><br>
              <span>บจก. โคนิเคิล</span><br>
              <span>เลขที่ 013-1-57331-9</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-xs-3 ">
              <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-ktb.png" %}">
            </div>
            <div class="col-xs-9 ">
              <b>ธนาคารกรุงไทย</b><br>
              <span>บริษัท โคนิเคิล จำกัด</span><br>
              <span>เลขที่ 983-3-90148-4</span>
            </div>
          </div>
        </div>
      </div>
    </div>