<html>
<head>
	{% comment %}
	<script>
	(function() {
		var _fbq = window._fbq || (window._fbq = []);
		if (!_fbq.loaded) {
			var fbds = document.createElement('script');
			fbds.async = true;
			fbds.src = '//connect.facebook.net/en_US/fbds.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(fbds, s);
			_fbq.loaded = true;
		}
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '{{FB_PIXEL_ID}}', {'value':'{{order.net}}','currency':'THB'}]);
	</script>
	<noscript>
		<img height="1" width="1" alt="" style="display:none"
		src="https://www.facebook.com/tr?ev={{FB_PIXEL_ID}}&amp;cd[value]={{order.net}}&amp;cd[currency]=THB&amp;noscript=1"/>
	</noscript>
	{% endcomment %}

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','//connect.facebook.net/en_US/fbevents.js');

	fbq('init', '{{FB_PIXEL_ID}}');
	fbq('track', "PageView");
	fbq('track', 'Purchase', {value: '{{order.net}}', currency: 'THB'});
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id={{FB_PIXEL_ID}}&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
</head>
<body>
	<h1>Bank Transfer of Order id : {{order.id}} has Approved</h1>
</body>
</html>