<div class="panel-info">
  <h3 class="grey">ยืนยันการโอนเงิน</h3>
  <div class="col-xs-6">
    <b>กรอกแบบฟอร์มยืนยันการโอนเงิน</b>
  </div>        
  <div class="col-xs-6">
    <a class="btn btn-blue" href="" data-target="#confirm" data-toggle="modal">ยืนยันการโอนเงิน </a>
  </div> 
</div>