<div class="panel-info">
  <h3 class="grey">วิธีการชำระเงินด้วยการโอนเงิน</h3>
  <ol>
    <li>คำสั่งซื้อของคุณ (Order) ของคุณจะอยู่ที่หน้า <a href="{% url 'order:history' %}">My Orders</a> (กดที่ชื่อของคุณที่อยู่ด้านบน Header จะปรากฎ Menu ออกมา)</li>
    <li>ดำเนินการโอนเงินตามข้อมูลและเลขที่บัญชีที่อยู่ด้านล่างภายใน 7 วันหลังจากสั่งซื้อ</li>
    <li>กรุณาเก็บสลิป หรือ หลักฐานการโอน เพื่อใช้ในการยืนยันการโอนเงิน</li>
    <li>กดยืนยันการโอนเงินที่ด้านบน หรือที่หน้า <a href="{% url 'order:history' %}">My Orders</a> (กดที่ชื่อของคุณที่อยู่ด้านบน Header จะปรากฎ Menu ออกมา)</li>
    <li>รอการอนุมัติจากทีมงาน 1 วัน (จ. - ศ.) โดยคอร์สที่ชำระเงินแล้วจะอยู่ใน <a href="{% url 'profile' %}">My Library</a> และสามารถเข้าเรียนได้เลย</li>
    <li>หากยังไม่พบคอร์สหลังจากยืนยันการโอนเงินภายใน 3 วัน กรุณาติดต่อ 0-2077-2868 หรืออีเมล {{CONTACT_EMAIL}}</li>
  </ol>
</div>