{% extends "base.html" %}
{% load tz %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
<script src="{% static "js/banktransfer.js" %}"></script>
<script>
  {% if success %}
  $("#confirm_success").modal('show');
  {% endif %}
</script>
{% endblock %}

{% block content %}
{% timezone "Asia/Bangkok" %}
<div class="container">
  <div class="bc-order">
    <a href="">หน้าหลัก</a>
    <a href="">รายละเอียดการโอนเงิน</a>
  </div>
  <div class="order-page-title">
    <h2 class="">วิธีชำระด้วยการโอนเงินทางธนาคาร</h2>
    <h4>ธนาคารไทยพาณิชย์ / ธนาคารกสิกรไทย / ธนาคารกรุงเทพ / ธนาคารกรุงไทย / ธนาคารกรุงศรี</h4>
    {% include "order/bankinfo_section_no.html" %}
    {% include "order/bankinfo_section_submit.html" %}
    {% include "order/bankinfo_section_howto.html" %}
    {% include "order/bankinfo_section_orderinfo.html" %}
    <div class="panel-info">
    <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
      Copy rights Conicle Co.,Ltd.
    </p>
  </div>
</div>
</div>
{% if success %}
{% include "order/bank_confirm_success.html" %}
{% else %}
{% include "order/bank_confirm_information.html"%}
{% endif %}
{% endtimezone %}
{% endblock %}
