{% load humanize %}
{% if PLATFORM_ID == 3 and is_coin_pay %}
<table style="width:100%;">
    <tr>
      <td class="col-02">
        <div class="order-course-list">
          <div class="course-thumb">
          </div>
          <div class="order-course-detail">
        </div>
      </td>
      <td class="col-01 dark-red bold">
      {% if is_coin_valid %}
      ** เครดิตที่มีสามารถนำมาซื้อในครั้งนี้ ( เหลืออยู่ {{COIN_VOLUME|floatformat|intcomma}} คลิก )
      {% else %}
      ** เครดิตที่มีไม่พอต่อการซื้อครั้งนี้ ( เหลืออยู่ {{COIN_VOLUME|floatformat|intcomma}} คลิก )
      {% endif %}
      </td>
      <td class="col-03 dark-red bold">
      {% if not is_coin_valid %}
      ขาดอีก {{coin_balance|floatformat|intcomma}}
      {% endif %}
      </td>
      <td class="col-04 text-center">
        {% if not is_coin_valid %}
        <a href="{% url 'coin:list' %}?type=1" class="btn btn-main-color pull-right">ซื้อคลิกเพิ่ม <i class="fa fa-angle-right"></i></a>
        {% endif %}
      </td>
    </tr>
</table>
{% endif %}
