{% load humanize %}
{% load staticfiles %}
{% if coin_list|length > 0 %}
<table class="table-promo">
  <thead>
    <tr>
      <th>เหรียญ</th>
      <th></th>
      <th>ราคา</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for coin_item in coin_list %}
    <tr>
      <td class="col-02">
        <div class="order-course-list">
          <div class="course-thumb">
            {% if coin_item.image %}
            <img src="{{coin_item.image.url}}">
            {% else %}
            <img src="{% static 'images/coin/coin-default.png' %}">
            {% endif %}
          </div>
          <div class="order-course-detail">
            <p class="fix line2">{{ coin_item.obj.name }}</p>
          </div>
        </div>
      </td>
      <td class="col-01">
      </td>
      <td class="col-03">
        <p>
          {% if coin_item.item_discount == -1.0 %}
          <span class="red">{{ coin_item.item_price|floatformat|intcomma }}</span>&nbsp;THB
          {% else %}
          <s>{{ coin_item.item_price|intcomma }} THB</s><br/>
          <span class="red">{{ coin_item.item_discount|floatformat|intcomma }}</span>&nbsp;THB
          {% endif %}
          {% if not coin_item.is_allow_promote %}
          <i class="fa fa-exclamation" style="color:red" title="ไม่ร่วมรายการโปรโมชั่น"></i>
          {% endif %}
        </p>
      </td>
      <td class="col-04 text-center">
        <a href="{% url 'order:item_remove' coin_item.id %}" class="btn-remove"><i class="fa fa-times-circle"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
