{% load humanize %}
{% if promote_list|length > 0 %}
<table class="table-promo">
  <thead>
    <tr>
      <th>โปรโมชั่น</th>
      <th>Promo Code</th>
      <th>ส่วนลด</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for promote_item in promote_list %}
    <tr>
      <td class="col-01">
	<p>{{ promote_item.promote_obj.name }}</p>
      </td>
      <td class="col-02">
	<p>{{ promote_item.code_obj.code }}</p>
      </td>
      <td class="col-03">
	{% if promote_item.promote_obj.discount_type == 1 %}
	<p><span class="red">{{ promote_item.promote_obj.discount|intcomma }}</span>&nbsp;THB</p>
	{% elif promote_item.promote_obj.discount_type == 2 %}
	<p><span class="red">{{ promote_item.percent_discount }}</span>&nbsp;THB</p>
	{% endif %}
      </td>
      <td class="col-04 text-center">
	<a href="{% url 'order:promote_remove' promote_item.obj.id %}" class="btn-remove"><i class="fa fa-times-circle"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
