{% load humanize %}
{% load coin_tags %}
{% if course_list|length > 0 %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>คอร์ส</th>
      <th>ผู้สอน / สถาบัน</th>
      <th>ราคา</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for course in course_list %}
    <tr>
      <td class="col-02">
        <div class="order-course-list">
          <div class="course-thumb">
            {% if course.image %}
            <img src="{{ course.image.url }}">
            {% endif %}
          </div>
          <div class="order-course-detail">
            <p class="fix line2">{{ course.name }}</p>
            <p class="fix small grey">{{ course.category.name }}</p>
          </div>
        </div>
      </td>
      <td class="col-01">
        {% if course.tutor_list.0 %}
          <img src="{{ course.tutor_list.0.image.url }}" class="avatar" />
        <p class="fix">{{ course.tutor_list.0.name }}</p>
        <p class="fix small grey">{{ course.tutor_list.0.institute_list.0.name }}</p>
        {% endif %}
      </td>
      <td class="col-03">
        {% if course.item_discount != -1.0 %}
        <p><s>{{ course.item_price|intcomma }} บาท</s></p>
        <p class="red">{{ course.item_discount|intcomma }} บาท
        {% if PLATFORM_ID == 3 %} <br>({{course.item_discount|click_point|floatformat}} คลิก) {% endif %}
        </p>
        {% else %}
        <p>{{ course.item_price|intcomma }} บาท
        {% if PLATFORM_ID == 3 %} <br>({{course.item_price|click_point|floatformat}} คลิก) {% endif %}</p>
        {% endif %}
      </td>
      <td class="col-04 text-center">
        <a href="{% url 'order:item_remove' course.item_id %}" class="btn-remove"><i class="fa fa-times-circle"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
