{% load coin_tags %}
{% load humanize %}
{% if package_list|length > 0 %}
<table class="table-promo">
  <thead>
    <tr>
      <th>แพคเกจ</th>
      <th>รายละเอียด</th>
      <th>ราคา</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for package_item in package_list %}
    <tr>
      <td class="col-02">
        <div class="order-course-list">
          <div class="course-thumb">
            <img src="{{ package_item.obj.image.url }}">
          </div>
          <div class="order-course-detail">
            <p class="fix line2">{{ package_item.obj.name }}</p>
          </div>
        </div>
      </td>
      <td class="col-01">
        {{ package_item.obj.desc|linebreaks|truncatechars:120 }}
      </td>
      <td class="col-03">
        <p>
          {% if package_item.item_discount == -1.0 %}
          <span class="red">{{ package_item.item_price|intcomma }} {% if PLATFORM_ID == 3 %} ({{package_item.item_price|click_point|floatformat}} คลิก) {% endif %}</span>&nbsp;บาท
          {% else %}
          <s>{{ package_item.item_price|intcomma }} บาท</s><br/>
          <span class="red">{{ package_item.item_discount|intcomma  }} </span>&nbsp;บาท
          {% if PLATFORM_ID == 3 %} ({{package_item.item_discount|click_point|floatformat}} คลิก) {% endif %}
          {% endif %}
          {% if not package_item.is_allow_promote %}
          <i class="fa fa-exclamation" style="color:red" title="ไม่ร่วมรายการโปรโมชั่น"></i>
          {% endif %}
        </p>
      </td>
      <td class="col-04 text-center">
        <a href="{% url 'order:item_remove' package_item.id %}" class="btn-remove"><i class="fa fa-times-circle"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
