{% extends "base.html" %}

{% load coin_tags %}
{% load staticfiles %}
{% load humanize %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/event_page.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
{% endblock %}

{% block jquery %}
$('#cart').change(function(){
    window.location.href = "{% url 'order:home' %}"+$(this).val()+"/";
});

{% if is_show_promote %}
var promote_post_id = null;
var access_token = null;
var promote_id = {% if promote == None %}null{% else %}{{ promote.id }}{% endif %};
function promote_facebook_code(){
  $.ajax({
    method: "POST",
    url: "{% url 'promote:facebook_code' %}",
    data: {promote_id: promote_id,
      post_id: promote_post_id,
      access_token: access_token }
    }).done(function( msg ) {
      $('#coupon-code').html(msg);
      $('#coupon').modal('show');
    });
  }

  $('#promote-code').click(function(){
    FB.ui({
      method: 'share_open_graph',
      action_type: 'share',
      action_properties: JSON.stringify({
        {% if HIGHLIGHT_EVENT == None %}
        object:'https://conicle.com/',
        {% else %}
        object:'{{ BASE_URL }}{% url 'event_detail' HIGHLIGHT_EVENT.id %}',
        {% endif %}
      })
    }, function(response){
      if (response && !response.error_code) {
        promote_facebook_code();
      } else if (response && response.error_code === 4201) {
        notify('กรุณากด Share เพื่อรับส่วนลด');
      } else {
        notify('กรุณากด Share เพื่อรับส่วนลด');
      }
      {% comment %}
      if(response.post_id !== undefined){
      promote_post_id = response.post_id;
      FB.getLoginStatus(function(result){
      if(result.status === 'connected'){
      access_token = result.authResponse.accessToken;
      promote_facebook_code();
    }
  });
}else{
alert('กรุณากด Share เพื่อรับส่วนลด');
}
{% endcomment %}
});
});
{% endif %}
{% endblock %}
{% block pixel %}fbq('track', 'AddToCart');{% endblock %}
{% block content %}
<div class="container">
  <div class="bc-order">
    <a href="{% url 'home' %}">หน้าหลัก</a>
    <a href="#">ตะกร้า</a>
  </div>
  <div class="order-page-title">
    <h2>รายการที่ต้องการซื้อ</h2>
    <h4 class="main-color">
      {% comment %}คุณได้เลือกคอร์สไว้ {{ course_list|length }} คอร์ส {% endcomment %} กรุณากด “ชำระเงิน”
      เพื่อดำเนินการต่อไป
    </h4>
    <p>
      เลือกตระกร้า
      <select id="cart">
	{% for order_item in order_list %}
	<option value="{{ order_item.id }}" {% if order_item.id == order.id %}selected{% endif %}>#{{ order_item.id }} ({{ order_item.net }})</option>
	{% endfor %}
      </select>
      {% if order.net > 0 %}
      <a href="{% url 'order:checkout' order.id %}" class="btn btn-main-color pull-right">ชำระเงิน <i class="fa fa-angle-right"></i></a>
      {% elif order.item_set.count != 0 %}
      <a href="{% url 'order:checkout' order.id %}" class="btn btn-main-color pull-right">ยืนยันคำสั่งซื้อ <i class="fa fa-angle-right"></i></a>
      {% endif %}

      <a class="btn btn-grey pull-right" style="margin-right:10px;"href="{% url 'course:home' %}">เลือกคอร์สเพิ่ม</a>
      {% if PLATFORM_ID == 3 and not is_coin_pay %}
      <a class="btn btn-grey pull-right" style="margin-right:10px;"href="{% url 'coin:list' %}">ซื้อคลิกเพิ่ม</a>
      {% endif %}
    </p>
  </div>
  <div class="table-order table-responsive table-cart">
    {% include "order/block_course.html" %}
    {% include "order/block_package.html" %}
    {% include "order/block_coin.html" %}
    {% include "order/block_promote.html" %}
    {% if course_list|length == 0 and package_list|length == 0 and coin_list|length == 0 %}
    {% include "order/block_empty.html" %}
    {% else %}
    {% include "order/block_course_summary.html" %}
    {% endif %}
    <table class="table table-hover">
      <tfoot>
        <tr>
          <td>
            <form class="form-inline" method="post" action="">{% csrf_token %}
              <div class="form-group">
                <p class="inline">ใส่รหัสส่วนลดที่นี่ แล้วกด “ดำเนินการ”</p>
                <input type="text" class="form-control" name="code">
              </div>
              <button type="submit" class="btn btn-grey" name="redeem">ดำเนินการ</button>
            </form>
          </td>
          <td colspan="2" class="text-right">
            <h4 class="black"><strong><span class="small">ราคารวม : </span>{{ order.net|intcomma }} บาท {% if PLATFORM_ID == 3 and is_coin_pay %} ({{order.net|click_point|floatformat}} คลิก) {% endif %}</strong></h4>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="order-footer">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        {% if is_show_promote %}
        <a id="promote-code" class="red" href="#"><i class="fa fa-exclamation-circle"></i> รับรหัสส่วนลดเพิ่มเติม</a>
        <span> **กดเพื่อรับ Promo Code รับส่วนลดอีก 5%</span>
        {% endif %}
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
	{% if order.net > 0 %}
	<a href="{% url 'order:checkout' order.id %}" class="btn btn-main-color pull-right">ชำระเงิน <i class="fa fa-angle-right"></i></a>
	{% elif order.item_set.count != 0 %}
	<a href="{% url 'order:checkout' order.id %}" class="btn btn-main-color pull-right">ยืนยันคำสั่งซื้อ <i class="fa fa-angle-right"></i></a>
	{% endif %}
	<a class="btn btn-grey pull-right" style="margin-right:10px;"href="{% url 'course:home' %}">เลือกคอร์สเพิ่ม</a>
  {% if PLATFORM_ID == 3 and not is_coin_pay %}
      <a class="btn btn-grey pull-right" style="margin-right:10px;"href="{% url 'coin:list' %}">ซื้อคลิกเพิ่ม</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% include 'order/modal_promocode.html' %}
{% endblock %}
