{% extends "base.html" %}

{% load staticfiles %}
{% load coin_tags %}
{% load humanize %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<style type="text/css">
.modal-header .close{
	margin-top: 10px;
}
.modal-body{
	padding: 0 15px;
}
</style>

{% endblock %}

{% block footerscript %}
<script src="{% static "js/account.js" %}"></script>
<script type="text/javascript">
{% if address == None %}
var is_complete_address = false;
{% else %}
var is_complete_address = true;
{% endif %}
var payment_list = [2,5,6];
$(function() {
	$("select option[value*='{{ address.province }}']").attr('selected','selected');
	if(is_complete_address)
		$('#panal-address').show();
	else
		$('#panal-address').hide();
	$('.btn-payment').click(function() {
		{% if PLATFORM_ID == 3 or not is_shipping %}
		requestPayment(this);
		{% else %}
		if(is_complete_address){
			requestPayment(this);
			$('.btn-payment.active').removeClass('active');
			$(this).addClass('active');

		}else{
			blinkForm();
			$('#button-address').hide();
		}
		{% endif %}
	});

	$('#button-address').click(function() {
		$('#panal-address').hide();
		$('#button-address').hide();
		$('#form-address').show();
	});
});

function requestPayment(element) {
	payment_method = parseInt($(element).attr('rel'), 10);
	if(payment_method == 10){
		window.location.href = '{% url 'order:payatall_pay' order.id %}';
		return;
	}
	else if(payment_method == 14){
		window.location.href = '{% url 'order:coin_pay' order.id %}';
		return;
	}
	else if(payment_method == 20){
		window.location.href = '{% url 'order:aismpay_otprequest' order.id %}';
		return;
	}else if(payment_method == 30){ // Mpay
		window.location.href = '{% url 'mpay:request' order.id %}?type=1';
		return;
	}else if(payment_method == 31){ // Credit card
		window.location.href = '{% url 'mpay:request' order.id %}?type=4';
		return;
	}else if(payment_method == 32){ // Cash
		window.location.href = '{% url 'mpay:request' order.id %}?type=5';
		return;
	}else{
		url = '{% url 'order:pay' order.id  %}'+'?method='+payment_method;
		window.location.href = url;
	}
}

var blinkForm = function() {
	$("#form-address").show();
	$("#form-address").addClass('flash');
	setTimeout(function(){
		$("#form-address").removeClass('flash');
	}, 1500);
}

</script>
{% endblock %}

{% block pixel %}fbq('track', 'InitiateCheckout');{% endblock %}

{% block content %}
<div class="container">
  <div class="bc-order">
    <a href="{% url 'home' %}">หน้าหลัก</a>
    <a href="{% url 'order:home' %}">ตระกร้า</a>
    <a href="">เลือกวิธีการชำระเงิน</a>
  </div>
  <div class="order-page-title">
    <h2>เลือกวิธีการชำระเงิน</h2>
    <h4 class="grey">การชำระเงินที่ปลอดภัย 100%
      กรุณาเลือกวิธีการที่คุณสะดวก</h4>
  </div>
  <div class="wrap-checkout">
    <div class="row order">
      <div class="col-md-12 col-xs-12 summary">
	<p class="border-bottom">รายละเอียดการสั่งซื้อ</p>
	<div class="row">
	  <p class="col-md-3 col-xs-12">
	    เลขที่การสั่งซื้อ : {{ order.id }}
	  </p>
	  <p class="col-md-2 col-xs-12">
	    จำนวนสินค้า : {{ order.item_set.count }}
	  </p>
	  <p class="col-md-4 col-xs-12">
	    {% for item in order.item_set.all %}
	    • {{ item.content_name }}<br>
	    {% endfor %}
	  </p>
	  <p class="col-md-3 col-xs-12 red bold text-center">
	    ราคารวม : {{ order.net|intcomma }} บาท {% if PLATFORM_ID == 3 and is_coin_pay %} ({{order.net|click_point|floatformat}} คลิก){% endif %}
	  </p>
	</div>
      </div>
      {% if PLATFORM_ID != 3 %}
      <div class="col-md-4 col-xs-12">
	<p class="border-bottom red bold">1. ที่อยู่ในการจัดส่งหนังสือ {% if not is_shipping %}(ไม่บังคับ){% endif %}</p>
	<p class="grey" id="panal-address">
	  <span id="display-name">{{ address.name }}</span><br>
	  <span id="display-address">{{ address.address }}</span><br>
	  <span id="display-district">{{ address.subdistrict }} {{ address.district }}</span><br>
	  <span id="display-zipcode">{{ address.province }} {{ address.zipcode }} </span><br>
	  <span id="display-tel">{{ address.tel }} </span><br>
	  <span>{{ user.email }}</span>
	</p>
	{% if address != None %}
	<button class="btn btn-grey" id="button-address" {% comment %}data-toggle="modal" data-target="#addressModal"{% endcomment %}><i class="fa fa-pencil"></i> แก้ไขที่อยู่ในการจัดส่งหนังสือ</button>
	{% else %}
	<button class="btn btn-grey" id="button-address" {% comment %}data-toggle="modal" data-target="#addressModal"{% endcomment %}><i class="fa fa-pencil"></i> เพิ่มที่อยู่ในการจัดส่งหนังสือ</button>
	{% endif %}
	<form id="form-address" class="animated" style="display:none;">
	  <div class="form-horizontal">
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>ชื่อ :</label>
	      </div>
	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="ชื่อ - นามสกุล" value="{{ address.name }}" name="name" id="input-name">
	      </div>

	    </div>
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>ที่อยู่ :</label>
	      </div>

	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="ที่อยู่ในการจัดส่ง" value="{{ address.address }}" name="address" id="input-address">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>แขวง/ตำบล :</label>
	      </div>

	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="แขวง/ตำบล" value="{{ address.subdistrict }}" name="subdistrict" id="input-subdistrict">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>เขต/อำเภอ :</label>
	      </div>

	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="เขต/อำเภอ" value="{{ address.district }}" name="district" id="input-district">
	      </div>
	    </div>

	    <div class="form-group">
	      <div class="col-sm-4">
		<label>จังหวัด :</label>
	      </div>
	      <div class="col-xs-8">
		<div class="dropdown">
		  {% include "form/province.html" with name="province" class_name="province" value="form-control" %}
		</div>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>รหัสไปรษณีย์ :</label>
	      </div>

	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="รหัสไปรษณีย์" value="{{ address.zipcode }}" name="zipcode" id="input-zipcode">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-4">
		<label>เบอร์ติดต่อ :</label>
	      </div>
	      <div class="col-sm-8">
		<input type="text" class="form-control" required placeholder="เบอร์ติดต่อ" value="{{ address.tel }}" name="tel" id="input-tel">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-9">
	      </div>
	      <div class="col-sm-3">
		<button type="submit" class="btn btn-red">บันทึก</button>
	      </div>
	    </div>
	  </div>
	</form>
	<br><br>
	<hr>
	<form class="form-inline" method="post" action="">{% csrf_token %}
	  <div class="form-group">ใส่รหัสส่วนลดที่นี่ แล้วกด “ดำเนินการ”
	    <input type="text" class="form-control" name="code">
	    <button type="submit" class="btn btn-grey" style="margin-top:2px;" name="redeem">ดำเนินการ</button>
	  </div>
	</form>
      </div>
      {% endif %}
      {% if PLATFORM_ID != 3 %}
      <div class="col-md-8 col-xs-12">
	<p class="border-bottom bold red">2. เลือกวิธีการชำระเงิน</p>
	{% else %}
	<div class="col-md-12 col-xs-12">
	  <p class="border-bottom bold red">เลือกวิธีการชำระเงิน</p>
	  {% endif %}

	  <div class="wrap-btn-payment">
	    {% if PLATFORM_ID == 3 %}
	    {% if is_coin_pay and is_coin_valid %}
	    <div class="btn-payment" rel="14">
	      <div class="wrap-icn-payment with-border">
		<div class="icn-payment" style="width:100px; margin-right:90px;">
		  <img src="{% static 'images/coin/coin-default.png' %}">
		</div>
	      </div>
	      <p class="padding-right">
		<strong>ชำระด้วยเหรียญ </strong><span class="red">( เรี่มเรียนได้ทันที )</span><br>
		{% if is_coin_valid %}
		<span>ตอนนี้มี ( {{ coin_volume.volume }} คลิก )</span>
		{% else %}
		<span>จำวนวคลิกไม่พอ <a href="{% url 'coin:list' %}"> ซื้อเพิ่ม </a></span>
		{% endif %}
		{% comment %}
		<span class="red">จำนวนคลิกไม่พอต่อการใช้งาน <a href="{% url 'coin:list' %}">กดตรงนี้เพื่อซื้อเพิ่ม</a></span>
		{% endcomment %}

	      </p>
	    </div>
	    {% endif %}
	    {% endif %}

	    {% if is_display_mpay or mpay == '1' %}
	    <div class="btn-payment" rel="20">
	      <div class="wrap-icn-payment with-border">
		<div class="icn-payment">
		  <img src="{% static 'images/payment/logo_ais.jpg' %}" >
		</div>
	      </div>
	      <p class="payment-pad-left">
		<strong>ชำระด้วย AIS Mobile Payment</strong><br>
		<span></span>
	      </p>
	    </div>
	    {% endif %}

	    {% if PLATFORM_ID != 3 %}
	    <div class="btn-payment" rel="30">
	      <div class="wrap-icn-payment with-border">
		<div class="icn-payment-square">
		  <img src="{% static 'images/payment/logo_mpay.png' %}" >
		</div>
	      </div>
	      <p class="payment-pad-left">
		<strong>ชำระออนไลน์ด้วย mPay Wallet</strong><br>
		<span></span>
	      </p>
	    </div>

	    <div class="btn-payment" rel="31">
	      <div class="wrap-icn-payment">
		<div class="icn-payment with-border">
		  <img src="{% static "images/payment_visa.png" %}">
		</div>
		<div class="icn-payment with-border">
		  <img src="{% static "images/payment_master.png" %}">
		</div>
	      </div>
	      <p class="padding-right">
		<strong>บัตรเครดิต </strong><span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>บัตร VISA ของทุกธนาคาร หรือ บัตร MATER CARD ของทุกธนาคาร</span>
	      </p>
	    </div>

	    <div class="btn-payment" rel="32">
	      <div class="wrap-icn-payment ">
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo_ais.jpg" %}">
		</div>
		{% comment %}
		<!-- Comment -->
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo_telewiz.png" %}">
		</div>
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-bigc.jpg" %}">
		</div>
		{% endcomment %}
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-lotus.jpg" %}">
		</div>
		<!-- Endcomment -->

		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-top.jpg" %}">
		</div>
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-familymart.jpg" %}">
		</div>
	      </div>

	      <p class="payment-pad-left padding-right">
		<strong>ชำระเงินสดที่ mPay Station และ ที่อื่นๆ  </strong> <span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>ชำระด้วยเงินสดที่ AIS Shop / Telewiz Shop / BigC / Tops / FamilyMart</span>
	      </p>
	    </div>
	    {% endif %}

		{% if PLATFORM_ID != 2 %}
	    <div class="btn-payment" rel="10">
	      <div class="wrap-icn-payment" style="padding-right:29px;">
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment_counter.png" %}">
		</div>
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-seven.jpg" %}">
		</div>
	      </div>
	      <p class="padding-right">
		<strong>ชําระผ่านเคาน์เตอร์เซอร์วิส </strong><span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>สามารถชำระได้ที่ 7Eleven</span>
	      </p>
	    </div>
	    {% endif %}

		{% if PLATFORM_ID != 2 %}
	    <div class="btn-payment" rel="4">
	      <div class="wrap-icn-payment">
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_scb.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_bbl.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_ktb.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_bay.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_kbank.png" %}">
		</div>
		{% if PLATFORM_ID == 3 %}
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_tmb.png" %}">
		</div>
		{% endif %}
	      </div>
      	<p class="padding-right">
		<strong>โอนเงินทางธนาคาร </strong><span class="red">( รอตรวจสอบภายใน 24 ชั่วโมง )</span><br>
		<span>ธนาคารไทยพาณิชย์ / ธนาคารกสิกรไทย /
		  ธนาคารกรุงเทพ / ธนาคารกรุงไทย / ธนาคารกรุงศรี</span>
	      </p>
	    </div>
	    {% endif %}

	    {% if PLATFORM_ID == 3 %}
	    <div class="btn-payment" rel="2">
	      <div class="wrap-icn-payment">
		<div class="icn-payment with-border">
		  <img src="{% static "images/payment_visa.png" %}">
		</div>
		<div class="icn-payment with-border">
		  <img src="{% static "images/payment_master.png" %}">
		</div>
	      </div>
	      <p class="padding-right">
		<strong>บัตรเครดิต </strong><span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>บัตร VISA ของทุกธนาคาร หรือ บัตร MATER CARD ของทุกธนาคาร</span>
	      </p>
	    </div>

	    <div class="btn-payment" rel="6">
	      <div class="wrap-icn-payment ">
		{% comment %}
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment_counter.png" %}">
		</div>
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-seven.jpg" %}">
		</div>
		{% endcomment %}
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-bigc.jpg" %}">
		</div>
		<div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-lotus.jpg" %}">
		</div><div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-top.jpg" %}">
		</div><div class="icn-payment" style="padding-bottom:50px;">
		  <img src="{% static "images/payment/logo-familymart.jpg" %}">
		</div>
	      </div>

	      <p class="payment-pad-left padding-right">
		<strong>บิ๊กซี เทสโก้ โลตัส เงินสดที่ และอื่นๆ </strong> <span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>ที่บิ๊กซี / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / แฟมิลี่มาร์ท</span>
	      </p>
	    </div>

	    <div class="btn-payment" rel="5">
	      <div class="wrap-icn-payment with-border">
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_scb.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_bbl.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_ktb.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_bay.png" %}">
		</div>
		<div class="icn-payment">
		  <img class="payment-icon" src="{% static "images/payment_kbank.png" %}">
		</div>
	      </div>
	      <p class="padding-right">
		<strong>ชำระด้วยบัญชีธนาคารออนไลน์ </strong><span class="red">( เรี่มเรียนได้ทันที )</span><br>
		<span>ธนาคารไทยพาณิชย์ / ธนาคารกรุงไทย /ธนาคารกรุงเทพ / ธนาคารกรุงศรีฯ / กสิกรไทย</span>
	      </p>
	    </div>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>

    <div class="order-footer">
      <div class="row">
	<div class="col-sm-6 col-xs-12">
	  {% comment %}
	  <p class="black"><a href=""><i class="fa fa-angle-left"></i> Choose the other courses</a></p>
	  {% endcomment %}
	</div>
	<div class="col-sm-6 col-xs-12 text-right">
	  {% comment %}
	  <a class="btn btn-grey" ><i class="fa fa-refresh"></i> Update Cart</a>
	  {% endcomment %}
	</div>
      </div>
    </div>
  </div>
</div>
{% include "main/modal/modal_address.html" %}
{% endblock %}
