{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
   <!-- <META http-equiv="refresh" content="5;URL={% url 'profile' %}"> -->
	<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
	<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
   <!-- Facebook Conversion Code for Course Checkout -->
   <script>(function() {
   var _fbq = window._fbq || (window._fbq = []);
   if (!_fbq.loaded) {
   var fbds = document.createElement('script');
   fbds.async = true;
   fbds.src = '//connect.facebook.net/en_US/fbds.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(fbds, s);
   _fbq.loaded = true;
   }
   })();
   window._fbq = window._fbq || [];
   window._fbq.push(['track', '6025582074769', {'value':'{{order.net}}','currency':'THB'}]);
   </script>
   <noscript>
      <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025582074769&amp;cd[value]=0.01&amp;cd[currency]=THB&amp;noscript=1" />
   </noscript>

{% endblock %}
{% block content %}
<div class="container">
  <div class="order-page-title">
    <h2 class="red">การชำระเงินของคุณไม่สำเร็จ !!</h2>
    {% comment %}
    <h3>
      ทีมงานโคโค่เดมี่จะทำการตรวจสอบหลักฐานการโอนเงินของคุณ <br/> 
    </h3>   
    <p>
      <b>
        หากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า <a href="{% url 'profile' %}">My Library</a> <br/>
        ภายใน 1 วัน (จ.-ศ.) คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ
      </b>
    </p>          
    <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
    {% endcomment %}
    <br>
    หากไม่พบคอร์สในหน้า Library กรุณาติดต่อ<br>
    0-2077-2868<br>
    <a href="">{{CONTACT_EMAIL}}</a>
    
    <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
      Copy rights Conicle Co.,Ltd.
    </p>
    {% if method == 6 %}
    <p class="text-center">
      <a href="{% url 'order:history' %}" class="btn btn-red" type="button" class="close" data-dismiss="modal" aria-label="Close">&nbsp;&nbsp;&nbsp;ตกลง&nbsp;&nbsp;&nbsp;</a>
    </p>
    {% else %}
    <p class="text-center">
      <a href="{% url 'profile' %}" class="btn btn-red" type="button" class="close" data-dismiss="modal" aria-label="Close">&nbsp;&nbsp;&nbsp;ไปที่หน้า Library&nbsp;&nbsp;&nbsp;</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
