{% extends "base.html" %}
{% load tz %}
{% load humanize %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
<script src="{% static "js/banktransfer.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$(".btn-bank-transfer").click( function() {
			var order_id = $(this).attr('id');
			$("#confirm-order-id").html( order_id );
			$("#order_id").val(order_id);
		});
		{% if success %}
			$("#confirm_success").modal('show');
		{% endif %}
});
</script>
{% endblock %}
{% block content %}
{% timezone "Asia/Bangkok" %}
<div class="container">
  <div class="bc-order">
    <a href="{% url 'home' %}">หน้าหลัก</a>
    <a href="">{{ title|default:"ประวิติการสั่งซื้อ" }}</a>
  </div>
  <div class="order-page-title">
    <h2>{{ title|default:"ประวิติการสั่งซื้อ" }}</h2>
  </div>
  <div class="table-order table-responsive table-history">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th class="hidden-xs">เลขที่ใบสั่งซื้อ</th>
	  <th class="hidden-xs text-center">จำนวนคอร์ส</th>
	  <th class="text-center">ราคา</th>
	  <th class="hidden-xs text-center">วันที่ซื้อ</th>
	  <th class="text-center">ชำระโดย</th>
	  <th class="text-center">สถานะ</th>
	  <th class="hidden-xs text-center"></th>
	</tr>
      </thead>
      <tbody>
	{% for order in order_list %}
	<tr>
	  <td class="hidden-xs">
	    <p>{{ order.id }}</p>
	  </td>
	  <td class="hidden-xs text-center">
	    <p>{{ order.content_count }}</p>
	  </td>
	  <td class="text-center">
	    <p>{{ order.net|intcomma }} บาท</p>
	  </td>
	  <td class="hidden-xs text-center">
	    <p>{{ order.timestamp }}</p>
	  </td>
	  <td class="text-center text-center">
	    {{ order.get_method_display }}
	  </td>
	  <td class="text-center">
	    {% if order.status == 1 %}
	    <a class="btn btn-red" href="{% url 'order:checkout' %}">ชำระเงิน <i class="fa fa-angle-right"></i></a>
	    {% elif order.status == 2 %}
	    {% if order.method == 4 and order.banktranferrecord_set.exists %}
	    <p style="font-weight: bold; color:rgb(224, 224, 26);">รอตรวจสอบ</p>
	    {% elif order.method == 4 %}
	    <a class="btn btn-blue btn-bank-transfer" id="{{ order.id }}" {% comment %}href="{% url 'order:bank_info' order.id %}"{% endcomment %} data-target="#confirm" data-toggle="modal">ยืนยันการโอนเงิน </a>
	    {% elif order.method == 16 %}
	    <p style="font-weight: bold; color:rgb(199, 199, 180);">รอการชำระเงิน <a href="{% url 'order:payatall_pay' order.id %}" class="red"><i class="fa fa-folder-o"></i></a></p>
	    {% elif order.method == 1 or order.method == 2 or order.method == 3 or order.method == 5  %}
	    <p style="font-weight: bold; color:rgb(199, 199, 180);">รอการชำระเงิน <a href="{% url 'paysbuy:inquiry' order.id %}" class="red">[เช็คสถานะ]</a></p>
	    {% elif order.method == 18 or order.method == 19 or order.method == 20 %}
	    <p style="font-weight: bold; color:rgb(199, 199, 180);">รอการชำระเงิน <a href="{% url 'mpay:inquiry' order.id %}" class="red">[เช็คสถานะ]</a></p>
	    {% else %}
	    <p style="font-weight: bold; color:rgb(199, 199, 180);">รอการชำระเงิน</p>
	    {% endif %}
	    {% elif order.status == 3 %}
	    <p style=" font-weight: bold; color:rgb(26, 192, 26);">ชำระเงินเรียบร้อยแล้ว</p>
	    {% endif %}
	  </td>
	  <td class="hidden-xs text-center">
	    {% if order.status == 2 or  order.status == 3  %}
	    	{% if order.method == 4 and order.status == 2 and not order.has_transfer %}
	    	<a href="{% url 'order:bank_info' order.id %}">ดูข้อมูลเพิ่มเติม <i class="fa fa-angle-right"></i></a>
	    	{% else %}
	    	<a href="{% url 'order:detail' order.id %}">ดูข้อมูลเพิ่มเติม <i class="fa fa-angle-right"></i></a>
	    	{% endif %}
	    {% endif %}
	  </td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="6" class="text-center">
	    <p style="margin:30px;">ไม่มีข้อมูล</p>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include "order/bank_confirm_success.html" %}
{% include "order/bank_confirm_information.html"%}
{% endtimezone %}
{% endblock %}
