<div class="modal fade" id="coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header text-center">
        <p>รหหัสส่วนลดของคุณคือ</p>
      </div>
      <div class="modal-body text-center">
        <h3 class="red" id="coupon-code"></h3>
        <p>
	  กรุณานำ “รหัสส่วนลด” (Promo Code) ที่ได้รับนี้ 
	  ใส่ในช่องด้านล่างซ้าย แล้วกด “ดำเนินการ” เพื่อรับส่วนลดอีก 10%
        </p>
      </div>
      <div class="modal-footer">
        <p class="text-center">
          <button class="btn btn-blue" type="button" class="close" data-dismiss="modal" aria-label="Close">ตกลง</button>
        </p>
      </div>
    </div>
  </div>
</div>
