{% extends "base.html" %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/event_page.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="bc-order">
    <a href="">Home</a>
    <a href="{% url 'order:history' %}">Order History</a>
    <a href="">Order no. {{order.id}}</a>
  </div>
  <div class="order-page-title">
    <h2>Order no. {{order.id}}</h2>
    {% if order.timecomplete %}
    <h4 class="green"><i class="fa fa-check-circle"></i>{{order.timecomplete|date:"D d M Y"}}</h4>
    {% endif %}
  </div>
  <div class="table-order table-responsive table-cart">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Content Name</th>
	  <th>Unit Price</th>
	</tr>
      </thead>
      <tbody>
	{% for item in order.item_set.all %}
	<tr>
	  <td>
	    {{ item.content_name }}
	  </td>
	  <td>
	    <p>{{ item.net }} Baht</p>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
      <tfoot>
	<tr>
	  <td colspan="2" class="text-right">
	    <h4 class="black"><strong><span class="small">Subtotal : </span>{{ order.net }} Baht</strong></h4>
	  </td>
	</tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
