{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
   <!-- <META http-equiv="refresh" content="5;URL={% url 'profile' %}"> -->
	<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
	<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
   <!-- Facebook Conversion Code for Course Checkout -->
   <script>(function() {
   var _fbq = window._fbq || (window._fbq = []);
   if (!_fbq.loaded) {
   var fbds = document.createElement('script');
   fbds.async = true;
   fbds.src = '//connect.facebook.net/en_US/fbds.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(fbds, s);
   _fbq.loaded = true;
   }
   })();
   window._fbq = window._fbq || [];
   window._fbq.push(['track', '6025582074769', {'value':'{{order.net}}','currency':'THB'}]);
   </script>
   <noscript>
      <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025582074769&amp;cd[value]=0.01&amp;cd[currency]=THB&amp;noscript=1" />
   </noscript>

{% endblock %}
{% block content %}
<div class="container">
		<div class="order-page-title">
         {% if method == 4 %}
         <h2 class="red">ได้รับยืนยันการโอนเงินแล้ว!</h2>
         <h3>
            ทีมงานโคโค่เดมี่จะทำการตรวจสอบหลักฐานการโอนเงินของคุณ <br/> 
         </h3>   
         <p>
            <b>
               หากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า <a href="{% url 'profile' %}">My Library</a> <br/>
               ภายใน 1 วัน (จ.-ศ.) คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ
            </b>
         </p>          
         <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
         {% elif method == 6 %}
			<h2 class="red">กรุณาชำระเงินสดที่เคาท์เตอร์เซอร์วิส</h2>
         <br>
         <p>ที่เคาน์เตอร์เซอรวิส / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท /
         ไทยพาณิชย์ Bank, ATM

         นำหน้าชำระเงิน หรือ เลขที่ชำระเงินของ Paysbuy ที่คุณได้รับ ไปแสดงที่เคาน์เตอร์เซอรวิส
         / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท / ไทยพาณิชย์ Bank, ATM
         เพื่อชำระเงินค่าคอร์สเรียน

         <br>ทั้งนี้อาจมีค่าธรรมเนียมตามอัตราที่ได้ระบุไว้ของแต่ละช่องทาง
         <br>คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ</p>
         <p>เมื่อชำระเงินเรียบร้อยแล้ว คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า My Library ภายใน 30 นาที</p>
         {% else %}
         <h2 class="red">การชำระเงินของคุณสำเร็จแล้ว!</h2>
         <h3>คุณสามารถเริ่มดูคอร์สเรียนได้เลยที่หน้า My Library</h3>
         <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
         {% endif %}
         <br>
         หากไม่พบคอร์สในหน้า Library กรุณาติดต่อ<br>
         <br>
         <a href="">{{CONTACT_EMAIL}}</a>
         
         <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      		สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
      		Copy rights Conicle Co.,Ltd.
      	</p>
      
		</div>
	</div>
{% endblock %}
