{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
{% endblock %}
{% block pixel %}fbq('track', 'Purchase', {value: '{{order.net}}', currency: 'THB'});{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="order-page-title">
        {% if method == 4 %}
        <h2 class="red">ได้รับยืนยันการโอนเงินแล้ว!</h2>

        <h3>
            ทีมงานโคโค่เดมี่จะทำการตรวจสอบหลักฐานการโอนเงินของคุณ <br/>
        </h3>

        <p>
            <b>
                หากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า <a href="{% url 'profile' %}">My Library</a> <br/>
                ภายใน 1 วัน (จ.-ศ.) คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ
            </b>
        </p>

        <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
        {% elif method == 6 %}
        <h2 class="red">กรุณาชำระเงินสดที่เคาท์เตอร์เซอร์วิส</h2>
        <br>

        <p>ที่เคาน์เตอร์เซอรวิส / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท /
            ไทยพาณิชย์ Bank, ATM

            นำหน้าชำระเงิน หรือ เลขที่ชำระเงินของ Paysbuy ที่คุณได้รับ ไปแสดงที่เคาน์เตอร์เซอรวิส
            / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท / ไทยพาณิชย์ Bank, ATM
            เพื่อชำระเงินค่าคอร์สเรียน

            <br>ทั้งนี้อาจมีค่าธรรมเนียมตามอัตราที่ได้ระบุไว้ของแต่ละช่องทาง
            <br>คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ</p>

        <p>เมื่อชำระเงินเรียบร้อยแล้ว คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า My Library ภายใน 30 นาที</p>
        {% else %}
        <h2 class="red">การชำระเงินของคุณสำเร็จแล้ว!</h2>

        <h3>คุณสามารถเริ่มดูคอร์สเรียนได้เลยที่หน้า My Library</h3>

        <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
        {% endif %}
        <br>
        หากไม่พบคอร์สในหน้า Library กรุณาติดต่อ<br>
        0-2077-2868<br>
        <a href="">{{CONTACT_EMAIL}}</a>

        <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
            สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
            Copy rights Conicle Co.,Ltd.
        </p>
        {% if method == 6 %}
        <p class="text-center">
            <a href="{% url 'order:history' %}" class="btn btn-red" type="button" class="close" data-dismiss="modal"
               aria-label="Close">&nbsp;&nbsp;&nbsp;ตกลง&nbsp;&nbsp;&nbsp;</a>
        </p>
        {% else %}
        <p class="text-center">
            <a href="{% url 'profile' %}" class="btn btn-red" type="button" class="close" data-dismiss="modal"
               aria-label="Close">&nbsp;&nbsp;&nbsp;ไปที่หน้า Library&nbsp;&nbsp;&nbsp;</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
