{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block footer %}{% endblock %}

{% block headerscript %}{% endblock %}

{% block content %}
<div class="container">
  <div class="order-page-title">
    <h3 class="red">การสั่งซื้อเรียบร้อยแล้ว กรุณาชำระเงินสดที่เคาท์เตอร์เซอร์วิส</h3><br>
    <p>ที่เคาน์เตอร์เซอรวิส / เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท /ไทยพาณิชย์ Bank, ATM

	นำหน้าชำระเงิน หรือ เลขที่ชำระเงินของ Paysbuy ที่คุณได้รับ ไปแสดงที่เคาน์เตอร์เซอรวิส
	/ เทสโก้ โลตัส / จัสท์เพย์ / เอ็มเปย์ / กรุงศรี ATM / แฟมิลี่มาร์ท / ไทยพาณิชย์ Bank, ATM
	เพื่อชำระเงินค่าคอร์สเรียน

	<br>ทั้งนี้อาจมีค่าธรรมเนียมตามอัตราที่ได้ระบุไว้ของแต่ละช่องทาง
	<br>คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ</p>
	<p>เมื่อชำระเงินเรียบร้อยแล้ว คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า My Library ภายใน 30 นาที</p>
  </div>
</div>
{% endblock %}
