{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block footer %}{% endblock %}

{% block headerscript %}{% endblock %}

{% block content %}
<div class="container-fluid bg-grey">
  <div class="container top-pad bottom-pad">
    <div class="row">
      <div class="col-xs-12">
	<h3 class="red">ได้รับยืนยันการโอนเงินแล้ว!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
	<h3>ทางทีมงานโคโค่เดมี่ได้รับข้อมูลการยืนยันแล้ว</h3>
	<p>
	    <b>
	       หากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า <a href="{% url 'profile' %}">My Library</a> <br/>
	       ภายใน 1 วัน (จ.-ศ.) คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ
	    </b>
	 </p>          
	 <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
	</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
