{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block footer %}{% endblock %}
{% block headerscript %}{% endblock %}
{% block pixel %}fbq('track', 'Purchase', {value: '{{order.net}}', currency: 'THB'});{% endblock %}
{% block content %}
<div class="container text-center">
  <div class="order-page-title">
    <h2 class="red">การชำระเงินของคุณสำเร็จแล้ว!</h2>
    <h3>คุณสามารถเริ่มดูคอร์สเรียนได้เลยที่หน้า My Library</h3>
    <p>ขอให้สนุกและได้ความรู้อย่างเต็มที่กับการเรียนของคุณประสบความสำเร็จดั่งที่ตั้งใจไว้!!<br>Good Luck!!</p>
  </div>
</div>
{% endblock %}
