{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
<style>
  img:hover, img:focus {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  a:hover, a:focus {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  a:hover, a:focus {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
</style>
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block script %}
<script type="text/javascript">
  {% if address == None %}
    var is_complete_address = false;
    {% else %}
    var is_complete_address = true;
  {% endif %}

  {% if is_shipping %}
    var is_shipping = true;
    {% else %}
    var is_shipping = false;
  {% endif %}

  $(function() {
    $("select option[value*='{{ address.province }}']").attr('selected','selected');
    if(is_complete_address){
      $('#user_address').show();
    }else{
      $('#user_address').hide();
    }

    $('.banner-payment').click(function() {
      event.preventDefault();
      if(!is_complete_address && is_shipping){
        $("#addressModal").modal("show");
      }
      else {
        requestPayment(this);
      }
    });

    function requestPayment(element) {
        payment_method = parseInt($(element).attr('rel'), 10);
        console.log(payment_method);
        if(payment_method == 10){
            window.location.href = '{% url 'order:webview_payatall_pay' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}';
            return;
        }
        else if(payment_method == 14){
            window.location.href = '{% url 'order:coin_pay' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}';
            return;
        }
        else if(payment_method == 20){
            window.location.href = '{% url 'order:webview_aismpay_otprequest' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}';
            return;
        }else if(payment_method == 30){
            window.location.href = '{% url 'mpay:web_request' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}&type=1';
            return;
        }
        else if(payment_method == 31){
            window.location.href = '{% url 'mpay:web_request' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}&type=4';
            return;
        }else if(payment_method == 32){
            window.location.href = '{% url 'mpay:web_request' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}&type=5';
            return;
        }else{
            url = '{% url 'order:webview_paysbuy' order.id  %}'+'?method='+payment_method + '&uuid={{ uuid }}&token={{ token }}&store={{ store }}';
            window.location.href = url;
        }
    }


  $("#form-address").submit(function(event) {
    var element = this;
    event.preventDefault();
    console.log('form-address')
    var request = $.ajax({
      url: "/account/address/",
      type: "POST",
      data: {
        name: this.name.value,
        address: this.address.value,
        subdistrict: this.subdistrict.value,
        district: this.district.value,
        province: this.province.value,
        zipcode: this.zipcode.value,
        tel: this.tel.value,
        token: this.token.value,
        uuid: this.uuid.value,
      },
      dataType: "json",
    }).done(function( msg ) {
      if(msg.status == 200){
        $('#display-name').text(element.name.value);
        $('#display-address').text(element.address.value);
        $('#display-district').text(element.subdistrict.value +' , '+element.district.value);
        $('#display-zipcode').text(element.province.value+' '+element.zipcode.value);
        $('#display-tel').text(element.tel.value);

        $('#input-name').val(element.name.value);
        $('#input-address').val(element.address.value);
        $('#input-subdistrict').val(element.subdistrict.value);
        $('#input-district').val(element.district.value);
        $('input[name=province]').val(element.province.value);
        $('#input-zipcode').val(element.zipcode.value);
        $('#input-tel').val(element.tel.value);

        $("#addressModal").modal("hide");
        $('#user_address').show();
        is_complete_address = true;
      }
    }).fail(function( jqXHR, textStatus) {
      console.log('#form-login fail');
     });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid bg-grey">

  <div class="container bottom-pad">
  <h3>การชำระเงิน</h3>
  {% if PLATFORM_ID != 3 and is_shipping %}
   <h4 class="red">1. ใส่ที่อยู่ในการจัดส่งหนังสือ
    {% if address == None %}
    <a class="btn btn-grey" data-toggle="modal" data-target="#addressModal"><i class="fa fa-pencil"></i> เพิ่มที่อยู่</a>
    {% else %}
    <a class="btn btn-grey" data-toggle="modal" data-target="#addressModal"><i class="fa fa-pencil"></i> แก้ไขที่อยู่</a>
    {% endif %}
  </h4>
   <div class="row">
    <div id="user_address" class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
      <div class="banner-payment rps" style="background-color: #fff;padding:20px;">
        <span id="display-name">{{ address.name }}</span><br>
        <span id="display-address">{{ address.address }}</span><br>
        <span id="display-district">{{ address.subdistrict }} {{ address.district }}</span><br>
        <span id="display-zipcode">{{ address.province }} {{ address.zipcode }} </span><br>
        <span id="display-tel">{{ address.tel }} </span><br>
        <span>{{ user.email }}</span>
      </div>
    </div>
  </div>
  <h4 class="red">2. เลือกวิธีการชำระเงิน</h4>
  {% endif %}
  <div class="row">
    {% if is_display_mpay %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="20" href=""><img src="{% static 'images/payment/payment_mobile_ais.png' %}" class="rps"></a>
    </div>
    {% endif %}
    {% comment %}
    <div class="col-xs-12 col-sm-6  col-md-6 col-lg-4">
      <a class="banner-payment" rel="1" href=""><img src="{% static 'images/payment/payment_bank.jpg' %}" class="rps"></a>
    </div>
    {% endcomment %}
    {% if PLATFORM_ID != 3 %}
    <!-- AIS -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="30" href=""><img src="{% static 'images/payment/payment_mobile_wallet.png' %}" class="rps"></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="31" href=""><img src="{% static 'images/payment/payment_mobile_credit.png' %}" class="rps"></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="32" href=""><img src="{% static 'images/payment/payment_mobile_mpaystation.png' %}" class="rps"></a>
    </div>
    <!-- END AIS -->
    {% endif %}
    {% if PLATFORM_ID != 2 %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="10" href=""><img src="{% static 'images/payment/m14-2-checkout_02.png' %}" class="rps"></a>
    </div>
    {% endif %}
    {% if PLATFORM_ID == 3 %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="6" href=""><img src="{% static 'images/payment/payment-cash.png' %}" class="rps"></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="2" href=""><img src="{% static 'images/payment/m14-2-checkout_01.png' %}" class="rps"></a>
    </div>
    {% endif %}
    {% if PLATFORM_ID != 2 %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <a class="banner-payment" rel="3" href=""><img src="{% static 'images/payment/payment_mobile_atm.png' %}" class="rps"></a>
    </div>
    {% endif %}
  </div>
</div>
</div>
</div>
{% include 'main/modal/modal_address.html' %}
{% endblock %}
