{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block footer %}{% endblock %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block footerscript %}
<script>
    {% if not success %}
        $("#bank-confirm-from").submit( function() {
            if( !$("#hours-selector").val() ) return false;
            if( !$("#minutes-selector").val() ) return false;
            var paid_date = $("#transfer_date").val();
            var regex = new RegExp("^[0-9]{2}/[0-9]{2}/[0-9]{4}$", "i");
            if( !regex.test( paid_date ) ){
                return false;
            }
        });
        $("#transfer_date").datepicker();
    {% else %}
        $("#confirm_success").modal('show');
    {% endif %}
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="order-page-title">
    {% comment %}
    <h4>วิธีชำระด้วยการโอนเงินทางธนาคาร</h3>
    {% endcomment %}

    {% include "order/bankinfo_section_no.html" %}
    {% include "order/bankinfo_section_submit.html" %}
    {% include "order/bankinfo_section_howto.html" %}
    {% include "order/bankinfo_section_orderinfo.html" %}
    
    <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
      Copy rights Conicle Co.,Ltd.
    </p>
  </div>
</div> 
{% if success %}
{% include "order/bank_confirm_success.html" %}
{% else %}
{% include "order/bank_confirm_information.html"%}
{% endif %}
{% endblock %}
