{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block footer %}{% endblock %}

{% block headerscript %}{% endblock %}

{% block content %}
<div class="container">
  <div class="order-page-title">
    <h2 class="red">การชำระเงินของคุณไม่สำเร็จ !!</h2>
    <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      สอบถามข้อมูลเพิ่มเติม โทร. 0-2077-2868, Email : <a href="" class="link">{{CONTACT_EMAIL}}</a><br>
      Copy rights Conicle Co.,Ltd.
    </p>
  </div>
</div>
{% endblock %}
