{% extends "base.html" %}
{% load tz %}

{% load staticfiles %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/webview.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
{% timezone "Asia/Bangkok" %}
<div class="container">
  <div class="table-order table-responsive table-history">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th class="hidden-xs">เลขที่การสั่งซื้อ</th>
	  <th class="hidden-xs">จำนวนรายการ</th>
	  <th>รวมเงิน</th>
	  <th class="hidden-xs">วันที่ซื้อ</th>
	  <th>ช่องทางการชำระเงิน</th>
	  <th>สถานะ</th>
	  <th class="hidden-xs"></th>
	</tr>
      </thead>
      <tbody>
	{% for order in order_list %}
	<tr>
	  <td class="hidden-xs">
	    <p>{{ order.id }}</p>
	  </td>
	  <td class="hidden-xs">
	    <p>{{ order.item_set.count }}</p>
	  </td>
	  <td >
	    <p>{{ order.net }} Baht</p>
	  </td>
	  <td class="hidden-xs">
	    <p>{{ order.timestamp }}</p>
	  </td>
	  <td>
	    {{ order.get_method_display }}
	    {% comment %}
	    <img src="{% static "images/visa.png" %}" class="icon-payment with-border" >
	    <img src="{% static "images/mastercard.png" %}" class="icon-payment with-border" >
	    {% endcomment %}
	  </td>
	  <td class="text-left">
	    {% if order.status == 1 %}
	    	<a class="btn btn-red" href="{% url 'order:checkout' %}">ชำระเงิน <i class="fa fa-angle-right"></i></a>
	    {% elif order.status == 2 %}
		    {% if order.method == 4 %}
		    	{% if order.has_transfer %}
		    	<p style="font-weight: bold; color:rgb(224, 224, 26);">รอตรวจสอบ</p>
		    	{% else %}
		    	<a class="btn btn-blue" href="{% url 'order:webview_bankinfo' order.id %}?uuid={{ uuid }}&token={{ token }}&store={{ store }}" {% comment %}data-target="#confirm" data-toggle="modal"{% endcomment %}>ยืนยันการโอนเงิน </a>
		    	{% endif %}
		    {% else %}
		    	<p style="font-weight: bold; color:rgb(224, 224, 26);">รอการชำระเงิน</p>
		    {% endif %}
	    {% elif order.status == 3 %}
	    	<p style=" font-weight: bold; color:rgb(26, 192, 26);">ชำระเงินเรียบร้อยแล้ว</p>
	    {% endif %}
	  </td>
	  <td class="hidden-xs">
	    {% if order.status == 2 or  order.status == 3  %}
	    <a href="{% url 'order:detail' order.id %}">ดูรายละเอยีด <i class="fa fa-angle-right"></i></a>
	    {% endif %}
	  </td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="6" class="text-center">
	    <p style="margin:30px;">ไม่พบรายการแจ้งชำระเงิน</p>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endtimezone %}
{% endblock %}
