{% for stream in stream_list %}
{% if stream.config.stream_type == 4 and 'Mobile' not in stream.config.name %}
( {{stream.material_id}} )
<a href="{% url 'console:video_preview_stream_wowza' stream.id %}" rel="{% url 'console:video_preview_stream_wowza' stream.id %}?type=1" class="{% if stream.is_verify_pass %}{% else %}wowza-duration{% endif %}" >
	<span class="{% if stream.is_verify_pass %}green{% else %}red{% endif %}">{{ stream.config.name }}
	</span>
</a>
{% else %}
{% if 'Mobile' not in stream.config.name %}
{{ stream.config.name }}
{% endif %}
{% endif %}
{% endfor %}
