{% extends "console/base_console.html" %}

{% load staticfiles %}
{% load humanize %}
{% block headerscript %}
<style>
/*.row{ height: 560px; }*/
.table>tbody>tr>td{
		line-height: 0.8;
	}
.pagebreak { page-break-before: always; }
@media print
{
	.no-print, .no-print *
	{
		display: none !important;
	}
}
</style>
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="container">
	<form class="no-print" action="{% url 'console:report_bill' %}" method="GET">
		<label for="month">Month : </label>
		<select name="month">
			{% for i in 'xxxxxxxxxxxx' %}
			<option value="{{ forloop.counter }}" {% if forloop.counter == order_month %}selected{% endif %}>{{ forloop.counter }}</option>
			{% endfor %}
		</select>
		<label for="year">Year : </label>
		<select name="year">
			{% for year in year_range %}
			<option value="{{ year }}" {% if year == order_year %}selected{% endif %}>{{ year|add:"543" }}</option>
			{% endfor %}
		</select>
		<button type="submit">Submit</button>
		{% csrf_token %}
	</form>
	<br/>
	{% for order in order_list %}
	<div class="row {% if order.page_break %} pagebreak {% endif %}">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<div class="col-xs-3">
					<img src="{% static "clickforclever/images/bill_logo.png" %}" style="width:130px;">				
				</div>
				<div class="col-xs-9">
					<h4>บริษัท คลิ๊กฟอร์เคลฟเวอร์ จำกัด</h4>
					<h6>111/129 หมู่ 9 หมู่บ้านภัทรโมทาวน์ ซ.แจ้งวัฒนะ 19 ถ.แจ้งวัฒนะ  ต.บางพูด จ.นนทบุรี 11120 โทร: 02-9620079</h6>
					<h6>หมายเลขประจำตัวผู้เสียภาษี 0125554002624</h6>
					<h6>สำนักงานใหญ่</h6>
				</div>
			</div>
			<div class="col-xs-2"></div>
			<div class="col-xs-3">
				<h5 style="background-color:grey; text-align:center; padding:2px; border: solid;">ต้นฉบับใบกำกับภาษี/ใบรับเงิน</h5>
				<h5 style="text-align:center;">เลขที่ {{ order.no }}</h5>
				<h5 style="text-align:center;">วันที่ออก : {{ order.complete }}</h5>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-9">
				<h5>รหัสสมาชิก: {{ order.account.id }}</h5>
				<h5>ชื่อ: {{ order.account.first_name }} {{ order.account.last_name }}</h5>

				{% comment %}
				<h5>ที่อยู่: 
					{% if order.address %}
					{{ order.address }} {{ order.subdistrict }} {{ order.district }} {{ order.province }} {{ order.zipcode }}
					{% else %}
					<strong>ไม่ระบุ</strong>
					{% endif %}
				</h5>
				{% endcomment %}

				<h5>โทรศัพท์: 
					{% if order.account.tel %}
					{{ order.account.tel }}
					{% else %} 
					<strong>ไม่ระบุ</strong> 
					{% endif %} 
					email: {{ order.account.email }}
				</h5>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-11">
				<table class="table table-bordered">
					<thead>
						<th>เลขที่ใบสั่งซื้อ</th>
						<th>รายการ</th>
						<th>วันที่</th>
						<th>จำนวนเงิน(บาท)</th>
					</thead>
					<tbody>
						{% for order_information in order.information_list %}
						<tr>
							<td>{{ order.id }}</td>
							<td>{{ order_information.name }}</td>
							<td>{{ order.time }}</td>
							<td>{{ order_information.price|intcomma }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td style="font-weight:bold;">ภาษีมูลค่าเพิ่ม</td>
							<td>{{ order.vat|intcomma }}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td style="font-weight:bold;">ราคารวมภาษีมูลค่าเพิ่ม</td>
							<td>{{ order.net|intcomma }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6">
				<h5 style="color:red;">*หมายเหตุทางบริษัทฯขอสงวนสิทธิ์ที่จะไม่คืนเงินที่ชำระแล้วทั้งหมด ในทุกกรณี</h5>
			</div>
			<div class="col-xs-2"></div>
			<div class="col-xs-4">
				<h6>
					<span style="font-weight:bold;">ลงชื่อ</span>
					&nbsp;&nbsp;<img src="{% static "clickforclever/images/signature.png" %}" style="width:230px;">&nbsp;&nbsp;
					<span style="font-weight:bold;">ผู้รับเงิน</span>	
				</h6>
				<h5 style="font-weight:bold; padding-left: 75px;">( นาง ณัฐสินี โกศลพิศิษฐ์ )</h5>		
			</div>
		</div>
	</div>
	<hr>
{% endfor %}
</div>
{% endblock %}