{% extends "course/list.html" %}
{% load staticfiles %}
{% block course_list_title %}
		<h2 class="main-color bold">
				{% if group == 1 %}ติวฟรี
				{% elif group == 2 %}ติวเพิ่มเกรด
				{% elif group == 3 %}ติวเตรียม Admission
				{% elif group == 4 %}คณิตคิดเร็ว by พี่บ๊อบ
				{% endif %}
		</h2>
		<p class="padding-bottom">{{desc}}</p>
{% endblock %}
