{% load bootstrap %}
<div class="form-group{% if field.errors %} has-error{% endif %}" style="margin-left:0px;">
  {% if field|is_checkbox %}
  <div class="form-group">
    <label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label|safe }}</label>
    <div class="col-sm-10">
      <div class="fg-line">
        <div class="toggle-switch" data-ts-color="cyan">
              {{ field }}
{#            <input id="{{ field.auto_id }}" type="checkbox" name="{{ field.html_name }}" {% if field.value %}checked{% endif %}>#}
          <label for="{{ field.auto_id }}" class="ts-helper"></label>
        </div>
      </div>
    </div>
  </div>
  {% elif field|is_radio %}
  {% if field.auto_id %}
  <label class="control-label {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}">{{ field.label|safe }}</label>
  {% endif %}
  <div class="{{ classes.value }}">
    {% for choice in field %}
    <div class="radio">
      <label>
        {{ choice.tag }}
        {{ choice.choice_label }}
      </label>
    </div>
    {% endfor %}

    {% for error in field.errors %}
    <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}

    {% if field.help_text %}
    <p class="help-block">
      {{ field.help_text|safe }}
    </p>
    {% endif %}
  </div>
  {% elif field|is_select %}
  <label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label|safe }}</label>
  <div class="col-sm-10">
    <div class="fg-line">
      <div class="select">
	{{ field }}
      </div>
      {% if field.help_text %}
    	<small class="help-block">{{ field.help_text|safe }}</small>
    	{% endif %}
    </div>
  </div>
  {% elif field|is_file %}
  <label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label|safe }}</label>
  <div class="col-sm-10">
    <div class="fg-line upload-image-area">
      {{ field }}
    </div>
    {% if field.help_text %}
    <small class="help-block">{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
  {% else %}
  <label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label|safe }}</label>
  <div class="col-sm-10">
    <div class="fg-line">
      {{ field }}
    </div>
    {% if field.help_text %}
    <small class="help-block">{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
  {% endif %}
</div>
