
<div class="container about top-pad bottom-pad">
    <!-- About Info -->
    <section class="striped">
        <div class="inner">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="about-title">
                        <h3 class="no-btm-margin">AIS U</h3>
                        <h2 class="clear-pad main-color">Academy</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <blockquote>
                        <p>แอปพลิเคชันการศึกษาสำหรับการเพิ่มศักยภาพในการเรียนรู้ของน้องๆนักเรียนระดับมัธยมศึกษา เพื่อการเตรียมความพร้อมในการเข้าสู่รั้วมหาวิทยาลัยอย่างมั่นใจ</p>
                        <p>เรียนออนไลน์วิชาต่างๆ ผ่านแอปพลิเคชั่นด้วยระบบ VDO Streaming กับติวเตอร์ชื่อดังที่ทุกคนชื่นชอบ ได้ทุกที่ ทุกเวลา</p>
                   </blockquote>
                </div>
            </div>
        </div>
    </section>
    {% include 'main/fragment/fragment_link_social.html' %}
</div>
