{% extends "base.html" %}
{% load static %}

{% block meta_facebook %}
<meta property="fb:app_id" content="{{FB_APP_ID}}" />
<meta property="og:title" content="{{ TITLE|striptags|default:"AIS U Academy - Learning without boundary" }}" />
<meta property="og:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta property="og:site_name" content="AIS U Academy - Learning without boundary " />
<meta property="og:image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisuacademy.com/images/icons/opengraph-icon.png" %}{% endif %}" />
{% endblock %}

{% block meta_twitter %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="{{ TITLE|striptags|default:""}}" />
<meta name="twitter:creator" content="" />
<meta name="twitter:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta name="twitter:image:src" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisuacademy.com/images/icons/opengraph-icon.png" %}{% endif %}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block project_identity %}
<meta name="author" content="AIS U Academy Co.,Ltd.">
<meta itemprop="name" content="{{BASE_NAME}} - {{ TITLE|striptags|default:"Learning without boundary " }}">
<meta itemprop="image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisuacademy.com/images/icons/opengraph-icon.png" %}{% endif %}">
<meta name="apple-itunes-app" content="app-id=926227690">
<meta name="google-play-app" content="app-id=com.ais.education">
<title>{{BASE_NAME}} - {{ TITLE|striptags|default:BASE_TAGNAME }}</title>
<link rel="shortcut icon" href="{% static "aisuacademy.com/images/icons/favicon.ico" %}">
<link rel="shortcut icon" href="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "aisuacademy.com/images/icons/opengraph-icon.png" %}{% endif %}">
<link rel="apple-touch-icon" href="{% static "aisuacademy.com/images/icons/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "aisuacademy.com/images/icons/apple-touch-icon-74x74.png" %}">
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "css/webfont.css" %}">
<link rel="stylesheet" href="{% static "aisuacademy.com/css/theme.css" %}">
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}AISUAcademy{% endblock %}

{% block header %}
{% if IS_WEBVIEW %}
{% elif DISPLAY_HEADER == None or DISPLAY_HEADER %}
{% if APP.is_institute %}
{% include "institute/header.html" %}
{% else %}
{% include "main/header.html" %}
{% endif %}
{% endif %}
{% endblock %}

{% block footer %}
{% if IS_WEBVIEW %}
{% elif DISPLAY_FOOTER == None or DISPLAY_HEADER %}
<div id="footer" class="container-fluid top-pad text-center grey">
  Copyright <i class="fa fa-copyright"></i>AIS U Academy 2014 All rights reserved. Advance Info Service PLC.
  <br>
  Powered by Conicle
</div>
{% endif %}
{% endblock %}

{% block modal %}
{% include "main/modal/modal_authen.html" %}
{% include "main/modal/modal_strict.html" %}
{% endblock %}
