{% extends "base.html" %}
{% load staticfiles %}
{% block footer %}{% endblock %}
{% block jquery %}

function adjustMain () {
  if(window.innerHeight > 690) {
    $('#login-page .main').addClass('center2D');
    $('#login-page').css({'position':'fixed'});
    $('#login-page footer').addClass('fix-at-bottom').removeClass('top-pad');
  }else{
    $('#login-page .main').removeClass('center2D').addClass('top-pad-80');
    $('#login-page').css({'position':'relative'});
    $('#login-page footer').removeClass('fix-at-bottom').addClass('top-pad');
  }
}
adjustMain ();
$(window).resize(function(){
  adjustMain ();
});
{% endblock %}
{% block content %}
<div id="login-page">
    <div class="main center2D text-center">
        <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-pacrim-white.png' %}" class="logo fade-in-up" />
        <h3>Welcome</h3>
        <h5>Please login to start learning by PacRim</h5>
        <form id="form-login" class="fade-in-up-delay">{% csrf_token %}
            <div class="text-left">
                <p class="top-margin-little">Email</p>
                <p><input name="email" type="email" placeholder="Email" autofocus /></p>
                <p class="top-margin-little">Password</p>
                <p><input name="password" type="password" placeholder="Password" /></p>
                <p class="top-margin-little">
                    <input id="remember" name="remember" type="checkbox" />
                    <label for="remember">Remember Me</label>
                    <a href="{% url 'forgot_password' %}" class="pull-right" style="margin-top:2px;">Forgot Password?</a>
                </p>
            </div>
            <input type="hidden" name="ref" value="{{ ref }}" />
            <input type="hidden" name="next" value="{{ next }}" />
            <p class="error-msg top-margin-little" style="display:none;">Error Message</p>
            <p class="top-margin-little"><button type="submit" class="btn-inline btn-main-color">Login</button></p>
            <!-- <p class="text-right"><a href="{% url 'forgot_password' %}">Forgot Password?</a></p> -->
        </form>
    </div>
    <footer class="fix-at-bottom">
      <div class="row clear-pad">
        <div class="col-sm-6 text-center-xs">www.pacrimgroup.com</div>
        <div class="col-sm-6 text-center-xs text-right">© PacrimGroup. All rights reserved.</div>
      </div>
    </footer>
</div>
{% endblock %}
