{% extends "base.html" %}
{% load staticfiles %}
{% block footer %}{% endblock %}
{% block content %}
<div id="login-page">
    <div class="main center2D text-center">
        <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-pacrim-white.png' %}" class="logo fade-in-up" />
				{% if forgot %}
        <form class="fade-in-up-delay" method="post">{% csrf_token %}
						<h3>Reset Password</h3><br />
	          <p><input name="p1" type="password" placeholder="New Password" autofocus /></p>
						<p><input name="p2" type="password" placeholder="Confirm Password" /></p>
	          <p><button type="submit" class="btn-block btn-main-color btn-lg">OK</button></p>
	      </form>
	      {% endif %}
				{% if msg != None %}
				<h4>{{ msg }}</h4>
				{% endif %}
        <br /><br />
        <h4><a href="/" class="white"><i class="fa fa-arrow-left"></i> Back</a></h4>
    </div>
    <footer class="fix-at-bottom">
        <div class="col-sm-6 text-center-xs">www.pacrimgroup.com</div>
        <div class="col-sm-6 text-center-xs text-right">© PacrimGroup. All rights reserved.</div>
    </footer>
</div>
{% endblock %}
