
@charset "UTF-8";
@font-face {
  font-family: 'thaisans';
  src: url('../../fonts/thaisansneue-bold-webfont.eot');
  src: url('../../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/thaisansneue-bold-webfont.woff') format('woff'),
  url('../../fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
  url('../../fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'thaisans';
  src: url('../../fonts/thaisansneue-light-webfont.eot');
  src: url('../../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/thaisansneue-light-webfont.woff') format('woff'),
  url('../../fonts/thaisansneue-light-webfont.ttf') format('truetype'),
  url('../../fonts/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvethaicaais';
  src: url('../../fonts/db_helvethaicaais_x_v3.2-webfont.eot');
  src: url('../../fonts/db_helvethaicaais_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/db_helvethaicaais_x_v3.2-webfont.woff') format('woff'),
  url('../../fonts/db_helvethaicaais_x_v3.2-webfont.ttf') format('truetype'),
  url('../../fonts/db_helvethaicaais_x_v3.2-webfont.svg#db_helvethaicaais_x_v3.2-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.thaisans {
  font-family: 'thaisans';
}
.helvethaicaais {
  font-family: 'helvethaicaais';
}
/*---------------------------------------------------------------------------------*/

body{
	font-size: 14px;
}
#left-menu, #dashboard-content {
  position: fixed;
  top: 60px;
  height: calc(100% - 60px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#left-menu {
  left: -268px;
  width: 268px;
  overflow: scroll;
  z-index: 1;
}
#dashboard-content {
  right: 0;
  width: 100%;
  overflow: scroll;
}
.left-menu-opened #left-menu {
  left: 0;
}
.left-menu-opened #dashboard-content {
  width: calc(100% - 268px);
}
@media screen and (max-width: 767px) {
  .left-menu-opened #dashboard-content {
    width: 100%;
  }
}
#dashboard-content .page-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 1024px) {
  #dashboard-content .page-wrapper {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  #dashboard-content .page-wrapper {
    padding: 0 20px;
  }
}

.exampleReportDownload{
  color:black;
}

.exampleReportDownload:hover{
  color:#474747;
}

.exampleReportDownload:focus{
  color:black;
}

.exportReportDashboard{
  float:right;
  border: none;
  background: none;
  font-size:16px;
  padding-top:20px;
}

.inline {
  display:inline;
  vertical-align: middle;
}

.inline .preloader {
  padding-top:20px;
  width:30px;
  vertical-align: middle;
  float:right;
}

.exportReportDiv{
  position:absolute;
  top:-70px;
  right:0px;
}

ul.flex{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.flex li{
  width: 20%;
}
form ul.flex li{
  padding: 0 10px;
}
tr.emphasize{
  border-top:solid 2px #333;
  border-bottom:solid 2px #333;
}
input.error{
  border: solid 1px red;
}
.center2D{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.avatar img, img.avatar{
  width: 35px;
  height: 35px !important;
  border-radius: 50%;
  margin-right: 5px;
}
.icon-search{
  padding-left: 35px !important;
  background: url('/static/images/icon_search.png') #fff no-repeat 7px 5px/auto 60%;
}
.clear{
  clear: both;
}
.text-inactive{
  color: #A2A2A2;
}
/* Coloe */
.text-red{
  color: #F44336;
}
.text-green{
  color: #4CAF50;
}
.text-white{
  color: white !important;
}
.text-black{
  color: #333;
}
.text-dark-gray{
  color: #555;
}
.text-info{
  color: #72c7f2 !important;
}
.text-in-progress{
  color: #fcaf17 !important;
}
.text-completed{
  color: #74a333 !important;
}
.text-failed{
  color: #ed1c24 !important;
}
.text-expired{
  color: #231f20 !important;
}
.bg-white{
  background-color: #fff;
}
.bg-light-gray{
  background-color: #f1f1f1 !important;
}
.bg-in-progress{
  background-color: #fcaf17 !important;
}
.bg-completed{
  background-color: #74a333 !important;
}
.bg-failed{
  background-color: #ed1c24 !important;
}
.bg-expired{
  background-color: #231f20 !important;
}
.bg-in-progress-light{
  background-color: #fce3b1 !important;
}
.bg-in-progress-lighter{
  background-color: #fcf6e6 !important;
}
.bg-completed-light{
  background-color: #c3d6a9 !important;
}
.bg-failed-light{
  background-color: #fac0c3 !important;
}
.bg-expired-light{
  background-color: #e8e8e8 !important;
}
.overflow-hidden{
  overflow: hidden;
}
.rounded{
  border-radius: 50em;
}
.clear-pad{
  margin: 0 !important;
  padding: 0 !important;
}
.vertical-middle *{
  vertical-align: middle !important;
}
.full-width{
  width: 100%;
}
.disabled{
  cursor: not-allowed;
}
.pointer{
  cursor: pointer;
}
.container-stable{
  width: 100% !important;
  max-width: 1170px !important;
}
.info-inline{
  white-space: nowrap;
}
.info-inline > *{
  display: inline-block;
  vertical-align: middle;
}

html:not(.ie9) .select:before{
  top:auto;
  bottom: 1px;
  left:auto;
  right: 1px !important;
  width: 15px;
  height: 15px;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
}
#header .logo a{
	display: inline-block;
	background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 90%;
}
.sw-toggled #menu-trigger{
  display: block;
}
#left-menu{
	background-color: #333;
}
.profile-menu{
  padding: 20px 10px;
}
.profile-menu .profile-pic img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.14);
}
.profile-menu .profile-info *{
  color: #fff;
}
.profile-menu .permission a[data-toggle="dropdown"]{
  display: inline-block;
  width: 90%;
  padding: 3px 0;
  margin-top: 5px;
  border: solid 2px #fff;
  border-radius: 50px;
  text-align: center;
}
.profile-menu .permission .dropdown-menu{
  width: 100%;
  padding: 0;
  border: solid 1px #fff;
  border-radius: 5px;
  background-color: #231f20;
}
.profile-menu .permission .dropdown-menu li.head{
  padding: 7px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-top: solid 1px rgba(255,255,255,0.3);
}
.profile-menu .permission .dropdown-menu li.head:first-child{
  margin-top: 0;
}
.profile-menu .permission .dropdown-menu li a, .profile-menu .permission .dropdown-menu li.disabled{
  color:#fff;
  padding: 5px;
  text-align: center;
}
.profile-menu .permission .dropdown-menu li.active a{
  color: #b2d234;
}
.profile-menu .permission .dropdown-menu li a:hover{
  background-color: #555;
}
.main-menu{
	padding-bottom: 60px;
}
.main-menu > li > a{
	color: #fff;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.main-menu > li > a:hover, .main-menu > li.active > a{
	color: #fff;
	background-color: #333;
	opacity: 1;
}
.main-menu > li.active > a{
	border-left: solid 6px #b2d234;
}
.main-menu > li.head{
	margin-top: 10px;
	padding: 10px 15px;
	border-top: solid 1px rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.card .card-header .actions{
  right:25px;
}
.card .card-header .actions li .actionBar{
  margin-left: 10px;
}
.card .card-header .actions .form-control{
  padding: 0 30px 0 10px;
}
.actions > li > a, .actions > a{
	width: auto;
	height: auto;
	padding: 7px 12px;
	border: solid 1px #aaa;
	border-radius: 50px;
	color: #333;
}
.actions > li > a > i, .actions > a > i{
	color: #333;
	font-size: inherit;
}
.actions > li > a:before, .actions > a:before {
	display: none;
}
.tab-nav{
	margin: 20px 0;
}
.tab-nav li{
	margin: 0 20px;
}
.tab-nav li > a{
	padding: 10px;
}
.card .card-header.ch-alt:not([class*="bgm-"]){
	background-color: #d8d8d8;
}
.card-body.card-padding{
	padding: 15px 25px !important;
}
.breadcrumb > .active{
	color: #333;
	font-size: 17px;
}
.table tr td img, .cover{
	height: 50px;
	border: solid 1px #ccc;
}
.table tr td a:not(.btn){
	color: #b2d234;
	text-decoration: underline;
}
.card-body .form-group{
	margin: 20px !important;
}
.card-body .form-control:not(.fc-alt), .modal .form-control:not(.fc-alt){
	border: solid 2px #ccc;
	padding: 10px;
	height: auto;
}
.card-body input[type="text"].form-control:not(.fc-alt), .modal input[type="text"].form-control:not(.fc-alt){
	height: 40px;
}
.fg-line:not([class*=has-]):after{
	background: #b2d234;
}
.help-block{
	font-style: italic;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #b2d234;
}

.upload-image-area input[type="file"]{
  display: inline-block;
  margin-top: 7px;
  background-color: transparent;
  /*color: #fff;*/
}
.upload-image-area .selected-img{
  position: relative;
  display: inline-block;
  max-width: 200px;
  margin-bottom: 7px;
}
.upload-image-area .selected-img img{
  width: 100%;
  border: solid 1px #ddd;
}
.upload-image-area .selected-img.just-change img{
  border: solid 3px #fcaf17;
}
.upload-image-area .selected-img.just-change:before{
  content: 'new image!';
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 10px;
  color: #fff;
  background-color: #fcaf17;
}
.no-item{
  padding: 60px 0;
  text-align: center;
  color: #909090;
}
.note-fontname{
  display: none;
}
#cropImageModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  overflow-y: auto;
}
#cropImageModal .wrap-crop{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  box-shadow:  0 0 50px #ccc;
}
#cropImageModal input[type="number"]{
  width: 40px;
  height: 25px;
  border: solid 1px #ccc;
  border-radius: 5px;
  text-align: center;
}

/*===================Assignment===================*/
.verify-test-score .section-detail{
  display: none;
  background-color: #fcf6e6;
}
.verify-test-score .section-detail.expand{
  display: table-row;
  border-bottom: solid 2px #231f20;
}
.verify-test-score .question-list{
  margin: 0 0 20px 20px;
  border-left: solid 5px #b2d234;
}

/*===================Assignment===================*/
.assignment-steps li {
  margin: 0;
  overflow: hidden;
}
.assignment-steps li span{
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.assignment-steps li span strong{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  color:#fff;
  z-index: 2;
}
.assignment-steps li:not(:first-child) span:before, .assignment-steps li:not(:last-child) span:after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-103%, -50%) !important;
  -moz-transform: translate(-103%, -50%) !important;
  -ms-transform: translate(-103%, -50%) !important;
  -o-transform: translate(-103%, -50%) !important;
  transform: translate(-103%, -50%) !important;
  width:700%;
  height: 14px;
  background-color: #ccc;
  z-index: 1;
}
.assignment-steps li:not(:last-child) span:after{
  right: 50%;
  left: auto;
  -webkit-transform: translate(103%, -50%) !important;
  -moz-transform: translate(103%, -50%) !important;
  -ms-transform: translate(103%, -50%) !important;
  -o-transform: translate(103%, -50%) !important;
  transform: translate(103%, -50%) !important;
}
.assignment-steps li.active span strong, .assignment-steps li.active span:before, .assignment-steps li.active span:after{
  background-color: #b2d234;
}
.start-select-item ul{
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 7px #aaa;
}
.start-select-item ul li a{
  display: block;
  width: 90%;
  padding: 15px;
  margin: 20px auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #231f20;
  box-shadow: 0 0 2px #aaa;
  font-size: 16px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.start-select-item ul li a:hover{
  background-color: #b2d234;
  color: #fff;
  box-shadow: inset 0 0 2px #aaa;
}

/*===================Assignment===================*/

.progress-summary .dash-widget-item{
  padding-bottom: 10px;
  border-radius: 3px;
  min-height: 0;
  overflow: hidden;
}
.progress-summary .dash-widget-item *{
  color: #fff;
  white-space: nowrap;
}
.progress-summary .dash-widget-item h1, .progress-summary .dash-widget-item h2, .progress-summary .dash-widget-item h3, .progress-summary .dash-widget-item h4{
  margin: 0;
  padding: 0;
}
.progress-summary .dash-widget-item hr{
  opacity: 0.2;
  border-style: dotted;
  margin: 5px 0;
}
.progress-summary .dash-widget-item .col-xs-3{
  padding: 10px 0;
}
.progress-summary .all-contents .dash-widget-item{
  padding-bottom: 15px;
}
.progress-summary .all-contents .dash-widget-item  h1{
  font-size: 107px;
}
.progress-summary .all-contents .dash-widget-item hr{
  margin: 10px 0;
}
.progress {
    height: 20px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    background-color: #91C038;
}
.dash-widget-item i.zmdi-plus{
  padding: 4px 7px;
  border: solid 1px #fff;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.dash-widget-item i.zmdi-plus:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*===================Slide Menu===================*/
.profile-menu > a .profile-pic-big {
  padding: 12px;
}

.profile-menu-big > a .profile-pic-big > img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
}


/* Input */

.fg-line .toggle-switch {
  margin-top: 10px !important;
}

input.date-picker{
  background-color: transparent;
}

select[name*='tutor_id']{
  background-color: #EDECEC;
}

.menu-disable{
  color: #C1C1C1 !important;
}

.no-data{
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 1199px){
  #content > .container{
    padding-left: 0;
    padding-right: 0;
  }

}
@media screen and (min-width: 768px){
  .text-right-md{
    text-align: right;
  }
}
@media screen and (max-width: 767px){
  .exportReportDiv{
    top:-5px !important;
  }
  .p-0-xs{
    padding: 0 !important;
  }
  .p-l-0-xs{
    padding-left: 0 !important;
  }
  .card-body.card-padding{
    padding: 10px !important;
  }
  .card .card-header h2{
    line-height: 24px;
  }
  .block-header .actions, .card .card-header .actions{
    position: relative;
    top: auto;
    right: auto;
    margin-top: 10px;
  }
  .progress-summary > .container-fluid > .row > .col-sm-4{
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 450px){
  .hidden-xxs{
    display: none;
  }
  ul.flex{
    display: block;
  }
  ul.flex li{
    flex:none;
    margin-top: 5px;
  }
  .card-header{
    padding: 10px !important;
  }
  .card .card-header .actions .dropdown-menu{
    left: 0;
    right: auto;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
  }
  .card-body .form-group{
    margin: 10px 0 !important;
  }
  .modal-header, .modal-body{
    padding: 10px !important;
  }
  .modal-body #form-search{
    padding-left: 0;
    padding-right: 0;
  }
}
