{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <title>{{ APP_NAME }}</title>
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/animate.css/animate.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/vendors/bootgrid/jquery.bootgrid.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/css/app.min.1.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/css/app.min.2.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static "css/plugin/croppie/croppie.css" %}" />
  {% include 'dashboard/fragment/theme.html' %}
  {% block css %}{% endblock %}
  {% block headerscript %}{% endblock %}
</head>
<body>
  {% block header %}{% include "dashboard/header.html" %}{% endblock %}
  {% include 'dashboard/sidebar.html' %}
  <div id="dashboard-content">
    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block modal %}{% endblock %}
  <!-- {% block footer %}{% include "dashboard/footer.html" %}{% endblock %} -->
  <!-- Page Loader -->
  <div class="page-loader">
    <div class="preloader pls-blue">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
      </svg>
      <p>Please wait...</p>
    </div>
  </div>
  <!-- Javascript Libraries -->
  <script src="{% static 'dashboard/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/moment/min/moment.min.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script> -->
  <script src="{% static 'dashboard/js/chart.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static "js/plugin/croppie/croppie.min.js" %}"></script>
  <script src="{% static 'dashboard/js/charts.js' %}"></script>
  {% comment %}
  <script src="{% static 'dashboard/vendors/bower_components/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/flot/jquery.flot.resize.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/flot.curvedlines/curvedLines.js' %}"></script>
  <script src="{% static 'dashboard/vendors/sparklines/jquery.sparkline.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
  <script src="{% static 'dashboard/js/flot-charts/curved-line-chart.js' %}"></script>
  <script src="{% static 'dashboard/js/flot-charts/line-chart.js' %}"></script>

  {% endcomment %}
  <script src="{% static 'js/global-functions.js' %}"></script>
  <script src="{% static 'dashboard/js/functions.js' %}"></script>
  <!-- Placeholder for IE9 -->
  <!--[if IE 9 ]>
      <script src="{% static 'dashboard/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js' %}"></script>
  <![endif]-->
  {% block footerscript %}{% endblock %}
  {% block script %}{% endblock %}
  <script>
    $( document ).ready(function() {
      function handleWindowResize () {
        if ($(window).width() < 768) {
          $('body').removeClass('left-menu-opened');
        } else {
          $('body').addClass('left-menu-opened');
        }
      }

      $(window).on('resize', function () {
        handleWindowResize();
      })
      handleWindowResize();

      if (localStorage.shouldClearFormPost == 'true') {
        localStorage.removeItem('shouldClearFormPost');
        window.location = window.location;
      }
      {% block jquery %}{% endblock %}
    });
  </script>
</body>
</html>
