<ol class="breadcrumb">
    {% for breadcrumb in BREADCRUMB_LIST %}
    {% if breadcrumb.is_active %}
    <li class="active">{{ breadcrumb.title }}</li>
    {% else %}
    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
    {% endif %}
    {% endfor %}
</ol>
