{% extends "dashboard/base.html" %}

{% block content %}
<div class="alert alert-info" role="alert">
  <b>เงื่อนไขในการแสดงผลไม่ถูกต้อง!!</b> <br/>
  กรุณาตรวจสอบข้อมูลต่อไปนี้<br/>
  - หากเป็น Learning Center Admin กรุณาเลือก Learning Center ที่ต้องการแสดงผล หรือ หากไม่มี Learning Center ที่ดูแล กรุณาติดต่อ Super Admin เพื่อเพิ่มสิทธิ.<br/>
</div>
{% endblock %}
