{% extends "dashboard/base.html" %}

{% block content %}
<div class="alert alert-warning" role="alert">
  <b>เงื่อนไขของ Permission และ Config มีการขัดแย้งกัน!!</b> <br/>
  กรุณาตรวจสอบข้อมูลต่อไปนี้<br/>
  - มีการเซ็ต Permission Organization แต่ใน Config ไม่มีการเปิดใช้ Module Organization.<br/>
</div>
{% endblock %}
