{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block footerscript %}
<script>
  {% comment %}
  var CLIENT_ID = '{{ google_api_access_token }}';
  (function(w,d,s,g,js,fs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
    js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
    js.src='{% static "dashboard/js/platform.js" %}';
    fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
  }(window,document,'script'));
  {% endcomment %}

  $(function() {
    if($(window).width() < 767 && $(window).width() >= 450) {
      $('#activeUserChart').attr({ 'width': 400, 'height': 200 });
    } else if ($(window).width() < 450) {
      $('#activeUserChart').attr({ 'width': 400, 'height': 250 });
    }

    var ctx = document.getElementById("activeUserChart").getContext("2d");
    var activeUserChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ date_list|safe }},
        datasets: [{
          label: "Session",
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(141,196,63,0.2)",
          borderColor: "rgba(141,196,63,1)",
          data: {{ value_list }},
          spanGaps: true,
        }]
      },
      options: {
        scales: {
          xAxes: (getBrowserApp() != 'IE') ? [{ type: 'time', time: { unit: 'week', displayFormats: { week: 'DD MMM' }}}] : [],
          yAxes: [{ ticks: { beginAtZero: false }}]
        }
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="block-header inline">
    <h1 class="inline"><strong>Dashboard</strong></h1>
    <!-- <button id="exportReport" class="exportReportDashboard"><i class="zmdi zmdi-download zmdi-hc-fw"></i> Export Report</button> -->
    <div id="preLoader" class="preloader pls-gray" style="display:none;">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
      </svg>
    </div>
</div>

<div class="card active-user-stat" style="background-color:rgba(141,196,63,0.05)">
    <div class="card-header">
        <h2>Session statistics</h2>
    </div>
    <div class="card-header">
        <canvas id="activeUserChart" width="400" height="120"></canvas>
    </div>
</div>
<br /><br />
<div class="dash-widgets usage-stat">
  <h2>Content statistics</h2>
  <style>
    .dash-widget-item {min-height: 200px !important}
  </style>
    <div class="row">
        <div class="col-md-3 col-sm-6 total-usage-stat">
            <div class="dash-widget-item bgm-cyan">
                <div class="dash-widget-header">
                    <div class="dash-widget-title text-center" style="font-size:18px; font-weight:bold;">Learner</div>
                </div>
                <div class="p-20 text-center">
                  <h1 class="text-white" style="font-size:50px;">{{ count_account }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 web-usage-stat">
            <div class="dash-widget-item bgm-lightgreen">
                <div class="dash-widget-header">
                    <div class="dash-widget-title text-center" style="font-size:18px; font-weight:bold;">Course</div>
                </div>
                <div class="p-20 text-center">
                  <h1 class="text-white" style="font-size:50px;">{{ count_course }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mobile-usage-stat">
            <div class="dash-widget-item bgm-orange">
                <div class="dash-widget-header">
                    <div class="dash-widget-title text-center" style="font-size:18px; font-weight:bold;">Test</div>
                </div>
                <div class="p-20 text-center">
                  <h1 class="text-white" style="font-size:50px;">{{ count_test }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="dash-widget-item bgm-pink">
              <div class="dash-widget-header">
                  <div class="dash-widget-title text-center" style="font-size:18px; font-weight:bold;">Program & OnBoard</div>
              </div>
              <div class="p-20 text-center">
                <h1 class="text-white" style="font-size:50px;">{{ count_program }}</h1>
              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
