<footer id="footer">
    {% comment %}
    Copyright &copy; 2015 {{APP_NAME}} Admin
    {% endcomment %}
    {% comment %}
    <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    {% endcomment %}
</footer>
