{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load group_tags %}
{% block jquery %}
{% if perms.auth.change_group %}
function changePermission(parent, group, content_type, model, permission){
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:group_check' %}",
	dataType: "json",
	data: {group: group,
	       content_type: content_type,
	       model: model,
	       permission: permission}
    }).done(function(result) {
	if(result.is_reload){
	    location.reload();
	}
	if(result.is_success){
	    /*if(result.is_check){
		$(parent).removeClass("text-green text-red").addClass("text-green");
	    }else{
		$(parent).removeClass("text-green text-red").addClass("text-red");
	    }*/
	}else{
	    swal({
		title: "This Permission have Dependency!!",
		text: result.html,
		type: "warning",
		//showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Ok.",
		closeOnConfirm: true
	    });
	}
	return false
    });
    return false
}
$('.permission-change').change(function(e){
    changePermission($(this).parent(), $(this).attr('group'), $(this).attr('content_type'), $(this).attr('model'), $(this).attr('permission'));
});
{% endif %}
{% endblock %}
{% block content %}
<!--templates/dashboard/group.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Admin Authority</strong></h2>
        {% comment %}
        <ul class="actions">
            {% if perms.auth.add_group %}
            <li>
                <a href="{# {% url 'dashboard:question:create' %} #}#">
                    <i class="zmdi zmdi-plus-circle"></i> Create New
                </a>
            </li>
            {% endif %}
        </ul>
        {% endcomment %}
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Module</th>
                  	    <th>Permission</th>
                  	    {% for group in group_list %}
                        <th>{{ group.name|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for permission_rule in PERMISSION_RULE_LIST %}
                  	{% if permission_rule.is_header %}
                  	<tr class="text-white bg-main-color">
                  	    <td colspan="{{ group_list.count|add:"2" }}" class="text-left"><h4 class="clear-pad">{{ permission_rule.header_title }}</h4></td>
                  	</tr>
                  	{% endif %}
                  	<tr class="bg-light-gray">
                  	    <td colspan="{{ group_list.count|add:"2" }}" class="text-left"><h5 class="clear-pad">{{ permission_rule.title }}</h5></td>
                  	</tr>
                  	{% for permission in permission_rule.permission_list %}
                  	<tr>
                  	  <td></td>
                    	  <td>{{ permission|capfirst }}</td>
                    	  {% for group in group_list %}
                    	  <td>
                            <div class="toggle-switch permission-change" data-ts-color="cyan" group="{{ group.id }}" content_type="{{ permission_rule.content_type_id }}" model="{{ permission_rule.model }}" permission="{{ permission }}">
			      <input id="group-{{ group.id }}-type-{{ permission_rule.content_type_id }}-permission-{{ permission }}" type="checkbox" hidden="hidden" {% group_check3 group permission_rule.content_type_id permission_rule.model permission %}>
			      <label for="group-{{ group.id }}-type-{{ permission_rule.content_type_id }}-permission-{{ permission }}" class="ts-helper"></label>
                            </div>
                    	    {# <i class="zmdi zmdi-circle zmdi-hc-fw permission-change" style="cursor: pointer;" group="{{ group.id }}" content_type="{{ permission_rule.content_type_id }}" model="{{ permission_rule.model }}" permission="{{ permission }}"></i> #}
                    	  </td>
                    	  {% endfor %}
                  	</tr>
                  	{% endfor %}
                  	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
