{% load staticfiles %}
<!--templates/dashboard/header.html-->
<header id="header" class="clearfix" data-current-skin="{{ APP_THEME }}">
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar"><!--Hamburger icon-->
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>
        <li class="logo">
            <a href="/dashboard"></a>
        </li>
        <li class="hidden-xxs">
            <h4 class="text-white"><strong>[ {{ APP_NAME }} ]</strong></h4>
        </li>
        <li class="pull-right">
            <ul class="top-menu">
                {% comment %}
                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>
                {% endcomment %}
                {% comment %}
                <li id="top-search">
                    <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                </li>
                {% endcomment %}
                {% comment %}
                <li class="hidden-xs">
                    <a href=""><i class="tm-icon zmdi zmdi-tv-play"></i></a>
                </li>
                <li class="hidden-xs">
                    <a href=""><i class="tm-icon zmdi zmdi-assignment"></i></a>
                </li>
                <li class="hidden-xs">
                    <a href=""><i class="tm-icon zmdi zmdi-trending-up"></i></a>
                </li>
                {% endcomment %}
	               {% if user.is_authenticated %}
      	        <li>
                    <a href="{% url 'dashboard:logout' %}"><i class="tm-icon zmdi zmdi-power"></i></a>
                </li>
      	        {% endif %}
                {% comment %}
                <li class="hidden-xs" id="chat-trigger" data-trigger="#chat">
                    <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
                </li>
                {% endcomment %}
            </ul>
        </li>
    </ul>


  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <div class="tsw-inner">
      <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
      <input type="text">
    </div>
  </div>
</header>
