{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block footerscript %}
<script src="{% static 'dashboard/js/jquerydownload.js' %}"></script>

{% comment %}
<script>
    var CLIENT_ID = '{{ google_api_access_token }}';
    (function(w,d,s,g,js,fs){
        g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
        js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
        js.src='https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
    }(window,document,'script'));
</script>
<script src="{% static 'dashboard/js/analytics.js' %}"></script>
<script src="{% static 'dashboard/vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'dashboard/js/flot-charts/pie-chart.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endcomment %}

<script>
    //var active_user_data = [];
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    function roundNumber(number, decimals) { // Arguments: number to round, number of decimal places
        var newnumber = new Number(number+'').toFixed(parseInt(decimals));
        document.roundform.roundedfield.value =  parseFloat(newnumber); // Output the result to the form field (change for your purposes)
    }
    function msToTime(s) {
        function addZ(n) {
           return (n<10? '0':'') + n;
         }
       var ms = s % 1000;
       s = (s - ms) / 1000;
       var secs = s % 60;
       s = (s - secs) / 60;
       var mins = s % 60;
       var hrs = (s - mins) / 60;
       return addZ(hrs) + ':' + addZ(mins) + ':' + addZ(secs) + ' hr.';
    }

    $(function() {

        // $('#exportGoogleReport').click(function() {
        //   // show loading
        //   $('#exportReport').attr("disabled", true);
        //   $('#preLoader').show();
        //   $.ajax({
        //       url: "{% url 'dashboard:report' %}",
        //       method: "GET",
        //       data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'}
        //   }).done(function() {
        //     window.location = "";
        //     $('#preLoader').hide();
        //     $('#exportReport').removeAttr("disabled");
        //   });
        //
        $('#exportGoogleReport').click(function() {
          // show loading
          $('#exportGoogleReport').attr("disabled", true);
          $('#preLoader').fadeIn();
          $.fileDownload('{% url "dashboard:report" %}?start={{ start|date:"Y-m-d" }}&end={{ end|date:"Y-m-d" }}');
          setTimeout(function(){
            $('#exportGoogleReport').removeAttr("disabled");
            $('#preLoader').fadeOut();  }, 4000);
        });

        if($(window).width()<767 && $(window).width()>=450){
          $('#activeUserChart').attr({'width':400,'height':200});
        }else if($(window).width()<450){
          $('#activeUserChart').attr({'width':400,'height':250});
        }
        $.ajax({
          	url: "{% url 'dashboard:api_active_user' %}",
          	method: "GET",
          	data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'},
        }).done(function(response) {
            console.log("activeuser %o",response);
            /* Old
          	active_user_data = []
          	for (var i = 0; i < response.result.rows.length; i++) {
                data = response.result.rows[i]
                date = String(data[0])
                date_index = date.substring(0, 4) + '-' + date.substring(4, 6) + '-' + date.substring(6, 8)
                active_user_data.push([new Date(date_index), data[1]]);
          	}
	          graph_active_user(active_user_data);
            */
            var dateLabels = [];
            var dataweb = [];
            var datamobile = [];
            var dataTotal = [];

            /*
            var hasEarlierDate = (parseInt(response.result.web.reports[0].data.rows[0].dimensions[0])<=parseInt(response.result.mobile.reports[0].data.rows[0].dimensions[0]))?['web','mobile']:['mobile','web'];
            $.each(eval('response.result.'+hasEarlierDate[0]+'.reports[0].data.rows'), function(i,e){
                dateLabels.push(e.dimensions[0]);
                eval('data'+hasEarlierDate[0]).push(e.metrics[0].values[0]);
            });
            console.log('date: %o',dateLabels);
            var index = 0;
            $.each(dateLabels, function(i,e){
                if(e!=eval('response.result.'+hasEarlierDate[1]+'.reports[0].data.rows[index].dimensions[0]')){
                    eval('data'+hasEarlierDate[1]).push(0);
                }else{
                    eval('data'+hasEarlierDate[1]).push(eval('response.result.'+hasEarlierDate[1]+'.reports[0].data.rows[index].metrics[0].values[0]'));
                    index++;
                }
            });
            $.each(eval('data'+hasEarlierDate[0]), function(i,e){
                dataTotal.push(parseInt(e)+parseInt(eval('data'+hasEarlierDate[1]+'[i]')))
            });*/

            var graphData = {};
            if(response.result.web.reports[0].data.rows!=undefined) {
              $.each(response.result.web.reports[0].data.rows,function(i,e){
                  graphData[e.dimensions[0]] = {web:e.metrics[0].values[0]}
              });
            }

            if(response.result.mobile.reports[0].data.rows!=undefined) {
              $.each(response.result.mobile.reports[0].data.rows,function(i,e){
                  if(typeof graphData[e.dimensions[0]]=="undefined"){
                      graphData[e.dimensions[0]] = {mobile:e.metrics[0].values[0]}
                  }else{
                      graphData[e.dimensions[0]] = $.extend(graphData[e.dimensions[0]], {mobile:e.metrics[0].values[0]});
                  }
              });
            }

            console.log('graphData: %o',graphData);
            for(key in graphData){
                var value = graphData[key];
                dateLabels.push(key);
                if(typeof value.web=="undefined"){
                    dataweb.push(0);
                }else{
                    dataweb.push(value.web);
                }
                if(typeof value.mobile=="undefined"){
                    datamobile.push(0);
                }else{
                    datamobile.push(value.mobile);
                }
            }
            $.each(dataweb, function(i,e){
                dataTotal.push(parseInt(e)+parseInt(datamobile[i]));
            });
            // console.log('dateLabels: %o',dateLabels);
            // console.log('dataweb: %o',dataweb);
            // console.log('datamobile: %o',datamobile);
            // console.log('dataTotal: %o',dataTotal);

            $('.active-user-stat .loading').hide();
            var ctx = document.getElementById("activeUserChart").getContext("2d");
            var activeUserChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dateLabels,
                    datasets: [
                      {
                          label: "Web",
                          fill: true,
                          lineTension: 0.1,
                          backgroundColor: "rgba(141,196,63,0.2)",
                          borderColor: "rgba(141,196,63,1)",
                          data: dataweb,
                          spanGaps: true,
                      },
                      {
                          label: "Mobile",
                          fill: true,
                          lineTension: 0.1,
                          backgroundColor: "rgba(255, 99, 132, 0.2)",
                          borderColor: "rgba(255, 99, 132, 1)",
                          data: datamobile,
                          spanGaps: true,
                      },
                      {
                          label: "Total",
                          fill: true,
                          lineTension: 0.1,
                          backgroundColor: "transparent",
                          borderColor: "rgba(6,144,199,1)",
                          data: dataTotal,
                          spanGaps: true,
                      }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'week',
                                displayFormats: {
                                    week: 'DD MMM'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero:false
                            }
                        }]
                    }
                }
            });

        });

        $.ajax({
          	url: "{% url 'dashboard:api_session' %}",
          	method: "GET",
          	data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'},
        }).done(function(response) {
            console.log("session %o",response);
            $('.usage-stat .row').fadeIn();
            $('.usage-stat .loading').hide();
            var sources = ['web','mobile','total'];
            function getValue(source,index){
                if(eval('response.result.'+source+'.reports[0].data.rows')==undefined) return 0;
                return parseInt(eval('response.result.'+source+'.reports[0].data.rows[0].metrics[0].values['+index+']'));
            }
            $.each(sources,function(i,e){
                var ga_user = (e=='total')?(getValue('web',1)+getValue('mobile',1)):getValue(e,1);
                var ga_sessions = (e=='total')?(getValue('web',0)+getValue('mobile',0)):getValue(e,0);
                var ga_screenviews = (e=='total')?(getValue('web',4)+getValue('mobile',4)):getValue(e,4);
                var ga_screen_views_per_session = (ga_sessions==0)?'-':(parseFloat(ga_screenviews/ga_sessions).toFixed(2));
                var ga_session_duration_in_millisecond = (e=='total')?((getValue('web',3)+getValue('mobile',3))*1000):(getValue(e,3)*1000);
                var ga_session_duration = msToTime(ga_session_duration_in_millisecond);
                var ga_avg_session_duration = (ga_sessions==0)?'-':(msToTime(ga_session_duration_in_millisecond/ga_sessions));
                var ga_percent_new_sessions = (e=='total')?(getValue('web',2)+getValue('mobile',2)):getValue(e,2);
                $("."+e+"-usage-stat .ga_user").text(numberWithCommas(ga_user));
                $("."+e+"-usage-stat .ga_sessions").text(numberWithCommas(ga_sessions));
                $("."+e+"-usage-stat .ga_screenviews").text(numberWithCommas(ga_screenviews));
                $("."+e+"-usage-stat .ga_screen_views_per_session").text(ga_screen_views_per_session);
                $("."+e+"-usage-stat .ga_session_duration").text(ga_session_duration);
                $("."+e+"-usage-stat .ga_avg_session_duration").text(ga_avg_session_duration);
                $("."+e+"-usage-stat .ga_percent_new_sessions").text(ga_percent_new_sessions+"%");

                if(e=='total'){
                    // $('#percent_new_session').data('easyPieChart').update(ga_percent_new_sessions);
                    $('#new_session').html(ga_percent_new_sessions);
                }
            });
        });

        $.ajax({
          	url: "{% url 'dashboard:api_country' %}",
          	method: "GET",
          	data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'},
        }).done(function(response) {
            console.log("country %o",response);
            $('.usage-location .card').fadeIn();
            $('.usage-location .loading').hide();
            var city_list = response.result.reports[0].data.rows;
            $.each(city_list,function(j,f){
                $(".usage-location-list .table_city_list").append('<tr><td>'+ f.dimensions[0] +'</td><td class="main-color">'+ numberWithCommas(f.metrics[0].values[0]) +'</td></tr>');
            });
        });

        $.ajax({
          	url: "{% url 'dashboard:api_device' %}",
          	method: "GET",
          	data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'},
        }).done(function(response) {
            console.log("device %o",response);
            var device_list = response.result.reports[0].data.rows;
            var total = response.result.reports[0].data.totals[0].values[0];
            $.each(device_list,function(j,f){
              var percent = Math.round((parseInt(f.metrics[0].values[0])/total)*100);
              $('#'+f.dimensions[0]+'-usage').data('easyPieChart').update(percent);
              $('#'+f.dimensions[0]+'-usage .percent').html(percent);
            });
        });

        $.ajax({
          	url: "{% url 'dashboard:api_os' %}",
          	method: "GET",
          	data: {start:'{{ start|date:"Y-m-d" }}', end:'{{ end|date:"Y-m-d" }}'},
        }).done(function(response) {
            console.log("os %o",response);
            //var android = parseInt(response.result.mobile.reports[0].data.rows[0].metrics[0].values[0]);
            //var ios = parseInt(response.result.mobile.reports[0].data.rows[1].metrics[0].values[0])
            //var total = android + ios;
            //var percent_android = Math.round(android/total*100);
            //var percent_ios = Math.round(ios/total*100);
          	//$('#android').data('easyPieChart').update(percent_android);
          	//$('#android .percent').html(percent_android);
          	//$('#ios').data('easyPieChart').update(percent_ios);
          	//$('#ios .percent').html(percent_ios);
            $('.usage-os .card').fadeIn();
            $('.usage-os .loading').hide();
            var os_list = response.result.reports[0].data.rows;
            $.each(os_list,function(j,f){
                $(".usage-os-list .table_os_list").append('<tr><td>'+ f.dimensions[0] +'</td><td class="main-color">'+ numberWithCommas(f.metrics[0].values[0]) +'</td></tr>');
            });
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="block-header">
    <h1><strong>Dashboard</strong></h1>
    <div class="exportReportDiv inline" style="top:20px;right:20px;">
      <button id="exportGoogleReport" class="exportReportDashboard"><i class="zmdi zmdi-download zmdi-hc-fw"></i> Export Report</button>
      <!-- <br><br> -->
      <!-- <a href="{% url 'dashboard:report' %}?start={{ start|date:"Y-m-d" }}&end={{ end|date:"Y-m-d" }}">REPO</a> -->
      <div id="preLoader" class="preloader pls-gray" style="display:none;padding-top:30px;">
        <svg class="pl-circular" viewBox="25 25 50 50">
          <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
      </div>
    </div>
    <form action="" class="hidden-xs" method="get">{% csrf_token %}
        <ul class="actions" style="width: 380px;">
            <li style="width: 160px;">
              	<div class="input-group form-group">
                	  <span class="input-group-addon">FROM</span>
                	  <div class="dtp-container dropdown fg-line">
    	                  <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ start|date:"d/m/Y" }}" name="start" id="start">
    	              </div>
              	</div>
            </li>
            <li style="width: 160px;">
              	<div class="input-group form-group">
    	              <span class="input-group-addon">TO</span>
                	  <div class="dtp-container dropdown fg-line">
                	      <input class="form-control date-picker text-center" data-toggle="dropdown" type="text" value="{{ end|date:"d/m/Y" }}" name="end" id="end">
                	  </div>
              	</div>
            </li>
            <li>
              	<div class="input-group form-group">
              	    <button type="submit" class="btn bgm-bluegray btn-sm m-t-5 waves-effect">OK</button>
              	</div>
            </li>
        </ul>
    </form>
</div>

<div class="card active-user-stat" style="background-color:rgba(141,196,63,0.05)">
    <div class="card-header">
        <h2>Active user statistics</h2>
    </div>
    <div class="card-header">
        <div class="loading m-t-30 m-b-30 text-center">
            <img src="{% static 'images/loader-ring.gif' %}" />
            <p>Loading active user statistics data.</p>
        </div>
        {% comment %}
        <div class="chart-edge">
            <div id="curved-line-chart-active-user" class="flot-chart "></div>
        </div>
        {% endcomment %}
        <canvas id="activeUserChart" width="400" height="120"></canvas>
    </div>
</div>

<div class="dash-widgets usage-stat">
    <div class="loading m-t-30 m-b-30 text-center">
        <img src="{% static 'images/loader-ring.gif' %}" />
        <p>Loading usage statistics data.</p>
    </div>
    <div class="row" style="display:none;">
        <div class="col-md-3 col-sm-6 total-usage-stat">
            <div class="dash-widget-item bgm-cyan">
                <div class="dash-widget-header">
                    <div class="dash-widget-title">Total Usage Statistics</div>
                </div>
                <div class="p-20">
                    <small>Users</small>
                    <h3 class="ga_user"></h3>
                    <small>Sessions</small>
                    <h3 class="ga_sessions"></h3>
                    <small>Screen Views</small>
                    <h3 class="ga_screenviews"></h3>
                    <small>Screens / Session</small>
                    <h3 class="ga_screen_views_per_session"></h3>
                    <small>Session Duration</small>
                    <h3 class="ga_session_duration"></h3>
                    <small>Avg. Session Duration</small>
                    <h3 class="ga_avg_session_duration"></h3>
                    <small>% New Sessions</small>
                    <h3 class="ga_percent_new_sessions"></h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 web-usage-stat">
            <div class="dash-widget-item bgm-lightgreen">
                <div class="dash-widget-header">
                    <div class="dash-widget-title">Web Usage Statistics</div>
                </div>
                <div class="p-20">
                    <small>Users</small>
                    <h3 class="ga_user"></h3>
                    <small>Sessions</small>
                    <h3 class="ga_sessions"></h3>
                    <small>Screen Views</small>
                    <h3 class="ga_screenviews"></h3>
                    <small>Screens / Session</small>
                    <h3 class="ga_screen_views_per_session"></h3>
                    <small>Session Duration</small>
                    <h3 class="ga_session_duration"></h3>
                    <small>Avg. Session Duration</small>
                    <h3 class="ga_avg_session_duration"></h3>
                    <small>% New Sessions</small>
                    <h3 class="ga_percent_new_sessions"></h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mobile-usage-stat">
            <div class="dash-widget-item bgm-orange">
                <div class="dash-widget-header">
                    <div class="dash-widget-title">Mobile Usage Statistics</div>
                </div>
                <div class="p-20">
                    <small>Users</small>
                    <h3 class="ga_user"></h3>
                    <small>Sessions</small>
                    <h3 class="ga_sessions"></h3>
                    <small>Screen Views</small>
                    <h3 class="ga_screenviews"></h3>
                    <small>Screens / Session</small>
                    <h3 class="ga_screen_views_per_session"></h3>
                    <small>Session Duration</small>
                    <h3 class="ga_session_duration"></h3>
                    <small>Avg. Session Duration</small>
                    <h3 class="ga_avg_session_duration"></h3>
                    <small>% New Sessions</small>
                    <h3 class="ga_percent_new_sessions"></h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="pie-charts" class="dash-widget-item bgm-pink">
                    <div class="dash-widget-header">
                        <div class="dash-widget-title">Session Statistics</div>
                    </div>
                    <div class="clearfix" style="padding-top:10px;"></div>
                    <div class="p-b-20 text-center">
                        <div class="easy-pie main-pie-2" id="desktop-usage" data-percent="0">
                            <div class="percent">0</div>
                            <div class="pie-title">Desktop</div>
                        </div>
                    </div>
                    <div class="p-b-20 text-center">
                        <div class="easy-pie main-pie-2" id="mobile-usage" data-percent="0">
                            <div class="percent">0</div>
                            <div class="pie-title">Mobile</div>
                        </div>
                    </div>
                    <div class="p-b-20 text-center">
                        <div class="easy-pie main-pie-2" id="tablet-usage" data-percent="0">
                            <div class="percent">0</div>
                            <div class="pie-title">Tablet</div>
                        </div>
                    </div>
            </div>
        </div>
        {% comment %}
        <div class="col-md-3 col-sm-6">
            <div id="pie-charts" class="dash-widget-item">
                <div class="bgm-pink">
                    <div class="dash-widget-header">
                        <div class="dash-widget-title">Session Statistics</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center p-b-20">
                        <div class="easy-pie main-pie" id="percent_new_session" data-percent="0">
                            <div class="percent" id="new_session">0</div>
                            <div class="pie-title">New session</div>
                        </div>
                    </div>
                </div>
                <div class="p-t-20 p-b-20 text-center">
                    <div class="easy-pie sub-pie-1" id="android" data-percent="0">
                        <div class="percent">0</div>
                        <div class="pie-title">Android</div>
                    </div>
                    <div class="easy-pie sub-pie-2" id="ios" data-percent="0">
                        <div class="percent">0</div>
                        <div class="pie-title">iOS</div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>

<div class="dash-widgets">
    <div class="row">
        <div class="col-sm-6 usage-os">
            <div class="loading m-t-30 m-b-30 text-center">
                <img src="{% static 'images/loader-ring.gif' %}" />
                <p>Loading usage operation system data.</p>
            </div>
            <div class="card" style="display:none;">
                <div class="card-header"><h2><strong>Usage Operation Systems</strong></h2></div>
                <div class="card-body usage-os-list">
                    <table class="table table-inner table-vmiddle text-center">
                        <thead>
                            <tr>
                                <th>OS</th>
                                <th>Sessions</th>
                            </tr>
                        </thead>
                        <tbody class="table_os_list"></tbody>
                    </table>
                </div>
                <!-- <div id="recent-items-chart" class="flot-chart"></div> -->
            </div>
        </div>
        <div class="col-sm-6 usage-location">
            <div class="loading m-t-30 m-b-30 text-center">
                <img src="{% static 'images/loader-ring.gif' %}" />
                <p>Loading usage location data.</p>
            </div>
            <div class="card" style="display:none;">
                <div class="card-header"><h2><strong>Usage locations</strong></h2></div>
                <div class="card-body usage-location-list">
                    <table class="table table-inner table-vmiddle text-center">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Sessions</th>
                                <!--<th class="text-center">% Sessions</th>-->
                            </tr>
                        </thead>
                        <tbody class="table_city_list"></tbody>
                    </table>
                </div>
                <!-- <div id="recent-items-chart" class="flot-chart"></div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
