{% extends "dashboard/base.html" %}
{% load static %}
{% load department_tags %}

{% block script %}
    <script src="{% static 'resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
var rDeparment = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'department' %}',
    simultaneousUploads: 1,
    maxFiles: 1
});
rDeparment.assignBrowse(document.getElementsByClassName('resumableDeparment'));
rDeparment.on('fileAdded', function(file, event){
    $('#upload-progress').show();
    rDeparment.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
});
rDeparment.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(rDeparment.progress()*100)+'%');
});
rDeparment.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    checkAlertDeparment();
});

$('#uploadExcelFileDeparment').click(function() {
  $("#dropdownMenu").click();
});
var alertDeparmentID = null;
var alertIntervalDeparment = setInterval(checkAlertDeparment, 10000);
function checkAlertDeparment() {
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'department' %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alertDeparmentID == null && result.status == 1){
	    alertDeparmentID = result.id
        alertIntervalDeparment = setInterval(checkAlertDeparment, 10000);
	}else if(result.id == alertDeparmentID && result.status != 1){
	    location.reload();
	}
    });
    if(alertDeparmentID === null) clearInterval(alertIntervalDeparment);
}


var rOM = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'om' %}',
    simultaneousUploads: 1,
    maxFiles: 1
});
rOM.assignBrowse(document.getElementsByClassName('resumableOM'));
rOM.on('fileAdded', function(file, event){
    $('#upload-progress').show();
    rOM.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
});
rOM.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(rOM.progress()*100)+'%');
});
rOM.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    checkAlertOM();
});
$('#uploadExcelFileOM').click(function() {
  $("#dropdownMenu").click();
});
var alertOMID = null;
var alertIntervalOM = setInterval(checkAlertOM, 10000);
function checkAlertOM() {
    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'om' %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alertOMID == null && result.status == 1){
	    alertOMID = result.id
        alertIntervalOM = setInterval(checkAlertOM, 10000);
	}else if(result.id == alertOMID && result.status != 1){
	    location.reload();
	}
    });
    if(alertOMID === null) clearInterval(alertIntervalOM);
}
{% endblock %}

{% block content %}
<div id="preLoader" class="preloader pls-gray w30" style="float: right; display:none;">
    <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
    </svg>
</div>

<div id="upload-progress" class="progress progress-striped m-b-10" style="display:none">
    <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>

{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>DEPARTMENT & OM Management</strong></h2>
        {# <a href="#f" class="resumable btn bgm-deeppurple btn-sm waves-effect"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a> #}
        {% if perms.account.add_account %}
        <ul class="actions">
            <li class="dropdown" id="dropdownMenu">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-plus-circle"></i> Add more
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li style="height:34px;">
                        <a href="#f" class="resumableDeparment" id="uploadExcelFileDeparment">
                            <i class="zmdi zmdi-upload"></i>
                            <label for="importLearnersFile" class="pointer" style="margin-bottom:0px;">Import Department (*.xls, *.xlsx)</label>
                        </a>
                    </li>
                    <li style="height:34px;">
                        <a href="#f" class="resumableOM" id="uploadExcelFileOM">
                            <i class="zmdi zmdi-upload"></i>
                            <label for="importLearnersFile" class="pointer" style="margin-bottom:0px;">Import OM (*.xls, *.xlsx)</label>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Account</th>
                    <th>Type</th>
                    <th>Input FileName</th>
                    <th>Input</th>
                    <th>Result (Log)</th>
                    <th>Error</th>
                    {% comment %}
                    <th>Warning</th>
                    {% endcomment %}
                    <th>Status</th>
                    <th>TimeStamp</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in alert_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>{{ alert.account.email }}</td>
                    <td>{{ alert.code|upper }}</td>
                    <td class="text-left">{{ alert.filename_input }}</td>
                    <td>
                        <a href="{% url 'dashboard:alert:input' alert.id %}">Download</a>
                    </td>
                    <td>
                        {% if alert.status == 2 or alert.status == 3 or alert.status == -3 or alert.status == -4 %}
                        <a href="{% url 'dashboard:alert:export' alert.filename %}">Download</a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{ alert.get_json_result.error }}</td>
                    {% comment %}
                    <td>{{ alert.get_json_result.warning }}</td>
                    {% endcomment %}
                    <td>{{ alert.get_status_display }}</td>
                    <td>{{ alert.timestamp }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="99">
                        <div class="no-item">No Import File.</div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "dashboard/paginator.html" with content_list=alert_list %}
</div>
{% endblock %}
