{% extends "dashboard/base.html" %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block jquery %}
    $('#login').click(function() {
        $('form').submit();
    });
{% endblock %}

{% block content %}
<div class="login-content">
  <div class="lc-block toggled" id="l-login">
    {% include "dashboard/fragment/logo.html" %}
    <form method="post">{% csrf_token %}
      {% if error != None %}
      <div class="form-group has-error has-feedback">
        <label class="control-label" for="inputError2">{{ error }}</label>
      </div>
      {% endif %}
      <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="Username" name="email">
        </div>
      </div>
      <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
        <div class="fg-line">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
      </div>
      <div class="clearfix"></div>
      <button id="login" href="#" type="submit" name="submit" class="btn btn-login btn-danger btn-float" type=""><i class="zmdi zmdi-arrow-forward"></i></button>
    </form>
  </div>
</div>
{% endblock %}
