{% if content_list.paginator.num_pages > 1 %}
<div class="card-body text-center">
    <ul class="pagination">
        {% if content_list.has_previous %}
        <!-- <li><a ref="{{ content_list.previous_page_number }}" href="?page={{ content_list.previous_page_number }}&department={{ q_department }}&name={{ q_name }}" aria-label="Previous"><i class="zmdi zmdi-chevron-left"></i></a></li> -->
        {% endif %}

        {% if content_list.number == 1 %}
        <li class="active"><a ref="1" href="#">1</a></li>
        {% if content_list.paginator.page_range|length > 1 %}<li><a ref="2" href="?page=2&department={{ q_department }}&name={{ q_name }}">2</a></li>{% endif %}
        {% if content_list.paginator.page_range|length > 2 %}<li><a ref="3" href="?page=3&department={{ q_department }}&name={{ q_name }}">3</a></li>{% endif %}
        {% if content_list.paginator.page_range|length > 3  %}
            {% if content_list.paginator.page_range|length > 4 %}
            <li>...</li>
            {% endif %}
        <li><a ref="{{ content_list.paginator.page_range|length }}" href="?page={{ content_list.paginator.page_range|length }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.paginator.page_range|length }}</a></li>
        {% endif %}
        {% endif %}

        {% if content_list.number > 1 and content_list.number < content_list.paginator.page_range|length  %}
        {% if content_list.previous_page_number > 1  %}
        <li><a ref="1" href="?page=1&department={{ q_department }}&name={{ q_name }}">1</a></li>
            {% if content_list.previous_page_number > 2  %}
            <li>...</li>
            {% endif %}
        {% endif %}
        <li><a ref="{{ content_list.previous_page_number }}" href="?page={{ content_list.previous_page_number }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.previous_page_number }}</a></li>
        <li class="active"><a ref="{{ content_list.number }}" href="#">{{ content_list.number }}</a></li>
        <li><a ref="{{ content_list.next_page_number }}" href="?page={{ content_list.next_page_number }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.next_page_number }}</a></li>
        {% if content_list.next_page_number < content_list.paginator.page_range|length  %}
            {% if content_list.next_page_number|add:"1" < content_list.paginator.page_range|length  %}
            <li>...</li>
            {% endif %}
        <li><a ref="{{ content_list.paginator.page_range|length }}" href="?page={{ content_list.paginator.page_range|length }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.paginator.page_range|length }}</a></li>
        {% endif %}
        {% endif %}

        {% if content_list.number == content_list.paginator.page_range|length  %}
        {% if content_list.previous_page_number > 2  %}
        <li><a ref="1" href="?page=1&department={{ q_department }}&name={{ q_name }}">1</a></li>
            {% if content_list.previous_page_number > 3  %}
            <li>...</li>
            {% endif %}
        {% endif %}
        {% if content_list.previous_page_number > 1  %}
        <li><a ref="{{ content_list.previous_page_number|add:"-1" }}" href="?page={{ content_list.previous_page_number|add:"-1" }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.previous_page_number|add:"-1" }}</a></li>
        {% endif  %}
        <li><a ref="{{ content_list.previous_page_number }}" href="?page={{ content_list.previous_page_number }}&department={{ q_department }}&name={{ q_name }}">{{ content_list.previous_page_number }}</a></li>
        <li class="active"><a ref="{{ content_list.number }}" href="#">{{ content_list.number }}</a></li>
        {% endif %}

        {% comment %}
        {% for page in content_list.paginator.page_range %}
        {% if page == content_list.number %}
        <li class="active"><a ref="{{ page }}" href="#">{{ page }}</a></li>
        {% else %}
        <li ref="{{ page }}"><a href="?page={{ page }}&department={{ q_department }}&name={{ q_name }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% endcomment %}

        {% if content_list.has_next %}
        <!-- <li><a ref="{{ content_list.next_page_number }}" href="?page={{ content_list.next_page_number }}&department={{ q_department }}&name={{ q_name }}" aria-label="Next"><i class="zmdi zmdi-chevron-right"></i></a></li> -->
        {% endif %}
    </ul>
</div>
{% endif %}
