{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load group_tags %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Admin Account</strong></h2>
  </div>
  <div class="card-body card-padding">
    {% if error %}
    <div class="alert alert-warning" role="alert">
      <strong>Warning! {{ error }}</strong>
    </div>
    {% endif %}
    <div class="table-responsive">
      <form action="" method="post">{% csrf_token %}
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Role</th>
              <th>Account</th>
            </tr>
          </thead>
          <tbody>
            {% for group in group_list %}
              <tr>
                <td>{{ group.name }}</td>
                <td>
                  <div class="col-sm-5">
                    <input type="text" name="{{ group.id }}" class="form-control" />
                  </div>
                  <div class="col-sm-5">
                    {% if False %}
                    <div class="select">
                      <select name="department" class="form-control">
                          <option value="-1">Select Department</option>
                          {% for department in department_list %}
                          <option value="{{ department.id }}">{{ department.name|capfirst }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-sm-2">
                    <button type="submit" class="btn bgm-bluegray btn-sm waves-effect">Add</button>
                  </div>
                </td>
              </tr>
                {% for account in group.account_list %}
                <tr>
                  <td></td>
                  <td>
                    {% if False %}
                      {% for department_admin in department_admin_list %} {% if department_admin.account_id == account.id %}
                      <div class="col-xs-10 text-left">
                        {{ account.email }} ( {{ department_admin.department.name|capfirst }} )
                      </div>
                      <div class="col-xs-2">
                        <a href="{% url 'dashboard:permission_delete' group.id account.id %}?department={{ department_admin.department_id }}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                          <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                    {% else %}
                    <div class="col-xs-10 text-left">{{ account.email }}</div>
                    <div class="col-xs-2">
                      <a href="{% url 'dashboard:permission_delete' group.id account.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                        <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                      </a>
                    </div>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% empty %}
              <tr>
                <td class="text-center" colspan="9">No Permission</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
