{% load staticfiles %}

{% if user.is_authenticated %}
<div id="left-menu">
  <div class="profile-menu text-center">
    <div class="profile-pic">
      <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" />
    </div>
    <div class="profile-info">
      <h4>{{ user.get_display }}</h4>{% comment %}<i class="zmdi zmdi-caret-down"></i>{% endcomment %}
      <div class="dropdown permission">
        <a href="#" data-toggle="dropdown">{{ DASHBOARD_GROUP.name }} <i class="zmdi zmdi-caret-down"></i></a>
        <ul class="dropdown-menu dm-icon pull-left">
	         <li class="head">Group Permission</li>
      	  {% for group in DASHBOARD_GROUP_LIST %}
            <li {% if DASHBOARD_GROUP == group %}class="active"{% endif %}>
              <a href="{% if DASHBOARD_GROUP == group %}#{% else %}{% url 'dashboard:header_group_change' group.id %}{% endif %}">
  	             {{ group.name }}
  	           </a>
            </li>
      	  {% endfor %}
            <li class="head">Learning Center</li>
	         {% for provider in DASHBOARD_PROVIDER_LIST %}
            <li {% if DASHBOARD_PROVIDER == provider %}class="active"{% endif %}>
              <a href="{% if DASHBOARD_PROVIDER == provider %}#{% else %}{% url 'dashboard:header_provider_change' provider.id %}{% endif %}">
  	            {{ provider.name }}
  	          </a>
            </li>
      	  {% empty %}
      	  <li class="disabled">--Not Provider Admin--</li>
      	  {% endfor %}

      	  {% if IS_SUB_PROVIDER %}
                <li class="head">Sub Learning Center</li>
      	  {% for sub_provider in DASHBOARD_SUB_PROVIDER_LIST %}
                <li {% if DASHBOARD_SUB_PROVIDER == sub_provider %}class="active"{% endif %}>
                  <a href="{% if DASHBOARD_SUB_PROVIDER == sub_provider %}#{% else %}{% url 'dashboard:header_sub_provider_change' sub_provider.id %}{% endif %}">
                    {{ sub_provider.name }}
                  </a>
                </li>
                {% empty %}
                <li class="disabled">--Not SubProvider Admin--</li>
      	  {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <ul class="main-menu">
    <li {% if SIDEBAR == "home" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:home' %}"><i class="zmdi zmdi-home zmdi-hc-fw"></i> Dashboard</a>
    </li>
    {% if perms.account.view_account or perms.account.view_org_account or perms.department.view_department or perms.provider.view_provider or perms.auth.change_permission or perms.auth.change_group or perms.level.view_level %}
    <li class="head">Account Management</li>
    {% endif %}
    {% if perms.account.view_account or perms.account.view_org_account %}
    <li {% if SIDEBAR == "account" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:account-dashboard:home' %}"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Learner</a>
    </li>
    {% endif %}
    {% if perms.department.view_department %}
    <li {% if SIDEBAR == "department" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:department-dashboard:home' %}"><i class="zmdi zmdi-city zmdi-hc-fw"></i> Organization</a>
    </li>
    {% endif %}
    {% if perms.provider.view_provider %}
    <li {% if SIDEBAR == "provider" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:provider:home' %}">
        <i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Learning Center
      </a>
    </li>
    {% endif %}
    {% if perms.auth.change_permission %}
    <li {% if SIDEBAR == "permission" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:permission' %}"><i class="zmdi zmdi-pin-account zmdi-hc-fw"></i> Admin Account</a>
    </li>
    {% endif %}
    {% if perms.auth.change_group %}
    <li {% if SIDEBAR == "group" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:group' %}"><i class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Admin Authority</a>
    </li>
    {% endif %}

    {% if IS_CAREER_LEVEL %}
    {% if perms.level.view_level %}
    <li {% if SIDEBAR == "level" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:level-dashboard:home' %}"><i class="zmdi zmdi-menu zmdi-hc-fw"></i> Career Level</a>
    </li>
    {% endif %}
    {% endif %}


    {% if perms.featured.view_banner or perms.provider.view_provider or perms.provider.view_own_provider or perms.category.view_category or perms.course.view_courselevel or perms.featured.view_announcement or perms.tutor.view_tutor or perms.tutor.view_own_tutor or perms.term.view_content %}
    <li class="head">Content Management</li>
    {% endif %}
    {% if perms.featured.view_banner %}
    <li {% if SIDEBAR == "banner" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:featured:stand_alone' 'banner' %}"><i class="zmdi zmdi-star zmdi-hc-fw"></i> Banner Management</a>
    </li>
    {% endif %}

    {% if perms.provider.view_own_provider and DASHBOARD_PROVIDER %}
    <li {% if SIDEBAR == "provider_landing" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:provider:landing' DASHBOARD_PROVIDER.id %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Provider Content</a>
    </li>
    {% endif %}


    {% comment %}
    {% elif perms.subprovider.view_subprovider and DASHBOARD_PROVIDER %}
    <li {% if SIDEBAR == "provider" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:provider:landing' DASHBOARD_PROVIDER.id %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Sub-Provider Content</a>
    </li>
    {% elif perms.subprovider.view_own_subprovider and DASHBOARD_PROVIDER %}
    <li {% if SIDEBAR == "provider" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:provider:landing' DASHBOARD_PROVIDER.id %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Sub-Provider Content</a>
    </li>
    {% endcomment %}


    {% if perms.category.view_category %}
    <li {% if SIDEBAR == "category" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:category:home' %}"><i class="zmdi zmdi-labels zmdi-hc-fw"></i> Content Category</a>
    </li>
    {% endif %}
    {% if perms.course.view_courselevel %}
    <li {% if SIDEBAR == "level_content" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:course:level' %}"><i class="zmdi zmdi-format-list-numbered zmdi-hc-fw"></i> Content Level</a>
    </li>
    {% endif %}
    {% if perms.featured.view_announcement %}
    <li {% if SIDEBAR == "announcement" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:featured:stand_alone' 'announcement' %}"><i class="zmdi zmdi-portable-wifi zmdi-hc-fw"></i> Announcements</a>
    </li>
    {% endif %}
    {% if perms.tutor.view_tutor or perms.tutor.view_own_tutor %}
    <li {% if SIDEBAR == "tutor" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:tutor-dashboard:home' %}"><i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> Instructor</a>
    </li>
    {% endif %}

    {% comment %}
    {% if perms.term.view_content %}
    <li {% if SIDEBAR == "term" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:term-dashboard:home' %}"><i class="zmdi zmdi-alert-circle-o zmdi-hc-fw"></i> Terms of Service</a>
    </li>
    {% endif %}
    {% endcomment %}

    {% if perms.course.view_course or perms.course.view_own_course or perms.question.view_activity or perms.question.view_own_activity or perms.program.view_program or perms.program.view_own_program or perms.task.view_task or perms.task.view_own_task or perms.task.view_org_task or perms.program.view_onboard or perms.lesson.view_lesson or perms.lesson.view_own_lesson or perms.live.view_live %}
    <li class="head">Learning Management</li>
    {% endif %}
    {% if perms.course.view_course or perms.course.view_own_course %}
    <li {% if SIDEBAR == "course" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:course:home' %}"><i class="zmdi zmdi-collection-bookmark zmdi-hc-fw"></i> Course Management</a>
    </li>
    {% endif %}
    {% if perms.question.view_activity or perms.question.view_own_activity %}
    <li {% if SIDEBAR == "question" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:question:home' %}"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Test Management</a>
    </li>
    {% endif %}
    {% if perms.program.view_program or perms.program.view_own_program %}
    <li {% if SIDEBAR == "program" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:program-dashboard:home' %}"><i class="zmdi zmdi-storage zmdi-hc-fw"></i> Program Management</a>
    </li>
    {% endif %}
    {% if perms.task.view_task or perms.task.view_own_task or perms.task.view_org_task %}
    <li {% if SIDEBAR == "task" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:task-dashboard:home' %}"><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> TO-DO Management</a>
    </li>
    {% endif %}
    {% if perms.program.view_onboard and IS_ONBOARD %}
    <li {% if SIDEBAR == "onboard" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:onboard-dashboard:home' %}"><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> OnBoard Management</a>
    </li>
    {% endif %}
    {% if IS_LESSON %}
    {% if perms.lesson.view_lesson or perms.lesson.view_own_lesson %}
    <li {% if SIDEBAR == "lesson" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:lesson-dashboard:home' %}"><i class="zmdi zmdi-border-color zmdi-hc-fw"></i> Article Management</a>
    </li>
    {% endif %}
    {% endif %}
    {% if IS_LIVE and perms.live.view_live %}
    <li {% if SIDEBAR == "live" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:live-dashboard:home' %}"><i class="zmdi zmdi-videocam zmdi-hc-fw"></i> Live Management</a>
    </li>
    {% endif %}


    {% if perms.order.add_order or perms.assignment.view_assignment or perms.assignment.view_own_assignment or perms.assignment.view_org_assignment or perms.assignment.add_assignment or perms.order.view_order or perms.order.view_own_order or perms.order.view_org_order or perms.promocode.view_promocode or perms.order.view_order or perms.order.view_own_order or perms.notification.view_message %}
    <li class="head">Assignment Management</li>
    {% endif %}
    {% if perms.order.add_order %}
    {% comment %}
    <li {% if SIDEBAR == "assigment" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:order-dashboard:assigment' %}"><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> Assigment</a>
    </li>
    {% endcomment %}
    {% endif %}
    {% if perms.assignment.view_assignment or perms.assignment.view_own_assignment or perms.assignment.view_org_assignment %}
    <li {% if SIDEBAR == "assignment" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:assignment:home' %}"><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> Assignment</a>
    </li>
    {% endif %}
    {% if perms.order.view_order or perms.order.view_own_order or perms.order.view_org_order %}
    {% comment %}
    <li {% if SIDEBAR == "assign_list" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:order-dashboard:home' %}?filter=assign"><i class="zmdi zmdi-format-align-left zmdi-hc-fw"></i> Assignment List</a>
    </li>
    {% endcomment %}

    {% if ORDER__IS_ENROLL_REPORT %}
    <li {% if SIDEBAR == "register_list" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:order-dashboard:home' %}?filter=normal"><i class="zmdi zmdi-format-align-left zmdi-hc-fw"></i> Self Enroll List</a>
    </li>
    {% endif %}


    {% endif %}
    {% comment %}
    {% if perms.promocode.view_promocode %}
    <li {% if SIDEBAR == "promocode" %}class="active"{% endif %}>
      <a href="{# {% url 'dashboard:home' %} #}#"><i class="zmdi zmdi-collection-item-1 zmdi-hc-fw"></i> Promo Code</a>
    </li>
    {% endif %}
    {% if perms.order.view_order or perms.order.view_own_order %}
    <li {% if SIDEBAR == "order_summary" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:order-dashboard:summary' %}"><i class="zmdi zmdi-format-indent-increase zmdi-hc-fw"></i> Registration Summary</a>
    </li>
    {% endif %}
    {% endcomment %}
    {% if perms.notification.view_message %}
    <!-- <li {% if SIDEBAR == "notification" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:notification-dashboard:home' %}"><i class="zmdi zmdi-notifications zmdi-hc-fw"></i> Alert & Notificaton</a>
    </li> -->
    {% endif %}
    {% if perms.inbox.view_inbox or perms.inbox.view_org_inbox  %}
    <li {% if SIDEBAR == "inbox" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:inbox:home' %}"><i class="zmdi zmdi-smartphone-ring zmdi-hc-fw"></i> Direct Message</a>
    </li>
    {% endif %}

    {% if perms.progress.view_progress or perms.progress.view_own_progress or perms.progress.view_org_progress %}
    <li class="head">Progress & Report</li>
    {% endif %}
    {% if perms.progress.view_progress or perms.progress.view_org_progress %}
    <li {% if SIDEBAR == "progress-account" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:progress:account' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Learner Progress & Report</a>
    </li>
    {% endif %}
    {% if perms.progress.view_progress or perms.progress.view_own_progress %}
    <li {% if SIDEBAR == "progress-course" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:progress:content_course' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Course Progress & Report</a>
    </li>
    <li {% if SIDEBAR == "progress-question" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:progress:content_question' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Test Progress & Report</a>
    </li>
    <li {% if SIDEBAR == "progress-program" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:progress:content_program' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Program Progress & Report</a>
    </li>
    <li {% if SIDEBAR == "progress-onboard" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:progress:content_onboard' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Onboard Progress & Report</a>
    </li>
    {% endif %}
    {% comment %}
    <li {% if SIDEBAR == "log" %}class="active"{% endif %}>
      <a href="{% url 'dashboard:log:home' %}"><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> Log</a>
    </li>
    {% endcomment %}
  </ul>
</div>
{% endif %}
