{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block bodyclass %}bg-grey footer-fix-bottom-md{% endblock %}
{% block content %}
<div class="container container-stable">
    <form class="row" method="post">{% csrf_token %}
        <div class="col-md-3 text-center">
            <label class="profile-image top-pad">
                <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" class="avatar" />
            </label>
        </div>
        <div class="col-md-9">
            <h2 class="top-pad">{% trans "Change Password" %}</h2><br />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3"><label>{% trans "Old Password" %}</label></div>
                    <div class="col-sm-9"><input type="password" name="password" class="form-control" value="" required /></div>
                </div>
								<div class="form-group">
                    <div class="col-sm-3"><label>{% trans "New Password" %}</label></div>
                    <div class="col-sm-9"><input type="password" name="p1" class="form-control" value="" required /></div>
                </div>
								<div class="form-group">
                    <div class="col-sm-3"><label>{% trans "Confirm New Password" %}</label></div>
                    <div class="col-sm-9"><input type="password" name="p2" class="form-control" value="" required /></div>
                </div>
            </div>
            {% if msg != None %}
            <p class="error-msg {% if msg == 'Reset password success.' %}green{% else %}red{% endif %} text-center top-margin-little">{{ msg }}</p>
      			{% endif %}
            <p class="top-pad text-center">
                <input type="submit" class="btn-inline btn-main-color" value="Submit" />
            </p>
        </div>
    </form>
</div>
{% endblock %}
