{% load staticfiles %}
<div class="bg-white top-pad-20 bottom-pad-20">
    <div class="text-center profile">
        <label for="profile-image-input" class="profile-image" title="Click to upload new image.">
    	      {% if account.image %}
    	      <img src="{{ account.image.url }}" class="avatar">
    	      {% else %}
    	      <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
    	      {% endif %}
            <span class="btn-upload"><i class="fa fa-camera"></i></span>
        </label>
        <input id="profile-image-input" accept="image/*" name="profile" type="file" />
        <h3 class="black bold">{{ account.first_name }} {{ account.last_name }}</h3>
        <p class="black bold">Department : <span class="main-color">{{ account.get_department_display }}</span> Position : <span class="main-color">{{ account.get_position_member_display }}</span></p>

        {% block profile-info %}
        {% if request.user.info %}
        <ul class="inline text-center small">
            <li>Hire date : {{ request.user.info.hire_date }}</li>
            <li>Position : {{ request.user.info.primary_position }}</li>
        </ul>
        {% if is_owner %}
        <a href="{% url 'profile_info' %}" class="btn btn-grey">
            <i class="fa fa-pencil grey"></i> Edit Profile
        </a>
        {% endif %}
        {% endif %}
        {% endblock %}
    </div>
</div>
