<div class="col-sm-8">
    <h2 class="top-pad">My Profile</h2><br />
    <p><strong>Employee Id :</strong> {% if account_info %} <span>{{ account_info.employee }}</span> {% else %} <span> - </span> {% endif %}</p><br />
    <p><strong>Full name :</strong> <span>{{ user.first_name }} {{ user.last_name }}</span></p><br />
    <p><strong>Email :</strong> <span>{{ user.email }}</span></p><br />
    <p><strong>Mobile No :</strong>
            {% if user.tel%}
                    <span>{{ user.tel }}</span>
            {% else %}
                {% if account_info %}
                    <span>{{ account_info.phone }}</span>
                {% else %}
                    <span> - </span>
                {% endif %}
            {%endif%}</p><br />
    <p><strong>Organization : </strong> <span>Advanced Info Service Public Company Limited</span></p>
</div>
