{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "css/plugin/croppie/croppie.css" %}" />
{% endblock %}
{% block script %}
<script src="{% static "js/plugin/croppie/croppie.min.js" %}"></script>
{% endblock %}
{% block bodyclass %}bg-grey footer-fix-bottom-md{% endblock %}
{% block content %}
<div class="container container-stable bottom-pad-80">
    <div class="row bottom-pad-80">
        <div class="col-sm-4 text-center">
            <label for="profile-image-input" class="profile-image top-pad" title="{% trans 'Click to upload new image.' %}">
                {% if user.image %}
                <img src="{{ user.image.url }}" class="avatar" />
                {% else %}
                <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                {% endif %}
            </label><br /><br />
            <label class="btn btn-main-color" for="profile-image-input">{% trans "Edit Profile Picture" %}</label>
            <input id="profile-image-input" accept="image/*" name="profile" type="file" />
        </div>
        {% include 'account/info_block.html' %}
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image.html' %}
{% endblock %}
