{% load static %}
{% load humanize %}

<li class="item-box">
  <a href="{% if item.status != 3 %}{% url 'question:detail' item.content_object.id item.id %}{% else %}#{% endif %}" class="image">
    <img class="cover" src="{% if item.content_object.image %}{{ item.content_object.image.url }}{% else %}{% static 'images/sample_course.jpg' %}{% endif %}" />
  </a>
  <a href="{% if item.status != 3 %}{% url 'question:detail' item.content_object.id item.id %}{% else %}#{% endif %}" class="detail">
    <div class="course-name">{{ item.content_object.name }}</div>
    <div class="category main-color bold">{{ item.content_object.category.name }}</div>
    {% if PROJECT == 'cimb' %}
    {% include "account/item_status.html" with item=item complete_status='Completed' text_center=True only %}
    {% else %}
    {% include "account/item_status.html" with item=item complete_status='Passed' text_center=True only %}
    {% endif %}
  </a>
  <a href="{% if item.status != 3 %}{% url 'question:detail' item.content_object.id item.id %}{% else %}#{% endif %}"><i class="fa fa-file-text-o type-icon"></i></a>
</li>
