{% load i18n %}
{% load humanize %}
{% load staticfiles %}

<li class="event static-detail profile">
  <a href="{% url 'course:detail' course.id course.item_obj.id %}" class="image-event">
    {% if course.image %}
    <img src="{{ course.image.url }}">
    {% endif %}
  </a>

  <!-- Ribbon Status -->
  {% if course.item_percent == 0 %}
    {% if course.item_method == 21 %}
    <div class="ribbon-wrapper ribbon-new-assign">
      <div class="ribbon-inner">{% trans "New Assigned" %}</div>
    </div>
    {% else %}
     <div class="ribbon-wrapper ribbon-new-add">
      <div class="ribbon-inner">{% trans "New Added" %}</div>
    </div>
    {% endif %}
  {% endif %}

  <!-- detail panel -->
  <div class="detail-event">
    <a href="{% url 'course:detail' course.id course.item_obj.id %}">
      <h3 style="height:62px;margin-top:-0px;">{{ course.name }}</h3>
    </a>
    <div class="instructor-sm">
      <a href="{% url 'tutor:detail' course.id %}">
    	    {% if course.tutor_object.image %}
          <img src="{{ course.tutor_object.image.url }}" class="avatar">
          {% else %}
        	<img src="{% static 'images/profile_default.jpg' %}" class="avatar">
        	{% endif %}
          <span>By {{ course.tutor_object.name|striptags|truncatechars:"40" }}<br />
              {{ course.category.name }}
              {% if course.provider != None %}
              <br /><small class="font-sm">{{ course.provider.name }}</small>
              {% endif %}
          </span>
      </a>


    </div>
    <div>
      {% if course.item_status == 1 %}
      <p class="main-color text-center">
        <i class="fa fa-exclamation-triangle"></i> {% trans "Waiting for payment" %}
      </p>
      {% elif course.item_status == 3 %}
      <div class="wrap-bar-sm">
        <div class="bar-sm">
          <div class="progress-bar-top" style="width:{{ course.item_percent }}%;"></div>
        </div>
        <p class="clear-pad">{{ course.item_percent }}%</p>
      </div>
      <div class="item-status-box expired">
         <p class="text-center item-status">{% trans "Expired" %}!</p>
      </div>
      {% elif course.item_status == 2 %}
      <div class="wrap-bar-sm">
          <div class="bar-sm">
            <div class="progress-bar-top" style="width:{{ course.item_percent }}%;"></div>
          </div>
          <p class="clear-pad">{{ course.item_percent }}%</p>
        </div>
        {% if course.item_percent == 100 %}
        <div class="item-status-box completed">
          <p class="text-center item-status"><i class="fa fa-check"></i> {% trans "Completed" %}!</p>
        </div>
        {% else  %}
        <div class="item-status-box">
        {% if course.status == 5 %}
          <p class="main-color text-center">
            <i class="fa fa-calendar"></i> {% trans "Coming soon" %}
          </p>
        {% else %}
          {% if course.item_obj.is_free and is_show_expired %}
          <p class="text-center item-status">
            <i class="fa fa-clock-o"></i> {% trans "No expiry" %}
          </p>
          {% elif course.item_obj.start != None and is_show_expired %}
          <p class="text-center item-status">
            <i class="fa fa-clock-o"></i> {% trans "Expired on" %} {{ course.item_obj.expired_date|date:"d M Y" }}
          </p>
          {% elif is_show_expired %}
          <p class="text-center item-status">
            <i class="fa fa-clock-o"></i> {% trans "Not started" %}
          </p>
          {% endif %}
        {% endif %}
        {% endif %}
        </div>
    {% endif %}
    </div>
    {% comment %}
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <p class="coursebox-overview">{{ course.overview|striptags|truncatechars:"90"}}</p>
      </div>
    </div>
    {% endcomment %}
  </div>
</li>
