<div class="status {% if text_center %}text-center{% endif %} {% if item.progress.status == 1 or item.progress.status == 5 %}in-progress{% elif item.progress.status == 2 %}completed{% elif item.progress.status == 3 %}fail{% elif item.progress.status == 4 %}expired{% endif %}">
    {% if item.progress.status == 1 %}
        In Progress /
        {% if item.expired_date.total_seconds == 0 %}<i class="fa fa-clock-o"></i> No Expiry
        {% elif item.start != None and item.expired_date != None %}Expire on {{ item.expired_date|date:"d M Y" }}
        {% else %}<i class="fa fa-clock-o"></i> No Expiry
        {% endif %}
    {% elif item.progress.status == 2 %}{{ complete_status }}
    {% elif item.progress.status == 3 %}Failed
    {% elif item.progress.status == 4 %}Expired
    {% elif item.progress.status == 5 %}Waiting for verifying
    {% endif %}
</div>
