{% load static %}
{% load content_tags %}

{% get_content_tag order_item.content_type_id order_item.content as content %}
<li class="item-box">
  <a href="{% url 'program:detail' content.id order_item.id %}" class="image">
    {% if content.image %}
    <img class="cover" src="{{ content.image.url }}">
    {% else %}
    {% include 'main/fragment/default_course_image.html' %}
    {% endif %}
  </a>
  <a href="{% url 'program:detail' content.id order_item.id %}" class="detail">
    <div class="course-name">{{ content.name }}</div>
    <div class="category main-color">{{ content.category.name }}</div>
    {% if order_item.status == 2 or order_item.status == 3 %}
    <div class="wrap-bar-sm">
      <div class="bar-sm">
        <div class="progress-bar-top" style="width:{{ order_item.progress.percent }}%;"></div>
      </div>
      <p class="clear-pad">
        {% if order_item.status == 2 %}
        {{ order_item.progress.content_complete }}/{{ order_item.progress.content_count }}
        {% else %}
        {{ order_item.progress.percent }}/{{ order_item.progress.percent }}
        {% endif %}
      </p>
    </div>
    {% include "account/item_status.html" with item=order_item complete_status="Completed" text_center=True only %}
    {% endif %}
  </a>
  <div class="instructor">
    {% if content.provider %}
    {% if content.provider.image %}
    <a href="{% url 'provider:detail' content.provider.id %}" class="square">
      <img src="{{ content.provider.image.url }}" />
    </a><br />
    {% endif %}
    <span>{{ content.provider.name }}</span>
    {% endif %}
    {% if content.get_extra.count_course > 0 %}<br />{{ content.get_extra.count_course }} Course {% endif %}
    {% if content.get_extra.count_question > 0 %}<br />{{ content.get_extra.count_question }} Test {% endif %}
    {% if content.get_extra.count_task > 0 %}<br />{{ content.get_extra.count_task }} TODO {% endif %}
  </div>
  <a href="{% url 'program:detail' content.id order_item.id %}"><i class="fa fa-th type-icon"></i></a>
</li>
