{% load humanize %}
{% load static %}

<li class="item-box">
  <a href="{% url 'course:detail' item.content_object.id item.id %}" class="image">
    {% if item.content_object.image %}
    <img class="cover" src="{{ item.content_object.image.url }}">
    {% else %}
    {% include 'main/fragment/default_course_image.html' %}
    {% endif %}
    <!-- Ribbon Status -->
    {% if item.progress.percent == 0 %}
    {% if item.order.method == 15 %}
    <div class="ribbon-wrapper ribbon-new-assign">
      <div class="ribbon-inner">New Assigned</div>
    </div>
    {% else %}
    <div class="ribbon-wrapper ribbon-new-add">
      <div class="ribbon-inner">New Added</div>
    </div>
    {% endif %}
    {% endif %}
  </a>
  <a href="{% url 'course:detail' item.content_object.id item.id %}" class="detail">
    <div class="course-name">
      {{ item.content_object.name }}
    </div>
    <div class="category main-color">
      {{ item.content_object.category.name }}
      {% if item.content_object.institute != None %}
      <br /><span class="font-sm">{{ item.content_object.institute.name }}</span>
      {% endif %}
    </div>

    {% if item.status == 1 %}
    <p class="main-color text-center">
      <i class="fa fa-exclamation-triangle"></i> Waiting for payment
    </p>
    {% elif item.status == 2 or item.status == 3 %}
    <div class="wrap-bar-sm">
      <div class="bar-sm">
        <div class="progress-bar-top" style="width:{{ item.progress.percent }}%;"></div>
      </div>
      <p class="clear-pad">{{ item.progress.percent|floatformat:0 }}%</p>
    </div>
    {% include 'account/item_status.html' with item=item complete_status='Completed' text_center=True only %}
    {% endif %}
  </a>
  {% if item.content_object.tutor_list|length > 0 %}
  <div class="instructor">
    {% for tutor in item.content_object.tutor_list %}
    <a href="{% url 'tutor:detail' tutor.id %}" class="square"><img src="{% if tutor.image %}{{ tutor.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" /></a>
    {% endfor %}
    <br /><a href="{% url 'tutor:detail' item.content_object.tutor_list.0.id %}">{{ item.content_object.tutor_list.0.name }}</a>
    {% if item.content_object.tutor_list|length > 1 %}
    <br /><span>and {{ item.content_object.tutor_list|length|add:"-1" }} more</span>
    {% endif %}
  </div>
  {% endif %}
  <a href="{% url 'course:detail' item.content_object.id item.id %}"><i class="fa fa-play-circle-o type-icon"></i></a>
</li>
