{% extends "base.html" %}
{% load static %}
{% load content_tags %}
{% load progress_tags %}

{% block bodyclass %}has-shelf {% if item_list|length <= 0 %}footer-fix-bottom bg-tree-fix-full{% endif %}{% endblock %}

{% block script %}
<script>
    $(function(){
        var itemPerRow = 4;
        var shelfItemCount = {{ item_list|length }};
        var row = Math.ceil(shelfItemCount/itemPerRow);
        var heightPerRow = 432;
        var shelfBarYPosition = 238;
        for(i=0;i<row;i++){
          $('<div class="shelf-bar" style="top:'+shelfBarYPosition+'px;"></div>').prependTo('ul.shelf-wrapper');
          shelfBarYPosition = shelfBarYPosition + heightPerRow;
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="relative">
  <div class="bg-tree-blur"></div>
  <h3 class="ribbon-bar">Welcome to Learning Library!</h3>
</div>
<div class="container container-stable relative">
  <h2 class="text-inset-main-color">PacRim Learning Center</h2>
  <hr />
  {% if item_list|length != 0 %}
  <p>Please finish your course(s) and program(s) before the expired date. Enjoy learnning!</p>
  {% else %}
  <div class="text-center">
    <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/icon-shelf-color.png' %}" class="top-pad-80" width="120" />
    <h4 class="top-margin-little">There's no course in your library.</h4>
  </div>
  {% endif %}
</div>
{% if item_list|length != 0 %}
<ul class="shelf-wrapper clearfix">
  {% for item in item_list %}<li class="item-shelf">
    {% get_content_tag item.content_type_id item.content as content %}
    {% pull_content_type_tag item.content_type_id as content_type %}
    {% pull_content_location_tag item.content_location_id as content_location  %}
    {% pull_progress_tag item content_location content_type item.content as progress %}
    {% get_content_type_name_tag content_type as content_type_name %}
    <a href="{{ item.url }}" class="image">
      {% if content.image %}
      <img class="cover" src="{{ content.image.url }}">
      {% else %}
      <img class="cover" src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/cover-01.jpg' %}">
      {% endif %}
    </a>
    <a href="{{ item.url }}" class="detail">
      <div class="item-name main-color">{{ content.name }}</div>
      {% if item.status == 2 or item.status == 3 %}
      <div class="wrap-bar-sm">
        <div class="bar-sm">
          <div class="progress-bar-top" style="width:{{ progress.percent|floatformat:"0" }}%;"></div>
        </div>
        <p class="clear-pad">{{ progress.percent|floatformat:"0" }}%</p>
      </div>
      {% endif %}
      <!-- <div class="item-type"><i class="fa {% if content_type_name == 'program' %}fa-th{% elif content_type_name == 'test' %}fa-file-text{% else %}fa-play-circle-o{% endif %}"></i> {{ content_type_name|capfirst }}</div> -->
      {% include "account/order_item_status.html" with complete_status='Completed' text_center=False %}
    </a>
  </li>{% endfor %}
</ul>
{% endif %}
<br class="clearfix" />
{% endblock %}
