{% load staticfiles %}
<!-- full page login -->
<div class="form-signin">
   <div class="modal-body">
      {% comment %}
      <button type="button" class="close" data-dismiss="modal">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
      {% endcomment %}
      <!-- login form -->
         <h4 class="text-center modal-promotion-header" style="display:none;">กรุณาเข้าสู่ระบบ เพื่อดำเนินการรับสิทธิ์ราคาพิเศษ และ เข้าสู่การชำระเงินถัดไป</h4>
         <div class="social-box">
            <button id="fb-login"  class="btn btn-fb btn-block fbloginbtn">
               <i class="fa fa-facebook"></i> เข้าสู่ระบบด้วยเฟสบุ๊ค <span><img class="button-loading" src="{% static "images/loading-sm.gif" %}" ></span>
            </button>
         </div>
         <div class="form-separator">
            <p>หรีิอ</p>
            <hr>
         </div>
         <form id="form-login" method="post" action="{% url 'login' %}">{% csrf_token %} {# for VS Scan #}
         <!-- input box -->
         <div  class="main">
           <input type="hidden" name="ref" value="{{ ref }}">
	         <input type="hidden" name="next" value="{{ next }}">
           <input name="email" type="email" class="form-control input-lg" placeholder="อีเมล" autofocus>
           <input name="password" type="password" class="form-control input-lg" placeholder="รหัสผ่าน" autocomplete="off">
           <div class="group-option">
             <input name="remember" type="checkbox"> จำรหัสผ่าน
             {% comment %}<a href="" class="pull-right">Forgot password?</a>{% endcomment %}
            </div>
            {% comment %}
            <p style="color:red;" >The following errors have occurred:</p>
            <ul style="margin-bottom:20px; color:red;">
                <li>Error</li>
            </ul>
            {% endcomment %}
            <p class="error-msg text-center" style="display:none;" >Error Message</p>
            <p id="login-error" class="main-color text-center" ><p>
            <span class="clearfix"></span>
            <button type="submit" class="btn-block btn-main-color btn-lg">เข้าสู่ระบบ</button>
         </div>
         <!-- form footer -->
         <div class="login-footer">
            <span>ยังไม่มีบัญชีผู้ใช้</span>
            {% if FULL_PAGE %}
            <a href="{% url 'signup' %}?ref={{ request.build_absolute_uri }}"  class="bold main-color">สมัครสมาชิก</a>
            {% else %}
            <a onclick="switchSignup()"  class="bold main-color">สมัครสมาชิก</a>
            {% endif %}
             /
            <a class="bold main-color" href="{% url 'forgot_password' %}" class="">ลืมรหัสผ่าน</a>
         </div>
        {% if not is_skip and is_lesson_detail %}
         <div class="login-footer" id="div-skip">
            <button type="button" class="btn btn-skip btn-lg btn-block" id="skip-button">Skip ></button>
         </div>
        {% endif %}
      </form>
   </div>
</div>
