<style>
.ie .menu-tab ul.flex li {
  width: 30%;
  padding: 0;
  text-align: center;
}
</style>

<div class="menu-tab">
    <ul class="nav unstyle text-center flex">{% if is_owner %}<li class="tab-course {% if select == 'course' %}active{% endif %}">
            <a href="{% url 'profile' %}">
                <span class="counter">{{ account_content.course }}</span><br />
                <span>Course{% if account_content.course > 1 %}s{% endif %}</span>
            </a>
        </li>{% endif %}<li class="tab-question {% if select == 'question' %}active{% endif %}">
            <a href="{% url 'profile_question' %}">
                <span class="counter">{{ account_content.question }}</span><br />
                <span>Test{% if account_content.question > 1 %}s{% endif %}</span>
            </a>
        </li><li class="tab-program {% if select == 'program' %}active{% endif %}">
            <a href="{% url 'profile_program' %}">
                <span class="counter">{{ account_content.program }}</span><br />
                <span>Program{% if account_content.program > 1 %}s{% endif %}</span>
            </a>
        </li>
    </ul>
</div>
