{% load i18n %}
<div class="status {% if text_center %}text-center{% endif %} {% if progress.status == 1 or progress.status == 5 %}in-progress{% elif progress.status == 2 %}completed{% elif progress.status == 3 %}fail{% elif progress.status == 4 %}expired{% endif %}">
    {% if progress.status == 1 %}
        {% trans "In Progress" %} /
        {% if item.expired_date.total_seconds == 0 %}<i class="fa fa-clock-o"></i> {% trans "No Expiry" %}
        {% elif item.start != None and item.expired_date != None %}{% trans "Expired on" %} {{ item.expired_date|date:"d M Y" }}
        {% else %}<i class="fa fa-clock-o"></i> {% trans "No Expiry" %}
        {% endif %}
    {% elif progress.status == 2 %}{% trans "Completed" %}
    {% elif progress.status == 3 %}{% trans "Failed" %}
    {% elif progress.status == 4 %}{% trans "Expired" %}
    {% elif progress.status == 5 %}{% trans "Waiting for verifying" %}
    {% endif %}
</div>
