{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}
{% load duration_tags %}
{% block css %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<link rel="stylesheet" href="{% static "css/category.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}
{% block script %}
<script src="{% static "js/plugin/rrssb.external.js" %}"></script>
{% endblock %}
{% block content %}
{% timezone "Asia/Bangkok" %}
{% include "account/header.html"%}
{% include "account/menu.html"%}
<div class="tab-content">
    <div id="course" class="tab-pane active">
        <div class="pinned-data data">
            {% if item_list|length > 0 %}
            <div class="container top-pad bottom-pad-20">
            {% for item in item_list %}
            <div  class="live-item">
                <div class="live-time">
                    {% if item.content_cached.status == 1 %}
                  	<strong>LIVE<br />NOW</strong>
                  	{% else %}
                  	<strong>{{ item.content_cached.start|date:"d" }}</strong><br />
                  	<span>{{ item.content_cached.start|date:"M y" }}</span>
                  	<hr />
                  	<span class="time">{{ item.content_cached.start|date:"H:i" }}-{{ item.content_cached.end|date:"H:i" }}</span>
                  	{% endif %}
                </div>
            		<div class="live-body">
            				<a href="{% url 'live:detail' item.content_cached.id %}" class="live-thumb" />
                        <img src="{{ item.content_cached.image.url }}" class="img-responsive" />
                    </a>
            				<div class="live-content">
            					  <h4 class="no-top-margin">{{ item.content_cached.name }}</h4>
            					  <div class="clearfix speaker-wrap">
            						    {% for tutor in item.content_cached.tutor_list %}
            							  {% if tutor.image %}
            							  <img src="{{ tutor.image.url }}" class="speaker-thumb img-circle" />
            							  {% endif %}
            						    {% endfor %}
            					  </div>
            					  <div class="live-action">
            						    {% if item.content_cached.status == 1 %}
            						    <a href="{% url 'live:detail' item.content_cached.id %}" type="button" class="btn-block btn-black">Watch Now!</a>
            						    {% else %}
            						    <a href="{% url 'live:detail' item.content_cached.id %}" type="button" class="btn-block btn-black">See detail</a>
            						    {% endif %}
            					  </div>
            				</div>
            		</div>
            </div>


                {% endfor %}
              </div>
            {% else %}
            <p class="top-pad-80 bottom-pad-80 text-center">ไม่มีถ่ายทอดสด</p>
            {% endif %}
        </div>
    </div>
</div>
{% endtimezone %}
{% endblock %}
