{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "css/course.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/croppie/croppie.css" %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block script %}
<script src="{% static "js/plugin/croppie/croppie.min.js" %}"></script>
<script>
    $(function() {
        $("select[name=gender]").val("{{user.gender}}");
        $("select[name=location]").val("{{user.location}}");
        $("#birthday-input").datepicker({ dateFormat: 'yy-mm-dd' });

        $("#continue-edit-button").click(function(event) {
            $("#redirect-input").val("0");
            $("#profile-form").submit();
        });
    });
</script>
{% endblock %}
{% block bodyclass %}bg-grey{% endblock %}
{% block content %}
<div class="container container-stable">
    <form action="{% url 'profile_edit_action' %}" class="row" method="post" enctype="multipart/form-data" id="profile-form">{% csrf_token %}
        <div class="col-md-3 text-center">
            <label for="profile-image-input" class="profile-image top-pad" title="Click to upload new image.">
                {% if user.image %}
                <img src="{{ user.image.url }}" class="avatar" />
                {% else %}
                <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                {% endif %}
            </label><br /><br />
            <label class="btn btn-main-color" for="profile-image-input">Edit Profile Picture</label>
            <input id="profile-image-input" accept="image/*" name="profile" type="file" />
        </div>
        <div class="col-md-9">
            <h2 class="top-pad">ข้อมูลส่วนตัว</h2><br />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4"><label>ชื่อ - นามสกุล :</label></div>
                    <div class="col-sm-4"><input type="text" name="firstname" class="form-control" placeholder="Firstname" value="{{user.first_name}}" required /></div>
                    <div class="col-sm-4"><input type="text" name="lastname" class="form-control" placeholder="Lastname" value="{{user.last_name}}" required /></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label>เพศ :</label></div>
                    <div class="col-sm-3">
                        <div class="dropdown">
                            <select name="gender" class="form-control" required>
                                 <option value="" disabled="">Selected Gender</option>
                                 <option value="1">Male</option>
                                 <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4"><label>วันเกิด :</label></div>
                    <div class="col-sm-3">
                        <input type="text" name="birthday" class="form-control" id="birthday-input" value="{{user.birthday.year}}-{{user.birthday.month|stringformat:'02d'}}-{{user.birthday.day|stringformat:'02d'}}" required />
                        <span class="icon icon-calendar form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label>จังหวัด :</label></div>
                    <div class="col-sm-3">
                        <div class="dropdown">{% include "form/province.html" with class_name="location" value="form-control" %}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label>เบอร์โทรศัพท์ :</label></div>
                    <div class="col-sm-3"><input type="text" name="tel" class="form-control" placeholder="เบอร์โทรศัพท์" value="{{user.tel}}" required /></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label >รายละเอียด และจุดประสงค์ :</label></div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" id="title" class="form-control" name="title" value="{{user.title}}" maxlength="60" />
                            <span class="input-group-addon count-word" form-text="#title" form-init="60">60</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label>เกี่ยวกับฉัน:</label></div>
                    <div class="col-sm-8"><input type="text" name="desc" class="form-control" value="{{user.desc}}" /></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        {% comment %}
                        <p class="form-hint">บอกว่าการมีคุณเป็นผู้เข้าพักหรือเจ้าของที่พักเป็นอย่างไร รูปแบบการเดินทางของคุณเป็นอย่างไร การเป็นเจ้าของที่พักบน Cocodemy เป็นอย่างไร</p>
                        {% endcomment %}
                    </div>
                </div>
            </div>

            {% if PLATFORM_ID == 1 %}
            <h2>ความไว้ใจและการยืนยันตัวตน</h2>
            <p class="form-hint">การยืนยันตัวตนของคุณเป็นวิธีที่ง่ายที่สุดที่จะช่วยสร้างความไว้ใจในชุมชน Cocodemy คุณสามารถเลือกเพิ่มการยืนยัน และเชื่อมต่อได้ดังนี้</p>
            {% endif %}

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4"><label>เชื่อมต่อกับ Facebook :</label></div>
                    <div class="col-sm-8">
                        <p class="form-hint">เชื่อมต่อกับ Facebook เพื่อร่วมแบ่งปันกับเพื่อนๆของคุณ</p>
                        {% if user.is_login_facebook %}
                        <p class="green"><i class="icon icon-check"></i>ยืนยันแล้ว</p>
                        {% else %}
                        <a id="fbconnect-button" onclick="connectFB()" class="btn btn-fb">
                            <i class="fa fa-facebook"></i> Connect with Facebook
                            <span><img class="button-loading" src="{% static "images/loading-sm.gif" %}" /></span>
                        </a>
                        <span id="fbconnect-error-msg" class="error-msg" style="display:none">
                            <i class="fa fa-cancel"></i> Error Message
                        </span>
                        <span id="fbconnect-success-msg" style="display:none" class="green">
                            <i class="fa fa-check"></i> ยืนยันแล้ว
                        </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label>การยืนยันด้วย Email:</label></div>
                    <div class="col-sm-8">
                          <p class="form-hint">ยืนยันตัวตน เพื่อเพิ่มความปลอดภัยให้กับบัญชีผ่านอีเมลของคุณ</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                          <input type="text" class="form-control" placeholder="{{user.email}}" disabled />
                    </div>
                    {% if user.is_verify %}
                    <div class="col-sm-4">
                          <p class="green"><i class="fa fa-check"></i>ยืนยันแล้ว</p>
                    </div>
                    {% else %}
                    <div class="col-sm-4">
                          <p class="red"><i class="fa fa-cancel"></i>ยังไม่ยืนยัน กรุณาไปที่อีเมลของคุณเพื่อยืนยัน</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                          <button type="button" class="btn btn-default btn-block" id="resend-email-button-profile-edit">ส่งอีเมลยืนยันอีกครั้ง</button>
                    </div>
                    {% comment %}
                    <div class="col-sm-4">
                          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#emailVerifyNewEmailModal">แก้ไขอีเมล</a>
                    </div>
                    {% endcomment %}
                    {% endif %}
                </div>
                <!--<div class="form-group">
                    <div class="col-sm-4"><label>การยืนยันด้วยโทรศัพท์มือถือ:</label></div>
                    <div class="col-sm-8">
                        <p class="form-hint">คุณมั่นใจได้ว่าเราจะแบ่งปันหมายเลขโทรศัพท์ของคุณกับสมาชิก Cocodemyอีกคน เมื่อคุณมีการจองที่พักที่ได้รับการยืนยันแล้วเท่านั้น</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <input type="text" class="form-control" disabled />
                    </div>
                    <div class="col-sm-4">
                        <p class="green"><i class="fa fa-check"></i>ยืนยันแล้ว</p>
                    </div>
                </div>-->
            </div>
            <p class="top-pad text-right">
                <a href="#" class="btn-inline btn-default">Cancel</a>
                <a href="#" id="continue-edit-button" class="btn-inline btn-default">Submit and Conitnues Editing</a>
                <input type="submit" class="btn-inline btn-main-color" value="Submit" />
            </p>
        </div>
        <input type="hidden" name="redirect" id="redirect-input" value="1" />
    </form>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image.html' %}
{% endblock %}
