{% extends "base.html" %}
{% load static %}

{% block bodyclass %}has-left-menu{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}" />
<link rel="stylesheet" href="{% static "css/category.css" %}" />
<link rel="stylesheet" href="{% static "css/app.css" %}" />
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}" />
<link rel="stylesheet" href="{% static "css/plugin/croppie/croppie.css" %}" />
{% endblock %}

{% block script %}
<script src="{% static "js/plugin/croppie/croppie.min.js" %}"></script>
{% endblock %}

{% block content %}
{% include "account/header.html"%}
{% include "account/menu.html"%}
{% include "account/stat.html"%}

<div class="tab-content">
  {% if select == 'course' or select == package.id %}
  {% if is_owner %}
  <div id="course" class="tab-pane active">
    <div class="pinned-data data">
      <ul class="box-wrapper">
        {% for item in item_course_list %}
	{% if item.content_object != None %}
    	{% include "account/item_course_block.html" with is_show_expired=True %}
	{% endif %}
        {% empty %}
        <div class="no-item">No courses.</div>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% elif select == "lesson_owner" %}
  {% if is_owner %}
  <div id="lesson-share" class="tab-pane active">
    <div class="pinned-data data">
      {% if lesson_shared_list|length > 0 %}
      <div class="container clearfix fix-min-height top-pad">
        <div class="scroller-mask-event">
          <ul class="scroller-list" id="lesson-section">
            {% for lesson in lesson_shared_list %}
	    {% include "lesson/profile.html" with is_owner=is_owner %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <p class="top-pad-80 bottom-pad-80 text-center">ไม่มีบทความ</p>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div id="practice" class="tab-pane active">
    <div class="pinned-data data">
      {% if lesson_shared_list|length > 0 %}
      <div class="container clearfix fix-min-height top-pad">
        <div class="scroller-mask-event">
          <ul class="scroller-list" id="lesson-section">
            {% for lesson in lesson_shared_list %}
	    {% include "lesson/profile.html" with is_owner=is_owner %}
            {% endfor %}
          </ul>
        </div>
        {% comment %}
        <div class="row">
          <div class="col-xs-12 text-center top-pad">
            <button class="btn btn-grey">Load more</button>
          </div>
        </div>
        {% endcomment %}
      </div>
      {% else %}
      <p class="top-pad-80 bottom-pad-80 text-center">ไม่มีบทความ</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% elif select == "lesson_subscribe" %}
  <div id="lesson-subscribe" class="tab-pane active">
    <div class="pinned-data data">
      {% if lesson_subscribe_list|length > 0 %}
      <div class="container clearfix fix-min-height top-pad">
        <div class="scroller-mask-event">
          <ul class="scroller-list" id="lesson-section">
            {% for lesson in lesson_subscribe_list %}
	    {% include "lesson/profile.html" with is_owner=False %}
            {% endfor %}
          </ul>
        </div>
        {% comment %}
        <div class="row">
          <div class="col-xs-12 text-center top-pad">
            <button class="btn btn-grey">Load more</button>
          </div>
        </div>
        {% endcomment %}
      </div>
      {% else %}
      <p class="top-pad-80 bottom-pad-80 text-center">ไม่มีบทความ</p>
      {% endif %}
    </div>
  </div>
  {% elif select == "question" %}
  <div class="tab-pane active">
    <div class="pinned-data data">
      <ul class="box-wrapper">
        {% for item in question_list %}
        {% include "account/item_question_block.html" %}
        {% empty %}
        <div class="no-item">No Tests.</div>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block modal %}
{% include "main/modal/modal_crop_image.html" %}
{% endblock %}
