{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}
{% load duration_tags %}

{% block bodyclass %}has-left-menu{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<link rel="stylesheet" href="{% static "css/category.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block script %}
<script src="{% static "js/plugin/rrssb.external.js" %}"></script>
{% endblock %}

{% block content %}
{% timezone "Asia/Bangkok" %}
{% include "account/header.html"%}
{% include "account/menu.html"%}
{% include "account/stat.html"%}

<div class="tab-content" >
  <div id="course" class="tab-pane active">
    <div class="pinned-data data">
      <ul class="box-wrapper">
        <h1>Program</h1>
        {% for order_item in order_item_list %}
        {% include "account/item_program_block.html" with is_show_expired=True %}
        {% empty %}
        <div class="no-item">No Program</div>
        {% endfor %}
      </ul>
      {% if IS_ONBOARD_ACTIVE and PROJECT != 'cimb' %}
      <hr>
      <ul class="box-wrapper">
        <h1>Onboard</h1>
        {% for order_item in order_item_onboard_list %}
        {% include "account/item_onboard_block.html" with is_show_expired=True %}
        {% empty %}
        <div class="no-item" style="margin-top:20px;">No onboard</div>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endtimezone %}
{% endblock %}
