{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}
<div class="form-signin">
	  <div class="modal-body">
      {% if msg != None %}
      <p class="text-center red">{{ msg }}</p>
      {% endif %}
      {% if forgot %}
          <form action="" method="post">{% csrf_token %}
            <h2>Set your password</h2>
            <input name="p1" type="password" class="form-control input-lg" placeholder="New Password" autofocus>
            <input name="p2" type="password" class="form-control input-lg" placeholder="Confirm Password">
            <button type="submit" class="btn-block btn-main-color btn-lg">Submit</button>
          </form>
      {% endif %}
	  </div>
</div>
{% endblock %}
