{% if select == 'course' or select == 'question' or select == 'program' %}
{% if progress_stat %}
<div class="stat-library">
    <div class="container container-stable no-pad-xs">
        <ul class="unstyle text-center stat">
            <li class="in-progress inline-block"><a href="?progress=1"><small><span>{{ progress_stat.1 }}</span></small><span>In Progress</span></a></li>
            {% if select == 'question' %}
            <li class="in-progress inline-block"><a href="?progress=5"><small><span>{{ progress_stat.5 }}</span></small><span>Verifying</span></a></li>
            {% endif %}
            <li class="completed inline-block"><a href="?progress=2"><small><span>{{ progress_stat.2 }}</span></small><span>{% if select == 'question' and PROJECT != 'cimb' %}Passed{% else %}Completed{% endif %}</span></a></li>
            <li class="failed inline-block"><a href="?progress=3"><small><span>{{ progress_stat.3 }}</span></small><span>Failed</span></a></li>
            <li class="expired inline-block"><a href="?progress=4"><small><span>{{ progress_stat.4 }}</span></small><span>Expired</span></a></li>
        </ul>
    </div>
</div>
{% endif %}
{% endif %}
