<div class="wrap">
 <div class="container">
  <div class="featured-title">
   <h2 class="bold"><span class="red">ติวออนไลน์ไร้ขีดจำกัด</span> โดยสถาบันคุณภาพ</h2>
   <div class="scroller text-center">
    <div class="scroller-mask-event">
      <br>
      {% for institute in highlight_institute_list %}
      <div class="item-institute">
        <a href="{% url 'institute:detail' institute.institute.slug %}" alt="institute"><img src="{{ institute.image.url }}"></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
</div>
