{% load staticfiles %}
<a rel="" class="facebook-share social-share popup">
    <i class="icon icon-facebook"></i>
</a>
<a rel="{{title|striptags}} {{request.build_absolute_uri}} via {{TWITTER_ACCOUNT}}" class="twitter-share social-share popup">
    <i class="icon icon-twitter" class="twitter-share social-share">
</i>
</a>
<a rel="{{title|striptags}}" class="social-share google-plus-share popup">
    <i class="icon icon-gplus"></i>
</a>