{% load staticfiles %}
<div class="row">
    <div class="col-xs-4">
        <a rel="" class="btn btn-primary btn-lg btn-block facebook-share social-share popup">
            <img src="{% static "images/social/facebook.png" %}">
            <span class="hidden-xs">Share</span>
        </a>
    </div>
    <div class="col-xs-4">
        <a rel="{{title|striptags}} {{request.build_absolute_uri}} via {{TWITTER_ACCOUNT}}" class="btn bgm-bluegray btn-lg btn-block twitter-share social-share popup">
            <img src="{% static "images/social/twitter.png" %}">
            <span class="hidden-xs">Tweet</span>
        </a>
    </div>
    <div class="col-xs-4">
        <a rel="{{title|striptags}}" class="btn btn-danger btn-lg btn-block social-share google-plus-share popup">
            <img src="{% static "images/social/googleplus.png" %}">
            <span class="hidden-xs">Share</span>
        </a>
    </div>
</div>
