{% load staticfiles %}
<div class="form-signin">
   <div class="modal-body">
      {% if true %}
      <button type="button" class="close" data-dismiss="modal">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
      {% endif %}
         <div class="social-box">
            <h4 class="text-center"></h4>
         </div>
         <div class="form-separator">
               <p></p>
            <hr>
         </div>
         <form id="form-verify" method="post" action="/mailer/resend_verify_email/">
            <div class="main" id="modal-content">
               {% csrf_token %}
               <h4 class="text-center">Verify account in your email inbox</h4>
               <p class="error-msg text-center" style="display:none;" >Error Message</p>
               <div class="form-separator">
                     <p>or</p>
                  <hr>
               </div>
               <br/>
               <button type="button" class="btn-block btn-main-color btn-lg" id="resend-email-button">Resend Verify Email</button>
            </div>
            <div class="login-footer">
            </div>
      </form>
   </div>
</div>
