<div class="row">
      <div class="col-sm-10 col-sm-offset-1">  
        <div class="form-group">
            <label for="topic" class="col-sm-2 control-label">Lesson Topic:</label>
            <div class="col-sm-10">
                <div class="input-group">
                  <input class="form-control lesson-subject" placeholder="What's your lesson topic?" name="topic" type="text" value="" id="topic" maxlength="59">
                  <span class="input-group-addon count-word" form-text="#topic" form-init="60" >100</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category:</label>
            <div class="col-sm-5">
                <div class="dropdown">
                  <select class="form-control modal-create-lesson lesson-category" id="category" name="category">
                    <option value="0" disabled="disabled">Select Category</option>
                    <option value="1">Academy</option>
                    <option value="2">Experience</option>
                    <option value="4">Business Professional</option>
                  </select>
               </div>
            </div>
            <div class="col-sm-5">
                <div class="dropdown">
                  <select class="form-control modal-create-lesson lesson-subcategory" id="subcategory" name="subcategory">
                    <option value="0" disabled="disabled">Select Sub Category</option>
                  </select>
               </div>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Type:</label>
            <div class="col-sm-5">
                <div class="dropdown">
                 <select class="form-control modal-create-lesson lesson-type" id="type" name="type">
                  <option value="0" disabled="disabled">Select Type</option>
                  <option value="5">Lesson</option>
                </select>
            </div>
            <div class="col-sm-5">
                <div class="dropdown">
                 <select class="form-control modal-create-lesson lesson-level" id="level" name="level">
                  <option value="0" disabled="disabled">Select Level</option>
                  <option value="1">Beginner</option>
                  <option value="2">Beginner, Intermediate</option>
                  <option value="3">Intermediate</option>
                  <option value="4">Intermediate , Expert</option>
                  <option value="5">Expert</option>
                  <option value="6">General</option>
                </select>
               </div>
            </div>
        </div>
      </div>
</div>