<div class="social-link text-center">
    <p>Follow and update good lessons from {{ DOMAIN }}</p>
    <div class="fb-like" data-href="{{FB_PAGE_URL}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    {% comment %}
    <a target="_blank" href="https://www.facebook.com/pages/Conicle/680297472051881"><img src="/static/images/social_facebook.png"></a>
    <a target="_blank" href="https://twitter.com/ConicleDotCom"><img src="/static/images/social_twitter.png"></a>
    {% endcomment %}
</div>
