{% load staticfiles %}
<div class="form-signin">
   <div class="modal-body">
      {% if true %}
      <button type="button" class="close" data-dismiss="modal">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
      {% endif %}
         <div class="social-box">
            <h4 class="text-center"></h4>
         </div>
         <div class="form-separator">
               <p></p>
            <hr>
         </div>
         <form id="form-verify" method="post" action="/mailer/resend_verify_email_with_specific_email/">
            <div class="main" id="modal-content-new-email">
               {% csrf_token %}
               <h4 class="text-center">Enter your email</h4>
               <input name="email" id="new-email" type="text" class="form-control input-lg" placeholder="Your Email" autocomplete='off' autofocus required>
               <div class="group-option">
               </div>
               <p class="error-msg text-center" id="error-msg" style="display:none;" >Error Message</p>
               <span class="clearfix"></span>
               <button type="button" class="btn-block btn-main-color btn-lg" id="send-new-email-button">Send Verify Email</button>
            </div>
            <div class="login-footer">
            </div>
      </form>
   </div>
</div>
