<div class="wrap hero-subject hidden-xs">
 <div class="container">
  <h1 class="text-center bold">คอร์สเข้มข้นจากติวเตอร์ชื่้อดัง ครบทุกวิชา</h1>
  <!--  comment-->
  <ul class="nav nav-tabs nav-hero" role="tablist">
   <li role="presentation" class="active">
    <a href="#admission" aria-controls="admission" role="tab" data-toggle="tab">Admissions</a></li>
    <li role="presentation">
     <a a href="#high-school" aria-controls="high-school" role="tab" data-toggle="tab">ม.ปลาย</a></li>
     <li role="presentation">
      <a a href="#junior-high-school" aria-controls="junior-high-school" role="tab" data-toggle="tab">ม.ต้น</a></li>
    </ul>
    <!-- endcomment -->
    <!-- SECTION 1 -->
    <div class="tab-content" style="margin-top:20px;">
      <div class="wrap wrap-subject-box tab-pane active" id="admission">
       <a class="subject-box box01" href="{% url 'course:home' %}?menu=subject&subject=1423680054002879">
        <h3 class="white">คณิต<br>
         <i class="icon icon-chart-area"></i>
       </h3>
     </a>
     <a class="subject-box box02" href="{% url 'course:home' %}?menu=subject&subject=1423679994002878">
      <h3 class="white">ฟิสิกส์<br>
       <i class="icon icon-rocket"></i>
     </h3>
   </a>
   <a class="subject-box box03" href="{% url 'course:home' %}?menu=subject&subject=1423737755002131&level=1431165008002802">
    <h3 class="white">เคมี<br>
     <i class="fa fa-flask"></i>
   </h3>
 </a>
 <a class="subject-box box04" href="{% url 'course:home' %}?menu=subject&subject=1427956806002532&level=1431165008002802">
  <h3 class="white">ชีวะ<br>
   <i class="icon icon-flow-tree"></i>
 </h3>
</a>
<a class="subject-box box05" href="{% url 'course:home' %}?menu=subject&subject=1423733714002099&level=1431165008002802">
  <h3 class="white">อังกฤษ<br>
   <i class="icon">EN</i>
 </h3>
</a>
<a class="subject-box box06" href="{% url 'course:home' %}?menu=subject&subject=1427956858002538&level=1431165008002802">
  <h3 class="white">ไทย<br>
   <i class="icon">TH</i>
 </h3>
</a>
<a class="subject-box box07" href="{% url 'course:home' %}?menu=subject&subject=1423741550002170">
  <h3 class="white">สังคม<br>
   <i class="icon icon-globe"></i>
 </h3>
</a>
<a class="subject-box box08" href="{% url 'course:home' %}?menu=subject&subject=1437487247002809&level=1427390113002168">
  <h3 class="white">ONET<br>
   <i class="fa fa-flag-o"></i>
 </h3>
</a>
<a class="subject-box box09" href="{% url 'course:home' %}?menu=subject&subject=1437487121002795&level=1427390113002168">
  <h3 class="white">GAT PAT<br>
   <i class="fa fa-bullseye"></i>
 </h3>
</a>
<a class="subject-box box10" href="{% url 'course:home' %}?menu=subject&subject=1437487145002797&level=1427390113002168">
  <h3 class="white">โควต้า/รับตรง<br>
   <i class="fa fa-bell-o"></i>
 </h3>
</a>
</div>

<!-- SECTION 2 -->
<!-- comment -->
<div class="wrap wrap-subject-box tab-pane" id="high-school">
 <a class="subject-box box01" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1423680054002879">
  <h3 class="white">คณิต<br>
   <i class="icon icon-chart-area"></i>
 </h3>
</a>
<a class="subject-box box02" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1423679994002878">
  <h3 class="white">ฟิสิกส์<br>
   <i class="icon icon-rocket"></i>
 </h3>
</a>
<a class="subject-box box03" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1423737755002131">
  <h3 class="white">เคมี<br>
   <i class="icon icon-flow-tree"></i>
 </h3>
</a>
<a class="subject-box box04" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1427956806002532">
  <h3 class="white">ชีวะ<br>
   <i class="fa fa-flask"></i>
 </h3>
</a>
<a class="subject-box box05" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1423733714002099">
  <h3 class="white">อังกฤษ<br>
   <i class="icon">EN</i>
 </h3>
</a>
<a class="subject-box box06" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1427956858002538">
  <h3 class="white">ไทย<br>
   <i class="icon">TH</i>
 </h3>
</a>
<a class="subject-box box07" href="{% url 'course:home' %}?menu=level&level=1431165008002802&subject=1423741550002170">
  <h3 class="white">สังคม<br>
   <i class="icon icon-globe"></i>
 </h3>
</a>        
</div>
<!-- SECTION 3 -->
<div class="wrap wrap-subject-box tab-pane" id="junior-high-school">
 <a class="subject-box box02" href="{% url 'course:home' %}?menu=level&level=1431164999002797&subject=1423679994002878">
  <h3 class="white">ฟิสิกส์<br>
   <i class="icon icon-rocket"></i>
 </h3>
</a>
<a class="subject-box box07" href="{% url 'course:home' %}?menu=level&level=1431164999002797&subject=1423741550002170">
  <h3 class="white">สังคม<br>
   <i class="icon icon-globe"></i>
 </h3>
</a>
</div>
</div>
</div>
</div>
