{% load staticfiles %}
<a rel="" class="facebook-share social-share popup">
    <img src="{% static "images/rrssb_facebook.png" %}" alt="Share Facebook">
</a>
<a rel="{{ title|striptags }} {{ request.build_absolute_uri }} via {{ TWITTER_ACCOUNT }}" class="twitter-share social-share popup">
    <img src="{% static "images/rrssb_twitter.png" %}" alt="Share Twitter">
</a>
<a rel="{{ title|striptags }}" class="social-share google-plus-share popup">
    <img src="{% static "images/rrssb_google.png" %}" alt="Share Google">
</a>
