{% load humanize %}
<div class="media">
    <a class="pull-left">
        <img src="{{ review.account.image}}" class="avatar" />
    </a>
    <div class="media-body">
        <div class="exp-row">
            <div class="exp-told">
                <p>{{ review.desc|truncatewords:"20" }}</p>
                <div class="rating">
                    <i  class="icon icon-star {% if review.rate > 0.5 %}active{%endif%}"></i>
                    <i  class="icon icon-star {% if review.rate > 1.5 %}active{%endif%}"></i>
                    <i  class="icon icon-star {% if review.rate > 2.5 %}active{%endif%}"></i>
                    <i  class="icon icon-star {% if review.rate > 3.5 %}active{%endif%}"></i>
                    <i  class="icon icon-star {% if review.rate > 4.5 %}active{%endif%}"></i>
                    <i>{{ review.timestamp|naturaltime }}</i>
                </div>
                <p>{{ review.account.first_name }} {{ review.account.last_name }} - Head of technology</p>
            </div>
        </div>
    </div>
</div>
