<div class="mainmenu " data-spy="affix" data-offset-top="56">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="navmenu">
               <ul>
                  <li><a href="#overview" class="selected">Overview</a></li>
                  <li><a href="#aboutCourse">About This Course</a></li>
                  <li><a href="#courseOutline">Course Outline</a></li>
                  <li><a href="#review">Review</a></li>
                  <li><a href="#aboutInstructor">About Instructor</a></li>
                  <li><a href="#aboutLocation">Location</a></li>
                  <li><a href="#aboutPolicy">Policy</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>