<div class="modal fade" id="takeCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
          <h3>Enroll</h3>
          <p style="border-top:1px solid #eee; padding-top:15px;">Do you want to add this course ?</p>
          {% if user.is_authenticated %}
          <a href="{% url 'course:buy' course.id %}" class="btn-block btn-main-color btn-lg">{% if course.price_web > 0 > 0 %}Buy this course{%else%}Enroll{%endif %}</a>
          {% else %}
          <a data-toggle="modal" data-target="#loginModal" class="btn-block btn-main-color btn-lg">{% if course.price_web > 0 > 0%}Buy this course{%else%}Enroll{%endif %}</a>
          {% endif %}
      </div>
  </div>
</div>
