{% extends "base.html" %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/category.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
<style type="text/css">

.scroller-list li.event {
   list-style: none;
   display: inline-block;
   position: relative;
   overflow: hidden;
   background-color: #E0E0E0;
   margin: 5px;
   cursor: pointer;
}
.detail-event h3 {
   color: #333;
   text-decoration: none;
   font-size: 18px;
   overflow: hidden;
   height: 47px;
}

@media (max-width: 991px) {
  .scroller-list li.event {
    width: 184px;
    height: 282px;
    margin: 0px;

  }
}
@media (min-width: 991px) {
  .scroller-list li.event {
    width: 250px;
    height: 322px;
  }
}
</style>

{% endblock %}

{% block footerscript %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block content %}
{% comment %}
<div  style="padding-top:20px; padding-bottom:20px; width:100%; min-width:1170px; background-color: rgb(224, 224, 224);">
  <div class="wrap-featured text-center" >
    <p class="font-bold" style="font-size:25px;">“Lesson Corners” ...Your Daily Learning Community</p>
    <p class="text-center"><a target="_blank" class="btn btn-main-color btn-lg" href="{% url 'lesson:create' %}" role="button">แบ่งปัน Lesson ของคุณ</a></p>
  </div>
</div>
{% endcomment %}
<div class="hero-mask">
  <img style="width:100%; margin-top:0px;" src="{% static "images/lesson_cover.jpg" %}" class="active">
</div>
<div class="container clearfix" >
  {% comment %}
  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-featured text-center" >
        <p class="font-bold" style="font-size:25px;">“Lesson Corners” ...Your Daily Learning Community</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a target="_blank" class="btn btn-main-color btn-lg" href="{% url 'lesson:create' %}" role="button">แบ่งปัน Lesson ของคุณ</a></p>
        {% else %}
        <p class="text-center"><a  class="btn btn-main-color btn-lg" data-toggle="modal" data-target="#loginModal" role="button">แบ่งปัน Lesson ของคุณ</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endcomment %}
  {% comment %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'lesson:home' %}">Lesson</a></li>
      <li class="active">{{ highlight.menu|capfirst }}</li>
    </ol>
  </div>
  {% endcomment %}
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div class="side" style="margin-top:20px;">
        <!-- lookink for results -->
        {% comment %}
        <div class="lookfor">
          <div class="lookfor-head">
            You're looking for
          </div>
          <ul class="lookfor-box">
            {% for highlight in highlight_menu %}
            <li>
              {{ highlight.menu }}
              <a href="{% url 'lesson:category'  highlight.id %}" class="del">
                <i class="icon icon2x icon-cancel"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        {% endcomment %}
        <!-- set 1 -->
        <div class="side-bottom hidden-xs" style="font-size:26px;">
          Lesson Corners
        </div>

        <div class="side-box">
          <ul>
            <!--- featured -->
            {% if not highlight.id %}
            <a   href="{% url 'lesson:category_featured' %}">
              <li class="bg-category-active" style="border-bottom: 1px solid #E0E0E0; padding: 10px 0 0px 10px; margin-top:-5px;">
                <div>
                  <p class="white" style="font-size:15px; font-weight:bold;">Featured</p>
                  <p class="white">เรื่องราวและความรู้ดีๆที่น่าสนใจ</p>
                </div>
              </li>
            </a>
            {% else %}
            <a  href="{% url 'lesson:category_featured' %}">
              <li  style="border-bottom: 1px solid #E0E0E0; padding: 10px 0 0px 10px; margin-top:-5px;">
                <p class="red" style="font-size:15px; font-weight:bold;">Featured</p>
                <p class="black">เรื่องราวและความรู้ดีๆที่น่าสนใจ</p>
              </li>
            </a>
            {% endif %}
            <!--- end featured -->
            {% for highlight_menu in highlight_menu_list %}
            {% if highlight_menu.id == highlight.id %}
            <a  href="{% url 'lesson:category'  highlight_menu.id %}">
              <li class="bg-category-active" style="border-bottom: 1px solid #E0E0E0; padding: 10px 0 0px 10px; margin-top:-5px;">
                <div>
                  <p class="white" style="font-size:15px; font-weight:bold;">{{ highlight_menu.menu }}</p>
                  <p class="white">{{ highlight_menu.tagline }}</p>
                </div>
              </li>
            </a>
            {% else %}
            <a  href="{% url 'lesson:category'  highlight_menu.id %}">
              <li style="border-bottom: 1px solid #E0E0E0; padding: 10px 0 0px 10px; margin-top:-5px;">
                <p class="red" style="font-size:15px; font-weight:bold;">{{ highlight_menu.menu }}</p>
                <p class="black">{{ highlight_menu.tagline }}</p>
              </li>
            </a>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <!-- Title -->
      {% comment %}
      <div class="featured-title">
        <div class="main-title">
          <h2> <span class="red tranform-none">{{ highlight.title }}</span><span class="section-title">{{ highlight.tagline }}</span></h2>
        </div>
      </div>
      {% endcomment %}
      {% if highlight %}
      <div class="featured-title clear-pad" style="border-bottom: 1px solid #E0E0E0;">
        <div class="main-title" style="margin-bottom: 10px;">
          <h2>
            <span class="red tranform-none">{{highlight.menu}}</span>
            <span class="section-title">{{highlight.tagline}}</span>
          </h2>
        </div>
      </div>
      {% else %}
      <div class="featured-title clear-pad" style="border-bottom: 1px solid #E0E0E0;">
        <div class="main-title" style="margin-bottom: 10px;">
          <h2>
            <span class="red tranform-none">Featured</span>
            <span class="section-title">เรื่องราวและความรู้ดีๆที่น่าสนใจ</span>
          </h2>
        </div>
      </div>
      {% endif %}
      {% comment %}
      <img style="width:100%; margin-top:20px;" src="{{highlight.image_cover}}" >
      <div class="cate-photo">
        <img src="{{highlight.image_cover}}" >
        <!-- <div class="gradient"></div> -->

        <div class="cate-title">
          <div class="author-thumb">
            <img src="{% static "images/profile_default.jpg" %}">
          </div>
          <p>Authors</p>
          <h1>Roundfinger</h1>
        </div>

      </div>
      {% endcomment %}
      {% comment %}
      <div class="sort">
        <div class="row">
          <div class="col-xs-8">
            <div class="show-count">
              Showing 1 – 30 of 58086 Results
            </div>
            <div class="sortby">
              <span>Sort By:</span>
              <select>
                <option>New</option>
                <option>Popular</option>
                <option>Price</option>
                <option>A-Z</option>
                <option>Recommended</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="paging-drop">
              <span>Page:</span>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <span class="total-page">of 2000</span>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div class="row">
        <div class="col-xs-12" style="margin-top:10px;">
          <div class="wrap-featured">
            <div class="scroller">
              <div class="scroller-mask-event">
                <ul class="scroller-list text-center" id="lesson-section">
                  {% for lesson in lesson_list %}
                  {% include "lesson/item_cached.html" %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "about.html" %}
{% endblock %}
