{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
{% if category.image %}
<img src="{{ category.image.url }}" class="full-width" />
{% endif %}
<ul class="box-wrapper">
    <h1 class="main-color">{{ category.name }}</h1>
    {% if lesson_list|length > 0 %}
    {% for lesson in lesson_list %}
    {% include "lesson/item_cached_new.html" %}
    {% endfor %}
    {% else %}
    <h4 class="no-item">No lessons.</p>
    {% endif %}
</ul>
{% endblock %}
