<div class="media">
    <a class="pull-left">
        <img src="{{ comment.account.image}}" class="avatar" />
    </a>
    <div class="media-body">
        <div class="exp-row">
            <div class="exp-told">
                <p>{{ comment.desc|truncatewords:"200"}}</p>
                <div class="rating"><i>{{ comment.timestamp }}</i></div>
                <p>{{ comment.account.first_name }} {{ comment.account.last_name }} - {{ comment.account.title }}</p>
            </div>
        </div>
    </div>
</div>
