{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "css/event_page.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/rrssb.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/lightSlider.css" %}">
<link rel="stylesheet" href="{% static "css/course.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "css/syntax.css" %}">
<link rel="stylesheet" href="{% static "css/styles.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/quill.snow.css" %}">
<style>
	label{width: 100%;}
	#full-editor{height: 200px;}
	.error-box{
		border-color: #a94442;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
</style>
{% endblock %}

{% block script %}
<script src="{% static "js/plugin/rrssb.js" %}"></script>
<script src="{% static "js/plugin/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "js/plugin/jquery.barrating.min.js" %}"></script>
<script src="{% static "js/plugin/froogaloop2.min.js" %}"></script>
<script src="{% static "js/plugin/waypoints.min.js" %}"></script>
<script src="{% static "js/plugin/jquery.lightSlider.js" %}"></script>
<script src="{% static "js/plugin/quill.js" %}"></script>

<script>
var setup_select_form_path = "{% url 'lesson:create_setup' %}"
var default_category = "{{category.parent_id}}"
var default_subcategory = "{{category.id}}"
//var default_type = "{{lesson.lesson_type}}"
//var default_level = "{{lesson.lesson_level}}"
var default_language = "{{lesson.lesson_language}}"
var default_time = "{{lesson.time}}"
{% if lesson %}
var del_course_url = "{% url 'lesson:delete' lesson.id %}"
{% endif %}

$("#continue-edit-button").click(function(event){
    $("#redirect-input").val("0");
    $("#submit").click();
});
</script>

<script src="{% static "js/edit_lesson.js" %}"></script>

{% endblock %}

{% block bodyclass %}bg-grey{% endblock %}

{% block viewport %}
<meta content='IE=edge, chrome=1' http-equiv='X-UA-Compatible'>
<meta name="viewport" content="width=1170, initial-scale=1">
{% endblock %}

{% block content %}

<form action="{% if lesson %}{% url 'lesson:edit_action' lesson.id %}{% else %}{% url 'lesson:create_action' %}{% endif %}" method="post" enctype="multipart/form-data" id="lesson">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-relative">
	<div class="headline">
	  <div class="headline-text">
	    <h1 class="text-center text-white font-bold" style="font-size:38px; text-shadow:1px 1px #a29090;">"Lesson คือ เรื่องราวที่คุณได้ เรียนรู้ และ อยากแบ่งปัน"</h1>
	    <h4 class="text-center text-white font-bold" style="text-shadow:1px 1px #a29090;">จากวีดีโอที่เกี่ยวกับ แรงบันดาลใจ การพัฒนาตัวเอง แนวคิดธุรกิจ ความรู้ดีๆ และไอเดียโดนๆ</h4>
	  </div>
	  <img src="{% static "images/banner.jpg" %}">
	</div>

	<div class="lesson-shortinfo">
	  <div class="container">
	    <div class="wrap-form">
	      <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
		  <div class="form-horizontal" >
		    <div class="form-group">
		      <label class="col-sm-2 control-label">หัวเรื่อง :</label>
		      <div class="col-sm-10">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="ชื่อบทความ" value="{{lesson.name}}" id="topic" name="topic" maxlength="140" required>
			  <span class="input-group-addon count-word" form-text="#topic"  form-init="140" >140</span>
			</div>
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-sm-2 control-label">ประเภทบทความ:</label>
		      <div class="col-sm-5">
			<div class="dropdown">
			  <select class="form-control lesson-category" name="category" id="lesson-category" subcategory="#lesson-subcategory" required>
			    <option value="" disabled="" selected="">ประเภทหลัก</option>
			  </select>
			</div>
		      </div>
		      <div class="col-sm-5">
			<div class="dropdown">
			  <select class="form-control lesson-subcategory" name="subcategory" id="lesson-subcategory" required>
			    <option value="" disabled="" selected="">ประเภทรอง</option>
			  </select>
			</div>
		      </div>
		    </div>
		    <div class="form-group">
		      {% comment %}
		      <label class="col-sm-2 control-label">Lesson Type:</label>
		      <div class="col-sm-5">
			<div class="dropdown">
			  <select class="form-control lesson-type" name="type" id="lesson-type" required>
			    <option value="" disabled="" selected="">Select Type</option>
			  </select>
			</div>
		      </div>
		      <div class="col-sm-5">
			<div class="dropdown">
			  <select class="form-control lesson-level" name="level" id="lesson-level" required>
			    <option value="" disabled="" selected="">Select Level</option>
			  </select>
			</div>
		      </div>
		      {% endcomment %}
		      <label class="col-sm-2 control-label">ภาษา :</label>
		      <div class="col-sm-5">
			<div class="dropdown">
			  <select class="form-control lesson-language" name="language" id="lesson-language" required>
			    <option value="" disabled="" selected="">เลือกภาษา</option>
			  </select>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div><!--lesson-shortinfo-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrap-form">
      <div class="row">
        <div class="col-md-3 clear-padding" style="display:none;">
          <div class="wrap-crtmenu">
            <div class="adv">
              <h4 class="text-center">Just complete <span class="red">5 important</span> info to list your lesson.</h4>
            </div>
            <div class="menu-list">
              <p class="form-hint">Lesson Cover</p>
              <p class="button" id="mark-banner">
                <a href="#label-banner">
                  แบนเนอร์
                  <span class="green" style="float:right;"><i class="icon"></i></span>
                </a>
              </p>

              {% comment %}
              <p class="button" id="mark-slide">
                <a href="#label-slide">
                  สไลด์รูปภาพ
                  <span class="form-hint">&nbsp;(optional)</span>
                  <span class="green" style="float:right;"><i class="icon "></i></span>
                </a>
              </p>
              {% endcomment %}
              <p class="button" id="mark-video">
                <a href="#label-video">
                  วิดีโอ
                  <span class="form-hint">&nbsp;(optional)</span>
                  <span class="green" style="float:right;"><i class="icon"></i></span>
                </a>
              </p>
              <br>
              <p class="form-hint">Lesson Description</p>
              <p class="button" id="mark-desc">
                <a href="#label-desc">
                  รายละเอียดคอร์ส
                  <span class="green" style="float:right;"><i class="icon "></i></span>
                </a>
              </p>
              <p class="button" id="mark-tag">
                <a href="#label-tag">
                  ป้ายกำกับ
                  <span class="form-hint">&nbsp;(optional)</span>
                  <span class="green" style="float:right;"><i class="icon"></i></span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="crtcourse-form clear-border">
            <div class="row">
              <div class="col-sm-12" id="label-banner">
                <h2>แบนเนอร์</h2>
                <p class="form-hint">เลือกรูปภาพ Cover สำหรับ Lesson นี้ </p>
                <p>

                  <div>
                    <button  id="add-banner" class="btn btn-main-color file" file-toggle="#banner" type="button">Add Cover</button>
                  </div>

                  <span class="form-hint" id="preview-banner">
                    {%if lesson.image %}
                    <div style=" background-image: url({{lesson.api_display.image}})" class="old-img preview-img"></div>
                    {%endif%}
                  </span>

                  <input style="display:none" id="banner" accept="image/*" name="banner" type="file" img-ref="#preview-banner">
                </p>
                <p class="font-sm form-hint">* รูปภาพขนาด 1000 x 800 px</p>
              </div>

              {% comment %}
              <div class="col-sm-12" id="label-slide" >
                <h2>สไลด์รูปภาพ<span class="form-hint" style="font-size:16px;">&nbsp;&nbsp;(optional)</span></h2>
                <p class="form-hint">ระบบจะแบ่งปันข้อมูลส่วนนี้ก็ต่อเมื่อคุณได้ยืนยันการจองกับผู้ใช้ Conicle อีกคนแล้วเท่านั้น</p>
                <h3>
                  <div>
                    <!-- old-image must has class=delimg & ref-hidden=delimg-id -->
                    <button  id="add-slide" class="btn btn-main-color file" file-toggle="#addimg-1" type="button">Add Photo</button>
                  </div>

                  <span class="form-hint " id="preview-slide"> </span>
                  <input style="display:none" accept="image/*" name="slide[]" type="file" img-ref="#preview-slide" class="slide-input" id="addimg-1">

                </h3>
              </div>
              {% endcomment %}

              <div class="col-sm-12" id="label-video">
                <h2>วิดีโอ<span class="form-hint" style="font-size:16px;">&nbsp;&nbsp;(optional)</span></h2>
                <p class="form-hint">ลิ้งค์วีดีโอสำหรับ บทความ นี้</p>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-6">
                      <input type="text" name="video"  class="form-control" id="video" placeholder="Video URL" value="{{video_url}}">
                      <p class="font-sm form-hint">* สำหรับวีดีโอจาก Youtube และ Vimeo เท่านั้น</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" id="label-desc">
                <h2>คำอธิบายบทความ</h2>
                <p class="form-hint">คำอธิบาย หรือ รายละเอียด ของ บทความ นี้</p>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label>คำอธิบาย หรือ รายละเอียด :</label>
                    </div>
                    <div class="col-sm-8">
		      {% include "lesson/quill_textarea.html" with editor="full-editor" toolbar="full-toolbar" default_val=lesson.desc %}
                      <input class="form-control" id="desc" style="display:none" name="desc" type="text">
                    </div>
                  </div>
                  {% comment %}
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label>เวลาเรียน :</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="dropdown">
                    	<select name="hours" class="form-control" id="hours">
                    	  <option value="" disabled="" selected="">Hours</option>
                    	  {% for i in "xxxxxxxxxxxx" %}
                    	  <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    	  {% endfor %}
                    	</select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="dropdown">
                    	<select name="minutes" class="form-control" id="minutes">
                    	  <option value="" disabled="" selected="">Minutes</option>
                    	  {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                    	  <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    	  {% endfor %}
                    	</select>
                      </div>
                    </div>
                  </div>
                  {% endcomment %}
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label>แหล่งข้อมูลอ้างอิง :</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="credit" name="credit"placeholder="แหล่งข้อมูลอ้างอิง" value="{{lesson.credit}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" id="label-tag">
                <h2>เกี่ยวกับบทความ<span class="form-hint" style="font-size:16px;">&nbsp;&nbsp;(optional)</span></h2>
                <p class="form-hint">ระบุ hash tag ที่เกี่ยวข้องกับบทความนี้ </p>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label>Hash Tag ที่เกี่ยวกับ บทความ นี้ :</label>
                      <input class="form-control" id="tag" name="tag" placeholder="ใส่ Hash Tag" type="text">
                      <p class="font-sm form-hint">* กด Space Bar เพื่อเริ่มพิมพ์ Tag อันต่อไป</p>
                    </div>

                    <div class="col-sm-8">
                      <div style="height:140px;">
                    	<div class="trends-type">
                    	  <div class="trends-list" style="text-align:left;">
                    	    {% for tag in lesson.api_display.tag_list %}
                    	    <a>{{tag}} &nbsp;<i class="icon icon-cancel"></i></a>
                    	    {% endfor %}
                    	  </div>
                    	</div>
                      </div>
                      <input class="form-control" id="addtag" style="display:none" name="addtag" type="text">
                      <input class="form-control" id="deltag" style="display:none" name="deltag" type="text">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="crtcourse-form bottom clear-border">

            <div class="row">
              <div class="col-sm-2">
                {% if lesson %}
                <a class="btn btn-default" id="delcourse">
                  <i class="icon icon-cancel"></i>ลบบทความ
                </a>
                {% endif %}
              </div>
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-5">
                <button type="button" class="btn btn-default btn-block" id="continue-edit-button">บันทึกบทความ และ แก้ไขต่อ</button>
                <input type="hidden" name="redirect" value="1" id="redirect-input">
                {% comment %}
                <div class="dropdown">
                  <select name="language" class="form-control" >
                    <option value="0">Unpublished</option>
                    <option value="1">Published</option>
                  </select>
                </div>
                {% endcomment %}
              </div>

              <div class="col-sm-3">
                <div class="btn-block btn-main-color" id="tmp-submit">บันทึก </div>
                <input type="submit" class="btn-block btn-main-color" value="Submit Course" style="display:none" id="submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--wrap-form-->
  </div>
</form>
{% endblock %}
