{% extends "base.html" %}

{% load humanize %}
{% load staticfiles %}
{% block headerscript %}
<link rel="stylesheet" href="{% static "css/lesson_responsive.css" %}">
<link href="{% static "css/plugin/jquery.fancybox.css" %}" rel="stylesheet">
<style type="text/css">
.fancybox-wrap {
	width: 80% !important;
	width: 80% !important;
}
@media screen and (max-width: 1140px) {
	.comment-box,hr.section{
		display: none;
	}
}
.wrap-card img{
	max-width: 100%;
}
</style>
{% endblock %}
{% block footerscript %}
<script src="{% static "js/plugin/rrssb.js" %}"></script>
<script src="{% static "js/plugin/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "js/plugin/player/jwplayer.js" %}"></script>
{% if lesson.video_type == 2 %}
<script type="text/javascript">
var flashplayer = '{% static "swf/jwplayer.flash.swf" %}';
$('.fancybox.preview').fancybox({
	tpl: {
		wrap: '<div class="fancybox-wrap" tabIndex="-1">' +
		'<div class="fancybox-skin">' +
		'<div class="fancybox-outer">' +
		'<div id="player" data-embed="false" class="flowplayer no-toggle">' +
		'</div></div></div></div>'
	},
	beforeShow: function () {
		var id = $(this).attr('href').replace("#", "");
		var height = Math.round( $( window ).height()*0.80 ).toString();
		jwplayer("player").setup({
			flashplayer: flashplayer,
			file: 'https://www.youtube.com/watch?v='+id,
			width: '100%',
			height: height,
		});
		jwplayer().play();
		jwplayer().onComplete( function(event){
		});
	},
	beforeClose: function () {
	}
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-grey lesson-detail">
  	<div class="container no-pad-xs bottom-pad">
    		<div class="row">
      			<div class="{% if relate_ads_list|length == 0 %} col-xs-12 {% else %} col-xs-12 col-sm-9 {% endif %} wrap-all">
								{% if lesson.image_cover %}
								<div class="card-cover no-pad-xs">
	  								<img class="full-width" src="{{ lesson.image_cover.url }}">
	  								{% if lesson.video_type == 2 %}
	  								<a class="preview-video-a fancybox preview" href="#{{ lesson.video }}"></a>
	  								{% endif %}
								</div>
								{% endif %}
								<div class="wrap-card">
										<a class="avatar-info-inline top-margin-little bottom-pad-20">
												{% if lesson.tutor == None and lesson.account.image %}
												<img src="{{ lesson.account.image.url }}" class="avatar">
												{% elif lesson.tutor != None and lesson.tutor.image %}
												<img src="{{ lesson.tutor.image.url }}" class="avatar">
												{% else %}
												<img src="{% static 'images/profile_default.jpg' %}" class="avatar">
												{% endif %}
												<span>
														{% if lesson.tutor == None %}
														<span>{{ lesson.account.first_name }} {{ lesson.account.last_name }}</span><br />
														<span class="grey"><i>{{ lesson.account.title }}</i></span>
														{% else %}
														<span>{{ lesson.tutor.name }}	</span>
														{% endif %}
														{% if lesson.tutor != None and lesson.institute_list|length > 0 %}
														<br /><span class="grey"><i>{{ lesson.institute_list.0.name }}</i></span>
														{% endif %}
												</span>
										</a>
										<h1>{{ lesson.name }}</h1>
										<div class="content">{{ lesson.desc|safe }}</div>
										{% if lesson.credit|length > 0 %}
										Credit : {{ lesson.credit|safe }}
										{% endif %}
										{% comment %}
										<section class="top-pad">
												<h6 class="header-center">แบ่งปันบทความนี้กับเพื่อนของคุณ  :</h6>
												<div class="panel">{% include "main/fragment/fragment_share_button.html" with title=lesson.name %}</div>
										</section>
										{% endcomment %}
										{% comment %}
										<section>
												<hr class="section">
												<div class="comment-box">
														<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="2"></div>
												</div>
										</section>
										{% endcomment %}


		{% comment %}
		<section id="reviewLesson" class="bottom-pad">
			<h3 class="top-pad">ความคิดเห็น</h3>
			{% if lesson.comment_list|length > 0 %}
			<div id="reviewlist">
				{% for comment in comment_list %}
				{% include "lesson/comment.html" %}
				{% endfor %}
			</div>
			{% else %}
			<p class="no-content-min text-center">ไม่มีความคิดเห็น</p>
			{% endif %}
			{% if user.is_authenticated %}
				<h3><b class="hilight">Share</b> Your Experiences About This Lesson</h3>
				<form id="form-review">{% csrf_token %}
		<div class="form-group">
			<p>Name : {{ user.first_name }} {{ user.last_name }}</p>
		</div>
		<div class="form-group">
			<textarea name="desc" id="review-desc" maxlength="300" class="form-control" rows="3" placeholder="What do you think about this lesson" required></textarea>
		</div>
		<div class="form-group">
			<div class="counter">
				<input type="hidden" id="ratinghidden" name="ratinghidden" value="-1">
				<input type="hidden" id="type" name="type" value="2">
				<input type="hidden" name="course_id" value="{{ lesson.id }}">
				<span class="font-sm">Remaining characters: <span id="textcount">300</span></span>
			</div>
			<div class="submit">
				<button class="btn btn-main-color pull-right" type="submit">Submit</button>
			</div>
		</div>
				</form>
			{% endif %}
		</section> <!-- END reviews -->

		{% if not user.is_authenticated %}
		<section class=" top-pad" >
			<p>** กรุณา <a class="login-button">Login</a> เพื่อแสดงความคิดเห็น</p>
		</section>
		{% endif %}
		{% endcomment %}
			</div><!--wrap-card-->
		</div>

		{% if relate_ads_list|length > 0 %}
		<div class="col-xs-3 text-center ads-block hidden-xs">
			<ul class="unstyle">
			{% for ads in relate_ads_list %}
			<li>
				<a href="{{ ads.link }}{% if unet_account %}?unet={{ unet_account }}{% endif %}">
					<div style="background-image: url('{{ ads.image.url }}');" class="img"></div>
					{% if unet_account %}
					<div class="code">{{ unet_account }}</div>
					{% endif %}
				</a>
			</li>
			{% endfor %}
		</div>
		{% endif %}
	</div>


	<div class="row">
    {% comment %}
    {% if not APP.is_institute %}
    <div class="col-sm-12 col-md-3">
			<h4 class="grey ">คอร์สแนะนำ</h4>
			<div class="scroller">
			  <div class="scroller-mask-event">
			    <ul class="scroller-list xxs-1 xs-2 sm-3 md-1">
			      {% for course in relate_course_list %}
			      {% include "course/item_cached.html" %}
			      {% endfor %}
			    </ul>
			  </div>
			</div>
    </div>
    {% endif %}
    {% endcomment %}
  	</div><!--row-->


    {% comment %}
    <div class="row">
      <div class="col-xs-12">
				<div class="wrap-featured clear-border">
				  <div class="featured-title">
				    <div class="main-title">
				      <h2>บทความที่เกี่ยวข้อง</h2>
				    </div>
				  </div>
				  <div class="scroller">
				    <div class="scroller-mask-event">
				      <ul class="scroller-list xxs-1 xs-2 sm-3 md-4 lg-5">
								{% for lesson in relate_lesson_list %}
								{% include "lesson/item_cached.html" %}
								{% endfor %}
				      </ul>
				    </div>
				  </div>
				</div>
      </div>
    </div>
    {% endcomment %}



		</div><!--container-->
</div>
{% endblock %}
