{% load staticfiles %}
<div class="container top-pad">
<div class="row">
    <div class="col-sm-5">
        <a href="{% url 'lesson:detail' lesson.id %}">
            <img src="{% if lesson.image %}{{ lesson.image.url }}{% else %}{% static 'images/sample_course.jpg' %}{% endif %}" class="full-width" />
        </a>
    </div>
    <div class="col-sm-7">
        <h3><a href="{% url 'lesson:detail' lesson.id %}" class="main-color">{{ lesson.name|striptags|truncatechars:"80" }}</a></h3>
        {% if lesson.tutor != None %}
        <a href="{% url 'tutor:detail' lesson.tutor_id %}" class="avatar-info-inline">
            {% if lesson.tutor_image %}
            <img src="{{ lesson.tutor_image }}" class="avatar">
            {% else %}
            <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
            {% endif %}
            <span>
                <span>By {{ lesson.tutor_name }}</span>
                {% if lesson.institute_list|length > 0 %}
                <br /><span class="grey"><i>{{ lesson.institute_list.0.name }}</i></span>
                {% endif %}
            </span>
        </a>
        {% else %}
        <a class="avatar-info-inline">
            {% if lesson.account.image %}
            <img src="{{ lesson.account.image.url }}" class="avatar">
            {% else %}
            <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
            {% endif %}
            <span>
                <span>By {{ lesson.account.first_name }} {{ lesson.account.last_name }}</span>
                <br /><span class="grey"><i>{{ lesson.account.title|default:"-" }}</i></span>
            </span>
        </a>
        {% endif %}
        <div>{{ lesson.desc|striptags|truncatechars:"200"|safe }}</div>
        <section class="event-type" style="height: 15px;">
            <div class="event-list">
                {% for tag in lesson.tag_list %}
                <a class="">{{ tag }}</a>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
</div>
