{% extends "base.html" %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block footerscript %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block content %}
<div class="hero-slide">
  <div class="hero-mask">
    <img style="width:100%; margin-top:0px;" src="{% static "images/cover_lesson.jpg" %}" class="active">
  </div>
</div>

<div class="container clearfix">
  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-featured text-center" >
        <p class="font-bold" style="font-size:25px;">“Lesson Corners” ...Your Daily Learning Community</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a target="_blank" class="btn btn-main-color btn-lg" href="{% url 'lesson:create' %}" role="button">แบ่งปัน Lesson ของคุณ</a></p>
        {% else %}
        <p class="text-center"><a  class="btn btn-main-color btn-lg" data-toggle="modal" data-target="#loginModal" role="button">แบ่งปัน Lesson ของคุณ</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% for highlight in  highlight_list %}
  <div class="row">
    <div class="col-xs-12">
      <div class="wrap-featured">
        <div class="featured-title">
          <div class="main-title">
            <h2> <span class="red tranform-none">{{ highlight.title }} </span><span class="section-title">{{ highlight.tagline }}</span></h2>
          </div>
          <a style="float: right;" href="{% url 'lesson:category' highlight.id %}"><button type="button" class="btn btn-default btn-more">View All > </button></a>
        </div>
        <div class="scroller">
          <div class="scroller-mask-event">
            <ul class="scroller-list" id="lesson-section">
              {% for lesson in highlight.lesson_list %}
              {% include "lesson/item_cached.html" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include "about.html" %}
{% endblock %}
