{% load staticfiles %}
{% load humanize %}
<li class="event lesson">
  <a href="{% url 'lesson:detail' lesson.id %}" class="image-event">
    {% if lesson.image %}
    <img src="{{ lesson.image.url }}">
    {% else %}
    <img src="{% static 'images/sample_course.jpg' %}">
    {% endif %}
  </a>
  <div class="detail-event">
    <div class="views">
      <b>{{ lesson.stat_view }} Views</b>
    </div>
    <a href="{% url 'lesson:detail' lesson.id %}">
      <div>
        <h3>{{ lesson.name|striptags|truncatechars:"60" }}</h3>
      </div>
    </a>
    {% if lesson.tutor != None %}
    <div class="instructor-sm">
      <a href="{% url 'tutor:detail' lesson.tutor_id %}">
	      {% if lesson.tutor.image %}
	      <img src="{{ lesson.tutor.image.url }}" class="avatar">
	      {% else %}
	      <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
	      {% endif %}
        <span>
          By {{ lesson.tutor.name }}
          {% if lesson.institute_list|length > 0 %}
          <br /><small class="font-sm">{{ lesson.institute_list.0.name }}</small>
          {% endif %}
        </span>
      </a>
    </div>
    {% else %}
    <div class="instructor-sm">
      <a>
	      {% if lesson.account.image %}
	      <img src="{{ lesson.account.image.url }}" class="avatar">
	      {% else %}
	      <img src="{% static 'images/profile_default.jpg' %}" class="avatar">
	      {% endif %}
        <span>
          By {{ lesson.account.first_name }} {{ lesson.account.last_name }}
          <br /><small class="font-sm">{{ lesson.account.title|default:"-" }}</small>
        </span>
      </a>
    </div>
    {% endif %}
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <p class="coursebox-overview">
          {{ lesson.desc|striptags|truncatechars:"90" }}</p>
        {% comment %}
        <div class="event-tags-color">
            <i class="icon icon-tag icon2x"></i>
            <a href="#" class="">Tag</a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</li>
