{% load staticfiles %}
{% load humanize %}
<li class="item-box">
    <a href="{% url 'lesson:detail' lesson.id %}" class="image">
        {% if lesson.image %}
        <img src="{{ lesson.image.url }}" class="cover" />
        {% else %}
        <img src="{% static 'images/sample_course.jpg' %}" class="cover" />
        {% endif %}
    </a>
    <a href="{% url 'lesson:detail' lesson.id %}" class="detail">
        {% comment %}
        <strong class="views">{{ lesson.stat_view }} Views</strong>
        {% endcomment %}
        <div class="course-name">{{ lesson.name|striptags|truncatechars:"60" }}</div>
    </a>
    {% if lesson.tutor_list|length > 0 %}
    <div class="instructor">
        {% for tutor in lesson.tutor_list %}
        <a href="{% url 'tutor:detail' tutor.id %}" class="square"><img src="{% if tutor.image %}{{ tutor.image.url }}{% else %}{% static 'images/profile_default.jpg' %}{% endif %}" /></a>
        {% endfor %}
        <br /><a href="{% url 'tutor:detail' lesson.tutor_list.0.id %}">{{ lesson.tutor_list.0.name }}</a>
        {% if lesson.tutor_list|length > 1 %}
        <br /><span>and {{ lesson.tutor_list|length|add:"-1" }} more</span>
        {% endif %}
    </div>
    {% endif %}


    {% comment %}
    {% if lesson.tutor != None %}
    <div class="instructor">
        <a href="{% url 'tutor:detail' lesson.tutor_id %}">
	          {% if lesson.tutor.image %}
	          <img src="{{ lesson.tutor.image.url }}" />
	          {% else %}
	          <img src="{% static 'images/profile_default.jpg' %}" />
	          {% endif %}
        </a>
        <br />{{ lesson.tutor.name }}
    </div>
    {% else %}
    <div class="instructor">
        <a>
	          {% if lesson.account.image %}
	          <img src="{{ lesson.account.image.url }}" />
	          {% else %}
	          <img src="{% static 'images/profile_default.jpg' %}" />
	          {% endif %}
        </a>
        <br />{{ lesson.account.first_name }} {{ lesson.account.last_name }}
    </div>
    {% endif %}
    {% endcomment %}


    <a href="{% url 'lesson:detail' lesson.id %}"><i class="fa fa-book type-icon"></i></a>
</li>
