{% load humanize %}
<li class="event  static-detail" {% if is_owner %}style="height:340px;"{% endif %}>
  <a href="{% url 'lesson:detail' lesson.id %}" class="image-event">
    <img src="{{ lesson.image }}">
  </a>
  <div class="detail-event">
    <div class="views">
      <b>{{ lesson.stat_view }} Views</b>
    </div>
    <a href="{% url 'lesson:detail' lesson.id %}">
      <div style="height: 60px;">
        <h3 style="height: 45px; overflow: hidden;">{{ lesson.name|striptags|truncatechars:"60" }}</h3>
      </div>
    </a>
    <div class="user-sm">
      <a><img src="{{ lesson.account_image }}"></a>
      <p>By {{ lesson.account_first_name }} {{ lesson.account_last_name }}<br>
        {% if lesson.account_title|length > 0 %}
        <span class="font-sm">{{ lesson.account_title|default:"-" }}</span>
        {% endif %}
      </p>
    </div>
    {% if is_owner %}
    {% if lesson.status == 0 %}
    <p class="main-color text-center">
      <i class="fa fa-tasks"></i> Waiting for review
    </p>
    {% elif lesson.status == 1 %}
    <p class="red text-center">
      <i class="fa fa-exclamation-triangle"></i> Reject {{ lesson.status_message }}
    </p>
    {% elif lesson.status == 2 %}
    <p class="main-color text-center">
      <i class="fa fa-check-circle"></i> Published
    </p>
    {% endif %}
    {% else %}
    <div style="height:26px;" ></div>
    {% endif %}
    <div class="event-hidden-section">
      <div class="event-hidden-inner clearfix">
        <p class="coursebox-overview">
          {{lesson.desc|striptags|truncatechars:"90"}}</p>
        {% comment %}
        <div class="event-tags-color">
            <i class="icon icon-tag icon2x"></i>
            <a href="#" class="">Tag</a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</li>
