{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Material Admin</title>
  
  <!-- Vendor CSS -->
  <link href="{% static 'dashboard/vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
  
  <!-- CSS -->
  <link href="{% static 'dashboard/css/app.min.1.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/css/app.min.2.css' %}" rel="stylesheet">
</head>

<body class="four-zero-content">        
  <div class="four-zero">
    <h2>403!</h2>
    <small>Permission denied</small>
    
    <footer>
      <a href="{% url 'dashboard:login' %}"><i class="zmdi zmdi-arrow-back"></i></a>
      <a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i></a>
    </footer>
  </div>
  
</body>
</html>
