{% load staticfiles %}
{%comment%}
Main Template ของ Project นี้
{%endcomment%}
<!DOCTYPE html>
<!--[if lt IE 10 ]><html lang="th" class="ie9 ie"><![endif]-->
<!--[if gt IE 10]><!--><html lang="th"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="language" content="th" />
    <meta name="audience" content="all" />
    <meta name="keywords" content="{{ keywords|striptags|default:BASE_KEYWORD }}" />
    <meta itemprop="name" content="{{BASE_NAME}} - {{ title|striptags|default:BASE_TAGNAME }}" />
    <meta itemprop="description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
    {% block viewport %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    {% endblock %}
    {% block meta_facebook %}{% endblock %}
    {% block meta_twitter %}{% endblock %}
    {% block project_identity %}
    <meta name="author" content="Conicle Co.,Ltd.">
    <link rel="shortcut icon" href="{% static "demo.ondemand/images/customize/favicon.ico" %}">
    <title>Conicle</title>
    {% endblock %}
    {% block apple_safari_controls %}
    {% endblock %}
    <link rel="alternate" hreflang="th" href="{{ request.build_absolute_uri }}" />
    <link rel="stylesheet" href="{% static "css/plugin/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/plugin/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/plugin/jquery.mmenu.all.css" %}">
    <link rel="stylesheet" href="{% static "css/plugin/sweetalert/sweetalert.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    <link rel="stylesheet" href="{% static "css/product.css" %}">
    <link rel="stylesheet" href="{% static "css/modified.css" %}">
    {% block css %}
    {% endblock %}
    {% block theme-css %}
    <link rel="stylesheet" href="{% static "demo.ondemand/css/theme.css" %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/desktop.css" %}">
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/plugin/mobile-detect.min.js" %}"></script>
    <script src="{% static "js/plugin/jquery.inview.min.js" %}"></script>
    <script src="{% static "js/plugin/animate.js" %}"></script>
    <script src="{% static "js/plugin/bootstrap-notify.min.js" %}"></script>
    <script src="{% static "js/plugin/jquery.localScroll.min.js" %}"></script>
    <script src="{% static "js/plugin/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "js/plugin/jquery.mmenu.min.all.js" %}"></script>
    <script src="{% static "js/plugin/sweetalert/sweetalert.min.js" %}"></script>
    <script src="{% static "js/jquery.verify.js" %}"></script>
    <script>var facebook_id = '{{ FB_APP_ID }}';</script>
    <!-- <script src="{% static "js/facebook.js" %}"></script> -->
    <script src="{% static 'js/global-functions.js' %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block script %}{% endblock %}
    {% block headerscript %}{% endblock %}
  </head>
  <body id="{% block app-name %}Demo{% endblock %}" class="{% block bodyclass %}{% endblock %} {% if PARENT_URL %}has-back-btn{% endif %}" {% block bodyattr %}{% endblock %}>
    <div id="fb-root"></div>
    <div class="body-overlay"></div>
    <div class="crop-image-overlay"></div>
    <div id="page" class="mm-page mm-slideout container-fluid">
      {% block header %}
      {% include "main/header.html" %}
      {% endblock %}
      <div id="content" class="{% block page_name %}{% endblock %}">
        {% block content %}{% endblock %}
      </div>
      {% block footer %}
      <div id="footer" class="container-fluid top-pad text-center grey">
          Copyright <i class="fa fa-copyright"></i> {% now "Y" %} Conicle Co., Ltd. All Rights Reserved.
      </div>
      {% endblock %}
    </div>

    {% block modal %}
    {% if not user.is_authenticated %}
    {% include "main/modal/modal_authen.html" %}
    {% endif %}
    {% include 'main/modal/modal_strict.html' %}
    {% endblock %}
    <script>
      $(document).ready(function() {
        $("#side-menu").mmenu({}, {
          offCanvas: {
            pageNodetype: "section"
          }
        });
        $('body').addClass(getBrowserApp().toLowerCase());
        {% block jquery %}{% endblock %}
      });
    </script>
    {% block footerscript %}{% endblock %}
    {% block conversion-pixel %}{% endblock %}
    {% block ga %}{% endblock %}
</body>
</html>
