<h5 class="content-info">
  {% if category %}
  <a href="{% url 'category:detail' category.id %}" class="bold main-color category">{{ category.name }}</a>
  {% endif %}
  {% if category and provider %}<span class="grey">|</span>{% endif %}
  {% if provider %}
  <a href="{% url 'provider:detail' provider.id %}" class="provider">
    {% if provider.image %}
    <img src="{{ provider.image.url }}" />
    {% else %}
    <i class="fa fa-university"></i>
    {% endif %}
    <strong class="main-color">{{ provider.name }}</strong>
  </a>
  {% endif %}
</h5>
