<div class="filter-wrapper">
  <div class="filter">
    <strong><i class="fa fa-filter"></i> Filter</strong>
    <form action="">
      {% if show_category %}
      <select name="category">
        <option value="all">All Categories</option>
        {% for category_item in category_list %}
        <option value="{{ category_item.id }}" {% if category_item.id == category.id %}selected{% endif %}>{{ category_item.name }}</option>
        {% endfor %}
      </select>
      {% endif %}

      {% if show_institute %}
      <select name="provider">
        <option value="all">All Learning Centers</option>
        {% for provider_item in provider_list %}
        <option value="{{ provider_item.id }}" {% if provider_item.id == provider.id %}selected{% endif %}>{{ provider_item.name }}</option>
        {% endfor %}
      </select>
      {% endif %}

      <select name="sort">
        <option value="latest" {% if sort == 'latest' %}selected{% endif %}>Latest</option>
        {% if show_popular %}
        <option value="popular" {% if sort == 'popular' %}selected{% endif %}>Popular</option>
        {% endif %}
        <option value="atoz" {% if sort == 'atoz' %}selected{% endif %}>A → Z</option>
        <option value="ztoa" {% if sort == 'ztoa' %}selected{% endif %}>Z → A</option>
      </select>
      <input type="hidden" name="content_type" value="{{ content_type_str }}">
      <input type="hidden" name="page" value="{{ pager.number }}">
      <button type="submit" class="btn-inline-small btn-main-color">GO</button>
    </form>
  </div>
  {% if category or provider %}
  <div class="filtered">
    <strong>Filtered </strong>{% if category %}• {{ category.name }}{% endif %} {% if provider %}• {{ provider.name }}{% endif %}
  </div>
  {% endif %}
</div>
