<ul class="pagination lv-pagination">
  {% if content_list.has_previous %}
  <li>
    <a href="?page={{ content_list.previous_page_number }}" aria-label="Previous">
      <i class="md md-chevron-left"></i>
    </a>
  </li>
  {% endif %}
  
  {% for p in content_list.paginator.page_range %}
  <li {% if p == content_list.number %}class="active"{% endif %}><a href="?page={{ p }}">{{ p }}</a></li>
  {% endfor %}
  
  {% if content_list.has_next %}
  <li>
    <a href="?page={{ content_list.next_page_number }}" aria-label="Next">
      <i class="md md-chevron-right"></i>
    </a>
  </li>
  {% endif %}
</ul>
