{% load i18n %}
<div class="top-pad text-center">
    {% if pager.has_previous %}
    <a href="?page={{ pager.previous_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if subject %}&category={{ subject.id }}{% endif %}{% if provider %}&provider={{ provider.id }}{% endif %}{% if content_type_str %}&content_type={{ content_type_str }}{% endif %}" class="btn-inline-small btn-main-color">← {% trans "Prev" %}</a>
    {% endif %}
    <span class="current">{% trans "Page" %} {{ pager.number }} {% trans "of" %} {{ pager.paginator.num_pages }}</span>
    {% if pager.has_next %}
    <a href="?page={{ pager.next_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if subject %}&category={{ subject.id }}{% endif %}{% if provider %}&provider={{ provider.id }}{% endif %}{% if content_type_str %}&content_type={{ content_type_str }}{% endif %}" class="btn-inline-small btn-main-color">{% trans "Next" %} →</a>
    {% endif %}
</div>
