{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="language" content="en" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=0.6, maximum-scale=1">
    <title>{% block title %}{{ title|default:"Conicle" }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/icons/favicon-round.ico" %}">
    <link rel="apple-touch-icon" href="">
    <link rel="apple-touch-icon" sizes="72x72" href="">
    <link rel="apple-touch-icon" sizes="114x114" href="">
    <!-- CSS -->
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/plugin/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <form action="" method="post">
    <div class="modal-body form-horizontal">
        {% if account == None %}
        <div class="gray text-center" style="color:#B3B3B3;"><h3>Account Not Found.</h3></div>
        {% else %}
        {% if is_success %}
        <div class="gray text-center" style="color:#B3B3B3;"><h3>Success.</h3></div>  
        {% else %}
        {% csrf_token %}
        <div class="control-group">
            <label for="new_password" class="control-label">Account</label>
            <div class="controls">
                <label>anapat_v@hotmail.com</label>
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">New Password</label>
            <div class="controls">
                <input type="password" name="password1">
            </div>
        </div>
        <div class="control-group">
            <label for="confirm_password" class="control-label">Confirm Password</label>
            <div class="controls">
                <input type="password" name="password2">
            </div>
        </div>  
        {% endif %}
        {% endif %} 
    </div>
    <div class="modal-footer">
        {% if account != None %}
        {% if is_success = False %}
        <input type="reset" class="btn" value="Reset">
        <input type="submit" class="btn btn-primary" value="Save changes">
        {% endif %}
        {% endif %}
    </div>
    </form>
</body>
</html>

