
<!DOCTYPE html>
<!--[if lt IE 9 ]><html lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="stylesheet" type="text/css" href="/static/suit/bootstrap/css/bootstrap.min.css" media="all"/>
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44298220-5', 'auto');
  ga('send', 'pageview');
  </script>
  <style type="text/css">

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  body {
    background: #ffffff url('/static/suit/img/bg_pattern.jpg') top left;
    color: #333;
    font: 16px / 21px sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  }

  h1 {
    font-size: 48.5px;
    /*letter-spacing: -3px;*/
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 48.5px;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    margin-bottom: 20px;
  }

  .distance {
    margin-bottom: -175px; /* half of content height */
    /*background: red;*/ /* temporary - used to see div */
    width: 1px; /* required to "hide" distance div */
    height: 50%; /* required */
    float: left; /* required */
  }
  .btn {
    margin-top: 40px;
  }
  div.border{
    padding: 20px;
  }

  </style>
</head>
<body>

  <div class="distance"></div>

  <div class="container">

      <div class="border"></div>
      <h1 class="text-center">{{response}}</h1>
      <br>
      <p class="text-center">Please contact : 089-480-4015  , contact@conicle.com  | Code : {{code}}</p>

      <br>
      <script type="text/javascript">
      if(window.location.href.toString().indexOf('popup') != -1){
        document.write('<a href="javascript:window.close()" class="btn bgm-bluegray btn-large">Close window</a> ');
      }else {
        if (document.referrer != '') {
          document.write('<a href="javascript:history.back()" class="btn bgm-bluegray btn-large">Go back</a> ');
        }

      }
      </script>
    </div>
  </div>

</body>
</html>
