{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block jquery %}
var view = [
    {% for chart in chart_view_list %}
    [{{ chart.time }}, {{ chart.value }}],
    {% endfor %}
];

{% if is_free %}
var libary = [
    {% for chart in chart_libary_list %}
    [{{ chart.time }}, {{ chart.value }}],
    {% endfor %}
];
{% else %}
var cart = [
    {% for chart in chart_cart_list %}
    [{{ chart.time }}, {{ chart.value }}],
    {% endfor %}
];

var buy = [
    {% for chart in chart_buy_list %}
    [{{ chart.time }}, {{ chart.value }}],
    {% endfor %}
];
{% endif %}
var plot = $.plot("#course-analytic-view", [
    {data: view, label: "View", color: '#00BCD4'},
], {
    series: {
	lines: { show: true },
	points: { show: true }
    },
    grid: {
	hoverable: true,
	clickable: true
    },
    xaxis: {
	mode: "time",
	timeformat: "%d/%m"
    }
});

{% if is_free %}
var plot = $.plot("#course-analytic", [
    {data: libary, label: "Add to Libary", color: '#8BC34A'}
], {
    series: {
	lines: { show: true },
	points: { show: true }
    },
    grid: {
	hoverable: true,
	clickable: true
    },
    xaxis: {
	mode: "time",
	timeformat: "%d/%m"
    }
});
{% else %}
var plot = $.plot("#course-analytic", [
    {data: cart, label: "Add to Cart", color: '#FFEB3B'},
    {data: buy, label: "Buy", color: '#F44336'}
], {
    series: {
	lines: { show: true },
	points: { show: true }
    },
    grid: {
	hoverable: true,
	clickable: true
    },
    xaxis: {
	mode: "time",
	timeformat: "%d/%m"
    }
});
{% endif %}
$("<div id='tooltip'></div>").css({
    position: "absolute",
    display: "none",
    border: "1px solid #fdd",
    padding: "2px",
    "background-color": "#fee",
    opacity: 0.80
}).appendTo("body");

$("#course-analytic-view").bind("plothover", function (event, pos, item) {
    if (item) {
	var x = parseInt(item.datapoint[0]);
	var y = item.datapoint[1].toFixed(2);
	$("#tooltip").html(moment(x).format("D/M/YYYY") + " = " + y)
	    .css({top: item.pageY+5, left: item.pageX+5})
	    .fadeIn(200);
    } else {
	$("#tooltip").hide();
    }
});

$("#course-analytic").bind("plothover", function (event, pos, item) {
    if (item) {
	var x = parseInt(item.datapoint[0]);
	var y = item.datapoint[1].toFixed(2);
	$("#tooltip").html(moment(x).format("D/M/YYYY") + " = " + y)
	    .css({top: item.pageY+5, left: item.pageX+5})
	    .fadeIn(200);
    } else {
	$("#tooltip").hide();
    }
});

{% endblock %}

{% block content %}
<!--program/dashboard/analytic.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "program/dashboard/head.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Statistics</strong></h3>
    </div>
    <div class="card-body card-padding">
        <p>View</p>
        <div id="course-analytic-view" class="flot-chart"></div>
        <br />
        <p>Add to Libary</p>
        <div id="course-analytic" class="flot-chart"></div>
        {% if refer_list|length > 0 %}
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Refer</th>
                    <th>Value</th>
                    <th>Percent</th>
                </tr>
            </thead>
            <tbody>
                {% for refer in refer_list %}
                <tr>
                    <td>{{ refer.refer }}</td>
                    <td>{{ refer.value }}</td>
                    <td>{{ refer.percent }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footerscript %}
<script src="{% static 'institute/vendors/bower_components/flot/jquery.flot.js' %}"></script>
<script src="{% static 'institute/vendors/bower_components/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'institute/vendors/bower_components/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'institute/moment.js' %}"></script>
{% endblock %}
