{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% block jquery %}
{% if IS_SUB_PROVIDER %}
    function loadSubProvider(obj, provider_id){
        $('.sub-provider').remove();
        $.ajax({
	          method: "POST",
          	url: "{% url 'dashboard:subprovider-dashboard:load' %}",
	          data: {provider_id: provider_id,
	          app_label: '',
	          model: '' }
        }).done(function(html){
      	    $(obj).after(html);
        });
    }

    $('#id_provider').on('change', function() {
        loadSubProvider($('#id_provider').parents('.form-group'), $(this).val() );
    });
{% endif %}
{% endblock %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Program Management : Create a new program</strong></h2>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ program_form|bootstrap }}
      <input type="hidden" class="image width" value="{{ IMAGE_SIZE.program.width }}" />
      <input type="hidden" class="image height" value="{{ IMAGE_SIZE.program.height }}" />
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save & Next Step</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
