{% extends "dashboard/base.html" %}
{% load static %}
{% load progress_tags %}
{% load content_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card font-thai">
    <div class="card-header ch-alt">
        <h2><strong>Program Management</strong></h2>
        <ul class="actions">
            {% if perms.program.add_program %}
            <li>
                <a href="{% url 'dashboard:program-dashboard:create' %}">
                    <i class="zmdi zmdi-plus-circle"></i> Create New
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-header">
        {% include "content/dashboard/filter2_block.html" with form_id="filter_department" button_id="" %}
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th class="text-left">ID</th>
                    <th>Program Name</th>
                    <th>View</th>
                    <th>Self-enrolled</th>
                    {# <th>Registered</th> #}
                    <th>Assigned</th>
                    {# <th>Statistics</th> #}
                    {# <th>Progress</th> #}
                    <th>Detail</th>
                    <th>Display</th>
                    <th>Preview</th>
                </tr>
                </thead>
                <tbody>
                {% for program in program_list %}
                {% pull_content_location_first_tag content_type program.id None -1 None -1 None -1 as content_location %}
                {% pull_progress_content_tag content_location.id content_type.id program.id as progress_content %}
                <tr>
                    <td>
                        {% if program.image %}<img src="{{ program.image.url }}" />
                        {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
                        {% endif %}
                    </td>
                    <td class="text-left">{{ program.id }}</td>
                    <td class="text-left">{{ program.name }}</td>
                    <td>{{ program.analytic_view }}</td>
                    <td>{{ progress_content.register_count }}</td>
                    <td>{{ progress_content.assignment_count }}</td>
                    {% comment %}
                    <td>{{ program.analytic_libary }}</td>
                    <td>{{ program.analytic_assign }}</td>
                    {% endcomment %}
                    {% comment %}
                    <td>
                        <a href="{% url 'dashboard:program-dashboard:analytic' program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                            <i class="zmdi zmdi-trending-up zmdi-hc-fw"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'dashboard:program-dashboard:progress' program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                            <i class="zmdi zmdi-chart zmdi-hc-fw"></i>
                        </a>
                    </td>
                    {% endcomment %}
                    <td>
                        <a href="{% url 'dashboard:program-dashboard:detail' program.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                            <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                        </a>
                    </td>

                    <td>
                        <i class="zmdi zmdi-circle zmdi-hc-fw permission-change {% if program.is_display %}text-green{% else %}text-red{% endif %}"></i>
                    </td>
                    <td>
                        <a href="{% url 'program:detail' program.id %}?preview=True" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="99"><div class="no-item">No programs.</div></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "dashboard/paginator.html" with content_list=program_list %}
    </div>
</div>
{% endblock %}
