{% load content_tags %}
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Type</th>
                <th>Sort Item</th>
                <th>Category</th>
                <th>Learning Center</th>
                <th>Sort</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="text-left">{{ item.content_cached.name }}</td>

                <td>{{ item.content_type_cached.name|content_readable|capfirst }}</td>
                <td>
                    {% if not forloop.first %}
                    <a href="#" class="item-sort btn bgm-teal btn-sm waves-effect" item="{{ item.id }}" action="up">
                        <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
                    </a>
                    {% endif %} {% if not forloop.last %}
                    <a href="#" class="item-sort btn bgm-teal btn-sm waves-effect" item="{{ item.id }}" action="down">
                        <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
                    </a>
                    {% endif %}
                </td>
                <td>{{ item.content_cached.category.name }}</td>
                <td>{{ item.content_cached.provider.name }}</td>
                <td>{{ item.sort }}</td>
                <td><a href="#" class="delete-item btn btn-danger btn-sm waves-effect" item="{{ item.id }}" onclick="return confirm('Are you sure?')"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></a></td>
            </tr>
            <tr>
                <td></td>

                {% if item.content_type_cached.name != 'milestone' %}
                <td colspan="99" class="text-left">
                  	<strong>Dependency :</strong>
    	              <i>
    	                  {% for parent in item.get_dependency_parent %}
    	                  {% if not forloop.first %}
    	                  <strong>{{ parent.get_condition_display }}</strong>
    	                  {% endif %}
    	                  {{ parent.content_cached.name }}
                        <a href="{% url 'dashboard:program-dashboard:item_dependency_delete' program.id item.id parent.id %}">[x]</a>
                        <br /><span style="display:inline-block;padding-right:83px;margin-bottom:27px;"></span>
    	                  {% endfor %}
    	              </i>
    	              <a href="#" class="dependency-add btn bgm-bluegray btn-sm waves-effect" item="{{ item.id }}">
                        <i class="zmdi zmdi-plus-circle"></i> Create New
                    </a>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="99"><div class="no-item">No contents.</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
