{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Program Progress</strong></h2>
    <ul class="actions">
      <li>
        <a href="?action=update"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="container-fluid">
      <h3 class="info-inline">
        {% if program.image %}<img src="{{ program.image.url }}" class="cover" />
        {% else %}<img src="{% static 'images/default-pic-square.png' %}" class="cover" />
        {% endif %}
        <span>{{ program.name }}</span>
      </h3>
      <p class="text-muted">Learning Center : {% if program.provider %}{{ program.provider.name }}{% else %}-{% endif %}</p>
      {% include "progress/dashboard/content_count.html" %}
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Learner</th>
            <th>Department</th>
            <th>Direct Manager</th>
            <th>Added By</th>
            <th>Last Active</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Days Left (%)</th>
            {# <th>Details</th> #}
            {# <th>Clean</th> #}
          </tr>
        </thead>
        <tbody>
          {% for progress in progress_list %}
          <tr>
            <td>
              {% if progress.account_cached.image %}<img src="{{ progress.account_cached.image.url }}" class="avatar" />
              {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
              {% endif %}
            </td>
            <td class="text-left">{{ progress.account_cached.first_name }} {{ progress.account_cached.last_name }}</td>
            <td>-</td>
            <td>-</td>
            <td>{{ progress.item_cached.order.get_method_display }}</td>
            <td>{{ progress.timeupdate }}</td>
            <td>{{ progress.item_cached.expired_date }}</td>
            <td>{{ progress.get_status_display }}</td>
            <td>{{ progress.content_complete }} / {{ progress.content_count }}</td>
            <td>{{ progress.item_cached.expired_day }}</td>
            {% comment %}
            <td>
              <a href="{% url 'dashboard:progress:detail' account.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit"></i>
              </a>
            </td>
            {% endcomment %}
	    {% comment %}
            <td>
              <a href="{% url 'dashboard:progress:onboard_account_clean' program.id progress.account_cached.id progress.item_cached.id %}" class="btn btn-danger btn-sm waves-effect">
                <i class="zmdi zmdi-delete"></i>
              </a>
            </td>
	    {% endcomment %}
          </tr>
      	  {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No progresses.</div></td>
          </tr>
      	  {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=progress_list %}
    </div>
  </div>
</div>
{% endblock %}
