<ul class="tab-nav text-center" role="tablist" tabindex="2">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:program-dashboard:detail' program.id %}">Information</a>
  </li>
  <li {% if TAB == "item" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:program-dashboard:item' program.id %}">Outline & Dependency </a>
  </li>
  <li {% if TAB == "time" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:program-dashboard:time' program.id %}">{% comment %}Learning Credit & {% endcomment %}Time Period</a>
  </li>
  <li {% if TAB == "dependency" %}class="active"{% endif %}>
    <a href="{% url 'dashboard:program-dashboard:dependency' program.id %}">Dependency</a>
  </li>
  {% if IS_CONTENT_ACCESSIBILITY %}
  <li {% if TAB == "access" %}class="active"{% endif %}>
    <a href="{% if TAB == "access" %}#{% else %}{% url 'dashboard:program-dashboard:access' program.id %}{% endif %}">Accessibility</a>
  </li>
  {% endif %}
  {% comment %}
  <li {% if TAB == "condition" %}class="active"{% endif %}>
    <a href="#">Condition Setting</a>
  </li>
  {% endcomment %}
</ul>
