{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "program/dashboard/head.html" %}
    {% include "program/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>{% comment %}Learning Credit & {% endcomment %}Time Period</strong></h3>
    </div>
    <div id="item-course" class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
          {% comment %}
            <div class="col-sm-6">
                <h3>เครดิตเวลาเข้าเรียน (Learning Credit)</h3>
                <!-- <input type="checkbox" name="credit-unlimited" value="" {% if program.get_credit_unlimited %}checked{% endif %} />                       -->
                <div class="radio">
                  <label>
                    <input type="radio" name="credit" value="unlimited" {% if program.credit.total_seconds == 0 %}checked{% endif %} />
                    <i class="input-helper"></i>
                    Unlimited Credit
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="credit" value="limited" {% if program.credit.total_seconds != 0 %}checked{% endif %} />
                    <i class="input-helper"></i>
                    Limited at
                  </label>
                </div>
                <div class="form-group fg-line">
                  <label>Day</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ program.credit.days }}" name="credit-day" />
                </div>
                <div class="form-group fg-line">
                  <label>Hour</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ program.get_credit_hour }}" name="credit-hour" />
                </div>
                <div class="form-group fg-line">
                  <label>Minute</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_credit_minute }}" name="credit-minute" />
                </div>
            </div>
            {% endcomment %}
            <div class="col-sm-6">
                <h3>ระยะเวลาเข้าเรียน (Time Period)</h3>
                <!-- <input type="checkbox" name="expired-unlimited" value="" {% if program.get_expired_unlimited %}checked{% endif %} />                       -->
                <div class="radio">
                  <label>
                    <input type="radio" name="expired" value="unlimited" {% if program.expired.total_seconds == 0 %}checked{% endif %} />
                    <i class="input-helper"></i> Unlimited Period
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="expired" value="limited" {% if program.expired.total_seconds != 0 %}checked{% endif %} />
                    <i class="input-helper"></i> Limited at
                  </label>
                </div>
                <div class="form-group fg-line">
                  <label>Day</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ program.expired.days }}" name="expired-day" />
                </div>
                <div class="form-group fg-line">
                  <label>Hour</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ program.get_expired_hour }}" name="expired-hour" />
                </div>
                <div class="form-group fg-line">
                  <label>Minute</label>
                  <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ program.get_expired_minute }}" name="expired-minute" />
                </div>
            </div>
            <br class="clear" />
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
                {% comment %}<button type="submit" class="btn btn-primary btn-sm waves-effect" name="save-next">Save & Next Step</button>{% endcomment %}
                {% comment %}<button type="submit" class="btn btn-success btn-sm waves-effect" name="save-perview">Save & Perview</button>{% endcomment %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
