{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">
   <style type="text/css">
    table.payment-way{
      width: 100%;
      display: table;
    }
    table.payment-way tr td{
      border:1px solid #eee;
      padding: 10px;
      display: table-cell;
    }
    table.payment-way thead th{
      border:1px solid #eee;
      padding: 10px;
      display: table-cell;
      background: #eee;
    }
    table.payment-way tr td img{
      width: 30px;
    }
   </style>

{% endblock %}

{% block footerscript %}
   

{% endblock %}

{% block content %}
<div class="container clearfix">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">วิธีการชำระเงิน</h2>
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>ขั้นตอนและช่องทางการชำระเงิน</h3>
          <p>
            พี่คลิ๊กรองรับการชำระเงินแทบทุกรูปแบบ ให้น้องๆมีทางเลือกที่หลากหลาย การชำระเงินจึงง่าย สะดวกและรวดเร็วยิ่งขึ้น
          </p>
          <p style="font-size:18px;">1. ชำระด้วยบัตรเครดิต</p>
          <p style="font-size:18px;">2. ชำระด้วยเงินสดที่เคานเตอร์เซอร์วิส และอื่นๆ</p>
          <p style="font-size:18px;">3. ชำระด้วยการโอนเงินทางธนาคาร<br>
              <i>สามารถโอนเงินผ่านธนาคารอะไรได้บ้าง?
              น้องสามารถเลือกชำระเงินค่าบทเรียนที่สั่งซื้อได้ผ่านธนาคารต่างๆที่สะดวก ตามตารางด้านล่างนี้ครับ</i></p>
          <table class="payment-way">
            <thead>
              <th></th>
              <th></th>
              <th>สาขา</th>
              <th>ชื่อบัญชี</th>
              <th>เลขที่บัญชี</th>
            </thead>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_kbank.png" %}"></td>
              <td>กสิกรไทย</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>575-2-13581-0</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_ktb.png" %}"></td>
              <td>กรุงไทย</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>962-0-07674-5</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_bbl.png" %}"></td>
              <td>กรุงเทพ</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>008-7-09568-3</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_bay.png" %}"></td>
              <td>กรุงศรีอยุธยา</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>626-1-04706-3</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_scb.png" %}"></td>
              <td>ไทยพาณิชย์</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>402-5-23147-8</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_tmb.png" %}"></td>
              <td>ทหารไทย</td>
              <td>สาขา เซ็นทรัลแจ้งวัฒนะ</td>
              <td>บจ.คลิ๊กฟอร์เคลฟเวอร์</td>
              <td>235-2-06659-7</td>
            </tr>
          </table>
          <br>
          <p style="font-size:18px;">4.ชำระด้วยบัญชีธนาคารออนไลน์</p>
          <p><b>ขั้นตอนการชำระเงิน </b></p>
          <p>
            1. ในหน้าขั้นตอนชำระเงินระบบจะรวมยอดที่ต้องชำระ แล้วให้น้องเลือกวิธีการชำระเงินตามช่องทางที่น้องสะดวก
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howorder/5.jpg" %}" class="rps">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_01.jpg" %}" class="rps">
          </p>
          <p>
            2. เมื่อเลือกช่องทางการชำระแล้ว ให้ทำตามขั้นตอนที่ปรากฏของช่องทางนั้นๆ โดยกรอกข้อมูลให้ครบถ้วน
          </p>
          <p><b>2.1 ชำระด้วยบัตรเครดิต</b></p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_03.jpg" %}" class="rps">
          </p>
          <p><b>2.2 ชำระด้วยเงินสดที่เคานเตอร์เซอร์วิส และอื่นๆ</b></p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_04.jpg" %}" class="rps">
          </p>
          <p><b>2.3 ชำระด้วยการโอนเงินทางธนาคาร</b></p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_05.jpg" %}" class="rps">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_06.jpg" %}" class="rps">
          </p>
          <p><b>2.4 ชำระด้วยบัญชีธนาคารออนไลน์</b></p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/payment_way_07.jpg" %}" class="rps">
          </p>
          <p>3. เมื่อทำการจ่ายเงินเรียบร้อยแล้ว ให้น้องทำการแจ้งการชำระเงิน “ดูขั้นตอนการแจ้งการชำระเงิน” </p>
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>ขั้นตอนแจ้งหลักฐานการชำระเงิน</h3>
          <p>สำหรับน้องที่ชำระผ่านช่องทาง <b>บัตรเครดิต เคานเตอร์เซอร์วิส และอื่นๆ และชำระด้วยบัญชีธนาคารออนไลน์</b> <span style="text-decoration:underline;">ระบบจะยืนยันการชำระเงินให้อัตโนมัติ</span></p>
          <p><b>ส่วนการชำระด้วยการโอนเงินทางธนาคาร</b> ให้น้องแจ้งการชำระเงินผ่านทางเว็บไซต์ Clickforclever.com เพื่อเป็นการยืนยันการชำระเงิน มีขั้นตอนการแจ้งชำระเงินง่ายๆ ดังนี้</p>
          <p>1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่มเข้าสู่ระบบ</p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/slip_01.jpg" %}" class="rps">
          </p>
          <p>2. เข้าหน้าแจ้งการชำระเงิน โดยกดเลือกที่ปุ่ม แจ้งชำระเงิน</p>
          <p>3. เมื่อเข้าสู่หน้าแจ้งชำระเงินแล้ว ให้กดที่ ปุ่มแจ้งการชำระเงิน</p>
          <p>4. จากนั้นให้น้องกรอกข้อมูลให้ครบ อัพโหลดภาพสลิป</p>
          <p>5. เมื่อใส่ข้อมูลเสร็จก็กด ยืนยันการโอนเงิน  เพื่อส่งหลักฐานให้เจ้าหน้าทำการตรวจสอบ (ภายใน 24 ชม.หลังการแจ้ง)
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/payment/slip_02.jpg" %}" class="rps">
          </p>
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>ขั้นตอนการอนุมัติ</h3>
          <p>*เมื่อเจ้าหน้าที่รับทราบการชำระเงินตามขั้นตอนเรียบร้อย ระบบจะทำการเพิ่มวิดีโอที่น้องสั่งซื้อไว้ใน <a href="" class="main-color">บทเรียน</a> ของน้อง ภายใน 24 ชม. (ในช่วงเวลาทำการ จันทร์-ศุกร์ ตั้งแต่เวลา 10.00-18.00น.)  </p>
        </div><!--panel-body-->
      </div><!--panel-->
    </div>
  </div>
</div>     

{% endblock %}