{% extends "console/base_console.html" %}

{% load staticfiles %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="container">
	<form action="{% url 'console:report_table' %}" method="POST">
		<label for="month">Month : </label>
		<select name="month">
			{% for i in 'xxxxxxxxxxxx' %}
			<option value="{{ forloop.counter }}" {% if forloop.counter == bill_month %}selected{% endif %}>{{ forloop.counter }}</option>
			{% endfor %}
		</select>
		<label for="year">Year : </label>
		<select name="year">
		{% for year in year_range %}
		    <option value="{{ year }}" {% if year == bill_year %}selected{% endif %}>{{ year|add:"543" }}</option>
		{% endfor %}
		</select>
		<button type="submit">Submit</button>
		{% csrf_token %}
	</form>
	<br/>
	<h2>All Order ( Exclude AIS MPay , Apple in app purchase )</h2><br>
	<table class="table table-striped">
		<thead>
			<th>วันที่ชำระ</th>
			<th>เลขที่ใบเสร็จ</th>
			<th>เลขที่ใบสั่งซื้อ</th>
			<th>สมาชิก</th>
			<th>ราคา</th>
			<th>VAT</th>
			<th class="text-center">ช่องทางชำระเงิน</th>
			<th>ราคารวม</th>
		</thead>
		<tbody>
			{% for bill in bill_all_list %}
			<tr>
				<td>{{ bill.timestamp }}</td>
				<td>{{ bill.no }}</td>
				<td>{{ bill.order }}</td>
				<td>{{ bill.order.account }}<br/>( {{ bill.order.account.first_name }} {{ bill.order.account.last_name }})</td>
				<td>{{ bill.price }}</td>
				<td>{{ bill.vat }}</td>
				{% if bill.method == 4 %}
				<td class="text-center">{{ bill.method_display }} ( {{bill.record.get_bank_display}} )</td>
				{% elif bill.method > 0 and bill.method < 10 %}
				<td class="text-center">{{ bill.method_display }} ( Paysbuy )</td>
				{% else %}
				<td class="text-center">{{ bill.method_display }}</td>
				{% endif %}
				<td>{{ bill.net }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight:bold;">รวม</td>
				<td style="font-weight:bold;"><u>{{ sum_all_price }}</u></td>
				<td style="font-weight:bold;"><u>{{ sum_all_vat }}</u></td>
				<td></td>
				<td style="font-weight:bold;"><u>{{ sum_all_net }}</u></td>
			</tr>
		</tbody>

		<tbody class="no-print">
			<tr><td colspan="8" class="text-center"><h2> Apple in app purchase</h2></td></tr>
			{% for bill in bill_apple_list %}
			<tr>
				<td>{{ bill.timestamp }}</td>
				<td>{{ bill.no }}</td>
				<td>{{ bill.order }}</td>
				<td>{{ bill.order.account }}<br/>( {{ bill.order.account.first_name }} {{ bill.order.account.last_name }})</td>
				<td>{{ bill.price }} $</td>
				<td>{{ bill.vat }} $</td>
				{% if bill.method == 4 %}
				<td class="text-center">{{ bill.method_display }} ( {{bill.record.get_bank_display}} )</td>
				{% elif bill.method > 0 and bill.method < 10 %}
				<td class="text-center">{{ bill.method_display }} ( Paysbuy )</td>
				{% else %}
				<td class="text-center">{{ bill.method_display }}</td>
				{% endif %}
				<td>{{ bill.net }} $</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight:bold;">รวม</td>
				<td style="font-weight:bold;"><u>{{ sum_apple_price }} $</u></td>
				<td style="font-weight:bold;"><u>{{ sum_apple_vat }} $</u></td>
				<td></td>
				<td style="font-weight:bold;"><u>{{ sum_apple_net }} $</u></td>
			</tr>
		</tbody>

		<tbody class="no-print">
			<tr><td colspan="8" class="text-center"><h2> AIS MPay</h2></td></tr>
			{% for bill in bill_mpay_list %}
			<tr>
				<td>{{ bill.timestamp }}</td>
				<td>{{ bill.no }}</td>
				<td>{{ bill.order }}</td>
				<td>{{ bill.order.account }}<br/>( {{ bill.order.account.first_name }} {{ bill.order.account.last_name }})</td>
				<td>{{ bill.price }}</td>
				<td>{{ bill.vat }}</td>
				{% if bill.method == 4 %}
				<td class="text-center">{{ bill.method_display }} ( {{bill.record.get_bank_display}} )</td>
				{% elif bill.method > 0 and bill.method < 10 %}
				<td class="text-center">{{ bill.method_display }} ( Paysbuy )</td>
				{% else %}
				<td class="text-center">{{ bill.method_display }}</td>
				{% endif %}
				<td>{{ bill.net }} $</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight:bold;">รวม</td>
				<td style="font-weight:bold;"><u>{{ sum_mpay_price }}</u></td>
				<td style="font-weight:bold;"><u>{{ sum_mpay_vat }}</u></td>
				<td></td>
				<td style="font-weight:bold;"><u>{{ sum_mpay_net }}</u></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}