
<div class="container about top-pad bottom-pad">
    <!-- About Info -->
    <section class="striped">
        <div class="inner">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="about-title">
                        <h3>About</h3>
                        <h2 class="clear-pad main-color">Click For Clever</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <blockquote>
                        <p>Clickforclever สถาบัน กวดวิชา ออนไลน์ เรียนพิเศษ ติว สอน ฟรี ข้อสอบ คณิตคิดเร็ว เทคนิคการคิดเลขเร็ว เนื้อหา คณิตศาสตร์ ชีววิทยา ฟิสิกส์ เคมี ภาษาอังกฤษ ภาษาไทย สังคม o-net Gat Pat ม.ต้น ม.ปลาย ม.4-5-6</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    {% include 'main/fragment/fragment_link_social.html' %}
</div>
