{% extends "base.html" %}
{% load static %}

{% block meta_facebook %}
<meta itemprop="name" content="{{ BASE_NAME }} - {{ TITLE|striptags|default:BASE_TAGNAME }}">
<meta property="fb:app_id" content="{{FB_APP_ID}}" />
<meta property="og:title" content="{{ TITLE|striptags|default:BASE_NAME }}" />
<meta property="og:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="{{ BASE_NAME }} - {{ TITLE|striptags|default:BASE_TAGNAME }}" />
<meta property="og:image" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "clickforclever/images/icons/opengraph-icon.png" %}{% endif %}" />
{% endblock %}

{% block meta_twitter %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="{{ TITLE|striptags|default:BASE_NAME}}" />
<meta name="twitter:creator" content="" />
<meta name="twitter:description" content="{{ DESC|striptags|truncatewords:20|default:BASE_DESC }}" />
<meta name="twitter:image:src" content="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "clickforclever/images/icons/opengraph-icon.png" %}{% endif %}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block project_identity %}
<meta name="author" content="ClickForClever Co.,Ltd." />
<meta itemprop="image" content="" />
<title>{{BASE_NAME}} - {{ TITLE|striptags|default:BASE_TAGNAME }}</title>
<link rel="shortcut icon" href="{% static "clickforclever/images/icons/favicon.ico" %}" />
<link rel="shortcut icon" href="{% if IMAGE_URL %}{{ IMAGE_URL }}{% else %}{% static "clickforclever/images/icons/opengraph-icon.png" %}{% endif %}" />
<link rel="apple-touch-icon" href="{% static "clickforclever/images/icons/apple-touch-icon.png" %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static "clickforclever/images/icons/apple-touch-icon-74x74.png" %}" />
{% endblock %}

{% block theme-css %}
<link rel="stylesheet" href="{% static "clickforclever/css/theme.css" %}" />
<link rel="stylesheet" href="{% static "clickforclever/css/home.css" %}" />
<link rel="stylesheet" href="{% static "clickforclever/css/footer.css" %}" />
{% endblock %}

{% block script %}{% endblock %}

{% block app-name %}ClickForClever{% endblock %}

{% block bodyclass %}{% endblock %}

{% block header %}{% include "main/header.html" %}{% endblock %}

{% block footer %}
    <img src="{% static 'images/black_ribbon.png' %}" class="black-ribbon" />
    <iframe src="{% url 'analytic' %}" style="display:none;"></iframe>
    {% include 'main/footer.html' %}
{% endblock %}

{% block modal %}
    {% include 'main/modal/modal_authen.html' %}
    {% include 'main/modal/modal_strict.html' %}
{% endblock %}
