{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "clickforclever/css/home.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/slick/slick.css" %}">
<link rel="stylesheet" href="{% static "css/plugin/slick/slick-theme.css" %}">
{% endblock %}
{% block script %}
<script src="{% static "js/plugin/slick/slick.min.js" %}"></script>
<script src="{% static "js/home.js" %}"></script>
<script type="text/javascript">
   $(document).ready(function() {
      var slide = $(".slide-overflow");
      slide.slick({
         slidesToShow : 1,
         slidesToScroll : 1,
         centerMode : true,
         autoplay : true,
         autoplaySpeed : 5000,
         mobileFirst : true,
         dots : true,
         variableWidth: true,
      });
      slide.fadeIn(500);
   });
</script>
{% endblock %}
{% block jquery %}
$('ul.featured-slide').slick(SLICK_OPTIONS);
{% endblock %}
{% block content %}
{% comment %}
<div class="hero-mask" style="bottom: 6px;">
	<a><img style="width:100%; margin-top:0px;" src="{% static "clickforclever/images/cover.jpg" %}?v=2" class="active"></a>
</div>
{% endcomment %}
<ul class="unstyle featured-slide">
    {% for banner in banner_list %}
    <li>
        <a href="{% if banner.url %}{{banner.url}}{% else %}#{% endif %}" target="_blank" {% if not banner.url %}class="cursor-default"{% endif %}>
          <img src="{{banner.image.url}}" />
        </a>
    </li>
    {% endfor %}
</ul>

<div class="container shortcut-link">
		<a href="{% url 'course:home' %}">
				<img src="{% static 'clickforclever/images/menu/1.png' %}">
		</a>
		<a href="{% url 'course:group' 'free' %}">
				<img src="{% static 'clickforclever/images/menu/2.png' %}">
		</a>
		<a href="{% url 'promotion' %}">
				<img src="{% static 'clickforclever/images/menu/3.jpg' %}">
		</a>
		<a href="{% url 'course:group' 'trick' %}">
				<img src="{% static 'clickforclever/images/menu/4.png' %}">
		</a>
		<a href="{% url 'course:group' 'intensive' %}">
				<img src="{% static 'clickforclever/images/menu/5.png' %}">
		</a>
		<a href="{% url 'course:group' 'admission' %}">
				<img src="{% static 'clickforclever/images/menu/6.png' %}">
		</a>
		<a href="{% url 'course:course_subject' 'O-Net' %}">
				<img src="{% static 'clickforclever/images/menu/7.png' %}">
		</a>
		<a href="{% url 'course:course_subject' 'GAT-PAT' %}">
				<img src="{% static 'clickforclever/images/menu/8.png' %}">
		</a>
		<a href="{% url 'course:course_subject' '7-Subject' %}">
				<img src="{% static 'clickforclever/images/menu/9.png' %}">
		</a>
		<a href="{% url 'course:course_subject' 'Quota' %}">
				<img src="{% static 'clickforclever/images/menu/10.png' %}">
		</a>
</div>
{% if course_featured_list|length > 0 %}
<ul class="box-wrapper">
    <h1><span class="main-color">คอร์สตัวอย่าง</span>
        <a href="{% url 'course:home' %}" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% for course in course_featured_list %}
		{% include "course/item_cached_new.html" %}
		{% endfor %}
</ul>
{% endif %}
{% if course_season_list|length > 0 %}
<ul class="box-wrapper">
    <h1><span class="main-color">คอร์สตาม Season</span>
        <a href="{% url 'course:home' %}?type=season" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% for course in course_season_list %}
    {% include "course/item_cached.html" %}
    {% endfor %}
</ul>
{% endif %}
<!--line and facebook-->
<div class="container clearfix">
  	<div class="row">
		    <div class="col-sm-7">
				    <img src="{% static "clickforclever/images/contact_banner.jpg" %}" class="full-width" />
		    </div>
		    <div class="col-sm-5">
				    <div class="fb-page" data-href="{{FB_PAGE_URL}}" data-width="750" data-height="250" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="{{FB_PAGE_URL}}">
                        <a href="{{FB_PAGE_URL}}">ClickforClever</a>
                    </blockquote>
                </div>
            </div>
		    </div>
	  </div>
</div>

<div class="container">
    <h2 class="main-color">ความรู้นอกห้อง</h2>
    <div class="menu-tab">
        <ul class="nav unstyle text-center flex">
            {% for highlight in highlight_list %}
            <li class="{% if forloop.first %}active{% endif %}">
                <a href="#lesson-{{ highlight.obj.id }}" role="tab" data-toggle="tab">
                    <span>{{ highlight.obj.menu }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="tab-content">
    {% for highlight in highlight_list %}
    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="lesson-{{ highlight.obj.id }}">
        {% if highlight.lesson_list|length > 0 %}
        {% include "lesson/highlight_cached.html" with lesson=highlight.lesson_list.0 %}
        {% endif %}
        <ul class="box-wrapper">
            {% if highlight.lesson_list|length > 0 %}
                {% for lesson in highlight.lesson_list %}
                {% if not forloop.first %}
                {% include "lesson/item_cached_new.html" %}
                {% endif %}
      		      {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endfor %}
</div>
<!--Banner-click-->
<div class="container">
	  <div class="row bottom-pad">
		    <div class="col-sm-4">
			      <h2 class="main-color">Scan Future</h2>
			      <a href="http://scanfuture.clickforclever.com" target="_blank">
                <img src="{% static 'clickforclever/images/click-scanfuture.jpg' %}" class="full-width" />
            </a>
		    </div>
		    <div class="col-sm-4">
			      <h2 class="main-color">กิจกรรม</h2>
			      <a href="{% url 'activity' %}" target="_blank">
                <img src="{% static 'clickforclever/images/click-activity.jpg' %}" class="full-width" />
            </a>
		    </div>
		    <div class="col-sm-4">
			      <h2 class="main-color">Click For U</h2>
			      <a href="http://clickforu.clickforclever.com/" target="_blank">
                <img src="{% static 'clickforclever/images/click-CFU.jpg' %}" class="full-width">
            </a>
		    </div>
	  </div>
</div>
{% if course_trick_list|length > 0 %}
<ul class="box-wrapper">
    <h1><span class="main-color">ClickForTrick</span>
        <a href="{% url 'course:home' %}?type=tricks" class="pull-right btn-inline-small btn-main-color">
            See all <i class="fa fa-plus-circle"></i>
        </a>
    </h1>
    {% for course in course_trick_list %}
    {% include "course/item_cached_new.html" %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
