<select name="type" style="max-width:50%;">
    <option value="1" data-img="{% if user.image %}{{ user.image.url }}{% endif %}" {% if message.get_owner.object == user %}selected{% endif %}>{{ user.get_display }}</option>
    {% if provider %}
    <option value="2" data-img="{% if provider.image %}{{ provider.image.url }}{% endif %}" {% if message.get_owner.object == provider %}selected{% endif %}>{{ provider.name }}</option>
    {% endif %}
    {% if sub_provider and IS_SUB_PROVIDER %}
    <option value="3" data-img="{% if sub_provider.image %}{{ sub_provider.image.url }}{% endif %}" {% if message.get_owner.object == sub_provider %}selected{% endif %}>{{ sub_provider.name }}</option>
    {% endif %}
</select>
