{% load staticfiles %}
{% if IS_SIGNUP %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      {% include "account/login_block.html" %}
   </div>
</div><!-- END login modal -->

<!-- signup modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      {% include "main/fragment/fragment_signup.html" %}
   </div>
</div><!-- END signup modal -->
{% endif %}

<!-- email verify resend modal -->
<div class="modal fade" id="emailVerifyResendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      {% include "main/fragment/fragment_email_verify_resend.html" %}
   </div>
</div><!-- END email verify modal -->

{% comment %}
<!-- email verify new email modal -->
<div class="modal fade" id="emailVerifyNewEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      {% include "main/fragment/fragment_email_verify_new_email.html" %} %}
   </div>
</div><!-- END email verify modal -->
{% endcomment %}
