{% if announcement %}
<div class="modal fade" tabindex="-1" role="dialog" id="announcementModal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title main-color bold">{{ announcement.title }}</h3>
            <p class="clear-pad"><small>{{ announcement.timestamp|date:"D d M Y" }}</small></p>
        </div>
        <div class="modal-body no-top-pad no-btm-pad">
            {% if announcement.image %}
            <div class="row">
                <img src="{{announcement.image.url}}" class="full-width" />
            </div>
            {% endif %}
            <div class="top-margin-little">{{ announcement.desc }}</div>
            <br>
            {% if announcement.get_target_url %}
            <p class="source">Source : <a target="_blank" href="{{ announcement.get_target_url }}">{{ announcement.get_target_url }}</a></p>
            {% endif %}
        </div><!-- /.modal-body -->
        <button type="button" class="btn-block btn-main-color-static top-margin-little" data-dismiss="modal">OK</button>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
