
{% load staticfiles %}
<div class="modal fade" id="suggestSignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="form-signin" style="max-width:530px;">
         <div class="modal-body">
            <div class="modal-header" style="padding-left:0px;border-bottom:0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title red"  style="font-size:23.8px;">รับคอร์สติวฟรี แค่สมัครสมาชิก</h3>
      </div>
      <p>ติวออนไลน์ บนโคนิเคิล อะคาเดมี่ กับสถาบันและติวเตอร์คุณภาพ ติวคอร์สฟรี แค่สมัครสมาชิก!</p>
      <img style="margin:10px 0;" width="100%" src="{% static "images/modal/popup_signup_image.jpg" %}">
      <p>อร์สออนไลน์โดนๆจากสถาบันชื่อดัง ที่จะทำให้การติวเป็นเรื่องง่าย
      เข้มข้น ครบทุกวิชา คณิต ฟิสิกส์ เคมี ชีวะ อังกฤษ ไทย สังคม<br>
      คอร์สดีๆ ติวฟินๆ จาก Click for Clever, Social Nock, และ Che-me-ka
      โปรโมชั่นลด 20% จำนวนจำกัดเพียง 200 สิทธิ์เท่านั้น!!
      </p>
      <p class="text-center orange">“คอร์สดีๆ มีอัพเดทใหม่ทุกๆเดือน”</p>
      <div class="modal-footer" style="padding-left:0px; padding-right:0px;border-top:0px;">
        <button onclick="goSignup()" type="button" class="btn btn-red modal-button"  style="">รับคอร์สฟรี!</button>
      </div>
     </div>
  </div>
</div>
</div>

