<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="form-signin">
      <div class="modal-body">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="exampleModalLabel">ที่อยู่ในการจัดส่งหนังสือ</h3>
	      </div>
        <form id="form-address">
          <div class="social-box" style="margin-top:10px;">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-4">
                  <label>ชื่อ :</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="ชื่อ - นามสกุล" value="{{ address.name }}" name="name">
                </div>

              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label>ที่อยู่ :</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="ที่อยู่ในการจัดส่ง" value="{{ address.address }}" name="address">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label>แขวง/ตำบล :</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="แขวง/ตำบล" value="{{ address.subdistrict }}" name="subdistrict">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label>เขต/อำเภอ :</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="เขต/อำเภอ" value="{{ address.district }}" name="district">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label>จังหวัด :</label>
                </div>
                <div class="col-xs-8">
                  <div class="dropdown">
		                {% include "form/province.html" with name="province" class_name="province" value="form-control" %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label>รหัสไปรษณีย์ :</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="รหัสไปรษณีย์" value="{{ address.zipcode }}" name="zipcode">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label>เบอร์ติดต่อ :</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" required placeholder="เบอร์ติดต่อ" value="{{ address.tel }}" name="tel">
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="token" value="{{user.token}}">
          <input type="hidden" name="uuid" value="{{user.uuid}}">
          <div class="modal-footer">
            <button type="submit" class="btn btn-red">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
