{% load staticfiles %}
<div id="cropImageModal">
  <div class="wrap-crop">
    <p class="text-right f-20"><i class="zmdi zmdi-close btn-close-crop-size"></i></p>
  	<div class="crop"></div>
    <div class="clearfix">
      <div class="pull-left">
        Size<br />
        <div class="radio">
          <label>
            <input type="radio" name="crop-choice" value="square" checked />
            <i class="input-helper"></i> Square
          </label>
        </div>
        {% comment %}
        <div class="radio">
          <label>
            <input type="radio" name="crop-choice" value="circle" />
            <i class="input-helper"></i> Circle
          </label>
        </div>
        {% endcomment %}
        <div class="radio">
          <label>
            <input type="radio" name="crop-choice" value="custom" />
            <i class="input-helper"></i> Custom
          </label>
        </div>
        <input type="number" name="crop-width" placeholder="Width" value="250" /> x
        <input type="number" name="crop-height" placeholder="Height" value="250" />
      </div>
      <div class="btn-rotate-area text-center">
        Rotate<br />
        <button type="button" class="btn bgm-cyan waves-effect btn-lg btn-rotate-left"><i class="zmdi zmdi-rotate-ccw"></i></button>
  			<button type="button" class="btn bgm-cyan waves-effect btn-lg btn-rotate-right"><i class="zmdi zmdi-rotate-cw"></i></button>
      </div>
    </div>
    <br class="clear" />
  	<p class="text-center">
  		<button type="button" class="btn bgm-bluegray btn-lg waves-effect btn-crop"><i class="zmdi zmdi-check"></i> Done</button>
  	</p>
  </div>
</div>
