<div class="modal fade" id="createlesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form class="form-horizontal">
  <div class="modal-dialog">
        <div class="modal-content">
          	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title text-center red">Build a lesson and make a movement.</h2>
		<h4 class="modal-title text-center form-hint">คุณอยากอธิบายสั้นๆหรือยาวๆก็ได้เลย มีแค่ 5 ข้อมูลบังคับเท่านั้น</h4>
          	</div>
          	<div class="modal-body">
            	<div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Lesson Topic:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="What's your lesson topic?">
                                                <span class="input-group-addon">140</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Category:</label>
                                        <div class="col-sm-5">
                                            <div class="dropdown">
                                              <select name="language" class="form-control" required="">
                                                 <option value="" disabled="" selected="">Select Category</option>
                                                 <option value="">cat1</option>
                                                 <option value="">cat2</option>
                                              </select>
                                           </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="dropdown">
                                              <select name="language" class="form-control" required="">
                                                 <option value="" disabled="" selected="">Select Sub Category</option>
                                                 <option value="">cat1</option>
                                                 <option value="">cat2</option>
                                              </select>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Course Type:</label>
                                        <div class="col-sm-5">
                                            <div class="dropdown">
                                              <select name="language" class="form-control" required="">
                                                 <option value="" disabled="" selected="">Select Type</option>
                                                 <option value="">1</option>
                                                 <option value="">2</option>
                                              </select>
                                           </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="dropdown">
                                              <select name="language" class="form-control" required="">
                                                 <option value="" disabled="" selected="">Level</option>
                                                 <option value="">1</option>
                                                 <option value="">2</option>
                                              </select>
                                           </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
          	</div><!--modal-body-->
          	<div class="modal-footer">
            	<div class="row">
                	<div class="col-sm-12 text-center">
                  
                  </div>
                </div>
          	</div>
        </div>
  	</div>
    </form>
</div>
