{% load i18n %}
{% load staticfiles %}
<script src="{% static "js/plugin/jquery.barrating.min.js" %}"></script>
<script>
  $(function(){
    // Rating
		$('#rate-content').barrating({
				showSelectedRating:false,
				// initialRating:'0',
				onSelect:function(value, text, event){
        		$('.alert-empty-rating').fadeOut('slow');
            $('#rate-content-hidden').val(value);
        }
		});
		$('#review-rating').barrating({
				showSelectedRating:false,
				initialRating:'0',
				onSelect:function(value, text, event){
        		$('.alert-empty-rating').fadeOut('slow');
            $('#review-rating-hidden').val(value);
        }
		});
  });
</script>
<div id="rateContentModal" class="modal fade text-center">
  <div class="modal-dialog">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="main-color"><strong>{% if rating %}{% trans "See your review" %}{% else %}{% trans "Review this " %}{% trans type_s %}{% endif %}</strong></h4>
          <hr class="clear-pad" />
          <select id="rate-content" required>
              <option value=""></option>
              <option value="1" {% if rating and rating.rating == 1 %}selected{% endif %}>1</option>
              <option value="2" {% if rating and rating.rating == 2 %}selected{% endif %}>2</option>
              <option value="3" {% if rating and rating.rating == 3 %}selected{% endif %}>3</option>
              <option value="4" {% if rating and rating.rating == 4 %}selected{% endif %}>4</option>
              <option value="5" {% if rating and rating.rating == 5 %}selected{% endif %}>5</option>
          </select>
          <span class="alert-empty-rating red">{% trans "Please select rating." %}</span>
          <form id="form-rating">
              <h5 class="text-left">{% trans "Comments" %} :-</h5>
              <textarea name="message" id="review-desc" maxlength="300" class="form-control" rows="5" placeholder="{% trans 'Please leave your comments.' %}">{% if rating %}{{ rating.message }}{% endif %}</textarea>
              <input type="hidden" name="content_type" value={{ type_s }}>
              <input type="hidden" name="content_id" value="{{ type.id }}">
              <input type="hidden" id="rate-content-hidden" name="ratinghidden" value="0">
              {% if not rating %}
              <br />
              <p class="text-right">
                  <button type="submit" class="btn-inline btn-main-color btn-lg">{% trans "Submit" %}</button>
              </p>
              {% endif %}
          </form>
      </div>
  </div>
</div>
