<div class="modal fade" id="strictModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="form-signin">
         <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
               <!-- login form -->
             <div class="social-box">
               <h3>Strict</h3>
               <p style="border-top:1px solid #eee; padding-top:15px;">This course is optimized for the developer who is looking to efficiently learn the most important design techniques that will help them make better apps (with a focus on mobile/Android).
               This is a UX design course built for current (and aspiring) mobile developers. In this short course, you'll step back from your IDE and dive into the techniques that great designers use to plan and prototype amazing apps before any code is written.</p>
            </div>
         </div>
      </div>
   </div>
</div><!-- END login modal -->
