{% load i18n %}
{% load staticfiles %}
<div id="cropImageModal">
		<p class="text-right" style="padding-right:20px;">
			<a href="#" class="font-20 close-modal">&times;</a>
		</p>
		<div class="crop"></div>
		<p>
				<a href="#" class="btn-inline btn-default btn-rotate-left"><i class="fa fa-undo"></i></a>
				<a href="#" class="btn-inline btn-default btn-rotate-right"><i class="fa fa-repeat"></i></a>
		</p>
		<p>
				<a href="#" class="btn-inline btn-main-color btn-crop"><i class="fa fa-check"></i> {% trans "Done" %}</a>
		</p>
</div>
