<div class="modal fade" id="modal-teach" tabindex="-1" role="dialog" aria-labelledby="modal-teach" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
       </button>
        <div class="main">
           <div class="join-head">
              <h1 class="join-title">Thank you</h1>
              <br>
              <p>และเราจะติดต่อกลับไป เพื่อเริ่มสร้างคอร์สออนไลน์กันเลย!!</p>
           </div>

           <span class="clearfix"></span>
           <button data-dismiss="modal" class="btn-block btn-main-color btn-lg">
              Close
           </button>
        </div>
    </div>
  </div>
</div>
