
{% load staticfiles %}
<div class="modal fade" id="suggestCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="form-signin" style="max-width:530px;">
         <div class="modal-body">
            <div class="modal-header" style="padding-left:0px;border-bottom:0px;">
        {% comment %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% endcomment %}
        <h3 class="modal-title red" id="exampleModalLabel" style="font-size:23.8px;">โปรโมชั่นคอร์สออนไลน์ ลด 20%</h3>
      </div>
      <p>ต้อนรับเปิดเทอมกับโปรโมชั่นดีๆจากโคโค่เดมี่ จองคอร์สออนไลน์ล่วงหน้าวันนี้ลดทันที 20% ถึง 7 มิ.ย. 58 นี้เท่านั้น</p>
      <img style="margin:10px 0;" width="100%" src="{% static "images/popup_course_image.jpg" %}">
      <p>คอร์สออนไลน์เข้มข้นจากสถาบันชื่อดัง ที่จะทำให้การติว ง๊าย ง่าย
ครอบคลุมทุกวิชา คณิต ฟิสิกส์ เคมี ชีวะ อังกฤษ ไทย สังคม! <br>
      คอร์สดีๆ ติวฟินๆ จาก Click for Clever, Social Nock, และ Che-me-ka
      โปรโมชั่นลด 20% จำนวนจำกัดเพียง 200 สิทธิ์เท่านั้น!!
      </p>
      <p class="text-center red">เริ่มเรียนพร้อมกัน 8 มิ.ย. 2558</p>
      <div class="modal-footer" style="padding-left:0px; padding-right:0px;border-top:0px;">
        <a href="{% url 'course:home' %}" type="button" class="btn btn-red modal-button"  style="">ดูคอร์ส</a>

      </div>
     </div>
  </div>
</div>
</div>

