{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu has-back-btn{% endblock %}
{% block css %}
<style>
.address .row{
	margin-bottom: 7px;
}
.address i{
	font-size: 20px;
	margin-right: 5px;
}
</style>
{% endblock %}
{% block content %}
<div class="container container-stable">
		<h2 class="main-color bold top-pad text-center">Contact</h2><br /><br />
		<div class="row">
				<div class="col-sm-5 bottom-pad address">
						<div class="row">
								<div class="col-xs-1"><i class="fa fa-envelope main-color"></i></div>
								<div class="col-xs-10"><a aria-expanded="false" aria-controls="emailform" class="black">recruit@ais.co.th</a></div>
						</div>
						<div class="row top-margin-little">
								<div class="col-xs-1"><i class="fa fa-map-marker main-color"></i></div>
								<div class="col-xs-10">
										บริษัท แอดวานซ์ อินโฟร์ เซอร์วิส จำกัด (มหาชน)<br />
										เลขที่ 414 อาคารเอไอเอส 1 ชั้น 13 ส่วนหน้า ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400</div>
						</div>
						<div class="row top-margin-little">
								<div class="col-xs-1"><i class="fa fa-phone main-color"></i></div>
								<div class="col-xs-10">โทร: 0-2029-4241</div>
						</div>
						<div class="row top-margin-little">
								<div class="col-xs-1"><i class="fa fa-facebook main-color"></i></div>
								<div class="col-xs-10">www.facebook.com/aisapplyjob/</div>
						</div>
						<br />
				</div>
				<div class="col-sm-7">
						<form action="" method="POST">{% csrf_token %}
								<div class="form-horizontal">
										<div class="form-group">
												<div class="col-sm-3"><label>ชื่อ</label></div>
												<div class="col-sm-9"><input type="text" class="form-control" required="" placeholder="ชื่อผู้ส่ง" name="name" /></div>
										</div>
										<div class="form-group">
												<div class="col-sm-3"><label>อีเมลของผู้ส่ง</label></div>
												<div class="col-sm-9"><input type="email" class="form-control" required="" placeholder="อีเมลของผู้ส่ง" name="email" /></div>
										</div>
										<div class="form-group">
												<div class="col-sm-3"><label>เบอร์โทรศัพท์</label></div>
												<div class="col-sm-9"><input type="tel" class="form-control" required="" placeholder="เบอร์โทรศัพท์" name="tel" /></div>
										</div>
										<div class="form-group">
												<div class="col-sm-3"><label>ข้อความ</label></div>
												<div class="col-sm-9"><textarea style="min-height:150px;" required="" class="form-control" name="message"></textarea></div>
										</div>
										<div class="form-group">
												<div class="col-xs-12 text-right"><input type="submit" class="btn-inline btn-main-color" value="Submit" /></div>
										</div>
								</div>
						</form>
				</div>
		</div>
		{% if success %}
		<div class="text-center"><p class="red">คุณทำรายการสำเร็จแล้ว จะมีเจ้าหน้าที่ติดต่อกลับทางอีเมล์ในภายหลัง</p></div>
		{% endif %}
</div>
{% endblock %}
