{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block css %}
<style>
#about{
  font-size: 15px;
  max-width: 900px;
  margin: auto;
}
#about p{
  line-height: 32px;
  margin-bottom: 32px;
  text-indent: 50px;
}
</style>
{% endblock %}
{% block content %}
<div id="about" class="container-fluid">
    <h2 class="main-color bold top-pad text-center">About</h2>
    <br /><br />
    <div>
        <p>AIS LearnDi คือ Digital Learning Platform ซึ่งเป็นเครื่องที่ช่วยสนับสนุนการเรียนรู้และพัฒนาของพนักงาน โดยเนื้อหาหลักสูตรใน Platform นี้จะมีทั้งรูปแบบที่เป็น e-learning, VDO และเอกสารต่างๆ โดยเพื่อนๆ สามารถเลือกเรียนรู้แบบ Self-Learning ด้วยตัวเองในแบบ Anytime, Anywhere, Any Device นั่นคือ จะเรียนที่ไหนก็ได้ เวลาใดก็ได้ รวมทั้งสามารถใช้งานผ่าน Smartphone, Tablet หรือ Computer</p>
        <p>โดยเนื้อหาหลักสูตรนี้ จะมีทั้งที่อยู่ใน Compulsory Course (Learning Roadmap) และ Public Course (On-Demand) ซึ่งการบริหารจัดการการเรียนรู้จะอยู่ที่ตัวพนักงาน และหัวหน้างานเป็นสำคัญ โดยพี่ๆ หัวหน้างานสามารถที่จะ Assign เพื่อสร้างการเรียนรู้แบบ Experiential Learning ขึ้นเช่น การ Assign พนักงานในสังกัดไปอ่านหนังสือ หรือไปเรียนงาน เป็นต้น</p>
        <p>ที่สำคัญ Platform นี้สามารถวัดผลด้วยการทดสอบในรูปแบบต่างๆ เช่น ปรนัย, อัตนัย และสามารถเก็บข้อมูลแบบ Real-Time พร้อมทั้งแสดงผลในรูปแบบ Graphic เพื่อช่วยให้ผู้เรียนและหัวหน้างานสามารถจัดการการเรียนรู้ได้อย่างมีประสิทธิภาพมากยิ่งขึ้น</p>
        <div class="text-right">
          ขอให้สนุกกับการเรียนรู้
          <div class="main-color" style="padding-right:24px;">AIS Academy</div>
        </div>
    </div>
    <br /><br />
</div>
{% endblock %}
CREATE DATABASE `school` CHARACTER SET utf8 COLLATE utf8_general_ci;
