{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2 class="main-color bold top-pad text-center">Contact</h2>
    <br /><br />
    <div class="text-center">
        ติดปัญหาการใช้งาน สามารถสอบถามมาได้ที่ e-mail: <a href="mailto:ais_academy@ais.co.th">ais_academy@ais.co.th</a>
    </div>
    <br /><br />
</div>
{% endblock %}
