{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block css %}
<style>
#term{
  font-size: 15px;
  line-height: 32px;
  max-width: 900px;
  margin: 0 auto 32px auto;
}
</style>
{% endblock %}
{% block content %}
<div id="term" class="container-fluid">
    <h2 class="main-color bold top-pad text-center">{% trans "Terms of Service" %}</h2>
    <br /><br />
    <div>
        <p>รายละเอียดด้านล่างนี้ เป็นข้อกำหนดและเงื่อนไขการใช้บริการ AIS LearnDi ซึ่งมีทั้ง Website และ Application (ซึ่งต่อไปนี้ขอเรียกว่า “ระบบ”) ของบมจ. แอดวานซ์ อินโฟร์ เซอร์วิส (ซึ่งต่อไปนี้ขอเรียกว่า “บริษัท”) กับพนักงานที่เข้าใช้งาน (ซึ่งต่อไปนี้ขอเรียกว่า “ท่าน”) โดยมีพนักงานที่ได้รับสิทธิบริหารจัดการระบบเป็นผู้ดูแล (ซึ่งต่อไปนี้ขอเรียกว่า “Super Admin”) ทั้งนี้ กรุณาอ่านข้อกำหนด เงื่อนไขการให้บริการโดยครบถ้วนเพื่อประโยชน์ในการเรียนรู้และพัฒนาอย่างมีประสิทธิภาพของท่าน</p>
        <ol class="top-margin-little">
            <li>บริษัทขอสงวนสิทธิ ในการแก้ไขข้อตกลงในการใช้บริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า ส่วนท่านมีหน้าที่ตรวจสอบข้อตกลงในการใช้งานด้วยตนเอง โดยหากบริษัทมีการเปลี่ยนแปลงข้อมูลจะมีการแจ้งให้ทราบในภายหลัง</li>
            <li>ระบบนี้ถูกพัฒนาขึ้น โดยมีวัตถุประสงค์เพื่อ เป็นเครื่องมือสนับสนุนการเรียนรู้และพัฒนาให้กับพนักงานในองค์กรเท่านั้น ดังนั้น ข้อมูลบนระบบนี้ ถือเป็นข้อมูลภายในองค์กร ซึ่งถูกบริหารจัดการชั้นความลับของข้อมูล (Data Classification) ได้แก่ Public, Internal Use, Restrict และ Confidential</li>
            <li>Super Admin เป็นบุคคลที่ได้รับมอบหมายให้มีสิทธิในการตรวจสอบ เปลี่ยนแปลงและลบรายการข้อมูลต่างๆ ในระบบได้ โดยหากมีการเปลี่ยนแปลงข้อมูลจะมีการแจ้งให้ทราบในภายหลัง</li>
            <li>บริษัทไม่อนุญาตให้ท่านสำเนาข้อมูลในระบบไม่ว่าจะด้วยวิธีใดก็ตาม เช่น การ Print Screen หรือการถ่ายรูป (ยกเว้นบุคคลหรือหน่วยงาน ที่ได้รับสิทธิจาก Super Admin เท่านั้น)</li>
            <li>บริษัทไม่อนุญาติให้ท่านนำข้อมูลในระบบนี้ไปเผยแพร่ต่อบุคคลภายนอก ที่ไม่ใช่พนักงานของบริษัท โดยไม่ได้รับอนุญาต (ยกเว้นบุคคลหรือหน่วยงาน ที่ได้รับสิทธิจาก Super Admin เท่านั้น)</li>
            <li>บริษัทให้ความสำคัญเรื่อง นโยบายความปลอดภัยของข้อมูล (Information Security Policy) ดังนั้น ท่านจำเป็นต้อง Log In เพื่อเข้าใช้งานระบบ และหากท่านพ้นสภาพจากการเป็นพนักงานของบริษัทแล้ว บริษัทจะดำเนินการลบสิทธิในการเข้าถึงระบบนี้ทันทีโดยไม่ต้องแจ้งให้ท่านทราบ</li>
            <li>บริษัทให้ความสำคัญเรื่อง นโยบายข้อมูลส่วนบุคคล (Data Privacy) ทั้งข้อมูลของลูกค้าและพนักงาน ดังนั้น ท่านสามารถไว้วางใจได้ว่า ระบบมีการบริหารจัดการเรื่องข้อมูลของท่านอย่างมีประสิทธิภาพ และคำนึงถึงสิทธิส่วนบุคคลเสมอ</li>
            <li>ระบบนี้ มีส่วนที่เปิดให้ท่านสามารถพิมพ์ข้อความ ตอบคำถาม หรือแสดงความคิดเห็นต่างๆ ได้ ดังนั้น ท่านจะต้องไม่กระทำการอันเป็นการล่วงละเมิด ดูหมิ่น สถาบันชาติ ศาสนา พระมหากษัตริย์, ท่านต้องไม่ส่งหรือเขียนข้อความที่หยาบคาย ลามก อนาจาร หมิ่นประมาท ส่อเสียด คุกคาม ว่ากล่าวให้ร้าย ขู่กรรโชก แก่พนักงานท่านอื่นหรือบุคคลที่ 3 รวมทั้งข้อความอื่นๆ ที่ขัดต่อข้อกฎหมาย</li>
            <li>บริษัทให้ความสำคัญเรื่อง จริยธรรมในองค์กร (Business Ethics) ซึ่งเกี่ยวข้องกับกฎหมาย พรบ. นโยบาย และข้อกำหนดหลายด้าน ดังนั้น ท่านต้องให้ความสำคัญกับการใช้งานระบบ โดยไม่ผิดต่อจริยธรรมในองค์กร และหากมีการกระทำความผิด บริษัทสามารถดำเนินการตามขั้นตอนของหลักจริยธรรมในองค์กรโดยทันที</li>
            <li>บริษัทจะไม่รับผิดชอบในความเสียหายใดๆ รวมถึงความสูญเสีย การบาดเจ็บ และค่าใช้จ่ายที่เกิดขึ้นทั้งโดยตรงและโดยอ้อม โดยบังเอิญ อันเป็นผลสืบเนื่องมาจากการใช้งานระบบทุกกรณี</li>
        </ol>
    </div>
</div>
{% endblock %}
