{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="tab-content" >
  <div class="tab-pane active" id="course">
    <div class="pinned-data data">
      <div class="container clearfix fix-min-height top-pad">
	<div class="panel panel-default">
          <div class="panel-body">
	    <form action="" method="post">{% csrf_token %}
              To: <input class="form-control" type="Text" name="to" value="support" disabled/><br/>
	      message:<br/>
	      <textarea class="form-control" rows="12" name="message"></textarea>
	      <br/>
	      <input type="submit" class="btn btn-primary btn-sm" value="Send"/>
	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
