{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="tab-content" >
  <div class="tab-pane active" id="course">
    <div class="pinned-data data">
      <div class="container clearfix fix-min-height top-pad" style="width:80%;">
          <h1>{{ inbox.title }}</h1>
          <p style="padding-top:10px;white-space: pre-line; word-break: break-word;">{{ inbox.body }}</p>

          <small style="display:block; margin-top:20px;">By System</small>
          <small style="display:block">{{ inbox.timestamp | naturaltime}}</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
