{% extends "base.html" %}
{% load staticfiles %}

{% block headerscript %}
{% endblock %}

{% block footerscript %}
{% endblock %}

{% block content %}
<div class="tab-content" >
  <div class="tab-pane active" id="course">
    <div class="pinned-data data">
      <div class="container clearfix fix-min-height top-pad">
	         <div class="panel panel-default">
          <div class="panel-body">
            <a href="{% url 'inbox:create' %}"><button type="button" class="btn btn-primary btn-sm">Send to Support</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
