{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load duration_tags %}
{% block headerscript %}{% endblock %}
{% block footerscript %}
<script type="text/javascript">
	var is_requesting = false;
	var page = 1;
	var is_next = true;
	$(function(){
		requestNotificationItem();
	});
	$(window).scroll(function() {
		if($(window).scrollTop() == $(document).height() - ($(window).height())) {
		  requestNotificationItem();
		}
	});

  function requestNotificationItem(){
	var notification_list = $('#notification-list')
	if (!is_requesting && is_next){
		console.log('Request')
		is_requesting = true
	    var request = $.ajax({
			url: "{% url 'inbox:item' %}?page="+page,
			type: "GET",
			dataType: "json"
		}).done(function( msg ) {
			is_next = msg.result.is_next
			if(msg.status == 200){
				is_requesting = false
				page += 1
				// is_next = msg.result.is_next
				if(msg.result.inbox_list.length > 0){
					$('.no-content').hide();
				}
				msg.result.inbox_list.forEach(function(inbox) {
				    notification_list.append(inbox);
				});

				//Toggle Nptification Content
				$('.notification-item').mouseover(function(){
					data = $(this).attr("data");
					web_read = $(this).attr("web");
					if(web_read === 'False'){
						$.ajax({
							url: '{% url 'inbox:read' %}',
							type: "POST",
							data: { inbox_id : data }
						}).done(function(result) {
						  $( this ).addClass( "done" );
							if(result.result.count < 1){
								$("#notificationBell").removeClass("new-alert");
							}
						});
					}
				});
			}
		});
	}
}
</script>
{% endblock %}

{% block content %}
<div class="container top-margin-little">
		<h2 class="top-pad">Notification Center</h2>
</div>
<div class="container no-pad-xs bottom-pad">
		<div id="notification-list" class="notification-list top-pad">
				<!--Template อยู่ที่ไฟล์ inbox/templates/inbox/item/item_notification.html-->
				<p class="text-center no-content">No message</p>
				{% comment %}
				<div href="#" class="notification-item" data="">
						<!-- unread -->
						<div class="notification-icon"><i class="fa fa-envelope"></i></div>
						<h4 class="main-color clear-pad"><b>Let's click this notification</b></h4>
						<small class="text-muted">By System</small>
						<div class="notification-time"><i>{{inbox.timestamp|naturaltime}}</i></div>
						<p class="top-margin-little notification-body">Feel bored at work? we have something to make you happy while you are working. Here it is!</p>
				</div>
				{% endcomment %}
		</div>
</div>
{% endblock %}
