{% load static %}
<nav id="side-menu-wrapper">
  <ul class="unstyle main-side-menu">
    <li class="profile text-center">
      {% if user.is_authenticated %}
      {% if user.image %}
      <img src="{{ user.image.url }}" class="avatar" />
      {% else %}
      <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
      {% endif %}
      <h5>{{ user.first_name }} {{ user.last_name }}</h5>
      <ul class="unstyle flex text-center">
        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i><br />My Profile</a></li>
        <li><a href="{% url 'inbox:home' %}"><i class="fa fa-bell"></i>{% if INBOX_COUNT %}<span class="badge">N</span>{% endif %}<br />Notifications</a></li>
      </ul>
      {% else %}
      <img src="{% static 'fwd/images/customize/logo-square.png' %}" class="avatar" />
      <h4>Learning Station</h4>
      {% endif %}
    </li>

    {% include "main/browse_menu.html" %}
    <li class="side-menu-footer">
      <p><img src="{% static logo_path|default:'fwd/images/customize/logo-white.png' %}" width="150" /></p>
      <p>Copyright <i class="fa fa-copyright"></i> {% now "Y" %} FWD Life Insurance Public Company Limited.</p>
      <p>All rights reserved.</p>
    </li>
  </ul>
  <i class="fa fa-times font-30 close-side-menu"></i>
</nav>
