{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
<!--level/dashboard/home.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Career Level Management</strong></h2>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Level Name</th>
                    	  <th>No. of Users</th>
                    	  <th>View Users</th>
                    	  {% comment %}
                        <th>Timestamp</th>
                    	  <th>Edit</th>
                    	  <th>Delete</th>
                    	  {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for level in level_list %}
                    <tr>
                        <td>{{ level.name }}</td>
                    	  <td>{{ level.member_set.count }}</td>
                    	  <td>
                      	    <a href="{% url 'dashboard:level-dashboard:member' level.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                      	        <i class="zmdi zmdi-accounts zmdi-hc-fw"></i>
                      	    </a>
                    	  </td>
                    	  {% comment %}
                        <td>{{ level.timestamp }}</td>
                    	  <td><i class="zmdi zmdi-edit zmdi-hc-fw"></i></td>
                    	  <td class="text-center"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></td>
                    	  {% endcomment %}
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="99"><div class="no-item">Career Level.</div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
