{% extends "dashboard/base.html" %}
{% block content %}
<!--level/dashboard/member_add.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "level/dashboard/level_name_head.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Add New User</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="id_email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <input class=" form-control" id="id_email" maxlength="255" name="email" type="email" />
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
