{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
<!--level/dashboard/member.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "level/dashboard/level_name_head.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Total : {{ member_list|length }} user{{ member_list|length|pluralize }}</strong></h3>
        <ul class="actions">
            <li>
                <a href="{% url 'dashboard:level-dashboard:member_add' level.id %}">
                    <i class="zmdi zmdi-plus-circle"></i> Add New User
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date Join</th>
                        <th>Last Active</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_list %}
                    <tr>
                        <td>
                            {% if member.account.image %}<img src="{{ member.account.image.url }}" class="avatar" />
                            {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
                            {% endif %}
                        </td>
                        <td class="text-left">{{ member.account.first_name }} {{ member.account.last_name }}</td>
                        <td>{{ member.account.email }}</td>
                        <td>{{ member.account.date_joined|date:"j M Y" }}</td>
                        <td>{% if member.account.last_active %}{{ member.account.last_active|date:"j M Y" }}{% else %}-{% endif %}</td>
                        <td>
                            <a href="{% url 'dashboard:level-dashboard:member_delete' level.id member.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm waves-effect">
                                <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                            </a>
                        </td>
                   </tr>
                   {% empty %}
                   <tr>
                       <td colspan="99"><div class="no-item">No users.</div></td>
                   </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% include "dashboard/paginator.html" with content_list=member_list %}
    </div>
</div>
{% endblock %}
