{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<div id="login-page">
  <div class="main center2D text-center">
    <img src="{% static logo_path|default:'cbsibo/images/customize/logo-login.png' %}" class="logo fade-in-up" />
    <br />
    <form id="form-login" class="fade-in-up-delay">{% csrf_token %}
      <div class="text-left">
        <!-- <div class="top-pad main-color"><strong>Email</strong></div> -->
        <p class="top-pad"><input name="email" class="input-login" type="text" placeholder="Email" autofocus /></p>
        <!-- <div class="top-margin-little main-color"><strong>Password</strong></div> -->
        <div class="relative">
          <input name="password" type="password" class="input-login" placeholder="Password" />
          <button type="button" onmousedown="password.type='text'" onmouseup="password.type='password'" id="view-password">
              <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </div>

        <p class="top-margin-little">
          <input id="remember" name="remember" type="checkbox" />
          <label for="remember" class="main-color font-12">Remember Me</label>
        </p>

        <a href="{% url 'forgot_password' %}" class="top-margin-little main-color font-12 pull-right forget-password">
          Forget Password ?
        </a>
      </div>
      <input type="hidden" name="ref" value="{{ ref }}" />
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="error-msg red top-margin-little" style="display:none;">Error Message</p>
      <p><button type="submit" id="btn-submit" class="btn-block btn-main-color">Log In</button></p>
    </form>
  </div>
  <footer class="fix-at-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> {% now "Y" %} CBS Innovative Business Online. All Rights Reserved.
  </footer>
</div>
{% endblock %}
