{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block headerscript %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
</div>
{% endblock %}
