{% load i18n %}
<div class="rating">
  <i class="fa fa-star {% if rating.weight > 0.5 %}main-color{% endif %}"></i>
  <i class="fa fa-star {% if rating.weight > 1.5 %}main-color{% endif %}"></i>
  <i class="fa fa-star {% if rating.weight > 2.5 %}main-color{% endif %}"></i>
  <i class="fa fa-star {% if rating.weight > 3.5 %}main-color{% endif %}"></i>
  <i class="fa fa-star {% if rating.weight > 4.5 %}main-color{% endif %}"></i>
  <span class="average main-color">{{ rating.weight|floatformat:1 }}</span>
  {% if not show_rate_btn %}
  <br />
  {% endif %}
  <small>({{ rating.count }} {% trans "review(s)" %})</small>
  {% comment %}
  {% if show_rate_btn and order_item %}
  <a href="#" class="main-color" data-toggle="modal" data-target="#rateContentModal">{% if rating %}{% trans "See your review." %}{% else %}{% trans "Review this " %}{% trans type_s %}{% endif %}</a>
  {% endif %}
  {% endcomment %}
</div>
