{% load static %}
{% load humanize %}
{% load account_tags %}

<div class="review-list">
  <a href="" class="avatar">
    {% pull_account_tag rating_log.account_id as account %}
    {% if account.image %}
    <img src="{{ account.image.url }}" />
    {% else %}
    <img src="{% static "images/profile_default.jpg" %}" />
    {% endif %}
  </a>
  <h4 class="clear-pad">{{ account.get_display }}: <small class="grey"><i>{{ rating_log.timestamp|naturaltime }}</i></small></h4>
  <p class="clear-pad" style="color:#ddd;">
    <i class="fa fa-star {% if rating_log.weight >= 1 %}rating-yellow{% endif %}"></i>
    <i class="fa fa-star {% if rating_log.weight >= 2 %}rating-yellow{% endif %}"></i>
    <i class="fa fa-star {% if rating_log.weight >= 3 %}rating-yellow{% endif %}"></i>
    <i class="fa fa-star {% if rating_log.weight >= 4 %}rating-yellow{% endif %}"></i>
    <i class="fa fa-star {% if rating_log.weight == 5 %}rating-yellow{% endif %}"></i>
  </p>
  <div class="grey">
    {{ rating_log.message|truncatewords:"50" }}
  </div>
</div>
