{% load i18n %}
{% load static %}
{% load humanize %}
<section id="review">
  <h4 class="top-pad-little">{% trans "Rating and Reviews" %}</h4>
  {% include "rating/block.html" with type=type type_s=type_s show_rate_btn=True %}
  <br />
  <div id="reviewlist">
    {% for rating_log in rating_log_list %}
    {% include "rating/log_block.html" %}
    {% empty %}
    <p class="top-pad-80 bottom-pad-80 noreview text-center">{% trans "No reviews." %}</p>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  {% if not rating_log %}
  {% if order_item %}
  <div id="review-form" class="review-list" required>
    <span class="avatar">
      {% if user.image %}
      <img src="{{ user.image.url }}" />
      {% else %}
      <img src="{% static "images/profile_default.jpg" %}" />
      {% endif %}
    </span>
    <h4 class="clear-pad">{{ user.first_name }} {{ user.last_name }} - {% trans "Rating" %} :</h4>
    <select id="review-rating" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <span class="alert-empty-rating red">{% trans "Please select rating." %}</span>
    <form id="form-review" class="full-width">
      <div class="form-group">
        <textarea name="message" id="review-desc" maxlength="300" class="form-control" rows="3" placeholder="{% trans 'Please leave your comments.' %}"></textarea>
      </div>
      <div class="form-group" >
        <div class="counter">
          {% csrf_token %}
          <input type="hidden" name="content_type" value="{{ type_s }}" />
          <input type="hidden" name="content_id" value="{{ type.id }}" />
          <input type="hidden" id="review-rating-hidden" name="ratinghidden" value="0" />
        </div>
        <div class="submit">
          <button class="btn btn-main-color pull-right" type="submit">{% trans "Submit" %}</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  {% endif %}
  {% else %}
  <p>** {% trans "Please" %} <a class="login-button">{% trans "login" %}</a> {% trans "before review" %}</p>
  {% endif %}
</section>
