{% load staticfiles %}
{% url 'home' as home_url %}
<header id="header">
  <ul class="unstyle">
    {% if PARENT_URL %}
    <li class="btn-back">
      <a href="{{ PARENT_URL }}" class="main-color"><i class="fa fa-arrow-left"></i></a>
    </li>
    {% else %}
    <li class="show-mobile">
      <a href="#" class="main-color open-side-menu"><i class="fa fa-bars"></i></a>
    </li>
    {% endif %}
    <li class="logo">
      <a href="{{ home_url }}"><img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-pacrim.png' %}" /></a>
    </li>
  </ul>
  <ul class="unstyle pull-right">
    {% if not user.is_authenticated %}
    <li class="logo hide-sm">
      <a href="#"><img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-franklin-covey.png' %}" /></a>
    </li>
    {% else %}
    <li class="profile has-sub-menu hide-sm">
      <a href="#">
        {% if user.image %}<img src="{{ user.image.url }}" class="avatar" />
        {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
        {% endif %}<span class="main-color"> {{ user.get_display|truncatechars:25 }} <i class="fa fa-chevron-down"></i></span>
      </a>
      <ul class="unstyle sub-menu">
        <li><a href="{% url 'home' %}">My Library</a></li>
        <li><a href="{% url 'profile_info' %}">Profile</a></li>
        <li><a href="/profile/password/change">Change Password</a></li>
        <li><a href="{% url 'term' %}">Terms of Service</a></li>
        <li><a href="{% url 'account:logout' %}">Logout</a></li>
      </ul>
    </li>
    {% endif %}
  </ul>
</header>
{% include "main/header_menu_mobile.html" %}
