{% load staticfiles %}
<nav id="side-menu-wrapper">
    <ul class="unstyle main-side-menu">
        <li class="profile text-center">
            {% if user.is_authenticated %}
            <a href="/profile/edit">
      	        {% if user.image %}
      	        <img src="{{ user.image.url }}" class="avatar" />
      	        {% else %}
      	        <img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
      	        {% endif %}
            	  <h5>{{user.first_name}} {{user.last_name}}</h5>
            </a>
            {% else %}
            <img src="{% static logo_path|default:'com.pacrim.ondemand/images/customize/logo-pacrim-square.png' %}" class="avatar" />
            <h4>Pacrim Learning</h4>
            {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">My Library</a></li>
        <li><a href="{% url 'profile_info' %}">Profile</a></li>
        {% else %}
        <li><a href="/login"><i class="icon icon-lock"></i>Log In</a></li>
        {% endif %}
        <li><a href="{% url 'term' %}">Terms of Service</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account:logout' %}">Log Out</a></li>
        {% endif %}
    </ul>
    <i class="fa fa-times font-30 close-side-menu"></i>
</nav>
