.bg-main-color{
	background-color: #F36F21;
}
.main-color{
	color: #F36F21;
}
body{
	font-family: 'helvethaicaais';
	color: #000;
}
.login-content:before, .tab-nav:not([data-tab-color]) > li > a:after{
	background: #F36F21;
}
.lc-block:not(.lcb-alt) .btn-login{
	background-color: #333;
}
#header{
	height: 52px;
	min-height: 0;
	background-color: #F36F21;
}
#header .header-inner{
  padding: 10px 0;
}
#header .logo a{
	width: 140px;
	height: 35px;
	margin: 0 0 0 33px;
	background-image: url('/static/thanachart/images/customize/logo-white.png');
	background-size: auto 100%;
}
#menu-trigger{
	width: auto;
	height: auto;
}
#menu-trigger:before{
	width: 40px;
	height: 40px;
	top: 6px;
	left: -5px;
}
#menu-trigger .line-wrap{
  margin: 10px 0 0 9px;
}
#menu-trigger.open .line-wrap{
  margin: 10px 0 0 5px;
}
#left-menu{
	background-color: #000;
	top: 53px;
}
.profile-menu .profile-info option{
  border: solid 1px #000;
  background-color: #000;
}
.profile-menu .permission .dropdown-menu li.active a {
	color: #F36F21;
}
.main-menu > li > a:hover, .main-menu > li.active > a{
	background-color: #000;
}
.main-menu > li.active > a {
	border-left-color: #F36F21;
}
.actions > li > a, .actions > a{
	color: #000;
}
.actions > li > a > i, .actions > a > i{
	color: #000;
}
.breadcrumb > .active{
	color: #000;
}
.table tr td a:not(.btn) {
	color: #F36F21;
}
#provider-landing .provider-info .row > div{
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin: 0 -3px;
}
#provider-landing .grid-menu{
	padding: 0;
	margin: 60px auto 40px auto;
	width: 100%;
	max-width: 800px;
	text-align: center;
	list-style: none;
}
#provider-landing .grid-menu li{
	display: inline-block;
	width: 48%;
}
#provider-landing .grid-menu li a{
	position: relative;
	display: block;
	margin: 10px;
	height: 200px;
	background-color: rgba(141,196,63,0.6);
	border-radius: 10px;
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#provider-landing .grid-menu li a:hover{
	color: #fff;
	background-color: rgba(141,196,63,1);
	box-shadow: 5px 5px 15px #ccc;
}
#provider-landing .grid-menu li i{
	font-size: 60px;
}
.assignment-steps li.active span strong, .assignment-steps li.active span:before, .assignment-steps li.active span:after {
  background-color: #F36F21;
}
.start-select-item ul li a:hover {
	background-color: #F36F21;
}
