{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}has-left-menu{% endblock %}
{% block script %}
{% if term != None %}
<script type="text/javascript">
  $(function()    {
    $( "#terms-accept-button" ).click(function() {
      var request = $.ajax({
        url: "{% url 'term:accept' term.id %}",
        type: "GET",
        dataType: "json"
      }).done(function() {
        window.location = "{% url 'home' %}"
      });
    });
});
{% endif %}
</script>
{% endblock %}
{% block content %}
<div class="container bottom-pad-80">
    <h2 class="main-color top-pad text-center">Terms of service</h2>
    <br /><br />
    <div>{{ term.body|safe|linebreaks }}</div>
    {% if is_require_accept %}
    <br>
    <div class="bottom-pad text-center">
        <button id='terms-accept-button' type="button" class="btn-block btn-main-color"><i class="fa fa-check-square-o" aria-hidden="true"></i> I have read and accepted all terms</button>
    </div>
    {% endif %}
</div>
{% endblock %}
