{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">

        {% csrf_token %}
        <input type="hidden" name="action" value="select_application">
        <input type="hidden" name="do_action" value="yes">

        <div>
            {{ form.app }}
            <input  type="submit" class="btn btn-primary" style="float: none" value="Choose" >
            {{ form.app.errors }}
        </div>

        <h2>Change app for item {% if messages %}{% for message in messages %}: {{ message }}{% endfor %}{% endif %}</h2>
        </br>
        <ul>
            {% for object in objects %}
                <li>
                    <a href="{{ object.pk }}/">{{ object.name }} - {{app.name}}</a>
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}">
                </li>
            {% endfor %}
        </ul>

    </form>
{% endblock %}
