{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Test Management : Create a new test</strong></h2>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="card-body card-padding">
                {{ activity_form|bootstrap_horizontal }}
                <input type="hidden" class="image width" value="{{ IMAGE_SIZE.question.width }}" />
                <input type="hidden" class="image height" value="{{ IMAGE_SIZE.question.height }}" />
                <div class="form-group text-right">
                    <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save & Next Step</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
