{% load static %}

<thead>
  <tr>
    <th>No.</th>
    <th>Cover</th>
    <th>Name</th>
    <th>Type</th>
    <th>Condition</th>
    <th>Sort</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
  {% for parent in parent_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      {% if parent.content_cached.image %}
      <img src="{{ parent.content_cached.image.url }}" /> {% else %}
      <img src="{% static 'images/default-pic-square.png' %}" /> {% endif %}
    </td>
    <td class="text-left">{{ parent.content_cached.name }}</td>
    <td>{{ parent.content_type_cached.name|capfirst }}</td>
    <td>{% if not forloop.first %}{{ parent.get_condition_display }}{% endif %}</td>
    <td>{{ parent.sort }}</td>
    <td>
      <a href="#" class="btn btn-danger btn-sm waves-effec delete-parent" parent="{{ parent.id }}">
        <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
      </a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="99">
      <div class="no-item">No dependencies.</div>
    </td>
  </tr>
  {% endfor %}
</tbody>
