{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap %}
{% load progress_tags %}
{% load content_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Test Management</strong></h2>
    <ul class="actions">
      {% if perms.question.add_activity %}
      <li>
        <a href="{% url 'dashboard:question:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-header">
    <h3 class="clear-pad"><strong>Total : {{ activity_list|length }} Tests</strong></h3>
    {% include "content/dashboard/filter2_block.html" with form_id="filter_department" button_id="" %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Cover</th>
            <th class="text-left">ID</th>
            <th>Test Name</th>
            <th>Category</th>
      	    <th>% Passed</th>
      	    <th>Waiting to Verify</th>
            {# <th>View</th> #}
            {# <th>Registered</th> #}
            {# <th>Assigned</th> #}
            {# <th>Statistics</th> #}
            {# <th>Progress</th> #}
            <th>Detail</th>
            <th>Display</th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activity_list %}
	  {% get_content_type_tag 'question' 'activity' as content_type %}
	  {% pull_progress_content_tag None content_type.id activity.id as progress_content %}
          <tr>
            <td>
              {% if activity.image %}<img src="{{ activity.image.url }}" />
              {% else %}<img src="{% static 'images/default-pic-square.png' %}" />
              {% endif %}
            </td>
            <td class="text-left">{{ activity.id }}</td>
            <td class="text-left">{{ activity.name }}</td>
            <td>{{ activity.category }}</td>
      	    <td>{{ progress_content.get_percent }}%</td>
      	    <td>
	      <a href="{% url 'dashboard:question:score' activity.id %}">
		{{ progress_content.verifying }}
	      </a>
	    </td>
            {# <td>{{ activity.analytic_view }}</td> #}
            {# <td>{{ activity.analytic_libary }}</td> #}
            {# <td>{{ activity.analytic_assign }}</td> #}
            <td>
              <a href="{% url 'dashboard:question:detail' activity.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
            {% comment %}
            <td>
              <a href="{#% url 'dashboard:question:progress' activity.id %#}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-file-text zmdi-hc-fw"></i>
              </a>
            </td>
            {% endcomment %}

            <td>
              <i class="zmdi zmdi-circle zmdi-hc-fw permission-change {% if activity.is_display %}text-green{% else %}text-red{% endif %}"></i>
            </td>
            <td>
              <a href="{% url 'question:detail' activity.id %}?preview=True" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No Test.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=activity_list %}
    </div>
  </div>
</div>
{% endblock %}
