{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block script %}
<script src="{% static 'dashboard/resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
if($('.resumable')[0]) {
    var r = new Resumable({
	{# target: '{% url 'workshop-dashboard:activity_video' workshop.id activity.id %}', #}
	simultaneousUploads: 1,
	maxFiles: 1
    });

    r.assignBrowse(document.getElementsByClassName('resumable'));
    r.on('fileAdded', function(file, event){
	$('#upload-progress').show();
	r.upload();
    });
    r.on('fileProgress', function(file){
	$('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
    });

    $('#upload-progress').hide();
}

function type_display(type){
    $('#id_data').parents('.form-group').hide();
    if(type == 4){
	$('#id_data').parents('.form-group').show();
    }
}

$('select#id_type').on('change', function() {
    type_display(this.value);
});

type_display({{ activity.type }});
{% comment %}
$('#timer').click(function(){
    $('#modal-timer').modal('show');
});

function timer_display(type){
    $('#id_time').parents('.form-group').hide();
    $('#id_duration').parents('.form-group').hide();
    $('#id_schedule').parents('.form-group').hide();
    $('#id_related').parents('.form-group').hide();
    if(type == 0){
    }else if(type == 1){
	    $('#id_time').parents('.form-group').show();
    }else if(type == 10){
	    $('#id_duration').parents('.form-group').show();
	    $('#id_schedule').parents('.form-group').show();
    }else if(type == 11){
	    $('#id_duration').parents('.form-group').show();
	    $('#id_schedule').parents('.form-group').show();
    }else if(type == 20){
	    $('#id_duration').parents('.form-group').show();
	    $('#id_related').parents('.form-group').show();
    }else if(type == 21){
	    $('#id_duration').parents('.form-group').show();
	    $('#id_related').parents('.form-group').show();
    }
}
$('select#id_type').on('change', function() {
    timer_display(this.value);
});
timer_display({{ timer.type }});
{% endcomment %}

{% endblock %}
{% block content %}

{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ activity_form|bootstrap_horizontal }}
      <input type="hidden" class="image width" value="{{ IMAGE_SIZE.question.width }}" />
      <input type="hidden" class="image height" value="{{ IMAGE_SIZE.question.height }}" />
      {% if activity.type == 2 %}
      <div class="form-group">
        <label for="id_name" class="col-sm-2 control-label">Video</label>
        <div class="col-sm-10">
          <div class="fg-line">
            {% if activity.data_status == 2 %}
            <a href="{{ SERVER_UPLOAD_URL }}{{ activity.data }}.mp4" target="_blank">{{ activity.data }}.mp4</a>
            ({{ activity.get_data_status_display }})
            {% elif activity.data_status == 1 %}
            {{ activity.data }}.mp4 ({{ activity.get_data_status_display }})
            {% endif %}
            <a href="#f" class="resumable" activity="{{ activity.id }}"><i class="zmdi zmdi-upload zmdi-hc-fw"></i></a>
            <br/>
            <div class="progress m-b-10" id="upload-progress">
              <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </div>
      </div>
      {% elif activity.type == 3 %}
      <div class="form-group">
        <label for="id_name" class="col-sm-2 control-label">Document</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <a href="{{ MEDIA_URL }}{{ activity.data }}" target="_blank">{{ activity.data }}</a>
            <input type="file" name="document" />
          </div>
        </div>
      </div>
      {% endif %}
      {% comment %}
      <div class="form-group">
        <label for="id_name" class="col-sm-2 control-label">Publish</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <i class="zmdi zmdi-circle zmdi-hc-fw {% if activity.is_publish %}text-green{% else %}text-red{% endif %}"></i>
            {{ activity.publish }} ({{ activity.timer.display }})
            <button type="button" id="timer" class="btn bgm-deeppurple btn-sm waves-effect">Timer</button>
          </div>
        </div>
      </div>
      {% endcomment %}
      {% if is_change %}
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% comment %}
<div class="modal fade font-thai" id="modal-timer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <form id="question-form" class="form-horizontal" role="form" action="{% url 'workshop-dashboard:activity_timer' workshop.id activity.id %}" method="post">{% csrf_token %}
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">Timer</h4></div>
        <div class="modal-body">{{ timer_form|bootstrap_horizontal }}</div>
        <div class="modal-footer"><button type="submit" class="btn btn-link">Save</button></div>
      </div>
    </form>
  </div>
</div>
{% endcomment %}
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
