{% load bootstrap %}

<script>
      $("#choice-score").on("keypress", function(evt) {
        var keycode = evt.charCode || evt.keyCode;
        if (keycode == 46) {
          return false;
        }
      });
</script>

<form id="question-form" class="form-horizontal" role="form" action="{% url 'dashboard:question:question_edit' activity.id section.id %}" method="post">{% csrf_token %}
  {% if section.type == 1 or section.type == 4 %}
  {{ question_form|bootstrap_horizontal }}
  {% else %}
  {{ question_form|bootstrap_horizontal }}
  {{ choice_form|bootstrap_inline }}
  {% endif %}
</form>
