<script>
      $("#choice-score").on("keypress", function(evt) {
        var keycode = evt.charCode || evt.keyCode;
        if (keycode == 46 || keycode == 45) {
          return false;
        }
      });
      $('#choice-score').on("paste", function(e) {
        e.preventDefault();
      });
</script>

<form id="question-form" action="" methot="post">{% csrf_token %}
  <h4>Question</h4>
  <textarea name="text" class="full-width form-control inputquestion" rows="5" style="resize:none;" required>{% if question %}{{ question.text }}{% endif %}</textarea>
  <h4>Choices</h4>
  <ol id="choice" class="p-l-15">
    <div class="text-right m-b-10" style="width:92%;">Answer</div>
    {% if question %}
    {% for choice in question.choice_set.all %}
    <li>
      <input type="text" name="choice-{{ choice.id }}" value="{{ choice.text }}" class="inputquestion" required>
      <input type="radio" name="ans" value="{{ choice.id }}"{% if choice.is_answer %}checked{% endif %}>
      <span class="pointer text-muted" id="delete-choice"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></span>
    </li>
    {% endfor %}
    {% endif %}
    {% for choice_new in choice_new_list %}
    <li>
      <input type="text" name="choice-new-{{ choice_new }}" required class="inputquestion" >
      <input type="radio" name="ans" value="new-{{ choice_new }}" {% if choice_new == 0 %}checked{% endif %}>
      <span class="pointer text-muted" id="delete-choice"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></span>
    </li>
    {% endfor %}
  </ol>
  <button type="button" class="m-l-15 btn" id="add-choice">+ Add a choice</button>
  <h4 class="m-t-20">Score</h4>
  <input id="choice-score" class="form-control" type="number" name="score" min="0" step="1" required value="{% if question %}{{ question.score }}{% else %}1{% endif %}">
</form>
<style>
#question-form ol li {
  width: 100%;
  margin-bottom: 10px;
}
#question-form ol li input[type="text"]{
  width: 80%;
  border: solid 2px #ccc;
  padding: 10px;
  height: 40px;
  display: inline;
}
#question-form ol li input[type="radio"]{
  height: 18px;width: 18px;margin: 0 20px 0 30px;
}
</style>
