<div class="card">
  {% comment %}
  <div class="card-header ch-alt">
    <h2>Question#{{ forloop.counter }} {{ question.text }}
      <small>#Right Answer = {{ question.answer_score }}%</small>
    </h2>
  </div>
  {% endcomment %}
  <div class="card-body card-padding">
    {% for question in section.question_set.all %}
    <div class="bs-item " data-toggle="tooltip" title="{{ question.answer_score }}%">
      Question#{{ forloop.counter }}
      <div class="progress">
        <div class="progress-bar progress-bar-empty" style="width: {{ question.nps_progress.0 }}%"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{ question.nps_progress.1 }}%"></div>
        <div class="progress-bar progress-bar-success" style="width: {{ question.nps_progress.2 }}%"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
	  {% for question in section.question_set.all %}
	  <th class="text-center">Question#{{ forloop.counter }}</th>
	  {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="text-right">NPS(%)</td>
	  {% for question in section.question_set.all %}
	  <td>{{ question.answer_score|floatformat:2 }}%</td>
	  {% endfor %}
        </tr>
        <tr class="text-center">
          <td class="text-right">Promoters</td>
	  {% for question in section.question_set.all %}
	  <td>{{ question.answer_count }}</td>
	  {% endfor %}
        </tr>
	<tr class="text-center">
          <td class="text-right">Passives</td>
	  {% for question in section.question_set.all %}
	  <td>{{ question.answer_count_passive }}</td>
	  {% endfor %}
        </tr>
        <tr class="text-center">
          <td class="text-right">Detractors</td>
	  {% for question in section.question_set.all %}
	  <td>{{ question.answer_count_detractor }}</td>
	  {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
