{% for question in section.question_set.all %}
<div class="card">
  {% if question.type == 2 %}
  <div class="card-header ch-alt">
    <h2>Question#{{ forloop.counter }} {{ question.text }}
      <small>#Right Answer = {{ question.answer_score }}%</small>
    </h2>
  </div>
  {% endif %}
  <div class="card-body card-padding">
    {% for choice in question.choice_set.all %}
    <div class="bs-item " data-toggle="tooltip" title="{{ choice.percent }}%" {% if choice.is_answer %}style="font-weight:bold;"{% endif %}>
      Choice#{{ forloop.counter }} {% if choice.is_answer %}<i class="zmdi zmdi-check"></i>{% endif %}
      <div class="progress m-b-10">
	{% if choice.is_answer %}
	<div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ choice.percent }}%"> {{ choice.percent }}</div>
	{% else %}
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ choice.percent }}%"> {{ choice.percent }}</div>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
	  {% for choice in question.choice_set.all %}

	  <th class="text-center" {% if choice.is_answer %}style="font-weight:bold;"{% endif %}>Choice#{{ forloop.counter }} {% if choice.is_answer %}<i class="zmdi zmdi-check"></i>{% endif %}</th>
	  {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="text-right">Answered</td>
	  {% for choice in question.choice_set.all %}
	  <td {% if choice.is_answer %}style="font-weight:bold;"{% endif %}>{{ choice.percent }}%</td>
	  {% endfor %}
        </tr>
        <tr class="text-center">
          <td class="text-right">จำนวน</td>
	  {% for choice in question.choice_set.all %}
	  <td {% if choice.is_answer %}style="font-weight:bold;"{% endif %}>{{ choice.count }}</td>
	  {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endfor %}
