{% load workshop_tags %}
<div class="card">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Participant Name</th>
	  <th {% if question != None %}colspan="{{ question.choice_set.count }}"{% endif %}>
	    <div class="form-group">
              <div class="fg-line">
                <div class="select">
                  <select class="form-control" id="question">
		    {% for question_item in section.question_set.all %}
                    <option value="{{ question_item.id }}" {% if question_item == question %}selected{% endif %}>Question #{{ forloop.counter }}</option>
		    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
	  </th>
        </tr>
	{% if question != None %}
	<tr>
	  <th></th>
	  <th></th>
	  {% for choice in question.choice_set.all %}
	  <th>Choice #{{ forloop.counter }}</th>
	  {% endfor %}
	</tr>
	{% endif %}
      </thead>
      <tbody>
	{% for account in account_list %}
        <tr>
          <td>{{ account.id }}</td>
          <td><a href="{% url 'workshop-dashboard:activity_report_fill_text_participant' workshop.id activity.id section.id account.id %}">{{ account.first_name }} {{ account.last_name }}</a></td>
	  {% if question != None %}
	  {% for choice in question.choice_set.all %}
          <td>{% answer_choice_tag account choice answer_list %}</td>
	  {% endfor %}
	  {% endif %}
        </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% include "dashboard/paginator.html" with content_list=account_list %}
</div>
