{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block jquery %}
    {% if section.type == 5 %}
    $("#question").change(function() {
        location.href = '?question='+$(this).val()+'&page={{ account_list.number }}'
    });
{% endif %}
{% endblock %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "question/dashboard/head.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Report</strong></h3>
    </div>
    <div class="card-body card-padding">
        Activity Name: <strong>{{ activity.name }}</strong><br/>
        Section {{ section.sort }} Name: <strong>{{ section.name }}</strong>
        <ul class="list-group m-t-15">
            <li class="list-group-item">
                <span class="badge">{{ section.answer_count }}</span>
                ผู้ทำแบบทดสอบทั้งหมด
            </li>
            <li class="list-group-item">
                <span class="badge">{{ section.question_set.count }}</span>
                จำนวนแบบทดสอบ
            </li>
            {% if section.type == 1 %}
            <li class="list-group-item">
                <span class="badge">{{ section.answer_score }}%</span>
                Overall NPS
            </li>
            {% elif section.type == 2 %}
            <li class="list-group-item">
                <span class="badge">{{ section.answer_score }}%</span>
                Overall Right Answers
            </li>
            {% elif section.type == 3 %}
            {% comment %}
            <li class="list-group-item">
                <span class="badge">{{ section.answer_score }}</span>
                Overall Right Answers
            </li>
            {% endcomment %}
            {% endif %}
        </ul>
        {% if section.type == 1 %}
        {% include "question/dashboard/report_question.html" %}
        {% elif section.type == 2 or section.type == 3 %}
        {% include "question/dashboard/report_choice.html" %}
        {% elif section.type == 4 %}
        {% include "question/dashboard/report_fill_description.html" %}
        {% elif section.type == 5 %}
        {% include "question/dashboard/report_fill_text.html" %}
        {% else %}
        Report Not Found. (type = {{ section.type }})
        {% endif %}
    </div>
</div>
{% endblock %}
