{% load question_tags %}
<div class="card">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Participant Name</th>
	  {% for question in section.question_set.all %}
          <th>
              Question #{{ forloop.counter }}
	    {# <a href="{% url 'workshop-dashboard:activity_report_fill_description_question' workshop.id activity.id section.id question.id %}">Question #{{ forloop.counter }}</a> #}
	  </th>
	  {% endfor %}
        </tr>
      </thead>
      <tbody>
	{% for account in account_list %}
        <tr>
          <td>{{ account.id }}</td>
          <td>
              {{ account.first_name }} {{ account.last_name }}
	    {# <a href="{% url 'workshop-dashboard:activity_report_fill_description_participant' workshop.id activity.id section.id account.id %}">{{ account.first_name }} {{ account.last_name }}</a> #}
	  </td>
	  {% for question in section.question_set.all %}
          <td>{% answer_tag account question answer_list %}</td>
	  {% endfor %}
        </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% include "dashboard/paginator.html" with content_list=account_list %}
</div>
