{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Verifying Test Score</strong></h3>
    {% comment %}
    <small class="text-red">Total : {{ activity.progress_content.verifying }} Tests waiting to verify score</small>
    <ul class="actions">
      <li>
        <form class="filter_department" action="" method="post">{% csrf_token %}
          <div class="actionBar">
            {% include "dashboard/fragment/filter_department.html" %}
          </div>
        </form>
      </li>
      <li>
        <form action="" method="post">{% csrf_token %}
          <div class="actionBar">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" id="q_location" name="q_location">
                  <option value="-1">All Test Locations</option>
                  {% for location in location_list %}
                  <option value="{{ location.id }}" {% if location.id == q_location %}selected{% endif %}>{{ location.name }}</option>
                  {% filter_tag location q_location 0 %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </form>
      </li>
      <li>
        <form action="" method="post">{% csrf_token %}
          <div class="actionBar">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" id="sort_by" name="sort_by">
                  <option value="-1">Sort by</option>
                  <option value="1">Submit earlier</option>
                  <option value="2">Submit latest</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </li>
      <li>
        <form action="" method="post">{% csrf_token %}
          <div class="actionBar">
            {% include "dashboard/fragment/filter_search.html" with search="name" %}
          </div>
        </form>
      </li>
    </ul>
    {% endcomment %}
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Learner</th>
            <th>Department</th>
            <th>Location</th>
            <th>Submitted Time</th>
            <th>Submit/Quota</th>
            <th>Test Summary</th>
            <th>Verify Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in score_list %}
          <tr>
            <td>
              {% if score.account.image %}<img src="{{ score.account.image.url }}" class="avatar" />
              {% else %}<img src="{% static 'images/profile_default.jpg' %}" class="avatar" />
              {% endif %}
            </td>
            <td class="text-left">{{ score.account.first_name }} {{ score.account.last_name }}</td>
            <td>
              {% for department_member in score.account.department_member_set.all %}
              {#{ department_member.department_id|department_name_tag }#}
              {% if department_member.position %}{{ department_member.position }}{% endif %}
              {% if not forloop.last %}<br/>{% endif %}
              {% empty %}-{% endfor %}
            </td>
            <td>Location</td>
            <td>{{ score.timestamp }}</td>
            <td>{{ score.submit_number }}/{{ score.max_submit }}</td>
            <td>
              <a href="{% url 'dashboard:question:score_account' activity.id score.account_id %}" target="_blank" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-comment-alt-text zmdi-hc-fw"></i>
              </a>
            </td>
            <td>
              <a href="{% url 'dashboard:question:score_detail' activity.id score.id %}">
                <button class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No Verifying Test Score.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
