{% load question_tags %}

<div class="table-responsive p-t-10">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="bg-expired text-white">Test History</th>
        <th class="bg-expired text-white">Submit Date</th>
        <th class="bg-expired text-white">Test Score</th>
        <th class="bg-expired text-white">Test Result</th>
        <th class="bg-expired text-white">View Details</th>
      </tr>
    </thead>
    <tbody>
      {% for submit_num in content.get_submit_list %}
      {% score_tag content_location submit_num score_list as score %}
      <tr>
        <td>Submit #{{ submit_num }}</td>
	{% if score == None %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
	{% else %}
        <td>
	  {% if score.status == 5 %}
	  -
	  {% else %}
	  {{ score.timestamp }}
	  {% endif %}
	</td>
        <td>
	  {% if score.status == 5 %}
	  <span class="text-red">Waiting to verify</span>
	  {% else %}
	  {{ score.score }}/{{ score.max_score }}
	  {% endif %}
	</td>
        <td>
	  {% if score.status == 2 %}
	  <strong class="text-green">COMPLETED</strong>
	  {% elif score.status == 3 %}
	  <strong class="text-red">FAILED</strong>
	  {% elif score.status == 5 %}
	  -
	  {% endif %}
	</td>
        <td>
          <a href="{% url 'dashboard:question:score_detail' activity.id score.id %}" class="btn bgm-blue btn-sm waves-effect">
            <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
          </a>
        </td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
