{% extends "dashboard/base.html" %}
{% load static %}
{% load question_tags %}

{% block script %}
<script>
$(function(){
$('.expand-section-detail').click(function(){
  if($(this).find('i.zmdi').hasClass('zmdi-triangle-down')){
    $(this).find('i.zmdi').removeClass('zmdi-triangle-down');
    $(this).find('i.zmdi').addClass('zmdi-triangle-up');
    $(this).closest('tr').addClass('bg-in-progress-lighter');
    $(this).closest('tr').next().addClass('expand');
  }else{
    $(this).find('i.zmdi').removeClass('zmdi-triangle-up');
    $(this).find('i.zmdi').addClass('zmdi-triangle-down');
    $(this).closest('tr').removeClass('bg-in-progress-lighter');
    $(this).closest('tr').next().removeClass('expand');
  }
});

$(".give-score").on("keypress", function(evt) {
  var keycode = evt.charCode || evt.keyCode;
  if (keycode == 46 || keycode == 45) {
    return false;
  }
});

$('.give-score').on("paste", function(e) {
  e.preventDefault();
});

var score_item_id = {{ score.id }};
$('.save-score').click(function(){
    var beforeVerify = $(this).closest('.row').find('.before-verify');
    var afterVerify = $(this).closest('.row').find('.after-verify');
    var input = beforeVerify.find('input[type="number"]');
    var scoreGave = input.val();
    console.log(scoreGave);
    var fullScore = beforeVerify.find('.full-score');
    var warning = beforeVerify.find('.warning');

    if(scoreGave>parseInt(fullScore.text()) || scoreGave<0 || scoreGave == null || scoreGave == ''){
      input.focus();
      input.addClass('error');
      if(scoreGave<0){
        warning.fadeIn().text("The score can't be less than zero.");
      }else if (scoreGave == '' || scoreGave == null ){
        warning.fadeIn().text("The score can't be empty.");
      }else{
        warning.fadeIn().text('The score you gave is more than full score.');
      }
    }else{
        $.ajax({
          	method: "POST",
          	dataType: "json",
    	      url: "{% url 'dashboard:question:score_submit' activity.id %}",
    	      data: {
    	          name: input.attr('name'),
    	          score: scoreGave,
    	          score_item: score_item_id
    	      }
        }).done(function(result){
          	if(result.is_error){
          	    $(input).val(result.score);
          	    alert(result.msg);
          	}else{
                beforeVerify.hide();
                afterVerify.show();
                afterVerify.find('.score-gave').text(scoreGave);
            }

            if(result.status==2){
              var isPassed = result.score>=result.pass_score;
              swal({
                  title: "",
                  text: 'Total score for this learner\'s test<h3>'+result.score+'/'+result.max_score+'</h3>Result: <strong class="'+((isPassed)?'text-completed':'text-failed')+'">'+((isPassed)?'Passed':'Failed')+'!</strong><h2>Do you confirm to save this result?</h2>',
                  html: true,
                  type: ((isPassed)?"success":"error"),
                  customClass: "helvethaicaais",
                  showCancelButton: true,
                  confirmButtonColor: ((isPassed)?"#b2d234":"#ed1c24"),
                  confirmButtonText: "Confirm",
                  cancelButtonColor: "#c1c1c1",
                  cancelButtonText: "Cancel",
                  closeOnConfirm: true,
                  closeOnCancel: true,
                  showLoaderOnConfirm: true
              }, function(){
                  window.location.href=result.url;
              });

            }
        });
    }
});

$('.edit-score').click(function(){
    var beforeVerify = $(this).closest('.row').find('.before-verify');
    var afterVerify = $(this).closest('.row').find('.after-verify');
    beforeVerify.find('.warning').hide();
    beforeVerify.find('input[type="number"]').removeClass('error');
    beforeVerify.show();
    afterVerify.hide();
});
});
</script>
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card verify-test-score">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Verifying Test Score</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-sm-4">
        {% include "account/dashboard/info_block.html" %}
        <p><span class="text-muted">Submit Date:</span> {{ score.timestamp }}</p>
        <p><span class="text-muted">Testing Quota:</span> {{ score.submit_number }}/{{ activity.max_submit }}</p>
        <p><a href="{% url 'dashboard:question:score_account' activity.id score.account_id %}" class="btn bgm-bluegray btn-sm waves-effect"><i class="zmdi zmdi-comment-alt-text"></i> See Learner's Test Summary</a></p>
      </div>
      <div class="col-sm-8 bg-light-gray">
      {% include "content/dashboard/desc_block.html" with content=activity %}
      </div>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Section</th>
            <th>Type</th>
            <th>Total Questions</th>
            <th>Full Score</th>
            <th>Learner's Score</th>
            <th>View Section Details</th>
          </tr>
        </thead>
        <tbody>
          {% for section in activity.section_set.all %}
	  {% score_section_tag2 section score_section_list as score_section %}
          <tr>
            <td class="text-left"><strong>Section {{ forloop.counter }} :</strong> {{ section.name }}</td>
            <td class="text-left vertical-middle">
              {% if section.type == 0 %}<i class="zmdi zmdi-info text-info f-20"></i>
              {% elif section.type == 2 %}<i class="zmdi zmdi-check-square text-green f-20"></i>
              {% elif section.type == 4 %}<i class="zmdi zmdi-file-text text-in-progress f-20"></i>
              {% endif %}
              <span>{{ section.get_type_display }}</span>
            </td>
            <td class="{% if section.type == 0 %}bg-light-gray{% endif %}">
              {% if section.type == 0 %}
              {% else %}{{ section.question_set.count }}
              {% endif %}
            </td>
            <td class="{% if section.type == 0 %}bg-light-gray{% endif %}">
              {% if section.type == 0 %}
              {% else %}{{ section.score }}
              {% endif %}
            </td>
            <td class="{% if section.type == 0 %}bg-light-gray{% endif %}">
              {% if section.type == 0 %}
              {% elif section.type == 2 %}<strong>{{ score_section.score }}</strong>
              {% elif section.type == 4 %}
	      {% if score_section.status == 5 %}<span class="text-red">Have to verify ({{ score_section.score }})</span>
	      {% else %}<strong>{{ score_section.score }}</strong>
	      {% endif %}
              {% endif %}
            </td>
            <td  class="{% if section.type == 0 %}bg-light-gray{% endif %}">
              {% if section.type == 0 %}
              {% else %}
              <a href="#" class="btn bgm-blue btn-sm waves-effect expand-section-detail">
                <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
              </a>
              {% endif %}
            </td>
          </tr>
          <tr class="section-detail">
            <td colspan="99" class="text-left {% if section.type == 2 %}p-b-20{% endif %}">
              {% if section.type == 2 %}
              <div style="max-height:350px;overflow-y:auto;">
                {% for question in section.question_set.all %}
                {% score_answer_tag question answer_list as answer %}
                <div class="row question-list">
                  <div class="col-sm-12">
                    <h5><u>Question {{ forloop.counter }}</u> Score ({{ question.score }})</h5>
                    <p><span class="text-muted">Q:</span> {{ question.text }}</p>
                    <p><span class="text-muted">A:</span>
                    <ul>
                    {% for choice in question.choice_set.all %}
                    <li>
                      <span class="{% if choice.answer %}{% if choice.is_answer %}text-completed{% else %}text-failed{% endif %}{% endif %}">
                        Choice {{ forloop.counter }}: {{ choice.text }}
                      </span>
                      {% if choice.is_answer %}
                      <i class="zmdi zmdi-check zmdi-hc-fw text-green"></i>
                      {% endif %}
                      {% if choice.id == answer.choice_id and choice.is_answer %}
                      <i class="zmdi zmdi-star zmdi-hc-fw text-green"></i>
                      {% elif choice.id == answer.choice_id %}
                      <i class="zmdi zmdi-star zmdi-hc-fw text-red"></i>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% elif section.type == 4 %}
              {% for question in section.question_set.all %}
              {% score_answer_tag question answer_list as answer %}
              <div class="row question-list">
                <div class="col-sm-12">
                  <h5><u>Question {{ forloop.counter }}</u></h5>
                  <p><span class="text-muted">Q:</span> {{ question.text }}</p>
                  <p style="word-break: break-all;"><span class="text-muted">A:</span>
                    {% if answer %}
                    {{ answer.data }}
                    {% else %}
                    No answer. (This Question add after user submit.)
                    {% endif %}
                  </p>
                </div>
                {% if answer %}
                <div class="col-sm-12 text-right before-verify" {% if answer.score != -1 %}style="display:none;"{% endif %}>
                  Score:
                  <strong>
                    <input required type="number" max="{{ question.score }}" min="0" name="ans-{{ question.id }}-{{ answer.id }}" value="{% if answer.score != -1 %}{{ answer.score }}{% endif %}" class="text-right give-score" style="width:50px;" />
                    /<span class="full-score">{{ question.score }}</span> points
                  </strong>
                  <button type="button" class="btn bgm-bluegray btn-sm waves-effect save-score">Save</button>
                  <br /><span class="text-red warning" style="display:none;"></span>
                </div>
                <div class="col-sm-12 text-right after-verify" {% if answer.score == -1 %}style="display:none;"{% endif %}>
                  Score:
                  <strong><span class="score-gave">{{ answer.score }}</span> / <span class="full-score">{{ question.score }}</span> points
                  </strong>
                  <button type="button" class="btn bgm-bluegray btn-sm waves-effect edit-score">Edit</button>
                </div>
                {% endif %}
              </div>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No sections.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
