{% extends "dashboard/base.html" %}
{% load static %}
{% load question_tags %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Test Summary</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-sm-4">
        {% include "account/dashboard/info_block.html" %}
      </div>
      <div class="col-sm-8 bg-light-gray">
        {% include "content/dashboard/desc_block.html" with content=activity %}
      </div>
    </div>
    <h3>Total: {{ content_location_list.count }} Test Locations</h3>

    {% for content_location in content_location_list %}
    {% with parent=content_location.get_parent %}
    <h4 class="info-inline p-t-20" style="border-top:solid 2px #ccc;">
      <img src="{% if parent.item.image %}{{ parent.item.image.url }}{% endif %}" {% if parent.item.image %}class="cover"{% endif %} />
      <span>
        <strong class="f-20">Test Location: {{ parent.name }}</strong>
      </span>
    </h4>
    {% endwith %}
    {% score_latest_tag content_location score_list as score %}
    <div class="row p-t-10 text-center">
      <div class="col-xs-4">
	<p>Added Date</p>
	<h4>{{ score.item.timestamp }}</h4>
      </div>
      <div class="col-xs-4">
	<p>Expired Date</p>
	<h4>
	  {% if score.item.ecpired_date == None %}
	  -
	  {% else %}
	  {{ score.item.ecpired_date }}
	  {% endif %}
	</h4>
      </div>
      <div class="col-xs-4">
	<p>Status</p>
	<h4>
	  {% if score == None %}
	  -
	  {% else %}
	  {{ score.get_status_display }}
	  {% endif %}
	</h4>
      </div>
    </div>
    {% include "question/dashboard/score_history_block.html" with content=activity %}
    {% endfor %}
  </div>
</div>
{% endblock %}
