{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block css %}
<style>
#modal-question-body .form-group{
  white-space: nowrap;
}
</style>
{% endblock %}

{% block script %}
<script src="{% static 'dashboard/vendors/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
<script src="{% static 'dashboard/vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/summernote/dist/summernote-updated.min.js' %}"></script>
<script src="{% static 'dashboard/resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}

$('#section-form-submit').click(function(){
  localStorage.setItem('shouldClearFormPost', 'true');
  $('#section-form').submit();
});

{% if section.type == 0 %}
if($('.resumable')[0]) {
    var r = new Resumable({
	  target: '{% url 'dashboard:question:section_upload' activity.id section.id %}',
	  simultaneousUploads: 1,
	  maxFiles: 1
});
r.assignBrowse(document.getElementsByClassName('resumable'));
r.on('fileAdded', function(file, event){
	$('#upload-progress').show();
	r.upload();
});
r.on('fileProgress', function(file){
	$('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
});
$('#upload-progress').hide();
}

function data_type_display(data_type){
    var is_ip = $('#section-form').attr('ip');
    var is_upload = (is_ip == 'True') ? true:false
    $('#id_image').parents('.form-group').hide();
    $('#data-video').hide();
    if(data_type == 1){
    $( "#section-form-submit" ).prop( "disabled", false );
    $('#box_error').hide('slow')
  	$('#id_image').parents('.form-group').show();
    }else if(data_type == 2 && is_upload == true){
        $('#box_error').hide('slow')
	  $('#data-video').show();
    }else if (data_type == 2 && is_upload == false) {
        $('#box_error').show('slow')
        $( "#section-form-submit" ).prop( "disabled", true );
    }
}
$('select#id_data_type').on('change', function() {
    data_type_display(this.value);
});
data_type_display({{ section.data_type }});
{% endif %}

var action;
var question;
$('#question-create').click(function(){
    action = "create";
    $.ajax({
	method: "GET",
	dataType: "json",
	url: "{% url 'dashboard:question:question_create' activity.id section.id %}",
	data: {}
    }).done(function(result) {
	$('#modal-question-body').html(result.html);
    });
    $('#modal-question').modal('show');
});

$('#question-create2').click(function(){
    action = "create2";
    $.ajax({
	method: "GET",
	dataType: "json",
	url: "{% url 'dashboard:question:question_create2' activity.id section.id %}",
	data: {}
    }).done(function(result) {
	$('#modal-question-body').html(result.html);
    });
    $('#modal-question').modal('show');
});

$('.question-edit').click(function(){
    {% if section.type == 2 %}
    action = "edit2";
    {% else %}
    action = "edit";
    {% endif %}
    question = $(this).attr('question');
    $.ajax({
	method: "GET",
	dataType: "json",
	{% if section.type == 2 %}
	url: "{% url 'dashboard:question:question_edit2' activity.id section.id %}",
	{% else %}
	url: "{% url 'dashboard:question:question_edit' activity.id section.id %}",
	{% endif %}
	data: {question: $(this).attr('question')}
    }).done(function(result) {
	$('#modal-question-body').html(result.html);
    });
    $('#modal-question').modal('show');
    setTimeout(function(){
      if($('#question-form ol li').length >= {{ max_choice }}) {
        $('#add-choice').hide();
      }
    }, 100);
    return false;
});

$('#question-save').click(function(){
  var empty_input = 0;
  $('.inputquestion').each(function() {
    if(!$(this).val()){
      empty_input++;
    }
  });
  if(empty_input == 0){
    var url;
    if(action.localeCompare("create") == 0){
    	url = "{% url 'dashboard:question:question_create' activity.id section.id %}";
    }else if(action.localeCompare("create2") == 0){
    	url = "{% url 'dashboard:question:question_create2' activity.id section.id %}";
    }else if(action.localeCompare("edit") == 0){
    	url = "{% url 'dashboard:question:question_edit' activity.id section.id %}?question="+question;
    }else if(action.localeCompare("edit2") == 0){
    	url = "{% url 'dashboard:question:question_edit2' activity.id section.id %}?question="+question;
    }else{
    	return false;
    }
    $.ajax({
        type: "POST",
      	dataType: "json",
        url: url,
        data: $("#question-form").serialize(),
    }).done(function(result){
    	if(result.status == 200){
    	   $('#modal-question-body').html(result.html);
    	}else{
        location.reload();
        return false;
      }
    });
  }
  else {
    $('#fillempty').fadeIn();
  }
});

$(document).on('click', '#add-choice', function(){
  var choice_new = $('#question-form ol li').length;
  $('#question-form ol').append('<li><input class="form-control inline" type="text" name="choice-new-'+ choice_new +'"> <input style="height: 18px;width: 18px;margin: 0 20px 0 30px;" type="radio" name="ans" value="new-'+ choice_new +'"> <span class="pointer text-muted" id="delete-choice"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></span></li>');
  choice_new++;
  console.log(choice_new);
  if(choice_new >= {{ max_choice }}) {
    $('#add-choice').hide();
  }
  return false;
});

$(document).on('click', '#delete-choice', function(){
  var choice_new = $('#question-form ol li').length;
  $(this).parent('li').remove();
  choice_new = $('#question-form ol li').length;
  $('#add-choice').show();
  return false;
});

var alertInterval = setInterval(checkAlert, 10000);
var alertBefor = 0;
function checkAlert() {
    $.ajax({
    	method: "POST",
    	url: "{% url 'dashboard:question:alert' activity.id %}",
    	data: {}
    }).done(function(html){
	if(html.length > 1){
	    alertBefor = 1;
	}else{
	    if(alertBefor == 1){
		alertBefor = 0;
	    }
	}
	$('#alert').html(html);
    });
}
checkAlert();
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Section : {{ section.get_type_display }}</strong></h3>
  </div>
  <div class="card-body card-padding">
    <div id="alert">{% include "question/dashboard/alert.html" %}</div>
    <form id="section-form" class="form-horizontal" ip="{{is_upload}}" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ section_form|bootstrap_horizontal }}
      {% if section.type == 0 %}
      <div id="data-video" class="form-group">
        <label class="col-sm-2 control-label">Video</label>
        <div class="col-sm-10">
          <div class="fg-line">
            {% if section.data_status == 2 %}
            <a href="{{ SERVER_UPLOAD_URL }}{{ section.data }}.mp4" target="_blank">{{ section.data }}.mp4</a>
            ({{ section.get_data_status_display }})<br/>
	    <video width="320" height="240" poster="{{ section.api_display.video_thumb }}" controls>
	      <source src="{{ section.api_display.video }}" type="video/mp4" />
	      Your browser does not support the video tag.
            </video>
	    <br/>
            {% elif section.data_status == 1%}
            {{ section.data }}.mp4 ({{ section.get_data_status_display }})
            {% endif %}
            {% if section.data_status != 1 %}
            <a href="#f" class="resumable btn bgm-bluegray btn-sm waves-effect" section="{{ section.id }}">
              <i class="zmdi zmdi-upload zmdi-hc-fw"></i>
            </a>
            <br/>
            <div id="upload-progress" class="progress">
              <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="form-group text-right">
            <div id="box_error" style="display:none"> Cannot upload video and Document</div>
            <button id="section-form-submit" type="button" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
      </div>
    </form>
  </div>
</div>

{% if section.type != 0 and section.type != 6 %}
<div class="card ">
  <div class="card-header">
    <h3 class="clear-pad"><strong>Question</strong></h3>
    <ul class="actions">
      {% if section.type == 2 %}
      <li>
        <a href="#" id="question-create2">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% else %}
      <li>
        <a href="#" id="question-create">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Question</th>
	    <th>Score</th>
            <th>Sort</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for question in section.question_set.all %}
          <tr>
            <td class="text-left">
              Question {{ forloop.counter }} : {{ question.text|linebreaksbr }}
              {% if question.type == 3 %}
              (Max select: {{ question.max_select }})
              {% endif %}
              <ul>
                {% for choice in question.choice_set.all %}
                <li>
                  Choice {{ forloop.counter }}: {{ choice.text }}
                  {% if question.type == 2 and choice.is_answer %}
                  <i class="zmdi zmdi-check zmdi-hc-fw text-green"></i>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </td>
	    <td>
	      {{ question.score }}
	    </td>
            <td>
              {% if not forloop.first %}
              <a href="{% url 'dashboard:question:question_sort' activity.id section.id question.id %}?move=up" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
              </a>
              {% endif %}
              {% if not forloop.last %}
              <a href="{% url 'dashboard:question:question_sort' activity.id section.id question.id %}?move=down" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
              </a>
              {% endif %}
            </td>
            <td>
              <a href="#" class="question-edit btn bgm-bluegray btn-sm waves-effect" question="{{ question.id }}">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
            <td>
              <a href="{% url 'dashboard:question:question_delete' activity.id section.id question.id %}" class="btn btn-danger btn-sm waves-effect" onclick="return confirm('Are you sure?')">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No questions.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
<input type="hidden" class="image width" value="{{ IMAGE_SIZE.banner.width }}" />
<input type="hidden" class="image height" value="{{ IMAGE_SIZE.banner.height }}" />
{% endblock %}

{% block modal %}
{% include "main/modal/modal_crop_image_dashboard.html" %}
<div id="modal-question" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"></h4>
      </div>
      <div id="modal-question-body" class="modal-body"></div>
      <div class="modal-footer">
        <div class="text-right text-red m-b-10" style="font-size:18px; display: none;" id="fillempty">Please fill in all fields.</div>
        <button type="button" class="btn btn-default btn-lg waves-effect" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn bgm-bluegray btn-lg waves-effect" id="question-save">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
