{% extends "dashboard/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'resumable/resumable.js' %}"></script>
{% endblock %}

{% block jquery %}
var alert_id = null;
var alertInterval = setInterval(checkAlert, 10000);
var r = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'question' activity.id %}',
    simultaneousUploads: 1,
    maxFiles: 1
});

function checkAlert() {
    $.ajax({
	method: "POST",
	url: "{% url 'dashboard:question:alert' activity.id %}",
	data: {}
    }).done(function(html){
	$('#alert').html(html);
    });

    $.ajax({
        method: "POST",
        url: "{% url 'dashboard:alert:status_import' 'question' activity.id %}",
	dataType: "json",
        data: {}
    }).done(function(result){
	if(alert_id == null){
	    if(result.status == 1){
		alert_id = result.id
	    }
	}else{
	    if(result.id == alert_id && result.status == 2){
		location.reload();
	    }
	}
    });

}

 $('.section-shuffer').change(function(){
    var section_id = $(this).attr('section');
    $.ajax({
      method: "POST",
      url: "{% url 'dashboard:question:section_shuffer' activity.id %}",
      data: {id: section_id}
    }).error(function(error){
    });
    return false;
});
$('.section-shuffer_choice').change(function(){
     var section_id = $(this).attr('section');
    $.ajax({
      method: "POST",
      url: "{% url 'dashboard:question:section_shuffer_choice' activity.id %}",
      data: {id: section_id}
    }).error(function(error){
    });
    return false;
})

checkAlert();

$('a[href="#modal-section-add"]').click(function(){
  $('#modal-section-add').modal('show');
});

var r = new Resumable({
    target: '{% url 'dashboard:alert:resumable' 'question' activity.id %}',
    simultaneousUploads: 1,
    maxFiles: 1
});

r.assignBrowse(document.getElementsByClassName('resumable'));
r.on('fileAdded', function(file, event){
    $('#upload-progress').show();
    r.upload();
    $("#dropdownMenu").click();
    $('#preLoader').show();
});
r.on('fileProgress', function(file){
    $('#upload-progress').show();
    $('#progress').attr('style', 'width: '+Math.round(r.progress()*100)+'%');
});
r.on('fileSuccess', function(file,message){
    $('#upload-progress').hide();
    checkAlert();
});
{% endblock %}

{% block content %}
<div id="upload-progress" class="progress progress-striped m-b-10" style="display:none">
  <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <!--- TLE -->
      <div id="preLoader" class="preloader pls-gray w30" style="float: right; display: none;">
        <svg class="pl-circular" viewBox="25 25 50 50">
          <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
      </div>
    <!-- TLE -->
{% include "dashboard/breadcrumb.html" %}
{% if activity.type == 1 %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Test Section</strong></h3>

    <ul class="actions">
    <!-- <ul class="actions" style="display:inline"> -->
    {% if perms.question.change_activity %}
      <li class="dropdown" style="margin-right:10px;" id="dropdownMenu">
        <a href="#" data-toggle="dropdown">
          <i class="zmdi zmdi-plus-circle"></i> Add Test
        </a>
        <ul class="dropdown-menu dm-icon pull-right">
          <li>
            <a data-toggle="modal" href="#modal-section-add">
              <i class="zmdi zmdi-plus-circle"></i> Create New
            </a>
          </li>
          <li style="height:34px;">
            <a href="#f" class="resumable">
              <i class="zmdi zmdi-upload"></i>
              <label for="importLearnersFile" class="pointer" style="margin-bottom:0px;">Import File (*.xls, *.xlsx, *.csv)</label>
            </a>
          </li>
          <li>
            <a href="{% static 'example/question.xls'  %}" id="downloadExcelFile">
              <i class="zmdi zmdi-file-text"></i> Download Example Excel File
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div id="alert"></div>
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Section</th>
            <th>Type</th>
            <th>Shuffle Question</th>
            <th>Shuffle Choice</th>
            <th class="text-center">Full Score</th>
            <th>Sort</th>
            <th>Report</th>
            <th>Detail</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for section in activity.section_set.all %}
          <tr>
            <td class="text-left">Section {{ forloop.counter }}: {{ section.name }}</td>
            <td class="text-left vertical-middle">
                {% if section.type == 0 %}<i class="zmdi zmdi-info text-info f-20"></i>
                {% elif section.type == 2 %}<i class="zmdi zmdi-check-square text-green f-20"></i>
                {% elif section.type == 4 %}<i class="zmdi zmdi-file-text text-in-progress f-20"></i>
                {% endif %}
                <span>{{ section.get_type_display }}</span>
            </td>
             <td> {% if section.type == 0 %} -
                 {% elif section.type == 2 or section.type == 4  %}
              <div class="toggle-switch section-shuffer" data-ts-color="cyan" section="{{ section.id }}" >
                <input  id="activity-{{ activity.id }}-section-{{ section.id }}" class="{{ section.id }}" type="checkbox" hidden="hidden"  {% if section.is_shuffle  %}  checked{% endif %}>
                <label for="activity-{{ activity.id }}-section-{{ section.id }}" class="ts-helper"></label>
             </div>
              {% endif %}
            </td>
            <td> {% if section.type == 0 %} -
                 {% elif section.type == 2 %}
                <div class="toggle-switch section-shuffer_choice" data-ts-color="cyan" section="{{ section.id }}" >
                <input  id="activity-choice{{ activity.id }}-section-{{ section.id }}" class="{{ section.id }}" type="checkbox" hidden="hidden"  {% if section.is_shuffle_choice  %}  checked{% endif %}>
                <label for="activity-choice{{ activity.id }}-section-{{ section.id }}" class="ts-helper"></label>
             </div>
              {% endif %}
            </td>
            <td class="text-center">
              {% if section.type == 0 %}-
              {% else %}{{ section.score }}
              {% endif %}
            </td>
            <td>
              {% if not forloop.first %}
              <a href="{% url 'dashboard:question:section_sort' activity.id section.id %}?move=up" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i>
              </a>
              {% endif %}
              {% if not forloop.last %}
              <a href="{% url 'dashboard:question:section_sort' activity.id section.id %}?move=down" class="btn bgm-teal btn-sm waves-effect">
                <i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i>
              </a>
              {% endif %}
            </td>
            <td>
              {% if section.type != 0 %}
              <a href="{% url 'dashboard:question:report' activity.id section.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-assignment zmdi-hc-fw"></i>
              </a>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'dashboard:question:section_detail' activity.id section.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
            <td>
              <a href="{% url 'dashboard:question:section_delete' activity.id section.id %}" class="btn btn-danger btn-sm waves-effect">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No sections.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-header">
    <h3 class="clear-pad"><strong>Test Conditions</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
      <p>รวมคะแนนเต็ม (Full marks) : {{ activity.max_score }} คะแนน</p>
      <hr/>
      <p>คะแนนผ่าน (Pass Score) : <input type="number" name="pass_score" min="0" max="{{ activity.max_score }}" class="text-right" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="{{ activity.pass_score }}"> คะแนน</p>
      {% comment %}
      <p>เวลาในการทำข้อสอบ (Testing Time)</p>
      {% endcomment %}
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block modal %}
<div id="modal-section-add" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{% url 'dashboard:question:section_create' activity.id %}" method="post" class="card-body card-padding">{% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">What type of Activity would you like to create?</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" name="type">
                  {% for type_choice in section_type_choices %}
                  <option value="{{ type_choice.0 }}">{{ type_choice.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
