{% load progress_tags %}
{% load content_tags %}

{% get_content_type_tag 'question' 'activity' as content_type %}
{% pull_progress_content_tag None content_type.id activity.id as progress_content %}
<ul class="tab-nav text-center" role="tablist" tabindex="2">
    <li {% if TAB == "detail" %}class="active"{% endif %}>
        {% if TAB == "detail" %}<a href="#">Information</a>{% else %}<a href="{% url 'dashboard:question:detail' activity.id %}">Information</a>{% endif %}
    </li>
    <li {% if TAB == "section" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:question:section' activity.id %}">Sections & Conditions</a>
    </li>
    <li {% if TAB == "time" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:question:time' activity.id %}">Period & Credit</a>
    </li>
    <li {% if TAB == "dependency" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:question:dependency' activity.id %}">Dependency</a>
    </li>
    {% comment %}
    <li {% if TAB == "progress" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:question:progress' activity.id %}">Progress</a>
    </li>
    {% endcomment %}
    <li {% if TAB == "score" %}class="active"{% endif %}>
        <a href="{% url 'dashboard:question:score' activity.id %}">Waiting to Verify ({{ progress_content.verifying }})</a>
    </li>
</ul>
