{% extends "dashboard/base.html" %}

{% block jquery %}
$('[name=limit]').change(function(){
    if($(this).val() == 'unlimited'){
	$("[name*='limit-']").parent().hide();
    }else{
	$("[name*='limit-']").parent().show();
    }
});
{% if activity.time_limit.total_seconds == 0 %}
$("[name*='limit-']").parent().hide();
{% endif %}

$('[name=expired]').change(function(){
    if($(this).val() == 'unlimited'){
	$("[name*='expired-']").parent().hide();
    }else{
	$("[name*='expired-']").parent().show();
    }
});
{% if activity.expired.total_seconds == 0 %}
$("[name*='expired-']").parent().hide();
{% endif %}
{% endblock %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "question/dashboard/head.html" %}
  {% include "question/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Set Period & Credit</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
      <div class="col-sm-6">
	<h3>กำหนดจำนวนครั้งที่ให้เข้าสอบ (Submit Quota)</h3>
        <div class="radio" style="display:inline-block;">
          <label>
            <input type="radio" name="quota" value="limited" checked>
            <i class="input-helper"></i> Limited at
          </label>
        </div>
        <input type="number" class="text-center" data-mask="000" min="1" max="999" autocomplete="off" value="{{ activity.max_submit }}" name="max-submit">
        Times
	<h3>กำหนดระยะเวลาในการทำข้อสอบ (Test Time Limit)</h3>
        <div class="radio">
          <label>
            <input type="radio" name="limit" value="unlimited" {% if activity.time_limit.total_seconds == 0 %}checked{% endif %}>
            <i class="input-helper"></i> Unlimited Period
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="limit" value="limited" {% if activity.time_limit.total_seconds != 0 %}checked{% endif %}>
            <i class="input-helper"></i> Limited at
          </label>
        </div>
        <div class="form-group fg-line">
          <label>Day</label>
          <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ activity.time_limit.days }}" name="limit-day">
        </div>
        <div class="form-group fg-line">
          <label>Hour</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ activity.get_time_limit_hour }}" name="limit-hour">
        </div>
        <div class="form-group fg-line">
          <label>Minute</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ activity.get_time_limit_minute }}" name="limit-minute">
        </div>
      </div>
      <div class="col-sm-6">
	<h3>กำหนดระยะเวลาที่ให้เข้าสอบ (Test Period)</h3>
        <div class="radio">
          <label>
            <input type="radio" name="expired" value="unlimited" {% if activity.expired.total_seconds == 0 %}checked{% endif %}>
            <i class="input-helper"></i> Unlimited Period
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="expired" value="limited" {% if activity.expired.total_seconds != 0 %}checked{% endif %}>
            <i class="input-helper"></i> Limited at
          </label>
        </div>
        <div class="form-group fg-line">
          <label>Day</label>
          <input type="number" class="form-control input-mask text-center" data-mask="000" min="0" max="999" autocomplete="off" value="{{ activity.expired.days }}" name="expired-day">
        </div>
        <div class="form-group fg-line">
          <label>Hour</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="23" autocomplete="off" value="{{ activity.get_expired_hour }}" name="expired-hour">
        </div>
        <div class="form-group fg-line">
          <label>Minute</label>
          <input type="number" class="form-control input-mask text-center" data-mask="00" min="0" max="59" autocomplete="off" value="{{ activity.get_expired_minute }}" name="expired-minute">
        </div>
      </div>
      <br class="clear" />
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save">Save</button>
        {% comment %}<button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-next">Save & Next Step</button>{% endcomment %}
        {% comment %}<button type="submit" class="btn bgm-bluegray btn-lg waves-effect" name="save-perview">Save & Perview</button>{% endcomment %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
