{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  {% include "category/dashboard/head.html" %}
  {% include "category/dashboard/tab.html" %}
  <div class="card-header">
    <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal thai" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ category_form|bootstrap }}
      <input type="hidden" class="image width" value="{{ IMAGE_SIZE.category.width }}" />
      <input type="hidden" class="image height" value="{{ IMAGE_SIZE.category.height }}" />
      <input type="hidden" class="image_featured width" value="{{ IMAGE_SIZE.featured.width }}" />
      <input type="hidden" class="image_featured height" value="{{ IMAGE_SIZE.featured.height }}" />
      <input type="hidden" class="image_cover width" value="{{ IMAGE_SIZE.cover.width }}" />
      <input type="hidden" class="image_cover height" value="{{ IMAGE_SIZE.cover.height }}" />
      <div class="form-group text-right">
        <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
{% include "main/modal/modal_crop_image_dashboard.html" %}
{% endblock %}
