{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-header ch-alt">
    <h2><strong>Category Management</strong></h2>
    <ul class="actions">
      {% if perms.category.add_category %}
      <li>
        <a href="{% url 'dashboard:category:create' %}">
          <i class="zmdi zmdi-plus-circle"></i> Create New
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Category Name</th>
            {% comment %}
            <th>No. of Course</th>
            <th>No. of Test</th>
            <th>Display</th>
            {% endcomment %}
    	    <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          {% for category in category_list %}
          <tr>
            <td>
              {% if category.image %}<img src="{{ category.image.url }}" />
              {% else %}-
              {% endif %}
            </td>
            <td>{{ category.name }}</td>
            <td>
              <a href="{% url 'dashboard:category:detail' category.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No categories.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "dashboard/paginator.html" with content_list=category_list %}
  </div>
</div>
{% endblock %}
