<div class="modal fade" id="termOfServiceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"> 
    <div class="modal-dialog modal-bs"> 
        <div class="modal-content"> 
            <div class="modal-body"> 
                <h3 class="red no-top-margin">Term of Service</h3>
                <hr>

                <p>{{course.term.body}}</p>
                <div class="text-center top-pad">
                    <button type="button" class="btn btn-red btn-lg" data-dismiss="modal">I have read and accepted all terms</button>
                </div>
            </div>
        </div>
    </div>
</div>