{% extends "base.html" %}
{% load staticfiles %}

{% load humanize %}
{% load coin_tags %}
{% block headerscript %}
<style type="text/css">
  table p{
    margin-top: 5px;
  }
</style>
{% endblock %}

{% block jquery %}
var leverage = {{ leverage.value }};
$('.coin-num').keyup(function(event){
    var coin_id = $(this).attr('coin');
    //console.log(parseFloat($(this).val()));
    var num = Math.floor($(this).val());
    if(isNaN(num)) num=0;
    $(this).val(num);
    var volume = parseFloat(num) / leverage;
    $('.coin-volume[coin='+coin_id+']').html(num);
    $('.coin-price[coin='+coin_id+']').html(Math.floor(volume));

});
{% endblock %}

{% block content %}
{% if banner %}
<img style="width:100%; margin-top:0px;" src="{{banner.0.image.url}}" class="active">
{% endif %}
<div class="container">
  <div class="wrap-package-list">
    <br/>
    <div class="row bottom-pad top-pad">
      <div><br/>
        <img width="100%" src="{% static 'images/coin/coin-banner.jpg' %}" alt=""/>
        {% if type != '1' and COIN_VOLUME == 0.0 %}
	<img width="100%" src="{% static 'images/coin/coin-howto.png' %}" alt=""/>
        {% endif %}
      </div>
      <table class="table table-bordered top-pad">
	<thead>
          <tr>
            <th class="text-center">แพคเก็จ</th>
            <th class="text-center">จำนวนคลิก</th>
            <th class="text-center background-yello dark-green bold">โบนัสแถม (คลิก)</th>
            <th class="text-center background-yello dark-red bold">จำนวนคลิกที่ได้รับ</th>
            <th class="text-center">ราคา (บาท)</th>
            <th class="text-center">กดซื้อคลิก</th>
          </tr>
	</thead>
	<tbody>
	  {% if coin_list|length != 0 %}
	  {% for coin in coin_list %}
    {% if coin.type == 0 %}
	  <tr>
            <th class="text-center" scope="row"><p>{{ coin.name }}</p></th>
            <td class="text-center"><p>{% coin_volume_tag coin leverage %}</p></td>
            <td class="text-center background-yello dark-green bold"><p>{% coin_volume_free_tag coin.volume_free leverage %}</p></td>
            <td class="text-center background-yello dark-red bold"><p>{% coin_volume_net_tag coin.volume leverage %}</p></td>
            <td class="text-center"><p>{{ coin.price|floatformat|intcomma }}</p></td>
            <td class="text-center">
              <a href="{% url 'coin:checkout' coin.id %}" class="btn btn-blue btn-bank-transfer">ซื้อคลิก</a>
            </td>
	  </tr>
	  {% elif coin.type == 1 %}
	  <tr>
	    <td colspan="6"></td>
	  </tr>
	  <tr>
	    <form action="" method="post">{% csrf_token %}
	      <input type="hidden" name="coin" value="{{ coin.id }}">
              <th class="text-center" scope="row"><p>{{ coin.name }}</p></th>
              <td class="text-center" coin="{{ coin.id }}"><input type="text" name="num" size="6" class="coin-num" coin="{{ coin.id }}"></td>
              <td class="text-center"><p>-</p></td>
              <td class="text-center coin-volume" coin="{{ coin.id }}"><p>0</p></td>
              <td class="text-center coin-price" coin="{{ coin.id }}"><p>0</p></td>
              <td class="text-center">
		<input type="submit" class="btn btn-blue btn-bank-transfer" value="ซื้อคลิก">
              </td>
	    </form>
	  </tr>
	  {% endif %}
	  {% endfor %}
	  {% else %}
	  <tr>
            <td class="text-center" colspan="6">ไม่มีโปรโมชั่น</td>
	  </tr>
      {% endif %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
