{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}


{% endblock %}

{% block content %}
<div class="container clearfix">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">Q & A</h2>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="red bold" >
                ทำไมเข้าเว็บไม่ได้?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>น้องๆ หลายคนที่ไม่สามารถเข้าเว็บได้ อาจเนื่องมาจากข้อมูลที่น้องใส่ตอนล็อกอินเข้าสู่ระบบ ไม่ถูกต้องนะครับ  ซึ่งการล็อกอินเข้าสู่ระบบทำตามขั้นตอนต่อไปนี้นะครับ
              </p>
              <p>
                เมื่อน้องเข้าไปที่ {{DOMAIN}} จากนั้นให้น้องๆ ใส่ข้อมูลตามข้างล่างนี้
              </p>
              <ul>
                <li><b>Username</b> ให้พิมพ์อีเมลที่น้องใช้ในการสมัคร ย้ำว่าเป็นอีเมลที่น้องใช้ในการสมัครกับ {{DOMAIN}} นะครับ เพราะว่าถ้าน้องใช้อีเมลอื่น จะทำให้น้องไม่สามารถ
เข้าสู่ระบบได้ครับ</li>
                <li><b>Password</b> ให้พิมพ์รหัสผ่านที่น้องระบุเอาไว้ตอนสมัครสมาชิก {{DOMAIN}} </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                จ่ายเงินแล้วไม่ได้บทเรียน
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>มีน้องๆ หลายคนสงสัยว่าตนเองก็จ่ายเงินแล้ว แต่ทำไมยังไม่ได้รับบทเรียนสักที คำตอบง่ายๆ ครับ คือ หลังจากที่น้องชำระเงินเรียบร้อยแล้ว น้องๆ ต้องทำการส่งหลักฐานในระบบก่อนนะครับ ซึ่งหลังจากที่น้องส่งหลักฐานแล้ว รอประมาณ 1วันทำการ เพื่อให้เจ้าหน้าที่ตรวจสอบหลักฐานการชำระเงิน ซึ่งเมื่อเจ้าหน้าที่ตรวจสอบเรียบร้อยและทำการอนุมัติบทเรียนให้น้องๆ ตามที่น้องได้ทำการซื้อไว้ครับ
              </p>
              <p class="red">
                <b>หากติดวันหยุดเสาร์-อาทิตย์ หรือวันหยุดนักขัตฤกษ์ ต้องรออนุมัติอย่างช้าในวันจันทร์หรือวันทำการปกตินะครับ ซึ่งการอนุมัติบทเรียนแต่ละครั้ง น้องๆ ต้องส่งรูปหลักฐานการชำระเงินในหน้าเว็บ {{DOMAIN}} แนบมาด้วย เพราะทำให้การตรวจสอบทำได้ทันทีนะครับ</b>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                จะส่งหลักฐานการชำระเงินได้อย่างไร
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>เมื่อน้องเข้าไปที่ {{DOMAIN}} จากนั้นให้น้องๆ ทำตามขั้นตอนนี้</p>
              <ul>
                <li>คลิกที่ปุ่ม  <a class="btn btn-main-color btn-xs" href="{% url 'order:history' %}">ประวัติการซื้อ/ส่งหลักฐาน</a></li>
                <li>จากนั้นจะปรากฏหน้าต่างประวัติการซื้อของน้องขึ้นมา ซึ่งการส่งหลักฐานแบ่งตามวิธีการชำระเงินตามข้างล่างนี้นะครับ</li>
              </ul>
              <p>สำหรับน้องที่ชำระผ่านช่องทาง <b>บัตรเครดิต เคานเตอร์เซอร์วิส และอื่นๆ และชำระด้วยบัญชีธนาคารออนไลน์</b> <span style="text-decoration:underline;">ระบบจะยืนยันการชำระเงินให้อัตโนมัติ</span></p>
              <p><b>ส่วนการชำระด้วยการโอนเงินทางธนาคาร</b> ให้น้องแจ้งการชำระเงินผ่านทางเว็บไซต์ {{DOMAIN}} เพื่อเป็นการยืนยันการชำระเงิน มีขั้นตอนการแจ้งชำระเงินง่ายๆ ดังนี้</p>
              <p>1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่มเข้าสู่ระบบ</p>
              <p class="text-center">
                <img src="{% static "clickforclever/images/manual/payment/slip_01.jpg" %}" class="rps">
              </p>
              <p>2. เข้าหน้าแจ้งการชำระเงิน โดยกดเลือกที่ปุ่ม แจ้งชำระเงิน</p>
              <p>3. เมื่อเข้าสู่หน้าแจ้งชำระเงินแล้ว ให้กดที่ ปุ่มแจ้งการชำระเงิน</p>
              <p>4. จากนั้นให้น้องกรอกข้อมูลให้ครบ อัพโหลดภาพสลิป</p>
              <p>5. เมื่อใส่ข้อมูลเสร็จก็กด ยืนยันการโอนเงิน  เพื่อส่งหลักฐานให้เจ้าหน้าทำการตรวจสอบ (ภายใน 24 ชม.หลังการแจ้ง)
              </p>
              <p class="text-center">
                <img src="{% static "clickforclever/images/manual/payment/slip_02.jpg" %}" class="rps">
              </p>
            </div>
          </div>
        </div><!--panel-->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ขออนุมัตินานแล้วกว่า 1 วันยังไม่ได้บทเรียน
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>
                น้องๆ ที่ส่งหลักฐานการชำระเงินมาแล้วนานกว่า 1 วัน และยังไม่ได้รับ <b>“บทเรียน”</b> มาจากสาเหตุหลักๆ ตามข้างล่างนะครับ
              </p>
              <ul>
                <li>น้องที่ส่งหลักฐานมาในวันหยุดเสาร์หรืออาทิตย์ ต้องรออนุมัติอย่างช้าเป็นวันจันทร์นะครับ</li>
                <li>น้องส่งหลักฐานการชำระเงินมาไม่ถูกต้อง อย่างเช่น กรอกข้อมูลธนาคารที่น้องโอนเงินเข้ามาไม่ถูกต้อง ทำให้การตรวจสอบหลักฐานของเจ้าหน้าที่กับทางธนาคารไม่พบข้อมูลนะครับ ซึ่งทางเจ้าหน้าที่จะติดต่อกลับไปหาทางน้องเพื่อให้น้องส่งหลักฐานเพิ่มเติมครับ</li>
              </ul>
            </div>
          </div>
        </div><!--panel-->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ลืมรหัสผ่าน
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <p>
                เมื่อน้องเข้าไปที่ {{DOMAIN}} จากนั้นให้น้องๆ ทำตามขั้นตอนนี้
              </p>
              <ol>
                <li>คลิกที่ปุ่ม <a class="btn btn-main-color btn-xs">ลืมรหัสผ่าน</a></li>
                <li>จะปรากฏหน้าต่างให้น้องกรอกข้อมูลที่น้องใช้ในการสมัครสมาชิก (กรอกเพียงช่องเดียว)</li>
                <li>จากนั้นจะมีเมลจากทาง Click For Clever ชื่อเรื่องว่า “เปลี่ยนรหัสผ่านใหม่” ส่งกลับไปในเมลที่น้องกรอกไว้</li>
                <li>ให้น้องคลิกลิงค์ในเมลที่ระบบได้ส่งกลับไป</li>
                <li>จะปรากฏหน้าต่างของ Click For Clever ซึ่งให้น้องๆ กรอกตัวรหัสผ่านใหม่ ตามที่น้องๆต้องการ และทำการยืนยันรหัสผ่านใหม่นั้นอีกครั้งนึง</li>
                <li>คลิกปุ่มยืนยัน</li>
                <li>จากนั้นจะขึ้นหน้าต่าง “ระบบได้ทำการเปลี่ยนรหัสผ่านให้คุณเรียบร้อยแล้วค่ะ” และให้น้องๆ คลิกปุ่มตกลง</li>
              </ol>
            </div>
          </div>
        </div><!--panel-->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                ระยะเวลาที่สามารถดูวิดีโอได้
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <ul>
                <li>เวลาที่น้องสามารถดูได้ในแต่ละบทเรียน ให้น้องๆ สังเกตุตรงปุ่ม  <b>"ระยะเวลาหมดอายุ”</b>  
ซึ่งจะระบุระยะเวลาที่น้องๆ สามารถดูบทเรียนบทนั้นๆ ได้</li>
                <li>หลังจากที่น้อง<b>คลิกปุ่ม “LEARN”</b>    เพื่อเริ่มติว เวลาจะเริ่มรันถอยหลังจากจำนวนวันที่สามารถดูได้ของบทนั้นๆ  โดยภายในจำนวนวันที่ระบุไว้ น้องสามารถล็อกอินเข้าสู่ระบบและทำการดูบทเรียนนั้นๆ ได้ โดยไม่จำกัดจำนวนครั้งในการเข้าดูแต่ละวัน</li>
              </ul>
            </div>
          </div>
        </div><!--panel-->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                เอกสารประกอบการเรียนดาวน์โหลดได้อย่างไร
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <ul>
                <li>
                  คอร์สติวฟรี<br>
                  เมื่อน้องเข้าไปที่บทเรียน บทต่างๆ ของคอร์สพื้นฐานแล้ว ปุ่มดาวน์โหลดเอกสารประกอบการเรียน จะปรากฏด้านล่างของตัววิดีโอ ซึ่งเมื่อน้องๆ คลิกไปที่ปุ่ม <b>“ดาวน์โหลดเอกสารประกอบการเรียน”  </b>จะปรากฏไฟล์ PDF ให้น้องๆ ดาวน์โหลดไปประกอบการเรียนการสอนในบทเรียนนั้นๆ
                  <br>
                  หมายเหตุ: เอกสารประกอบการเรียนของคอร์สติวฟรีในบางบทยังไม่แล้วเสร็จ
                </li>
                <li>
                  คอร์สติว GPA และ คอร์ส Admission
                  <br>
                  เมื่อน้องเข้าไปที่บทเรียนบทต่างๆ ซื้อคอร์สแล้วแล้ว ปุ่ม <b>“ดาวน์โหลดเอกสารประกอบการเรียน”</b> จะปรากฏด้านล่างของตัววิดีโอ ซึ่งเมื่อน้องๆ คลิกไปที่ปุ่มดาวน์โหลดเอกสารประกอบการเรียน  จะปรากฏไฟล์ PDF ให้น้องๆ ดาวน์โหลดไปประกอบการเรียนการสอน
ในบทเรียนนั้นๆ
                </li>
              </ul>
            </div>
          </div>
        </div><!--panel-->
        {% if PLATFORM_ID == 3 %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                ติดต่อกับทีมงาน {{BASE_NAME}} ไม่ได้
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              <p>
                น้องๆ สามารถติดต่อกับพี่ๆ ทีมงานคลิกได้ตามช่องทางข้างล่างนะครับ
              </p>
              <ul>
                <li>โทรศัพท์ 02-9620079 และ 081-3576958 <br>โดยน้องๆ สามารถติดต่อกับพี่ๆ ทีมงานได้
ทุกวันจันทร์-วันศุกร์ เวลา 10.00 – 19.00 น. นะครับ</li>
                <li><a href="{{DOMAIN}}" target="_blank" class="main-color">Facebook Fanpage</a> โดยน้องๆ สามารถติดต่อกับพี่ๆ ทีมงานได้ทุกวันจันทร์-วันศุกร์
เวลา 10.00- 19.00 น. นะครับ</li>
              </ul>
              <p>หมายเหตุ: ถ้านอกช่วงเวลาทำการดังกล่าว น้องๆ ที่ติดต่อกับพี่ๆ ทีมงานคลิกไม่ได้
ตอบคำถามช้าไปบ้าง อะไรบ้าง ไม่ทันใจวัยรุ่น อันนี้ พี่ๆ ต้องขออภัยด้วยนะครับ</p>
            </div>
          </div>
        </div><!--panel-->
        {% endif %}
        {% if PLATFORM_ID == 3 %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed red bold" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                ถ้าซื้อบทเรียนผิดจะทำอย่างไร
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              <p>
                กรณีที่น้องยังไม่ได้เริ่มติวในบทเรียนนั้นๆ ให้น้องๆ ติดต่อกับพี่ๆ ทีมงานคลิก โดยช่องทางการติดต่อกับพี่ๆ ทีมงานคลิกได้ตามข้างล่างนี้นะครับ
              </p>
              <ul>
                <li>โทรศัพท์ 02-9620079 และ 081-3576958 <br>โดยน้องๆ สามารถติดต่อกับพี่ๆ ทีมงานได้
ทุกวันจันทร์-วันศุกร์ เวลา 10.00 – 19.00 น. นะครับ</li>
                <li><a href="{{FB_PAGE_URL}}" target="_blank" class="main-color">Facebook Fanpage</a> โดยน้องๆ สามารถติดต่อกับพี่ๆ ทีมงานได้ทุกวันจันทร์-วันศุกร์
เวลา 10.00- 19.00 น. นะครับ</li>
              </ul>
              <p>ซึ่งหลังจากที่น้องๆ แจ้งเรื่องเข้ามา และพี่ๆ ทีมงานคลิกทำการตรวจสอบเสร็จแล้ว จะทำการคืนเงินคลิกที่น้องใช้ซื้อบทเรียนบทนั้นๆ ให้ครับ โดยมีเงื่อนไขดังต่อไปนี้</p>
              <ul>
                <li><b>กรณีที่ 1 </b>: ถ้าได้กดเริ่มติวในบทเรียนนั้นๆ ไปแล้ว อันนี้ทางพี่ๆ ทีมงานคลิก ไม่สามารถคืนเงินคลิกให้ได้นะครับ</li>
                <li><b>กรณีที่ 2 </b>: ถ้าน้องๆ ซื้อบทเรียนเกิน 1 เดือน ไม่สามารถคืนเงินหรือคลิกได้นะครับ</li>
              </ul>
            </div>
          </div>
        </div><!--panel-->
        {% endif %}
      </div><!--panel group-->
      <br><br>
    </div>
  </div>
</div>

{% endblock %}
