{% load staticfiles %}
<div class="container clearfix ">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center bold">วิธีการชำระเงิน</h2>
      <div class="panel panel-default top-pad ">
        <div class="panel-body">
          <h3>ขั้นตอนการสมัครและช่องทางการชำระเงิน</h3>
          <p>
            การซื้อคอร์สกับ Cocodemy มีขั้นตอนง่ายๆ 2 ขั้นตอน คือ 1) ทำการสมัครสมาชิกก่อน และ 2) เลือกคอร์สที่ต้องการเรียนและดำเนินการชำระเงิน โดยมีรายละเอียด ดังนี้
          </p>
          <p style="font-size:18px;" class="bold">1. ทำการสมัครสมาชิกก่อน </p>
          <p>โดยสำหรับน้องๆ ที่เป็นสมาชิกเดิมของ Cocodemy อยู่แล้ว น้องสามารถกด “เข้าสู่ระบบ” ที่ด้านขวาบน จากนั้นให้ กรอกอีเมล (Email) และ รหัสผ่าน (Password) แล้วกดที่ปุ่ม “เข้าสู่ระบบ” หรือหากต้องการเข้าใช้งานด้วยบัญขีเฟสบุ๊ค ก็กด “เข้าใช้งานด้วยเฟสบุ๊ค” (Login with Facebook) ก็จะเข้าใช้งานได้เลย</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/01.jpg" %}" class="rps">
          </p>
          <p>แต่ถ้าหากน้องยังไม่ได้เป็นสมาชิก น้องๆ จำเป็นจะต้องสมัครสมาชิกก่อน ซึ่งการสมัครสมาชิกนั้นสามารถทำได้ 2 วิธี คือ<br><br>
          <b>วิธีที่ 1 : สมัครสมาชิกด้วย Facebook Account</b><br>
          โดยกด “สมัครสมาชิก” ที่ด้านขวาบน แล้วกดปุ่ม “สมัครสมาชิกด้วยเฟสบุ๊ค” (Signup with Facebook) จะเป็นการสมัครสมาชิกให้น้องแบบอัตโนมัติ ซึ่งจะมี Popup จากทางเฟสบุ๊คขึ้นมาให้เพื่อยืนยันในการใช้ข้อมูล โดยให้น้องกด “ตกลง” เพื่อเข้าสู่ระบบและเป็นสมาชิก Cocodemy
          </p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/02.jpg" %}" class="rps">
          </p>
          <p><b>วิธีที่ 2 : สมัครสมาชิกด้วย Email</b><br>
          โดยกด “สมัครสมาชิก” ที่ด้านขวาบน จากนั้นกรอก ชื่อและนามสกุล อีเมลของน้อง (Email) และรหัสผ่าน (Password) ที่ต้องการ (4-12 ตัว) ถัดมาน้องก็กรอกรหัสผ่านที่เหมือนกันเพื่อยืนยันการตั้งรหัสผ่าน (Confirm Password) แล้วกดปุ่ม “สมัครสมาชิก” เพื่อเข้าสู่ระบบและเป็นสมาชิกกับ Cocodemy จากนั้นทางระบบจะมีการส่งการลงทะเบียนที่สำเร็จไปทางอีเมลที่น้องใช้สมัคร (หากไม่มีอีเมลอาจจะอยู่ในอีเมลขยะหรือ Junk/Spam) </p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/03.jpg" %}" class="rps">
          </p>
          <p>ทั้งนี้ในการ Login เข้าใช้งานในครั้งถัดไปให้กด “เข้าสู่ระบบ” ที่ด้านขวาบนแล้ว กรอกอีเมล (Email) และ รหัสผ่าน (Password) แล้วกดที่ปุ่ม “เข้าสู่ระบบ” (Login) ก็จะเข้าใช้งานได้ตามปกติ</p><br>
  
          <p style="font-size:18px;" class="bold">2. เลือกคอร์สที่ต้องการเรียนและดำเนินการชำระเงิน</p>

          <p>เมื่อเลือกคอร์สที่ต้องการเรียนแล้ว ระบบจะพาเข้าสู่การชำระเงิน โดยมีขั้นตอนการชำระเงินแต่ละช่องทาง ดังนี้
          <br>
          1. ในหน้าขั้นตอนชำระเงินระบบจะรวมยอดที่ต้องชำระไว้ โดยหากคอร์สที่ซื้อมีการจัดส่งเอกสารประกอบการเรียน น้องๆต้องกรอก “ที่อยู่ในการจัดส่ง” ให้เรียบร้อยก่อน แล้วจากนั้นให้น้องๆเลือกวิธีการชำระเงินตามช่องทางที่น้องๆสะดวก
          <p class="text-center">
            <img src="{% static "images/manual/payment/04.jpg" %}" class="rps">
          </p>
          <br>
          2. โดย Cocodemy รองรับการชำระเงินแทบทุกรูปแบบ ให้น้องๆและผู้ปกครองมีทางเลือกที่หลากหลาย การชำระเงินจึงง่าย สะดวกรวดเร็วยิ่งขึ้น และมีความปลอดภัย 100% โดยมีช่องทางการชำระเงิน ดังนี้
          <br>
          <br>
          <b>A. ชำระด้วยเงินสดที่เคานเตอร์เซอร์วิส (Counter Service)</b> หรือเคานเตอร์ Tesco Lotus, BigC และอื่นๆ<br>
          <b>B. ชำระด้วยการโอนเงินทางธนาคาร</b>
          สามารถโอนเงินผ่านธนาคารอะไรได้บ้าง? น้องๆและผู้ปกครองสามารถเลือกชำระเงินค่าบทเรียนที่สั่งซื้อได้ผ่านธนาคารต่างๆที่สะดวก ตามตารางด้านล่างนี้ครับ</p>

          <table class="payment-way">
            <thead>
              <th></th>
              <th></th>
              <th>สาขา</th>
              <th>ชื่อบัญชี</th>
              <th>เลขที่บัญชี</th>
            </thead>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_kbank.png" %}"></td>
              <td>กสิกรไทย</td>
              <td>สาขา บิ๊กซี สะพานควาย</td>
              <td>บจก. โคนิเคิล</td>
              <td>097-2-75805-1</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_ktb.png" %}"></td>
              <td>กรุงไทย</td>
              <td>สาขา บิ๊กซี สะพานควาย</td>
              <td>บจก. โคนิเคิล</td>
              <td>983-3-90148-4</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_bbl.png" %}"></td>
              <td>กรุงเทพ</td>
              <td>สาขา บิ๊กซี สะพานควาย</td>
              <td>บจก. โคนิเคิล</td>
              <td>021-039432-6</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_bay.png" %}"></td>
              <td>กรุงศรีอยุธยา</td>
              <td>สาขา สะพานควาย</td>
              <td>บจก. โคนิเคิล</td>
              <td>013-1-57331-9</td>
            </tr>
            <tr>
              <td class="text-center"><img src="{% static "images/payment_scb.png" %}"></td>
              <td>ไทยพาณิชย์</td>
              <td>สาขา สยามพารากอน</td>
              <td>บจก. โคนิเคิล</td>
              <td>405-294927-0</td>
            </tr>
          </table>
          <br>
          <p><b>C. ชำระด้วยบัตรเครดิต (Credit Card)</b> <br><b>D.ชำระด้วยบัญชีธนาคารออนไลน์ (iBanking)</b></p>
          <br>
          <p style="font-size:18px;" class="bold">3. เมื่อเลือกช่องทางการชำระแล้ว ให้ทำตามขั้นตอนที่ปรากฏของช่องทางนั้นๆ โดยกรอกข้อมูลให้ครบถ้วน</p>
          <p>A. ชำระด้วยเงินสดที่เคานเตอร์เซอร์วิส (Counter Service) หรือเคานเตอร์ Tesco Lotus, BigC และอื่นๆ</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/05.jpg" %}" class="rps">
          </p>

          <p>B. ชำระด้วยการโอนเงินทางธนาคาร</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/06.jpg" %}" class="rps">
          </p>

          <p>C. ชำระด้วยบัตรเครดิต (Credit Card)</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/07.jpg" %}" class="rps">
          </p>

          <p>D. ชำระด้วยบัญชีธนาคารออนไลน์ (iBanking)</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/08.jpg" %}" class="rps">
          </p>
         
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>ขั้นตอนแจ้งหลักฐานการชำระเงิน</h3>
          <p>สำหรับน้องที่ชำระผ่านช่องทาง บัตรเครดิต เคานเตอร์เซอร์วิส และอื่นๆ และชำระด้วยบัญชีธนาคารออนไลน์</b> <span style="text-decoration:underline;">ระบบจะยืนยันการชำระเงินให้อัตโนมัติ</span></p>
          <p><b>ส่วนการชำระด้วยการโอนเงินทางธนาคาร</b> ให้น้องแจ้งการชำระเงินผ่านทางเว็บไซต์ Cocodemy.com เพื่อเป็นการยืนยันการชำระเงิน มีขั้นตอนการแจ้งชำระเงินง่ายๆ ดังนี้</p>
          <p>1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่ม “เข้าสู่ระบบ”</p>
          <p>2. เข้าหน้า “แจ้งการชำระเงิน” โดยกดเลือกที่ปุ่ม “แจ้งชำระเงิน” ด้านขวาบนซึ่งจะอยู่ใน dropdown ที่ชื่อเขาน้อง</p>
          <p>3. เมื่อเข้าสู่หน้าแจ้งชำระเงินแล้ว ให้กดที่ปุ่ม “ยืนยันการโอนเงิน” ที่รายการที่ต้องการแจ้งการชำระเงิน</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/09.jpg" %}" class="rps">
          </p>
          <p>4. จากนั้นให้น้องกรอกข้อมูลให้ครบ อัพโหลดภาพสลิปที่โอน</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/10.jpg" %}" class="rps">
          </p>
          <p>5. เมื่อใส่ข้อมูลเสร็จก็กด “ยืนยันการโอนเงิน”  เพื่อส่งหลักฐานให้เจ้าหน้าที่ทำการตรวจสอบ (ภายใน 24 ชม.หลังการแจ้ง)</p>
          <p class="text-center">
            <img src="{% static "images/manual/payment/11.jpg" %}" class="rps">
          </p>
        </div><!--panel-body-->
      </div><!--panel-->

    </div>
  </div>
</div>