{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}
   

{% endblock %}

{% block content %}
<div class="container clearfix bottom-pad">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">วิธีการเรียน</h2>
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>การสมัครสมาชิก </h3>
          <p>
            สำหรับน้องๆ ที่เป็นสมาชิกเดิมอยู่แล้ว 
  น้องสามารถ กรอกอีเมล และ รหัสผ่าน แล้วกดที่ปุ่ม เข้าสู่ระบบ ได้ตามปกติ 
            <br>
            แต่ถ้าหากน้องไม่ได้เป็นสมาชิก น้องๆ จำเป็นจะต้องสมัครสมาชิกก่อน 
  ซึ่งการสมัครสมาชิกนั้นสามารถทำได้ 2 วิธี คือ
          </p>
          <p><b>วิธีที่ 1</b></p>
          <p>
           ถ้าน้องเข้าสู่ระบบโดยปุ่ม เข้าสู่ระบบด้วยเฟสบุุ๊ค (Sign in with Facebook) จะเป็นการสมัครสมาชิกให้น้องแบบอัตโนมัติ ซึ่งจะมีป๊อบอัพจากทางเฟสบุ๊คขึ้นมาเพื่อยืนยัน ให้น้องกด ตกลง เพื่อเข้าสู่ระบบและเป็นสมาช
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howlearn/signup_01.jpg" %}" class="rps">
            <img src="{% static "clickforclever/images/manual/howlearn/signup_02.jpg" %}" class="rps">
          </p>
          <p>
            <b>วิธีที่ 2</b> สามารถสมัครสมาชิกได้จากปุ่ม <b>สมัครสมาชิก</b>
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howlearn/signup_03.jpg" %}" class="rps">
          </p>
          <p>
            จากนั้นกรอกชื่อและนามสกุล อีเมลของน้อง และรหัสผ่านที่ต้องการ (4-12 ตัว) ถัดมาน้องก็กรอกรหัสผ่านเหมือนกันเพื่อยืนยันการตั้งรหัสผ่าน แล้วกดปุ่ม 
            <i>ลงทะเบียน</i><br>
  จากนั้นทางระบบจะส่งการลงทะเบียนสำเร็จไปทางอีเมลที่น้องใช้สมัคร (หากไม่มีอีเมลอาจจะอยู่ในอีเมลขยะ)
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howlearn/signup_04.jpg" %}" class="rps">
          </p>
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>ติวฟรี</h3>
          <section>
            <p>
              วนนี้เป็นส่วนของเนื้อหาที่ใช้ในการเรียนการสอนในโรงเรียน แต่นำเสนอในลักษณะการติว เพื่อให้การเรียนรู้บทเรียนนั้นๆ แตกต่างจากที่น้องๆ เคยเรียนมาในห้องเรียน ซึ่งประกอบไปด้วย 
              <ul>
                <li>สรุปในประเด็นสำคัญที่ไม่ควรมองข้าม</li>
                <li>ยกตัวอย่างในแต่ละเรื่อง เพื่อให้เห็นภาพของข้อสอบที่อาจจะเกิดขึ้นในการสอบที่โรงเรียน </li>
              </ul>
              คอร์สนี้เป็นส่วนหนึ่งของความตั้งใจในการสร้างเว็บการศึกษาที่ดีที่สุดให้กับเมืองไทยของ
              <i>พี่บ๊อบ ณัฐธีร์</i> เป็นความตั้งใจของทีมครูผู้สอน (TJ : Teaching Jockey) และทีมงาน ที่ต้องการ
              มอบโอกาสให้น้องๆ นักเรียนทั่วประเทศ ซึ่งอาจเป็นคนที่มีโอกาสได้เรียนพิเศษหรือคนที่ไม่มีโอกาสได้เรียนพิเศษก็สามารถเข้าถึงได้โดย <i>ไม่เสียค่าใช้จ่ายใดๆ ทั้งสิ้น (เรียนฟรีทุกบท ทุกวิชา) </i>โดยหวังว่าการสอนในคอร์สพื้นฐานนี้จะสามารถกระตุ้นการเรียนรู้ของน้องๆ ทุกค
            </p>
          </section>
          <section>
            <p><b>ขั้นตอนสำหรับการดูวิดีโอติวฟรี</b></p>
            <p>สามารถดูได้โดยไม่เสียค่าใช้จ่ายใดๆ และน้องจะต้องเป็นสมาชิกของเว็บไซต์ Clickforclever.comจึงสามารถดูวิดีโอได้ ซึ่งมีขั้นตอนง่ายๆ ดังนี้</p>
            <p>1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่ม เข้าสู่ระบบ</p>
            <p class="text-center">
              <img src="{% static "clickforclever/images/manual/howlearn/freelearn_01.jpg" %}" class="rps">
            </p>
            <p>2. กดเลือกที่คอร์สเรียน จะมีแถบบาร์วิชาเลื่อนลงมา คลิกไปที่ ติวฟรี</p>
            <p class="text-center">
              <img src="{% static "clickforclever/images/manual/howlearn/freelearn_02.jpg" %}" class="rps">
            </p>
            <p>3. กดเลือกวิชาที่น้องสนใจจะเข้าไปติว</p>
            <p class="text-center">
              <img src="{% static "clickforclever/images/manual/howlearn/freelearn_03.jpg" %}" class="rps">
            </p>
            <p>4. เมื่อกดเลือกวิชา ก็จะเข้ามาสู่หน้าติวฟรี </p>
            <p>5. เมื่อน้องเข้ามาในหน้าวิดีโอของบทเรียนที่เลือกแล้ว น้องก็สามารถกดที่ปุ่มเริ่มติวเพื่อเล่นวิดีโอ </p>
            <p>6. และน้องๆ ยังสามารถดาวน์โหลดเอกสารประกอบการเรียนได้จากในหน้านี้ โดยกดที่ปุ่ม ดาวน์โหลดเอกสาร ไฟล์เอกสารก็จะถูกดาวน์โหลดให้น้องๆ สามารถนำเอกสารมาใช้เรียนพร้อมวิดีโอ หรือจะใช้สำหรับทบทวนเพิ่มความเข้าใจได้ด้วยเช่นกัน</p>
          </section>
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>คอร์สติวเพิ่ม GPA</h3>
          <section>
            <p>ส่วนนี้เป็นการสอนเนื้อหาโดยละเอียดที่มีในแต่ละบท แต่ละวิชา มีลูกเล่นในการสอน มีวิธีในการอธิบายให้เข้าใจง่าย มีเทคนิคการจำที่น่าสนใจและทำให้เกิดความเข้าใจมากขึ้น ด้วยการใช้กราฟฟิกและเทคนิคการตัดต่อแบบรายการโทรทัศน์ เพื่อให้เกิดความแตกต่าง และในทุกเนื้อหาที่สอนมีตัวอย่างให้น้องๆเรียนรู้มากมาย ตั้งแต่ตัวอย่างแบบง่ายๆ ไปจนถึงตัวอย่างข้อสอบที่ใช้ในการสอบเข้ามหาวิทยาลัยสนามต่างๆ ที่จะทำให้น้องๆ เข้าใจในเนื้อหาให้ดีที่สุด และสามารถทำข้อสอบได้เมื่อเรียนเสร็จคอร์สนั้นๆ  ไม่ว่าจะเป็นข้อสอบปลายภาค หรือข้อสอบในสนามสอบต่างๆ แล้วเกรด 4หรือคณะในมหาวิทยาลัยที่หวังก็ไม่ไกลเกินเอื้อม</p>
            <p>โดยในคอร์สเข้มข้นจะประกอบด้วยคอร์สต่างๆ ตามข้างล่างนะครับ</p>
            <ul>
              วิชาหลักของชั้นม.ปลาย
              <li>วิชาคณิตศาสตร์</li>
              <li>วิชาฟิสิกส์</li>
              <li>วิชาเคมี</li>
              <li>วิชาชีววิทยา</li>
              <li>วิชาภาษาอังกฤษ</li>
              <li>วิชาภาษาไทย</li>
              <li>วิชาสังคมศึกษา</li>
            </ul>
          </section>
          <section>
            <p>
              <b>ขั้นตอนสำหรับการดูวิดีโอคอร์สติวเพิ่ม GPA</b><br>
            1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่ม เข้าสู่ระบบ<br>
            2. กดเลือกที่คอร์สเรียน จะมีแถบบาร์วิชาเลื่อนลงมา คลิกไปที่ ติวเพิ่ม GPA
            </p>
            <p class="text-center">
              <img src="{% static "clickforclever/images/manual/howlearn/gpacourse_01.jpg" %}" class="rps">
            </p>
          </section>
        </div><!--panel-body-->
      </div><!--panel-->
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <h3>คอร์สติว Admission</h3>
          <section>
            <p>ส่วนนี้เป็นการสอนเนื้อหาโดยละเอียดที่มีในแต่ละบท แต่ละวิชา มีลูกเล่นในการสอน มีวิธีในการอธิบายให้เข้าใจง่าย มีเทคนิคการจำที่น่าสนใจและทำให้เกิดความเข้าใจมากขึ้น ด้วยการใช้กราฟฟิกและเทคนิคการตัดต่อแบบรายการโทรทัศน์ เพื่อให้เกิดความแตกต่าง และในทุกเนื้อหาที่สอนมีตัวอย่างให้น้องๆเรียนรู้มากมาย ตั้งแต่ตัวอย่างแบบง่ายๆ ไปจนถึงตัวอย่างข้อสอบที่ใช้ในการสอบเข้ามหาวิทยาลัยสนามต่างๆ ที่จะทำให้น้องๆ เข้าใจในเนื้อหาให้ดีที่สุด และสามารถทำข้อสอบได้เมื่อเรียนเสร็จคอร์สนั้นๆ  ไม่ว่าจะเป็นข้อสอบปลายภาค หรือข้อสอบในสนามสอบต่างๆ แล้วเกรด 4หรือคณะในมหาวิทยาลัยที่หวังก็ไม่ไกลเกินเอื้อม</p>
            <p>โดยในคอร์สเข้มข้นจะประกอบด้วยคอร์สต่างๆ ตามข้างล่างนะครับ</p>
            <p><b>1.คอร์ส GAT / PAT / O-NET</b>จะเป็นเนื้อหาที่รวมข้อสอบที่มักจะออกสอบ GAT/ PAT/ O-NET  หรือเป็นข้อสอบที่ใช้ในการสอบจริง  ซึ่งคอร์สนี้จะเน้นให้น้องฝึกทำข้อสอบ หรือทำโจทย์ยากๆ ด้วยเทคนิคพิเศษของ TJ แต่ละคน จะทำให้น้องๆ เห็นถึงจุดที่ทำให้ได้คะแนน จุดหลอกที่จะทำให้เสียคะแนน และเทคนิคที่จะพิชิตโจทย์ข้อสอบเหล่านั้น เพื่อให้เกิดความคล่องตัวในการทำโจทย์ และเมื่อน้องๆลงสนามสอบจริงก็จะมีความมั่นใจในการทำและสามารถเก็บคะแนนได้อย่างง่ายๆ เลย</p>
            <p>
              <b>2. ข้อสอบโควตา</b> จะเป็นเนื้อหาที่รวมข้อสอบที่มักจะออกในสนามสอบโควตา มช. มอ. และมข. ซึ่งในส่วนนี้ทาง TJ แต่ละท่านได้รวมรวบข้อสอบที่มักออกสอบบ่อยๆ และอธิบายข้อสอบที่ว่ายากๆ ด้วยเทคนิคการทำโจทย์ของ TJ แต่ละท่าน เพื่อให้น้องมีความเข้าใจ และรู้ทิศทางในการทำข้อสอบ ชนิดที่ว่าเห็นข้อสอบปุ๊บ ก็เห็นแนวทางในการทำโจทย์และสามารถเก็บคะแนนในแต่ละวิชาได้อย่างง่ายดาย ทำให้เพิ่มความมั่นใจในการสอบ และสร้างโอกาสในการสอบเข้าโควตาได้มากและง่ายขึ้น
            </p>
          </section>
          <section>
            <p><b>ขั้นตอนสำหรับการดูวิดีโอคอร์สติว Admission</b></p>
            <p>1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่ม เข้าสู่ระบบ</p>
            <p>2. กดเลือกที่คอร์สเรียน จะมีแถบบาร์วิชาเลื่อนลงมา คลิกไปที่ ติว Admission</p>
            <p class="text-center">
              <img src="{% static "clickforclever/images/manual/howlearn/admissioncourse_01.jpg" %}" class="rps">
            </p>
            <p>3. น้องๆ สามารถดูได้โดยการสั่งซื้อและน้องต้องเป็นสมาชิกของเว็บไซต์ Clickforclever.com จึงสามารถดูวิดีโอได้ ซึ่งมีขั้นตอนการสั่งซื้อง่ายๆ ดังนี้ <a href="{% url 'manual:order' %}" class="main-color">ขั้นตอนการสั่งซื้อ</a></p>
          </section>
        </div><!--panel-body-->
      </div><!--panel-->
    </div>
  </div>
</div>     

{% endblock %}