{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}
   

{% endblock %}

{% block content %}
<div class="container clearfix bottom-pad">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">ขั้นตอนการสั่งซื้อ</h2>
      <div class="panel panel-default top-pad">
        <div class="panel-body">
          <p>
            ขั้นตอนสำหรับการดูวิดีโอใน คอร์สติวเพิ่ม GPA และ คอร์ส Admission นั้น น้องๆ จำเป็น
            ต้องทำการซื้อบทเรียนหรือคอร์สนั้นๆ ก่อนนะครับถึงจะเริ่มติวได้ และน้องจะต้องเป็นสมาชิกของเว็บไซต์ Clickforclever.com จึงสามารถซื้อและดูวิดีโอได้ 
          </p>
          <p>
            1. น้องจะต้องทำการเข้าสู่ระบบของเว็บไซต์เสียก่อน โดยกดที่ปุ่มเข้าสู่ระบบ
          </p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/signin.jpg" %}" class="rps">
          </p>
          <p>2. กดเลือกที่คอร์สเรียน จะมีแถบบาร์ของวิชาเลื่อนลงมา</p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howorder/1.jpg" %}" class="rps">
          </p>
          <p>3. กดเลือกคอร์สที่น้องสนใจจะเข้าไปติว </p>
          <p>4. เมื่อกดเลือกคอร์ส ก็จะเข้ามาสู่หน้าของวิชาให้เลือก</p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howorder/2.jpg" %}" class="rps">
          </p>
          <p>5. น้องสามารถกดดูรายละเอียดของแต่ละบทเรียนได้ โดยการกดที่ชื่อบทเรียนนั้นๆ</p>
          <p>6. หากน้องต้องการซื้อบทเรียน ให้น้องกดที่ปุ่ม By this course ระบบจะนำเข้าสู่ขั้นตอนการสั่งซื้อ 
กดปุ่ม Add to Library</p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howorder/3.jpg" %}" class="rps"><br>
            <img src="{% static "clickforclever/images/manual/howorder/4.jpg" %}" class="rps">
          </p>
          <p>7. น้องสามารถลบรายการสั่งซื้อที่ไม่ต้องการออกได้ โดยกดที่ปุ่มกากบาทด้านขวา</p>
          <p>8. เมื่อน้องต้องการจะสั่งซื้อ ให้กดที่ปุ่ม “ชำระเงิน” เพื่อเข้าสู่ “ขั้นตอนการชำระเงิน”</p>
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/howorder/5.jpg" %}" class="rps">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>     

{% endblock %}