{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">
   <style type="text/css">
    table.payment-way{
      width: 100%;
      display: table;
    }
    table.payment-way tr td{
      border:1px solid #eee;
      padding: 10px;
      display: table-cell;
    }
    table.payment-way thead th{
      border:1px solid #eee;
      padding: 10px;
      display: table-cell;
      background: #eee;
    }
    table.payment-way tr td img{
      width: 30px;
    }
   </style>

{% endblock %}

{% block footerscript %}{% endblock %}

{% block content %}
{% include "manual/fragment_payment.html" %}
{% endblock %}
