{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}
   

{% endblock %}

{% block content %}
<div class="container clearfix bottom-pad">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="main-color top-pad text-center">พี่บ๊อบ...Say Hi!</h2>
      <h2 class="main-color top-pad text-center grey">“เมื่อเรามีความสุขและสนุกในการเรียน 
ความจำที่แม่นยำ ความเข้าใจ และความรู้จะเกิดขึ้นเป็นเท่าตัว”<br><br></h2>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/preface.png" %}" class="rps">
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p>ถ้าให้พูดถึงจุดกำเนิดการเป็น คลิ๊กฟอร์เคลฟเวอร์ ในวันนี้ ขอย้อนกลับไปสมัยที่ตัวเองยังอยู่
    ในวัยกระโปรงบานขาสั้น เมื่อ 20 ปีที่แล้ว...พี่บ๊อบอยากให้สถาบันกวดวิชาเป็น “โรงเรียนแห่งความสุข” ที่อัดแน่นด้วยรูปแบบการสอนที่สร้างความเข้าใจในบทเรียนแบบง่ายๆ ในขณะเดียวกันก็มีเทคนิคสนุกๆช่วยจำและนำไปพิชิตข้อสอบอย่างมั่นใจ ให้เราได้ตื่นเต้น ตื่นตัว และกระหายที่จะอยากรู้อยู่ตลอดเวลา สิ่งนี้เองที่ช่วยส่งเสริมให้ผู้เรียนมีผลการเรียนที่ดีขึ้นและสอบเข้าศึกษาต่อได้ตามที่วาดฝันเอาไว้<br><br>
          จึงเป็นที่มาของ <a class="main-color" href="https://www.clickforclever.com" target="_blank">www.clickforclever.com </a>ซึ่งพี่บ๊อบมีความตั้งใจเป็นอย่างยิ่งในการสร้างความสุขให้แก่ผู้เรียน ทุกเนื้อหา ทุกบท ทุกวิชา ของเราได้ปฏิวัติการติวจากรูปแบบเดิมๆ สู่มิติใหม่ ด้วยการสร้างกราฟิกแอนิเมชั่นที่เหนือชั้น แปลงอักษรให้เป็นภาพที่เข้าใจง่าย กลั่นออกมาเป็นเทคนิคพิชิตข้อสอบ
    ได้ถึงแก่น ทั้งหมดเพื่อให้ผู้เรียนมีความรู้คู่ความสนุก ตอบทุกความต้องการของเด็กไทยในยุคปัจจุบัน <br><br>
            หวังว่าสิ่งที่พี่บ๊อบเตรียมให้กับน้องๆ ทุกคนจะสร้างทั้งแรงบันดาลใจ ความรู้ และความพร้อมให้กับน้องๆ ก่อนเข้าสู่สนามสอบทุกสนามได้อย่างเต็มที่ เพื่อให้เกิดความสำเร็จตามที่ทุกคนหวังไว้ทุกประการ
    นะครับ
            <p class="text-right" style="font-size:18px">
              ClickForClever แค่คลิ๊ก...ก็ฉลาดแล้ว<br>
              <span class="main-color">พี่บ๊อบ ณัฐธีร์ โกศลพิศิษฐ์</span>
            </p>
          </p>
        </div>
      </div><!--row-->
    </div>
  </div><!--row-->
</div>     

{% endblock %}