{% extends "base.html" %}

{% load staticfiles %}
{% block headerscript %}

   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
   <link media="all" type="text/css" rel="stylesheet" href="{% static "css/join.css" %}">

{% endblock %}

{% block footerscript %}
   

{% endblock %}

{% block content %}
<div class="hero-mask" style="bottom: 6px;">
      <img style="width:100%; margin-top:0px;" src="{% static "clickforclever/images/manual/Banner-Just-click-In.jpg" %}" class="active">
 </div>
<div class="container clearfix bottom-pad">
  <div class="row">
    <div class="col-sm-12">
          <p class="text-center">
            <img src="{% static "clickforclever/images/manual/Banner-Just-click-In-Full1.jpg" %}" class="rps">
          </p>
    </div>
  </div>
</div>     

{% endblock %}