input,textarea,#video-detail td,select{
	font-family: 'helvethaicaais' !important;
}

a.thumbnail{
	width: 200px;
}

#cropCourseImage {
	/*width: 200px;
	height: 121.48px;*/
	width: 428px;
	height: 260px;
	position:relative;
	background: #EFEFEF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cropCourseImage > img.croppedImg{
	width: 100%;
	height: 100%;
}
