  input.date-picker{
    background-color: #EDECEC;
  }
  select.filter{
    background-color: #EDECEC;
  }

  i.icon-green{
    color: #4CAF50;
  }

  i.icon-red{
    color: #E91E63;
  }

  .text-alirnge-left{
    text-align: left !important;
  }

  .thai{
    font-family: 'helvethaicaais' !important;
  }

  .breadcrumb{
  display: none;
}
