{% extends "dashboard/base.html" %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-body card-padding">
    {% if old != None and new != None %}
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Field</th>
	  {% if old %}
	  <th>Old</th>
	  {% endif %}
	  {% if new %}
	  <th>New</th>
	  {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for data in data_list %}
        <tr {% if data.is_change %}class="info"{% endif %}>
	  <td>{{ data.field }}</td>
	  {% if old %}
	  <td>{{ data.old }}</td>
	  {% endif %}
	  {% if new %}
	  <td>{{ data.new }}</td>
	  {% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="99"><div class="no-item">No log.</div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
