{% extends "dashboard/base.html" %}

{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>#ID</th>
	    <td>Provider</td>
	    {% if IS_SUB_PROVIDER %}
	    <td>Sub Provider</td>
	    {% endif %}
	    <td>Admin</td>
	    {# <td>Account</td> #}
	    <td>ContentType</td>
	    <th>Action</th>
	    <th>Detail</th>
	    <td>TimeStamp</td>
          </tr>
        </thead>
        <tbody>
          {% for log in log_list %}
          <tr>
  	    <td>{{ log.id }}</td>
  	    <td>{% if log.provider_id == -1 %}-{% else %}{{ log.provider_id }}{% endif %}</td>
  	    {% if IS_SUB_PROVIDER %}
  	    <td>{% if log.sub_provider_id == -1 %}-{% else %}{{ log.sub_provider_id }}{% endif %}</td>
  	    {% endif %}
  	    <td>{{ log.admin_display }}</td>
  	    {# <td>{{ log.assount_display }}</td> #}
  	    <td>{{ log.content_type.name|capfirst }}</td>
  	    <td>{{ log.code }}</td>
  	    <td>
	      <a href="{% url 'dashboard:log:detail' log.id %}"  class="btn bgm-bluegray btn-sm waves-effect">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
	      </a>
	    </td>
	    <td>{{ log.timestamp }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="99"><div class="no-item">No log.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "dashboard/paginator.html" with content_list=log_list %}
    </div>
  </div>
</div>
{% endblock %}
