{% extends "base.html" %}
{% load static %}

{% block bodyclass %}has-left-menu{% endblock %}

{% block content %}
<ul class="box-wrapper">
  <h1>All <span class="main-color">Course{{ course_list|length|pluralize }}</span></h1>
  {% include "filter_block.html" with show_category=True show_institute=True show_popular=True %}
  {% if course_list|length > 0 %}
  {% for course in course_list %}
  {% include "course/item_cached_new.html" %}
  {% endfor %}
  {% include "paginator_block.html" %}
  {% else %}
  <h4 class="no-item">No {% if category.name %}{{ category.name }}{% endif %} courses{% if provider %} provided by {{ provider.name }}{% endif %}.</h4>
  {% endif %}
</ul>
{% endblock %}
