{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--tutor/dashboard/create.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Instructor : Create a new instructor</strong></h2>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ tutor_form|bootstrap }}
            <input type="hidden" class="image width" value="{{ IMAGE_SIZE.tutor.width }}" />
            <input type="hidden" class="image height" value="{{ IMAGE_SIZE.tutor.height }}" />
            <input type="hidden" class="image_featured width" value="{{ IMAGE_SIZE.featured.width }}" />
            <input type="hidden" class="image_featured height" value="{{ IMAGE_SIZE.featured.height }}" />
            <div class="form-group text-right">
                <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
