{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<!--tutor/dashboard/detail.html-->
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    {% include "tutor/dashboard/tutor_name_head.html" %}
    {% include "tutor/dashboard/tab.html" %}
    <div class="card-header">
        <h3 class="clear-pad"><strong>Edit Informations</strong></h3>
    </div>
    <div class="card-body card-padding">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ tutor_form|bootstrap }}
            {% if perms.tutor.change_tutor %}
            <div class="form-group text-right">
                  <button type="submit" class="btn bgm-bluegray btn-lg waves-effect">Save</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include 'main/modal/modal_crop_image_dashboard.html' %}
{% endblock %}
