{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load content_tags %}
{% block content %}
{% include "dashboard/breadcrumb.html" %}
<div class="card">
    <div class="card-header ch-alt">
        <h2><strong>Instructor</strong></h2>
        <ul class="actions">
            {% if perms.tutor.add_tutor %}
            <li>
              	<a href="{% url 'dashboard:tutor-dashboard:create' %}">
              	    <i class="zmdi zmdi-plus-circle"></i> Create New
              	</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                  	<tr>
                    	  <th>No.</th>
                    	  <th>Photo</th>
                        <th>Instructor Name</th>
                    	  <th>Learning Center</th>
                    	  <th>Detail</th>
                    	  <th>Preview</th>
                  	</tr>
                </thead>
                <tbody>
                  	{% for tutor in tutor_list %}
                  	<tr>
                  	    <td>{{ forloop.counter }}</td>
                    	  <td>
                      	    {% if tutor.image %}<img src="{{ tutor.image.url }}" height="36" />
                            {% else %}-
                      	    {% endif %}
                    	  </td>
                        <td>{{ tutor.name }}</td>
                    	  <td>
                            {% for provider in tutor.providers.all %}
                            {{ provider.name }}{% if not forloop.last %}<br/>{% endif %}
                            {% endfor %}
                    	  </td>
                    	  {% comment %}
                    	  <td>{{ tutor.get_extra.count_course|check_none }}</td>
                    	  <td>{{ tutor.get_extra.count_learner|check_none }}</td>
                    	  {% endcomment %}
                    	  <td>
                      	    <a href="{% url 'dashboard:tutor-dashboard:information' tutor.id %}" class="btn bgm-bluegray btn-sm waves-effect">
                      	        <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
                      	    </a>
                    	  </td>
                      	<td class="text-center">
                      	    <a href="{% url 'tutor:detail' tutor.id %}" target="_blank" class="btn bgm-blue btn-sm waves-effect">
                      	        <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                      	    </a>
                    	  </td>
                  	</tr>
                    {% empty %}
                    <tr><td colspan="99"><div class="no-item">No instructors.</div></td></tr>
                  	{% endfor %}
                </tbody>
            </table>
        </div>
        {% include "dashboard/paginator.html" with content_list=tutor_list %}
    </div>
</div>
{% endblock %}
