<ul class="tab-nav text-center" role="tablist" tabindex="2" style="overflow: hidden; outline: none;">
  <li {% if TAB == "information" %}class="active"{% endif %}>
    {% if TAB == "information" %}<a href="#">Information</a>{% else %}<a href="{% url 'dashboard:tutor-dashboard:information' tutor.id %}">Information</a>{% endif %}
  </li>
</ul>
<br/>
