{% load staticfiles %}
<div id="onboardWalkthroughModal" class="modal walkthrough fade" tabindex="-1" role="dialog" >
      <div class="modal-dialog">
          <img src="{% static 'thanachart/images/customize/logo-white.png' %}" class="logo" />
          <h3 class="bold white text-center">Welcome to Thanachart Onboard Program!</h3>
          <ul class="unstyle">
              <li>
                  <img src="{% static 'thanachart/images/customize/onboard-walkthrough-01.png' %}" />
                  <h3>สำหรับการเริ่มต้นที่ดีกับ Thanachart</h3>
                  <h4>แสดงความคืบหน้าของคอร์สแต่ละคอร์ส และผลการสอบที่ได้ไว้ในโปรไฟล์ส่วนตัว</h4>
              </li>
              <li>
                  <img src="{% static 'thanachart/images/customize/onboard-walkthrough-02.png' %}" />
                  <h3>คอร์ส ข้อสอบ และกิจกรรม</h3>
                  <h4>แสดงความคืบหน้าของคอร์สแต่ละคอร์ส และผลการสอบที่ได้ไว้ในโปรไฟล์ส่วนตัว</h4>
              </li>
              <li>
                  <img src="{% static 'thanachart/images/customize/onboard-walkthrough-03.png' %}" />
                  <h3>สู่เส้นทางแห่งความสำเร็จ</h3>
                  <h4>แสดงความคืบหน้าของคอร์สแต่ละคอร์ส และผลการสอบที่ได้ไว้ในโปรไฟล์ส่วนตัว</h4>
              </li>
          </ul>
          <p class="btn-nav">
            <a href="#" class="btn-prev btn-inline btn-round btn-white-outline">Previous</a>
            <a href="#" class="btn-next btn-inline btn-round btn-white pull-right">Next</a>
          </p>
      </div>
</div>
