{% load staticfiles %}
<div class="modal fade" id="confirm_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="red">ได้รับยืนยันการโอนเงินแล้ว</h3>
			</div>
			<div class="modal-body">
				<h3>ทางทีมงาน Clickforclever ได้รับข้อมูลการยืนยันแล้ว</h3>
				<p>
					โดยทีมงาน Clickforclever จะทำการตรวจสอบหลักฐานการโอนเงินของคุณ<br>
					และหากข้อมูลถูกต้อง คอร์สที่คุณซื้อไว้จะเข้าไปอยู่หน้า 
					<a href="{% url 'profile' %}">My Library</a> ภายใน 1 วัน (จ.-ศ.)<br>
					คุณสามารถดูรายละเอียดเพิ่มเติมที่อีเมลของคุณ<br>
					<br>
					<br>
					หากไม่พบคอร์สในหน้า <a href="{% url 'profile' %}">My Library</a> กรุณาติดต่อ<br>
					02-9620079, 081-3576958<br>
					<a href="">infoclick@clickforclever.com</a>
				</p>
				<p class="text-center">
					<a href="{% url 'order:history' %}" class="btn btn-blue" type="button" class="close">ตกลง</a>
				</p>
			</div>
			<div class="modal-footer">
				<p class="small text-left">
					สอบถามข้อมูลเพิ่มเติม โทร: 02-9620079, 081-3576958 Fax: 02-5844819, Email : <a href="{% url 'contact' %}" class="link">infoclick@clickforclever.com</a><br>
				</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
