{% extends "base.html" %}

{% load staticfiles %}

{% block headerscript %}
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/order.css" %}">
<link media="all" type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style type="text/css">
  img.payment-information-icon{
  height: 65px!important;
  width: 65px!important;
  padding: 0;
  }
</style>
{% endblock %}

{% block footerscript %}
<script>
  {% if not success %}
  $("#bank-confirm-from").submit( function() {
      if( !$("#hours-selector").val() ) return false;
      if( !$("#minutes-selector").val() ) return false;
      var paid_date = $("#transfer_date").val();
      var regex = new RegExp("^[0-9]{2}/[0-9]{2}/[0-9]{4}$", "i");
      if( !regex.test( paid_date ) ){
	  return false;
      }
  });
$("#transfer_date").datepicker();
{% else %}
$("#confirm_success").modal('show');
{% endif %}
</script>
{% endblock %}

{% block content %}
<div class="container">
  {% if not success %}
  <div class="bc-order">
    <a href="">Home</a>
    <a href="{% url 'order:history' %}">Order History</a>
  </div>
  <div class="order-page-title">
    <h2 class="">วิธีชำระด้วยการโอนเงินทางธนาคาร</h2>
    <div class="panel-info">
      <h3 class="grey">ข้อมูลการสั่งซื้อของคุณ</h3>
      <p><b>ชื่อ - สกุล : </b><span>{{ user.first_name }} {{ user.last_name }}</span></p>
      <p><b>Email : </b><span>{{ user.email }}</span></p>
      <p><b>Order ID : </b><span>{{ order.id }}</span></p>
      <p><b>วันที่สั่งซื้อ : </b><span>{{ order.timestamp }}</span></p>
      <p><b class="red">**กรุณาโอนเงินค่าคอร์สภายใน 7 วัน หลังจากทำการสั่งซื้อ</b><span></span></p>
    </div>
    <div class="panel-info">
      <h3 class="grey">ยืนยันการโอนเงิน</h3>
      <div class="col-xs-6">
        <b>กรอกแบบฟอร์มยืนยันการโอนเงิน</b>
      </div>        
      <div class="col-xs-6">
        <a class="btn btn-blue" href="" data-target="#confirm" data-toggle="modal">ยืนยันการโอนเงิน </a>
      </div> 
    </div>
    <div class="panel-info">
      <h3 class="grey">วิธีการชำระเงินด้วยการโอนเงิน</h3>
      <ol>
        <li>คำสั่งซื้อของคุณ (Order) ของคุณจะอยู่ที่หน้า <a href="{% url 'order:history' %}">My Orders</a> (กดที่ชื่อของคุณที่อยู่ด้านบน Header จะปรากฎ Menu ออกมา)</li>
        <li>ดำเนินการโอนเงินตามข้อมูลและเลขที่บัญชีที่อยู่ด้านล่างภายใน 7 วันหลังจากสั่งซื้อ</li>
        <li>กรุณาเก็บสลิป หรือ หลักฐานการโอน เพื่อใช้ในการยืนยันการโอนเงิน</li>
        <li>กดยืนยันการโอนเงินที่ด้านบน หรือที่หน้า <a href="{% url 'order:history' %}">My Orders</a> (กดที่ชื่อของคุณที่อยู่ด้านบน Header จะปรากฎ Menu ออกมา)</li>
        <li>รอการอนุมัติจากทีมงาน 1 วัน (จ. - ศ.) โดยคอร์สที่ชำระเงินแล้วจะอยู่ใน <a href="{% url 'profile' %}">My Library</a> และสามารถเข้าเรียนได้เลย</li>
        <li>หากยังไม่พบคอร์สหลังจากยืนยันการโอนเงินภายใน 3 วัน กรุณาติดต่อ 0-2077-2868 หรืออีเมล {{CONTACT_EMAIL}}</li>
      </ol>
    </div>
    <div class="panel-info">
      <h3 class="grey">ข้อมูลการโอนเงิน</h3>
      <h4 class="">กรุณาโอนเงินตามจำนวนราคาคอร์ส มาที่เลขที่บัญชีตามข้อมูลด้านล่างนี้</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-3">
            <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-scb.png" %}">
          </div>
          <div class="col-md-9">
            <b>ธนาคารไทยพาณิชย์</b><br>
            <span>เลขที่ 402-5-23147-8</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-3">
            <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-bbl.png" %}">
          </div>
          <div class="col-md-9">
            <b>ธนาคารกรุงเทพ</b><br>
            <span>เลขที่ 008-7-09568-3</span>
          </div>
        </div>   
      </div>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-3">
            <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-kbank.png" %}">
          </div>
          <div class="col-md-9">
            <b>ธนาคารกสิกรไทย</b><br>
            <span>เลขที่ 575-2-13581-0</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-3">
            <img class="payment-information-icon" src="{% static "images/mailer/logo-bank-bay.png" %}">
          </div>
          <div class="col-md-9">
            <b>ธนาคารกรุงศรี</b><br>
            <span>เลขที่ 626-1-04706-3</span>
          </div>
        </div>   
      </div>
                    </br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-3">
                          <img class="payment-information-icon" src="{% static "images/payment_tmb.png" %}">
                        </div>
                        <div class="col-md-9">
                          <b>ธนาคารทหารไทย</b><br>
                          <span>เลขที่ 235-2-06659-7</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-3">
                          <img class="payment-information-icon" src="{% static "images/payment_ktb.png" %}">
                        </div>
                        <div class="col-md-9">
                          <b>ธนาคารกรุงไทย</b><br>
                          <span>เลขที่ 962-0-07674-5</span>
                        </div>
                      </div>   
                    </div>
    </div>
    <p class="small text-left" style="border-top:1px solid #eee; padding-top:10px;">
      สอบถามข้อมูลเพิ่มเติม โทร: 02-9620079, 081-3576958 Fax: 02-5844819, Email : <a href="{% url 'contact' %}" class="link">infoclick@clickforclever.com</a><br>
    </p>
  </div>
</div>
{% include "order/bank_confirm_information.html"%}
{% else %}
{% include "order/bank_confirm_success.html" %}
{% endif %}
{% endblock %}
