	{% load staticfiles %}
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="red">ยืนยันการโอนเงิน</h3>
				</div>
				<div class="modal-body">
					

					<form class="form-horizontal" action="" method="POST" id="bank-confirm-from" enctype="multipart/form-data">
					  {% csrf_token %}  
					  <div class="form-group">
					    <label class="col-sm-3 control-label">Order ID :</label>
					    <div class="col-sm-9">
					      {% if order %}
					      <p class="form-control-static" id="confirm-order-id">{{ order.id }}</p>
					      <input type="hidden" name="order_id" id="order_id" value="{{ order.id }}" required>
					      {% else %}
					      <p class="form-control-static" id="confirm-order-id"></p>
					      <input type="hidden" name="order_id" id="order_id" value="" required>
					      {% endif %}
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label">ธนาคารที่โอน</label>
					    <div class="col-sm-9">
					      <select class="form-control" name="bank" id="bank-selector" required>
							<option selected="selected">เลือกธนาคารที่โอน</option>
							<option value="1">ธนาคารไทยพาณิชย์</option>
							<option value="2">ธนาคารกสิกรไทย</option>
							<option value="3">ธนาคารกรุงเทพ</option>
							<option value="4">ธนาคารกรุงศรี</option>
							<option value="5">ธนาคารทหารไทย</option>
							<option value="6">ธนาคารกรุงไทย</option>
					      </select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label">วันที่โอน</label>
					    <div class="col-sm-6">
					      <input type="text" name="transfer_date" id="transfer_date" class="form-control" value="" required >
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="" class="col-sm-3 control-label">เวลาที่โอน</label>
					    <div class="col-sm-3">
					      <select class="form-control" name="hours" id="hours-selector" required>
						<option value="hours" disabled="">Hour</option>
						{% for i in 'xxxxxxxxxxxxxxxxxxxxxxxx' %}
						<option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
						{% endfor %}
					      </select>
					    </div>
					    <div class="col-sm-3">
					      <select class="form-control" name="minutes" id="minutes-selector" required>
						<option value="minutes" disabled="">Min</option>
						{% for i in 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %}
						<option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
						{% endfor %}
					      </select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="" class="col-sm-3 control-label">ยอดเงินโอน : </label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" name="amount" placeholder="จำนวนเงินที่โอน" required>
					    </div>
					    <div class="col-sm-3">
					      <p class="form-control-static">บาท</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="" class="col-sm-3 control-label">ใบยืนยันการจ่ายเงิน : </label>
					    <div class="col-sm-9">
					      <input type="file" class="btn btn-grey" name="bank_transfer_file" id="slip-file" required>
					      <p class="help-block">* ขนาดไฟล์ไม่เกิน 2 MB</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="" class="col-sm-3 control-label">เบอร์ติดต่อ : </label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="tel" placeholder="เบอร์โทรศัพท์" required>
					    </div>
					  </div>
					  <!--/form-->
					  <p class="text-center">
					    <!-- button class="btn btn-blue" type="button" data-target="#confirm_success" data-toggle="modal">ยืนยันการโอนเงิน</button-->
					    <button class="btn btn-blue" type="submit" id="confirm-bank-transfer-button">ยืนยันการโอนเงิน</button>
					    <button class="btn btn-grey" type="button" class="close" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
					  </p>
					</form>

				</div>
				<div class="modal-footer">
					<p class="small text-left">
						สอบถามข้อมูลเพิ่มเติม โทร: 02-9620079, 081-3576958 Fax: 02-5844819, Email : <a href="{% url 'contact' %}" class="link">infoclick@clickforclever.com</a><br>
					</p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
