{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-itunes-app" content="app-id=926227690">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="แอปพลิเคชันการศึกษาสำหรับการเพิ่มศักยภาพในการเรียนรู้ของน้องๆนักเรียนระดับมัธยมศึกษา เพื่อเตรียมความพร้อมในการเข้าสู่รั้วมหาวิทยาลัยอย่างมั่นใจ" />
    <meta name="keywords" content="AIS,Education,Scan future,Course" />
    <meta name="author" content="Advance Info Service PLC." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://www.aisuacademy.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AIS U Academy" />
    <meta property="og:description" content="แอปพลิเคชันการศึกษาสำหรับการเพิ่มศักยภาพในการเรียนรู้ของน้องๆนักเรียนระดับมัธยมศึกษา เพื่อเตรียมความพร้อมในการเข้าสู่รั้วมหาวิทยาลัยอย่างมั่นใจ" />
    <meta property="og:url" content="http://www.aisuacademy.com/" />
    <meta property="og:site_name" content="AIS U Academy" />
    <meta property="og:image" content="{% static "landing/image/icons/fb-share.png" %}" />
    <link rel="image_src" type="image/jpeg"  href="{% static "landing/image/icons/fb-share.png" %}" />
    <meta property="og:image" content="{% static "landing/image/icons/fb-share.png" %}" />

    <link rel="shortcut icon" href="{% static "landing/image/icons/favicon-bg.ico" %}">
    <link rel="apple-touch-icon" href="{% static "landing/image/icons/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "landing/image/icons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "landing/image/icons/apple-touch-icon-114x114.png" %}">

    <title>AIS U Academy</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "landing/css/global.css" %}" rel="stylesheet">
    <link href="{% static "landing/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    
    <link href="{% static "landing/css/one-page-wonder.css" %}" rel="stylesheet">
    <link href="{% static "landing/css/home.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
        color: #fff;
        background-color: #B7C634;
    }
    </style>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top header-custom" role="navigation" style="display:none;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="fb-root"></div>
            <div class="navbar-header pull-left" style="display: none;">
                <a class="navbar-brand" href="#"><img src="{% static "landing/image/logo.png" %}" alt="Ais" height="20px"></a>
                <a class="navbar-brand logo-word" href="#"><img src="{% static "landing/image/logo_word.png" %}" alt="Ais" height="24px"></a>
            </div>

            <ul class="nav nav-pills pull-right" style="margin-top:13px">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="{% static "landing/image/logo_ais_word.png" %}" alt="AIS U Academy" height="35px" style="margin-top:-5px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img style="height: 36px; margin-top: -7px; margin-right:10px;" src="http://www.ais.co.th/uacademy/img/logo_ais_word.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a data-target="about" href="#about">About</a></li>
            <li><a data-target="sec1" href="#sec1">Online courses</a></li>
            <li><a data-target="sec2" href="#sec2">Practices</a></li>
            <li><a data-target="sec3" href="#sec3">Library</a></li>
            <li><a data-target="sec4" href="#sec4">Scan Future</a></li>
            <li><a data-target="sec5" href="#sec5">Scan result</a></li>
          </ul>
            <ul id="social-share" class="nav nav-pills pull-right" style="margin-top:13px">
            <table >
                <tbody>
                    <tr>
                        <td>
                            <div class="phone-hidden">
                                 <div  style="margin-top:-5px; margin-right:10px;" class="fb-like" data-href="https://aisuacademy.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                            </div>
                        </td>
                        <td style="padding-top:2px; ">
                            <div class="phone-hidden">
                            <a width="77px" style="maring-top:10px; maring-right:-20px; width:77px !important;"  href="https://twitter.com/share" class="twitter-share-button" data-url="https://aisuacademy.com" data-text="AIS U Academy | แอปเพื่อการเรียนรู้อย่างไร้ขีดจำกัด" data-via="aisuacademy" data-count="horizontal "  data-size="medium">Tweet</a>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            </ul>
        </div>
      </div>
    </nav> 

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="fb-root"></div>
            <div class="navbar-header pull-left" style="display: none;">
                <a class="navbar-brand" href="#"><img src="{% static "landing/image/logo.png" %}" alt="Ais" height="20px"></a>
                <a class="navbar-brand logo-word" href="#"><img src="{% static "landing/image/logo_word.png" %}" alt="Ais" height="24px"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <section id="home">
        <div class="headline">
            <div class="container">
                <div class="Bg-FullScreen">
                        <div class="container" id="contentWeb-paddingTOp">
                            <div class="Web-Detail-Width1024" style="display: table !important">
                                <div id="Text-Top-Banner" style="display: table-cell !important">
                                    <p id="blogo">
                                        <img class="image-right" src="{% static "landing/image/header_left_no_button.png" %}" style="width: 80%" alt="Catagoly Banner">
                                    </p>
                                    <div class="Width100percen" style="float: right;">
                                        <div width="100%" class="download text-center">
                                            {% comment %}
                                            <a><img class="or" style="margin-left:-20px;" src="{% static "landing/image/or.png" %}" ></a>
                                            {% endcomment %}
                                            <a target="_blank" href="https://itunes.apple.com/app/ais-u-academy/id926227690?mt=8&ign-mpt=uo%3D2"><img class="appstore" src="{% static "landing/image/appstore.png" %}" ></a>
                                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ais.education"><img class="playstore" src="{% static "landing/image/googleplay.png" %}" ></a>
                                        </div>
                               
                                    </div>
                                </div>
                                <div id="Img-Top-Banner" s>
                                    <img src="{% static "landing/image/header_right.png" %}" alt="Catagoly Banner" class="MyImgRespomesive" >
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <span id="home-footer"></span>
     </section>
    </header>

    <!-- Page Content -->
    <div class="container">

        <section id="about">
        <!-- <hr class="featurette-divider"> -->
        <div class="row key-message" style="margin-top:20px;" >
            <h2 class="text-center about-heading font-shadow">AIS U Academy แอปเพื่อการเรียนรู้อย่างไร้ขีดจำกัด!</h2>
            <p class="lead text-center">แอปพลิเคชันการศึกษาสำหรับการเพิ่มศักยภาพในการเรียนรู้ของน้องๆนักเรียนระดับมัธยมศึกษา<br>เพื่อการเตรียมความพร้อมในการเข้าสู่รั้วมหาวิทยาลัยอย่างมั่นใจ
            </p>
        </div>

        <div class="row feature">
            <div class="col-sm-4">
                <img class="img-rounded img-responsive img-center" src="{% static "landing/image/about-a.png" %}" alt="">
                <!-- <h2 class="text-center about-head">Online Courses</h2>
                <h2 class="text-center about-sub-head">Online Courses</h2> -->
                <p class="text-center about-detail">เรียนออนไลน์วิชาต่างๆ ผ่านแอปพลิเคชั่นด้วยระบบ VDO Streaming กับติวเตอร์ชื่อดังที่ทุกคนชื่นชอบ ได้ทุกที่ ทุกเวลา</p>
            </div>
            <div class="col-sm-4">
                <img class="img-rounded img-responsive img-center" src="{% static "landing/image/about-b.png" %}" alt="">
                <!-- <h2 class="text-center about-head">Practices</h2>
                <h2 class="text-center about-sub-head">Online Courses</h2> -->
                <p class="text-center about-detail">ข้อสอบ Admission 7 วิชาสามัญ แบบ Interactive พร้อมผลคะแนนและเฉลย เพื่อสามารถฝึกทำและเพิ่มความมั่นใจก่อนสอบจริง</p>
            </div>
            <div class="col-sm-4">
                <img class="img-rounded img-responsive img-center" src="{% static "landing/image/about-c.png" %}" alt="">
                <!-- <h2 class="text-center about-head">Scan Future</h2>
                <h2 class="text-center about-sub-head">Online Courses</h2> -->
                <p class="text-center about-detail">แบบทดสอบบุคลิกภาพง่ายๆ สำหรับน้องๆนักเรียน เพื่อจะรู้ว่าควรเลือกเรียนคณะอะไรดี ที่เหมาะกับความเป็นตัวเองมากที่สุด</p>
            </div>
        </div>
        <span id="about-footer"></span>
        </section>

        <hr class="featurette-divider">

        <section id="sec1">
            <div class="featurette" id="contact">
                <img class="featurette-image  img-responsive pull-right" src="{% static "landing/image/1.png" %}" width="490px;">
                <h2 class="featurette-heading green font-shadow special-space-top">Online Courses</h2>
                <h2 class="green font-shadow subtitle">ติวเพิ่มความมั่นใจ ทุกที่ ทุกเวลา</h2>
                <p class="lead">ติวเข้มวิชาคณิตศาสตร์ ฟิสิกส์ เคมี ชีววิทยา ภาษาอังกฤษ ฯลฯ <br> เพื่อเพิ่มความมั่นใจก่อนสอบ Admission กับติวเตอร์ชื่อดังที่น้องๆ<br>นักเรียนชื่นชอบ ผ่านแอปพลิเคชั่น Android OS และ iOS พร้อมด้วย<br>ระบบ VDO Streaming ที่สามารถเรียนได้ทุกที่ ทุกเวลา</p>
            </div>
            <span id="sec1-footer"></span>
        </sction>
        <hr class="featurette-divider">
        <section id="sec2">
        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image  img-responsive pull-left" width="480px" src="{% static "landing/image/5.png" %}">
            <h2 class="featurette-heading orange font-shadow space-top special-space-top" >ข้อสอบ Admission</h2>
            <h2 class="orange font-shadow subtitle">เพื่อเพิ่มความมั่นใจก่อนสอบจริง</h2>
            <p class="lead">ชุดข้อสอบ Admission ทั้ง 7 วิชาสามัญ และข้อสอบ GAT/PAT <br>ในรูปแบบ Interactive Practices พร้อมผลคะแนนและคำเฉลย <br>เพื่อให้น้องๆนักเรียนสามารถฝึกทำข้อสอบและเพิ่มความมั่นใจ<br>ก่อนเข้าสู่สนามสอบจริง
            </p>
        </div>
        <span id="sec2-footer"></span>
        </section>
        
        <hr class="featurette-divider">
        <section id="sec3">
        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image  img-responsive pull-right" src="{% static "landing/image/6.png" %}" width="500px;">
            <h2 class="featurette-heading violet  font-shadow special-space-top">Library ส่วนตัว</h2>
            <h2 class="violet font-shadow subtitle">เก็บคอร์สเรียนและข้อสอบต่างๆ</h2>
            <p class="lead">สร้าง Library ส่วนตัว เพื่อจัดเก็บคอร์สเรียนวิชาต่างๆที่ได้เรียนเอาไว้ <br> ซึ่งสามารถกลับมาทบทวนได้อีกครั้ง และยังจัดเก็บข้อสอบ/แบบฝึกหัด <br>โดยจะมีผลคะแนนและคำเฉลยสำหรับข้อสอบที่ทำไว้เสร็จแล้วอีกด้วย</p>
        </div>
        <span id="sec3-footer"></span>
        </section>
        <hr class="featurette-divider">
         <!-- Forth Featurette -->
        <section id="sec4">
        <div class="featurette" id="services">
            <img class="featurette-image  img-responsive pull-left" width="550px" src="{% static "landing/image/2.png" %}">
            <h2 class="featurette-heading blue  font-shadow ">Scan Future</h2>
            <h2 class="blue font-shadow subtitle">สแกนตัวตนค้นหาอนาคต</h2>
            </h2>
            <p class="lead">มาถอดรหัสความถนัดกับ แบบทดสอบ Scan Future! กันเถอะ <br>เพียงตอบคำถามที่ตรงกับความเป็นตัวเรามากที่สุด แล้วก็จะได้รู้ว่า ควรเรียนคณะอะไรดี! <br>
            <p style="font-size:20px; padding-top:20px;"> โดยอ้างอิงทฤษฎีจำแนกอาชีพตามบุคลิกของ “จอห์น แอล ฮอลแลนด์ (John L. Holland)” นักจิตวิทยา ประเทศสหรัฐอเมริกา</p>
            </p>
        </div>
        <span id="sec4-footer"></span>
        </section>
        <hr class="featurette-divider">
        <!-- Fifty Featurette -->
        <section id="sec5">
        <div class="featurette" id="contact">
            <img class="featurette-image  img-responsive pull-right" src="{% static "landing/image/3.png" %}" width="550px;">
            <h2 class="featurette-heading pink font-shadow special-space-top">แสดงผลการทดสอบ<br>แนะนำคณะที่เหมาะ
            </h2>
            <p class="lead">หลังจากตอบคำถามทั้งหมดเสร็จเรียบร้อยแล้วระบบจะแสดงผลลัพธ์<br>ว่าน้องมีบุคลิกภาพแบบใดเหมาะกับอาชีพอะไร พร้อมแนะนำคณะต่างๆ <br> ที่เหมาะสม,รายละเอียด และแนะนำมหาวิทยาลัยที่เปิดสอนอีกด้วยนะ</p>
        </div>
        <span id="sec5-footer"></span>
        </section>

    </div>
    <div style="width:100%; background-color: black; margin-top:50px">
        <center>
            <div class="contact col-lg-12 contact-footer" >
                <div class="contact-logo" style="margin-top:10px;">
                    <img style="margin-left:-20px;" src="{% static "landing/image/logo_ais.png" %}" height="27px">
                    <img src="{% static "landing/image/logo_click.png" %}" height="27px">
                    <img src="{% static "landing/image/logo_clickforclever.png" %}" height="30px">
                </div>
                <div style="margin-top:10px;">
                    <p class="text-center">Copyright &copy; AIS U Academy 2014</p>
                    <p class="text-center">All rights reserved. Advance Info Service PLC.</p>
                </div>
                
                <div style="display:none;">
                    <script type="text/javascript"> __th_page="ais";</script>
                    <script type="text/javascript" src="http://hits.truehits.in.th/data/s0029135.js"></script>
                </div>
            </div>
        </center>
    </div>
    
    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "landing/js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "landing/js/bootstrap.min.js" %}"></script>
    <script src="{% static "landing/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "landing/js/jquery.localScroll.min.js" %}"></script>
    <script src="{% static "landing/js/waypoints.min.js" %}"></script>
    <script src="{% static "landing/js/landing.js" %}"></script>

    <div id="fb-root"></div>
    
<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=709526865802607&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54750956-3', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Google Tag Manager -->

    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TC3PWS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TC3PWS');</script>
    <!-- End Google Tag Manager -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</body>

</html>
