{% load humanize %}
  <a href="{{ inbox.url }}">
    <div class="notification-item {% if is_read == True %}read{% endif %}" data="{{ inbox.id }}" web="{{ is_read_web }}">
    <div class="notification-icon"><i class="fa fa-envelope{% if is_read == True %}-open{% endif %}"></i></div>
    <h4 class="main-color clear-pad bold">{{ inbox.title }}</h4>
    <small class="text-muted">By System</small>
    <div class="notification-time"><i>{{ inbox.datetime_send|naturaltime }}</i></div>
    {% if inbox.body %}
    <p class="top-margin-little notification-body">{{ inbox.body }}</p>
    {% endif %}
    </div>
  </a>
