{% load humanize %}
{% autoescape on %}
<li class="noti-message" onmouseover="readnoti({{ inbox.id }},'{{ is_read_web }}')">
    <a href="{{ inbox.url }}">
        <span class="notification-heading">{{inbox.title}}</span>
        <span class="sender text-muted">By System</span>
        <span class="time-sent text-muted">{{inbox.datetime_send|naturaltime}}</span>
    </a>
</li>
{% endautoescape %}
