{% extends "main/header.html" %}
{% load staticfiles %}
{% url 'home' as home_url %}
{% block header-logo %}
<a href="#side-menu" class="main-color toggle-side-menu"><i class="fa fa-bars"></i></a>
<a href="{{ home_url }}">
  <img src="{% static logo_path|default:"unilever/images/customize/logo.png" %}" />
</a>
{% endblock %}
{% block header-menu %}
  {% if not user.is_authenticated %}
    <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i>Login</a></li>
  {% endif %}
  {% if user.is_authenticated %}
    <li>
      <div class="user-info ">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="user-avatar">
              {% if user.image %}
              <img src="{{ user.image.url }}">
              {% else %}
              <img src="{% static 'images/profile_default.jpg' %}">
              {% endif %}
            </div>
            <div class="hide-sm user-name black">
              {{ user.get_display|truncatechars:25 }}
            </div>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profile' %}">My Library</a></li>
            <li><a href="{% url 'order:home' %}">Cart</a></li>
            <!-- <li><a href="{% url 'order:history' %}">Order History</a></li> -->
            <li><a href="{% url 'account:logout' %}">Logout</a></li>
          </ul>
        </div>
      </div>
    </li>
  {% endif %}
    <li class="hide-sm"><a href="#" target="_blank"><span class="black"></span></a></li>
    <li class="hide-sm">
      <form action="{% url 'search' %}" method="GET">
        <input name="q" type="search" placeholder="Search" class="header-search">
      </form>
    </li>
{% endblock %}

{% block secondary-header-menu %}
{% include "main/header_menu.html" %}
{% endblock %}
