{% load staticfiles %}
<nav id="side-menu" class="side-menu-pattern-2">
    <ul>
        {% if user.is_authenticated %}
        <li class="text-center user-info">
            <a href="/profile/edit">
      	        <div class="user-avatar">
      	            {% if user.image %}
      	            <img src="{{ user.image.url }}">
      	            {% else %}
      	            <img src="{% static 'images/profile_default.jpg' %}">
      	            {% endif %}
      	        </div>
      	        <h4>{{user.first_name}} {{user.last_name}}</h4>
            </a>
        </li>

        <li class="menu-square">
            <a href="{% url 'profile' %}">
                <i class="fa fa-paint-brush fa-lg bottom-pad-10"></i>
                <br/> ห้องสมุดของฉัน
            </a>
            <a href="{% url 'inbox:home' %}">
                <i class="fa fa-bell fa-lg bottom-pad-10"></i>
                <br/> การแจ้งเตือน
                {% if INBOX_COUNT > 0 %}<span class="badge">3</span>{% endif %}
            </a>
        </li>
        {% endif %}

        <li><a href="{% url 'home' %}" class="selected"><strong>หน้าแรก</strong></a></li>

        <li>
            <a href="#"><strong>คอร์สอบรม <i class="fa fa-caret-right"></i></strong></a>
            <ul>
                <li><a href="{% url 'roadmap' %}"><strong>เส้นทางสู่ความสำเร็จ</strong></a></li>
                <li><a href="{% url 'category:detail' 'business_training' %}"><strong>คอร์สอบรมธุรกิจ</strong></a></li>
                <li><a href="{% url 'category:detail' 'product_training' %}"><strong>คอร์สอบรมผลิตภัณฑ์</strong></a></li>
                <li><a href="{% url 'category:detail' 'allaboutproduct' %}"><strong>All about product</strong></a></li>
            </ul>
        </li>


        <li><a href="{% url 'live:home' %}"><strong>ถ่ายทอดสด</strong></a></li>

        <li>
            <a href="#"><strong>แรงบันดาลใจ <i class="fa fa-caret-right"></i></strong></a>
            <ul>
                <li><a href="{% url 'category:detail' 'openmind' %}"><strong>เปิดใจ</strong></a></li>
                <li><a href="{% url 'category:detail' 'successstory' %}"><strong>ต้นแบบความสำเร็จ</strong></a></li>
            </ul>
        </li>
        <li><a href="{% url 'lesson:category_detail' 'contentlibrary' %}"><strong>ห้องสมุดความรู้</strong></a></li>
        <li><a href="{% url 'lesson:category_detail' 'tutorial' %}"><strong>เรียนรู้เบื้องต้น</strong></a></li>

        {% if not user.is_authenticated %}
        <li><a href="#" target="_blank"><strong>ติดต่อเรา</strong></a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="icon icon-lock"></i>เข้าสู่ระบบ</a></li>
        {% endif %}
    </ul>
</nav>
