{% extends "main/header_menu.html" %}
{% load staticfiles %}


{% block main-menu %}
<li>
	<a href="{% url 'home' %}" class="{% if ROOT_PAGE == 'home' %}selected{% endif %}">
		<strong>หน้าแรก</strong>
	</a>
</li>
<li>
	<a href="#" class="dropdown-toggle {% if ROOT_PAGE == 'roadmap' or ROOT_PAGE == 'business_training' or ROOT_PAGE == 'product_training' or ROOT_PAGE == 'allaboutproduct' %}selected{% endif %}" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
		<strong>คอร์สอบรม</strong>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<li><a href="{% url 'roadmap' %}">เส้นทางสู่ความสำเร็จ</a></li>
		<li><a href="{% url 'category:detail' 'business_training' %}">คอร์สอบรมธุรกิจ</a></li>
		<li><a href="{% url 'category:detail' 'product_training' %}">คอร์สอบรมผลิตภัณฑ์</a></li>
		<li><a href="{% url 'category:detail' 'allaboutproduct' %}">ความรู้ผลิตภัณฑ์</a></li>
	</ul>
</li>

<li>
	<a href="{% url 'live:home' %}" class="{% if ROOT_PAGE == 'live' %}selected{% endif %}">
		<strong>ถ่ายทอดสด</strong>
	</a>
</li>
<li>
	<a href="#" class="dropdown-toggle {% if ROOT_PAGE == 'openmind' or ROOT_PAGE == 'successstory' %}selected{% endif %}" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
		<strong>แรงบันดาลใจ</strong>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<li><a href="{% url 'category:detail' 'openmind' %}">เปิดใจ</a></li>
		<li><a href="{% url 'category:detail' 'successstory' %}">ความสำเร็จ</a></li>
	</ul>
</li>
{% comment %}
<li>
	<a href="{% url 'lesson:category_detail' 'contentlibrary' %}" class="{% if ROOT_PAGE == 'contentlibrary' %}selected{% endif %}">
		<strong>ห้องสมุดความรู้</strong>
	</a>
</li>
{% endcomment %}
<li>
	<a href="{% url 'lesson:category_detail' 'tutorial' %}" class="{% if ROOT_PAGE == 'tutorial' %}selected{% endif %}">
		<strong>เรียนรู้เบื้องต้น</strong>
	</a>
</li>
{% endblock %}
