{% load staticfiles %}
{% if is_provider  %}
<li><a href="{% url 'home' %}"><i class="main-color fa fa-arrow-left"></i> Back to Homepage</a></li>
<li class="text-center">
  <a href="{% url 'provider:detail' provider.id %}" class="browse-menu-logo vertical-middle clear-pad">
    {% if provider.image %}
    <img src="{{ provider.image.url }}" class="full-width" />
    {% else %}
    <img src="{% static 'cimb/images/customize/logo-square.png' %}" class="full-width" />
    {% endif %}
    <strong>{{ provider.name }}</strong>
  </a>
</li>
<li {% if ROOT_PAGE == 'provider_detail' %}class="active"{% endif %}><a href="{% url 'provider:detail' provider.id %}"><img src="{% static 'images/icons/menu-black/learningCenter.png' %}" class="img-menu-icon"/> {{ provider.name }}</a></li>
<li {% if ROOT_PAGE == 'provider_program' %}class="active"{% endif %}><a href="{% url 'provider:program' provider.id %}"><img src="{% static 'images/icons/menu-black/program.png' %}" class="img-menu-icon"/> Programs</a></li>
<li {% if ROOT_PAGE == 'provider_course' %}class="active"{% endif %} >
  <a href="{% url 'provider:course' provider.id %}"><img src="{% static 'images/icons/menu-black/course.png' %}" class="img-menu-icon"/> Courses</a>
  <ul class="unstyle">
    {% for item in course_menu_subject %}
    <li><a href="{% url 'provider:course' provider.id %}?category={{ item.subject.id }}">{{ item.subject.name }}</a></li>
    {% endfor %}
  </ul>
</li>
<li {% if ROOT_PAGE == 'provider_tutor' %}class="active"{% endif %}><a href="{% url 'provider:tutor' provider.id %}"><img src="{% static 'images/icons/menu-black/instructors.png' %}" class="img-menu-icon"/> Instructors</a></li>
<!-- <li {% if ROOT_PAGE == 'provider_about' %}class="active"{% endif %}><a href="{% url 'provider:about' provider.id %}"><img src="{% static 'images/icons/menu-black/about.png' %}" class="img-menu-icon"/> About</a></li> -->
{% else %}
<li class="{% if ROOT_PAGE == 'home' %}active{% endif %} margin-20-0"><a href="{% url 'home' %}"><img src="{% static 'images/icons/menu-black/home.png' %}" class="img-menu-icon"/> Home</a></li>
{% if user.is_authenticated %}
<li class="{% if ROOT_PAGE == 'profile' %}active{% endif %}"><a href="{% url 'profile' %}"><img src="{% static 'images/icons/menu-black/myLibrary.png' %}" class="img-menu-icon"/> My Library</a></li>
{% if IS_ONBOARD_ACTIVE %}
<li class="{% if ROOT_PAGE == 'onboard' %}active{% endif %}"><a href="{% url 'program:onboard' %}"><img src="{% static 'images/icons/menu-black/myOnboard.png' %}" class="img-menu-icon"/> My Onboard</a></li>
{% endif %}
{% comment %}
<li class="{% if ROOT_PAGE == 'admin' %}active{% endif %}"><a href="{% url 'profile_info' %}">My Admin</a></li>
{% endcomment %}
{% endif %}
<li class="{% if ROOT_PAGE == 'program' %}active{% endif %}"><a href="{% url 'program:home' %}"><img src="{% static 'images/icons/menu-black/program.png' %}" class="img-menu-icon"/> All Programs</a></li>
<li class="{% if ROOT_PAGE == 'course' %}active{% endif %}"><a href="{% url 'course:home' %}"><img src="{% static 'images/icons/menu-black/course.png' %}" class="img-menu-icon"/> All Courses</a></li>
<li class="hidden-some-menu relative {% if ROOT_PAGE == 'subject' %}active{% endif %}">
  <a href="{% url 'category:home' %}"><img src="{% static 'images/icons/menu-black/category.png' %}" class="img-menu-icon"/> Categories</a>
  {% if HEADER_COURSE_CATEGORY|length > 0 %}<i class="fa fa-plus btn-show-all"></i>{% endif %}
  <i class="fa fa-minus btn-hide"></i>
  <ul class="unstyle">
    {% for category_item in HEADER_COURSE_CATEGORY %}
    <li {% if ROOT_PAGE == category_item.id %}class="active"{% endif %}><a href="{% url 'category:detail' category_item.id %}" title="{{ category_item.name }}"> {{ category_item.name }}</a></li>
    {% endfor %}
    <a href="#" class="btn-show-all"><span>Show All</span></a>
  </ul>
</li>
<li class="hidden-some-menu relative {% if ROOT_PAGE == 'provider' %}active{% endif %}">
  <a href="{% url 'provider:home' %}"><img src="{% static 'images/icons/menu-black/learningCenter.png' %}" class="img-menu-icon"/> Learning Centers</a>
  {% if HEADER_PROVIDER|length > 0 %}<i class="fa fa-plus btn-show-all"></i>{% endif %}
  <i class="fa fa-minus btn-hide"></i>
  <ul class="unstyle">
    {% for provider in HEADER_PROVIDER %}
    <li><a href="{% url 'provider:detail' provider.id %}" title="{{ provider.name }}">{{ provider.name }}</a></li>
    {% endfor %}
    <a href="#" class="btn-show-all"><span>Show All</span></a>
  </ul>
</li>
<li class="{% if ROOT_PAGE == 'tutor' %}active{% endif %}"><a href="{% url 'tutor:home' %}"><img src="{% static 'images/icons/menu-black/instructors.png' %}" class="img-menu-icon"/> Instructors</a></li>
<li class="{% if ROOT_PAGE == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}"><img src="{% static 'images/icons/menu-black/mail.png' %}" class="img-menu-icon"/> Contact</a></li>
<!-- <li class="{% if ROOT_PAGE == 'about' %}active{% endif %}"><a href="{% url 'about' %}"><img src="{% static 'images/icons/menu-black/about.png' %}" class="img-menu-icon"/> About</a></li> -->
<li class="{% if ROOT_PAGE == 'term' %}active{% endif %}"><a href="{% url 'term' %}"><img src="{% static 'images/icons/menu-black/term.png' %}" class="img-menu-icon"/> Terms of Service</a></li>
{% if user.is_authenticated %}
<li><a href="{% url 'account:logout' %}"><img src="{% static 'images/icons/menu-black/logout.png' %}" class="img-menu-icon"/> Logout</a></li>
{% else %}
<li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="main-color fa fa-sign-in"></i> Log In</a></li>
{% endif %}
{% endif %}
<script>
  $(function(){
  $('.hidden-some-menu').each(function(){
  /*if($(this).find('ul li').size()<=4){
    $(this).find('.btn-show-all').hide();
    }*/
  });
  });
</script>
